.global-style{
  position: fixed;
  z-index: 10000;
  top: 100px;
  color: red;
}

.global-div-relative{
  position: relative;
  bottom: 0;
  width: 100%;
  z-index: 999;
}

.global-div-fixed{
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 999;
}

.global-div-absolute{
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 999;
}

.global-empty-div{
  position: relative;
  height: px2rem(80);
}

