@import "rankingList.scss";
@import "refresher.scss";
@import "weui.min.scss";
@import "GHGuider.scss";

//Cover封页样式

  //刷新按钮
  //.refresh {
  //  @extend #backButton;
  //  display: block!important;
  //  top: 10%;
  //}

  //课程简介标题
  .course-title-container {
    position: absolute;
    top: 6%;
    left: 6%;
    width: px2rem(652);
    height: px2rem(162);
  }
  .course-title2 {
    margin-top: 2rem;
    margin-left: 1rem;
    width: px2rem(530);
    height: px2rem(28);
  }

  //按钮容器
  .button-container {
    position: absolute;
    bottom: 15%;
    width: 100%;

    //分享提示
    .share-hint {
      margin: 0 auto 1rem;
      text-align: center;
      width: 80%;
    }

    .price {
      font-size: 1.2rem;
      color: #fff!important;
    }
    //原价
    .original-price {
      margin-left: .3rem;

      text-decoration: line-through;
    }

    //分享提示文本
    .share-text {
      background-color: rgba(64,176,240,.9);
      border-radius: 3px;
      padding: 0.4rem;
      line-height: 1.5;
      color: #fff;
      margin-top: 0.4rem;
      font-size: .8rem;
    }

    //排行榜按钮
    .rank-button {
      position: relative;
      background-color: #40b0f0;
      border-radius: 3px;
      padding: 0.4rem;
      line-height: 1.5;
      color: #fff;
      margin-top: 0.4rem;
      font-size: .8rem;
    }

      //按键提问按钮
    .ask {
      display: block;
      width: 90%;
      margin: 0 5%;
      text-align: center;

      background: #04BE02;
      color: #fff;
      height: 2.2rem;
      line-height: 2.2rem;
      border-radius: 3px;
      font-size: .95rem;
    }
  }




  //跟随者人数数量
  .follower {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: .9rem;
    background: rgba(0,0,0,0.8);
    line-height: 2.1;
    //padding: 2%;
  }

  #followerCounter, #revenue {
    font-size: 1rem;
  }


