

//new paypage
.pay_page {
  text-align: center;
  .fund-join-bg {
    background-size: cover;
    position: fixed;
    z-index: -999;
  }
  .fund-join-page {
    width: 100%;
    height: 100%;
    font-size: 0;
  }
  .fund-join-title {
    height: 100%;
    width: 100%;
    margin-top: .5rem;
  }
  .fund-join-content-box {
    width: 16.95rem;
    position: relative;
    margin: 0 auto;
  }
  .fund-join-content {
    width: px2rem(339);
    margin-top: .5rem;
    border-radius: 4px 4px 0 0;
  }
  .fund-status{
    position: absolute;
    bottom: 0;// 中间有条线
    width: px2rem(339);
    margin: 0 auto;
    background: #5AB1CF;
    font-size: .7rem;
    line-height: 2rem;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    color: #fff;
  }
  .fund-status-time{
    width: 65%;
    display: inline-block;
    text-align: left;
    padding-left: 1rem;
  }

  .fund-status-number{
    width: 35%;
    display: inline-block;
    text-align: right;
    padding-right: 1rem;
  }

  .fund-join-btns{
    position: relative;
    bottom: 0;
    width: 16.95rem;
    margin: .5rem auto 0;
    font-size: .8rem;
    height: 3.3rem;
    padding-bottom: .5rem;
    .btn{
      display: inline-block;
      background: #fff;
      border-radius: 4px;
      box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    }
    .try{
      position: absolute;
      left: 0;
      width: 6rem;
      margin-right: .5rem;
      line-height: 2.8rem;
    }
    .join{
      position: absolute;
      right: 0;
      width: 10rem;
    }
    .price-span-left{
      display: inline-block;
      width: 30%;
      vertical-align: middle;
    }
    .price-span-right{
      display: inline-block;
      width: 50%;
      vertical-align: middle;
      .price-span-inner{
        display: inline-block;
        color: #575757;
        line-height: 1.4rem;
      }
      .origin-price{
        opacity: 0.5;
      }
      .current-price{

      }
    }
  }
}