//打赏界面样式
.reward {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background-size: cover;

  a {
    display: block;
  }

  .selected {
    background: #d65947!important;
    color: #fff!important;
  }

  .amount {
    text-align: center;
    border: 2px solid #d65947;
    border-radius: 6px;
    height: 3rem;
    line-height: 3rem;
    color: #d65947;
    font-size: 0.9rem
  }

  .default-amount {
    position: absolute;
    top: 50%;
    left: 10%;
    width: 80%;
  }

  .text {
    position: absolute;
    top: 65%;
    left: 10%;
    color: #000
  }

  .reward-container {
    display: flex;
    position: absolute;
    flex-direction: row;
    width: 80%;
    height: 3rem;
    top: 70%;
    left: 10%;
  }
  .reward-container>a {
    width: 31%;
  }

  .number {
    font-size: 1.5rem;
    margin-right: .3rem;
  }

  .amount2 {
    margin: 0 3.5%;
  }
}