.icon {
    width: 30rpx;
    height: 30rpx;
    vertical-align: middle;
    margin: 0 5px;
}

.icon-arrow_right {
    background: url(arrow-right.svg);
    background-size: 100% 100%;
}

.icon-arrow_down {
    background: url(arrow-down.svg);
    background-size: 100% 100%;
}

.icon_users {
    background: url(users.png);
    background-size: 100% 100%;
}

.icon_phone_lar {
    background: url(phone_lar.png);
    background-size: 100% 100%;
}

.icon_list {
    background: url(list.png);
    background-size: 100% 100%;
}

.icon_photos {
    background: url(photos.png);
    background-size: 100% 100%;
}

.triangle_under {
    width: 0px;
    height: 0px;
    border-color: #888888;
    border-top: 20rpx solid;
    border-right: 13rpx solid transparent;
    border-left: 13rpx solid transparent;
    /*border-bottom: 1rpx solid transparent;*/
}

.triangle_under_choose {
    border-top: 0;
    border-bottom: 20rpx solid #b2b2b2;
    /*transform: rotate(180deg);
    -webkit-transform: rotate(180deg);*/
}