// 公共方法
@mixin clearfix() {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin line_clamp($lines) {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $lines;
}

@mixin text_ellips() {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

// 封面遮罩层
@mixin view_cover($background) {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: $background;
    color: #fff;
}

//渐变色
@mixin gradient($from, $to) {
    background: gradient(linear, 0 0, 0 bottom, from($from), to($to));
    /* Safari 4-5, Chrome 1-9 */
    background: -webkit-gradient(linear, 0 0, 0 bottom, from($from), to($to));
    /* Safari 5.1+, Chrome 10+ */
    background: -webkit-linear-gradient(linear, 0 0, 0 bottom, from($from), to($to))
}

// 字体 变量
$font_min: 12px;
$font_mid:14px;
$font_lar:18pt;
//颜色 变量
$font_desc_h:#333333;
$font_desc:#ccc;
$font_init_color:#231815;
$nav_color:#ff7800;
$navline:#2f6ed5;
$page_color:#f7f7f7;
$base_color:#fff;
$border-color:#ddd;
$test_color:#999; //测试 -可删
page {
    // line-height: 1.6;
    // background: $page_color;
    font-family: -apple-system-font, "Helvetica Neue", sans-serif;
}

.col_b2 {
    color: #b2b2b2;
}

.col_35 {
    color: #353535;
}