body, table, tr, td
{
    margin: 0;
    font-size: 12px;
}
textarea,input,select
{
	font-size: 12px; color: #000000; font-weight: normal;
	border-top-width : 1px; border-right-width : 1px;
	border-bottom-width : 1px; border-left-width : 1px;
}

#header
{
    width: 100%;
    height: auto;
    text-align: center;
    padding-top: 10px;
}
#wrap
{
    width: 100%;
    height: auto;
}
#column1
{
    width: 200px;
    left: 1em;
    position: absolute;
}
#column2
{
    margin-left: 23em;
    margin-right: 1em;
}
/*Õ¾µãµÄÍ·*/
#header
{
    border-top: 3px solid #B3B3FD;
    border-bottom: 1px dotted #B3B3FD;
    height: 3em;
    margin-bottom : 1em;
}
#header .Title
{
    font: 190% normal;
    color: #0303AB;
    background-color: transparent;
    float: left;
    font-weight: bold;
    margin-right: 2em;
    margin-top: 0.3em;
    margin-left: .8em;
}
#header .breadcrumb
{
    font: 90% normal;
    color: #000000;
    background-color: transparent;
    float: right;
    margin-right: 2em;
    margin-top: 0.8em;
    font-weight: bold;
}

.hidden
{
	display: none;
}