.OverRow
{
    background-color: #A1ADF1;
    text-align: left;
    line-height:22px;
}
.SelectedRow
{
    background-color: #D1DDF1;
    color: #333333;
    
    text-align: left;
    line-height:22px;
}
.Row
{
    background-color: #EFF3FB;
    text-align: left;
    line-height:22px;
   
}
 
.AlternatingRow
{
    background-color: #D0E4FA;
    text-align: left;
    line-height:22px;
}
.HeaderRow
{
     background-color: #507CD1;
     background:   url('../../../images/btnbg.gif') ;background-repeat: repeat;
    color: #416AA3;
    
 
    font-weight: bold;
    text-align: left;
    line-height:21px;
}
.HeaderRow a
{
    color: #fff;
}
.PagerRow
{
    background-color: #fff; 
    background:   url('../../../images/toolbarsbg.gif') ;background-repeat: repeat-x;
    height: 24px;
    padding-top:2px;
}
.PagerRow a
{
	color:#000; text-decoration:none;   border:solid 1px #fff; 
}
.PagerRow a:hover
{
	 text-decoration:none;   border:solid 1px #66f; 
}
.PagerRow span
{
    color:#fff; background:#88e; border:solid 1px #66f; 
}

.RightMenu
{
    border-right: 2px outset;
    border-top: 2px outset;
    border-left: 2px outset;
    border-bottom: 2px outset;
    background-color: buttonface;
}
.RightMenu hr
{
    width: 100px;
}
.RightMenu ul
{
    list-style: none; margin:0; padding:0;
}
.RightMenu ul li
{
    vertical-align: bottom;
}
.RightMenu A { color: MenuText; text-decoration: none; display: block; width: 100px; text-align:center; line-height:20px } 
.RightMenu A:link { color: MenuText; text-decoration: none; } 
.RightMenu A:active { color: MenuText; text-decoration: none; } 
.RightMenu A:visited { color: MenuText; text-decoration: none; } 
.RightMenu A:hover { color: HighlightText; background-color: Highlight; } 

