<div ng-controller="videoController as controller">
    <div ng-include="'./views/course/video/header.html'"></div>
    <div class="videogular-container">
        <videogular vg-player-ready="controller.onPlayerReady($API)" vg-complete="controller.onCompleteVideo()" vg-theme="controller.config.theme.url">
            <vg-media vg-src="controller.config.sources"
                      vg-tracks="controller.config.tracks">
            </vg-media>

            <vg-controls>
                <vg-play-pause-button></vg-play-pause-button>
                <vg-time-display>{{ currentTime | date:'mm:ss':'+0000' }}</vg-time-display>
                <vg-scrub-bar>
                    <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                </vg-scrub-bar>
                <vg-time-display>{{ timeLeft | date:'mm:ss':'+0000' }}</vg-time-display>
                <vg-volume>
                    <vg-mute-button></vg-mute-button>
                    <vg-volume-bar></vg-volume-bar>
                </vg-volume>
                <vg-fullscreen-button></vg-fullscreen-button>
            </vg-controls>
            <vg-overlay-play></vg-overlay-play>
            <vg-buffering></vg-buffering>
            <vg-poster vg-url='controller.config.plugins.poster'></vg-poster>
        </videogular>
    </div>
    <div class="weui_cells seline">
        <div class="weui_cell" style="border-bottom:1px solid #eee; background-color: #eee;">
            <div class="weui_cell_hd">
                <span style="border-left:4px solid rgb(26,177,118); padding-left:10px;"></span>
                课程内容
            </div>
            <div class="weui_cell_bd weui_cell_primary"></div>
            <div class="weui_cell_ft"></div>
        </div>
    </div>
    <div>
        <div class="playlist">
            <ul style="padding-left:10px;">
                <div ng-repeat=" itme in controller.videos">
                    <li style="padding:5px 0; border-left:1px solid #ccc; position: relative;">
                        <span style="position:absolute; left: -5px;bottom: 8px;" class="fa fa-dot-circle-o"></span>
                        <a style="margin-left:15px;" ng-click="controller.setVideo($index)">
                            <span style="font-size:14px;">{{itme.sources[0].name}}</span>
                        </a>
                    </li>
                </div>
            </ul>
        </div>
    </div>
    <div class="weui_cells seline">
        <div class="weui_cell" style="border-bottom:1px solid #eee; background-color: #eee;">
            <div class="weui_cell_hd">
                <span style="border-left:4px solid #006699; padding-left:10px;"></span>
                讲师
            </div>
            <div class="weui_cell_bd weui_cell_primary"></div>
            <div class="weui_cell_ft"></div>
        </div>
    </div>
    <div style="padding:10px;">
        <img style="width:100px;"  ng-src="{{courses.teacher.headImgUrl}}">
        {{courses.lecturer}}

        <div style="padding-top:10px;" ng-bind-html="courses.teacher.detail"></div>
    </div>
    <div class="weui_cells seline">
        <div class="weui_cell" style="border-bottom:1px solid #eee; background-color: #eee;">
            <div class="weui_cell_hd">
                <span style="border-left:4px solid rgb(249,97,84); padding-left:10px;"></span>
                课程介绍
            </div>
            <div class="weui_cell_bd weui_cell_primary"></div>
            <div class="weui_cell_ft"></div>
        </div>
    </div>
    <div style="padding:10px;">
        <div ng-bind-html=courses.intro|trustAsHtml></div>
    </div>
    <div class="container" style="display: none;">
        <div class="row">
            <div class="weui_tab">
                <div class="weui_navbar">
                    <div se-navbar="section" class="weui_navbar_item weui_bar_item_on">
                        章节
                    </div>
                    <div se-navbar="detail" class="weui_navbar_item">
                        课程详情
                    </div>
                    <!--
                    <div se-navbar="exercise" class="weui_navbar_item">
                        练习
                    </div>
                    <div se-navbar="internship" class="weui_navbar_item">
                        践行
                    </div>
                    -->
                </div>
                <div class="weui_tab_bd">
                    <div ng-show="show.detail" >
                        <div class="panel panel-default" style="margin-bottom:0;">
                            <div class="panel-heading">
                                <strong>课程名称</strong>
                            </div>
                            <div class="panel-body">
                                {{courses.title}}
                            </div>
                        </div>
                        <div class="panel panel-default" style="margin-bottom:0;">
                            <div class="panel-heading">
                                <strong>讲师</strong>
                            </div>
                            <div class="panel-body">
                                {{courses.lecturer}}
                            </div>
                        </div>
                        <div class="panel panel-default" style="margin-bottom:0;">
                            <div class="panel-heading">
                                <strong>课程介绍</strong>
                            </div>
                            <div class="panel-body">
                                <div ng-bind-html=courses.intro|trustAsHtml></div>
                            </div>
                        </div>
                    </div>
                    <div ng-show="show.section">
                        <div class="playlist">
                            <ul style="padding-left:10px;">
                                <div ng-repeat=" itme in controller.videos">
                                    <li style="padding:5px 0; border-left:1px solid #ccc; position: relative;">
                                        <span style="position:absolute; left: -5px;bottom: 8px;" class="fa fa-dot-circle-o"></span>
                                        <a style="margin-left:15px;" ng-click="controller.setVideo($index)">
                                            <span style="font-size:14px;">{{itme.sources[0].name}}</span>
                                        </a>
                                    </li>
                                </div>
                            </ul>
                        </div>
                    </div>
                    <div ng-show="show.exercise" class="col-xs-12" >exercise</div>
                    <div ng-show="show.internship" class="col-xs-12" >internship</div>
                </div>
            </div>
        </div>
    </div>
    <div style="position:fixed; bottom: 0; left: 0; width: 100%;">
        <div ng-include="'./views/course/footer.html'"></div>
    </div>
</div>
