.choose-bar-fund{
  text-align: center;
  width: px2rem(330);
  margin: 0 auto px2rem(18) auto;
  //color: #ffffff;
  .choose-part{
    box-shadow: 0px px2rem(2) px2rem(4) rgba(0, 0, 0, 0.3);
    border-radius: 0 0 px2rem(4) px2rem(4);
    .choose-answer-bg{
      background-color: white;
      border: white 1px solid;
      padding: px2rem(5) 0 px2rem(5) 0;
      border-radius: 0 0 px2rem(4) px2rem(4);
    }
  }
  .choose-part-true{
    box-shadow: 0px px2rem(2) px2rem(4) rgba(0, 0, 0, 0.3);
  }
  .choose-part-false {
    box-shadow: 0px px2rem(2) px2rem(4) rgba(0, 0, 0, 0.3);
  }
  .choose-question{
    background-color: #5ab1cf;
    border-radius: px2rem(4) px2rem(4) 0 0;
    padding: px2rem(15) 0 px2rem(15) 0;
    color: white;
    h1{
      font-size: px2rem(36);
      margin-bottom: px2rem(15);
    }
    p{
      font-size: px2rem(18);
      margin: px2rem(15) px2rem(15) px2rem(15) px2rem(15);
      text-align: center;
    }
  }

  .choose-options-bg{
    width: px2rem(290);
    position: relative;
    //background-color: black;
    color: #FFFFFF;
    border-radius: px2rem(40);
    height: px2rem(40);
    line-height: px2rem(40);
    left: -1px;
    top: -1px;
  }
  .choose-options-on{
    width: px2rem(290);
    position: relative;
    //background-color: black;
    color: #FFFFFF;
    border-radius: px2rem(40);
    height: px2rem(40);
    line-height: px2rem(40);
    margin: px2rem(8) auto px2rem(8) auto;
  }
  .choose-options-off{
    width: px2rem(290);
    position: relative;
    background-color: #ffffff;
    color: #5AB1CF;
    border: solid 1px #5AB1CF;
    border-radius: px2rem(40);
    height: px2rem(40);
    line-height: px2rem(40);
    margin: px2rem(8) auto px2rem(8) auto;
  }

  .choose-options-img{
    top: 0;
    position: absolute;
    height: px2rem(28);
    width: px2rem(28);
    right: px2rem(4);
    margin-top: px2rem(6);
  }
  .choose-options-click{
    z-index: 10;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
  }

  .choose-answer-word{
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:auto;
  }

  .choose-tips{
    background-color: #5ab1cf;
    color: white;
    border-radius: px2rem(4);
    padding-top: px2rem(15);
    //padding-bottom: px2rem(10);
    margin-top: px2rem(18);
    h1{
      font-size: px2rem(36);
      margin-bottom: px2rem(15);
    }
    .tips-bg{
      background-color: white;
      border-radius: 0 0 px2rem(4) px2rem(4);
      p{
        font-size: px2rem(20);
        margin-bottom: px2rem(5);
        color: black;
        margin: 0 px2rem(15) 0 px2rem(15);
        opacity: 1;
        text-align: left;
      }
    }
    .tips-font{
      opacity: 0.4;
      color: #FFFFFF;
    }
  }
}