.get-reward-fund{
  text-align: center;
  font-size: 0px;
  background-size: cover;
  background-repeat:no-repeat;
  background-attachment:fixed;

  height: 100%;
  position: relative;
  //padding-top: px2rem(5);
  //padding-bottom: px2rem(20);
  .get-graduated-after {
    position: absolute;
    top: px2rem(40);
    left: 50%;
    transform: translate(-50%, 0);
    margin: 0;
    text-align: center;
    width: px2rem(330);
    height: px2rem(456);
    background-size: 100% 100%;
    font-size: 0;
    z-index: 100;
  }

  .get-graduated{
    position: absolute;
    margin: 0;
    text-align: center;
    width: px2rem(660);
    height: px2rem(912);
    background-size: 100% 100%;
    font-size: 0;
    z-index: -100;
    .head{
      margin: px2rem(200) auto px2rem(30) auto;
      border-radius: px2rem(100);
      //border:2px solid #1CA6DF;
      width: px2rem(100);
      height: px2rem(100);
    }
    .title{
      line-height: px2rem(25);
      color: white;
      font-family: 楷体;
      font-size: px2rem(20);
      .name{
        height: px2rem(25);
        font-size: px2rem(40);
      }
      .rank{
        height: px2rem(27);
        font-size: px2rem(40);
        font-weight: bold;
      }
      p{
        line-height: px2rem(40);
        font-size: px2rem(30);
      }
    }
  }
  .text-stroke{
    position: relative;
    text-align: center;
    height: px2rem(36);
    line-height: px2rem(36);
    .text-stroke-inner
    {
      //margin: 10px auto 0 auto;
      position: absolute;
      font-size: px2rem(22);
      font-family: '幼圆';
      font-weight: 900;
      color: #1CA6DF;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      z-index: 70;
      width: 100%;
    }
    .text-stroke-out
    {
      position: absolute;
      //margin: 10px auto 0 auto;
      font-size: px2rem(22);
      font-family: '幼圆';
      font-weight: 900;
      color: white;
      -webkit-text-stroke: 4px white;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      z-index: 60;
      width: 100%;
    }
  }

  .note-card-title{
    font-size: px2rem(20);
    //font-weight: bold;
    height: px2rem(48);
    line-height: px2rem(48);
    text-align: center;
    color: white;
  }

  .reward-pic, .reward-pic-img, .reward-pic-img-big{
    width: px2rem(298);
    height: px2rem(477);
    font-size: 0;
    margin-bottom: px2rem(15);
  }
  .reward-pic-img-big{
    width: px2rem(301);
    height: px2rem(524);
    margin-bottom: 0;
    margin-top: px2rem(10);
  }
  .reward-pic{
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    width: px2rem(666);
    height: px2rem(986);

    background-size: cover;
    background-position: top center;
    .share-qrcode{
      width: px2rem(108);
      height: px2rem(108);
      text-align: center;
      font-size: 0;
      position: absolute;
      left: 0;
      right: 0;
      bottom: px2rem(25);
      margin: 0 auto;
      img{
        width: px2rem(108);
        height: px2rem(108);
      }
    }
    .note-card-project-title{
      margin-top: px2rem(100);
      font-size: px2rem(40);
      line-height: px2rem(45);
    }
    .note-card-header{
      font-size: px2rem(24);
      line-height: px2rem(30);
      color: #575757;
      text-align: center;
    }
    .note-card-content-title{
      font-size: px2rem(28);
      color: #575757;
      line-height: px2rem(30);
      text-align: center;
    }
    .note-card-text{
      width: px2rem(494);
      color: #575757;
      text-align: left;
      font-size: px2rem(24);
      line-height: px2rem(26);
      margin: px2rem(130) auto 0;
    }
  }
  .note-card-tips{
    height: px2rem(30);
    line-height: px2rem(30);
    text-align: center;
    color: #fff;
    margin-bottom: px2rem(56);
    p{
      display: inline-block;
      font-size: px2rem(14);
      line-height: px2rem(15);
      height: px2rem(30);
      margin: 0 0.7rem;
    }
    img{
      display: inline-block;
      width: px2rem(30);
      height: px2rem(30);
    }
  }
  .share-user-list{
    margin: 0 auto;
    width: px2rem(307);
    height: px2rem(152);
    border: 2px dashed #fff;
    border-color: rgba(255,255,255,0.2);
    overflow: hidden;
  }
  .share-user-title{
    font-size: px2rem(14);
    width: 100%;
    height: px2rem(36);
    line-height: px2rem(36);
    margin-bottom: px2rem(15);
    color: #fff;
  }
  .share-user-logo{
    float: left;
    width: 33.3%;
    .share-user-headimage{
      margin: 0 auto;
      overflow: hidden;
      div{
        width: px2rem(40);
        height: px2rem(40);
        border-radius: 50%;
        border: px2rem(2) solid #fff;
        overflow: hidden;
        margin: 0 auto;
        img{
          width: 100%;
          height: 100%;
        }
      }
    }
    .share-user-headimage-noborder{
      div{
        width: px2rem(40);
        height: px2rem(40);
        border-radius: 50%;
        border: px2rem(2) dashed #fff;
        overflow: hidden;
        margin: 0 auto;
        img{
          width: 100%;
          height: 100%;
        }
      }
    }
    .share-user-name{
      width: 100%;
      line-height: px2rem(30);
      height: px2rem(30);
      font-size: px2rem(14);
      color: #fff;
      overflow: hidden;
      text-overflow:ellipsis;
      white-space: nowrap;
    }
  }
  .reward-share-button{
    display: inline-block;
    padding: 0 px2rem(30);
    line-height: px2rem(30);
    font-size: px2rem(14);
    background: #fff;
    border-radius: px2rem(15);
    margin: 0 auto;
    color: #575757;
    margin-top: px2rem(15);
  }
  .graduated-img{

  }
  //.reward-button{
  //  position: absolute;
  //  bottom: 30px;
  //  left: 50%;
  //  transform: translate(-50%,0);
  //  z-index: 100;
  //  text-align: center;
  //  width: 100%;
  //}
  .button-img{
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .button-p{
    color: white;
    font-size: 22px;
    position: absolute;
    z-index: 101;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%
  }
  .reward-button-graduated{
    position: absolute;
    bottom: 40px;
    //left: px2rem(290);
    left: 50%;
    transform: translate(-50%,0);
    z-index: 100;
    text-align: center;
    width: 100%;
  }
  //.graduated-tip{
  //  font-size: 16px;
  //  position: absolute;
  //  bottom: 55px;
  //  //left: px2rem(290);
  //  left: 50%;
  //  transform: translate(-50%,0);
  //  z-index: 100;
  //  text-align: center;
  //  width: 100%;
  //  span{
  //    font-size: 18px;
  //    font-weight: bold;
  //  }
  //}
  //.reward-recommand{
  //  position:fixed;
  //  top:50%;
  //  left:50%;
  //  margin-top: px2rem(156);
  //  margin-left: px2rem(-54);
  //  width: 29%;
  //  z-index: 100;
  //  animation: shake_1 4s infinite;
  //  animation-delay:1s;
  //
  //  @keyframes shake_1
  //  {
  //    0% {transform:rotate(0deg);}
  //    2% {transform:rotate(5deg);}
  //    4% {transform:rotate(-5deg);}
  //    8% {transform:rotate(5deg);}
  //    10% {transform:rotate(-5deg);}
  //    12% {transform:rotate(0deg);}
  //    100% {transform:rotate(0deg);}
  //  }
  //}
  //.reward-light{
  //  position:fixed;
  //  top: 50%;
  //  left: 50%;
  //  margin-top: px2rem(-560);
  //  margin-left: px2rem(-500);
  //  height: px2rem(1000);
  //  z-index: 50;
  //  animation: rotate 20s infinite;
  //  animation-timing-function: linear;
  //}
  //
  //@keyframes rotate
  //{
  //  0% {transform:rotate(0deg);}
  //  100% {transform:rotate(360deg);}
  //}

}
