#request{ position:fixed; width:100%; height:100%; left:0px; top:0px; display:none; z-index:900}
#request img{ position:absolute; margin-left:50%; left:-16px; margin-top:50%; top:-16px;}
.ellipsis
        {
            display: block;
            overflow: hidden;
            text-overflow: ellipsis; 
            white-space: nowrap; 
        }
 .error{ color:#f00; font-size:12px;}
 .import{ color:#f00;}