<div class="page" ng-controller="exerciseActivityController">
    <div class="page__bd">
        <div ng-include="'./views/gardenia/exercise/header.html'"></div>
        <div class="exercise-body">
            <div class="weui-cells">
                <div ng-repeat=" m in activityList" se-show-actionsheet="{{m.id}}"  class="weui-cell weui-cell_access">
                    <div class="weui-cell__bd">
                        <span style="vertical-align: middle">{{m.name}}</span>
                        <span class="weui-badge" style="margin-left: 5px;">8</span>
                    </div>
                    <div class="weui-cell__ft" style="font-size: 0">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="weui-mask" id="iosMask" style="display: none"></div>
        <div class="weui-actionsheet" id="iosActionsheet">
            <div class="weui-actionsheet__title">
                <p class="weui-actionsheet__title-text">操作</p>
            </div>
            <div class="weui-actionsheet__menu">
                <div id="iosActionsheetStart"  class="weui-actionsheet__cell">开始</div>
                <div id="iosActionsheetRank" class="weui-actionsheet__cell">排行榜</div>
            </div>
            <div class="weui-actionsheet__action">
                <div class="weui-actionsheet__cell" id="iosActionsheetCancel">取消</div>
            </div>
        </div>
    </div>
</div>