.title{
	padding: 8px;
	font-size: 20px;
	color: #484848;
}

.details{
	padding: 8px;
	border-bottom: 1px solid #EDEDF0;
	.location_list{
		display: flex;
		align-items: center;
		font-size: 13px;
		color: #737373;
		.list_icon{
			width: 14px;
			height: 14px;
			margin-right: 5px;
			>image{
				width: 100%;
				height: 100%;
				display: block;
			}
		}
	}
	.travel_info{
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-size: 10px;
		color: #737373;
		padding-top: 12px;
		>view{
			display: flex;
			align-items: center;
			.text_style{
				font-size: 17px;
				color: #484848;
				margin-left: 5px;
			}
		}
	}
}

.commpany_info{
	padding: 8px;
	.commpany_info_title{
		font-size: 13px;
		color: #484848;
	}
	.commpany_info_details{
		display: flex;
		align-items: center;
		padding-top: 8px;
		.commpany_img{
			width: 80px;
			height: 80px;
			>image{
				width: 100%;
				height: 100%;
				display: block;
				border-radius: 8px;
			}
		}
		.commpany_details{
			margin-left: 8px;
			.name{
				font-size: 20px;
				color: #484848;
			}
			.sexandtime{
				display: flex;
				font-size: 10px;
				>view:first-child{
					background: #73C2FF;
					border-radius: 10px;
					color: #ffffff;
					padding: 0 5px;
				}
				>view:last-child{
					color: #737373;
					margin-left: 3px;
				}
			}
			.car_code{
				background: linear-gradient(to right, #00C6FF , #4287FF);
				font-size: 13px;
				color: #ffffff;
				border-radius: 15px;
				padding: 0 8px;
				margin-top: 5px;
			}
		}
	}
	.passenger_list{
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 8px 0;
		border-bottom: 1px solid #EDEDF0;
		.list_left{
			display: flex;
			align-items: center;
			.passenger_img{
				width: 40px;
				height: 40px;
				>image{
					width: 100%;
					height: 100%;
					display: block;
					border-radius: 8px;
				}
			}
			.passenger_info{
				font-size: 16px;
				color: #484848;
				margin-left: 8px;
				.nameofnum{
					display: flex;
					align-items: center;
					>text{
						font-size: 10px;
						color: #737373;
						margin-left: 5px;
					}
				}
				.passenger_time{
					color: #B9BDC3;
					font-size: 13px;
				}
			}
		}
		.list_right{
			font-size: 13px;
			color: #737373;
		}
	}
}

.foot_btn{
	position: fixed;
	bottom: 0;
	width: 100%;
	.customer_service{
		background: #484848;
		color: #ffffff;
		font-size: 16px;
		margin: 8px;
		border-radius: 8px;
	}
	.delete{
		background: #ffffff;
		border: 1px solid rgba(208, 2, 27, .8);
		color: rgba(208, 2, 27, .8);
		font-size: 16px;
		border-radius: 8px;
		margin: 8px;
	}
}

button:affter{
	border: none;
}