{
  presets: [
  ["es2015", { "modules": false }]
  ],  
  "plugins": ["syntax-async-functions", "transform-export-extensions",
    ["transform-runtime", {
      "helpers": false, // defaults to true
      "polyfill": false, // defaults to true
      "regenerator": true, // defaults to true
      "moduleName": "babel-runtime" // defaults to "babel-runtime"
    }], "transform-regenerator","transform-async-to-generator", "transform-async-generator-functions"],
  "comments": false
}