<!DOCTYPE html>
<html>
<head>
    <title>计算机视觉与三维检测工作室-关于我们</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,width=device-width" />
    <meta name="keywords" content="计算机视觉与三维检测工作室，电信13103班肖瑶的毕业设计" />
    <meta name="description" content="计算机视觉与三维检测工作室，电信13103班肖瑶的毕业设计" />
    <link rel="stylesheet" type="text/css" href="{$Think.server.script_name}/../static/css/style.css"/>
</head>
<body>
<header class="header">
    <div class="main">
        <div class="logo">
            <a href="{$Think.server.script_name}/focusMobile/index/index">计算机视觉与三维检测工作室</a>
        </div>
        <div class="big">
            <div class="small">
                <img src="{$Think.server.script_name}/../static/img/a.png">
            </div>
        </div>
        <div class="nav">
            <ul>
                <li><a href="{$Think.server.script_name}/focusMobile/about/index">关于我们</a></li>
                <li><a href="{$Think.server.script_name}/focusMobile/teacher/index">师资力量</a></li>
                <li><a href="{$Think.server.script_name}/focusMobile/student/index">学生团队</a></li>
                <li><a href="{$Think.server.script_name}/focusMobile/equipment/index">设备展示</a></li>
                <li><a href="{$Think.server.script_name}/focusMobile/cases/index">学生作品</a></li>
                <li><a href="{$Think.server.script_name}/focusMobile/technology/index">教学资源</a></li>
                <li><a href="{$Think.server.script_name}/focusMobile/news/index">新闻资讯</a></li>
                <li><a href="{$Think.server.script_name}/focusMobile/contact/index">联系我们</a></li>
            </ul>
        </div>
    </div>
</header>
<div class="sitePath">
    <h2>工作室文化</h2>
    <div class="sort">
        <div class="selectSort">选择分类</div>
        <img src="{$Think.server.script_name}/../static/img/rightRow.png" id="row">
    </div>
    <br>
</div>
<ul class="sortul" style="">
    <li><a href="{$Think.server.script_name}/focusMobile/about/index">工作室简介</a></li>
    <li><a href="{$Think.server.script_name}/focusMobile/about/culture">工作室文化</a></li>
    <li><a href="{$Think.server.script_name}/focusMobile/about/honor">荣誉资质</a></li>
</ul>
<div class="intro">
    {$us.culture}
    <div class="clear"></div>
</div>
<footer class="footer">
    <a href="{$Think.server.script_name}/focusMobile/index/index">
        <div class="navFooter">
            <img src="{$Think.server.script_name}/../static/img/index.png">
            <div>首页</div>
        </div>
    </a>
    <a href="{$Think.server.script_name}/focusMobile/about/index">
        <div class="navFooter">
            <img src="{$Think.server.script_name}/../static/img/map.png">
            <div>关于我们</div>
        </div>
    </a>
    <a href="{$Think.server.script_name}/focusMobile/online/index">
        <div class="navFooter">
            <img src="{$Think.server.script_name}/../static/img/phone.png">
            <div>在线留言</div>
        </div>
    </a>
    <a href="{$Think.server.script_name}/focusMobile/contact/index">
        <div class="navFooter">
            <img src="{$Think.server.script_name}/../static/img/consult.png">
            <div>联系我们</div>
        </div>
    </a>
</footer>
<script type="text/javascript" src="{$Think.server.script_name}/../static/js/jquery-3.2.0.min.js"></script>
<script type="text/javascript" src="{$Think.server.script_name}/../static/js/app.js"></script>
</body>
</html>