<!DOCTYPE html ng-app="app">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<script>
    (function(window){
        function getUrlParam(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
            var r = window.location.search.substr(1).match(reg);  //匹配目标参数
            if (r != null) return unescape(r[2]); return null; //返回参数值
        };

        function UrlSearch(url)
        {
            var name,value;
            var str=url; //取得整个地址栏
            var num=str.indexOf("?")
            str=str.substr(num+1); //取得所有参数   stringvar.substr(start [, length ]

            var arr=str.split("&"); //各个参数放到数组里
            for(var i=0;i < arr.length;i++){
                num=arr[i].indexOf("=");
                if(num>0){
                    name=arr[i].substring(0,num);
                    value=arr[i].substr(num+1);
                    this[name]=value;
                }
            }
            /* 调用方式
            var url=new UrlSearch("http://www.baidu.com?a=1&b=2");
            alert(url.a);
             */
        };

        var serverUrl="http://weixin.jiajiaozhihui.cn/app/appstart/course/baseinfo.ashx";
        var clientUrl="http://courses.jiajiaozhihui.cn/app/default.html";
        var stateParam=getUrlParam("state");
        var url=serverUrl+"?redirect_url="+clientUrl+"&state="+stateParam;
        window.location.href=url;

    })(window)
</script>

</body>
</html>


