/*账号管理*/
.account-manage{padding-bottom: 20px;}
.account-basic{border-bottom:1px dashed #dedede;padding:20px 0;margin:0 20px;padding-left: 20px;}
.account-basic dt{width:105px;}
.account-head{width:105px;height:105px;}
.account-head img{width: 105px; height: 105px;border-radius: 15px;}
.account-basic dd p{line-height:32px;}
.base-name{width:60px;}
.progress-bar{width:180px;height:20px;border-radius: 3px;background:#f5f5f5;overflow: hidden;}
.progress-bar div{height:100%;width:0;}
.accound-bund li{border-bottom:1px dashed #dedede;padding:30px 20px;font-size: 12px;letter-spacing: 1px;line-height:20px;margin:0 20px;}
.accound-bund span{float:left;display: block;line-height:20px;}
.accound-bund .text-green-deep{color:#44b333;}
.accound-bund .text-yellow-deep{color:#ffa200;}
.text-green-deep1{color:#44b333;}
.bund-class{margin-right:25px;}
.indentify_now{color:#40b2da;margin-left: 10px;}
.indentify_now:hover{color:#40b2da;text-decoration: underline;}
.modify-identity{padding: 20px; display: none;}
.modify-identity.show{display: block;}
.modify-identity dt{width: 522px;height: 30px;}
.modify-identity dt.step1{background: url(../images/icon_modify1.png) no-repeat;}
.modify-identity dt.step2{background: url(../images/icon_modify2.png) no-repeat;}
.modify-identity dt.step3{background: url(../images/icon_modify3.png) no-repeat;}
.modify-identity dt.step4{background: url(../images/icon_modify4.png) no-repeat;}
.modify-identity dt.step5{background: url(../images/icon_modify5.png) no-repeat;}
.modify-identity dt span{display: block;float: left;padding-left: 25px;line-height: 29px;}
.modify-identity dt span em{display: block;float: left;}
.modify-identity .icon-index{background: url(../images/icon_modify.png) no-repeat center center;color:#fff;width: 16px;text-align: center;margin-right: 15px;font-size: 10px;}
.modify-identity dt span.active{color:#fff;}
.modify-identity dd{margin-top:20px;margin-bottom: 50px;}
.modify-identity dd.show{display: block;}
.modify-identity dd li{margin-top:10px;width: 100%;}
.modify-identity dd li span{display: block;color:#3b3b3b;line-height: 30px;font-size: 14px;}
.modify-identity .revise-left{width: 31%; float: left;text-align: right;}
.modify-identity .revise-right{width: 66%;float: right;}
.modify-identity dd li .input-pass{width:186px;border-radius: 3px;font-size: 13px;}
.modify-identity a{padding:0 15px;cursor:pointer;border:1px solid #DCDCDC; display: block;float: left;line-height: 28px;border-radius: 3px;}
.modify-identity a:hover{color:#3b3b3b;}
.revise-bottom{background:#1380cb;color:#fff;font-size:14px;border-color:#1380cb;display: block;line-height: 28px;border-radius: 3px;}
.modify-identity .revise-bottom:hover{color:#fff;background:#1992e5;border-color:#1992e5;}
.modify-identity .cancel{color:#666;line-height: 28px;}
.modify-identity .cancel:hover{color:#666;}
.modify-identity .button-step{background: #0098ce;color:#fff;}
.modify-identity .button-step:hover{background: #33add8;color:#fff;}
.modify-identity .success{display: block;text-align: center;margin-top: 30px;}
.modify-identity .success em{font-size: 18px;color: #4f4f4f;padding: 10px 0;background: url(../images/icon_revise6.png) no-repeat left center;padding-left: 50px;}
.modify-identity .layui-layer-btn{text-align: center;}
.revise-grey{background:#aaa;}
.modify-identity .revise-grey:hover{background:#aaa;border-color:#aaa;}
.identify-code{width:75px;height:30px;border-radius: 3px;font-size: 10px;}
.accound-bund .icon{ width: 20px;height: 18px;margin-top: 2px;margin-right: 10px;}

/*账户充值*/
.charge-count{line-height: 30px;font-size: 12px;color: #2d2d2d;margin: 20px 30px;}
.charge-count input{height: 30px;width: 160px;margin:0 10px;}
.charge-way{margin: 0 30px;}
.charge-way p span{border-bottom: 2px solid #098cba;color:#098cba;font-weight: bold;line-height: 20px;display: block;float: left;}
.charge-way .way-lists li{border:1px solid #f0f0f0;cursor:pointer;-webkit-user-select: none;width: 156px;height: 50px;text-align: center;vertical-align: middle;float: left;margin:15px 50px 0 0;}
.lists li.list-checked{border-color: #f6aba5;}
.charge-way .way-lists li span{display: table-cell;width: 156px;height: 50px;vertical-align:middle;*display: block;*font-size: 136px;*font-family:Arial;}