<div style="position:fixed; left: 0; bottom:0; width: 100%;">
    <div class="weui_tabbar " >
        <div style="width: 100%;">
            <a ng-if="(info.isFree==true && info.isBuy==false)"
               href="javascript:void(0)"
               class="weui_tabbar_item weui_bar_item_on bg-primary">
                <div style="margin:0 auto; text-align: center;border-right:1px solid #bbb;" ng-click="learning(info.courseType,info.isFree)">
                    <span style="height: 30px; line-height: 30px; color:#fff;font-size:18px;">加入课堂</span>
                </div>
            </a>
            <a ng-if="info.isFree==false && info.isBuy==false" href="javascript:void(0)" style="background-color: #f0ad4e"  class="weui_tabbar_item weui_bar_item_on">
                <div style="margin:0 auto; text-align: center;border-right:1px solid #bbb;" ng-click="pay(info.courseId,info.courseType)">
                    <span style="height: 30px; line-height: 30px;color:#fff;font-size:18px;"> 购买</span>
                    <span style="height: 30px; line-height: 30px;color:#fff;font-size:18px;">{{info.price|currency:'￥'}}</span>
                </div>
            </a>
            <a ng-if="info.isBuy==true" href="javascript:void(0)" class="weui_tabbar_item weui_bar_item_on bg-primary">
                <div style="margin:0 auto; text-align: center;border-right:1px solid #bbb;" ng-click="learning(info.courseType,info.isFree)">
                    <span style="height: 30px; line-height: 30px; color:#fff;font-size:18px;">进入学习</span>
                </div>
            </a>


        </div>
    </div>
</div>
