<div ng-controller="viewCourseController">
    <div class="container" >
        <div loading="" ng-model="isLoading"></div>
        <div class="row">
            <img style="width:100%;" ng-src="{{info.imgUrl}}">
        </div>
        <div class="row">
            <div class="col-xs-12">
                <p style="padding-top:10px; font-size:18px;"><strong>{{info.title}}</strong></p>
            </div>
        </div>
    </div>
    <div ng-show="info.desc.length>0">
        <div class="weui_cells seline">
            <div class="weui_cell" style="border-bottom:1px solid #eee; background-color: #eee;">
                <div class="weui_cell_hd">
                    <span style="border-left:4px solid rgb(26,177,118); padding-left:10px;"></span>
                    课程介绍
                </div>
                <div class="weui_cell_bd weui_cell_primary"></div>
                <div class="weui_cell_ft"></div>
            </div>
        </div>
        <div style="padding:10px;">
            <div style="padding-top:10px;" ng-bind-html="info.desc">{{sceHtml(info.desc)}}</div>
        </div>
    </div>
    <div ng-show="info.expert.imgUrl!='' || info.expert.intro!=''" >
        <div class="weui_cells seline">
            <div class="weui_cell" style="border-bottom:1px solid #eee; background-color: #eee;">
                <div class="weui_cell_hd">
                    <span style="border-left:4px solid #006699; padding-left:10px;"></span>
                    主讲人
                </div>
                <div class="weui_cell_bd weui_cell_primary"></div>
                <div class="weui_cell_ft"></div>
            </div>
        </div>
        <div style="padding:10px;">
            <img style="width:100px;"  ng-src="{{info.expert.imgUrl}}">
            {{info.expert.name}}
            <div style="padding-top:10px;" ng-bind-html="info.expert.intro"></div>
        </div>
    </div>
    <div ng-include="'views/course/footer.html'"></div>
</div>
