<div class="container" ng-controller="myController">
    <div class="row" style="padding-top:15px;">
        <div class="col-xs-12 text-center">
            <img class="img-circle" style="width:80px;" ng-src="{{userInfo.headImgUrl}}">
            <div style="margin-top:10px;">{{userInfo.nickName}}</div>
        </div>
    </div>
    <div class="row">
        <div class=" weui_cells_title"></div>
        <div class="weui_cells weui_cells_access">

            <a href="#myquestion"  class="weui_cell">
                <div class="weui_cell_hd">
                    <img style="width:30px;height: 30px;" src="../items/imgs/qa/m-question.png">
                </div>
                <div class="weui_cell_bd weui_cell_primary">
                    <div>我的问题</div>
                </div>
                <div class="weui_cell_ft"></div>
            </a>
            <a href="#myanswers"  class="weui_cell">
                <div class="weui_cell_hd">
                    <img style="width:30px;height: 30px;" src="../items/imgs/qa/m-answer.png">
                </div>
                <div class="weui_cell_bd weui_cell_primary">
                    <div>我的回复</div>
                </div>
                <div class="weui_cell_ft"></div>
            </a>
            <a href="#unanswered"  class="weui_cell">
                <div class="weui_cell_hd">
                    <img style="width:30px;height: 30px;" src="../items/imgs/qa/u-answer.png">
                </div>
                <div class="weui_cell_bd weui_cell_primary">
                    <div>待回复问题</div>
                </div>
                <div class="weui_cell_ft"><span ng-if="info.newQuestionNumber!=0" class="badge" style="background-color: #f00;">{{info.newQuestionNumber}}</span></div>
            </a>
            <a href="#join"  class="weui_cell">
                <div class="weui_cell_hd">
                    <img style="width:30px;height: 30px;" src="../items/imgs/qa/v-expert.png">
                </div>
                <div class="weui_cell_bd weui_cell_primary">
                    <div>专家认证</div>
                </div>
                <div class="weui_cell_ft"></div>
            </a>
            <a href="#myexpert2?hash=my"  class="weui_cell">
                <div class="weui_cell_hd">
                    <img style="width:30px;height: 30px;" src="../items/imgs/qa/expert.png">
                </div>
                <div class="weui_cell_bd weui_cell_primary">
                    <div>我的专家</div>
                </div>
                <div class="weui_cell_ft">
                    <span class="text-danger">{{info.expert.uname||'未设置'}}</span>
                </div>
            </a>
            <a href="#viewpersonal"  class="weui_cell">
                <div class="weui_cell_hd">
                    <img style="width:30px;height: 30px;" src="../items/imgs/qa/membership.png">
                </div>
                <div class="weui_cell_bd weui_cell_primary">
                    <div>会员资料</div>
                </div>
                <div class="weui_cell_ft"></div>
            </a>
        </div>
    </div>
</div>