*{
    margin: 0;
    padding: 0;
}
body{
    max-width:640px;
    min-width:320px;
    width:100%;
    min-height:100%;
    margin:0 auto;
    font:14px/150% "Microsoft Yahei","Arial","Thmano";
    color:#555;
    background:#fff;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
.clear{
    clear: both;
}
.header{
    position: relative;
    top:0;
    left:0;
    background:#0E62B1;
    height: 40px;
    line-height:40px;
}
.logo{
    text-indent:10px;
}
.logo a{
    color: #fff;
    font-size:16px;
    font-weight:bold;
    text-decoration: none;
}
.show{
    position: absolute;
    top:0px;
    right:0px;
    width:50px;
    height:40px;
    background: #064D8E;
}
.small{
    line-height: 20px;
    position: absolute;
    top:5px;
    right:5px;
    width:30px;
    height:30px;
}
.small:hover{
    cursor:pointer;
}
.small img{
    width: 100%;
    height:100%;
}
.nav{
    text-indent:0;
    width: 100px;
    position: absolute;
    top:40px;
    right:0;
    line-height: 30px;
    padding-left: 0;
    background: #064D8E;
    display:none;
    z-index: 20;
}
.nav ul{
    text-align: center;
    list-style: none;
    color:#f7f7f7;
    margin: 0;
    padding: 0;
    text-indent: 0;
}
.nav ul li{
    border-bottom: 1px solid #aaa;
}
.nav ul a{
    color: #f7f7f7;
    text-decoration: none;
    font-size:14px;
}
#banner{
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
    position: relative;
    top:0;
    left: 0;
}
#banner ul{
    padding: 0;
    margin: 0;
    list-style: none;
    height:200px;
    overflow: hidden;
}
#banner ul li{
    width: 100%;
}
#banner ul li img{
    width: 100%;
    height:200px;
}
.circle{
    clear:both;
    width: 75px;
    height:30px;
    position: relative;
    top:-25px;
    left: 0;
    color: #333;
    margin:0 auto;
    z-index: 10;
}
.circle div{
    float: left;
    width:14px;
    height:14px;
    border-radius:100%;
    background: #0e62b1;
    margin: 0 4px;
}
.circle div.active{
    width:11px;
    height:11px;
    border-radius:100%;
    background: transparent;
    border:3px solid #e13232;
}
.probox{
    width: 96%;
    margin:0 auto;
}
.probox li{
    width:33.33%;
    padding-bottom:15px;
    float:left;
}
.probox li a{
    display:block;
    float:left;
    width:100%;
    text-align:center;
    color:#333;
}
.probox li:nth-child(1) a::before{
    content:'\20';
    display: block;
    width:48px;
    height:48px;
    margin:0 auto;
    background: url(../img/nav_bg.png) no-repeat left top;
    background-size:300%;
}
.probox li:nth-child(2) a::before{
    content:'\20';
    display: block;
    width:48px;
    height:48px;
    margin:0 auto;
    background: url(../img/nav_bg.png) no-repeat 50% top;
    background-size:300%;
}
.probox li:nth-child(3) a::before{
    content:'\20';
    display: block;
    width:48px;
    height:48px;
    margin:0 auto;
    background: url(../img/nav_bg.png) no-repeat 100% top;
    background-size:300%;
}
.probox li:nth-child(4) a::before{
    content:'\20';
    display: block;
    width:48px;
    height:48px;
    margin:0 auto;
    background: url(../img/nav_bg.png) no-repeat 0% 100%;
    background-size:300%;
}
.probox li:nth-child(5) a::before{
    content:'\20';
    display: block;
    width:48px;
    height:48px;
    margin:0 auto;
    background: url(../img/nav_bg.png) no-repeat 50% 100%;
    background-size:300%;
}
.probox li:nth-child(6) a::before{
    content:'\20';
    display: block;
    width:48px;
    height:48px;
    margin:0 auto;
    background: url(../img/nav_bg.png) no-repeat 100% 100%;
    background-size:300%;
}
.footer{
    z-index: 99;
    clear: both;
    width: 100%;
    height: 40px;
    background: #0067b7;
    clear:both;
    position: fixed;
    bottom:0;
    left:0;
}
.footer .navFooter{
    width: 25%;
    float: left;
    text-align: center;
}
.navFooter img{
    width: 20px;
    margin-top: 5px;
    height: 20px;
}
.navFooter div{
    font-size: 10px;
    line-height: 0px;
}
.footer a{
    font-size: 10px;
    color: #f1f1f1;
}
.sitePath{
    background: #eee;
    padding: 10px 0 10px 10px;
    width: 100%;
    box-sizing: border-box;
}
.sitePath h2{
    color: #444;
    font-size: 14px;
    float: left;
    line-height: 20px;
}
.sort{
    float: right;
    line-height: 20px;
}
.sort:hover{
    cursor:pointer;
}
.sort img{
    margin:0 5px;
    width: 12px;
    height: 12px;
}
.selectSort{
    float: left;
    font-size: 12px;
    color: #666;
}
.sortul{
    display: none;
}
.sortul li{
    box-sizing: border-box;
    margin: 10px 5% 0 5%;
    padding: 5px 0;
    width: 40%;
    float: left;
    text-align: center;
    border: 2px solid #eee;
    border-radius: 3px;
}
.sortul li a{
    display: block;
    color: #666;
    font-size: 12px;
}
.intro{
    padding: 8px 8px 50px 8px;
    font-size: 12px;
    clear: both;
}
.img{
    padding-bottom: 50px;
}
.img dl{
    width: 50%;
    padding: 10px 5px 0 ;
    float: left;
    box-sizing: border-box;
    text-align: center;
}
.img dl dt{
    font-size: 12px;
    color: #666;
    line-height: 18px;
}
.img dl img{
    width: 100%;
    height: 110px;
}
.content{
    clear: both;
    padding: 5px 5px 50px 5px;
    font-size: 12px;
}
.content img{
    width: 50%;
}
.des{
    text-align: center;
    font-size: 12px;
}
.news{
    padding: 10px 10px 50px 10px;
}
.news ul li{
    background: url("../img/tip.gif") 0 center no-repeat;
    background-size: 7px;
    height: 30px;
    line-height: 30px;
    clear: both;
    padding-left: 12px;
}
.news ul li a{
    font-size: 14px;
    color: #555;
}
.news ul li span{
    float: right;
    line-height: 30px;
    font-size: 12px;
}
.news .title{
    font-size: 12px;
    float: left;
    width: 200px;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
}
.news_title{
    font-size: 14px;
    font-weight:bold;
    line-height: 20px;
    height: 20px;
}
.img_show{

}
.img_show .turn{
    width: 40px;
    height: 40px;
    float: left;
    margin-top: 90px;
}
.img_show .center{
    width: 200px;
    height:200px;
    float: left;
}
.img_show img{
    width: 100%;
    height:100%;
}
.content h2{
    font-size: 14px;
}
.content .mapSchool{
    margin-top: 20px;
    width: 100%;
}