
.FootTools
{
    border: 0px;
    height: 25px;
    margin-right: 5px;
    overflow: hidden;
}
.FootTools tr td
{
    width: 30px;
    padding-left: 4px;
   
}
.FootTools tr td img
{
    cursor:pointer;
}
.icon
{
    background: url(../../images/tabicons.png) no-repeat;
    width: 18px;
    line-height: 18px;
    display: inline-block;
}
.home
{
    background: url('../../images/icon/house.png') no-repeat;
}
.parentNav
{
    background: url('../../images/icon/folder.png') no-repeat;
}
.subNav
{
    background: url('../../images/icon/application_view_columns.png') no-repeat;
}


.easyui-accordion
{
    background: #F5F6F6;
}
.easyui-accordion ul
{
    list-style-type: none;
    margin: 0px;
    padding: 3px;
}
.easyui-accordion ul li
{
    padding: 0px;
    border-bottom: 1px dashed #64ACE5;
}
.easyui-accordion ul li a
{
    line-height: 20px;
}
.easyui-accordion ul li div
{
    margin: 1px 0px;
    padding-left: 10px;
    padding-top: 1px;
}
.easyui-accordion ul li div.hover
{
    border: 1px dashed #99BBE8;
    background: #E0ECFF;
    cursor: pointer;
}
.easyui-accordion ul li div.hover a
{
    color: #416AA3;
}
.easyui-accordion ul li div.selected
{
    border: 1px solid #99BBE8;
    background: #E0ECFF;
    cursor: default;
}
.easyui-accordion ul li div.selected a
{
    color: #416AA3;
    font-weight: bold;
}


.mail_folder
{
    background: url('/webmail/images/folder.png') no-repeat;
}
.mail_application_view_list
{
    background: url('/webmail/images/application_view_list.png') no-repeat;
}
.mail_mail
{
    background: url('/webmail/images/mail.png') no-repeat;
}
.mail_email
{
    background: url('/webmail/images/email.png') no-repeat;
}
.mail_email_magnify
{
    background: url('/webmail/images/email_magnify.png') no-repeat;
}
.mail_group
{
    background: url('/webmail/images/group.png') no-repeat;
}
.mail_group_gear
{
    background: url('/webmail/images/group_gear.png') no-repeat;
}
.mail_user
{
    background: url('/webmail/images/user.png') no-repeat;
}
.mail_folder_wrench
{
    background: url('/webmail/images/folder_wrench.png') no-repeat;
}
.mail_email_star
{
    background: url('/webmail/images/email_star.png') no-repeat;
}
.mail_user_edit
{
    background: url('/webmail/images/user_edit.png') no-repeat;
}
.mail_email_edit
{
    background: url('/webmail/images/email_edit.png') no-repeat;
}
.mail_email_transfer
{
    background: url('/webmail/images/email_transfer.png') no-repeat;
}

.mail_email_open
{
    background: url('/webmail/images/email_open.png') no-repeat;
}

.mail_email_attach
{
    background: url('/webmail/images/email_attach.png') no-repeat;
}

.mail_email_go
{
    background: url('/webmail/images/email_go.png') no-repeat;
}

.mail_email_delete
{
    background: url('/webmail/images/email_delete.png') no-repeat;
}

.mail_email_error
{
    background: url('/webmail/images/email_error.png') no-repeat;
}
.thirdmenu a { padding-left:20px;border-bottom: 0px dashed #64ACE5; }
 
.unsystemli 
{
   display:inline;
  
   width :90px;
   FONT-SIZE: 9pt; 
   background:   url('../../../images/btnover.gif') ;background-repeat: repeat-x;
   CURSOR: hand;
   COLOR: #3E3E3E; 
   BORDER : #FE9102 1px solid; 
 
   padding:5px;
   
   margin-right:5px;
}
 
.unsystemliicon{ background-repeat: no-repeat ;    padding-left:10px;padding-right:10px;    background-position: center   center;} 



        .icon-announcement
        {
            background: url('../images/icon/application_view_tile.png') no-repeat;
        }
        .icon-announce
        {
            background: url('../images/icon/bell.png') no-repeat;
        }
        .icon-news
        {
            background: url('../images/icon/application_view_icons.png') no-repeat;
        }
        .icon-task
        {
            background: url('../images/icon/layout_content.png') no-repeat;
        }
        .icon-bbs
        {
            background: url('../images/icon/user_comment.png') no-repeat;
        }
        .icon-plan
        {
            background: url('../images/icon/clock.png') no-repeat;
        }
        .icon-todo
        {
            background: url('../images/icon/clock_red.png') no-repeat;
        }
        
