let swperConfig = { // 页面swper配置
    'indicatorDots': false, // 是否显示面板指示点
    'indicatorColor': 'rgba(0, 0, 0, .3)', // 是否显示面板指示点
    'indicatorActiveColor': 'rgba(0, 255, 0, .3)', // 当前选中的指示点颜色
    'autoplay': true, // 是否自动切换
    'interval': 3000, // 自动切换时间间隔
    'duration': 800, // 滑动动画时长
    'circular': true
}

module.exports = {
  swperConfig
};