<div ng-controller="audioController" style="height: 100%;">
    <div ng-controller="singleAudioController">
        <div ng-include="'views/course/audio/single/header.html'"></div>
        <div class="container" >
            <div class="row" style="position: relative;">
                <img style="width:100%;" ng-src="{{course.imgUrl}}">

                <div style="position: absolute;top:50%; margin-top:-30px;left:50%;margin-left:-30px;">
                    <div style="display: inline-block; border-radius:30px; background-color:rgba(255,255,255,1)" class="text-center">
                        <span ng-click="play()"
                              ng-if="!playing"
                              style="color:rgba(217,220,223,0.5);"
                              class="fa fa-5x fa-play-circle"></span>
                        <span ng-click="pause()"
                              ng-if="playing"
                              style="color:rgba(217,220,223,0.5);"
                              class="fa fa-5x fa-pause-circle"></span>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-xs-12 text-center" ><!--style="padding:0;"-->
                    <div class="player" >
                        <div class="xl-progress" style="margin-top:0px;padding-top:0;">
                            <div class="xl-progress-bar" style="width:100%;margin-bottom:10px;" xl-progress-bar>
                                <div class="played" style="margin-left:{{progress*progressWidth+'px'}}"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="page-header">
                        <h4>课程介绍</h4>
                    </div>
                    <div ng-bind-html="course.detail"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="page-header">
                        <h4>讲师介绍</h4>
                    </div>
                    <div ng-bind-html="course.teacher.detail"></div>
                </div>
            </div>
        </div>
    </div>
    <iframe id="fr" src="javascript:parent.audio" frameborder="0" style="height: 1px; line-height: 1px;"></iframe>
</div>