<div style="position:fixed; left: 0; bottom:0; width: 100%;" ng-controller="taskController">
    <div class="weui_tabbar " >
        <!--
        <a href="javascript:void(0)"  class="weui_tabbar_item weui_bar_item_on" style="padding-bottom:7px">
            <div style="margin:0 auto; text-align: center;border-right:1px solid #bbb;" ng-click="Gxdr(configInfo.gxdr)">
                <span style="height: 30px; line-height: 30px; color:#666;font-size:18px;">练习</span>
            </div>
        </a>
        -->
        <a href="#gxdr?id={{courseId}}"  class="weui_tabbar_item weui_bar_item_on" style="padding-bottom:7px">
            <div style="margin:0 auto; text-align: center;border-right:1px solid #bbb;" >
                <span style="height: 30px; line-height: 30px; color:#666;font-size:18px;">练习</span>
            </div>
        </a>

        <a href="javascript:void(0)"   class="weui_tabbar_item weui_bar_item_on" style="padding-bottom:7px">
            <div style="margin:0 auto; text-align: center;border-right:1px solid #bbb;" ng-click="Zxs(configInfo.zxs.appId,configInfo.zxs.themeId)">
                <span style="height: 30px; line-height: 30px;color:#666;font-size:18px;">实践</span>
            </div>
        </a>
        <a href="javascript:void(0)"   class="weui_tabbar_item weui_bar_item_on" style="padding-bottom:7px">
            <div style="margin:0 auto; text-align: center;border-right:1px solid #bbb;" ng-click="GuWen(configInfo.guWen)">
                <span style="height: 30px; line-height: 30px;color:#666;font-size:18px;">问答</span>
            </div>
        </a>
    </div>
</div>
