html,body {
	position: relative;
	height: 100%
}

body {
	margin: 0;
	padding: 0;
	background: #FFF;
	color: #666;
	text-align: center;
	font-size: 62.5%;
	font-family: Helvetica;
	position: relative;
	height: 100%
}

div,form,ul,ol,li,span,p,dl,dt,dd,img,section,header,footer,input,textarea,a,i {
	margin: 0 auto;
	padding: 0;
	border: 0;
    -moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box
}

h1,h2,h3,h4,h5,h6 {
	font-size: 1.2em;
	font-weight: normal;
	margin: 0;
	padding: 0;
	border: 0
}

ul,ol,li {
	list-style: none;
	list-style-position: inside
}

table,td,input,textarea {
	font-size: 14px
}

.fl {
	float: left
}

.fr {
	float: right
}

a {
	color: #333;
	text-decoration: none;
	cursor: pointer
}

a:visited {
	text-decoration: none
}

a:hover {
	color: #333;
	text-decoration: none
}

a:active {
	color: #333
}

.clear:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}

.wh {
	width: 100%;
	height: 100%
}

.abs {
	position: absolute;
	left: 0;
	top: 0
}

.swiper-container,.newslide {
	width: 100%;
	height: 100%
}

.swiper-slide {
	text-align: center;
	font-size: 1rem;
	background: #F0F0F0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	overflow: hidden;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	width: 100%
}

.s2 .swiper-slide div {
	width: 90%
}

.swiper-pagination-bullet-active {
	background: #008cd6
}

.header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 999;
	opacity: 0.9
}

.m-topbar {
	width: 100%;
	height: 42px;
	background-color: #008cd6
}

.topbar-txt {
	font-weight: 700;
	height: 42px;
	line-height: 42px;
	font-size: 18px;
	color: #fff
}

.m-nav {
	position: relative;
	display: block;
	width: 100%;
	overflow: hidden
}

.m-logo {
	position: absolute;
	height: 45px
}

.m-logo img {
	max-width: 100%;
	max-height: 100%
}

.m-nav-btn {
	height: 45px;
	background: #f4f4f4;
	border-bottom: 1px solid #d3d3d3;
	opacity: .8
}

.m-nav ul li {
	float: left;
	font-size: 14px;
	height: 45px;
	line-height: 45px;
	width: 33.3%
}

.m-nav li a {
	line-height: 25px;
	height: 25px;
	padding: 10px 0
}

.m-nav a {
	font-size: 16px
}

li.active a {
	color: #008cd6;
	border-bottom: 4px solid #008cd6
}

.s-pic {
	width: 100%;
	

}

.s4-pic {
	margin-bottom: 10%
}

.s1-en {
	padding-left: 15%;
	text-align: left
}

.s1-num {
	text-align: left
}

@media screen and (max-height:600px) {
	.s4-pic {
		zoom: .5
	}

	.s5-pic {
		zoom: .5;
		margin-top: 10%
	}



	.s9-pic {
		margin-bottom: -8%
	}
}

@media all and (min-width:322px) and (max-width:450px) {
	

	.s9-pic {
		margin-bottom: -35%
	}
}

@media screen and (max-width:321px) and (max-height:421px) {
	.s4-pic {
		zoom: .38
	}

	.s5-pic {
		zoom: .38;
		margin-top: 10%
	}

	.s3-pic {
		zoom: .39
	}

	.m-contact {
		font-size: .7rem
	}

	.footer-wrap img {
		zoom: .7
	}

	body .m-link .tit,body .m-contact .tit {
		margin: .8em 0
	}



	.s9-pic {
		margin-bottom: -20%
	}
}

.s-pic img {
	max-width: 100%;
	max-height: 100%;
	vertical-align: middle
}

.s1 {
	background: url(1.jpg) center center  no-repeat;
	background-size: cover
}

.s1-info {
	width: 100%;
	padding-top: 35%;
	color: #fff
}

.s1-info span {
	font-size: 1.2rem
}

.s2 .tit {
	position: absolute;
	left: 0;
	right: 0;
	top: 20%;
	font-size: 1rem;
	z-index: 2
}
.s6-pic,.s7-pic,.s8-pic{
	height:100%;
}
.s7{
	background-color: #FFFFFF;
}
.s8,.s9 {
	background-color: #FFFFFF;
}

.tit-en {
	font: 1.3rem Helvetica,Arial,"Hiragino Sans GB",sans-serif;
	color: #737272
}


.tit-cn {
	font-size: 1.3rem
}

.news {
}

.news-tit {
	font-size: 1.2rem;
	text-align: center
}

.news-subtit,.s3-tit {
	margin: 1rem 0;
	color: #008cd6;
	font-size: 1.1rem;
	text-align: center
}

.news-info,.s3-txt {
	text-align: left;
	line-height: 1.3rem;
	font-size: .9rem
}

.s3-txt {
	text-indent: 2rem
}

@media  all and  (max-width:320px) and (max-height:568px) {
	.s2 .tit {
		top: 20%
	}

	.news-subtit,.s3-txt-tit {
		margin: 1rem 0
	}
}

@media  all and (max-width:320px) and  (max-height:480px) {
	.s2 .tit {
		top: 4.5rem
	}

	.news-subtit,.s3-txt-tit {
		margin: 1rem  0 .8rem
	}
}

@keyframes opacity {
	0% {
		-webkit-transform: translate(0,0px)
	}

	25% {
		-webkit-transform: translate(0,-3px)
	}

	50% {
		-webkit-transform: translate(0,1px)
	}

	75% {
		-webkit-transform: translate(0,-1px)
	}

	100% {
		-webkit-transform: translate(0,0px)
	}
}

@-webkit-keyframes opacity {
	0% {
		-webkit-transform: translate(0,0px)
	}

	25% {
		-webkit-transform: translate(0,-3px)
	}

	50% {
		-webkit-transform: translate(0,1px)
	}

	75% {
		-webkit-transform: translate(0,-1px)
	}

	100% {
		-webkit-transform: translate(0,0px)
	}
}

.arrow-down {
	zoom: .8;
	position: fixed;
	bottom: 0;
	left: 50%;
	margin-left: -1.7rem;
	width: 57px;
	height: 57px;
	border-radius: .5rem;
	display: block;
	background-image: url(icon.png);
	background-repeat: no-repeat;
	z-index: 999;
	-webkit-animation: opacity 1.2s linear infinite
}

.s3 {
	background: url(3_bg.jpg) center center no-repeat;
	background-size: cover
}

.s4 {
	background: url(4_bg.jpg) center center no-repeat;
	background-size: cover
}

.s5 {
	background: url(5_bg.jpg) center center no-repeat;
	background-size: cover
}
.s6 {
	background: url(6_bg.jpg) center center no-repeat;
	background-size: cover
}


.s7_p2 {
	bottom: 0;
	position: absolute
}

.s10 {
	background-color: #34383b
}

.footer-main {
	min-width: 365px;
}

.footer-wrap,.footer-wrap .tel {
	color: #F7F1F1!important
}

.m-link {
	width: 90%;
	text-align: center;
	margin: 0 auto
}

.m-link li {
	width: 32%;
	text-align: center;
	border: 1px solid #424242;
	float: left
}

.m-link li img {
	width: 70%;
}

.m-link .tit,.m-contact .tit {
	margin: 1em 0
}

.m-link  ul {
	display: block
}

.m-contact p {
	margin-bottom: .5em
}

.newslide img {
	display: none
}

.s1-info td {
	width: 60%
}