<!--<div class="weui-cells" style="margin-top:0;padding-top:0;">
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <a class="nav" ng-href="#poster">获取海报</a>
        </div>
        <div class="weui-cell__bd">
            <p style="text-align:center"><a class="nav" ng-href="#create">创建新群</a></p>
        </div>
        <div class="weui-cell__ft">
            <a class="nav" ng-href="#login">退出</a>
        </div>
    </div>
</div>-->

<div class="weui-flex">
    <div class="weui-flex__item" style="padding:5px 0; text-align:center" ><a class="nav" ng-href="#poster">获取海报</a></div>
    <div class="weui-flex__item" style="padding:5px 0; text-align:center"><a class="nav" ng-href="#create">创建新群</a></div>
    <div class="weui-flex__item" style="padding:5px 0; text-align:center"><a class="nav" ng-href="#checked">会员审核</a></div>
    <div class="weui-flex__item" style="padding:5px 0; text-align:center"><a class="nav" ng-href="#login">退出</a></div>
</div>