<div class="container" ng-controller="myController">
    <div class="row" style="padding-top:15px;">
        <div class="col-xs-12 text-center">
            <img class="img-circle" style="width:80px;" ng-src="{{userInfo.HeadImgUrl|resourceUrl}}">
            <div style="margin-top:10px;">{{userInfo.NickName}}</div>
        </div>
    </div>
    <div class="row" style="height: 10px;"></div>
    <div class="row">
        <div class="col-xs-12">
            <div class="weui_cells weui_cells_access">
                <a href="#myonlinecourse"  class="weui_cell">
                    <div class="weui_cell_hd">
                        <img style="width:30px;height: 30px;" src="../../../content/imgs/about.png">
                    </div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <div>直播课程</div>
                    </div>
                    <div class="weui_cell_ft">{{info.online}}</div>
                </a>
                <a href="#mybagcourse"  class="weui_cell">
                    <div class="weui_cell_hd">
                        <img style="width:30px;height: 30px;" src="../../../content/imgs/about.png">
                    </div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <div>特训课程</div>
                    </div>
                    <div class="weui_cell_ft">{{info.bag}}</div>
                </a>
                <a href="#mycommoncourse"  class="weui_cell">
                    <div class="weui_cell_hd">
                        <img style="width:30px;height: 30px;" src="../../../content/imgs/about.png">
                    </div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <div>常训课程</div>
                    </div>
                    <div class="weui_cell_ft">{{info.common}}</div>
                </a>
                <a href="#viewpersonal"  class="weui_cell">
                    <div class="weui_cell_hd">
                        <img style="width:30px;height: 30px;" src="../../../content/imgs/about.png">
                    </div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <div>个人资料</div>
                    </div>
                    <div class="weui_cell_ft"></div>
                </a>
            </div>
        </div>
    </div>
</div>