@charset "utf-8";
/* CSS Document */
body{ font-size:12px; line-height:22px; margin:0px; padding:0px; background:#3B76C6; text-align:center;}
li,p,form,h1,h2,h3,h4,h5,h6,dl,dd{ margin:0px; padding:0px;}
img{ border:none;}
ul{ list-style:none;}

#main{ width:1260px; position:relative; margin:0 auto; text-align:left;}
#top{ width:1260px; height:180px; }
#mid{ width:1260px; height:330px;}
#mid_left{ width:436px; height:330px; background:url(../img/left.jpg) no-repeat; float:left; padding:0 63px 0 94px; display:inline;}
#mid_right{ width:526px; height:330px; background:url(../img/right.jpg) no-repeat; float:left; padding-right:141px; display:inline;}
#mid_left_con{ width:421px; height:269px; margin:13px 7px 0 8px; background:url(../img/left_pic.jpg) no-repeat; }
#mid_right_con{ width:526px; height:230px; background:url(../img/dlbg.jpg) no-repeat; padding-top:100px; }
#bot{ width:1260px; height:176px; background:url(../img/botbg.jpg) no-repeat; }
.login{ width:300px; margin:0 auto;}
.login td{ color:#fff; font-weight:bold;}
.login td input{ border:none; background:none; font-size:12px; height:23px; line-height:23px; color:#2f96d7;}
.login .l1{ width:118px; height:23px; background:url(../img/textbj.jpg) no-repeat left 0; padding-left:34px;margin: 5px 0;}
.login .l2{ width:118px; height:23px; background:url(../img/textbj.jpg) no-repeat 0 -23px;padding-left:34px;margin: 5px 0;}
.login .l3{ width:54px; height:23px; float:left; background:url(../img/textbj.jpg) no-repeat 0 -46px; margin: 5px 0; margin-right:10px; padding-left:12px;}
#validateCode{ width:40px; height:23px; }