.order-model-list{
    width: 90%;
    margin:12px 5% 12px;
    background-color: #f9f1d8;
    border-radius: 12px;
    overflow: hidden;
}
.order-model-list h3{
    width: 100%;
    height: 40px;
    cursor: pointer;
    line-height: 40px;
    text-indent: 12px;
    color: #fff;
    background-color: #999999;
    border-radius: 2px;
}
.order-model-list h3 span{
    padding-left: 9px;
    font-size: 12px;
}
.order-model-list ul{
    padding:20px 0;
}
.order-model-list li{
    overflow: hidden;
    line-height: 25px;
}
.order-list-title{
    width: 150px;
    float: left;
    text-align: right;
}
.fp_ul{
    display: none;
}
.order-pro-ul{
    width: 100%;
}
.order-proMesg{
    width: 100%;
    float: left;
    border-bottom:1px #ccc solid;
}
.order-proMesg span{
    float: left;
    width: 200px;
    text-align:center;
}
.order-close{
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    font-size: 26px;
}