//浏览器重置样式
html, body, div, span, nav, header, iframe,
h1, h2, h3, h4, h5, h6, p, section, footer,
a, form, address, big, cite, code,
del, dfn, em, img, ins, fieldset, q, s, samp,
small, strike, strong, sub, sup,label, var,
b, u, i,input, dl, dt, dd, ol, ul, li,figure,figcaption{
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
$main-font: "Microsoft YaHei";
html,body{
  font:{
    size: 16px;
    family: $main-font;
  }
  background:#ffffff;
}
form,fieldset{
  border: 0 none;
}
ol,ul li{
  list-style: none;
}
select {
  appearance: none;
}
img{
  border: 0 none;
  max-width: 100%;
}
input,select{
  outline: none;
  font-family: $main-font;
}
textarea{resize:none;}
button{
  outline:none;
  border: 0;
  font-family: $main-font;
}
i,em{
  font-style: normal;
}
a {
  color: #535353;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
svg{
  width:1.375rem;
  height:1.375rem;
  vertical-align: middle;
}
.clearfix:before, .clearfix:after{
  content: "";
  display: table;
}
footer{
  display: flex;
  height: 16.25rem;
  background-color: #4f545b;
}
