<div class="weui_tabbar" style="padding:5px 0">
    <a href="#home"  class="weui_tabbar_item weui_bar_item_on">
        <div style="margin:0 auto; text-align: center;border-right:1px solid #bbb;">
            <img style="width:40px;height: 40px;" src="../coursev2/imgs/home.png" alt="">
            <span style="height: 40px; line-height: 40px;">首页</span>
        </div>
    </a>
    <a href="#courselist"  class="weui_tabbar_item weui_bar_item_on">
        <div style="margin:0 auto; text-align: center;border-right:1px solid #bbb;">
            <img style="width:40px;height: 40px;" src="../coursev2/imgs/m-wk.png" alt="">
            <span style="height: 40px; line-height: 40px;">课程中心</span>
        </div>
    </a>
    <a href="#my" class="weui_tabbar_item">
        <div style="margin:0 auto; text-align: center;">
            <img style="width:40px;height: 40px;" src="../coursev2/imgs/m-my.png" alt="">
            <span style="height: 40px; line-height: 40px;">我的微训</span>
        </div>
    </a>
</div>