*{ margin: 0; padding: 0; list-style: none; color: #333; font-size: 1em;font-family:Arial,'Times New Roman','Microsoft YaHei',SimHei;-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-decoration: none; }
body{ background: #f5f5f9;}

/*卡券列表*/
#cardList{position: relative; clear: both; overflow: hidden; padding: 0 4% 12px;}
#cardList li{ background: #fff; padding: 8px; position: relative; overflow: hidden; border-radius: 6px;
margin-top: 12px;}
#cardList li img.logo{ position: absolute; left: 12px;  width: 15%; border-radius: 100%;}
#cardList li dl{ padding-left: 21%;}
#cardList li dd{ color: #999; font-size: .8em; padding-top: 6px;}
#cardList li dt{ margin-bottom: 5px;}
/* #cardList li .r{ position: absolute; right: 10px; top: 0; z-index: 2; width: 15%; height: 8vh;
    padding-top: 2vh;} */
#cardList li .r img{width: 60%; display: block; float: right;}
/*首页*/
#cardList li em.r img{width: 60%; display: block; float: right;}
#cardList em.r{
    position: absolute;
    top: 10px;
    right: 0;
    background: #ffb500;
    padding: 0 15px;
    border-radius: 15px 0 0 15px;
    color: #fff;
    height: 30px; font-style: normal; min-width: 90px;
    line-height: 30px; }
#cardList em.r i{display: inline-block;width: 23px;height: 18px;float: left;margin-right: 5px;margin-top: 5px; background: url(../imgs/editCard4.png);background-size: 100% 100%;}
/* #cardList a.chooseAgain{    display: block;
    position: absolute;
    background: #ffb500;
    border-radius: 15px 0 0 15px;
    color: #fff;
    height: 30px;
    font-style: normal;
    line-height: 30px;
    right: 0;
    top: 10px;
    min-width: 90px;
    padding: 0 15px;
    z-index: 999;
}} */

 /*卡面编辑*/
.titleS{margin: 30px 4% 0;color: #333;}

#addCard{ border: 1px dashed #999; text-align: center; padding: 22px 0; margin: 12px 4%; border-radius: 6px; position: relative;}
#addCard a{ display: block;}
#addCard a:hover{-webkit-tap-highlight-color: transparent;}

.giveBtn{ clear: both; width: 92%; margin: 4px auto; background: #ffb500; font-size: 1.1em; line-height: 40px;
text-align: center; border-radius: 20px; color: #fff;}
.giveBtn a{ color: #fff; display: block;}
.giveBtn.blue{ background: #4383a1;}
.giveBtn b{color: #fff;line-height: 40px;height: 40px;display: inline-block;}

/*卡面文字*/
.cardImg{ height: .33vh; min-height: 170px; margin: 12px 4% 0; position: relative; border-radius: 6px;}
.cardImg img.banner{ width: 100%; height: 100%; border-radius: 6px;}
.cardImg img.banner.receiveBanner{border-radius: 6px 6px 0 0;}

.cardImg ul{position: absolute;top: 10px;right: 0;}
.cardImg ul li{background: #ffb500;margin-bottom: 10px;padding: 0 15px;border-radius: 15px 0 0 15px;color: #fff;height: 30px;
line-height: 30px; position: relative;}
.cardImg ul li.chooseModal a{color: #fff;}
.cardImg ul li i{display: inline-block;width: 18px;height: 18px;float: left;margin-right: 10px;margin-top: 6px; }
.cardImg ul li.chooseModal i{background: url(../imgs/editCard2.png);background-size: 100% 100%;}
.cardImg ul li.uploadCard i{background: url(../imgs/editCard3.png);background-size: 100% 100%;}

.cardImg li input[type="file"].updateFile{ position: absolute; top: 0; right: 0; height: 30px;
z-index: 100; opacity: 0;}
.cardInfo{ clear: both; text-align: justify; background: #fff;
 padding: 14px 20px; margin: 0 4%; font-size: .8em; color: #999; position: relative;
 line-height: 17px; margin-top: 12px; border-radius: 6px; border: 1px solid #ccc;width: 80%;height: 70px;}
 .cardInfo.card_receive{ border-top-left-radius: 0; border-top-right-radius: 0; border-top: none; margin-top:0;width: auto;border: none;    box-shadow: 1px 3px 1px #e3e2e6;}
.receiveList ul{box-shadow: 0px 3px 3px #e3e2e6;border-radius: 6px;}
.giveDet{width: auto;border: none;box-shadow: 0px 3px 3px #e3e2e6;    border-radius: 0 0 6px 6px;margin-top: 0;}
.giveImg img.banner{border-radius: 6px 6px 0 0;}
/*选择模板*/
.temp_banner{  min-height: 180px; position: relative; overflow: hidden;}
.temp_banner img{ width: 100%; }
.temp_tab{ clear: both; background: #fff; overflow: hidden;}
.temp_tab li{ float: left; width: 26%; margin-left: 4%; font-size: 1.1em; display: inline; text-align: center; height: 36px; 
line-height: 36px;}
.temp_tab li.active{ color: #29b1ff; border-bottom: 2px solid #29b1ff;}

.swiper-wrapper{ position: absolute; left: 0; top: 0; width: 100000px; overflow: hidden;}
.swiper-slide{ float: left;}
.swiper-slide a{ display: block;}

#temp_List{position: relative;}
.temp_List{ clear: both; overflow: hidden; margin-top: 14px;}
.temp_List dl{  overflow: hidden;}
.temp_List dt{ font-size: 1em; text-align: left; padding-bottom: 14px;margin-left: 4%;color: #333;}
.temp_List dd{ background: #fff; float: left; margin-left: 4%; width: 44%; border-radius: 6px; box-shadow: 1px 1px 1px #ccc; margin-bottom: 14px;}
.temp_List dd img{  width: 96%; border-top-left-radius: 6px; border-top-right-radius: 6px; height:0.25vh; min-height: 100px;padding: 2%;}
.temp_List dd span{ padding: 4px 6px 10px; display: block; color: #999; font-size: .8em}

#chooseModal{ position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: rgba(0,0,0,.6); display: none;
z-index: 100; overflow: hidden; overflow-y:scroll;}
#chooseModal.temp_List{ margin: 0; padding-top: 14px;}
#chooseModal.temp_List em{ color: #fff; text-align: center; line-height: 100px; font-style: normal;}

/*上传卡面*/
#clipBox{ position: absolute; left: 0; top: 0; background: rgba(0,0,0,.7); width: 100%; z-index: 101; display: none; height: 100%; overflow: hidden;}
#clipBox #clipArea{ height: 200px; }
#clipBox #clipBtn{ width: 100px; margin: 4px auto; background: #ffb500; font-size: 1em; line-height: 32px; 
text-align: center; border-radius: 20px; color: #fff; border: none; display: inherit;}

/*卡券详情*/
.cardDetail{ clear: both; padding:12px 0; border-bottom: 1px solid #ddd; margin:0 0 12px; overflow: hidden;}
.cardDetail dt, .cardDetail dd{ vertical-align: top; display: table-cell; min-width: 80px;line-height: 1.5;}
.cardDetail p{color: #999;line-height: 1.5;font-size: 0.9em;}

.useInfor dt{display: inline-block;}
.useInfor dd{font-size: 0.85em;line-height: 2;}

/*引导遮罩*/
.mask{ position: fixed; left: 0; top: 0; width: 100%; height: 100%; background: rgba(0,0,0,.6); text-align: right; z-index: 100;
display: none;}
.mask img{ display: block; width: 80%; margin: 0 0 0 15%;}
.markTip{position: fixed; top: 36%; text-align: center; width: 100%;}
.markTip span{ background: rgba(0,0,0,.6); display: inline-block; padding: 5px 12px 7px; border-radius: 6px; color: #fff;}

/*赠送记录*/
#giveList{position: relative; clear: both; overflow: hidden; padding: 0 4% 12px;}
#giveList li{ padding: 4px 0 12px 10px; position: relative; overflow: hidden; border-bottom: 1px solid #ddd;
margin-top: 8px; min-height: 80px;}
#giveList li img{ position: absolute; left: 12px; top: 5px; width: 36%; border-radius: 6px; height: .4vh; min-height: 80px; }
#giveList li dl{ padding-left: 44%;}
#giveList li dd{ color: #999; font-size: .8em; padding-bottom: 6px;}
#giveList li dt{ line-height: 36px;}

/*首页*/
.ps_wrap{ clear: both; font-size: .9em;}
.ps_wrap .ps_indexFixed{ position: fixed; right: 5%; top: 28%;}
.ps_wrap .ps_indexFixed a{ font-size: 1.1em; color: #ffb500; border: 1.5px solid #ffb500; border-radius: 30px; display: block; 
text-align: center; padding: 6px 0; margin-bottom: 10px; font-weight: bold;}
.ps_wrap a.r{ color: #1684c3; display: block; position: absolute; right: 5%; top: 4px;}

/*@media screen and (max-width: 321px){
	.cardImg{height: 150px;}
	.cardImg img.change{ width: 58px; position: absolute; left: 24%; top: 50%; margin-top: -29px; z-index: 99;}
	.cardImg img.update{ width: 58px; position: absolute; right: 24%; top: 50%; margin-top: -29px; z-index: 99;}
}
@media screen and (min-width: 410px){
	.cardImg{height: 190px;}
}*/

a{ text-decoration: none;}
.hide{ display: none;}
.margin14{ margin: 14px auto;}
.f999{ color: #999;}
.tc{ text-align: center;}
/* #cardList.pb60{ padding-bottom: 20px;} */
.fixedBt{position: fixed; left: 0; bottom: 0; width: 100%; z-index: 4;}


.giveHis{text-align: center;color: #005faf; margin: 0 auto;height: 40px;line-height: 30px;}
.giveHis i{vertical-align: top; display: inline-block;width: 20px;height: 20px;margin: 5px 10px 0 0; background: url(../imgs/giveHis.png);background-size: 100% 100%;}
.giveHis img{display: inline-block;width: 20px;height: 20px;margin: 5px 8px 0 0; vertical-align: top;}
.giveHis a{color: #005faf;}

.cardChoose{background: #fff;overflow: hidden;    box-shadow: 1px 1px 1px #e0dfe3;}
.cardChoose li{display: inline-block;width: 50%;float: left;text-align: center;color: #999;padding: 13px 0;}
.cardChoose li span.selected{color: #005faf;border-bottom: 3px solid #005faf;padding-bottom: 12px;padding-top: 13px;}

.cardDt{width: 95px;position: absolute;right: 0;top: 0;height: 100%;border-left: 1px dashed #ccc;text-align: center;}
.cardDt p{color: #ffb500;font-weight: bold;font-size: 1.3em;padding: 5px 0 4px 0;}
.cardDt p i img{width: 8px;margin-right: 5px;}
.cardDt p b{color: #ffb500;}
.cardDt span{background: #ffb500;color: #fff;border-radius: 15px;font-size: 0.8em;padding: 3px 0;width: 71px;display: inline-block;}

.topCircle{ width: 10px;height: 5px;border-radius: 0 0 50px 50px;position: absolute;top: 0;right: 90px;background: #f5f5f9;}
.bottomCircle{ width: 10px;height: 5px;border-radius: 50px 50px 0 0;position: absolute;bottom: 0;right: 90px;background: #f5f5f9;}

.isFree{display: none;}  
.isFree .cardDt b{font-size: 0.8em;}
.cardsDe .cardDt b{font-size: 0.8em;}

#cardList li dd:last-child{border-top: 1px dashed #ccc;}
.moneyFree{display: none;}

#giveDetail{background: #fff;margin: 0 4%;border-radius: 6px;box-shadow: 0px 3px 3px #e3e2e6;}
#giveDetail ul{padding: 20px;}
#giveDetail ul li{line-height: 1.5;color: #999;overflow: hidden;font-size: 0.8em;}
#giveDetail ul li span{color: #999;float: right;display: inline-block;width: 60%;text-align: right;}
#giveDetail ul li i{color: #999;font-style: normal;display: inline-block;width: 40%;float: left;}

.noData{margin-top: 110px;}
.noData img{display: block;margin: 0 auto 40px;width: 35%;}
.noData p{text-align: center;color: #333;line-height: 2;}
.noData span{    display: block;text-align: center; border: 2px solid #ffb500;color: #ffb500;font-weight: bold; width: 130px;padding: 3px 0;border-radius: 25px;margin: 12px auto 0;}
.noData i{font-style: normal;}

.btnParent{text-align: center;color: #005faf; margin: 0 auto;height: 40px;line-height: 30px;}
.btnParent i{vertical-align: top; display: inline-block;width: 20px;height: 20px;margin: 5px 10px 0 0; background: url(../imgs/giveHis.png);background-size: 100% 100%;}
.btnParent img{display: inline-block;width: 20px;height: 20px;margin: 5px 8px 0 0; vertical-align: top;}
.btnParent a{color: #005faf;}

.closeModal{display: block;margin: 30px auto 0;width: 13%;}

.loadingGif{display: block;margin: 20px auto;}
.loadingText{text-align: center;position: absolute;font-size: 13px; bottom: 25px;left: 50%;margin-left: -36px;color: #005faf;}
#giveList .loadingText, #cardList .loadingText{bottom: 55px;}