@charset "utf-8";
html,body { background:#e6e6e6; font-family:'PingFang SC', Arial,"Microsoft YaHei"; height:100%; width:100%; font-weight:normal;}
body { margin:0 auto; padding:0; -moz-user-select:none;-webkit-user-select:none; -ms-user-select:none; user-select:none; overflow-x:hidden;color: #4c4c4c; letter-spacing: 1.1px;}
body * {-webkit-appearance:none; -webkit-tap-highlight-color:transparent;}
dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,input,textarea,p,tr,th,td,img{ padding:0; margin:0;}
h1,h2,h3,h4,h5,h6{ font-size:100%;}
a{text-decoration: none;}
i{ font-style:normal; }
ul,ol { list-style:none; }
.wrapper {height:100%; background-color:#f2f2f2;}
.wrapper .music,.wrapper .video,.wrapper .pic {box-sizing:border-box; margin:.1rem 0; width:100%;}
.wrapper img { max-width:100%;}
.swiper-container { height:100%;}
.questArea-con{box-sizing:border-box; height:100%; padding:0.2rem 0 0 0.2rem;}
.questArea .areaCon{ height:100%; padding-right:0.2rem; overflow-y:auto; }
.answerArea {height:4.5rem; position:relative; z-index:10; background-color:#e6e6e6; box-shadow:0 0 0.05rem #d9d9d8; border-top:1px solid #ccc;}
.wrapArea { box-sizing:border-box; padding-top:.2rem; height:100%; border:none; box-shadow:none; }
.wrapArea .answerCon{  overflow-y:auto; }
.answerCon { height:100%;}
.toggleBox {position:relative; height:0; font-size:0;}
.toggleBox .btn {position:absolute; left:0; bottom:0; width:100%; height:0.7rem;}
.toggleBox .btn:after { position:absolute; left:50%; bottom:0; margin-left:-1.4rem; width:2.8rem; content:''; height:0.4rem; background:url(../images/i_toggle.png) #d9d9d9 no-repeat 50% 50%; background-size:0.45rem auto; border-radius:0.1rem 0.1rem 0 0; }

/*questArea*/
.questArea .areaCon .t{ padding:0.06rem 0; height:0.36rem; line-height:0.36rem; color:#4c4c4c; font-size:0.3rem; font-weight:normal;}
.questArea .areaCon .num,.answerCon .num { color:#19b200; margin-right:0.1rem; }
.questArea .areaCon .t .levelBg,.questArea .areaCon .t .level{ display:inline-block; vertical-align:top; font-size:0; height:0.36rem;}
.questArea .areaCon .t .levelBg { margin-left:0.1rem; width:1.8rem; }
.questArea .areaCon .t .level { background:url(../images/i_star.png) 0 50%; background-size:0.36rem auto; }
.questArea .areaCon .info { padding-bottom:0.4rem; font-size:0.36rem; line-height:1.5; color:#4c4c4c; }
.questArea .areaCon .blank,.answerCon .blank { display:inline-block; width:0.9rem; vertical-align:middle; height:0.48rem; line-height:0.48rem; font-size:0.3rem; border-bottom:1px solid #4c4c4c; text-align:center; }

/*answerArea*/
.answerCon .swiper-slide { height:100%; overflow-y:auto;}
.answerCon .tBar { box-sizing:border-box; padding:0 0.2rem; height:0.95rem; line-height:0.95rem; font-size:0.3rem; color:#4c4c4c; background-color:#fff;}
.answerCon .tBar .t{ float:left; font-weight:normal; }
.answerCon .tBar .pageArea { float:right; }
.answerCon .tBar .pageArea .pageIndex{ color:#19b200; font-size:0.48rem; }
.answerCon .info { box-sizing:border-box; padding:0.2rem .2rem 0; line-height:1.5; font-size:0.36rem; }
.answerCon .optList { padding-top:0.2rem; }
.answerCon .optList li { box-sizing:border-box; padding:.3rem 0.2rem 0.3rem 0.95rem; min-height:0.56rem; line-height:0.56rem; font-size:0.3rem;}
.answerCon .optList li .opt {float:left; box-sizing:border-box; margin-left:-0.75rem; width:0.56rem; height:0.56rem; text-align:center; color:#ee9a16; border:1px solid #ee9a16; background-color:#fff; border-radius:50%;}
.answerCon .optList li .opt.check { border-radius:0.1rem; }
.answerCon .optList li.curr .opt{ background-color:#ee9a16; color:#fff;}
.answerCon .optList li .opt.false {background-image:url(../images/i_false.png); background-repeat:no-repeat; background-size:100% 100%;}
.answerCon .optList li.curr .opt.false {background-image:url(../images/i_false_curr.png);}
.answerCon .optList li .opt.true {background-image:url(../images/i_true.png); background-repeat:no-repeat; background-size:100% 100%;}
.answerCon .optList li.curr .opt.true {background-image:url(../images/i_true_curr.png);}
.answerCon .optList li.hover { background-color:#ddd; }
.answerCon .txtBox { margin:0.5rem 0.2rem 0.2rem; }
.answerCon .txtBox .txtArea { box-sizing:border-box; padding:0.1rem; width:100%; height:2.0rem; outline:none; font-size:0.3rem; line-height:1.5; border-radius:0.1rem; border:1px solid #19b200; background:none; }

.cloze-answer-rg{font-size:0.25rem;color:#808080;}
.cloze-answer-rg span{color:#19b200;font-size:0.25rem;margin:0 0.1rem;}
.sort-content{position:relative; border-top:1px solid #EAE8E8; padding-bottom:.2rem; margin-top:0.2rem;}
.online-answer-item{clear:both;padding-left:0.55rem;padding-top:0.2rem;}
.topic img{height:auto;max-width:85%}
.answer-list img{width: 2.5rem;height:auto;}
.writing-content_text{position:relative;}
.choice-mark{width:1rem; position:absolute; right:43%; top:-0.15rem; padding-right:.2rem; background:#f2f2f2; text-align:center;}

.expain { padding:.2rem;}
.expain .expBtn { display:inline-block; height:.4rem; line-height:.4rem; padding:0 .2rem; text-decoration:none; text-align:center; font-size:.24rem; color:#4c4c4c; background:#ccc; border-radius:.15rem;}
.finish {
    padding: 0rem 0.2rem;
    margin-bottom: 0.5rem;
}
.finish-btn {
    width: 100%;
    height: 0.8rem;
    line-height: 0.8rem;
    border-radius: 0.15rem;
    background: #19b200;
    color: #fff;
    font-size: 0.36rem;
    text-align: center;
    display: block;
}
.hand img{
    width:2rem;height: auto;
}
.hand{margin-top: 80%;margin-left: 60%;}


/* 新增 */
.after-answer-title{/*margin-left:0.8rem;*/overflow: hidden;margin-bottom: 0.1rem;margin-top:0.4rem;}
.after-answer-title img{width: 0.35rem;height: auto;vertical-align: middle;margin-right: 0.2rem;}
.after-answer-title span{font-size: 0.35rem;color: #ff0000;}

.answerCon .optList li.mistake .opt{ background-color:#19b200; color:#fff;border: 1px solid #19b200;}
.answerCon .optList li.correct .opt{ background-color:#ff0000; color:#fff;border: 1px solid #ff0000;}
.reference-answer {
    padding: 0.2rem 0.2rem;
}

.reference-answer_t span {
    font-size: 0.28rem;
    color: #19b200;
    line-height: 0.4rem;
    margin-top: 0.1rem;
    display:inherit;
}
.reference-answer_t, .reference-answer_r {
    font-size: 0.35rem;
    color: #4c4c4c;
    margin-bottom: 0.08rem;
}
.reference-answer_p {
    font-size: 0.28rem;
    color: #4c4c4c;
    margin-top: 0.1rem;
}
.reference-answer_m img {
    width: 85%;
    height: auto;
    margin-left: 0.5rem;
    margin-top: 0.1rem;
    margin-bottom: 0.2rem;
}
.mb3{margin-bottom: 0.3rem;}

.cloze-figure {
    display: inline-block;
    width: 1rem;
    border-bottom: 1px solid #4c4c4c;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    text-align: center;
}

