<div class="page" ng-controller="habitsRecordsController">
    <div class="page-header" style="background:#f60;">
        <div style="color: #fff; font-size: 20px; padding: 10px 0;  text-align: center;">{{data.title}}</div>
    </div>
    <div class="page__bd">
        <div class="habit-records-modele" ng-if="data.modele==0">
            <div class="habit-records-modele_a">
                <!-- 状态为0：打卡 -->
                <div  ng-if="data.card.state==0">

                    <div class="habit-records-signwrap" style="padding-top:15px; padding-bottom:15px;">
                        <div style="width:70%;" check-member-hibit-punch="{{memberInfo.state}}" >
                            <img style="width:100%;"  src="./imgs/gardenia/sign_btn_{{data.card.state}}.png" />
                        </div>

                        <!--
                        <view class="circleProgress_wrapper">
                            <view class="wrapper right">
                                <view class="circleProgress rightcircle {{btnPress ? 'circleProgressLoad_right':''}}"></view>
                            </view>
                            <view class="wrapper left">
                                <view class="circleProgress leftcircle {{btnPress ? 'circleProgressLoad_left':''}}"></view>
                            </view>
                        </view>
                        -->
                    </div>
                </div>
                <!-- 状态为1：已打卡 -->
                <div ng-if="data.card.state==1">
                    <div class="habit-records-signwrap" style="padding-top:15px; padding-bottom:15px;">
                        <div style="width:70%;" >
                            <img style="width:100%;" src="./imgs/gardenia/sign_btn_2.png" />
                        </div>
                    </div>
                </div>
                <div class="weui-flex habit-records-signwrap">
                    <div class="weui-flex__item" style="text-align: center">
                        <button ng-if="data.card.state==0" type="button" class="weui-btn weui-btn_mini weui-btn_disabled">记录一下</button>
                        <button ng-if="data.card.state==1" type="button" check-member-hibit-record="{{memberInfo.state}}"  class="weui-btn weui-btn_mini weui-btn_default habit-records-write">记录一下</button>
                    </div>
                    <div class="weui-flex__item" style="text-align: center">
                        <button type="button" se-show-share  class="weui-btn weui-btn_mini habit-records-write">分享习惯</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="habit-records-modele " ng-if="data.modele==1">
            <div class="model">
                <form bindsubmit="addDetail">
                    <div style="padding:15px 10px;">
                        <textarea se-habit-records-validate-minLength="" class="weui-textarea" style="height:150px;" placeholder="说说你的心路历程" maxlength="300"  ng-model="data.notes"   name="notes"></textarea>
                    </div>
                    <div style="padding:15px 10px;">
                        <div class="weui-flex ">
                            <div class="weui-flex__item" style="text-align:left;color:#aaa;">
                                <div ng-click ="selectImg()"   class="fa fa-camera fa-2x"></div>
                            </div>
                            <div class="weui-flex__item" style="text-align: right;padding-right:15px;">
                                <button type="button" ng-click="submitRecord()"
                                        ng-class="{true:'habit-records-write',false:'weui-btn_disabled'}[data.minLenght>0]"
                                        class="weui-btn weui-btn_mini"> 提交 </button>
                                <span style="padding:0 5px"></span>
                                <button ng-click="cancelRecord()" type="button" class="weui-btn weui-btn_mini weui-btn_warn"> 取消 </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
