<div class="page" ng-controller="habitsController">
    <div class="page__bd">
        <div class="weui-flex" ng-repeat="row in habits">
            <div class="weui-flex__item" ng-repeat="column in row">
                <div class="habits-placeholder" ng-if="column.id!=0" ng-click="selectHabit(column.id)" >
                    <div class="weui-article" style="padding-left:0;padding-right:0;">
                        <div><img src="{{column.imgurl}}" style="width:100%;" />
                            <div class="habits-title_wrap">
                                <div class="title">{{column.title}}</div>
                                <div class="desc">{{column.join_num}}人加入</div>
                                <div class="plus fa fa-plus"></div>
                            </div>
                        </div>
                    </div>
                </div >
            </div>
        </div>
    </div>
</div>