html, body {
	height: 100%;
	width:100%;
	margin: 0;
	padding: 0;
}
html {
	font-size:14px;
	color:#ffffff;
	font-family: Microsoft YaHei;
    -webkit-text-size-adjust: 100% !important;
    text-size-adjust: 100% !important;
    -moz-text-size-adjust: 100% !important;
    -webkit-user-select: none; /*webkit浏览器*/
    user-select: none;
    -webkit-tap-highlight-color:transparent;
    }
#AMapContainer {
	width: 100%;
	height: 100%;
	position: absolute;
}
.amap-logo, .amap-copyright {
	display: none !important;
}

#hotelIntro {
	line-height: 20px;
}
.ellipsis * {
	overflow: hidden !important;
	text-overflow: ellipsis !important;
	white-space: nowrap !important;
	display: block !important;
}

#activityInfoBox {
	line-height: 22px;
	color: #292929 !important;
}

#welcome {
	z-index: 999999;
}

/*全国marker*/
.countryMBox {
	display: inline-block;
	position: relative;
	height: 39px;
	width: auto;
}
/*全国marker*/
.countryM {
    display: table;
	height: 30px;
	border-radius: 15px;
	background: #4A90E2;
	padding: 0 4px 0 10px;
	font-size: 0;
	box-shadow: 0 0 2px 0 rgba(0,0,0,0.14), 0 2px 2px 0 rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.20);
}
.countryM span {
	display: table-cell;
	vertical-align: top;
	height: 28px;
	line-height: 30px;
	margin-top: -1px;
	color: #ffffff;
	font-size: 12px;
	max-width: 84px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.countryM b {
    display: table-cell;
    vertical-align: top;
    text-align: center;
    color: #ffffff;
    font-size: 12px;
}
.countryM b i {
    background: #2F7EDB;
    width: 26px;
    height: 26px;
    line-height: 24px;
    border-radius: 50%;
    font-weight: normal;
    font-style: normal;
    margin: 2px 0 0 4px;
    display: block;
}

.marker_arrow {
	background: url("../Home.bundle/images/map/marker_arrow.png") no-repeat;
	background-size:100% 100%;
    display: block;
    width: 10px;
    height: 9px;
    margin-left: 10px;
    margin-top: -1px;
}

/*my marker*/
.myMapMarker {
    background: url("../Home.bundle/images/map/location.png") no-repeat;
    background-size:100% 100%;
    width: 20px;
    height: 24px;
    transform-origin:10px 14px;
    -webkit-transform-origin:10px 14px;
    -moz-transform-origin:10px 14px;
    -ms-transform-origin:10px 14px;
    -o-transform-origin:10px 14px;
}

/*城市页marker样式*/
.city_marker {
    background: url("../Home.bundle/images/map/marker.png") no-repeat;
    background-size:100% 100%;
    width: 32px;
    height: 34px;
}
.city_marker_active {
    background: url("../Home.bundle/images/map/marker_active.png") no-repeat;
    background-size:100% 100%;
    width: 42px;
    height: 45px;
}

.trump-control-bottom{
    zoom:1 !important;
}
.trump-play-controller{
    zoom:1 !important;
}
.trump-play-controller *{
    opacity: 0;
}
.trump-play-controller{
    background: url("../Home.bundle/images/btn_play.png") no-repeat center center/42px 42px;
}

.marker_bed {
    background: url("../Home.bundle/images/map/marker_bed.png") no-repeat;
    background-size:100% 100%;
    width: 32px;
    height: 34px;
}
.marker_bed_active {
    background: url("../Home.bundle/images/map/marker_bed_active.png") no-repeat;
    background-size:100% 100%;
    width: 42px;
    height: 45px;
}

.marker_entertainment {
    background: url("../Home.bundle/images/map/marker_entertainment.png") no-repeat;
    background-size:100% 100%;
    width: 32px;
    height: 34px;
}
.marker_entertainment_active {
    background: url("../Home.bundle/images/map/marker_entertainment_active.png") no-repeat;
    background-size:100% 100%;
    width: 42px;
    height: 45px;
}

.marker_fondation {
    background: url("../Home.bundle/images/map/marker_fondation.png") no-repeat;
    background-size:100% 100%;
    width: 32px;
    height: 34px;
}
.marker_fondation_active {
    background: url("../Home.bundle/images/map/marker_fondation_active.png") no-repeat;
    background-size:100% 100%;
    width: 42px;
    height: 45px;
}

.marker_jd {
    background: url("../Home.bundle/images/map/marker_jd.png") no-repeat;
    background-size:100% 100%;
    width: 32px;
    height: 34px;
}
.marker_jd_active {
    background: url("../Home.bundle/images/map/marker_jd_active.png") no-repeat;
    background-size:100% 100%;
    width: 42px;
    height: 45px;
}

.marker_restround {
    background: url("../Home.bundle/images/map/marker_restround.png") no-repeat;
    background-size:100% 100%;
    width: 32px;
    height: 34px;
}
.marker_restround_active {
    background: url("../Home.bundle/images/map/marker_restround_active.png") no-repeat;
    background-size:100% 100%;
    width: 42px;
    height: 45px;
}

.marker_shopping {
    background: url("../Home.bundle/images/map/marker_shopping.png") no-repeat;
    background-size:100% 100%;
    width: 32px;
    height: 34px;
}
.marker_shopping_active {
    background: url("../Home.bundle/images/map/marker_shopping_active.png") no-repeat;
    background-size:100% 100%;
    width: 42px;
    height: 45px;
}

.curHotelMarker {
    background: url("../Home.bundle/images/map/curHotelMarker.png") no-repeat;
    background-size:100% 100%;
    width: 32px;
    height: 34px;
}
.curHotelMarker_active {
    background: url("../Home.bundle/images/map/curHotelMarker.png") no-repeat;
    background-size:100% 100%;
    width: 42px;
    height: 45px;
}

/*地图marker样式*/
.markerAddress {
  width: 270px;
  padding: 10px;
  background-color: #fff;
  border: 2px solid #FFFFFF;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.30), 0 0 6px 0 rgba(0, 0, 0, 0.19);
  position: absolute;
  bottom: 48px;
  left: -115px;
}
.spotsName {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  color: #666;
  height: 14px;
  line-height: 14px;
  white-space: nowrap;
  margin: 10px 0;
}
.dressDown {
  margin-left: 117px;
}
.markerAddress span {
  font-size: 14px;
  color: #4A90E2;
}
.markerAddress:after, .markerAddress:before{
  border: solid transparent;
  content: ' ';
  height: 0;
  top: 100%;
  position: absolute;
  width: 0;
}
.markerAddress:after{
  border-width: 9px;
  border-top-color: #fff;
  left: 125px;
}
.markerAddress:before{
  border-width: 10px;
  border-top-color: #333;
  left: 124px;
  opacity: 0.15;
  margin-top: 2px;
}
.outerBorder {
  border: 2px solid rgba(241,90,63,0.76);
  box-shadow: 0 0 6px 0 rgba(241,90,63,0.81), 0 0 2px 0 rgba(0,0,0,0.30), 0 0 6px 0 rgba(0,0,0,0.19);
  height: 34px;
  width: 34px;
  border-radius: 20px;
  margin: 10px auto;
}
.markerCount{
  background: #54ADDA;
  border: 2px solid #FFFFFF;
  /* border: 2px solid rgba(241,90,63,0.76); */
  /* box-shadow: 0 0 6px 0 rgba(241,90,63,0.81), 0 0 2px 0 rgba(0,0,0,0.30), 0 0 6px 0 rgba(0,0,0,0.19); */
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 20px;
  color: #fff;
  margin: 0 auto;
}


/*文字图标样式*/
@font-face {font-family: "iconfont";
  src: url('../assets/iconfont/iconfont.eot?t=1499843529753'); /* IE9*/
  src: url('../assets/iconfont/iconfont.eot?t=1499843529753#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../assets/iconfont/iconfont.woff?t=1499843529753') format('woff'), /* chrome, firefox */
  url('../assets/iconfont/iconfont.ttf?t=1499843529753') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../assets/iconfont/iconfont.svg?t=1499843529753#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:18px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-address:before {content: "\e615"; }

