# Cache and logs

# Parameters

# Private project files
secret/

# Assets and user uploads

# Backup files
*.swp
*.bak

# ignore some test files

# tmplog
logs/
*.log

# Distribution files
distribute/

# Config fils
