body{
    /*overflow: hidden;*/
}
.storehead{
    border-bottom: 2px solid #000;
}
.backg{
    background-color:#DED9DE
}
.storehead span{
    display: inline-block;
    width: 10%;
    border:1px solid #000;
    margin-bottom:10px; 
    margin-left: 20px;
    text-align: center;
    height: 60px;
    line-height: 60px;
}
.child{
    margin: 10px 0;
    margin-left: 30px;
}
.searchList,.searchGradeList,.searchcoachList {
    list-style: none;
    border: 1px solid #ccc;
    width: 152px;
    margin-left: 74px;
    text-align: center;
    padding: 0;
}
.searchcoachList{
    margin-left: 46px;
}
.toolsContent {
    list-style: none;
    border: 1px solid #ccc;
    width: 152px;
    margin-left: 119px;
    text-align: center;
    padding: 0;
}
.searchList li,.toolsContent li,.searchGradeList li,.searchcoachList li{
    width: 100%;
}
table{
    width: 90%;
}
table td {
    border: 1px solid black;
    height: 40px;
    /*width: 3%;*/
    text-align: center;
    line-height: 40px;
}
table td input{
    display: block;
    border:none;
    width: 100%;
    line-height: 40px;
    text-align: center;
}
.createArea{
    border:1px solid #ccc;
    width:400px;
    min-height: 200px;
}
.createArea div{
    float: left;
    border:1px solid #666;
    margin-left: 20px;
    margin-top: 10px;
}