@charset "utf-8";
body{
    font-size: 1rem;
    /*font-family:'黑体', PingFang, serif;*/
}
/*开售状态*/
.sale {
    position: fixed;
    bottom: -0.0625rem;
    width:100%;
    z-index: 998;
    line-height: 3.125rem;
    height: 3.125rem;
}
.sale .service{
    width: 3.75rem;
    position: absolute;
    z-index: 999;
    background-color: #fff;
    text-align: center;
}
.sale .service img{
    width: 1.625rem;
}
.sale .service2{
    width: 3.75rem;
    position: absolute;
    z-index: 999;
    background-color: #fff;
    text-align: center;
}
.sale .service2 img{
    width: 5.72rem;
}
.sale .state{
    width:100%;
    padding-left:3.75rem;
    font-size: 1.125rem;
    color: #fff;
    text-align: center;
}
.sale .state span{
    display: block;
}

.sale .state1{
    background-color: #2BBC82;
}
.sale .state2{
    background-color: #2BBC82;
}
.sale .state3{
    background-color: #74DAAD;
}
.sale .state4{
    background-color: #74DAAD;
}
.sale .state5{
    background-color: #15BCB1;
}

.desc .run{
    border-top: 0.15625rem solid #f2f2f2;
    width: 100%;
}
/*轮播图*/
.swiper-container{
    width: 100%;
    /*background-color: #bfa;*/
}
.swiper-container img{
    width: 100%;
}
.swiper-container .swiper-pagination{
    bottom: 0.3125rem;
}
.swiper-container .swiper-pagination .swiper-pagination-bullet{
    background: #fff;
    transform: scale(0.75);
    -webkit-transform: scale(0.75);
    opacity: 0.5;
}
.swiper-container .swiper-pagination .swiper-pagination-bullet-active{
    opacity: 1;
}
/*产品状态*/
.info{
    position: relative;
    /*color: #fff;*/
}
.info .infoLeft{
    position: absolute;
    width: 14.25rem;
    background-color: #eafaf9;
    font-size: 1.125rem;
    padding-left: 1.5rem;
    height: 2.8125rem;
    line-height: 2.8125rem;
    z-index: 99;
}
.info .infoLeft .new-priceBox{
    color: #30c1b7;
    height: 2.8125rem;
    line-height: 2.8125rem;
}
.info .infoLeft .new-price{
    font-size: 2rem;
    /*line-height:1rem;*/
    vertical-align: -0.14rem;
}
.info .infoLeft .old-price{
    display: inline-block;
    color: #33d0c5;
    font-size: 0.875rem;
    padding-left:0.625rem;
    /*text-decoration: line-through;*/
}
.info .infoLeft .old-price2{
    text-decoration: line-through;
}
.info .infoRight{
    height: 2.8125rem;
    width:100%;
    padding-left: 14.25rem;
    background-color: #f5fdfc;
    text-align: center;
    overflow: hidden;
}
.info .infoRight .status{
    position: relative;
}
.info .infoRight .status img{
    width: 0.5rem;
    position: absolute;
    left: 7.875rem;
    top: 1.375rem;
}
.info .infoRight .status .num{
    padding: 0 0.1875rem;
}
.info .infoRight .status .kuCun{
    font-size: 0.875rem;
    padding-top:0.1875rem;
    /*padding:0.3125rem 0 0.0625rem 0;*/
    /*text-align: left;*/
}
.info .infoRight .status .num2{
    padding: 0 0.375rem;
}
.info .infoRight .status .data{
    font-size: 0.75rem;
    color: #30c1b7;
    /*text-align: left;*/
    /*padding-left:1.25rem;*/
    /*padding-right: 1.375rem;*/
    /*padding-left:1.3125rem;*/
}
.info .infoRight .status .data .time{
    display: inline-block;
    width: 0.9375rem;
    height: 0.9375rem;
    line-height:0.9375rem;
    background-color: #30c1b7;
    border-radius: 0.1875rem;
    /*margin: 0 0.125rem;*/
    text-align: center;
    color: #fff;
}
/*.info .infoRight .status .data .first{
    margin-left: 0.3125rem;
}*/

.info .status2{
    line-height:2.8125rem;
    font-size: 1.25rem;
    height: 2.8125rem;
}
.info .status3{
    line-height:2.8125rem;
}
.info .status4{
}
.info .status4 .nextTime{
    font-size: 0.9375rem;
    line-height:2.8125rem;
    height: 2.8125rem;
    /*padding-top: 0.5rem;*/
}

.info .infoRight .status .data .add{
    display: inline-block;
    /*width:5.625rem;*/
    height:0.9375rem;
    line-height:0.9375rem;
    /*line-height:0.89rem;*/
    background-color: #30c1b7;
    border-radius: 0.1875rem;
    margin: 0 0.0625rem;
    text-align: center;
    color: #fff;
}
/*产品描述*/
.desc .desc1{
    padding: 1.5rem 0;
    /*background:url("../image/productDetails/bg.png") no-repeat;
    background-size: 5.3125rem 5.3125rem;
    !*background-position: 18.75rem 2.25rem;*!
    background-position: 104% 50%;*/
    /*border-bottom: 1px solid #d9d9d9;*/
    text-align: justify;
}
.desc .desc1 .content{
    padding: 0 1.375rem;
}
.desc .desc1 h3{
    font-weight: bold;
    font-size: 1.125rem;
    line-height:1.425rem;
}
.desc .desc1 .begin{
    color: #a1a1a1;
    font-size: 0.75rem;
    padding-top:0.3125rem;
    padding-bottom:0.875rem;
    border-bottom:1px solid #f3f7fa;
}
.desc .desc1 .notice{
    font-size: 0.75rem;
    color: #a1a1a1;
    padding-top:0.875rem;
}
.desc .desc2{
    padding: 1.375rem 1.5rem;
    background-color: #fffef6;
    border-top: 0.15625rem solid #f2f2f2;
    text-align: justify;
    border-bottom: 1px solid #d9d9d9;
}
.desc .desc2 .left{
    /*padding-right:6.25rem;*/
}
.desc .desc2 .right{
    text-align: right;
    padding-top:0.6875rem;
}
.desc .desc2 .right img{
    width: 3.9375rem;
}
.desc .desc2 h3{
    font-weight: bold;
}
.desc .desc2 .tehui{
    padding-top: 1.25rem;
}
.desc .desc2 .red{
    color: #e51852;
}
/*选择燃脂营*/
.choose h2{
    width: 100%;
    height: 5.625rem;
    line-height:5.625rem;
    background-color: #f81a59;
    color: #fff;
    font-size: 1.4375rem;
    text-align: center;
}
.choose .tip{
    padding: 2.8125rem 1.5rem 0 1.5rem;
}
.choose .tip img{
    width: 2.1875rem;
}
.choose .tip p{
    font-size: 0.875rem;
    text-align: justify;
    padding-top: 0.8125rem;
}
.choose .tip .first{
    letter-spacing: -0.03rem;
}
.choose .tip .common{
    position: relative;
    font-weight:bold;
    background-size: 2.1875rem;
}
.choose .tip .color1{
    color: #f81a59;
}
.choose .tip .color2{
    color: #fb5f21;
}
.choose .tip span{
    position: absolute;
    bottom: 0;
    text-indent: -1.25rem;
}
.choose .run2{
    padding-top: 2.8125rem;
    width: 100%;
    display: block;
}
.choose .run3{
    width: 100%;
    display: block;
}
/*优秀学员*/
.shows h2{
    width: 100%;
    height: 5.625rem;
    line-height:5.625rem;
    background-color: #f81a59;
    color: #fff;
    font-size: 1.4375rem;
    text-align: center;
}
.shows img{
    width: 100%;
}
/*购买流程*/
.buy h2{
    width: 100%;
    height: 5.625rem;
    line-height:5.625rem;
    background-color: #f81a59;
    color: #fff;
    font-size: 1.4375rem;
    text-align: center;
}
.buy img{
    width: 100%;
    padding-bottom: 3.0625rem;
}

/*弹出框*/
.alertBox{
}
.alertBox .alerts{
    width: 18.75rem;
    /*height: 6.25rem;*/
    position: fixed;
    top: 13.375rem;
    left: 50%;
    margin-left:-9.375rem;
    z-index: 100;
    background-color: rgba(0,0,0,.6);
    text-align: center;
    border-radius: 0.625rem;
    color: #fff;
    font-size: 1.0625rem;
    padding: 1.875rem 1.625rem;
}
.alertBox .oneLine{
    line-height: 2.5rem;
}
.alertBox .alerts2{

}
.alertBox .alerts2 .bg{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.7;
}
.alertBox .alerts2 .appOuter{
    width: 20.3125rem;
    /*height: 20.8125rem;*/
    position: fixed;
    z-index: 1000;
    top: 6.0625rem;
    background-color: #fff;
    left: 50%;
    margin-left:-10.15625rem;
    padding: 1.5625rem;
    font-size: 1.0625rem;
    border-radius: 0.25rem;
}
.alertBox .alerts2 .appOuter h3{
    float: left;
    font-weight: bold;
}
.alertBox .alerts2 .appOuter img{
    width: 0.9375rem;
    float: right;
}
.alertBox .alerts2 .appOuter .text1{
    clear: both;
    padding: 1.4375rem 0 0.6875rem 0;
}
.alertBox .alerts2 .appOuter .text2{
    clear: both;
    text-align: justify;
    padding: 1.9375rem 1.5625rem 1.3125rem 1.5625rem;
}
.alertBox .alerts2 .appOuter .form{
    font-size: 0.9375rem;
}
.alertBox .alerts2 .appOuter .input1{
    width: 12.4375rem;
}
.alertBox .alerts2 .appOuter .input2{
    width: 10.5625rem;
}
.alertBox .alerts2 .appOuter .inputs{
    outline: none;
    border: none;
    border-bottom: 0.125rem solid #e5e5e5;
    margin-top: 1.4375rem;
    padding-bottom: 0.28125rem;
}
.alertBox .alerts2 .appOuter .label1{
    width: 4.6875rem;
}
.alertBox .alerts2 .appOuter .label2{
    width: 6.625rem;
}
.alertBox .alerts2 .appOuter button{
    width: 100%;
    outline: none;
    border: none;
    background-color: #e9b939;
    margin: 1.875rem 0.0625rem 0 0.0625rem;
    height: 2.5rem;
    line-height: 2.5rem;
    border-radius: 0.25rem;
    color: #fff;
}
.alertBox .alerts2 .appOuter .isUpdate{
    border-top: 0.125rem solid #e5e5e5;
    text-align: center;
    height: 2.8125rem;
    line-height: 2.8125rem;
}
.alertBox .alerts2 .appOuter .know{
    border-top: 0.125rem solid #e5e5e5;
    text-align: center;
    height: 2.8125rem;
    line-height: 2.8125rem;
}
.alertBox .alerts2 .appOuter .forSelf{
    border-top: 0.125rem solid #e5e5e5;
    /*border-right: 0.125rem solid #e5e5e5;*/
    text-align: center;
    height: 2.8125rem;
    line-height: 2.8125rem;
}
.alertBox .alerts2 .appOuter .cancel{
    border-right: 0.125rem solid #e5e5e5;
    /*color: #1daffa;*/
}
.alertBox .alerts2 .appOuter .knowInner{
    border-right: 0.125rem solid #e5e5e5;
    color: #1daffa;
}
.alertBox .alerts2 .appOuter .forSelfInner{
    border-right: 0.125rem solid #e5e5e5;
    color: #1daffa;
}
.alertBox .alerts2 .appOuter .updata{
    color: #1daffa;
}
.alertBox .alerts2 .version {
    /*height: 10.5625rem;*/
    top: 11.25rem;
    padding: 0;
    overflow: hidden;
}

.tabToggle{
    /*background-color: fuchsia;*/
    text-align: center;
    font-size: 1.0625rem;
    border-top:0.3125rem solid #edf3f7;

}
.tabToggle .leftTab{
    padding: 0.875rem 0 0.75rem;
}
.tabToggle .leftTab span{
    border-right: 1px solid #e5e5e5;
    width:100%;
}
.tabToggle .rightTab{
    padding: 0.875rem 0 0.75rem;
}
.tabActive{
    color: #00bfb3;
    border-bottom: 0.125rem solid #00bfb3;
}

.comments .commentDetail{
    width:100%;
}
.detailOrComment{
    padding-bottom:3.0625rem;
}

/*couponSale*/
.couponSale{
    position: relative;
}
/*.couponSale .introduce{
    width:100%;
    margin-bottom:3.125rem;
}*/
.huoDong{
    position: fixed;
    bottom: 0;
    line-height: 3.125rem;
    height: 3.125rem;
    text-align: center;
    color: #fff;
    width: 100%;
    /*padding-bottom:20px;*/
}
.hdService{
     /*width: 3.75rem;*/
     background-color: #fff;
     padding-bottom: 0.0625rem;
 }
.hdService img{
    width: 1.625rem;
}
.hdService2{
    /*width: 3.75rem;*/
    background-color: #fff;
    padding-bottom: 0.0625rem;
}
.hdService2 img{
    width: 5.72rem;
}
.hdBtn{
    /*width:19.6875rem;*/
    background-color: #15BCB1;
    padding-bottom: 0.0625rem;
}

/*alertBox2*/
.alertBox2{
}

.alertBox2 .hdAlerts{
    width: 18.75rem;
    /*height: 6.25rem;*/
    position: fixed;
    top: 13.375rem;
    left: 50%;
    margin-left:-9.375rem;
    z-index: 100;
    background-color: rgba(0,0,0,.6);
    text-align: center;
    border-radius: 0.625rem;
    color: #fff;
    font-size: 1.0625rem;
    padding: 1.875rem 1.625rem;
}
.alertBox2 .oneLine{
    line-height: 2.5rem;
}


.alertBox2 .hdAlerts2{

}
.alertBox2 .hdAlerts2 .bg{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.7;
}
.alertBox2 .hdAlerts2 .appOuter{
    width: 20.3125rem;
    /*height: 20.8125rem;*/
    position: fixed;
    z-index: 1000;
    top: 6.0625rem;
    background-color: #fff;
    left: 50%;
    margin-left:-10.15625rem;
    padding: 1.5625rem;
    font-size: 1.0625rem;
    border-radius: 0.25rem;
}
.alertBox2 .hdAlerts2 .appOuter h3{
    float: left;
    font-weight: bold;
}
.alertBox2 .hdAlerts2 .appOuter img{
    width: 0.9375rem;
    float: right;
}
.alertBox2 .hdAlerts2 .appOuter .text1{
    clear: both;
    padding: 1.4375rem 0 0.6875rem 0;
}
.alertBox2 .hdAlerts2 .appOuter .text2{
    clear: both;
    text-align: justify;
    padding: 1.9375rem 1.5625rem 1.3125rem 1.5625rem;
}
.alertBox2 .hdAlerts2 .appOuter .form{
    font-size: 0.9375rem;
}
.alertBox2 .hdAlerts2 .appOuter .input1{
    width: 12.4375rem;
}
.alertBox2 .hdAlerts2 .appOuter .input2{
    width: 10.5625rem;
}
.alertBox2 .hdAlerts2 .appOuter .inputs{
    outline: none;
    border: none;
    border-bottom: 0.125rem solid #e5e5e5;
    margin-top: 1.4375rem;
    padding-bottom: 0.28125rem;
}
.alertBox2 .hdAlerts2 .appOuter .label1{
    width: 4.6875rem;
}
.alertBox2 .hdAlerts2 .appOuter .label2{
    width: 6.625rem;
}
.alertBox2 .hdAlerts2 .appOuter button{
    width: 100%;
    outline: none;
    border: none;
    background-color: #e9b939;
    margin: 1.875rem 0.0625rem 0 0.0625rem;
    height: 2.5rem;
    line-height: 2.5rem;
    border-radius: 0.25rem;
    color: #fff;
}
.alertBox2 .hdAlerts2 .appOuter .isUpdate{
    border-top: 0.125rem solid #e5e5e5;
    /*border-right: 0.125rem solid #e5e5e5;*/
    text-align: center;
    height: 2.8125rem;
    line-height: 2.8125rem;
}
.alertBox2 .hdAlerts2 .appOuter .know{
    border-top: 0.125rem solid #e5e5e5;
    /*border-right: 0.125rem solid #e5e5e5;*/
    text-align: center;
    height: 2.8125rem;
    line-height: 2.8125rem;
}
.alertBox2 .hdAlerts2 .appOuter .forSelf{
    border-top: 0.125rem solid #e5e5e5;
    /*border-right: 0.125rem solid #e5e5e5;*/
    text-align: center;
    height: 2.8125rem;
    line-height: 2.8125rem;
}
.alertBox2 .hdAlerts2 .appOuter .cancel{
    border-right: 0.125rem solid #e5e5e5;
    /*color: #1daffa;*/
}
.alertBox2 .hdAlerts2 .appOuter .knowInner{
    border-right: 0.125rem solid #e5e5e5;
    color: #1daffa;
}
.alertBox2 .hdAlerts2 .appOuter .forSelfInner{
    border-right: 0.125rem solid #e5e5e5;
    color: #1daffa;
}
.alertBox2 .hdAlerts2 .appOuter .updata{
    color: #1daffa;
}
.alertBox2 .hdAlerts2 .version {
    /*height: 9rem;*/
    top: 11.25rem;
    padding: 0;
    overflow: hidden;
}

.error-main {
    top:calc(50% - 5rem);
}
.couponSale .hdDesc{
    margin-bottom:3.125rem;
}
.couponSale .hdDesc .hdDetail{
    width:100%;
    display: block;
}

.aboutSale .sale,.huoDong{
    box-shadow: 0 -0.0625rem 0.0625rem #f0f0f0;
    -webkit-box-shadow: 0 -0.0625rem 0.0625rem #f0f0f0;
    -moz-box-shadow: 0 -0.0625rem 0.0625rem #f0f0f0;
    -ms-box-shadow: 0 -0.0625rem 0.0625rem #f0f0f0;
    -o-box-shadow: 0 -0.0625rem 0.0625rem #f0f0f0;
}