.totalInfo{
    text-align: center;
}
/*left*/
.common{
    /*padding-bottom: 10000px;*/
    /*margin-bottom: -10000px;*/
    /*position: relative;*/
    position: relative;
}
.left{
    background-color: #ccc;
    padding-top: 30px;
}
.left .firstMenu span{
    margin: 10px;
    display: inline-block;
    width: 66px;
}
.active{
    background-color: #fff;
    border-radius: 2px;
}


/*middle*/
.middle{
    /*border: 1px solid black;*/
    padding-top: 30px;
}
.middle .secondMenu span{
    margin: 10px;
    display: inline-block;
    width: 80px;
}
.active2{
    background-color: #F2F0F2;
    border-radius: 2px;
}
.active3{
    background-color: #DED9DE;
}
.btn{
    /*margin-top: 50px;*/
}

#coachName{
    width:175px;
}
.div_items {
    display: none;  
    position: fixed;   
    border: 1px solid #66afe9;  
    border-top: 0px;  
    overflow: auto;  
    /*display: none; */ 
    z-index: 999;
    background-color: #fff;
}  

.div_item {
    border-bottom: 1px solid #66afe9;    
    min-width: 170px;  
    height: 30px;  
    margin-top: 1px;  
    font-size: 16px;  
    line-height: 30px; 
    text-align: left; 
}
/*right*/
#beginTime{
    width:175px;
}

.right{
    border-left: 2px solid black;
    /*border-right: 2px solid black;*/
}
.right .head{
    text-align: left;
    border-bottom: 1px solid black;
}
.right .head span{
    display: inline-block;
    padding: 20px;
    border: 1px solid black;
}

.spacing:first-child{
    margin-top: 30px;
}
.spacing{
    margin: 10px;
}
.input{
    width:150px;
}

.inner{

}
.inner .moreInfo{
    position: absolute;
    right:100px;
    bottom:100px;
}

/*.datainp{ width:200px; height:30px; border:1px #ccc solid;}
.datep{ margin-bottom:40px;}*/


.createGoods{
    text-align: left;
}

.addImg{
    width:75px;
    height:60px;
}
.addImg::-webkit-input-placeholder{
     color: blue;
 }
.tableStyle1,.tableStyle2{
    width:100%;
    text-align: center;
}
.listBottom2{
    margin-bottom:20px;
}
.tableStyle1 td, .tableStyle1 th{
    border: 1px solid black;
    height: 36px;
}
.tableStyle2 td, .tableStyle2 th{
    height:36px;
    border: 1px solid black;
}
.tableStyle1 thead, .tableStyle2 thead{
    background-color: #00B050;
}
.listBottom{
    margin-top: 50px;
}
.listLeft{
    text-align: left;
}
.listRight{
    text-align: right;
}
.borderStyle{
    border: 1px solid black;
    padding: 0 5px;
    border-radius: 2px;
}

 .couponBorder{
     border: 1px solid black;
     text-align: left;
}
.couponBorder>div:nth-child(2){
    border-left: 1px solid black;
}

.textarea1{
    margin: 20px 0;
}

.textarea2 textarea{
    vertical-align:top;
}
.textarea1 textarea{
    vertical-align:top;
}
.couponBorderLeft{
    text-align: center;
    padding-top: 50px;
}
.couponBorderSet{
    padding-top: 20px;
}


.orderTop>div, .studentsTop>div{
    margin: 20px 100px;
    text-align: left;
}
.nowToNext{
    width:175px;
}

.edit{
    width:33.333%;
}
.tableStyle4 td{
    width:16.667%;
}
.orderModify,.orderModify2{
    position: relative;
}
.saveOrCancle{
    position: absolute;
    right:100px;
    bottom:100px;
}

.blue{
    color: blue;
}

.green{
    background-color: green;
    color: #fff;
}
.red{
    background-color: red;
    color: #fff;
}
.gray{
    background-color: #DED9DE;
}


.editHead{
    border-bottom:1px solid black;
    height:50px;
    line-height:50px;
    text-align: left;
}
.huDong .search1{
    width:80%;
    margin: 10px 0;
    text-align: center;
}
.aboutCoach{
    border-right: 1px solid black;
}
.coaches{
    height: 36px;
    line-height:36px;
    border-bottom: 1px solid black;
}
/*.coaches:first-child{
    border-top:1px solid black;
    background-color: #DED9DE;
}*/
iframe{
    width:100%;
    height:100%;
}
.aboutInfo{
    /*text-align: left;*/
}

.file {
    position: relative;
    display: inline-block;
    background: #D0EEFF;
    border: 1px solid #99D3F5;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    color: #1E88C7;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
    text-decoration: none;
}
.file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}
.file:hover {
    background: #AADFFD;
    border-color: #78C3F3;
    color: #004974;
    text-decoration: none;
}

.imglist{
    width: 650px;
    min-height: 128px;
    margin-left: 72px;
    border:1px solid #D2D2D2; 
    background-color:#fff; 
    overflow:hidden; 
    _zoom:1;
}

/* 设置图片等比例缩放 并且垂直居中*/
.upload_append_list a {
    display: table-cell;
   /*  width: 140px;    
    height: 120px; */
    text-align: center;
    vertical-align: middle;
    border: 1px solid #DFDFDF;
    background: url("../image/goods/bg.png") no-repeat scroll center 0px transparent;
}
.upload_append_list img {
    border: solid 1px #66f;
    vertical-align: middle; /*图片垂直居中*/
}
.uploadImg {
    margin: auto;
}
.uploadImg img{
    border:none;    
    max-width: 100%!important;
    height: auto!important;
}

/* 每个图片上的操作bar */
.file_bar{
    margin: 0;
    left: 0px;
    right: 0px;
    position: absolute;
    top: 0px;
    height:0px;
    padding:0px;
    margin: 0;
    opacity: 0.8;
    color:#fff;
    background: none repeat scroll 0 0 #000000;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    overflow: hidden;
}
.file_bar a{
    color: #FFFFFF;
    position: absolute;
    right: 10px;
}
.file_name{
    margin:0px;
    white-space: nowrap;
    width: 66%;                  /* IE6 需要定义宽度 */
    overflow: hidden;            
    -o-text-overflow: ellipsis;    /* Opera */
    text-overflow:    ellipsis;    /* IE, Safari (WebKit) */
    float: left;
}

.file_del{
    background: url("../image/goods/delete_white.png") no-repeat scroll 0 0 transparent;
    width:18px;
    height:18px;
    display: inline;
    -moz-user-select: none;
    position: absolute;
    right:3px;
    margin-top:4px;
}
.file_del:hover{
    background: url("../image/goods/delete_blue.png") no-repeat scroll 0 0 transparent;
}
.file_hover{
    height:30px;
    cursor:pointer;
}

/*学员管理-编辑*/
.isEdited{
    width:100%;
    height:100%;
    border: none;
    text-align: center;
}
.isEdited option{
    width:100%;
    height:100%;
    text-align: center;
}

#returnStuList,#returnOrderList{
    text-align: center;
    font-size: 20px;
}
#returnStuList button,#returnOrderList button{
    /*border: none;*/
    background-color: #DED9DE;
    border: 1px solid black;
}
.actManager {
    margin-left: 4%;
}
.AudioPage{
    margin-top: 25px;
}
.storeProC div:nth-child(1){
    margin: 25px 0;
}
.newAdd div{
    text-align: left;
    margin: 20px 0;
    margin-left: 30px;
}
.newAdd textarea{
    vertical-align: top;
}
.searchVideoList{
    border: 1px solid #ccc;
    list-style: none;
    margin-left: 73px;
    width: 174px;
}
.searchVideoList li{
    padding: 0;
    margin-left: -36px;
}
.searchAudioList{
    border: 1px solid #ccc;
    list-style: none;
    margin-left: 73px;
    width: 174px;
}
.searchAudioList li{
    padding: 0;
    margin-left: -36px;
}
.VideoPage{
    margin-top: 25px;
}
.tabTitle{
    margin: 25px 0;
}
.tabfo{
    margin-top: 25px;
}
ul{
    list-style: none;
}