






/*
.is-playing {
  position: relative;
  top: 4rem;
  width: 90%;
  margin: 1rem auto;
  background-color: #fff;
  margin-bottom: px2rem(20);
}
*/

.audio-progress-bar{
  //width: 90%;
  //margin: 2rem auto 0 auto;
  background: #ffffff;
  padding: px2rem(20) px2rem(12) 0 px2rem(18);
  border-radius: 0 0 px2rem(4) px2rem(4);
  height: px2rem(50);
}

.is-paused {

  //width: 90%;
  //margin: 4rem auto 0;
  background-color: #fff;
  margin-bottom: px2rem(20);
}


//进度条面板123
.process-panel {
  position: relative;
  height: px2rem(4);

  //padding-bottom: 2px;
  .time-bar{
    position: absolute;
    top: px2rem(-45);
    right: px2rem(-8);
  }
}

.progressbar {
  position: absolute;
  left: 0;
  right: 0;
  top: -7px;
  height: 14px;
  width: 100%;
  //margin: 0 5% 0 10%;
}

//////////////////////////////////////////////////////////
.moving-bar{
  position: absolute;
  top: -10px;
  z-index: 1;
}

.playbar {
  display: inline-block;
  //position: absolute;
  top: 7px;
  left: 0;
  min-width: 0;
  max-width: 95%;
  height: 2px;
  //height:12px;
  //background-color: #FF712A;
}


.moving-ball{
  display: inline-block;
  transform: translate(0, 0) !important;
  background: #00b3ee;
  border-radius: 50%;
  width: px2rem(24);
  height: px2rem(24);
  position: relative;
  top: px2rem(11);
}
//////////////////////////////////////////



//.playbar:after {
//  float: right;
//  //width: 3px;
//  //height: 14px;
//  width: 25px;
//  height: 25px;
//  margin-top: -6px;
//  content: '';
//  background-color: #fc5726;
//  //background-color: #0bb20c;
//}
//时间戳
.time {
  margin-top: -1.25rem;
  font-size: px2rem(18);
  //color: #ffffff;
}
.player_position {

}
.duration {

}

.background-bar{
  background-color: #2f2f2f;
  border-radius: px2rem(4);
  height: px2rem(4);
  width: 96%;
  margin-left: 1px;
}

//}