.fm-view{
  .pre-load{
    width: 0;
    height: 0;
    display: none;
  }
  .get-reward-command{
      text-align: center;
      width: px2rem(359);
      margin: 0 auto px2rem(18) auto;
      position: relative;
      background-color: #ffffff;
      box-shadow: 0px px2rem(2) px2rem(4) rgba(0, 0, 0, 0.3);
      border-radius: px2rem(4);
      height: px2rem(40);
      line-height: px2rem(40);
    }
  //background-color: #00b3ee;
  width: 100%;
  height: auto;
  color: black;
  .fix-bg-space{
    height: px2rem(18);
    width: 100%;
  }
  .lesson-column-line{
    background-image: url("../image/course/DividingLine.png");
    background-size:cover;
    height: px2rem(18);
    margin: 0 auto px2rem(18) auto;
    width: px2rem(359);
  }

  .fm-title{
    padding: 2.5rem .5rem 1rem;
    font-size: px2rem(32);
  }

  .signView{
    width: 4rem;
    height: 3rem;
    //background-image: url("./assets/image");
    position: fixed;
    bottom: 4.5rem;
    right: 0;
  }
  .signView img{
    width: 4rem;
    height: auto;
  }

  .fm-cover{
    display: block;
    width: 90%;
    margin: 0 1rem 0 1rem;
  }

  .section-list-container{
    position: fixed;
    top: 40%;
    height: 100%;
    padding-bottom: 80%;
    width: 100%;
    background-color: #fff;
    color: #000;
    overflow: scroll;
    z-index: 2;

    .section-modal{

    }


    .section-container-title{
      width: 100%;
      padding: .5rem 1rem;
      text-align: left;
      color: #898989;

      .list-title{
        display: inline-block;
        width: 90%;
        text-align: center;
      }

      .close-icon{
        height: 1rem;
        position: fixed;
        margin-top: 3px;
        right: 1rem;
      }
    }

    .section-item{
      width: 100%;
      padding: .5rem 1rem;
      text-align: left;
      border-bottom: 1px solid #EFEFEF;
    }

    .section-duration{
      padding: .25rem 0;
      font-size: 14px;
      color: #898989;

    }
  }


  .comment-container{
    position: fixed;
    bottom: 0;
    height: 2rem;
    line-height: 2rem;
    padding: 0 0.5rem;
    width: 100%;
    background-color: #fff;
    color: #898989;

    .user-headimage{
      height: 1.5rem;
      width: 1.5rem;
      border-radius: 50%;
      border: 1px solid #fff;
      margin: 5px 2px
    }
    
    .check-comment-button{
      display: inline-block;
      width: 40%;
      float: right;
      vertical-align: text-bottom;
      text-align: right;
      color: #898989;
    }


    .go-icon{
      height: 1rem;
      margin-left: 5px;
      vertical-align: inherit;
    }
  }

  .nextEpisode-button{
    width: 1.5rem;
    margin: 0 1.5rem 1rem;
  }

  .previous-button{
    width: 1.5rem;
    margin: 0  1.5rem 1rem 3rem;
  }

  .more-list-button{
    height: 1rem;
    width: 1rem;
    margin-bottom: 1rem;
  }

  .play-pause-button {
    height: 3rem;
    width: 3rem;
  }

  .control-button-container {
    display: block;
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }

  .hit-button{
    position: fixed;
    right: 1rem;
    bottom: 5rem;
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    background-color: #FF712A;
    text-align: center;
    color: #fff;
    border-radius: 50%;
  }
}

.checkIn-panel{
  position: absolute;
  top: 30%;
  left: 18%;
  width: 64%;
  height: 10rem;
  //background-color: #fff;
  border-radius: 10px;
  text-align: CENTER;


  .checkIn-title{
    height: 5rem;
    width: 100%;
    padding-top: 5px;
    background-color: #FF722A;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #fff;
  }


  .icon-container{
    position: relative;
    top: -2.25rem;
  }


  .icon-img{
    height: 3rem;
    width: 3rem;
  }

  .coin-number{
    font-size: px2rem(26);
  }

  .continue-checkIn{
    position: relative;
    top: -3.25rem;
  }

  .done-img{
    height: 5rem;
  }

  .done-number{
    position: relative;
    top: -4rem;
    color: #fff;
    font-size: px2rem(24);
    margin-left: 2.1rem;
  }
}

