//下单确认组件
.order-confirmation {
  background-color: #fff;
  border-radius: 4px;
  width: 72%;
  padding: 5% 8% 10%;
  color: #000;

  >a {
    display: block;
  }

  >* {
    margin: 1rem auto;
  }

  .price {
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold;
    color: #343434;
  }
  .course-name {
    font-size: .8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .pay {
    margin-bottom: 1.5rem;
  }
}

