//上线信息页
.senior-info-view{
  width: 100%;
  padding: px2rem(30) px2rem(96);
  background-color: #fff;
}

//上线头像
.senior-image-box{
  .img-border{
    display: inline-block;
    width: 35%;
    border-top: 1px solid #FDA419;
    height: px2rem(72);
  }

  .senior-image{
    display: inline-block;
    height: px2rem(144);
    width: px2rem(144);
    margin: 0 5px;
    padding: 2px;
    border-radius: 50%;
    border: 3px solid #FF9900;
  }
}

//上线名字
.senior-name{
  margin-top: 0.5rem;
  color: #000;
  font-size: .9rem;
  text-align: center;
}


.coupon-box{
  width: 100%;
  margin-top: px2rem(50);
  background-image: url("../image/coupon.png");
  background-size: 100% 100%;
}

.coupon-info{
  display: inline-block;
  width: 80%;
  text-align: center;
  vertical-align: top;
  padding: 1.5rem 0;

  .coupon-text{
    color: #fff;
    font-size: 0.75rem;
  }
}

.coupon-value {
  display: inline-block;
  width: 5%;
  color: #fff;
  margin: 0 7.5%;
}

.slogan{
  margin-top: 1rem;
  color: #3A3A3A;
  font-size: 0.8rem;
  text-align: center;
}

.test-box{
  margin-top: 1rem;
}

.test-text{
  text-align: center;
  font-size: px2rem(32);
  color: #3a3a3a;
}