<div ng-controller="freeVideoController">
    <div ng-include="'./views/course/video/free/header.html'"></div>
    <div loading="" ng-model="isLoading"></div>
    <div class="embed-responsive embed-responsive-{{videoInfo.responsive}}">
        <iframe class="embed-responsive-item" ng-src="{{videoInfo.src}}"></iframe>
    </div>
    <div class="weui_cells seline">
        <div class="weui_cell" style="border-bottom:1px solid #eee; background-color: #eee;">
            <div class="weui_cell_hd">
                <span style="border-left:4px solid rgb(26,177,118); padding-left:10px;"></span>
                课程内容
            </div>
            <div class="weui_cell_bd weui_cell_primary"></div>
            <div class="weui_cell_ft"></div>
        </div>
    </div>
    <div>
        <div class="playlist">
            <ul style="padding-left:10px;">
                <div ng-repeat=" item in videos">
                    <li style="padding:5px 0; border-left:1px solid #ccc; position: relative;">
                        <span style="position:absolute; left: -5px;bottom: 8px;" class="fa fa-dot-circle-o"></span>
                        <a style="margin-left:15px;" ng-click="setVideo(item.sources[0].src,item.sources[0].responsive)">
                            <span style="font-size:14px;">{{item.sources[0].name}}</span>
                        </a>
                    </li>
                </div>
            </ul>
        </div>
    </div>
    <div class="weui_cells seline">
        <div class="weui_cell" style="border-bottom:1px solid #eee; background-color: #eee;">
            <div class="weui_cell_hd">
                <span style="border-left:4px solid #006699; padding-left:10px;"></span>
                讲师
            </div>
            <div class="weui_cell_bd weui_cell_primary"></div>
            <div class="weui_cell_ft"></div>
        </div>
    </div>
    <div style="padding:10px;">
        <img style="width:100px;"  ng-src="{{courses.teacher.headImgUrl}}">
        {{courses.lecturer}}

        <div style="padding-top:10px;" ng-bind-html="courses.teacher.detail"></div>
    </div>
    <div class="weui_cells seline">
        <div class="weui_cell" style="border-bottom:1px solid #eee; background-color: #eee;">
            <div class="weui_cell_hd">
                <span style="border-left:4px solid rgb(249,97,84); padding-left:10px;"></span>
                课程介绍
            </div>
            <div class="weui_cell_bd weui_cell_primary"></div>
            <div class="weui_cell_ft"></div>
        </div>
    </div>
    <div style="padding:10px;">
        <div ng-bind-html=courses.intro|trustAsHtml></div>
    </div>

    <div style="position:fixed; bottom: 0; left: 0; width: 100%;">
        <div ng-include="'./views/course/footer.html'"></div>
    </div>
</div>
