/*commonPopBox2弹窗*/
.commonPopBox2 {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9999;
  width: 100%;
  height: 100%;
  left:0;
  top:0;
}
.commonPopBox2 .commonPop {
  width: 20.9375rem;
  background-color: #fff;
  margin: 0 auto;
  margin-top: 9.375rem;
}
.commonPopBox2 .commonPop .title {
  /*height: 2.3125rem;*/
  /*line-height: 2.3125rem;*/
  padding: 0.625rem 0;
  padding-left: 0.75rem;
  font-size: 0.875rem;
  background-color: #cccccc;
}
.commonPopBox2 .commonPop .detailTip {
  text-align: justify;
  padding: 2rem 2.5rem;
  font-size: 0.875rem;
}
.commonPopBox2 .commonPop .confirmBox {
  font-size: 0.8125rem;
  padding: 0.75rem 0;
  text-align: center;
}
.commonPopBox2 .commonPop .confirmBox .confirmBtn {
  cursor: pointer;
  width: 7.9375rem;
  /*height: 2.1875rem;*/
  /*line-height: 2.1875rem;*/
  padding: 0.5rem 0;
  background-color: #ff4f0d;
  color: #fff;
  text-align: center;
}
