<div class="container" ng-controller="viewExpertController">
    <div class="row">
        <div class="col-xs-12" style="padding-top:15px;height:900px; overflow: auto;" when-scrolled="loadDefaultMore()">
            <div ng-repeat="item in items">
                <div ng-click="detail(item.id)" class="media" style="padding-bottom:10px;padding-top:10px; border-bottom: 1px solid #eee;">
                    <a class="media-left"  href="javascript:void(0)">
                        <img  style="width:40px;" src="{{item.imgUrl|resourceUrl}}"    alt="...">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">{{item.uname}}</h4>
                        <div style="font-size: 13px;" class="text-muted" >{{item.intro|cut:true:50:'...'}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>