* {
    padding:0;
    margin:0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
p,h1,h2,h3,h4,h5,h6,ul {
    padding:0;
    margin:0;
}
a {
    text-decoration:none;
}
li {
    list-style:none;
}
@media screen and (min-width:375px) and (max-width:440px){
}
@media screen and (max-width:374px){
}
@media screen and (max-width:441px){
}
.container {
    background-image:url(../img/bg_f.png);
    background-position:center top;
    background-size:100%;
    position:absolute;
    width:100%;
    height:100%;
    margin:0 auto;
}
.login {
    display:none;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.5);
    position:absolute;
    top:0;
    left:0;
    margin:0 auto;
    z-index:9999999;
}
.loginInput {
    border-radius:15px;
    width:80%;
    height:48%;
    background:#fff;
    margin:0 auto;
    margin-top:35%;
    opacity:1;
}
.loginMain {
    width:80%;
    height:50%;
}
.loginInput h5{
    color:#000;
    text-align: center;
    font-size:0.175rem;
    font-weight:normal;
    height:0.6rem;
    line-height:0.6rem;
}

.loginImg {
    width:40%;
    height:26%;
    line-height:30%;
    margin:0 auto;
    position:relative;
    left:3%;
    padding-left:5%;
    background:url(../img/LOGO.png);
    background-size:90%;
    background-position:center bottom;
    background-repeat:no-repeat;
}
.phoneLogin {
    color:#b3b3b3;
    position:relative;
    font-size:0.1375rem;
    top:-45%;
    width:94%;
    height:30%;
    left:12%;
    outline: none;
    padding-left:5%;
    border-radius: 10px;
    border:1px solid #ccc;
}
#login {
    width:100%;
    height:32%;
    position:relative;
    top:-80%;
    left:12%;
    outline: none;
    font-size:0.18rem;
    background:#c74140;
    border:none;
    border-radius:10px;
    color:#fff;
}
.main_one {
    position:relative;
    top:1.3rem;
    width:70%;
    margin:0 auto;
}
.main_one ul {
    width:100%;
    height:1.2rem;
}
p {
    color:#fff;
}
.main_one_p {
    font-size:0.15rem;
}
li {
    color:#fff;
    font-size:0.16rem;
    float:left;
    width:28.5%;
    height:0.28rem;
    line-height:0.23rem;
    text-align:center;
    padding:0.03rem 0.02rem;
    border-radius:0.5rem;
    margin-top:0.1rem;
}
.nt {
    border:none;
}
.sz {
    margin-top:0.1rem;
    margin-left:0.08rem;
    margin-right:0.08rem;
}
.wh {
    margin-right:0.12rem;
}
.more {
    width:62%;
    height:0.24rem;
    line-height:0.24rem;
    padding:0.04rem 0;
    font-size:0.12rem;
    border:2px solid #dc8181 !important;
    background:#731818;
}
.border_y {
    background-image:url(../img/no_click.png);
    background-size:100%;
    background-repeat:no-repeat;
}
.active {
    width:28%;
    height:0.24rem;
    background:url(../img/click.png) center top no-repeat;
    background-size:100% 120%;
    border:none;
}
.mmain_container {
    position:relative;
    top:0.1rem;
}
.main_container p {
    font-size:0.16rem;
}
.layer {
    position:relative;
    height:0.3rem;
    line-height:0.3rem;
    top:0.2rem;
    text-align:center;
    font-size:0.13rem;
}
.game {
    position:relative;
    top:0.1rem;
    width:100%;
    height:1rem;
    background:url(../img/gameOne.png) center center no-repeat;
    background-size:100%;
}
.gameOne {
    background:url(../img/game.png) center center no-repeat;
    background-size:100%;
}
#layui-layer1 {
    width:100%;
    height:3.5rem;
}
.tan {
    display:none;
    width:100%;
    height:100%;
    z-index:9999999999999;
    position:absolute;
    top:0;
    left:0;
    background-color:#000;
    background: rgba(0, 0, 0, 0.5);
}
.main {
    position:relative;
    top:20%;
    padding-top:8%;
    color:#000;
    width:80%;
    height:50%;
    margin:0 auto;
    background:#fff;
    opacity:1;
    font-size:0.2rem;
}
.main hr {
    display:inline-block;
    width:25%;
    position:relative;
    top:-0.03rem;
    margin-right:1%;
}
.main .title {

    margin-top:3%;
    margin-bottom:5%;
    width:100%;
    display:inline-block;
    /*margin:0 0.15rem;*/
    font-size:0.2rem;
    text-align: center;
}
.main p {
    padding:0 5%;
    color:#000;
    font-size:0.15rem;
}
.close {
    display:inline-block;
    width:0.2rem;
    height:0.2rem;
    position:absolute;
    top:5%;
    right:5%;
    background-image:url(../img/active_close.png);

}