* {
    padding:0;
    margin:0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
p,h1,h2,h3,h4,h5,h6,ul {
    padding:0;
    margin:0;
}
a {
    text-decoration:none;
}
li {
    list-style:none;
}
.container {
    /*background-image:url(img/bg_f.png);*/
    background-position:center top;
    background-size:100%;
    position:absolute;
    width:100%;
    height:100%;
    margin:0 auto;
}
.test_sz {
    color:#fff;
    font-size:0.15rem;
    position:relative;
    top:1.5rem;
    width:70%;
    /*height:1.4rem;*/
    margin:0 auto;
    /*background:pink;*/
}
.point {
    margin :0 auto;
    width:60%;
    height:2.5rem;
    padding-top:11%;
    text-align:center;
}
.choujiang {
    width:100%;
    height:0.7rem;
    position:relative;
    border-radius:0.2rem;
    top:0.1rem;
    background:url(../img/prize.png) center center no-repeat;
    background-size:100%;
}
.test_sz input{
    margin-top:20%;
    width:46%;
    border:1px solid #fff;
    padding:2% 2%;
    font-size:0.2rem;
    text-align:center;
    border-radius:2rem;
    background-color:transparent ;
    outline:none;
    color:#fff;
}
.point_f {
    margin-right:8%;
}
#layui-layer1 {
    width:90%;
    height:50%;
    /*border-radius:50%;*/
}
.point_answer {
    padding-left:10%;
    font-size:0.6rem;
}
.point {
    font-size:0.3rem;
}
.hideLottery {
    width:15%;
    height:0.5rem;
    background-image:url(../img/reword_close.png);
    background-size:60%;
    background-repeat:no-repeat;
    background-position:top center;
    position:absolute;
    right:0.2rem;
    z-index:99999999999999;
}
.g-content {
    display:none;
    width:100%;
    height:100%;
    z-index:9999999999999;
    position:absolute;
    top:0;
    left:0;
    background-color:#000;
    background: rgba(0, 0, 0, 0.5);
}
.share {
    display:none;
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    background: rgba(0, 0, 0, 0.5);
}
.share p {
    background:#fff;
    width:50%;
    left:18%;
    font-size:0.18rem;
    border-radius:10px;
    text-align: center;
    padding:5% 8%;
    position:absolute;
    top:40%;
}

.g-content .g-lottery-case {
    width: 85%;
    height: 3.2rem;
    margin: 0 auto;
    overflow: hidden;
    position: absolute;
    top: 20%;
    left: 8%;
}



.g-lottery-box .g-lottery-img {
    width: 100%;
    height: 3.2rem;
    position: relative;
    background: url(../img/zp.png) no-repeat;
    background-size:100%;
}
.g-lottery-box .playbtn {
    width: 140px;
    height: 140px;
    position: absolute;
    top: 50%;
    margin-top:-70px;
    margin-left:-70px;
    left: 50%;
    background: url(../img/zzz.png) no-repeat;
}
/*.g-content .g-lottery-case {*/
/*position:relative;*/
/*top:20%;*/
/*width: 100%;*/
/*height: 4rem;*/
/*margin: 0 auto;*/
/*overflow: hidden;*/
/*}*/
/*.g-lottery-box .g-lottery-img {*/
/*margin:0 auto;*/
/*width:320px;*/
/*height: 350px;*/
/*background: url(../jb/img/lottery/zp.png) no-repeat;*/
/*background-size:100%;*/
/*}*/
/*.g-lottery-box .playbtn {*/
/*display:inline-block;*/
/*width: 140px;*/
/*height: 140px;*/
/*position: absolute;*/
/*top: 20%;*/
/*left: 31%;*/
/*background: url(../jb/img/lottery/go.png) no-repeat;*/
/*}*/
.g-content {
    position:absolute;
}
.reword {
    display:none;
    width:100%;
    height:100%;
    z-index:9999999999999;
    position:absolute;
    top:0;
    left:0;
    background-color:#000;
    background: rgba(0, 0, 0, 0.5);
}
.reword_main {
    /*margin-top:40%;*/
    /*background-image:url(../img/reword_main.png);*/
    background-size:100%;
    background-repeat:no-repeat;
    width:80%;
    height:4rem;
    margin:-0.6rem auto;
}
.reword_main p{
    position:relative;
    top:23%;
    padding:0 10%;
    line-height:0.3rem;
    font-size:0.18rem;
    margin-top:60%;
}
.reword_close {
    display:inline-block;
    width:0.2rem;
    height:0.2rem;
    background-image:url(../img/reword_close.png);
    background-size:100%;
    background-repeat:no-repeat;
    position:absolute;
    top:63%;
    left:48%;
}
.bindPhone {
    display:none;
    width:100%;
    height:100%;
    z-index:999999999999999;
    position:absolute;
    top:0;
    left:0;
    background-color:#000;
    background: rgba(0, 0, 0, 0.5);
}
.bindPhone_main {
    position:relative;
    top:28%;
    background-size:100%;
    background-repeat:no-repeat;
    width:80%;
    height:2.5rem;
    margin:-0.6rem auto;
    background:#fff;
    border-radius:0.1rem;
}
.bingLogo {
    position:absolute;
    top:12%;
    text-align: center;
    left:50%;
    margin-left:-0.6rem;
    width:1.2rem;
    height:0.6rem;
    background-image:url(../img/LOGO.png);
    background-size:100%;
    background-repeat:no-repeat;

}
.bindLogin {
    width:100%;
    height:1rem;
    position:relative;
    top:35%;

}
.bindLogin input{
    display:inline-block;
    width:76.5%;
    border:1px solid #ccc;
    border-radius:0.1rem;
    padding-left:0.1rem;
    margin:0 auto;
    height:0.3rem;
    color: #b3b3b3;
    font-size:0.15rem;
    margin:0.1rem 0 0.2rem 0;

    position:relative;
    left:50%;
    margin-left:-40%;
}
.bindTip {
    font-size:0.16rem;
    text-align: center;
    margin-bottom:0.15rem;
}
.bindBtn {
    width:80%;
    background:#c74140;
    color:#fff;
    height:0.35rem;
    text-align: center;
    line-height:0.35rem;
    border:none;
    margin:0 auto;
    position:relative;
    left:50%;
    margin-left:-40%;
    border-radius:0.1rem;
    font-size:0.18rem;
    z-index:999999999999999;
}