<div class="weui_tabbar" >
    <a href="#home"  class="weui_tabbar_item weui_bar_item_on">
        <div class="weui_tabbar_icon">
            <img src="./imgs/read/home.png" alt="">
        </div>
        <p class="weui_tabbar_label">首页</p>
    </a>
    <a href="#task" class="weui_tabbar_item">
        <div class="weui_tabbar_icon">
            <img src="./imgs/read/task2.png" alt="">
        </div>
        <p class="weui_tabbar_label">我的任务</p>
    </a>
    <a href="#my" class="weui_tabbar_item">
        <div class="weui_tabbar_icon">
            <img src="./imgs/read/user2.png" alt="">
        </div>
        <p class="weui_tabbar_label">我的</p>
    </a>
</div>