<div class="container" style="padding-top:15px;" >
    <div class="row">
        <div class="col-xs-12 text-center">
            <img style="width:200px;" ng-src="{{readInfo.logoUrl}}" ></img>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 text-center">
            <img src="./imgs/read/integral.png" style="width: 30px;;">
            积分：{{readInfo.award.integral}}
        </div>
        <div class="col-xs-6 text-center">
            <img src="./imgs/read/grade.png" style="width: 30px;;">
            头衔：{{readInfo.award.gradeName}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12" style="margin-top:5px;border-bottom:1px solid #eee; border-top:1px solid #eee;">
            <table class="table table-condensed" style="margin-bottom:0;  padding:0 15px;">
                <tr>
                    <td ng-class="{true:'selink-active',false:'selink'}[currLink.newest==true]" style="border-top:none; ">
                        <img style="width:20px;" src="./imgs/read/news.png">
                        <span  style="color:#337AB7" ng-click="reflesh()">最新</span>
                    </td>
                    <td ng-class="{true:'selink-active',false:'selink'}[currLink.top==true]" style="border-top:none;">
                        <img style="width:20px;" src="./imgs/read/top.png">
                        <span style="color:#337AB7" ng-click="top()">精华</span>
                    </td>
                    <td style="border-top:none;text-align: center">
                        <img style="width:20px;" src="./imgs/read/about.png">
                        <a href="#about">关于诵读社</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>