<div ng-controller="courseListController" style="background-color: #F4EEEE">
    <div loading="" ng-model="isLoading"></div>
    <div class="container">
        <div class="row" style="background-color: #fff;">
            <div style="padding-top:15px;" class="col-xs-4 text-center" ng-click="getCommon()">
                <img style="width:60px;"  src="../../../content/imgs/cx.png">
                <div class="text-center">常训</div>
            </div>
            <div style="padding-top:15px;" class="col-xs-4  text-center" ng-click="getBag()">
                <img style="width:60px;"  src="../../../content/imgs/tx.jpg">
                <div class="text-center">特训</div>
            </div>
            <div style="padding-top:15px;" class="col-xs-4  text-center" ng-click="getOnLine()">
                <img style="width:60px;"  src="../../../content/imgs/zp.png">
                <div class="text-center">直播</div>
            </div>
        </div>

        <div class="row" style="background-color: #fff;">
            <div class="col-xs-12">
                <div class="page-header">
                    <h4 ng-bind="title"></h4>
                </div>
            </div>
        </div>
        <div class="row" ng-if="type==1">
            <div class="col-xs-12" style="padding-bottom:2px; " ng-repeat="info in infos">
                <div class="row" style="background-color:#fff;padding-top:5px;padding-bottom:5px;">
                    <div class="col-xs-5" >
                        <a ng-if="info.isBuy==false" ng-href="#viewcourse?cid={{info.id}}&themid=2&mtype={{info.mediaType}}">
                            <img style="width:100%;" ng-src="{{info.miniImgUrl}}"  /><!--ng-src='{{info.imgUrl}}'-->
                        </a>
                        <a ng-if="info.isBuy==true" ng-href="{{courseHref(info.mediaType,info.id,true)}}">
                            <img style="width:100%;" ng-src="{{info.miniImgUrl}}"  /><!--ng-src='{{info.imgUrl}}'-->
                        </a>
                    </div>
                    <div class="col-xs-7" style="padding-left:0;">
                        <div><strong style='font-size:14px;'>{{info.title}}</strong></div>
                        <div class="row" style="padding-top:10px; padding-bottom:8px;">
                            <div class="col-xs-6">
                                <div class='weui_media_desc text-muted' style="font-size:13px;">{{info.expert.uName}}</div>
                            </div>
                            <div class="col-xs-6 text-right">
                                <span ng-if="info.preferentialPrice==0">
                                    <strong class="sedanger">免费</strong>
                                </span>
                                <span ng-if="info.preferentialPrice!=0">
                                    <strong class="sedanger" ng-bind="info.preferentialPrice|currency:'￥'"></strong>
                                </span>
                            </div>
                        </div>
                        <div class="row" style="font-size:13px;">
                            <div class="col-xs-6 text-muted text-left">
                                <span ng-class="{true:'glyphicon-facetime-video',false:'glyphicon-headphones'}[info.mediaType==1]" class="glyphicon "></span>
                            </div>
                            <div class="col-xs-6 text-muted">
                                <div style='float:right;'><span class="sesuccess">{{info.learnNumber}}</span>人在学</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-if="type==2">
            <div class="col-xs-12" style="padding-bottom:2px; " ng-repeat="info in infos" ng-if="info.id!=10" >
                <div class="row" style="background-color:#fff;padding-top:5px;padding-bottom:5px;">
                    <div class="col-xs-5" >
                        <a ng-if="info.isBuy==false" ng-href="#viewcourse?cid={{info.id}}&themid=3">
                            <img style="width:100%;" ng-src="{{info.miniImgUrl}}">
                        </a>
                        <a ng-if="info.isBuy==true" ng-href="#bags?bagId={{info.id}}">
                            <img style="width:100%;" ng-src="{{info.miniImgUrl}}">
                        </a>
                    </div>
                    <div class="col-xs-7" style="padding-left:0;">
                        <div><strong style='font-size:14px;'>{{info.name}}</strong></div>
                        <div class="row" style="padding-top:10px; padding-bottom:8px;">
                            <div class="col-xs-6">
                                <div class='weui_media_desc text-muted' style="font-size:13px;">{{info.expert.uName}}</div>
                            </div>
                            <div class="col-xs-6 text-right">
                                <span ng-if="info.preferentialPrice==0">
                                    <strong class="sedanger">免费</strong>
                                </span>
                                <span ng-if="info.preferentialPrice!=0">
                                    <strong class="sedanger" ng-bind="info.preferentialPrice|currency:'￥'"></strong>
                                </span>
                            </div>
                        </div>
                        <div class="row" style="font-size:13px;">
                            <div class="col-xs-6 text-muted text-left">
                                <span ng-class="{true:'glyphicon-facetime-video',false:'glyphicon-headphones'}[info.mediaType==1]" class="glyphicon "></span>
                            </div>
                            <div class="col-xs-6 text-muted">
                                <div style='float:right;'><span class="sesuccess">{{info.readNumber}}</span>人在学</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-if="type==3">
            <div class="col-xs-12" style="padding-bottom:2px; " ng-repeat="info in infos.info">
                <div class="row" style="background-color:#fff;padding-top:5px;padding-bottom:5px;">
                    <div class="col-xs-5" >
                        <a ng-if="info.isBuy==false" ng-href="#viewcourse?cid={{info.id}}&themid=1">
                            <img style="width:100%;" ng-src="{{info.miniImgUrl}}">
                        </a>
                        <a ng-if="info.isBuy==true" ng-href="#onlineaudio?courseId={{info.id}}">
                            <img style="width:100%;" ng-src="{{info.miniImgUrl}}">
                        </a>
                    </div>
                    <div class="col-xs-7" style="padding-left:0;">
                        <div><strong style='font-size:14px;'>{{info.title}}</strong></div>
                        <div class="row" style="padding-top:10px; padding-bottom:8px;">
                            <div class="col-xs-6">
                                <div class='weui_media_desc text-muted' style="font-size:13px;">{{info.lecturer}}</div>
                            </div>
                            <div class="col-xs-6 text-right">
                                <span ng-if="info.preferentialPrice==0">
                                    <strong class="sedanger">免费</strong>
                                </span>
                                <span ng-if="info.preferentialPrice!=0">
                                    <strong class="sedanger" ng-bind="info.preferentialPrice|currency:'￥'"></strong>
                                </span>
                            </div>
                        </div>
                        <div class="row" style="font-size:11px;">
                            <div class="col-xs-12">
                                <span class="setitle">开课时间:</span>
                                <span ng-bind="info.startDate|date:'yy-MM-dd HH:mm'"></span>
                            </div>
                            <div class="col-xs-12">
                                <p>
                                    <span class="glyphicon glyphicon-time"></span>
                                    <span style="padding:0 5px;"
                                          class="sesuccess"
                                          data-ctl="online{{info.id}}"
                                          nowadays="{{infos.now}}"
                                          startTime="{{info.startDate}}"
                                          endTime="{{info.endDate}}"
                                          se-timer="" >
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>