*{margin:0;padding:0;}

.header{height:53px;border-bottom:1px #ccc solid;background:yellow;overflow:hidden;position: fixed;top:0;width:100%;}
.header_btn{width:24px;height:13px;float:left;background:url(../images/@750/header-btn.png) 0 0 no-repeat;background-size:100% 100%;margin:20px 0 0 25px;}
.logo{width:88px;height:20px;display:block;background:url(../images/@750/logo.png) 0 0 no-repeat;background-size:100% 100%;margin:16px auto 0;}

.armband_pic1{height:535px;background:url(../images/@750/armband-pic1a.png) 0 0 no-repeat;background-size:100% 100%;}
.armband_pic2{height:574px;background:url(../images/@750/armband-pic2a.png) 0 0 no-repeat;background-size:100% 100%;}
.armband_pic3{height:574px;background:url(../images/@750/armband-pic3a.png) 0 0 no-repeat;background-size:100% 100%;}
.armband_pic4{height:574px;background:url(../images/@750/armband-pic4a.png) 0 0 no-repeat;background-size:100% 100%;}
.armband_pic5{height:715px;background:url(../images/@750/armband-pic5a.png) 0 0 no-repeat;background-size:100% 100%;}
.armband_pic5 .buy_btn{width:139px;height:43px;float:left;}



















