*{	
	margin:0;
	padding:0;
}
body{
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
/**首页**/
img{
	width:100%;
	overflow:hidden;
	display:block;
}
.header{
	height:45px;
	border-bottom:1px #ccc solid;
	background:#fff;
	overflow:hidden;
	/*position: fixed;*/
	top:0;
	width:100%;
	z-index:10;
}
.head_btn_con{
	height:45px;
	width:66px;
	float:left;
}
.header_btn{
	width:21px;
	/**height:11px;**/
	float:left;
	/*background:url(../images/@640/header-btn.png) 0 0 no-repeat;
	background-size:100% 100%;*/
	margin:12px 0 0 21px;
}
.logo{
	width:75px;
	height:18px;
	display:block;
	background:url(../images/@640/logo.png) 0 0 no-repeat;
	background-size:100% 100%;
	margin:14px auto 0;
}
.banner01{
	margin-top:0;
	position:relative;
}
.banner01 img{
	width:100%;
}
.tab_con{
	border-bottom:1px #c6c9c7 solid;
}

.index_dian{
	/*height:50px;
	margin:0 auto;*/
	margin-top: -30px;
}
.index_dian_con4{
	/* width:30.5%; */
	/*position:absolute;
	top:91%;
	left:35.0%;*/
	
	position: absolute;
	left: 0;
	text-align: center;
	width: 100% !important;
}
.index_dian span{
	/*width:16px;
	height:18px;
	float:left;
	margin:15px 6px 0;
	background:url(../images/img/dian.png) 0 0 no-repeat;
	background-size:100% 100%;*/
}
.index_dian span.cur{
	width:16px;
	height:18px;
	float:left;
	background:url(../images/img/dian2.png) 0 0 no-repeat;
	background-size:100% 100%;
}

.banner02{
	margin-bottom:12px;
}
.banner04{
	position:relative;
}
.banner04_a{
	position:absolute;
	width:28.1%;
	height:10.7%;
	float:left;
	margin:0 auto;
	top:84.3%;
	left:36.2%;
}
.banner05{
	position:relative;
}
.banner05_a{
	position:absolute;
	width:28.1%;
	height:6.2%;
	float:left;
	margin:0 auto;
	top:86.5%;
	left:36.2%;
}
.banner06{
	position:relative;
}
.banner06_a{
	position:absolute;
	width:28.1%;
	height:7.0%;
	float:left;
	margin:0 auto;
	top:84.2%;
	left:5.2%;
}
.banner07{
	position:relative;
}
.banner07_a{
	position:absolute;
	width:28.1%;
	height:6.8%;
	float:left;
	margin:0 auto;
	top:55.6%;
	left:36.2%;
}
.banner08{
	border-bottom:1px #c6c9c7 solid;
}
.footer{
	position:relative;
}
.footer_tel{
	position:absolute;
	width:64.4%;
	height:14.5%;
	left:17.0%;
	top:9.1%;
}
.footer_tx_cloud{
	position:absolute;
	width:18.7%;
	height:12.9%;
	float:left;
	top:31.5%;
	left:19.6%;
}
.footer_baidu_cloud{
	position:absolute;
	width:9.6%;
	height:12.9%;
	float:left;
	top:31.5%;
	left:49.0%;
}
.footer_sina_weibo{
	position:absolute;
	width:9.6%;
	height:12.9%;
	float:left;
	top:31.5%;
	left:70.0%;
}
.footer_privacy_policy{
	position:absolute;
	width:18.7%;
	height:6.0%;
	float:left;
	top:62.3%;
	left:57.0%;
}
/**s1\s2**/
.S1_banner01,.S1_banner02,.S1_banner03,.S1_banner04,.S1_banner05,.S1_banner06,.S1_banner07,.S1_banner08{
	border-bottom:1px #ccc solid;
}
.S1_banner08{
	position:relative;
}
.S1_banner08_a{
	float:left;
	position:absolute;
	width:37.0%;
	height:9.2%;
	left:31.3%;
	top:81.4%;
}
.S2_banner02,.S2_banner03,.S2_banner04,.S2_banner06,.S2_banner07,.S2_banner08,.S2_banner09,.S2_banner11{
	border-bottom:1px #ccc solid;
}
.S2_banner11{
	position:relative;
}
.S2_banner11_a{
	float:left;
	position:absolute;
	width:37.0%;
	height:9.2%;
	left:31.3%;
	top:79.6%;
}
/**体围尺**/
.chi_banner02,.chi_banner03,.chi_banner06{
	border-bottom:1px #ccc solid;
}
.chi_banner06{
	position:relative;
}
.chi_banner06_a{
	float:left;
	position:absolute;
	width:37.0%;
	height:9.2%;
	left:31.3%;
	top:75.9%;
}
/**臂带**/
.armband_banner02,.armband_banner03,.armband_banner04,.armband_banner05,.armband_banner06{
	border-bottom:1px #ccc solid;
}
.armband_banner06{
	position:relative;
}
.armband_banner06_a{
	float:left;
	position:absolute;
	width:37.0%;
	height:6.0%;
	left:31.3%;
	top:84.7%;
}
/**.blue_dian_big{
	float:left;
	position:absolute;
	width:12.0%;
	height:6.3%;
	background:#e7e7e7;
	left:32.3%;
	top:70.8%;
	border-radius:100%;
}
.blue_dian_smaill{
	float:left;
	position:absolute;
	width:9.1%;
	height:4.8%;
	background:#00bbff;
	left:33.8%;
	top:71.5%;
	border-radius:100%;
}
.red_dian_big{
	float:left;
	position:absolute;
	width:9.0%;
	height:4.7%;
	background:#e7e7e7;
	left:54.9%;
	top:71.7%;
	border-radius:100%;
}
.red_dian_smaill{
	float:left;
	position:absolute;
	width:6.9%;
	height:3.6%;
	background:#ff4867;
	left:56.1%;
	top:72.3%;
	border-radius:100%;
}
@media screen and (max-width:340px){
	.red_dian_big{
		float:left;
		position:absolute;
		width:9.0%;
		height:4.7%;
		background:#e7e7e7;
		left:55.2%;
		top:71.8%;
		border-radius:100%;
	}
	.blue_dian_smaill{
		float:left;
		position:absolute;
		width:9.1%;
		height:4.8%;
		background:#00bbff;
		left:33.9%;
		top:71.5%;
		border-radius:100%;
	}
}
**/

/**活动新闻**/
.news_banner01{
	margin-top:46px;
}
.tab_dian_ul{
	/*width:110px;
	overflow:hidden;
	text-align:center;
	margin:0 auto;*/

	position: absolute;
	left: 0;
	text-align: center;
	width: 100% !important;

}
.tab_dian_ul li{
	overflow:hidden;
	float:left;
	margin:0 5px 45px 5px;
}
.news_list{
	width:92%;
	/*margin:0 4%;*/
	margin: 35px 4% 0 4%;
	overflow:hidden;
}
.news_list_h2{
	height:37px;
	line-height:37px;
	font-size:23px;
	border-bottom:1px #e0e0e0 solid;
}
.news_list_con{
	overflow:hidden;
	border-bottom:1px #e0e0e0 solid;
}
.news_list_tit{
	margin-top:20px;
	line-height:30px;
	font-size:22px;
	color:#0db5ff;
}
.news_list_data{
	line-height:43px;
	font-size:18px;
	color:#666;
}

.news_list_p{
	line-height:28px;
	font-size:18px;
	color:#666;
	margin-top:18px;
}
.more{
	line-height:28px;
	font-size:18px;
	color:#00bbff;
	margin-top:30px;
	margin-bottom:20px;
	float:left;
	text-decoration:none;
	
}
.view_more{

	border-bottom:1px #e0e0e0 solid;
	height:80px;
	line-height:80px;
	text-align:center;
}
.view_more a{
	font-size:18px;
	color:#0db5ff;
	text-decoration:none;
}
.news{
	width:92%;
	margin:46px 4% 0 4%;
	overflow:hidden;
}
.news_con{
	overflow:hidden;
	padding-bottom:55px;
}
.news_tit{
	margin-top:20px;
	line-height:30px;
	font-size:22px;
	color:#0db5ff;
}
.news_data{
	line-height:43px;
	font-size:18px;
	color:#666;
}

.news_p{
	line-height:30px;
	font-size:18px;
	color:#666;
	margin-top:18px;
	word-break:break-all;
}
.news_pic{
	margin:20px 0;
}
/**关于我们**/
.abouts_banner01{
	margin-top:46px;
	margin-bottom:39px;
}
.abouts_p{
	font-size:18px;
	color:#666;
	line-height:30px;
	width:92%;
	margin:0 4% 32px 4%;
}
.abouts_con{
	padding-top:17px;
	border:1px #ccc solid;
}
.abouts_tit{
	margin-bottom:24px;
}
.abouts_banner04{
	margin-bottom:146px;	
}

/**关于我们**/
.contacts_h2{
	border:1px red solid;
	font-size:23px;
	color:#666;
	line-height:65px;
	width:94%;
	margin:46px auto 14px;
	overflow:hidden;
}
.contacts_tit{
	line-height:30px;
	color:#00bbff;
	font-size:15px;
	width:94%;
	margin:0 auto;
}
.contacts_p{
	line-height:30px;
	color:#666;
	font-size:14px;
	width:94%;
	margin:0 auto 32px;
}
.contacts_p .contacts_a{
	color:#00bbff;
	text-decoration:none;
}
.contacts_banner01{
	margin-top:64px;
}
.contacts_banner03{
	position:relative;
}
.contacts_a{
	position:absolute;
	width:45.3%;
	height:9.6%;
	top:23.9%;
	left:29.8%;
}
.contacts_b{
	position:absolute;
	width:54.6%;
	height:9.6%;
	top:69.6%;
	left:29.8%;
}
/**store**/
.store_banner01{
	margin-top:46px;
}
.store_banner02{
	position:relative;
}
.store_banner02_a{
	position:absolute;
	width:37.0%;
	height:7.5%;
	top:90.1%;
	left:31.5%;
}
.store_banner03{
	position:relative;
}
.store_banner03_a{
	position:absolute;
	width:37.0%;
	height:7.5%;
	top:85.7%;
	left:31.5%;
}
.store_banner04{
	position:relative;
}
.store_banner04_a{
	position:absolute;
	width:37.0%;
	height:7.5%;
	top:81.3%;
	left:31.5%;
}
.store_banner05{
	position:relative;
}
.store_banner05_a{
	position:absolute;
	width:37.0%;
	height:7.5%;
	top:86.6%;
	left:31.5%;
}
.store_banner06{
	position:relative;
	margin-bottom:80px;
}
.store_banner06_a{
	position:absolute;
	width:37.0%;
	height:7.5%;
	top:91.0%;
	left:31.5%;
}
/**app**/
.app_banner01{
	/*margin-top:46px;*/
	position:relative;
	border-bottom:1px #ccc solid;
}
.app_banner02,.app_banner04,.app_banner06,.app_banner08,.app_banner10{
	position:relative;
}
.app_banner01_iphone{
	position:absolute;
	width:53.7%;
	height:8.3%;
	top:74.3%;
	left:23.4%;
}
.app_banner01_android{
	position:absolute;
	width:53.7%;
	height:8.3%;
	top:86.2%;
	left:23.4%;
}
.app_dian{
	/*height:50px;
	margin:0 auto;*/
}
.app_dian_con3{
	/*width:23.5%;
	position:absolute;
	bottom:2%;
	left:40.0%;*/
	
	position: absolute;
	left: 0;
	text-align: center;
	width: 100% !important;
	margin-top: -41px;
}
.app_dian_con2{
	/*width:15.3%;
	position:absolute;
	bottom:2%;
	left:43.0%;*/

	position: absolute;
	left: 0;
	text-align: center;
	width: 100% !important;
	margin-top: -41px;
}
.swiper-pagination-switch{
	width:16px;
	height:18px;
	/*float:left;*/
	margin:0px 6px 0;
	background:url(../images/img/dian.png) 0 0 no-repeat;
	background-size:100% 100%;

	display: inline-block;
	cursor: pointer;

}
.index_dian .swiper-pagination-switch{
	width:8px;
	height:8px;
	/*float:left;*/
	background:url(../images/img/dian.png) 0 0 no-repeat;
	background-size:100% 100%;

	display: inline-block;
	cursor: pointer;
}
.swiper-visible-switch{
	width:16px;
	height:18px;
	/*float:left;*/
	background:url(../images/img/dian2.png) 0 0 no-repeat;
	background-size:100% 100%;
}

.index_dian .swiper-visible-switch {
	width:8px;
	height:8px;
	/*float:left;*/
	background:url(../images/img/dian2.png) 0 0 no-repeat;
	background-size:100% 100%;
}

/**红点蓝点 sun1028修改**/
.tab_dian_ul .blue_dian_big{
	float:left;
	position:absolute;
	width:9.1%;
	height:4.8%;
	background:#00bbff;
	background-image:none;
	left:33.8%;
	top:71.5%;
	border-radius:100%;
}
.tab_dian_ul .red_dian_big{
	float:left;
	position:absolute;
	width:6.9%;
	height:3.6%;
	background:#ff4867;
	background-image:none;
	left:56.1%;
	top:72.3%;
	border-radius:100%;
}
/**app轮播图1029**/
.app_banner02_tabs{
	position:absolute;
	width:51.0%;
	/*height:51.8%;*/
	left:22.9%;
	top:26.9%;
	overflow: hidden;
}
.app_banner04_tabs{
	position:absolute;
	width:51.0%;
	/*height:51.8%;*/
	left:23.0%;
	top:17.7%;
	overflow: hidden;
}
.app_banner06_tabs{
	position:absolute;
	width:51.0%;
	/*height:51.8%;*/
	left:22.9%;
	top:21.4%;
	overflow: hidden;
}
.app_banner08_tabs{
	position:absolute;
	width:51.0%;
	/*height:51.8%;*/
	left:23.0%;
	top:20.4%;
	overflow: hidden;
}
.app_banner10_tabs{
	position:absolute;
	width:51.0%;
	/*height:51.8%;*/
	left:23.0%;
	top:17.3%;
	overflow: hidden;
}
.app_dian_con4{
/*	width:90px;
	overflow:hidden;
	position:absolute;
	left:35%;
	bottom:1%;*/

	position: absolute;
	left: 0;
	text-align: center;
	width: 100% !important;
	margin-top: -41px;
}

/**下面层**/
.ceng{
	border-top:1px #d6d6d6 solid;
	height:72px;
	position:fixed;
	bottom:0;
	width:100%;
	z-index: 100000;
	background:#f2f2f2;
	/* display: none; */

}
.ceng-pic{
	width:52px;
	height:52;
	float:left;
	margin:10px 0 0 45px;
}
.ceng-pic img{
	
	height: 68%;
}
.ceng-con{
	float:left;
	margin:12px 0 0 15px;
}
.ceng-con p{
	color:#333;
	font-size:14px;
	line-height:24px;
}
.ceng-con p a{
	color:#0db5ff;
	font-size:14px;
	text-decoration:none;
}

.ceng-x{
	position:absolute;
	width: 40px;
	height: 70px;
	
}
.ceng-x img{
	margin-left: 20px;
	margin-top: 30px;
	width:11px;
	height:11px;
}
.blue{
	color:#00bbff;
} 


