*{
  margin: 0;
  padding: 0;
}
*{-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
@font-face {
  font-family: numfont1;
  src: url('../fonts/SWISSCKI.TTF');
}
@font-face {
  font-family: numfont2;
  src: url('../fonts/TT0173M_.TTF');
}
body {
  font-family: sans-serif,"Microsoft YaHei","STSong","Helvetica Neue", Helvetica, Arial;
  vertical-align: baseline;
}
.hide{
  display: none;
}
html,body {
  width:100%;
  height:100%;
}
.swiper-container-main{
  width: 100%;
  height: 100%;
}
.index-slide{
  background: url("../images/index_bg.jpg") no-repeat;
  background-size: 100%;
  background-color: #14b26d;
  height: 100%;
  position: relative;
  .bigword{
    width: 750px;
    height: 515px;
  }
  .bigwordact{
    -webkit-animation: indexdong1 0.8s ease-in-out;
    -webkit-animation-fill-mode:forwards;
            animation-fill-mode:forwards;
  }
  @-webkit-keyframes indexdong1{
    0% { -webkit-transform: scale(0.6) ;}
    60% { -webkit-transform: scale(1);}
    80% { -webkit-transform: scale(0.6);}
    100% { -webkit-transform: scale(1);}
  }
  .index-person{
    width: 311px;
    height: 305px;
    margin-left: 500px;
    margin-top: -20px;
    opacity: 0;
  }
  .indexpeoact{
    -webkit-animation: indexdong2 0.6s 0.4s linear;
    -webkit-animation-fill-mode:forwards;
            animation-fill-mode:forwards;
  }
  @-webkit-keyframes indexdong2{
    from{
      margin-left: 500px;
      margin-top: -20px;
      opacity: 0;
    }
    to{
      margin-left: 359px;
      margin-top: -80px;
      opacity: 1;
    }
  }
  .indexwordnum{
    width: 285px;
    height: 351px;
    margin-left: 80px;
    margin-top: -80px;
    opacity: 0;
  }
  .indexnumact{
    -webkit-animation: indexdong3 0.6s 0.4s linear;
    -webkit-animation-fill-mode:forwards;
            animation-fill-mode:forwards;
  }
  @-webkit-keyframes indexdong3{
    from{
      opacity: 0;
    }
    to{
      opacity: 1;
    }
  }
  .jiantou{
    width: 62px;
    height: 19px;
    position: absolute;
    left: 344px;
    bottom: 50px;
    -webkit-animation: top_bottom 1s infinite;
    -webkit-animation-fill-mode: both;
  }
  @-webkit-keyframes top_bottom{
    from
    {
      bottom: 50px;
      opacity: 1;
    }
    to
    {
      bottom: 30px;
      opacity: 0.5;
    }
  }
  img{
    width: 100%;
  }
}
.mid-slide{
  background: url("../images/mid_bg1.jpg");
  background-size: 100%;
  height: auto;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.mid-slide-container{
  height: 10000px;
}
.duo-con{
  img{
    width: 100%;
  }
  .special-tit{
    width: 600px;
    height: 240px;
    margin-top: 120px;
    margin-left: 30px;
  }
  .duo-word{
    width: 700px;
    height: 440px;
    //background: red;
    margin: 0 auto;
    position: relative;
    p{
      font-size: 40px;
      line-height: 120px;
      color: #2a2a2a;
      font-weight: bold;
      span{
        font-size: 120px;
        color: #14b26d;
        font-family:numfont2;
        font-weight: normal;
        position: relative;
        top:4px;
      }
    }
    .duow1{
      margin-left: 140px;
    }
    .duow2{
      margin-left: 260px;
    }
    .duow3{
      margin-left: 20px;
    }
    .star1{
      width: 40px;
      height: 40px;
      position: absolute;
      top:20px;
      right: 240px;
      -webkit-animation: stardong 1s infinite;
      -webkit-animation-fill-mode: both;
    }
    .star2{
      width: 40px;
      height: 40px;
      position: absolute;
      top:260px;
      left: 30px;
      -webkit-animation: stardong 1s 0.5s infinite;
      -webkit-animation-fill-mode: both;
    }
    .star3{
      width: 40px;
      height: 46px;
      position: absolute;
      top:270px;
      right: 100px;
      -webkit-animation: stardong 1s 1s infinite;
      -webkit-animation-fill-mode: both;
    }
    @-webkit-keyframes stardong{
      from
      {
        //opacity: 0.8;
        -webkit-transform: scale(0.9) ;
      }
      to
      {
        //opacity: 1;
        -webkit-transform: scale(1.2) ;
      }
    }
  }
  .duo-peo{
    width: 600px;
    height: 340px;
    margin: 0 auto;
    position: relative;
    .duoline{
      width: 100px;
      height: 240px;
      position: absolute;
      left: 0;
      top:200px;
    }
    .dpeo{
      width: 510px;
      height: 390px;
      position: absolute;
      left: 100px;
      top:0;
    }
  }
}
.kuai-con{
  img{
    width: 100%;
  }
  .special-tit{
    width: 600px;
    height: 244px;
    margin-top: 120px;
    margin-left: 120px;
    position: relative;
    .kline{
      width: 100px;
      height: 202px;
      position: absolute;
      top:100px;
      left: -130px;
    }
  }
  .kuai-word{
    width: 700px;
    height: 330px;
    //background: red;
    margin: 0 auto;
    margin-top: 40px;
    .kuai-ave{
      width: 500px;
      height: 150px;
      margin: 0 auto;
      //background: palevioletred;
      position: relative;
      img{
        width: 80px;
        height: 131px;
      }
      p{
        font-size: 40px;
        color: #2a2a2a;
        font-weight: bold;
        position: absolute;
        top:40px;
        left: 80px;
      }
    }
    .hours{
      width: 300px;
      height: 200px;
      //background: palegreen;
      margin-left: 280px;
      margin-top: -40px;
      position: relative;
      img{
        width: 140px;
        height: 180px;
        -webkit-animation: hourdong 1s infinite;
        -webkit-animation-fill-mode: both;
      }
      @-webkit-keyframes hourdong{
        0%{-webkit-transform: scale(0.9);}
        25%{-webkit-transform: scale(0.95);}
        50%{-webkit-transform: scale(1);}
        75%{-webkit-transform: scale(0.95);}
        100%{-webkit-transform: scale(0.9);}
      }
      p{
        font-size: 40px;
        color: #2a2a2a;
        font-weight: bold;
        position: absolute;
        top:20px;
        left: 50px;
        span{
          font-size: 100px;
          color: #14b26d;
          font-family:numfont2;
          font-weight: normal;
          position: relative;
          top:3px;
        }
      }
    }
  }
  .kuai-peo{
    width: 600px;
    height: 419px;
    margin: 0 auto;
  }
}
.hao-con{
  img{
    width: 100%;
  }
  .special-tit{
    width: 600px;
    height: 240px;
    margin-top: 120px;
    margin-left: 30px;
  }
  .hao-word{
    width: 700px;
    height: 400px;
    //background: red;
    margin: 0 auto;
    position: relative;
    p{
      font-size: 40px;
      line-height: 120px;
      color: #2a2a2a;
      font-weight: bold;
      span{
        font-size: 120px;
        color: #14b26d;
        font-family:numfont2;
        font-weight: normal;
        position: relative;
        top:4px;
      }
    }
    .haow1{
      margin-left: 80px;
    }
    .haow2{
      margin-left: 80px;
    }
    .haow3{
      margin-left: 240px;
    }
    .star1{
      width: 74px;
      height: 82px;
      position: absolute;
      top: 114px;
      right: 260px;
      -webkit-animation: stardongdb 1s infinite;
      -webkit-animation-fill-mode: both;
    }
    @-webkit-keyframes stardongdb{
    from
    {
      -webkit-transform: scale(0.9) ;
    }
    to
    {
      -webkit-transform: scale(1.2) ;
    }
  }
  }
  .hao-peo{
    width: 600px;
    height: 409px;
    margin: 0 auto;
  }
}
.shen-con{
  img{
    width: 100%;
  }
  .special-tit{
    width: 600px;
    height: 278px;
    margin-top: 120px;
    margin-left: 30px;
  }
  .shen-word{
    width: 700px;
    height: 300px;
    //background: red;
    margin: 0 auto;
    p{
      font-size: 40px;
      line-height: 120px;
      color: #2a2a2a;
      font-weight: bold;
      span:nth-child(1){
        font-size: 100px;
        color: #14b26d;
        font-family:numfont2;
        font-weight: normal;
        position: relative;
        top:6px;
      }
      span:nth-child(2){
        font-size: 84px;
        color: #14b26d;
        font-weight: bold;
        position: relative;
        top:0px;
      }
      span:nth-child(3){
        font-size: 60px;
        color: #14b26d;
        font-weight: normal;
        position: relative;
        top:-12px;
      }
    }
    .shenw1{
      margin-left: 50px;
    }
    .shenw2{
      margin-left: 240px;
    }

  }
  .shen-peo{
    width: 650px;
    height: 460px;
    margin: 0 auto;
  }
}
.bushu-con{
  background: url("../images/bushubg.jpg");
  background-size: 100%;
  img{
    width: 100%;
  }
  .bushu-word{
    width: 628px;
    height: 160px;
    margin: 0 auto;
    padding-top: 130px;
  }
  .yellowword{
    width: 680px;
    height: 600px;
    margin: 0 auto;
    margin-top: 40px;
    position: relative;
    //background: red;
    .kuang{
      position: absolute;
      width: 339px;
      height: 342px;
      top:0px;
      right: 10px;
    }
    .bushuw1{
      width: 330px;
      height: 55px;
      display: inline-block;
      margin-top: 80px;
      margin-left: 50px;
      -webkit-animation: bushuw1dong 2s infinite linear;
      -webkit-animation-fill-mode: both;
    }
    @-webkit-keyframes bushuw1dong{
      0%{
        margin-left: 50px;
      }
      25%{
        margin-left: 70px;
      }
      50%{
        margin-left: 90px;
      }
      75%{
        margin-left: 70px;
      }
      100%{
        margin-left: 50px;
      }
    }
    .bushuw2{
      width: 416px;
      height: 52px;
      margin-top: 40px;
      margin-left:100px;
      -webkit-animation: bushuw2dong 2s 0.2s infinite linear;
      -webkit-animation-fill-mode: both;
    }
    @-webkit-keyframes bushuw2dong{
      0%{
        margin-left: 100px;
      }
      25%{
        margin-left: 120px;
      }
      50%{
        margin-left: 140px;
      }
      75%{
        margin-left: 120px;
      }
      100%{
        margin-left: 100px;
      }
    }
    .bushuw3{
      width: 422px;
      height: 49px;
      margin-top: 40px;
      margin-left:150px;
      -webkit-animation: bushuw3dong 2s 2s infinite linear;
      -webkit-animation-fill-mode: both;
    }
    @-webkit-keyframes bushuw3dong{
      0%{
        margin-left: 150px;
      }
      25%{
        margin-left: 170px;
      }
      50%{
        margin-left: 190px;
      }
      75%{
        margin-left: 170px;
      }
      100%{
        margin-left: 150px;
      }
    }
    .bushuw4{
      width: 457px;
      height: 51px;
      margin-top: 40px;
      margin-left:50px;
      -webkit-animation: bushuw4dong 2s 1s infinite linear;
      -webkit-animation-fill-mode: both;
    }
    @-webkit-keyframes bushuw4dong{
      0%{
        margin-left: 50px;
      }
      25%{
        margin-left: 70px;
      }
      50%{
        margin-left: 90px;
      }
      75%{
        margin-left: 70px;
      }
      100%{
        margin-left: 50px;
      }
    }
    .bushuw5{
      width: 411px;
      height: 49px;
      margin-top: 40px;
      margin-left:150px;
      -webkit-animation: bushuw5dong 2s 2s infinite linear;
      -webkit-animation-fill-mode: both;
    }
    @-webkit-keyframes bushuw5dong{
      0%{
        margin-left: 50px;
      }
      25%{
        margin-left: 70px;
      }
      50%{
        margin-left: 90px;
      }
      75%{
        margin-left: 70px;
      }
      100%{
        margin-left: 50px;
      }
    }
  }
  .bushuzb{
    width: 537px;
    height: 81px;
    margin: 0 auto;
  }
  .sixcity{
    width: 650px;
    height: 336px;
    margin: 0 auto;
    position: relative;
    //background: red;
    margin-top: 60px;
    .huangguanimg{
      width: 75px;
      height: 58px;
      position: absolute;
      top:14px;
      left: -20px;
      -webkit-animation: huangguandong 0.8s linear infinite;
      -webkit-animation-fill-mode: both;
    }
    @-webkit-keyframes huangguandong{
      0%{-webkit-transform: scale(0.9);}
      25%{-webkit-transform: scale(0.95);}
      50%{-webkit-transform: scale(1.1);}
      75%{-webkit-transform: scale(0.95);}
      100%{-webkit-transform: scale(0.9);}
    }
    .cityimg{

    }
  }
  .peoplelaba{
    width: 700px;
    height: 360px;
    margin: 0 auto;
    //background: red;
    position: relative;
    .lbword{
      width: 446px;
      height: 213px;
      position: absolute;
      left: 0;
      top:40px;
    }
    .lbpeo{
      width: 242px;
      height: 259px;
      position: absolute;
      left: 446px;
      top:80px;
      -webkit-animation: lbpeodong 3s 0s infinite;
      -webkit-animation-fill-mode: both;
    }
    @-webkit-keyframes lbpeodong{
      0%{-webkit-transform: scale(1);}
      10%{-webkit-transform: scale(1.1);}
      25%{-webkit-transform: scale(1);}
      100%{-webkit-transform: scale(1);}
    }
  }
}
.rungoods-con{
  background: url("../images/rungoodbg.png") no-repeat;
  background-size: 100%;
  width: 100%;
  height: 1058px;
  position: relative;
  img{
    width: 100%;
  }
  .good01{
     width: 262px;
     height: 269px;
     position: absolute;
     top:150px;
     right: 110px;
   }
  .good02{
    width: 172px;
    height: 287px;
    position: absolute;
    top:240px;
    left: 140px;
  }
  .good03{
    width: 318px;
    height: 145px;
    position: absolute;
    top:580px;
    right: 80px;
  }
  .goodpeo{
    width: 244px;
    height: 292px;
    position: absolute;
    top:600px;
    left: 70px;
  }
}
.sistergoods-con{
  background: url("../images/sistergoodbg.png") no-repeat;
  background-size: 100%;
  width: 100%;
  height: 1043px;
  position: relative;
  img{
    width: 100%;
  }
  .good01{
    width: 302px;
    height: 135px;
    position: absolute;
    top:240px;
    left: 50px;
  }
  .good02{
    width: 239px;
    height: 225px;
    position: absolute;
    top:470px;
    right: 110px;
  }
  .good03{
    width: 253px;
    height: 287px;
    position: absolute;
    top:544px;
    left: 80px;
  }
  .goodpeo{
    width: 213px;
    height: 277px;
    position: absolute;
    top:150px;
    right: 80px;
  }
}
.tecgoods-con{
  background: url("../images/tecgoodbg.png") no-repeat;
  background-size: 100%;
  width: 100%;
  height: 1218px;
  position: relative;
  img{
    width: 100%;
  }
  .good01{
    width: 173px;
    height: 239px;
    position: absolute;
    top:160px;
    right: 150px;
  }
  .good02{
    width: 226px;
    height: 287px;
    position: absolute;
    top:320px;
    left: 110px;
  }
  .good03{
    width: 457px;
    height: 350px;
    position: absolute;
    top:760px;
    left: 100px;
  }
  .goodpeo{
    width: 216px;
    height: 239px;
    position: absolute;
    top:440px;
    right: 80px;
  }
}
.damagoods-con{
  background: url("../images/damagoodbg.png") no-repeat;
  background-size: 100%;
  width: 100%;
  height: 1197px;
  position: relative;
  img{
    width: 100%;
  }
  .good01{
    width: 186px;
    height: 267px;
    position: absolute;
    top:120px;
    left: 120px;
  }
  .good02{
    width: 117px;
    height: 360px;
    position: absolute;
    top:370px;
    right: 140px;
  }
  .good03{
    width: 241px;
    height: 272px;
    position: absolute;
    top:710px;
    left: 90px;
  }
  .goodpeo{
    width: 365px;
    height: 243px;
    position: absolute;
    top:430px;
    left: 70px;
  }
  .jiantou{
    width: 62px;
    height: 19px;
    position: absolute;
    left: 344px;
    bottom: 10px;
    -webkit-animation: top_bottom 1s infinite;
    -webkit-animation-fill-mode: both;
  }
  @-webkit-keyframes top_bottom{
    from
    {
      bottom: 10px;
      opacity: 1;
    }
    to
    {
      bottom: 20px;
      opacity: 0.5;
    }
}

}
.goodcom{
  -webkit-animation: goodsdong 1.2s linear infinite;
  -webkit-animation-fill-mode: both;
}
@-webkit-keyframes goodsdong{
  0% { -webkit-transform: scale(0.98) ;}
  25% { -webkit-transform: scale(1);}
  50% { -webkit-transform: scale(1.02);}
  75%{-webkit-transform: scale(1);}
  100% { -webkit-transform: scale(0.98);}
}
.spewordcom{
  -webkit-animation: spewordong 2s linear infinite;
  -webkit-animation-fill-mode: both;
}
@-webkit-keyframes spewordong{
  0%{-webkit-transform: scale(0.9);}
  25%{-webkit-transform: scale(0.95);}
  50%{-webkit-transform: scale(1);}
  75%{-webkit-transform: scale(0.95);}
  100%{-webkit-transform: scale(0.9);}
}
.end-slide{
  background: url("../images/endbg.jpg") no-repeat;
  background-size: contain;
  background-color: #14b26d;
  height: 100%;
  position: relative;
  img{
    width: 100%;
  }
  .sun{
    width: 70px;
    height: 72px;
    position: absolute;
    top:450px;
    right: 200px;
    -webkit-animation:xuanzhuandong 3s linear infinite;
  }
  .flower{
    width: 60px;
    height: 62px;
    position: absolute;
    top:500px;
    left: 200px;
    -webkit-animation:xuanzhuandong 3s linear infinite;
  }
  @-webkit-keyframes xuanzhuandong{
    0%{-webkit-transform: rotate(0deg)}
    50%{-webkit-transform: rotate(180deg)}
    100%{-webkit-transform: rotate(360deg)}
  }
  .btn{
    width: 460px;
    height: 155px;
    position: absolute;
    top:600px;
    left: 145px;
    z-index: 1000;
    -webkit-animation:btnscaledong 0.8s 2s ease-in-out infinite;
  }
  @-webkit-keyframes btnscaledong{
    0%{-webkit-transform: scale(0.9)}
    50%{-webkit-transform: scale(1)}
    100%{-webkit-transform: scale(0.9)}
  }
  .erweima{
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}
