<div class="page" ng-controller="rewriteAddressController">
    
    <div class="page__bd">
        <br />
        <h4 style="padding:10px 15px;">《升级版中国儿童文学四大名著》收货信息更正</h4>
        <hr />
        
        <div class="weui-cells" ng-click="openAddress()">
            <div class="weui-cell weui-cell_access" id="address-area">
                <div class="weui-cell__hd"><span class="fa fa-map-marker "></span></div>
                <div class="weui-cell__bd">
                    <h4 style="padding-left:15px;">收货人：<span id="wxconsignee">{{address.userName+'  '+address.telNumber}}</span> </h4>
                    <p class="weui-cells__title">收货地址：<span id="wxaddress">{{address.provinceName+address.cityName+address.detailInfo}}</span></p>
                </div>
                <div class="weui-cell__ft"></div>
            </div>
        </div>
    </div>
    <div class="page__ft">
        <div style="padding:0 15px;"><button ng-click="updateAddress()" class="weui-btn weui-btn_primary">提交</button></div>
        <div style="padding:50px 15px 15px 15px; background:#fff; border-radius:5px;border:1px solid #ccc; margin:30px 15px 0 15px;">
            <p style="text-align:left; color:#f00;">遵敬的家长你好，感谢你对家教智慧的信赖，由于系统失误，在你提交订单时，没有保存完全你的收货信息，给你带不便，请原谅</p>
            <p style="text-align:left">为不影响你的包裹，请你及时更正收货信息，谢谢合作！</p>
            <p style="text-align:left"> 如果在2017-06-14 12:00 没有即使更新，我们将会返回你本次订购的总金额9.9元</p>
        </div>
    </div>
</div>


