*{margin:0;padding:0;}
a{text-decoration:none;}
ul,ol,li{list-style-type:none;}
.main{overflow:hidden;}
.about_us_datu{width:980px;height:360px;margin:74px auto 0;}
.about_us_top3{width:980px;margin:0 auto;padding-bottom:30px;text-align:center;border-bottom:1px #c9c9c9 solid;}
.about_us_tit{font-size:32px;color:#000;font-weight:normal;margin:52px 0 18px;}
.about_us_tit2{font-size:18px;color:#a4a4a4;font-weight:normal;margin:0 0 42px;}
.about_us_info{width:980px;height:426px;margin:0 auto;border-top:1px #c9c9c9 solid;}
.about_us_info_ul{overflow:hidden;}
.about_us_info_ul li{float:left;width:245px;height:213px;}
.about_us_info_ul li a{float:left;width:245px;height:213px;line-height:213px;text-align:center;font-size:28px;color:#000;font-family:"微软雅黑";}
.about_us_info_ul li a:hover{float:left;width:245px;height:213px;color:#fff;background:#1eabed;}

.welfare_top{height:200px;background:url(http://1251087842.cdn.myqcloud.com/1251087842/web/images/stroe-top-bg1.jpg) center center repeat-x;}
.wrapper1{width:980px;height:200px;margin:0 auto;overflow:hidden;}
.positionR{position:relative;overflow:inherit;}
.welfare_h1{width:236px;height:61px;background:url(../images/welfare_h1_font.png) 0 0 no-repeat;position:absolute;top:73px;left:40px;}
.welfare_con{width:716px;margin:0 auto;padding:0 160px 0 104px;}
.welfare_one{width:714px;height:410px;border-bottom:1px red solid;}
.welfare_two{width:714px;height:408px;}
.welfare_three{width:714px;height:408px;}
.welfare_four{width:714px;height:400px;}

.job_con{width:980px;margin:52px auto;overflow:hidden;}
.job_list{float:left;width:698px;margin:0 34px 0 28px;overflow:hidden;}
.job_list li.job_list_top{font-size:22px;}
.job_list li.job_list_top:hover{background:none;}
.job_list li.job_list_top .job_list_name{width:310px;}
.job_list li.job_list_top .job_list_category{width:198px;}
.job_list li.job_list_top .job_list_place{width:130px;}

.job_list li{height:60px;line-height:60px;border-bottom:1px #c9c9c9 solid;font-size:18px;}
.job_list li:hover{background:#eeeeee;}
.job_list li a{color:#333;}
.job_list li:hover a{color:#333;}
.job_list li a:hover{color:#1eabed;}
.job_list li span{padding-left:18px;float:left;}
.job_list li .job_list_name{width:310px;}
.job_list li .job_list_category{width:198px;}
.job_list li .job_list_place{width:130px;}

.job_hot{float:left;}
.job_hot_tit{font-size: 22px;color:#1eabed;line-height:33px;margin-bottom:10px;}
.job_hot_p{line-height:33px;}
.job_hot_p a{font-size: 16px;color:#333;}
.job_hot_p a:hover{color:#1eabed;}

.job_classify{background:#f3f3f3;padding:33px 0 43px;border-top:1px #c9c9c9 solid;border-bottom:1px #c9c9c9 solid;overflow:hidden;}
.job_classify_con{width:980px;margin:0 auto;}
.job_classify_top{border-bottom:1px #c9c9c9 solid;overflow:hidden;}
.job_classify_bottom{overflow:hidden;}

.job_classify_p{height:60px;}
.job_classify_label{float:left;padding-left:11px;height:60px;line-height:60px;font-size:18px;margin-right:20px;}
.job_classify_bq{border-radius:4px;width:77px;height:25px;float:left;line-height:25px;color:#fff;background:#1eabed;position:relative;text-align:center;margin:18px 5px;}
.job_classify_bq .closed{width:7px;height:7px;background:url(../images/closed.png) 0 0 no-repeat;position:absolute;top:3px;right:4px;}

.job_classify_ul{height:40px;float:left;margin-top:8px;}
.job_classify_ul li{height:40px;float:left;background:url(../images/shu.png) 0 11px no-repeat;}
.job_classify_ul li a{float:left;padding:0 21px;height:40px;line-height:40px;color:#333;font-size:18px;position:relative;left:1px;}
.job_classify_ul li a:hover{background:#dcdcdc;}


.job_con{width:980px;margin:52px auto;overflow:hidden;}
.job_info{float:left;width:698px;margin:0 34px 0 28px;border:1px #dcdcdc solid;}
.job_info_tit{width:686px;margin:0 auto;height:87px;border-bottom:1px #dcdcdc solid;}
.job_info_back{float: left;height: 28px;background: url(../images/job_info_back.png) 0 6px no-repeat;font-size: 18px;color: #000;padding: 2px 0 0 30px;margin: 33px 0 0 46px;}
.job_info_name{float:left;margin:30px 0 0 80px;font-size: 24px;color:#000;}
.job_info_con{padding:0 30px 110px 50px;}
.job_info_h2{margin:90px 0 12px;font-size:22px;color:#000;font-weight:normal;}
.job_info_p{font-size:18px;line-height:36px;color:#000;font-weight:normal;}
.job_info_email{width:686px;margin:0 auto;height:100px;border-top:1px #dcdcdc solid;}
.job_info_email_con{float:left;margin:36px 0 0 80px;font-size: 24px;color:#000;}

.job_hot{float:left;}
.job_hot_tit{font-size: 22px;color:#1eabed;line-height:33px;margin-bottom:10px;}
.job_hot_p{line-height:33px;}
.job_hot_p a{font-size: 16px;color:#333;}




