.input_box {
	overflow:hidden;
	margin:0 0 12px 0;
}
.input_box label {
	height:38px;
	line-height:38px;
	display:block;
	/*font-size:17px;*/
	color:#666;
}
.input_box input {
	float:left;
	border:1px #e8e8e8 solid;
	border-radius:5px;
	width:348px;
	height:48px;
	padding-left:16px;
	font-size:21px;
	color:#666;
	outline: none;
}

.input_box input:focus {
	border:1px #0bb3f3 solid;
	box-shadow: 0 0 3px #0bb3f3;
}

/*错误状态*/
.input_box .errorLabel {
	color : #ed5565;
}
.input_box .errorInput {
	border:1px #ed5565 solid;
	box-shadow: 0 0 3px #ed5565;
}