body{
	overflow-x: hidden;
}
.index-body{
	overflow: hidden;
}
.wrapper{
	width: 980px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	padding-bottom:30px;
}
.index-screen{
	/*overflow: hidden;*/
}
.main{
	-webkit-transition:all 1s cubic-bezier(0.86, 0, 0.07, 1);
	-ms-transition:all 1s cubic-bezier(0.86, 0, 0.07, 1);
	-moz-transition:all 1s cubic-bezier(0.86, 0, 0.07, 1);
	-o-transition:all 1s cubic-bezier(0.86, 0, 0.07, 1);
	transition:all 1s cubic-bezier(0.86, 0, 0.07, 1);
}
.index-body{
	overflow: hidden;
}
.index-item{
	
}
/*video*/
.video_close{
	left:0;
	top:0;
	width: 50px;
	height: 50px;
	position: absolute;
	z-index: 2004;
	cursor: pointer;
	background: url(../images/video_close.png) 0 0 no-repeat;
}
/*头部下拉*/

.fixed_head{
	position: fixed;
	top:0;
	width: 100%;
	z-index: 2002;
	-webkit-transition:all 1s cubic-bezier(0.86, 0, 0.07, 1);
	-ms-transition:all 1s cubic-bezier(0.86, 0, 0.07, 1);
	-moz-transition:all 1s cubic-bezier(0.86, 0, 0.07, 1);
	-o-transition:all 1s cubic-bezier(0.86, 0, 0.07, 1);
	transition:all 1s cubic-bezier(0.86, 0, 0.07, 1);	
}
.head_area{
	background-color: #fff;
}
#head_product_area,#head_product_area2{
	/*display: none;*/
}
.head2{
	top:0;
}
/*插件css*/
/*蒙版*/
.browser_tips{
	background-color: #fff;
	border-radius: 6px;
	height: 40px;
	line-height: 40px;
	padding: 20px 40px;
}
.picooc-mask{
	width: 100%;
	position: fixed;
	z-index: 2003;
	top:0;
	bottom:0;
	background-color: rgb(0,0,0);
	opacity:0;
	-webkit-transition:opacity 1s ease;
	-moz-transition:opacity 1s ease;
	-ms-transition:opacity 1s ease;
	-o-transition:opacity 1s ease;
	transition:opacity 1s ease;
}
.picooc-win{
	z-index: 2004;
	position: absolute;
	left:50%;
	top:50%;
	opacity: 0;
	-webkit-transition:opacity 1s ease;
	-moz-transition:opacity 1s ease;
	-ms-transition:opacity 1s ease;
	-o-transition:opacity 1s ease;
	transition:opacity 1s ease;
}

/*插件dialog*/
.dialog-win{
	width: 300px;
	border:1px #00bbff solid;
	background-color: #fff;
	position: absolute;
	z-index: 1000;
	border-radius: 6px;
}
.dialog-title{
	height: 32px;
	line-height: 32px;
	color: #fff;
	background-color: #00bbff;
}
.dialog-icon,.dialog-tips{
	float: left;
}
.dialog-tips{
	margin-left: 12px;
}
.dialog-close{
	float: right;
	cursor: pointer;
	margin-right: 12px;
}
.dialog-con{
	display: table;
	width: 100%;
	text-align: center;
}
.dialog-text{
	display: table-cell;
	padding:6px;
	vertical-align: middle;
}
.dialog-btn-con{
	height: 32px;
	line-height: 32px;
}
.dialog-btn{
	width: 50px;
	height: 20px;
	float: left;
	text-align: center;
	line-height: 20px;
	color: #fff;
	background-color: #00bbff;
	border-radius: 3px;
	margin-top: 6px;
}
.dialog-btn-left{
	margin-left:80px;
}
.dialog-btn-rig{
	margin-left:50px;
}
.dialog-btn-con a:hover{
	text-decoration: underline;
}
/*大图滚动插件*/
.Img-datu-con{
	width: 980px;
	position: relative;
	overflow: hidden;
	margin:71px auto 0;
	height: 300px;
}

.Img-item-set{
	position: absolute;
	width: 100%;
	top:0;
	bottom: 0;
	left:0;
}
.midcon_class{
	width: 980px;
	left:50%;
	margin: 0 0 0 -490px;
	top:0;
	bottom: 0;
	z-index: 6;
	position: absolute;
}
.Img-navbtn{
	position: absolute;
	width: 100%;
	bottom: 10px;
	z-index: 100;
	text-align: center;
}
.Img-navbtn li{
	display: inline-block;
	width: 10px;
	height: 10px;
	border:2px #fff solid;
	border-radius: 10px;
	margin:0 5px;
}
.btn_class_left{
	width: 80px;
	height: 80px;
	position: absolute;
	z-index: 2001;
	top:40%;
	margin-top: -40px;
	cursor: pointer;
	background: url(../images/datu-btn2.png) 0 0 no-repeat;
	-webkit-transition:all 1s ease;
	-moz-transition:all 1s ease;
	-ms-transition:all 1s ease;
	-o-transition:all 1s ease;
	transition:all 1s ease;
}
.btn_class_right{
	width: 80px;
	height: 80px;
	position: absolute;
	z-index: 2001;
	top:40%;
	margin-top: -40px;
	cursor: pointer;
	background: url(../images/datu-btn2.png) -80px 0 no-repeat;
	-webkit-transition:all 1s ease;
	-moz-transition:all 1s ease;
	-ms-transition:all 1s ease;
	-o-transition:all 1s ease;
	transition:all 1s ease;
}
.btn_class_left2{
	width: 50px;
	height: 50px;
	position: absolute;
	z-index: 2001;
	top:170px;
	cursor: pointer;
	background:url(../images/datu_left_btn.png) 0 0 no-repeat;
}
.btn_class_right2{
	width: 50px;
	height: 50px;
	position: absolute;
	z-index: 2001;
	top:170px;
	cursor: pointer;
	background:url(../images/datu_right_btn.png) 0 0 no-repeat;
}	
.Img-li-select{
	background-color: #00bbff;
}

/*index-nav-box*/
.index-nav-box{
	position: fixed;
	min-width: 121px;
	top:50%;
	margin-top: -114px;
	right: 46px;
	z-index: 2000;
}
.index-nav-box ul{
	width: 100%;
	float: right;
	text-align: center;
}
.index-nav-box ul em{
	float: right;
	width: 10px;
	height: 10px;
	cursor: pointer;
	border:2px #434343 solid;
	border-radius: 10px;
	margin:6px 11px 14px 0;
	display: inline-block;
}
.index-nav-box ul li{
	width: 100%;
	overflow: hidden;
}
.index-nav-box ul li span{
	float: right;
	display: none;
	padding:0 12px;
	height: 25px;
	background-color: #434343;
	color: #fff;
	margin-right: 12px;
	line-height: 25px;
	border-radius: 15px/12px;
}

.index-nav-box ul li:first-child span{
	line-height: 24px;
}
.index-nav-box ul li:last-child{
	margin-bottom: 0;
}
.index-nav-selected em{
	background-color: #434343;
}
.index-nav-box ul li:first-child em{
	border:none;
	border-radius: 0;
	margin:0 7px 16px 0;
	background-image: url(../images/index-home-bg.png);
	background-size: 100% 100%;
	background-color: none;
	width: 24px;
	height: 20px;
}
.index-nav-first em{
	background-color: none;
}
/*大图*/
.index-datu{
	height:712px;
	margin-top: 73px;
	text-align: center;
	position: relative;
}
/*大图end*/
/*video*/
.index-video{
	width: 100%;
	overflow: hidden;
	/*width: 980px;*/
	margin: 2px auto 0;
	height: 230px;
	position: relative;
}
.index-video div{
	width: 488px;
	height: 230px;
	background-color:rgba(0,0,0,0.2);
	float: left;
	cursor: pointer;
}
.index-video-left{
	margin-right: 2px;
}
.index-video-left:hover{
	background-color: rgba(0,0,0,0.4);
}
.index-video-right{
	margin-left:2px;
}
.index-video-right:hover{
	background-color: rgba(0,0,0,0.4);
}
.index-video .index-video1{
	width: 100%;
	position: absolute;
	top:0;
	bottom: 0;
	background: url(../images/index-video1.jpg) center center no-repeat;
}
.index-video .hover{
	width: 1000px;
	/*height: 222px;*/
	bottom:0;
	position: absolute;
	left: 50%;top:0;
	margin-left: -500px;
	background-color: rgba(0,0,0,0.6);
	display: none;
	cursor: pointer;
}
.index-video :hover .hover{
	display: block;
}
/*app*/
.index-app{
	height: 1081px;
	position: relative;
	background: url(../images/index-app.jpg) center center no-repeat;
}
.index-app-iphone{
	position: absolute;
	right: 50%;
	width: 50%;
	z-index: 10;
	top:0;
	bottom:0;
	margin-left: -75px;
	background-position: -1041px 43px;
	background-image: url(../images/index-iphone.png);
	background-repeat:no-repeat;
	-webkit-transition-property: background;
	-webkit-transition-duration: 1s;
	-webkit-transition-timing-function: ease;


	-o-transition-property: background;
	-o-transition-duration: 1s;
	-o-transition-timing-function: ease;


	-moz-transition-property: background;
	-moz-transition-duration: 1s;
	-moz-transition-timing-function: ease;


	-ms-transition-property: background;
	-ms-transition-duration: 1s;
	-ms-transition-timing-function: ease;


	transition-property: background;
	transition-duration: 1s;
	transition-timing-function: ease;

}
.index-app-text{
	width: 50%;
	top:0;
	bottom:0;
	position: absolute;
	right: 0;
	background: url(../images/index-app-text.png) 95px 35% no-repeat;	
}
.index-app-eight{
	width: 872px;
	height: 81px;
	left: 50%;
	margin-left: -436px;
	position: absolute;
	bottom: 50px;
	z-index: 20;
	background-position: 0 -81px;
	background-image: url(../images/index-app-eight.png);
	background-repeat:no-repeat;
	-webkit-transition-property: background;
	-webkit-transition-duration: .5s;
	-webkit-transition-timing-function: ease-in-out;


	-ms-transition-property: background;
	-ms-transition-duration: .5s;
	-ms-transition-timing-function: ease-in-out;


	-moz-transition-property: background;
	-moz-transition-duration: .5s;
	-moz-transition-timing-function: ease-in-out;


	-o-transition-property: background;
	-o-transition-duration: .5s;
	-o-transition-timing-function: ease-in-out;


	transition-property: background;
	transition-duration: .5s;
	transition-timing-function: ease-in-out;

}
.learn_more3{
	top:35%;
	margin-top: 211px;
	/*margin-top: -366px;*/
	left:96px;
	opacity: 1;
	width: 128px;
	height: 40px;
	position: absolute;
	background: url(../images/index-learn-more.png) 0 0 no-repeat;
}
/*experience*/
.index-experience{
	height: 1081px;
	background-color:  rgb(244, 242, 243);
	background-image: url(../images/index-foot.jpg);
	background-position:50% -390px;
	background-repeat:no-repeat;
	position: relative;
}
.index-experience-bg{
	/*width: 100%;
	height: 600px;
	background:#f4f2f3 url(../images/index-foot.jpg) center bottom no-repeat;*/
}
.index-experience-con{
	height: 390px;
	position: absolute;
	left:50%;
	bottom:0;
	margin:-210px 0 0 -490px;
}
.index-experience-title{
	width: 353px;
	height: 56px;
	margin:0 auto 40px;
	opacity: 0;
	background: url(../images/index-experience-title.png) 0 0 no-repeat;
	-webkit-transition-property: opacity;
	-webkit-transition-duration: .5s;
	-webkit-transition-timing-function: ease-in-out;


	-moz-transition-property: opacity;
	-moz-transition-duration: .5s;
	-moz-transition-timing-function: ease-in-out;


	-ms-transition-property: opacity;
	-ms-transition-duration: .5s;
	-ms-transition-timing-function: ease-in-out;


	-o-transition-property: opacity;
	-o-transition-duration: .5s;
	-o-transition-timing-function: ease-in-out;


	transition-property: opacity;
	transition-duration: .5s;
	transition-timing-function: ease-in-out;

}
.index-experience-text{
	width: 540px;　
	height: 126px;
	margin:0 auto 50px;
	background: url(../images/index-experience-text.png) 0 0 no-repeat;
	opacity: 0;
	-webkit-transition-property: opacity;
	-webkit-transition-duration: .5s;
	-webkit-transition-timing-function: ease-in-out;

	-moz-transition-property: opacity;
	-moz-transition-duration: .5s;
	-moz-transition-timing-function: ease-in-out;


	-ms-transition-property: opacity;
	-ms-transition-duration: .5s;
	-ms-transition-timing-function: ease-in-out;


	-o-transition-property: opacity;
	-o-transition-duration: .5s;
	-o-transition-timing-function: ease-in-out;


	transition-property: opacity;
	transition-duration: .5s;
	transition-timing-function: ease-in-out;
}
.index-learn-more2{
	width: 128px;
	height: 40px;
	margin:0 auto;
	display: block;
	opacity: 0;
	background: url(../images/index-learn-more.png) 0 0 no-repeat;
	-webkit-transition-property: opacity;
	-webkit-transition-duration: .5s;
	-webkit-transition-timing-function: ease-in-out;	

	-moz-transition-property: opacity;
	-moz-transition-duration: .5s;
	-moz-transition-timing-function: ease-in-out;

	-ms-transition-property: opacity;
	-ms-transition-duration: .5s;
	-ms-transition-timing-function: ease-in-out;

	-o-transition-property: opacity;
	-o-transition-duration: .5s;
	-o-transition-timing-function: ease-in-out;

	transition-property: opacity;
	transition-duration: .5s;
	transition-timing-function: ease-in-out;
}
.index-learn-more{
	width: 128px;
	height: 40px;
	margin-left:-64px;
	position: absolute;
	left:50%;
	opacity: 0;
	background: url(../images/index-learn-more.png) 0 0 no-repeat;
	-webkit-transition-property: opacity;
	-webkit-transition-duration: .5s;
	-webkit-transition-timing-function: ease-in-out;	

	-moz-transition-property: opacity;
	-moz-transition-duration: .5s;
	-moz-transition-timing-function: ease-in-out;

	-ms-transition-property: opacity;
	-ms-transition-duration: .5s;
	-ms-transition-timing-function: ease-in-out;

	-o-transition-property: opacity;
	-o-transition-duration: .5s;
	-o-transition-timing-function: ease-in-out;

	transition-property: opacity;
	transition-duration: .5s;
	transition-timing-function: ease-in-out;
}
.learn_more2{
	bottom: 100px;
}
/*sport*/
.index-sport{
	height: 1081px;
	position: relative;
	background:#f4f2f3 url(../images/index-sport.jpg) center center no-repeat;
}
.index-sport-con{	
	height: 857px;
	position: absolute;
	top:50%;
	left:50%;
	margin: -428px 0 0 -490px;
}
.index-sport-circle{
	font-family: arial;
	width: 370px;
	height: 370px;
	margin:0 auto 0;
	overflow: hidden;
	position: relative;
}
.index-steps{
	width: 285px;
	margin: 100px 0 0 -142px;
	position: absolute;
	top: 16px;
	left: 50%;
}
/*数字向上滚动插件*/
.index-steps{
	overflow: hidden;
	text-align: center;
}
#index-steps-box{
	overflow: hidden;
	color: #fff;
	display: inline-block;
}
#index-steps-box span{
	float: left;
	width: 50px;
	text-align: center;
	overflow: hidden;
	font-size: 92px;
	-webkit-transition:all 1.2s cubic-bezier(0.86, 0, 0.07, 1);
	-moz-transition:all 1.2s cubic-bezier(0.86, 0, 0.07, 1);
	-ms-transition:all 1.2s cubic-bezier(0.86, 0, 0.07, 1);
	-o-transition:all 1.2s cubic-bezier(0.86, 0, 0.07, 1);
	transition:all 1.2s cubic-bezier(0.86, 0, 0.07, 1);
}
#index-steps-box span em{
	display: block;
	width: 28px;
}

/*@media screen and (min-height:679px) and (max-height: 780px){
	.index-sport-circle{
		font-family: arial;
		width: 370px;
		height: 370px;
		margin:100px auto 0;
		overflow: hidden;
		position: relative;
	}
	.index-steps{
		width: 200px;
		margin: 126px 0 0 -100px;
		position: absolute;
		top: 16px;
		left: 50%;
	}
}
.index-sport-border{
	position: absolute;
	top:10px;
	bottom: 10px;
	right:10px;
	left:10px;
	border-radius: 370px;
	display: none;
}*/

.index-step-text{
	position: absolute;
	left: 50%;
	top: 62%;
	color: #fff;
	font-size: 15px;
	margin-left: -12px;
	width: 23px;
	height: 23px;
	background: url(../images/index-step.png) 0 0 no-repeat;
}
.index-sport-timeline{
	width: 783px;
	height: 140px;
	position: absolute;
	left:50%;
	margin-left: -392px;
	bottom: 390px;
	opacity: 1;
	background: url(../images/index-sport-timeline.png) 0 0 no-repeat;
	-webkit-transition-property: all;
	-webkit-transition-duration: 1s;
	-webkit-transition-timing-function: ease-in-out;
	-webkit-transition-delay: 0s;

	-moz-transition-property: all;
	-moz-transition-duration: 1s;
	-moz-transition-timing-function: ease-in-out;
	-moz-transition-delay: 0s;

	-ms-transition-property: all;
	-ms-transition-duration: 1s;
	-ms-transition-timing-function: ease-in-out;
	-ms-transition-delay: 0s;

	-o-transition-property: all;
	-o-transition-duration: 1s;
	-o-transition-timing-function: ease-in-out;
	-o-transition-delay: 0s;

	transition-property: all;
	transition-duration: 1s;
	transition-timing-function: ease-in-out;
	transition-delay: 0s;
}
.index-sport-title{
	width: 412px;
	height: 56px;
	margin-left:-206px;
	position: absolute;
	left:50%;
	bottom: 302px;
	opacity: 1;
	background: url(../images/index-sport-title.png) 0 0 no-repeat;
	-webkit-transition-property: all;
	-webkit-transition-duration: 1s;
	-webkit-transition-timing-function: ease-in-out;
	-webkit-transition-delay: 0s;

	-moz-transition-property: all;
	-moz-transition-duration: 1s;
	-moz-transition-timing-function: ease-in-out;
	-moz-transition-delay: 0s;

	-o-transition-property: all;
	-o-transition-duration: 1s;
	-o-transition-timing-function: ease-in-out;
	-o-transition-delay: 0s;

	-ms-transition-property: all;
	-ms-transition-duration: 1s;
	-ms-transition-timing-function: ease-in-out;
	-ms-transition-delay: 0s;

	transition-property: all;
	transition-duration: 1s;
	transition-timing-function: ease-in-out;
	transition-delay: 0s;
}
.index-sport-text{
	width: 423px;
	height: 98px;
	margin-left:-211px;
	position: absolute;
	left:50%;
	background: url(../images/index-sport-text.png) 0 0 no-repeat;
	bottom: 166px;
	opacity: 1;
	-webkit-transition-property: all;
	-webkit-transition-duration: 1s;
	-webkit-transition-timing-function: ease-in-out;
	-webkit-transition-delay: 0s;

	-moz-transition-property: all;
	-moz-transition-duration: 1s;
	-moz-transition-timing-function: ease-in-out;
	-moz-transition-delay: 0s;

	-o-transition-property: all;
	-o-transition-duration: 1s;
	-o-transition-timing-function: ease-in-out;
	-o-transition-delay: 0s;

	-ms-transition-property: all;
	-ms-transition-duration: 1s;
	-ms-transition-timing-function: ease-in-out;
	-ms-transition-delay: 0s;

	transition-property: all;
	transition-duration: 1s;
	transition-timing-function: ease-in-out;
	transition-delay: 0s;
}
.learn_more12{
	opacity: 1;
	bottom: 100px;
}
@media screen and (max-height:679px){
	.learn_more12{
		bottom: 130px;
	}
	.index-sport-text{
		bottom: 186px;
	}
}
@media screen and (max-height:878px){
	.index-sport-con{
		top:50%;
		left: 50%;
		height: 562px;
		margin:-281px 0 0 -490px;
	}
	.index-sport-circle{
		width: 370px;
		height: 370px;
		margin-left: 0;
		-webkit-transform: scale(0.935);
		-moz-transform: scale(0.935);
		-ms-transform: scale(0.935);
		-o-transform: scale(0.935);
		transform: scale(0.935);
	}
	.index-sport-title{
		right: 0;
		top: 54px;
		margin-left: 0;
	}
	.index-sport-text{
		margin-left: 0;
		right: 0;
		top: 170px;
		background-position: 0 0 ;
		background-repeat: no-repeat;
		background: url(../images/index-sport-text2.png) 0 0 no-repeat;
	}
	.index-sport-timeline{
		top: 390px;
	}
	.learn_more12{
		top: 310px;
		margin-left: 0;
	}
}
/*@media screen and (max-height:867px){
	.index-sport-circle{
		width: 220px;
		height: 220px;
		margin:100px auto 0;
		overflow: hidden;
		position: relative;
	}
	.index-steps{
		width: 200px;
		height: 85px;
		margin: 52px 0 0 -100px;
		position: absolute;
		top: 16px;
		left: 50%;
	}
	.index-sport-border{
		position: absolute;
		top:10px;
		bottom: 10px;
		right:10px;
		left:10px;
		border-radius: 370px;
	}
	.index-sport-timeline{
		bottom: 390px;
	}
	.index-sport-title{
		bottom: 302px;
	}
	.index-sport-text{
		bottom: 166px;
	}
	.learn_more12{
		bottom: 100px;
	}
}*/
/*more data*/
.index-data{
	position: relative;
	height: 1081px;
	background: url(../images/index-data.jpg) center bottom no-repeat;
}
.index-data-con{
	width: 688px;
	height: 300px;
	position: absolute;
	left:50%;
	top:50%;
	opacity: 0;
	margin:-150px 0 0 -344px;
	-webkit-transition:all 1s ease;
	-moz-transition:all 1s ease;
	-ms-transition:all 1s ease;
	-o-transition:all 1s ease;
	transition:all 1s ease;
}
.learn_more1{
	bottom:0;
}
.index-data-title{
	width: 294px;
	height: 56px;
	position: absolute;
	left:50%;
	top:0;
	margin:0 0 0 -147px;
	background: url(../images/index-data-title.png) center 0 no-repeat;
	
}
.index-data-text{
	position: absolute;
	width: 700px;
	height: 100px;
	left:50%;
	top:96px;
	margin:0 0 0 -340px;
	background: url(../images/index-data-text.png) center 0 no-repeat;

}
.learn_more0{
	top:260px;
	opacity: 1;
}
/*phms*/
.index-phms{
	height: 1081px;
	position: relative;
}
.index-phms-con{
	/*height: 960px;*/
	position: absolute;
	left:50%;
	top:50%;
	margin-left:-490px;
	margin-top: -419px;
	bottom:0;
}
.index-phms-title{
	width: 350px;
	height: 98px;
	margin: 0 auto 25px;
	background: url(../images/index-phms-title.png) 0 0 no-repeat;
}
.index-phms-text1{
	width: 405px;
	height: 62px;
	margin: 0 auto 25px;
	background: url(../images/index-phms-text1.png) 0 0 no-repeat;
}
.index-phms-text2{
	width: 589px;
	height: 126px;
	margin: 0 auto 25px;
	background: url(../images/index-phms-text2.png) 0 0 no-repeat;
}
.index-phms-imgs{
	width: 818px;
	height: 482px;
	margin:0 auto;
	position: relative;
}
.index-phms-imgs span{
	position: absolute;
	-webkit-transition:all 1s ease;
	-moz-transition:all 1s ease;
	-ms-transition:all 1s ease;
	-o-transition:all 1s ease;
	transition:all 1s ease;

}
.index-phms-left{
	width: 259px;
	height: 454px;
	left: -359px;
	top:34px;
	background-size: 100% 100%;
	background-image: url(../images/index-phms-iphone1.png);
}
.index-phms-middle{
	width: 297px;
	height: 523px;
	left:265px;
	background-size: 100% 100%;
	background-image: url(../images/index-phms-iphone2.png);
}
.index-phms-right{
	width: 259px;
	height: 454px;
	right: -359px;
	top:34px;
	background-size: 100% 100%;
	background-image: url(../images/index-phms-iphone3.png);
}
@media screen and (max-height:768px){
	.index-phms-left,.index-phms-right{
		width: 149px;
		height: 260px;
	}
	.index-phms-middle{
		width: 169px;
		height: 297px;
		left: 323px;
	}
	.index-phms-title{
		margin:0 auto 10px;
	}
	.index-phms-con{
		margin-top: -330px;
	}
	.learn_more22{
		opacity: 1;
		bottom: 0;
	}
	.index-phms-text1{
		margin:0 auto 20px;
	}
}
.learn_more22{
	opacity: 1;
	bottom: 0;
}
/*armbind*/
.armband_1{
	width: 100%;
	height: 780px;
	background: url(../images/armband_1.jpg) center 0 no-repeat;
}
.armband_1_mesg{
	width: 400px;
	height: 256px;
	position: relative;
	margin: 160px 0 0 62px;
	background: url(../images/armband_1_text.png) 0 0 no-repeat;
}
.armband_1_btn{
	position: absolute;
	bottom: 0;
	left:0;
}
.armband_2_mesg{
	width: 320px;
	height: 130px;
	margin: 703px 0 0 62px;
	background: url(../images/armband_2_text.png) 0 0 no-repeat;
}
.armband_2{
	height: 1079px;
	background: url(../images/armband_2.jpg) center 0 no-repeat;
}
.armband_3_mesg{
	width: 406px;
	height: 112px;
	margin: 485px 0 0 554px;
	background: url(../images/armband_3_text.png) 0 0 no-repeat;
}
.armband_3{
	height: 1079px;
	background: url(../images/armband_3.jpg) center 0 no-repeat;
}
.armband_4_mesg{
	width: 406px;
	height: 112px;
	margin: 485px 0 0 556px;
	background: url(../images/armband_4_text.png) 0 0 no-repeat;
}
.armband_4{
	height: 1081px;
	background: url(../images/armband_4.jpg) center 0 no-repeat;
}
.armband_5_mesg{
	width: 406px;
	height: 112px;
	margin: 485px 0 0 506px;
}
.armband_5{
	position: relative;
	height: 1081px;
}
.armband_5_tabs{
	width: 94px;
	height: 50px;
	margin: 142px 0 0;
	position: relative;
	float: right;
}
.armband_5_tabs span{
	position: absolute;
	width: 24px;
	height: 24px;
	border-radius: 30px;
	top:8px;
	cursor: pointer;
	border:5px #e6e6e4 solid;
	-webkit-transform-origin:center center;
	transform-origin:center center;
	-webkit-transition:all 1s cubic-bezier(0.86, 0, 0.07, 1);
	-ms-transition:all 1s cubic-bezier(0.86, 0, 0.07, 1);
	-moz-transition:all 1s cubic-bezier(0.86, 0, 0.07, 1);
	-o-transition:all 1s cubic-bezier(0.86, 0, 0.07, 1);
	transition:all 1s cubic-bezier(0.86, 0, 0.07, 1);
	z-index: 2000;
}
.armband_5_tab1{
	left:0;
	background-color: #00bbff;
}
.armband_5_tab2{
	right:4px;
	background-color: #ff4867;
}
.armband_btn_selected{
	-webkit-transform:scale(1.2,1.2);
	-moz-transform:scale(1.2,1.2);
	-o-transform:scale(1.2,1.2);
	-ms-transform:scale(1.2,1.2);
	transform:scale(1.2,1.2);
}
.armband_5_bgouter{
	height: 719px;
	position: absolute;
	width: 100%;
	overflow: hidden;
	top:142px;
	z-index: 2;
}
.armband_5_bg{
	height: 719px;
}
.armband_5_blue{
	background: url(../images/armband_5_blue.png) center 0 no-repeat;
}
.armband_5_red{
	display: none;
	background: url(../images/armband_5_red.png) center 0 no-repeat;
}
.armband_buy_btn{
	width: 131px;
	height: 40px;
	background: url(../images/armband_buy_btn22.png) 0 0 no-repeat;
	float: left;
	text-align:center;
	line-height:40px;
	font-size:15px;
	font-family:Microsoft YaHei,'微软雅黑';
	color:#fff;cursor:default;
}
.armband_5_btn{
	position: absolute;
	left: 50%;
	margin-left: -66px;
	bottom: 113px;
}
.armband_5_aa{
	min-width: 980px;
	height:919px;
}
.armband_circle{
	position: absolute;
	z-index: 3;
}
.armband_c_1{
	width: 340px;
	height: 116px;
	left:357px;
	top:207px;
}
.armband_c_2{
	width: 254px;
	height: 115px;
	left: 663px;
	top:326px;
}
.armband_c_3{
	width: 285px;
	height: 125px;
	left:216px;
	top:689px;
}
.armband_c_4{
	width: 262px;
	height: 126px;
	left: 54px;
	top:541px;
}
.armband_circle_icon{
	position: absolute;
	width: 40px;
	height: 40px;
	cursor: pointer;
	background: url(../images/armband_circle.png) 0 0 no-repeat;
	z-index: 10;
}
.armband_c_1 em{
	left:0;
	bottom: 0;
}
.armband_c_2 em{
	left:0;
	bottom: 0;
}
.armband_c_3 em{
	right:0;
	top:0;
}
.armband_c_4 em{
	right:0;
	top:0;
}
.armband_circle span{
	z-index: 9;
	position: absolute;
	top:0;
	bottom: 0;	
	-webkit-transition:all 0.5s cubic-bezier(0.86, 0, 0.07, 1);
	-moz-transition:all 0.5s cubic-bezier(0.86, 0, 0.07, 1);
	-ms-transition:all 0.5s cubic-bezier(0.86, 0, 0.07, 1);
	-o-transition:all 0.5s cubic-bezier(0.86, 0, 0.07, 1);
	transition:all 0.5s cubic-bezier(0.86, 0, 0.07, 1);
	
}
.armband_c_1 span{
	left:20px;
	right:319px;
	background: url(../images/armband_c_1.png) 0 0 no-repeat;
}
.armband_c_2 span{
	left:20px;
	right:234px;
	background: url(../images/armband_c_2.png) 0 0 no-repeat;
}
.armband_c_3 span{
	right:20px;
	top:20px;
	left:263px;
	background: url(../images/armband_c_3.png) right 0 no-repeat;
}
.armband_c_4 span{
	right:20px;
	left:243px;
	top:20px;
	background: url(../images/armband_c_4.png) right 0 no-repeat;
}
/*footer start*/
.footer{
	width: 100%;
	height: 150px;
	border-top: 1px #cccccc solid;
	overflow:hidden;
	margin-bottom:30px;
}
.footer a{
	color:#6a6a6a;
}
.footer a:hover{
	color:#00bbff;
}
.footer-inner{
	overflow: hidden;
}
.footer-ul{
	float: left;
	margin-right: 39px;
	line-height: 25px;
}
.footer-ul li a{float:left;}
.footer-top{
	overflow: hidden;
	margin-top: 20px;
}
.footer-ul-title{
	color:#c1c1c1;
	font-size:14px;
}
.footer-left{
	float: left;
}
.footer-li-left{
	margin-right: 39px;
}
.footer-li-right{
	float: right;
}
.footer-right{
	overflow: hidden;
	float: right;
}
.footer-right a{
	float: left;
	margin-left: 19px;
	height: 40px;
}
.friend-link-qq{
	width: 74px;	
	background: url(../images/friend-link-img.png) 0 center no-repeat;
}
.friend-link-baidu{
	width: 36px;
	background: url(../images/friend-link-img.png) -93px center no-repeat;
}
.friend-link-youku{
	width: 58px;
	background: url(../images/friend-link-img.png) -149px center no-repeat;
}
.friend-link-sina{
	width: 47px;
	background: url(../images/friend-link-img.png) -223px center no-repeat;
}
.footer-bottom{
	margin:34px 0 14px;
	overflow: hidden;
}
.footer-bottom p{
	float: left;
}
.footer-bottom span{
	float:left;
}
.footer-tel{float:left;width:280px;height:30px;background:url(../images/foot-tel.png) 0 0 no-repeat;position:absolute;bottom:47px;right:0;}
/*footer end*/
.margintop1{
	margin-top: 73px;
}
.img-load-tips{
	position: absolute;
	width: 100%;
	top: 0;
	bottom: 0;
	text-align: center;
	z-index: 10;
	line-height: 112px;
	background-color: rgba(0,0,0,0.5);
	color: #fff;
	display: none;
}
/*app*/
.app_phone_win{
	position: relative;
	width: 261px;
	height: 467px;
	float: left;
	margin: 98px 28px;
	overflow: hidden;
}
.app_phone_win img{
	position: absolute;
	top:0; 
	width: 261px;
	height: 467px;
}

/*cart*/
.cart{
	font-size: 14px;
}
.cart_title{
	height:66px;
	overflow: hidden;
	margin:15px 0 5px 0;
	padding:0 0 0 30px;
}
.cart_text{
	float: left;
	line-height: 66px;
	font-size: 18px;
	color:#666666;
}
.order_progress{
	width:446px;
	height:32px;
	float: right;
	position: relative;
	margin:20px 0 0 0;
}
.order_progress1{
	background: url(../images/1.png) 0 0 no-repeat;
}
.order_progress2{
	background: url(../images/2.png) 0 0 no-repeat;
}
.order_progress3{
	background: url(../images/3.png) 0 0 no-repeat;
}
.order_progress div{
	position: absolute;
}
.color_fff{
	color:#fff;
}

.order_left1{
	left:3px;
}

.order_left2{
	left:140px;
}
.order_left3{
	left: 285px;
}

.order_step{
	width: 136px;
	height: 32px;
	float: left;
	text-align: center;
	line-height: 32px;
}
.order_title{
	width: 100%;
	overflow: hidden;
	height:25px;
	line-height:25px;
	color:#999999;
	font-size:14px;
	background-color: #e2e2e2;
}
.order_title span{
	float: left;
	text-align: center;
}
.commodity_img{
	width:135px;
}
.commodity_name{
	width:334px;
}
.commodity_price{
	width:122px;
	text-align: right;
}
.commodity_nowprice{
	width:122px;
}
.color-red{
	color:#ff0000;
}
.commodity_counts{
	width:108px;
}
.commodity_state{
	width:120px;
}
.commodity_do{
	width:58px;
}
.order_item{
	height:153px;
	margin-top: 12px;
	border-bottom: 1px #e2e2e2 solid;    
}
.order_item div{
	display: table;
	text-align: center;
	min-height: 126px;
	vertical-align: middle;
}
.order_table_cell{
	display: table-cell;
	vertical-align: middle;
	padding: 0 0 6px 35px;
}
.commodity_name a:hover{
	color: #00bbff;
	text-decoration: underline;
}
.order_item  .commodity_pic{	
	width: 125px;
	height:125px;
	display: table-cell;
	margin-left: 4px;
}
.order_item  .commodity_img{
	display: block;
}
.fll{
	/*float: left;*/
}
.commodity_reduce{
	width:20px;
	height:20px;
	line-height: 20px;
	margin:4px 0 0 0;
	border: 1px #e2e2e2 solid;
	border-right:none;
	background-color: #f0f0f0;
	cursor: pointer;
}
.commodity_add{
	width:20px;
	height:20px;
	line-height: 20px;
	margin:4px 0 0 0;
	cursor: pointer;
	background-color: #f0f0f0;
	border: 1px #e2e2e2 solid;
	border-left:none;
}
.commodity_input{
	width:46px;
	height:28px;
	text-align: center;
	border: 1px #e2e2e2 solid;
}
.commodity_delete{
	width: 31px;
	height: 31px;
	line-height: 31px;
	cursor: pointer;
	margin-left: 16px;
	/*background: url(../images/commodity_delete1.png) 0 -31px no-repeat;*/
}
.commodity_delete:hover{
	text-decoration: underline;
	/*background: url(../images/commodity_delete1.png) 0 0 no-repeat;*/
}
.order_des{
	margin-top: 20px;
	overflow: hidden;
	padding:0 28px;
}
.clearAll_order{
	float: left;
}
.orders_total{
	float: right;
}
.commodity_buycounts{
	margin-right: 6px;
}
.clearAll_order{
	cursor: pointer;
}
.order_des2{
	overflow: hidden;
	margin-top: 21px;
	padding:0 28px;
}
.commodity_money2{
	color:#e00000;
	font-size: 26px;
}
.order_next_btn{
	color:#fff;
	height: 50px;
	padding:0 26px;  
	float: left;
	line-height: 50px;
	cursor: pointer;
	font-size:18px;
	border-radius: 2px/3px;
}
.order_to_shopping{
	background-color: #999999;
	margin-right: 5px;
}
.order_to_checkout{
	background-color: #00bbff;
}
.clearAll_order:hover{
	text-decoration: underline;
}
.errorTip{
	position: absolute;
	/*min-width: 120px;*/
	line-height: 22px;
	padding: 0 16px;
	background-color: #e3728a;
	font-size: 12px;
	color: #fff;
}
/*.errorText{
	display:none;float:left;height:30px;line-height:32px;color:#ed5565;
	margin:3px 0 0 12px;border-radius:5px;background:#fff url(../../../images/error-bg2.png) 0px 7px no-repeat;
	padding:0 20px 0 22px;
}*/

/*.errorText{
	color: #fff;
	width: auto;
	font-size: 12px;
	margin-left: 6px;
	font-style: normal;
}
.errorBg{
	
}*/
.order_dialog_delete{
	width:250px;
	height:100px;
	font-size: 12px;
	position: absolute;
	background-color: #fff;
	z-index: 1000;
	border: 1px #e2e2e2 solid;
}
.order_dialog_title{
	height:27px;
	line-height: 27px;
	text-indent: 1em;
	background-color: #e2e2e2;
	border-bottom: 1px #e2e2e2 solid;
}
.order_dialog_mesg{
	line-height: 22px;
	margin:8px 0;
	color: #e00000;
	text-align: center;
}
.order_dialog_btn a{
	float: left;
	width: 44px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	border-radius: 2px/4px;
	border:1px #e2e2e2 solid;
}
.order_dialog_sure{
	margin: 0 34px 0 62px;
}

.order_success_win{
	width: 709px;
	height: 342px;
	margin: 108px auto;
	text-align: center;
}
.order_success_inner{
	width:680px;
	height:319px;
	margin: 10px auto;
}
.order_mesg1{
	width:631px;
	height: 56px;	
	font-size: 22px;
	font-weight: bold;
	line-height: 130px;
	text-indent: 5em;
	margin: 0 auto;
	background: url(../images/order_success.png) center center no-repeat;
}
.back_to_list{
	margin: 36px 0 56px;
	font-size: 18px;
}
.back_btn{
	width: 120px;
	height: 50px;
	float: left;
	text-align: center;
	line-height: 50px;
	background-color: #00bbff;
	color: #fff;
	margin-left: 290px;
	border-radius:5px;
	font-size:18px;
}
.back_btn:hover{
	text-decoration: underline;
}
.color_f0f0f0{
	overflow: hidden;
}
.order_url_inner{	}
.buyer_mesg{
	padding:0 0 0 28px;
	font-size: 17px;
	height:38px;
	line-height:38px;
	
}
.line{border-bottom:1px #ccc solid;}
.order_radio{
	padding:0 12px 0 88px;
}
.buyers_url_model {overflow: hidden;padding:16px 20px 0;}
.buyer_mesg_lis li{
	position: relative;
	line-height: 32px;
	cursor: pointer;
	height: 32px;
	font-size:13px;
	overflow:hidden;
	margin:12px 0;
}
.buyer_mesg_lis li span{float: left;}
.order_url_inner .order_autourl{
	background: #e5f8ff url(../images/url_icon.png) 10px center no-repeat;
}
.order_url_mesg{
	width: 534px;
	height: 32px;
	margin-right: 40px;
	overflow: hidden;
}
.urlisauto{
	width: 153px;
	height: 36px;
}
.order_url_edit{
	margin-right: 4px;
	cursor: pointer;
}
.order_url_delete{
	margin-left: 4px;
	cursor: pointer;
}
.order_add_url{
	margin:12px 0 20px 88px;
	float: left;
}
.order_btn{
	padding:8px 22px;
	border-radius: 2px/4px;
	font-size:13px;
}
.order_btn_bg1{
	background-color:#00bbff;
}
.order_btn_bg2{
	background-color:#ffae00;
}
.underline{
	border-bottom: 1px #d7d7d7 solid;
}
.peisong_type{
	overflow: hidden;
	line-height: 40px;
}
.peisong_type span{
	float: left;
	text-align: center;
	font-size:14px;
}
.peisong_type span.commodity_money2{
	font-size:26px;
}
.peisong_sp1{
	width: 140px;
}
.peisong_sp2{
	width: 110px;
}
.peisong_sp3{
	width: 630px;
}
.peisong_sp4{
	width:190px;
}
.peisong_state{
	padding-left: 45px;
}
.peisong_state_sp{
	margin:21px 10px 0 0;
	padding:3px 8px;
	border-radius: 12px;
}
.peisong_state_list{
	margin: 15px 0 24px 0;
	line-height: 26px;
}
.m_to_top2{
	margin-top: 12px;
}
.peisong_type input{
	margin-right: 12px;
}
.m_to_bottom{
	padding-bottom: 16px;
}
.m_to_bottom2{
	margin-bottom: 20px;border-bottom:1px #ccc solid;
}
.flr{
	float: right;
}
.order_img_inner{
	width: 80px;
	height: 80px;
	overflow: hidden;
	margin: 12px auto 0;
}
.order_img_inner img{
	width: 80px;
}
.order_recive_url li{
	height:40px;
	line-height:40px;
	margin:0 0 20px;
	overflow: hidden;
}
.order_recive_url input{
	float:left;
	position: relative;
	height:38px;
}
.order_recive_url input.recvier_mobile{
	height:38px;
	width:248px;
}
.order_recive_url input.recvier_yzcode{
	height:38px;
	width:248px;
}
.order_recive_url input.recvier_quhao{
	height:38px;
	width:68px;
}
.order_recive_url input.recvier_phone{
	height:38px;
	width:188px;
}
.order_recive_url span{
	float:left;
	/*width: 100px;*/
	margin-right: 10px;
	display: inline-block;
	text-align: right;
	height:40px;
	line-height:40px;
}
.order_recive_url span.errorbg{display:none;}
.fp_mesg{
	float: left;
	width: 200px;
	height: 26px;
	line-height: 26px;
	margin-top: 6px;
}
.autoInp{
	width:206px;	
}
.autoInp2{
	width:434px;
}
.place_num{
	width: 44px;
}
.phone_num{
	width: 152px;
}
.autoSelect{
	width: 175px;
	height:26px;
}
.must_write{
	color:red;
	margin-right: 6px;
}
.add_orderurl_model{
	height: 0;
	overflow: hidden;
}
.order_save_mesg{
	margin: 12px 0 0 115px;
}
/**sunjian 0829 ÐÞ¸Ä**/ 
.cart .order_tit{height:25px;line-height:25px;background:#e5e5e5;overflow:hidden;width:100%;}
.cart .order_tit li{float:left;width:14%;height:25px;line-height:25px;color:#999;font-size:14px;text-align:center;}
.cart .order_tit li:first-child{width:500px;}
.cart .order_list,.refund_list{overflow:hidden;}
.cart .order_con_top{height:32px;line-height:32px;padding:0 20px;overflow:hidden;font-size:14px;color:#333;}
.cart .order_con,.refund_con{overflow:hidden;}
.cart .order_con{display:table;}
.cart .order_con li{height:150px;line-height:26px;display:table-cell;vertical-align:middle;overflow:hidden;width:128px;text-align:center;font-size:14px;}
.cart .status a{color:#000;}
.cart .order_con li:first-child{width:450px;line-height:150px;}
.cart .order_info .goods_pic{float:left;width:128px;height:108px;margin:20px 0 0 50px;}
.cart .order_info .goods_name{float:left;font-size:14px;margin:0 0 0 0px;color:#393939;text-align:center;}
.cart .order_info .goods_name:hover{text-decoration:none;color:#00bac2;}
.cart .order_con td.status a,.order_con li.operation a{color:#000;}
.cart .order_con td.status a:hover,.order_con li.operation a:hover{color:#00bac2;}
.cart .order_con td.operation .pay{color:#00bac2;}

/**¶©µ¥±í¸ñ**/
.cart .order_list_table{display:table;width:100%;border-bottom:1px #d7d7d7 solid;}
.cart .order_list_table td{height:140px;line-height:26px;display:table-cell;vertical-align:middle;overflow:hidden;width:128px;text-align:center;font-size:14px;color:#333;}
.cart .order_list_table td:first-child{width:300px;}
.cart .order_info .goods_pic{float:left;width:100px;height:80px;margin:0px 0 0 30px;}
.cart .order_info .goods_pic img{width:100px;height:80px; }
.cart .order_info .goods_name{float:left;font-size:14px;margin:0 0 0 0;color:#333;text-align:center;}
.cart .order_info .goods_name:hover{text-decoration:none;color:#00bbff;}
.cart .order_list_table td.status a,.order_list_table td.operation a{color:#000;}
.cart .order_list_table td.status a:hover,.order_list_table td.operation a:hover{color:#00bbff;}
.cart .order_list_table td.operation .pay{color:#00bbff;}

.my_orders_table{width:100%;border-bottom:1px #ccc solid;}
.my_orders_table th{border-bottom:1px #ccc solid;height:36px;line-height:36px;text-align:left;padding:0 0 0 40px;}
.my_orders_table td{height:140px;/*line-height:140px;*/display: table-cell;vertical-align: middle;overflow: hidden;font-size: 14px;color: #333;padding:0 0 0 50px;}
.my_orders_table td a{float:left;height:140px;display:table-cell;vertical-align: middle;margin-right:10px;}
.my_orders_table td a:hover{color:#0bb3f3;}
.my_orders_table td a img{margin:0;}

/**¶©µ¥ÏêÇé**/
.my_order_details_h2{height:66px;line-height:66px;font-size:20px;color:#666;margin-top:0px;padding-left:28px;}
.section{}
.my_order_details_h3{border-bottom:1px #ccc solid;height:36px;line-height:36px;font-size:16px;color:#333;padding-left:30px;}
.section .order_info{}
.section .order_info li{float:left;width:430px;text-align:left;}
.section .order_info li span{}
.my_order_details_con{margin-bottom:60px;overflow:hidden;}
.my_order_details_info{padding:16px 0 0 48px;overflow:hidden;}
.my_order_details_info li{height:35px;line-height:35px;font-size:14px;color:#333;}
.my_order_details_info li span{padding:0 0 0 5px;}
.border{border:1px #d7d7d7 solid;}
.nobor{border:none;}
.settlement_section{padding:10px 0 0;}
.my_order_details_info li.to_cope{text-align:right;}
.my_order_details_info li.to_cope span{color:#ff0000; font-size:30px;}
.section .settlement_ul{margin:0 0 20px 0;}
.settlement{padding:0 28px 20px 48px;}
.my_order_details_btn{width:120px;height:50px;line-height:50px;text-align:center;background:#0bb3f3;font-size:14px;color:#fff;float:right;border-radius:5px;margin:10px 28px 0 0;}
.my_order_details_table{border-bottom:1px #ccc solid;width:100%;}
.my_order_details_table th{border-bottom:1px #ccc solid;width:14%;height:36px;line-height:36px;color:#333;font-size:15px;text-align:center;}
.my_order_details_table th:first-child{padding:0 0 0 48px;width:33%;text-align:left;}
.my_order_details_table th:last-child{text-align:left;}
.my_order_details_table td{height:140px;text-align:center;width:14%;font-size:15px;color:#333;}
.my_order_details_table td:first-child{padding:0 0 0 48px;width:33%;text-align:left;}
.my_order_details_table td:last-child{text-align:left;}
.my_order_details_table .goods{border:1px #fff solid;position: relative;top: 6px;}
.my_order_details_table .goods img{float:left;width:100px;height:80px;}
.my_order_details_table .goods span{height:24px;line-height:24px;display: table-cell;padding-left:14px;}
.my_order_details_table td a:hover{color:#0bb3f3;}
.my_order_details_table td.red{color:#ff0000;}
.return_table{border-bottom:1px #ccc solid;width:100%;}
.return_table th{border-bottom:1px #ccc solid;width:25%;height:36px;line-height:36px;color:#333;font-size:15px;text-align:center;}
.return_table th:first-child{padding:0 0 0 48px;width:50%;text-align:left;}
.return_table td{height:140px;text-align:center;width:25%;font-size:15px;color:#333;text-align:center;}
.return_table td:first-child{padding:0 0 0 48px;text-align:left;width:50%;}
.return_table .goods{border:1px #fff solid;position: relative;top: 6px;}
.return_table .goods img{float:left;width:100px;height:80px;}
.return_table .goods span{height:24px;line-height:24px;display: table-cell;padding-left:14px;}
.return_table td a:hover{color:#0bb3f3;}
.return_section{margin:10px 0 43px;overflow:hidden;padding:10px 0 0 0;}
.return_section .my_order_details_con{margin-bottom:24px;}
.return_section h3{font-size:20px;}
.return_section h4{font-size:13px;color:#666;height:60px;line-height:60px;padding:0 16px 0 50px;}
.return_section p{font-size:13px;color:#666;line-height:20px;padding:0 16px 0 50px;}
.return_items{overflow:hidden;padding:20px 0 0px 48px;font-size:14px;}
.return_items label{float:left;width:94px;height:40px;line-height:40px;text-align:left;padding:0 0 0 6px;background:url(../../images/star.png) 0 16px no-repeat;}
.return_items .input_txt{float:left;width:453px;height:38px;border:1px #ccc solid;border-radius:5px;padding:0 0 0 5px;margin:0 0 15px;}
.return_items .input_text{float:left;width:38px;height:23px;border:1px #ccc solid;font-size:12px;text-align:center;border-radius:0;padding:0;margin-top:8px;}
.return_items .add{float:left;width:18px;height:23px;line-height:23px;border:1px #e5e5e5 solid;
	font-size:12px;text-align:center;background:#f0f0f0;color:#b8b8b8;margin: 8px 0 0 0;cursor:pointer;}
.return_items .subtract{float:left;width:18px;height:23px;line-height:23px;border:1px #e5e5e5 solid;font-size:12px;text-align:center;background:#f0f0f0;color:#b8b8b8;margin:8px 0 0 ;cursor:pointer;}
.return_items .add:hover,.return_items .subtract:hover{color:#333;}
.return_items .textarea{width:458px;height:118px;border:1px #ccc solid;border-radius:5px;float: left;}
.return_items .select{width:145px;height:24px;border:1px #ccc solid;border-radius:5px;margin:8px 5px 8px 0;}
.return_items option{width:145px;height:24px;border:1px #ccc solid;border-radius:5px;}
.return_items .dizhi{margin:0 0 15px 100px;}
.return_items .input_radio{float:left;margin:15px 5px 0 5px;}
.subtract,.add{float:left;margin:11px 15px 0 0;}
.return_items span{
	float:left;margin:11px 15px 0 0;
}
.errorText span{
	float: none;margin:auto;
}
.return_btn{float:left;width:120px;height:50px;line-height:50px;text-align:center;color:#fff;background:#0bb3f3;font-size:15px;border-radius:5px;}
.return_items .nobg{background:none;}