
@font-face {font-family: "iconfont";
  src: url('./fonts/iconfont.eot?t=1492599571587'); /* IE9*/
  src: url('./fonts/iconfont.eot?t=1492599571587#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./fonts/iconfont.woff?t=1492599571587') format('woff'), /* chrome, firefox */
  url('./fonts/iconfont.ttf?t=1492599571587') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('./fonts/iconfont.svg?t=1492599571587#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  /*font-size:16px;*/
  font-size:50px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.icon-home:before { content: "\e602"; }

.icon-home2:before { content: "\e603"; }

.icon-31gouwuche:before { content: "\e605"; }

.icon-31gouwuchexuanzhong:before { content: "\e604"; }

.icon-wo:before { content: "\e600"; }

.icon-wodexuanzhong:before { content: "\e601"; }