<div class="container" ng-controller="viewPersonalController">
    <div class="row">
        <div class="col-xs-12">
            <form name="formIndex">
                <div class="weui_cells_title">基本信息</div>
                <div class="weui_cells weui_cells_form">
                    <div class="weui_cell">
                        <div class="weui_cell_hd"><label class="weui_label">昵称</label></div>
                        <div class="weui_cell_bd weui_cell_primary">
                            <input class="weui_input text-right" style="color:#444;" ng-disabled="true" value="{{info.wxUser.nickName}}" type="text" />
                        </div>
                    </div>
                    <div class="weui_cell ">
                        <div class="weui_cell_hd"><label class="weui_label">省</label></div>
                        <div class="weui_cell_bd weui_cell_primary">
                            <input class="weui_input text-right" style="color:#444;" ng-disabled="true" value="{{info.wxUser.province}}" type="text" />
                        </div>
                    </div>
                    <div class="weui_cell">
                        <div class="weui_cell_hd"><label class="weui_label">市</label></div>
                        <div class="weui_cell_bd weui_cell_primary">
                            <input class="weui_input text-right" style="color:#444;" ng-disabled="true" value="{{info.wxUser.city}}" type="text" />
                        </div>
                    </div>

                </div>
                <div class="weui_cells_title">详细信息</div>
                <div class="weui_cells weui_cells_form">
                    <div class="weui_cell">
                        <div class="weui_cell_hd"><label class="weui_label">孩子年龄</label></div>
                        <div class="weui_cell_bd weui_cell_primary">
                            <input class="weui_input text-right" style="color:#444;" ng-disabled="true" value="{{info.userYearOld}}" type="text" />
                        </div>
                    </div>
                    <div class="weui_cell">
                        <div class="weui_cell_hd"><label class="weui_label">孩子性别</label></div>
                        <div class="weui_cell_bd weui_cell_primary">
                            <input class="weui_input text-right" style="color:#444;" ng-disabled="true" value="{{info.readUser.sex}}" type="text" />
                        </div>
                    </div>
                    <div class="weui_cell">
                        <div class="weui_cell_hd"><label class="weui_label">接收消息</label></div>
                        <div class="weui_cell_bd weui_cell_primary">
                            <input class="weui_input text-right" style="color:#444;" ng-disabled="true" ng-value="{true:'接收',false:'不接收'}[info.readUser.isReceiveMesage==1]"  type="text" />
                        </div>
                    </div>
                    <div class="weui_cell">
                        <div class="weui_cell_hd"><label class="weui_label">手机号码</label></div>
                        <div class="weui_cell_bd weui_cell_primary">
                            <input  class="weui_input text-right" style="color:#444;" ng-disabled="true" value="{{info.readUser.telephone}}" type="text" />
                        </div>
                    </div>
                    <div class="weui_cell">
                        <div class="weui_cell_hd"><label class="weui_label">注册日期</label></div>
                        <div class="weui_cell_bd weui_cell_primary">
                            <input class="weui_input text-right" style="color:#444;" ng-disabled="true" value="{{info.readUser.regionDate|date:'yyyy-MM-dd'}}" type="text" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>