<div class="weui_cells weui_cells_access weui_cells_noborder seheader">
    <div class="weui_cell se_padding0_margin0" >
        <a class="weui_cell_rt" href="#my">返回</a>
        <div class="weui_cell_bd weui_cell_primary">
            <p style="text-align: center">个人资料</small></p>
        </div>
        <div class="weui_cell_ft_no">
            <a class="" style="color:#fff"  href="#editpersonal?mode=update">编辑<span class="glyphicon glyphicon-pencil"></span></a>
        </div>
    </div>
</div>
