<div class="container" ng-controller="viewPersonalController">
    <div class="row">
        <div class="col-xs-12">
            <form name="formIndex">
                <div class="weui_cells_title">基本信息</div>
                <div class="weui_cells weui_cells_form">
                    <div class="weui_cell">
                        <div class="weui_cell_hd"><label class="weui_label">昵称</label></div>
                        <div class="weui_cell_bd weui_cell_primary">
                            <input class="weui_input text-right" style="color:#444;" ng-disabled="true" value="{{info.wxUser.nickName}}" type="text" />
                        </div>
                    </div>
                    <div class="weui_cell ">
                        <div class="weui_cell_hd"><label class="weui_label">省</label></div>
                        <div class="weui_cell_bd weui_cell_primary">
                            <input class="weui_input text-right" style="color:#444;" ng-disabled="true" value="{{info.wxUser.province}}" type="text" />
                        </div>
                    </div>
                    <div class="weui_cell">
                        <div class="weui_cell_hd"><label class="weui_label">市</label></div>
                        <div class="weui_cell_bd weui_cell_primary">
                            <input class="weui_input text-right" style="color:#444;" ng-disabled="true" value="{{info.wxUser.city}}" type="text" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>