.global-card-layout {
    border-radius: 4px;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.12), 0 0 6px 0 rgba(0,0,0,.04);
    min-height: 10px;
}

.global-image-card {
    min-height: 100px;
    width: 100%;
    height: 100%;
    display: block;
}


.global-summary-card {
    text-align: center;
    padding: 1rem;
    .title {
        color: #333;
        font-size: 1rem;
        padding-bottom: 1rem;
        margin: 0;
    }
    .text_body {
        color: #333;
        font-size: 0.8rem;
        text-align: left;
        word-break: break-all;
        padding: 0 1rem;
    }
}

.global-course-catalog-card {
    padding: 1rem;
    text-align: center;
    .title {
        color: #333;
        font-size: 1rem;
        padding-bottom: 0.6rem;
    }
    .catalog {
        padding-right: 1rem;
        padding-left: 1.5rem;
        color: #333;
        text-align: left;
    }
    .catalogItem{
        position: relative;
        font-size: .8rem;
        line-height: 1.1rem;
        margin-bottom: 1rem;
    }
    .catalogItem:before{
        content: '';
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: #108EE9;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto 0 auto -1rem;
    }
}

.global-teachter-intro {
    *{
        margin: 0;
    }
    text-align: center;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 1rem;
    overflow: hidden;

    .title{
        //h1 color & size
        color: #333;
        font-size: 1rem;
        padding-bottom: 1rem;
    }
    .headImg{
        border-radius: 50%;
        height: 5rem;
        width: 5rem;
    }
    .introTxt{
        margin-top: .5rem;
        //subtxt color & size
        color: #333;
        font-size: 0.8rem;
    }

}


