
  .pay_page_modal {
    background-color: #FAEBD7;
    padding-bottom: px2rem(40);
    > div {
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 16px;
    }
    .submitButton {
      position: fixed;
      margin: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2.4rem;
      background-color: #108EE9;
      text-align: center;
      line-height: 2.4rem;
      color: #fff;
      font-size: 1.2rem;
    }
  }
