<div class="weui_tabbar"  ng-controller="dialogController">
    <a href="http://courses.jiajiaozhihui.cn/link/parents_course.html" class="weui_tabbar_item">
        <div style="" class="weui_tabbar_label">
            <div style="line-height: 40px; height: 40px;padding:5px 0;border-right:1px solid #ccc;margin-bottom:7px;">父母特训营</div>
        </div>
    </a>
    <a ng-if="attention"  href="#question" class="weui_tabbar_item">
        <div class="weui_tabbar_icon">
            <img src="./imgs/qa/task2.png" alt="">
        </div>
        <p class="weui_tabbar_label">我要提问</p>
    </a>
    <a ng-if="!attention" se-show-dialog="{{globalOpenId}}" href="javascript:void(0)" class="weui_tabbar_item">
        <div class="weui_tabbar_icon">
            <img src="./imgs/qa/task2.png" alt="">
        </div>
        <p class="weui_tabbar_label">我要提问</p>
    </a>
    <a href="#my" class="weui_tabbar_item">
        <div class="weui_tabbar_icon">
            <img src="./imgs/qa/user2.png" alt="">
        </div>
        <p class="weui_tabbar_label">我的 </p>
    </a>
</div>