<div class="container" style="padding-top:15px;" >
    <div class="row" style="padding-bottom:10px;">
        <div class="col-xs-2" style="height: 60px;">
            <img style="width:60px;" src="./imgs/qa/logo1.png" ></img>
        </div>
        <div class="col-xs-10">
            <div class="row">
                <div class="col-xs-12" style="height: 30px;">
                    <img style="height:30px;" src="./imgs/qa/logo2.png">
                </div>
                <div class="col-xs-6" style="height: 30px; line-height: 30px; margin-top:10px;">
                    <img src="./imgs/qa/expert.png" style="width: 20px;">
                    会员：{{info.memberShipNumber}}
                </div>
                <div class="col-xs-6" style="height: 30px;line-height: 30px; margin-top:10px;">
                    <img src="./imgs/qa/v.png" style="width: 20px;">
                    认证专家：{{info.expertNumber}}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12" style="margin-top:5px;border-bottom:1px solid #eee; border-top:1px solid #eee;">
            <div class="row">
                <div class="col-xs-3" ng-class="{true:'selink-active',false:'selink'}[currLink.newest==true]" style="border-top:none;text-align: center; padding-top:5px; padding-bottom:5px; ">
                    <img style="width:30px;" src="./imgs/qa/news.png">
                    <span  style="color:#337AB7; display: block" ng-click="reflesh()">最新</span>
                </div>
                <div class="col-xs-3" ng-class="{true:'selink-active',false:'selink'}[currLink.top==true]" style="border-top:none;text-align: center; padding-top:5px; padding-bottom:5px; ">
                    <img style="width:30px;" src="./imgs/qa/top.png">
                    <a  ng-href="#essence"><span style="color:#337AB7;display: block">精华</span></a>
                </div>
                <div class="col-xs-3" ng-class="{true:'selink-active',false:'selink'}[currLink.expert==true]" style="border-top:none;text-align: center; padding-top:5px; padding-bottom:5px; ">
                    <img style="width:30px;" src="./imgs/qa/s-expert.png">
                    <a  ng-href="#expert"><span style="color:#337AB7;display: block">找专家</span></a>
                </div>
                <div class="col-xs-3" style="border-top:none;text-align: center;padding-top:5px; padding-bottom:5px; ">
                    <img style="width:30px;" src="./imgs/qa/about.png">
                    <a style="display: block" href="#about">专家问答</a>
                </div>
            </div>
        </div>
    </div>
</div>