<div class="container">
    <div class="row text-center" style="position: relative;">
        <img style="width:100%" src="../../content/imgs/start.png" />

        <div class="text-center" style="position: absolute; bottom:100px; left: 0; width: 100%;">
            <a href='http://weixin.jiajiaozhihui.cn/app/appstart/qa/baseinfo.ashx?redirect_url=http://qa.jiajiaozhihui.cn/app/index.html&state={"appid":"app001","hash":"start"}' class="weui_btn weui_btn_mini weui_btn_plain_default">进入</a>
        </div>
    </div>
</div>