<div class="weui_cells weui_cells_access weui_cells_noborder seheader" ng-controller="headerController">
    <div class="weui_cell se_padding0_margin0" style="padding-right:5px;" >
        <a class="weui_cell_rt" ng-click="goBack()" href="javascript:void(0)" ></a><!--ng-href="{{goBack()}}"-->
        <div class="weui_cell_bd weui_cell_primary">
            <div style="text-align: center; font-weight:500;">我的课程</div>
        </div>
        <a class="weui_cell_ft" ng-click="goBack()" href="#home" ><span style="font-size:14px;">首页</span></a>
    </div>
</div>