<div ng-controller="audioController" style="height: 100%;">
    <div ng-controller="multipleAudioController">
        <div ng-include="'views/course/audio/multiple/header.html'"></div>
        <div class="container">
            <div loading="" ng-model="isLoading"></div>
            <div class="row">
                <div class="col-xs-12 text-center" style="padding-top:15px; background-color:#fff;">
                    <p style="font-weight: 300;font-size: 15px;">儿童生命品质教育专家[<span class="text-info">{{multipleCourse.lecturer}}老师]</span></p>
                    <p><small>{{multipleCourse.title}}</small></p>
                    <p><a ng-href="#viewcourse?cid={{multipleCourse.id}}&themid=15&mtype={{multipleCourse.mediaType}}" style="font-size:13px;">课程介绍</a></p>
                </div>
            </div>
            <div class="row">
                <div class="weui_cells seline" style="background-color:#eee;padding-top:15px;">

                    <div class="weui_cell seline" ng-repeat="course in songs" style="position: relative;padding-top:15px;">
                        <div class="weui_cell_hd" style="width:45px;" ng-if="course.type==2">
                            <img ng-show="course.roles=='主持人'"  class="img-circle img-responsive" ng-src="{{multipleCourse.teacher.imgUrl}}">
                            <img ng-show="course.roles=='嘉宾'"  class="img-circle img-responsive" src="./imgs/teacher.jpg">
                        </div>
                        <div class="weui_cell_bd weui_cell_primary">
                            <div ng-if="course.type==2" style="padding-left:5px;padding-right:45px;">
                                <p style="margin-bottom: 0;font-size:14px;"><span class="text-primary">{{course.cname}}</span><span class="text-muted">{{course.roles}}</span></p>
                                <div class="col-xs-10" style="padding-right:5px;">
                                    <div class="row" style="padding:5px 0;background-color: #fff; border-radius: 5px;">
                                        <div class="col-xs-2" style="height:24px; line-height: 24px;width:24px;">
                                    <span ng-click="load(course)"
                                          ng-if="!playing || course.id!=song.id"
                                          class="fa fa-play text-primary"
                                          style="font-size: 18px;padding:2px 0px;"></span>
                                    <span ng-click="pause()"
                                          ng-if="playing && course.id==song.id"
                                          class="fa fa-pause text-primary"
                                          style="font-size: 18px;padding:2px 0px;"></span>
                                        </div>
                                        <div class="col-xs-10" style="height:24px; line-height: 24px;padding-left:10px;">
                                            <div class="player">
                                                <div class="xl-progress" style="margin: 0;">
                                                    <div style="width:100%;" class="xl-progress-bar" xl-progress-bar>
                                                        <div class="played" ng-style="{'margin-left':course.id==song.id?progress*progressWidth+'px':0}"  ></div><!--style="margin-left:{{progress*progressWidth+'px'}}"-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-2 text-left text-muted" style="padding-right:5px;font-size:11px;height: 30px; line-height: 30px;">
                                    {{course.duration|formattime}}'
                                </div>
                            </div>
                            <div ng-if="course.type==3" style="padding-left:45px;padding-right:45px;">
                                <p style="margin-bottom: 0;font-size:14px;"><span class="text-primary">{{course.cname}}</span><span class="text-muted">{{course.roles}}</span></p>
                                <img style="width:100%;" src="{{course.cover|resourceUrl}}">
                            </div>
                            <div ng-if="course.type==4" style="font-size:13px;padding-left:45px;padding-right:45px;">
                                <p style="margin-bottom: 0;font-size:14px;"><span class="text-primary">{{course.cname}}</span><span class="text-muted">{{course.roles}}</span></p>
                                <div ng-bind-html="course.content|trustAsHtml" style="background-color: #fff;padding:15px 10px; border-radius: 5px;"></div>
                            </div>
                        </div>
                        <div class="weui_cell_ft" ng-if="course.type==2">
                        </div>

                        <div style="position: absolute;width:100%;left:0;top:-10px;">
                            <div class="text-center text-muted" style="font-size:12px;padding:10px 5px;"><span>{{course.showDateTime|date:'hh:mm'}}</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <iframe id="fr" src="javascript:parent.audio" frameborder="0" style="height: 1px; line-height: 1px;"></iframe>
</div>