@charset "utf-8";

/*
* @description: 全局样式
* @author:Franco
* @update:
*/

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

th {
    text-align: inherit;
}

caption,
th {
    text-align: left;
}

img {
    border: 0;
}

img {
    -ms-interpolation-mode: bicubic;
}

iframe {
    display: block;
}

ul,
ol,
li {
    list-style: none;
    list-style-type: none;
    /*兼容IE8*/
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    vertical-align: middle;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
    outline: none;
}

textarea {
    overflow: auto;
    vertical-align: top;
}

button,
input {
    *overflow: visible;
    line-height: normal;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
}

button[disabled],
input[disabled] {
    cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
    *background-color: transparent;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

.clearfix {
    *zoom: 1;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
}

.clearfix:after {
    clear: both;
}

.inline-block {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

.hide {
    display: none;
}

.text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

html,
body {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-size: 14px;
    font-family: "Arial", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif, Verdana, Tohoma, simsun;
    line-height: 1.5;
    position: relative;
    color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.5;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 16px;
}

h4 {
    font-size: 14px;
}

h5,
h6 {
    font-size: 12px;
}

a {
    color: #666666;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

a:active {
    background-color: transparent\9;
}

.txt-default {
    color: #333;
}

.txt-link {
    color: #666;
}

.txt-link:hover {
    color: #ff5600;
}

.txt-light {
    color: #999;
}

.txt-lighter {
    color: #999;
}

.txt-bold {
    font-weight: bolder;
}

.txt-char {
    font-family: Verdana, Tohoma;
}

.txt-red {
    color: #ec0000;
}

.txt-orange {
    color: #ff6600;
}

.txt-green {
    color: green;
}

.txt-alert {
    color: #ff9600;
}

.txt-blue-custom {
    color: #448aca;
}

.txt-blue {
    color: #0068b7;
}

.txt-white {
    color: White;
}

.txt-left {
    text-align: left;
}

.txt-right {
    text-align: right;
}

.txt-center {
    text-align: center;
}

pre {
    font-family: Verdana, Tohoma, simsun;
}

input::-webkit-input-placeholder {
    color: #999;
}

input:-moz-placeholder {
    color: #999;
}


/* -- placeholder -- */

input::-webkit-input-placeholder {
    color: #999;
    font-weight: normal;
}

input:-moz-placeholder {
    color: #999;
    font-weight: normal;
}

.placeholder {
    color: #999;
    font-weight: normal;
    display: block;
    height: 100%;
    line-height: 100%;
}

.none {
    display: none!important;
}

table .right {
    text-align: right!important;
}

table .left {
    text-align: left!important;
}

pre {
    white-space: pre-wrap;
    /* CSS-3 */
    white-space: -moz-pre-wrap;
    /* Mozilla, since 1999 */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
    /* Internet Explorer 5.5+ */
}
