@charset "utf-8";

/*
* @description: 通用样式
* @author: Franco
* @update:
*/

html,
body {
    height: 100%;
    background-color: #fff;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);  
    font-family:'Hiragino Sans GB','Microsoft Yahei',"WenQuanYi Micro Hei",SimSun,Tahoma,Arial,Helvetica,STHeiti;
}

#container {
    background: #fff;
    height: auto;
    overflow: hidden;
}

.wrap {
    width: 990px;
    margin: auto;
}


/*分页样式start*/

.page {
    font-size: 12px;
}

.page a {
    padding: 0 8px;
    text-decoration: none;
    color: #666666;
    +margin: 0 4px;
    display: inline-block;
    float: left;
    margin-left: 5px;
    height: 24px;
    line-height: 24px;
}

.page a:hover {
    color: #333;
}

.page span {
    float: left;
    margin-left: 5px;
    line-height: 24px;
    display: inline-block;
}

.page .more {
    font-weight: bolder;
}

.page a.current {
    cursor: default;
    color: #fff;
    background: #666;
}

.page .prev.current,
.page .next.current {
    color: #999;
    background: none;
}

.page .first span {
    background-position: -42px -70px;
    width: 12px;
}

.page .previous span {
    background-position: -28px -70px;
    width: 5px;
}

.page .next span {
    background-position: -28px -56px;
    width: 5px;
}

.page .last span {
    background-position: -42px -56px;
    width: 12px;
}


/*分页样式end*/

.w122 {
    width: 122px;
}

.w234 {
    width: 234px;
}

.top0 {
    top: 0!important;
    position: relative;
}

.top1 {
    top: 1px !important;
    position: relative;
}

.top3 {
    top: 3px!important;
    position: relative;
}

.top4 {
    top: 4px!important;
    position: relative;
}

.top6 {
    top: 6px!important;
    position: relative;
}


/*********** 颜色描述开始 ************/

.red {
    color: #df6962 !important;
}


/*********** 颜色描述结束 *********/

.opacity0 {
    opacity: 0;
    filter: alpha(opacity=0);
}

.opacity1 {
    opacity: .1;
    filter: alpha(opacity=10);
}

.opacity2 {
    opacity: .2;
    filter: alpha(opacity=20);
}

.opacity3 {
    opacity: .3;
    filter: alpha(opacity=30);
}

.opacity4 {
    opacity: .4;
    filter: alpha(opacity=40);
}

.opacity5 {
    opacity: .5;
    filter: alpha(opacity=50);
}

.opacity6 {
    opacity: .6;
    filter: alpha(opacity=60);
}


/* non-semantic classes */


/* font */

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold !important;
}

.unbold {
    font-weight: normal !important;
}

.t2 {
    text-indent: 2em
}

.lh15 {
    line-height: 1.5em;
}

.lh18 {
    line-height: 1.8em;
}

.lh20 {
    line-height: 2.0em;
}

.alert {
    color: #C00;
}

.f11 {
    font-size: 11px;
}

.f12 {
    font-size: 12px;
}

.f13 {
    font-size: 13px;
}

.f14 {
    font-size: 14px;
}

.f16 {
    font-size: 16px;
}

.f17 {
    font-size: 17px;
}

.f18 {
    font-size: 18px;
}

.f20 {
    font-size: 20px;
}

.f24 {
    font-size: 24px;
}

.f28 {
    font-size: 28px;
}

.f30 {
    font-size: 30px;
}

.f32 {
    font-size: 32px;
}

.f36 {
    font-size: 36px;
}

.f40 {
    font-size: 40px;
}

.f45 {
    font-size: 45px;
}

.f48 {
    font-size: 48px;
}


/*font color*/

.fc999 {
    color: #999;
}

.fc666 {
    color: #666;
}


/* position */

.tl {
    text-align: left;
}

.tr {
    text-align: right;
}

.tc {
    text-align: center!important;
}

.bc {
    margin-right: auto;
    margin-left: auto;
}

.fl {
    float: left !important;
}

.fr {
    float: right !important;
}

.clear {
    clear: both;
}

.oh {
    overflow: hidden;
}

.pa {
    position: absolute;
}

.pr {
    position: relative;
}

.pf {
    position: fixed;
}

.zoom {
    zoom: 1;
}

.dn {
    display: none;
}

.di {
    display: inline;
}

.db {
    display: block;
}

.dib {
    display: inline-block;
}

.vt {
    vertical-align: top !important;
}

.vm {
    vertical-align: middle !important;
}

.vb {
    vertical-align: bottom !important;
}


/* box */

.wh100p {
    height: 100%;
    width: 100%;
}


/* width */

.w100p {
    width: 100%;
}

.w10 {
    width: 10px;
}

.w20 {
    width: 20px;
}

.w30 {
    width: 30px;
}

.w40 {
    width: 40px;
}

.w50 {
    width: 50px;
}

.w60 {
    width: 60px;
}

.w70 {
    width: 70px;
}

.w80 {
    width: 80px;
}

.w90 {
    width: 90px;
}

.w100 {
    width: 100px;
}

.w110 {
    width: 110px;
}

.w130 {
    width: 130px;
}

.w150 {
    width: 150px;
}

.w200 {
    width: 200px;
}

.w222 {
    width: 222px;
}

.w250 {
    width: 250px;
}

.w300 {
    width: 300px;
}

.w320 {
    width: 320px;
}

.w350 {
    width: 350px;
}

.w360 {
    width: 360px;
}

.w370 {
    width: 370px;
}

.w400 {
    width: 400px;
}

.w485 {
    width: 485px;
}

.w500 {
    width: 500px;
}

.w600 {
    width: 600px!important;
}

.w665 {
    width: 665px!important;
}


/* height */

.ho {
    height: auto;
}

.h100p {
    height: 100%;
}

.h10 {
    height: 10px;
}

.h20 {
    height: 20px;
}

.h30 {
    height: 30px;
}

.h40 {
    height: 40px;
}

.h50 {
    height: 50px;
}

.h60 {
    height: 60px;
}

.h70 {
    height: 70px;
}

.h80 {
    height: 80px;
}

.h90 {
    height: 90px;
}

.h100 {
    height: 100px;
}

.h150 {
    height: 150px;
}

.h200 {
    height: 200px;
}

.h250 {
    height: 250px;
}

.h300 {
    height: 300px;
}

.h350 {
    height: 350px;
}

.h400 {
    height: 400px;
}

.h500 {
    height: 500px;
}

.h600 {
    height: 600px;
}


/* margin */

.mt0 {
    margin-top: 0!important;
}

.mr0 {
    margin-right: 0!important;
}

.mb0 {
    margin-bottom: 0!important;
}

.ml0 {
    margin-left: 0!important;
}

.m5 {
    margin: 5px;
}

.m10 {
    margin: 10px;
}

.m15 {
    margin: 15px;
}

.m20 {
    margin: 20px;
}

.mt5 {
    margin-top: 5px;
}

.mt10 {
    margin-top: 10px;
}

.mt15 {
    margin-top: 15px;
}

.mt20 {
    margin-top: 20px;
}

.mt30 {
    margin-top: 30px;
}

.mt40 {
    margin-top: 40px;
}

.mr5 {
    margin-right: 5px;
}

.mr10 {
    margin-right: 10px;
}

.mr15 {
    margin-right: 15px;
}

.mr20 {
    margin-right: 20px;
}

.mr30 {
    margin-right: 30px;
}

.mb5 {
    margin-bottom: 5px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb15 {
    margin-bottom: 15px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb40 {
    margin-bottom: 40px;
}

.ml5 {
    margin-left: 5px;
}

.ml10 {
    margin-left: 10px;
}

.ml15 {
    margin-left: 15px;
}

.ml20 {
    margin-left: 20px;
}


/* padding */

.p5 {
    padding: 5px;
}

.p10 {
    padding: 10px;
}

.p15 {
    padding: 15px;
}

.p20 {
    padding: 20px;
}

.p25 {
    padding: 25px;
}

.pt5 {
    padding-top: 5px;
}

.pt10 {
    padding-top: 10px;
}

.pt15 {
    padding-top: 15px;
}

.pt20 {
    padding-top: 20px;
}

.pt30 {
    padding-top: 30px;
}

.pt40 {
    padding-top: 40px;
}

.pr5 {
    padding-right: 5px;
}

.pr10 {
    padding-right: 10px;
}

.pr15 {
    padding-right: 15px;
}

.pr20 {
    padding-right: 20px;
}

.pb5 {
    padding-bottom: 5px;
}

.pb10 {
    padding-bottom: 10px;
}

.pb15 {
    padding-bottom: 15px;
}

.pb20 {
    padding-bottom: 20px;
}

.pb40 {
    padding-bottom: 40px;
}

.pl5 {
    padding-left: 5px;
}

.pl10 {
    padding-left: 10px;
}

.pl15 {
    padding-left: 15px;
}

.pl20 {
    padding-left: 20px;
}

.pl25 {
    padding-left: 25px;
}

.pl30 {
    padding-left: 30px;
}

.pl50 {
    padding-left: 50px;
}

.pct0 {
    width: 0;
}

.pct10 {
    width: 10%;
}

.pct20 {
    width: 20%;
}

.pct30 {
    width: 30%;
}

.pct40 {
    width: 40%;
}

.pct50 {
    width: 50%;
}

.pct60 {
    width: 60%;
}

.pct70 {
    width: 70%;
}

.pct80 {
    width: 80%;
}

.pct90 {
    width: 90%;
}

.pct100 {
    width: 100%;
}

.img-full {
    width: 100%;
    height: 100%;
    display: block;
}

.z1 {
    z-index: 1
}

.z2 {
    z-index: 2
}

.z3 {
    z-index: 3
}

.z4 {
    z-index: 4
}

.z5 {
    z-index: 5
}

.bb-ddd {
    border-bottom: 1px solid #ddd;
}

cite {
    text-align: right;
    float: right;
    font-style: normal;
}

.inp {
    border: solid 1px #ccc;
    padding: 5px;
}


/*.inp:hover {
    border-color: #e7685a;
        border-bottom: 1px solid #e7685a;


}
.inp:focus {
    border-color: #e7685a;
    box-shadow: 0 0 5px #90c320; 
}
*/

.inp-alert {
    border-color: #ff9600;
}

.inp-error {
    border-color: #ff3000;
}

.inp-disabled {
    background: #eeeeee;
    color: #999;
}

.inp-alert:focus {
    border-color: #ff9600;
    box-shadow: 0 0 5px #ff9600;
}

.inp-error:focus {
    /* border-color: #ff3000; */
    /* box-shadow: 0 0 5px #ff3000; */
}

.inp-mobile {
    padding: 10px 0px 10px 100px;
    height: 60px;
    line-height: 60px;
    box-sizing: border-box;
    border: 0;
    width: 100%;
    border-bottom: 1px solid #ddd;
}

.inp-mobile-warp {
    position: relative;
}

.inp-mobile-item {
    height: 60px;
    line-height: 60px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    overflow: hidden;
}

.inp-code {
    padding: 10px;
    height: 40px;
    box-sizing: border-box;
    width: 100%;
}

.hr20 {
    margin: 20px 0;
    border: 0;
    border-bottom: 1px solid #dbdbdb;
}

.bread-crumb {
    text-align: left;
    line-height: 30px;
}

.clearboth {
    clear: both;
}

.border0 {
    border: 0 !important;
}

.captcha-warp {
    position: relative;
    overflow: hidden;
}

.inp-captcha {
    padding-right: 132px !important;
}

.captcha-img-warp {
    position: absolute;
    right: 5%;
    top: 0;
    border: 0;
    border-left: 1px solid #ccc;
    width: 127px;
    height: 40px;
    background-color: #f5f5f5;
}

.captcha-img {
    border: 1px solid #ccc;
}

.contain-inner .captcha-img-warp {
    right: 0;
}
