@charset "utf-8";
/**
 * @description: footer样式
 * @author: Franco
 * @update:
 */


.footer{
    margin-top: 25px;
    font-size: 13px;
    font-weight: normal;
    text-align: center;
    padding-bottom: 20px;
}
.copyright-wrap span{
    display: inline-block;
    margin: 5px 2px 0px;
}
.footer h1{
    font-size: 13px;
    display: inline-block;
    font-weight: normal;
}

