@charset "utf-8";
/*
* @description: header样式
* @author: Franco
* @update:
*/

#header {
    width: 100%;
    height: 45px;
    text-decoration: none;
}
.head-wrap {
    width: 100%;
    height: 45px;
    text-align: center;
    z-index: 2;
    /* background: #e36357; */
    position:relative;
    background: url(../i/common/header.png) no-repeat;
    background-size: cover;
 }
.head-wrap.bg-orange{
    background-color:#ff6600;
    }
.head-wrap .btn-mobile-menu,.head-wrap .btn-linkback{
    top:15px;
    left:5%;
    position:absolute;
}
.head-wrap .btn-linkback{
    top:12px;
}
.head-title {
    font: 19px "SimHei";
    color: #fff;
    height: 45px;
    line-height: 45px; 
}
.loading-wrap {
     width: 100%; 
     height: 100%; 
     background: rgba(192,192,192,1); 
     position: fixed; 
     top: 0; 
     left: 0; 
     z-index: 999;
 }
.loading-wrap>.loading {
    z-index: 5000;
    width: 120px;
    height: 120px;
    position: relative;
    top: 33%;
    margin: auto;
    background: rgba(40, 40, 40, 0.75);
    text-align: center;
    border-radius: 5px;
    color: #FFFFFF;
    z-index: 888888
 }
.loading-wrap>.loading img{
    display: block;
    width: 38px;
    height: 38px;
    position: absolute;
    left: 41px;
    top: 26px;
    z-index: 999999
}
.loading>p{
    text-align: center;
    padding-top: 80px;
    margin: auto;
    font-size: 14px;
    font-weight: lighter;
    z-index: 999999

}

.landscape {
    display: none;
    height: 100%;
    width:100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}


@-webkit-keyframes zhuan {
    0% {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg)
    }

    50% {
        transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        -o-transform: rotate(-90deg)
    }

    100% {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg)
    }
}

@-moz-keyframes zhuan {
    0% {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg)
    }

    50% {
        transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        -o-transform: rotate(-90deg)
    }

    100% {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg)
    }
}

@-ms-keyframes zhuan {
    0% {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg)
    }

    50% {
        transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        -o-transform: rotate(-90deg)
    }

    100% {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg)
    }
}

@keyframes zhuan {
    0% {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg)
    }

    50% {
        transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        -o-transform: rotate(-90deg)
    }

    100% {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg)
    }
}


@media screen and (orientation: landscape) {
    .landscape {
        height:100%;
        display: block;
        background-color: rgba(61,105,88,0.7);
    }

    .landscape .iphone {
        background-image: url(../i/common/iphone1.png);
        background-repeat: no-repeat;
        width: 73px;
        height: 109px;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-top: -54px;
        margin-left: -36px;
        background-size: 73px 109px;
        animation: zhuan 1.5s;
        -moz-animation: zhuan 1.5s;
        -webkit-animation: zhuan 1.5s;
        -o-animation: zhuan 1.5s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-delay: 0.3s
    }

    .landscape .iphone_text {
        width: 173px;
        height: 29px;
        text-align: center;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-top: 71px;
        margin-left: -86px;
        color: #fff
    }

    .main-warp{
      display: none !important;
    }
}
