@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot?t=1490345247275'); /* IE9*/
  src: url('../fonts/iconfont.eot?t=1490345247275#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff?t=1490345247275') format('woff'), /* chrome, firefox */
  url('../fonts/iconfont.ttf?t=1490345247275') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg?t=1490345247275#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right:before { content: "\e600"; }

.icon-checked:before { content: "\e605"; }

.icon-yes:before { content: "\e601"; }

.icon-search:before { content: "\e60b"; }

.icon-close:before { content: "\e628"; }

.icon-sub:before { content: "\e6a0"; }

.icon-add:before { content: "\e62e"; }

.icon-delete:before { content: "\e61b"; }

.icon-arrow-down:before { content: "\e62f"; }

.icon-arrow-up:before { content: "\e68c"; }

.icon-arrow-left:before { content: "\e68d"; }

.icon-sub-circle:before { content: "\e614"; }

.icon-edit:before { content: "\e616"; }

.icon-add-circle:before { content: "\e6e7"; }

