@charset "utf-8";
/**
 * @description: icon样式
 * @author: Franco
 * @update:
 */
.icon {
    background: url(../i/common/sprites-icon.png) no-repeat;
    display: inline-block;
}
.icon-accounts{
    width: 27px;
    height: 20px;
    background-position: 0 -340px;
}
.icon-uesrs{
    width: 27px;
    height: 20px;
    background-position: 0 -378px;
}
.icon-product{
    width: 27px;
    height: 20px;
    background-position: 0 -417px;
}
.icon-wx-device{
    width: 27px;
    height: 20px;
    background-position: 0 -417px;
}
.icon-actives{
    width: 27px;
    height: 20px;
    background-position: 0 -417px;
}
.icon-actives-signup{
    width: 33px;
    height: 33px;
    background-position: 0 -452px;
}
.icon-actives-click{
    width: 20px;
    height: 20px;
    background-position: 0 -502px;
}
.icon-search{
    width: 29px;
    height: 29px;
    background-position: 0 -546px;
}
.icon-undo{
    width: 24px;
    height: 28px;
    background-position: 0 -599px;
}
.icon-time{
    background-position: 0 -316px;
    background-size: 400px 400px;
    width: 16px;
    height: 16px;
}
.icon-guide {
    background-position: 0 -336px;
    background-size: 400px 400px;
    width: 12px;
    height: 16px;
}
.icon-sponsor {
    background-position: 0 -356px;
    background-size: 400px 400px;
    width: 16px;
    height: 15px;
}
.icon-zan{
    width: 31px;
    height: 26px;
    background-position: 0 -752px;
}
.icon-clickZan{
    background-position: -26px -170px;
    background-size: 400px 400px;
    width: 33px;
    height: 30px;

}
.icon-unclickzan{
    background-position: -78px -170px;
    background-size: 400px 400px;
    width: 33px;
    height: 30px;
}
.icon-close1{
    background-position: -119px -169px;
    background-size: 400px 400px;
    width: 30px;
    height: 31px;
}
.icon-close2{
    background-position: -156px -170px;
    background-size: 400px 400px;
    width: 24px;
    height: 24px;
}
.icon-close3{
    background-position: -190px -170px;
    background-size: 400px 400px;
    width: 30px;
    height: 30px;
}

.icon-zoom-out{
    background-position: -26px -209px;
    background-size: 400px 400px;
    width: 30px;
    height: 30px;
}
.icon-zoom-in{
    background-position: -60px -209px;
    background-size: 400px 400px;
    width: 30px;
    height: 30px;
}
.icon-go-back{
    background-position: -90px -209px;
    background-size: 400px 400px;
    width: 36px;
    height: 36px;
}
.icon-go-description{
    background-position: -127px -208px;
    background-size: 400px 400px;
    width: 26px;
    height: 25px;
}
/* 上传页地址为选中状态 */
.icon-go-upload-position1{
    background-position: -156px -209px;
    background-size: 400px 400px;
    width: 75px;
    height: 75px;
}
/* 上传页地址选中状态 */
.icon-go-upload-position2{
    background-position: -231px -209px;
    background-size: 400px 400px;
    width: 75px;
    height: 75px;
}
/* 照片 */
.icon-go-upload-photo{
    background-position: -309px -208px;
    background-size: 400px 400px;
    width: 76px;
    height: 75px;
}
/* 定位 */
.icon-location{
    background-position: -29px -299px;
    background-size: 400px 400px;
    width: 24px;
    height: 25px; 
}
/* 单选框未选中 */
.icon-radio-unclick{
    background-position: -58px -300px;
    background-size: 400px 400px;
    width: 16px;
    height: 15px; 
}
/* 单选框选中 */
.icon-radio-click{
    background-position: -75px -300px;
    background-size: 400px 400px;
    width: 15px;
    height: 15px; 
}
/* 复选框未选中 */
.icon-checked-unclick{
    background-position: -91px -300px;
    background-size: 400px 400px;
    width: 15px;
    height: 15px; 
}
/* 复选框未选中 */
.icon-checked-click{
    background-position: -108px -300px;
    background-size: 400px 400px;
    width: 15px;
    height: 15px; 
}
.icon-assess{
    background-position: -378px 0px;
    width: 55px;
    height: 61px;  
}
.icon-schedule{
    background-position: -447px  0px;
    width: 55px;
    height: 61px;  
}
.icon-view{
    background-position: -509px   0px;
    width: 55px;
    height: 61px;  
}
.icon-footprint{
    background-position: -579px -72px;
    width: 98px;
    height: 101px;  
}
.icon-star-s{
    background-size: 400px;
    background-position: -108.5px -36px;
    width: 19px;
    height: 19px;  
}
.icon-star-s-h{
    background-size: 400px;
    background-position: -134px -36px;
    width: 19px;
    height: 19px;  
}
.icon-star-s-half{
    background-size: 400px;
    background-position: -160px -36px;
    width: 19px;
    height: 19px;  
}
.icon-star-s-k{
    background-size: 400px;
    background-position: -184px -36px;
    width: 19px;
    height: 19px;  
}
.icon-star{
    background-size: 400px;
    background-position: -211px -36px;
    width: 27px;
    height: 26px;  
}
.icon-star-k{
    background-size: 400px;
    background-position: -246px -36px;
    width: 27px;
    height: 26px;
}
.icon-guide{
    background-size: 400px;
    background-position: 0 0;
    width: 11px;
    height: 14px; 
}
.icon-up{
    background-size: 400px;
    background-position: 0 -25px;
    width: 15px;
    height: 9px;
}
.icon-down{
    background-size: 400px;
    background-position: 0 -50px;
    width: 15px;
    height: 9px;
}
.icon-thumb-up{
    background-size: 400px;
    background-position: 0 -75px;
    width: 16px;
    height: 14px;
}
.icon-star-half{
    background-position: 0 -200px;
    width: 30px;
    height: 28px;
}
.icon-star-white{
    background-position: 0 -250px;
    width: 29px;
    height: 23px;
}
.icon-star-blue{
    background-position: 0 -300px;
    width: 20px;
    height: 17px;
}
.icon-person{
    background-position: -50px 0;
    width: 25px;
    height: 30px;
}
.icon-internet-error{
    background-size: 400px;
    background-position: -360px -100px;
    width: 40px;
    height: 33px; 
}
.icon-sign-address{
    background-size: 400px;
    background-position: -25px -25px;
    width: 15px;
    height: 18px; 
}
.icon-smile{
    background-position: -49px -150px;
    width: 34px;
    height: 34px;
}
.icon-sweep{
    background-position: -50px -100px;
    width: 34px;
    height: 34px;
}
.icon-lottery{
    background-position: -50px -200px;
    width: 40px;
    height: 33px;
}










