body.iframe-wrap{
	background: #fdfdfd!important;
}
body.iframe-wrap .cemp-nav{
    display: none !important;
}
body.iframe-wrap .cemp-main .sidebar{
    display: none !important;
}
body.iframe-wrap .cemp-main .page-nav{
    padding-left: 0px;
    top: 0px;
}
body.iframe-wrap .cemp-main .main{
    padding-left: 0px;
}
body.iframe-wrap .cemp-main .cemp-container{
    padding-top: 0px;
}
body.iframe-wrap .btn-iframe{
	display: inline-block!important;
}
body.iframe-wrap .login-normal{
	display: none!important;
}
body.iframe-wrap .login-iframe{
	display: block!important;
	background: #fdfdfd!important;
}
body.iframe-wrap .cemp-main{
    min-height: 0!important;
}