.cemp-nav{
    height: 70px;
}
.cemp-nav .navbar-brand {
    height: 70px;
    line-height: 33px;
}
.cemp-nav .container-fluid{
    padding-left: 78px;
    padding-right: 147px;
}
.cemp-nav .navbar-nav > li > a{
    color: #f3f3f3;
    line-height: 40px;
}
.cemp-nav .glyphicon{
    margin-right: 9px;
    font-size: 26px;
    vertical-align: middle;
}
.cemp-nav .division{
    padding: 0px;
    height: 35px;
    border-left-width: 1px;
    border-left-style: solid;
    margin-top: 16px;
}

.cemp-main{
    min-height: 100%;
    padding-top: 70px;
}
.cemp-main .sidebar{
    width: 210px;
    height: 100%;
    background: #f7f7f7;
    border: 1px solid #d4d4d4;
    position: fixed;
    top: 70px;
    left: 0px;
    z-index: 99;
}
.cemp-main .nav{
    /*margin-top: 40px;*/
}
.cemp-main .nav > li > a{
    line-height: 20px;
    font-size: 16px;
    font-weight: 500;
    color: #757575;
    padding-left: 64px;
}
.cemp-main .nav > li > .active{
    font-weight: 600;
    color: #424242;
}
.cemp-main .nav > .nav-header{
    margin-top: 10px;
}
.cemp-main .nav > .nav-header > a{
    padding-left: 30px;
    color: #acacac;
}
.cemp-main .nav-header .icon{
    vertical-align: sub;
    margin-right: 7px;
}
.cemp-main .nav > .nav-header > a:hover{
    background-color: #f7f7f7;
}
.cemp-main .main{
    width: 100%;
    height: 100%;
    padding-left: 210px;
}
.page-nav{
    width: 100%;
    height: 60px;
    border-bottom: 0.5px solid #d4d4d4;
    /*padding-left: 210px;
    position: fixed;
    top: 70px;*/
    background-color: #fff;
    z-index: 10;
}
.page-nav > ul{
    width: 960px;
    margin: 0 auto;
    text-align: center;
}
.page-nav > ul > li{
    font-size: 18px;
    font-weight: 500;
    display: inline-block;
    color: #75aad9;
}
.page-nav > ul > li > a{
    display: inline-block;
    padding: 0px 83px;
    color: #acacac;
    line-height: 57px;
}
.page-nav > ul > li > a:hover{
    color: #428ac9;
    border-color: #428ac9;
    text-decoration: none;
}
.page-nav > ul > .active > a{
    color: #428ac9;
}
.page-nav > ul > .active > .step{
    border-color: #428ac9;
}
.step{
    background-repeat: no-repeat;
    background-position: 0px 16px;
    line-height: 57px;
    border-bottom: 3px solid #d4d4d4;
}
.step-one{
    background-image: url("../i/activity/1_gray.png");
}
.active .step-one{
    background-image: url("../i/activity/1.png");
}
.step-two{
    background-image: url("../i/activity/2_gray.png");
}
.active .step-two{
    background-image: url("../i/activity/2.png");
}
.step-three{
    background-image: url("../i/activity/3_gray.png");
}
.active .step-three{
    background-image: url("../i/activity/3.png");
}
.cemp-container{
    /*height: 100%;*/
    /*padding-top: 60px;*/
    overflow: hidden;
}
.cemp-box{
    margin: 30px auto;
    padding: 45px 60px 100px;
    width: 960px;
    min-height: 100%;
    border: 0.5px solid #ffffff;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 0 2.5px 1px rgba(137, 137, 137, 0.5);
    position: relative;
}
.cemp-btn{
    height: 32px;
    line-height: 32px;
    border-radius: 5px;
    color: #fff;
    background-color: #428bca;
    border: 1px solid #357ebd;
    padding: 0px 24px;
    font-size: 18px;
}
.cemp-btn:hover{
    color: #fff;
}
.btn-box{
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 50px;   
    left: 0;
    right: 0;
    margin: auto;
}
