@charset "utf-8";
/**
 * @description: 密码强度样式
 * @author:Franco
 * @update:
 */
.password-status {
    color: #a0a0a0;
    font-size: 12px;
}
.password-strength {
    display: inline-block;
    height: 6px;
    width: 106px;
    background: url(../i/common/sprites-icon.png) no-repeat;
    overflow: hidden;
    margin-right: 10px;
}
.password-one {
    background-position: -45px -17px;
}
.password-two {
    background-position: -45px -23px;
}
.password-three {
    background-position: -45px -29px;
}