@charset "utf-8";
/**
 * @description: 西藏项目字体
 * @author: Franco
 * @update:
 */
@font-face {
	font-family: "RTWSJyunYaDemo-Regular";
	src: url('fonts/RTWSJyunYaDemo-Regular.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}