@charset "utf-8";
/**
 * @description: 上传样式
 * @author:Franco
 * @update:
 */

.px-form-input {
    float: left;
}
.px-buttons {
    float: left;
}
.px-input-button {
    /*display: inline-block;
    position: relative;
    margin-right: .1em;
    text-decoration: none !important;
    cursor: pointer;
    text-align: center;
    zoom: 1;
    overflow: hidden;
    height: 38px;
    padding: 0;
    line-height: 38px;
    width: 136px;*/
}
.px-input-button input {
    position:absolute;
    top: 0;
    right: 0;
    filter: alpha(opacity: 0);
    opacity: 0;
    cursor: pointer;
    direction: ltr;
    margin: 0;
    padding: 0;
    -o-transform: translate(250px, -50px) scale(1);
    -moz-transform: translate(-300px, 0) scale(4);
    height:40px;
    font-size:100px;
}

.upload-data {
    width: 80px;
    height: 80px;
    overflow: hidden;
    margin: 10px 5px 10px 0;
    position: relative;
    border-radius: 5px;
    text-align: center;
}

.image-item {
    width: 80px;
    height: 80px;
    text-align: center;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}
.image-item td{
    height: 80px;
    width: 80px;
    vertical-align: middle;
    text-align: center;
}
.image-item img{
    max-width: 80px;
    max-height: 80px ;
    cursor: pointer;
    margin: auto;
}
.image-delete{
    position: absolute;
    cursor: pointer;
    width: 15px;
    height: 15px;
    margin-left: 65px;
    background: url("../i/common/header-tips-delete.png") no-repeat 0 0;;
}
.upload-data.pending {
    border: 1px solid #FF5B32;
}

.upload-data.uploading {
    border: 1px solid #EDBE05;
}

.upload-data.success {
    border: 1px solid green;
    background: #d7ffdc;
}

.upload-data.error, .upload-data.cancel {
    border: 1px solid #FF0000;
    background: #ffddd8;
}
.upload-data.error .status {
    color: #ff5600;
}

.px-widget ul.actions {
    position: absolute;
    bottom: 5px;
    right: 5px;
    margin: 0;
    padding: 0;
}

.px-widget ul.actions li {
    cursor: pointer;
    float: left;
    list-style: none outside none;
    margin: 2px;
    height: 16px;
    width: 16px;
    line-height: 16px;
    border-radius: 8px;
    position: relative;
    text-align: center;
}

.px-widget ul.actions li.upload {
    background: green;
}
.px-widget ul.actions li.ui-state-hover {
    background: #01A005;
}
.px-widget ul.actions li.upload span {
    display: inline-block;
    border-color: transparent  transparent transparent white;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
    _border-top-color: green;
    _border-bottom-color: green;
    _filter: chroma( color =green);
    position: absolute;
    left: 6px;
    top: 3px;
}
.px-widget ul.actions li.delete {
    background: red;
    color: #ffffff;
    font-weight: bold;
}
.px-widget ul.actions li.cancel {
    background: #ff5600;
    color: #ffffff;
    font-weight: bold;
}
.upload-data .filename {
    padding-right: 10px;
    width: 340px;
    line-height: 20px;
    display: inline-block;
    word-break: break-all;
    word-wrap: break-word;
    overflow: hidden;
}
.upload-data .status {
    clear: both;
}

/* jQuery UI progressbar */
.progress {
    height: 80px;
    width: 80px;
    position: absolute;
    background: #fff;
    opacity: 0.5;
    filter: alpha(opacity=50);
    z-index: 2;
}
.progressBar {
    float: left;
    width: 280px;
    height: 22px;
    border: solid #ccc 1px;
    border-radius: 3px;
    overflow: hidden;
}
.percentage {
    width: 80px;
    height: 80px;
    line-height: 80px;
    position: absolute;
    z-index: 3;
    color: #333;
}
.uploading .progressbar-value {
    background: #ff5600 url(../i/common/pbar-ani.gif);
    border-radius: 3px;
    height: 22px;
    width: 0
}
.px-widget .ui-button {
    height: 40px;
}