$block :           #ddd;
$base-color:       rgb(9,187,7);
$green-light:      rgb(196,239,194);
$text-gray:        #999999;
$border-D8:           #D8D8D8;
$text-gray-list:   #666666;
$back-gray:        #F4F4F4;
$border-gray:      #e1e1e1;
$black-opcity:     rgba(0,0,0,0.5);
$text-red:         rgb(247,98,96);
$page-back-color:  #EFEFF4;


@mixin clear_fix {
  &:after,&:before,&::after,&::before{
    content: ".";
    height: 0;
    visibility: hidden;
    display: block;
    clear: both;
  }
}

@mixin flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-center_column{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
