<div class="container" ng-controller="gxdrController">
    <div class="row" ng-if="info.item.id!=''">
        <div class="col-xs-12 " style=" position: relative;padding-bottom:15px; padding-left:0;padding-right:0;">
            <img src="../../../content/imgs/gxdr.jpg" style="width:100%;">
            <div style="position: absolute;bottom: 10px;left: 0; width:100%;">
                <p style="text-align: center; font-size:20px;">
                    <span class="text-muted"
                          style=" border-radius: 10px; padding:5px 10px; background: #000; color:#fff;
                                filter:alpha(Opacity=80);-moz-opacity:0.5;opacity: 0.5; ">
                        {{info.item.activityName}}</span>
                </p>
            </div>
        </div>



        <div class="col-xs-12">
            <a href="{{info.url}}" class="weui_btn weui_btn_warn">开始</a>
        </div>

        <div class="col-xs-12">
            <div class="page-header">
                奖品
            </div>
        </div>

        <div class="col-xs-4 text-center">
            <div class="img-circle">
                <img style="width: 100%;" src="http://img12.360buyimg.com/n2/jfs/t4078/246/783780467/343126/8bfcd699/585d06a2N0e24701a.jpg">
            </div>

        </div>
        <div class="col-xs-4 text-center">
            <div class="img-circle">
                <img style="width: 100%;" src="http://img13.360buyimg.com/n1/s160x160_jfs/t4354/281/403904912/683655/e93ed000/58b3dbfaNfdcb0a97.jpg">
            </div>

        </div>
        <div class="col-xs-4 text-center">
            <div class="img-circle">
                <img style="width: 100%;" src="http://img30.360buyimg.com/popWareDetail/jfs/t4267/41/393291434/86937/97286fad/58b3dc31Nd0544e40.jpg">
            </div>

        </div>

        <div class="col-xs-12">
            <div class="page-header">
                排行榜
            </div>
        </div>

        <div class="col-xs-12" ng-controller="gxdrRanking">
            <table class="table" ng-init="nationwideRank(10)">
                <thead>
                <tr>
                    <th></th>
                    <th>昵称</th>
                    <th>分数</th>
                    <th>时间</th>
                    <th>区域</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="m in rank.list">
                    <td >{{$index+1}}</td>
                    <td>{{m.nickName}}</td>
                    <td>{{m.score}}</td>
                    <td>{{m.usingTime/100}}'</td>
                    <td>{{m.province}}</td>
                </tr>
                </tbody>
            </table>
            <div ng-if="rank.my.index>0">
                <div class="alert alert-danger">你当前第{{rank.my.index}}名</div>
            </div>
            <div ng-if="rank.my==null">
                <div class="alert alert-danger">你还没有练习过，赶快行动吧!</div>
            </div>
        </div>
    </div>
    <div class="row" ng-if="info.item.id==''">
        <div class="col-xs-12">
            <div class="text-center" style="padding-top:80px; padding-bottom:30px;">
                <i class="weui_icon_warn weui_icon_msg"></i>
                <p style="text-align: center; font-size:14px; padding-top:15px;">系统设置出错！</p>
            </div>
        </div>
    </div>
</div>