<div ng-controller="orderController">
    <div class="container" style="padding-top:15px;">
        <div class="row">
            <div class="col-xs-12 text-center">
                <img style="width:100%;" src="http://161s5g6007.51mypc.cn/Files/upload/201704050313533b21.jpg">
                <div class="text-muted " style="margin-top:15px;">三月奖品</div>
            </div>
            <div class="col-xs-12" style="height: 5px; background: #ccc; margin:10px 0;"></div>
            <div class="col-xs-12">
                <form ng-submit="processOrder()" novalidate  name="orderForm" class="form-horizontal">
                    <div class="form-group">
                        <label for="name" class="col-xs-2 control-label">姓名</label>
                        <div class="col-xs-10">
                            <input type="text" class="form-control" name="name" id="name" ng-model="order.name" required placeholder="姓名">
                            <div class="form-error"
                               ng-show="(orderForm.name.$invalid && orderForm.name.$dirty && !orderForm.name.$focused) || (orderForm.name.$invalid && submitted)">
                                <span ng-show="orderForm.name.$error.required">姓名不能为空</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="telephone" class="col-xs-2 control-label">手机</label>
                        <div class="col-xs-10">
                            <input type="tel" class="form-control" name="telephone"
                                   id="telephone" ng-minlength="11" ng-maxlength="11"
                                   pattern="^1[34578]\d{9}$"  ng-model="order.telephone" required placeholder="手机号码">
                            <div class="form-error"
                               ng-show="(orderForm.telephone.$invalid && orderForm.telephone.$dirty && !orderForm.telephone.$focused) || (orderForm.telephone.$invalid && submitted)">
                                <span ng-show="orderForm.telephone.$error.required">手机号不能为空</span>
                                <span ng-show="orderForm.username.$error.pattern || orderForm.telephone.$error.pattern || orderForm.telephone.$error.minlength">请输入正确的手机号码</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="address" class="col-xs-2 control-label">地址</label>
                        <div class="col-xs-10">
                            <input type="text" class="form-control" name="address" id="address" ng-model="order.address" required="" placeholder="地址">
                            <div class="form-error"
                               ng-show="(orderForm.address.$invalid && orderForm.address.$dirty && !orderForm.address.$focused) || (orderForm.address.$invalid && submitted)">
                                <span  ng-show="orderForm.address.$error.required">地址不能为空</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-offset-2 col-xs-10">
                            <button type="submit" class="btn btn-default  ">提交</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
