<div class="container" ng-controller="myController">
    <div class="row" style="padding-top:15px;">
        <div class="col-xs-12 text-center">
            <img class="img-circle" style="width:80px;" ng-src="{{userInfo.headImgUrl}}">
            <div style="margin-top:10px;">{{userInfo.nickName}}</div>
        </div>
    </div>
    <div class="row">
        <div class=" weui_cells_title"></div>
        <div class="weui_cells weui_cells_access">
            <a href="#viewpersonal"  class="weui_cell">
                <div class="weui_cell_hd">
                    <img style="width:30px;height: 30px;" src="./imgs/read/personal.png">
                </div>
                <div class="weui_cell_bd weui_cell_primary">
                    <div>我的资料</div>
                </div>
                <div class="weui_cell_ft"></div>
            </a>
            <a href="#myallwork"  class="weui_cell">
                <div class="weui_cell_hd">
                    <img style="width:30px;height: 30px;" src="./imgs/read/report.png">
                </div>
                <div class="weui_cell_bd weui_cell_primary">
                    <div>我的作品</div>
                </div>
                <div class="weui_cell_ft"></div>
            </a>
        </div>
    </div>
</div>