.cover{display:none;
    position:absolute;
    left:0;top:0;
    z-index:18888;
    background-color:#000000;opacity:0.7;
    width: 100%;
    text-align: right;
}
.cover img{
    width:50%;
}
.line{
    height: 0px; line-height: 0px; border:1px solid rgb(253,212,182);
}
.share{
    padding-top:15px;padding-left:30px;
}
.share .share-btn{
    color:rgb(43,162,49);font-size:20px;
}