*{margin:0;padding:0;}
body{
	font: 14px/150% Arial,Verdana,"\5b8b\4f53";
	color: #222;
}
input {
	outline: none;
}
a{
	text-decoration: none;
	color:#666;
}
li{
	list-style-type: none;
}
.clear{
	clear:both;
}
.main{
	width: 1000px;
	margin:0 auto;
	overflow: hidden;
}
.cart_title{
	width:100%;
	height:66px;
	overflow: hidden;
	border-bottom: 1px #e2e2e2 solid;
}
.cart_text{
	float: left;
	line-height: 66px;
	font-size: 18px;
	color:#222;
}
.order_progress{
	width:503px;
	height:28px;
	float: right;
	position: relative;
	margin:31px 22px 0 0;
	background: url(../images/progress_bg.png) 0 0 no-repeat;
}
.order_progress div{
	position: absolute;
}
.color_fff{
	color:#fff;
}
.order_p1{		
	background: url(../images/1.png) 0 0 no-repeat;
}
.order_left1{
	left:3px;
}
.order_p2{		
	background: url(../images/2.png) 0 0 no-repeat;
}
.order_left2{
	left:164px;
}
.order_left3{
	left: 334px;
}
.order_p3{		
	background: url(../images/3.png) 0 0 no-repeat;
}
.order_step{
	width: 180px;
	height: 28px;
	float: left;
	text-align: center;
	line-height: 28px;
}
.order_title{
	width: 100%;
	height:40px;
	overflow: hidden;
	margin:12px 0 0;
	line-height: 40px;
	background-color: #e2e2e2;
}
.order_title span{
	float: left;
	text-align: center;
}
.commodity_img{
	width:135px;
}
.commodity_name{
	width:334px;
}
.commodity_price{
	width:122px;
	text-align: right;
}
.commodity_nowprice{
	width:122px;
}
.commodity_counts{
	width:108px;
}
.commodity_state{
	width:120px;
}
.commodity_do{
	width:58px;
}
.order_item{
	height:153px;
	margin-top: 12px;
	border-bottom: 1px #e2e2e2 solid;    
}
.order_item div{
	display: table;
	text-align: center;
	min-height: 126px;
	vertical-align: middle;
}
.order_table_cell{
	display: table-cell;
	vertical-align: middle;
}
.commodity_name a:hover{
	color: #00bac2;
	text-decoration: underline;
}
.order_item  .commodity_pic{	
	width: 125px;
	height:125px;
	display: table-cell;
	margin-left: 4px;
	border:1px #e2e2e2 solid;
}
.order_item  .commodity_img{
	display: block;
}
.fll{
	float: left;
}
.commodity_reduce{
	width:20px;
	height:20px;
	margin:4px 6px 0 0;
	border: 1px #e2e2e2 solid;
	cursor: pointer;
}
.commodity_add{
	width:20px;
	height:20px;
	margin:4px 0 0 6px;
	cursor: pointer;
	border: 1px #e2e2e2 solid;
}
.commodity_input{
	width:36px;
	height:28px;
	border: 1px #e2e2e2 solid;
}
.commodity_delete{
	width: 31px;
	height: 31px;
	cursor: pointer;
	margin-left: 16px;
	background: url(../images/commodity_delete1.png) 0 -31px no-repeat;
}
.commodity_delete:hover{
	background: url(../images/commodity_delete1.png) 0 0 no-repeat;
}
.order_des{
	margin-top: 26px;
	overflow: hidden;
}
.clearAll_order{
	float: left;
}
.orders_total{
	float: right;
}
.commodity_buycounts{
	margin-right: 6px;
}
.clearAll_order{
	cursor: pointer;
}
.order_des2{
	overflow: hidden;
	margin-top: 21px;
}
.commodity_money2{
	color:#e00000;
	font-size: 26px;
}
.order_next_btn{
	color:#fff;
	height: 40px;
	padding:0 26px;  
	float: left;
	line-height: 40px;
	cursor: pointer;
	border-radius: 2px/3px;
}
.order_to_shopping{
	background-color: #616161;
	margin-right: 5px;
}
.order_to_checkout{
	background-color: #00bac2;
}
.clearAll_order:hover{
	text-decoration: underline;
}
.errorTip{
	position: absolute;
	/*min-width: 120px;*/
	line-height: 22px;
	padding: 0 16px;
	background-color: #e3728a;
	font-size: 12px;
	color: #fff;
}
.errorText{
	color: #fff;
	width: auto;
	font-size: 12px;
	margin-left: 6px;
	font-style: normal;
}
.errorBg{
	background-color: #e3728a;
}
.order_dialog_delete{
	width:250px;
	height:100px;
	font-size: 12px;
	position: absolute;
	background-color: #fff;
	z-index: 1000;
	border: 1px #e2e2e2 solid;
}
.order_dialog_title{
	height:27px;
	line-height: 27px;
	text-indent: 1em;
	background-color: #e2e2e2;
	border-bottom: 1px #e2e2e2 solid;
}
.order_dialog_mesg{
	line-height: 22px;
	margin:8px 0;
	color: #e00000;
	text-align: center;
}
.order_dialog_btn a{
	float: left;
	width: 44px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	border-radius: 2px/4px;
	border:1px #e2e2e2 solid;
}
.order_dialog_sure{
	margin: 0 34px 0 62px;
}

.order_success_win{
	width: 709px;
	height: 342px;
	margin: 108px auto;
	text-align: center;
	border: 1px #e2e2e2 solid;
}
.order_success_inner{
	width:680px;
	height:319px;
	margin: 10px auto;
	border: 1px #e2e2e2 solid;
}
.order_mesg1{
	width:631px;
	height: 125px;	
	font-size: 22px;
	font-weight: bold;
	line-height: 130px;
	text-indent: 5em;
	margin: 0 auto;
	background: url(../images/order_success.png) 132px center no-repeat;
	border-bottom: 1px #e2e2e2 solid;
}
.back_to_list{
	margin: 36px 0 56px;
	font-size: 16px;
}
.back_btn{
	width: 112px;
	height: 39px;
	display: block;
	margin: 0 auto;
	text-align: center;
	line-height: 39px;
	background-color: #00bac2;
	color: #fff;
}
.color_f0f0f0{
	overflow: hidden;
	background-color: #f0f0f0;
}
.order_url_inner{
	margin:0 27px;
}
.buyer_mesg{
	padding:25px 0 11px;
	font-size: 14px;
}
.order_radio{
	padding:0 12px 0 88px;
}
.buyers_url_model {overflow: hidden;}
.buyer_mesg_lis li{
	position: relative;
	line-height: 36px;
	cursor: pointer;
	height: 36px;
}
.buyer_mesg_lis li span{float: left;}
.order_url_inner .order_autourl{
	border:1px #00bac2 solid;
	background: #cce8e9 url(../images/url_icon.png) 10px center no-repeat;
}
.order_url_mesg{
	width: 534px;
	height: 36px;
	margin-right: 40px;
	overflow: hidden;
}
.urlisauto{
	width: 153px;
	height: 36px;
}
.order_url_edit{
	margin-right: 4px;
	cursor: pointer;
}
.order_url_delete{
	margin-left: 4px;
	cursor: pointer;
}
.order_add_url{
	margin:12px 0 20px 88px;
	float: left;
}
.order_btn{
	padding:8px 22px;
	border-radius: 2px/4px;
}
.order_btn_bg1{
	background-color:#00bac2;
}
.order_btn_bg2{
	background-color:#ff681f;
}
.underline{
	border-bottom: 1px #a8a8a8 dotted;
}
.peisong_type{
	overflow: hidden;
	line-height: 40px;
}
.peisong_type span{
	float: left;
	text-align: center;
}
.peisong_sp1{
	width: 140px;
}
.peisong_sp2{
	width: 110px;
}
.peisong_sp3{
	width: 630px;
}
.peisong_sp4{
	width:190px;
}
.peisong_state_sp{
	float: left;
	margin:21px 10px 0 0;
	padding:6px 8px;
	border-radius: 2px/3px;
}
.peisong_state_list{
	float: left;
	margin: 15px 0 24px 0;
	line-height: 26px;
}
.m_to_top2{
	margin-top: 12px;
}
.peisong_type input{
	margin-right: 12px;
}
.m_to_bottom{
	padding-bottom: 16px;
}
.m_to_bottom2{
	margin-bottom: 20px;
}
.flr{
	float: right;
}
.order_img_inner{
	width: 80px;
	height: 80px;
	overflow: hidden;
	margin: 12px auto 0;
	background-color: #fff;
}
.order_img_inner img{
	width: 80px;
}
.order_recive_url li{
	line-height: 46px;
	overflow: hidden;
}
.order_recive_url input{
	height:26px;
}
.order_recive_url span{
	width: 100px;
	margin-right: 10px;
	display: inline-block;
	text-align: right;
}
.autoInp{
	width:206px;	
}
.autoInp2{
	width:434px;
}
.place_num{
	width: 44px;
}
.phone_num{
	width: 152px;
}
.autoSelect{
	width: 140px;
	height:26px;
}
.must_write{
	color:red;
	margin-right: 6px;
}
.add_orderurl_model{
	height: 0;
	overflow: hidden;
}
.order_save_mesg{
	margin: 12px 0 0 115px;
}