.picooc-map {
	position: relative;
	width: 1094px;
	height: 600px;
	border: solid #e1e1e1 3px;
	box-shadow: 8px 5px 8px #888888;
	margin-bottom: 100px;
}
.map-view {
	position: absolute;
	overflow: hidden;
	float: left;
	width: 840px;
	height: 600px;
}
.map-main {
	position: absolute;
	margin-left: -1020px;
	margin-top: -600px;
	width: 3000px;
	height: 2000px;
}
/*用户列表*/
.map-info-list {
	position: absolute;
	right: 0;
	width: 260px;
	height: 600px;
	overflow: hidden;
}
.map-info-list .info-list {
	width: 250px;
	height: 700px;
}
.map-info-list .userItem {
	width: 250px;
	height: 100px;
	margin-left: 5px;
	border-bottom: solid #cbcbcb 1px;
	font-size: 14px;
}
.map-info-list .user-head {
	width: 45px;
	height: 45px;
	margin-left: 10px;
	margin-top: 25px;
	float: left;
}
.map-info-list .user-name {
	top: 30px;
	margin-left: 70px;
	position: relative;
}
.map-info-list .user-time {
	margin-top: 40px;
	margin-left: 70px;
}
.map-info-list .user-position {
	right: 10px;
	margin-top: -25px;
	position: absolute;
	width: 130px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	text-align: right;
}
/*地图上的信息窗口*/
.infoBox {
	background: url(images/bg.png) no-repeat;
	background-size: 100%;
}
.infoBox .user-head {
	width: 60px;
	height: 60px;
	margin-left: 16px;
	margin-top: 16px;
	background: url(images/default_head.jpg) no-repeat;
	background-size: 100%;
	float: left;
}
.infoBox .user-sex {
	width: 25px;
	height: 25px;
	position: absolute;
	margin-top: 48px;
	margin-left: 48px; 
	background: url(images/m.png) no-repeat;
	background-size: 100%;
}
.infoBox .user-name {
	position: relative;
	left: 25px;
	top: 25px;
	font-size: 16px;
}
.infoBox .user-time {
	position: relative;
	left: 25px;
	top: 31px;
	font-size: 16px;
}
.infoBox .user-score {
	position: relative;
	top: 29px;
	left: -7px;
	font-size: 14px;
}
.infoBox .user-bmi {
	position: relative;
	top: -11px;
	left: 159px;
	font-size: 14px;
}
.infoBox .user-texts {
	position: relative;
	top: 50px;
	left: -63px;
}
.infoBox .user-textb {
	position: relative;
	top: 10px;
	left: 120px;
}
.infoBox .user-platform {
	position: absolute;
	width: 18px;
	height: 18px;
	right: 6px;
	top: 6px;
}
.infoBox .user-new {
	position: absolute;
	width: 30px;
	height: 30px;
	left: -15px;
	top: -15px;
}