
<div class="page" style="background:url(../items/imgs/book/book_bg.jpg) no-repeat; background-size:100% 100%" ng-controller="homeController">
    <div class="page__hd"></div>
    <div class="page__bd">
    </div>
    <div class="page__ft"></div>
    <div style="position:absolute; top:58%; left:0; width:100%; text-align:center;">
        <div style="padding:0 20%;">
            <a href="#share"><img style="width:100%;" src="../items/imgs/book/take.png" /></a>
        </div>
        
    </div>
    
</div>
<div style="position:relative; width:100%;height:100%; opacity: 0; z-index:0;">
</div>
<div style="position:absolute; top:89%; left:0; width:100%; z-index:99;">
    <div style="padding:0;width:100%;z-index:99;" ng-controller="TipController">
        <div class="slide">
            <div class="weui-cells" style="margin-top:0px;  background:none;">
                <slide-follow id="slide" dataset-data="datasetData"></slide-follow>
            </div>
        </div>
    </div>
</div>

