#marker {
  .lineicon {
    display: none;
  }
  .marker-name{
    text-shadow: 0 1px 3px rgba(0,0,0,0.80);
    *{
      text-shadow: 0 1px 3px rgba(0,0,0,0.80);
    }
  }
  &.marker-normal {
    margin-top: 3px;
    .big-round {
      // background:rgba(0, 0, 0, 1);
      border-radius: 50%;
      position:relative;
      &:before {
        position:absolute;
        z-index: 3;
        content: "";
        width: 30px;
        height: 30px;
        display: block;
        transform-origin:50% 50%;
        box-sizing: border-box;
        transform:scale(0.5);
        border: 8px solid rgba(1, 1, 1, 0.8);
        box-shadow: 0 0 0 1px rgba(255, 255, 255, 1);
        background: #ffffff;
        border-radius: 50%;
        opacity: 1;
        animation:middleRipple infinite steps(12) 3s;
      }
      &:after {
        content: "";
        width: 30px;
        height: 30px;
        display: block;
        border-radius: 50%;
        position:absolute;
        z-index: 2;
        background:rgba(0, 0, 0, 1);
        animation:bigRipple infinite steps(12) 3s;
      }
    }
    @keyframes middleRipple {
      0% {
        opacity:1;
        transform:scale(0.5)
      }
      50% {
        opacity:0.35;
        transform:scale(0.7)
      }
      100% {
        opacity: 1;
        transform:scale(0.5)
      }
    }
    @keyframes bigRipple {
      0% {
        opacity:1;
        transform:scale(0.5)
      }
      50% {
        opacity:0.35;
        transform:scale(1.2)
      }
      100% {
        opacity: 1;
        transform:scale(0.5)
      }
    }
  }
  .movingArrowDown{
    background-image:url('../marker/up-marker-arrow.png');
    background-position:0 0;
    background-size:100% auto;
    -webkit-animation:movingArrowDownkey infinite steps(27) 1000ms;
    animation:movingArrowDownkey infinite steps(27) 1000ms;
  }
  @-webkit-keyframes movingArrowDownkey{
    0%{
      background-position:0 972px;
    } 
    100%{
      background-position:0 0;
    }
  }
  .movingArrowLeft{
    background-image:url('../marker/left-marker-arrow.png');
    background-position:0 0;
    background-size:100% auto;
    -webkit-animation:movingLeftDownkey infinite steps(27) 1000ms;
    animation:movingLeftDownkey infinite steps(27) 1000ms;
  }
  @-webkit-keyframes movingLeftDownkey{
    0%{
      background-position:0 1080px;
    } 
    100%{
      background-position:0 0;
    }
  }
  .movingArrowRight{
    margin-right: 10px;
    background-image:url('../marker/right-marker-arrow.png');
    background-position:0 0;
    background-size:100% auto;
    -webkit-animation:movingArrowRightkey infinite steps(27) 1000ms;
    animation:movingArrowRightkey infinite steps(27) 1000ms;
  }
  @-webkit-keyframes movingArrowRightkey{
    0%{
      background-position:0 1080px;
    } 
    100%{
      background-position:0 0;
    }
  }
}