<!DOCTYPE html>
<html>

<head>
  <title></title>
  <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/vue/2.5.13/vue.min.js"></script>
</head>

<body>
  <div id="app">
    <p>{{ message1 }}</p>
    <p v-if="!a">1</p>
    <p v-if="!b">2</p>
    <p v-if="!c">3</p>
  </div>
  <script>
  new Vue({
    el: '#app',
    data: {
      a: '',
      b: undefined,
      c: null,
      message1: 'Hello Vue.js!'
    }
  })

  </script>
</body>

</html>
