/**
    @file 连击 因为组件不支持font icon，所以临时采用图片方式处理，数字和图片对应关系
    @author hurry
    @date 2018/01/23
*/
module.exports = {
    imgs: {
        '2': 'https://imgs.genshuixue.com/0cms/d/file/content/2018/01/5a67edbd9d233.png',
        '3': 'https://imgs.genshuixue.com/0cms/d/file/content/2018/01/5a67edbdcd1c8.png',
        '4': 'https://imgs.genshuixue.com/0cms/d/file/content/2018/01/5a67edbe127fd.png',
        '5': 'https://imgs.genshuixue.com/0cms/d/file/content/2018/01/5a67edbe43c4f.png'
    }
};