.choose-bar-seven{
  text-align: center;
  width: px2rem(330);
  margin: 0 auto px2rem(18) auto;
  //color: #ffffff;
  .choose-question{
    background-color: #ffffff;
    border-radius: px2rem(4);
    padding: px2rem(15) 0 px2rem(15) 0;
    box-shadow: 0px px2rem(2) px2rem(4) rgba(0, 0, 0, 0.3);
    h1{
      font-size: px2rem(20);
      margin-bottom: px2rem(15);
    }
    p{
      font-size: px2rem(16);
      margin: px2rem(15) 0 px2rem(15) 0;
    }
  }
  .choose-options-on{
    position: relative;
    background-color: black;
    color: #FFFFFF;
    border-radius: px2rem(4);
    height: px2rem(40);
    line-height: px2rem(40);
    margin: px2rem(8) 0 px2rem(8) 0;
  }
  .choose-options-off{
    position: relative;
    background-color: #ffffff;
    box-shadow: 0px px2rem(2) px2rem(4) rgba(0, 0, 0, 0.3);
    border-radius: px2rem(4);
    height: px2rem(40);
    line-height: px2rem(40);
    margin: px2rem(8) 0 px2rem(8) 0;
  }

  .choose-options-img{
    top: 0;
    position: absolute;
    height: px2rem(28);
    width: px2rem(28);
    right: px2rem(4);
    margin-top: px2rem(6);
  }
  .choose-options-click{
    position: absolute;
    height: 100%;
    width: 100%;
  }

  .choose-tips{
    background-color: #595959;
    border-radius: px2rem(4);
    padding-top: px2rem(15);
    padding-bottom: px2rem(10);
    margin-top: px2rem(18);
    h1{
      font-size: px2rem(20);
      margin-bottom: px2rem(15);
    }
    p{
      font-size: px2rem(20);
      margin-bottom: px2rem(5);
    }
    .tips-font{
      opacity: 0.4;
      color: #FFFFFF;
    }
  }
}