.lesson-bar-seven{
  padding-top: px2rem(18);
  position: relative;
  width: px2rem(359);
  height: px2rem(140);
  margin: 0 auto px2rem(18) auto;
  display: block;
  .bar-background{
    border-radius: px2rem(4);
    background-color: #FFFFFF;
    opacity: 0.5;
    position: absolute;
    width: px2rem(359);
    //z-index: -500;
    height: px2rem(140);
  }
  .column-container{
    //background-color: #FFFFFF;
    //margin: 0 auto 0 auto;
    height: px2rem(140);
    width: px2rem(359);
    position: absolute;
    z-index: 1;
    //border-bottom: 1px solid #efefef;
    background-size: cover;
    .pic-container{
      display: inline-block;
      line-height: px2rem(140);
      height: px2rem(140);
      //width: px2rem(100);居中目的
      margin-left: px2rem(12);
    }
    .touch-range{
      position: absolute;
      z-index: 100;
      top: 0;
      right: 0;
      z-index: 1;
      width: px2rem(258);
      height: 100%;
    }
  }

  .column-not-view{
    text-align: center;
    color: rgba(255,255,255,0.5);
    padding-top: px2rem(16);
    h1{
      margin-bottom: px2rem(10);
      font-size: px2rem(42);
      line-height: px2rem(59);
    }
    h2{
      font-size: px2rem(16);
      line-height: px2rem(22);
    }
  }

  .column-container-title{
    color: #FFFFFF;
    text-align: right;
    margin: px2rem(10) px2rem(16) 0 0;
    display: inline-block;
    float: right;
    h1{
      font-size: px2rem(42);
      line-height: px2rem(59);
    }
    h2{
      font-size: px2rem(16);
      border-bottom: #ffffff px2rem(2) solid;
      border-top: #ffffff px2rem(2) solid;
      //line-height: px2rem(22);
    }
  }

  .column-pic{
    vertical-align: middle;
    width:  px2rem(72);
    height: px2rem(121);
  }
  .column-type{
    width:  px2rem(77);
    //margin-top: px2rem(5);
  }
  .space-pic{
    display: inline-block;
    width: px2rem(77);
    height: px2rem(24);
    margin-top: px2rem(5);
  }
  .free-lesson{
    font-weight: bold;
  }
}