a,p,div,ul,li,ol,dl,dd,dt,nav,header,col,pre,table{
    text-decoration: none;
    text-transform: none;
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    padding: 0;
    list-style: none;
}
body{
    overflow-x: hidden;
}
.col-md-12>div,header,nav{
    margin: 0 -15px;
}

@media screen and (max-width:780px) {
    #nb-li{
        display: none;
    }
}

/*header开始*/
header{
    background-color: #333333;
    color: #e4e1dc;
    line-height: 40px;
    text-align: center;
}
header span{
    color: #f78e21;
}
/*header结束*/

/*nav开始*/
.nabr{
    background-color: #ffffff;
    margin: 0 -15px;
    line-height: 70px;
}
nav ul>li{
    text-align: center;
    margin-top: 10px;
    line-height: 30px;
}
nav ul>li:last-child{
    border: 1px solid #d1cec9;
    line-height: 25px;
    margin:20px auto;
    text-align: left;
    width: 250px;
}
nav ul>li>input{
    border: 0;
    background-color: #ffffff;
    width: 85%;
    margin-left: 0;
}
.md-img{
    right: 2%;
    position: absolute;
    top: 15%;
}
/*nav结束*/

/*module1开始*/
.module1{
    background-image: url("../images/bg-image.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.module1>ul{
    text-align: center;
    margin: auto;
    color: #ffffff;
}
.module1>ul>li:first-child{
    font-size: 30px;
    font-weight: bold;
}
.module1>ul>li:last-child{
    font-size: 13px;
}
.module1>ul>li>span{
    color: #f78e21;
}
/*module1结束*/

/*module2开始*/
.module2{
    background-color: #ffffff;
}
.module2>h2{
    margin-top: 80px;
    font-weight: bold;
    text-align: center;
}
.module2>p{
    text-align: center;
}
.module2>ul{
    width: 360px;
    margin:20px auto;
    background-color: #00b896;
}
.module2>ul>li{
    float: left;
    margin-left: 10px;
    cursor: pointer;
}

/*.module2-div{*/
    /*width: 80%;*/
    /*margin:20px auto;*/
/*}*/
.module2-div img{
    /*width: 100%;*/
}
.module2-div ol>li:nth-child(2){
    font-weight: bold;
}
.module2-div ol>li:nth-child(3){
    color: #f78e21;
}
.module2>div{
    width: 80%;
    margin:40px auto;
}
.module2>div button{
    width: 35px;
    height: 35px;
    background-color: #333333;
    color: #ffffff;
    border: 0;
}


.mdr-ol{
    position: absolute;
    background-color: rgba(0,0,0,0.6);
    color: #ffffff;
    text-align: center;
    top: 0%;
    right: 0%;
    left: 0%;
    bottom: 0%;
    opacity: 0;
}
.mdr-ol>li:first-child{
    font-size: 18px;
    width: 40px;
    height: 40px;
    border: 1px solid #f78e21;
    line-height: 40px;
    margin: auto;
    margin-top: 40%;
}
.mdr-ol>li:last-child{
    color: #f78e21;
}
.mdr2-li{
    position: relative;
    margin-top: 15px;
}
.mdr2-li>img{
    width: 100%;
}
/*module2结束*/

/*module3开始*/
.module3{
    height: 100%;
    border-top: 4px solid #f78e21;
    background-color: #f3f3f3;
}
.module3-div{
    width: 80%;
    margin: auto;
    font-weight: bold;
}
.module3-p{
    border: 1px solid #d1cec9;
    line-height: 25px;
    width: 100%;
}
.module3-div p{
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}
.module3-div p>input{
    border: 0;
    background-color: #ffffff;
    width: 85%;
    margin-left: 0px;
}

.md3-ol{
    margin-top: 40px;
    font-size: 10px;
}
.md3-ol>li{
    margin-top: 10px;
    color: #696969;
}
.md3-ol>li:nth-child(1){
    font-size: 16px;
    color: #000000;
}
.i{
    color: #f78e21;
}
.module3 span{
    color: #f78e21;
}

.module3 button{
    width: 35px;
    height: 35px;
    background-color: #ffffff;
    color: #9d9d9d;
    border: 0;
}
/*module3结束*/

/*footer开始*/
footer{
    background-color: #d1cec9;
    margin: 0 -15px;
}
footer span{
    color: #f78e21;
}
footer>p{
    width: 80%;
    margin: auto;
    line-height: 50px;
    font-size: 10px;
}
/*footer结束*/