<div ng-controller="testController" style="background:url(../../../../content/imgs/answerbg.jpg) repeat-x; height: 100%;">
    <se-test data-title="title" data-answers="answers" data-score="score" data-timer="timer"></se-test>
    <div class=" container" style="max-width: 640px;" >
        <div class="row">
            <div class="col-xs-12" style="position: relative">
                <img style="width:100%;" src="../../../../content/imgs/answer_header.png">
                <img  src="http://wx.qlogo.cn/mmopen/oYwP0cFmRU1XiaPWibnicfa29BAyrj6RCqZPr9ZlP90VQmSw47J0VQkzd7mycjj4Je0VwfkKM8Mm7EYkfwu6Tzx8NlQ9mWlPoEU/0"
                      style="width:10%;left:10%;"  class="img-circle vertical-center"   >

                <div style="position: absolute;top:0; left: 0; width: 100%; height: 100%; ">
                    <div class="row">
                        <div class="col-xs-4 text-center vertical-horizontal-center" style="left:25%;" >
                            <div class="row ">
                                <div class="col-xs-12">斧头</div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">秀才</div>
                            </div>
                        </div>
                        <div class="col-xs-4 text-center vertical-horizontal-center" style="left:53%;" >
                            <span id="clock">{{info.clock}}</span>
                        </div>
                        <div class="col-xs-4 text-center vertical-horizontal-center" style="top:55%; left:78%;">
                            <span id="score" >{{info.score}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h4 style="color:#fff;font-size: 20px;line-height: 30px;" id="title" >
                    {{info.title}}
                </h4>
            </div>
        </div>
        <div class="row" id="answers">
            <div class="col-xs-12" style="margin-bottom:20px;">
                <span class="button button-3d button-primary button-rounded"
                      style="background-color: #fff;width:100%;color:#000;">
                    dddd</span>
            </div>
            <div class="col-xs-12" style="margin-bottom:20px;">
                <span class="button button-3d button-primary button-rounded"
                      style="background-color: #fff;width:100%;color:#000;">
                    dddd</span>
            </div>
            <div class="col-xs-12" style="margin-bottom:20px;">
                <span class="button button-3d button-primary button-rounded"
                      style="background-color: #fff;width:100%;color:#000;">
                    dddd</span>
            </div>
            <div class="col-xs-12" style="margin-bottom:20px;">
                <span class="button button-3d button-primary button-rounded"
                      style="background-color: #fff;width:100%;color:#000;">
                    dddd</span>
            </div>
        </div>
    </div>
</div>