.home-work-21{
  .content{
    padding: 10px;
    text-align: center;
    .title{
      font-size: 29px;
      color: #907660;
    }
    .area{
      margin-bottom: 20px;
      .question-area{
        color: #907660;
        padding: 10px;

        .title{
          font-size: 20px;
          margin-bottom: 10px;
        }
        .question{
          text-align: left;
          font-size: 14px;
        }
      }

    }
    .submit{
      font-size: 20px;
      line-height: 40px;
      width: 100px;
      height: 40px;
      border-radius: 20px;
      background-color: #907660;
      color: #FFE49B;
      margin-bottom: 23px;
      display: inline-block;
    }
  }
}