.lesson-bar-course21{
  padding-top: px2rem(18);
  position: relative;
  width: px2rem(359);
  height: px2rem(140);
  margin: 0 auto px2rem(18) auto;
  display: block;
  .bar-background{
    border-radius: px2rem(10);
    background-color: #FFFFFF;
    //opacity: 0.5;
    position: absolute;
    width: px2rem(359);
    left: 0;
    //z-index: -500;
    height: px2rem(140);
    box-shadow: 0px px2rem(2) px2rem(4) rgba(0, 0, 0, 0.3);
  }
  .column-container{
    //background-color: #FFFFFF;
    //margin: 0 auto 0 auto;
    height: px2rem(140);
    width: px2rem(359);
    position: absolute;
    z-index: 1;
    //border-bottom: 1px solid #efefef;
    background-size: cover;
    .pic-container{
      display: inline-block;
      height: px2rem(140);
      //width: px2rem(100);居中目的
      margin-left: px2rem(12);
      line-height: px2rem(140);
    }
    .touch-range{
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: px2rem(268);
      height: 100%;
    }
  }

  .column-not-view{
    text-align: center;
    color: rgba(255,255,255,0.5);
    padding-top: px2rem(16);
    h1{
      margin-bottom: px2rem(10);
      font-size: px2rem(42);
      line-height: px2rem(59);
    }
    h2{
      font-size: px2rem(16);
      line-height: px2rem(22);
    }
  }

  .bg-number{
    position: relative;
    z-index: 1;
    h1{
      color: #907660;
      color: #FFE498;
      font-size: px2rem(16);
      text-align: center;
      //font-family: thin;
    }
  }

  .column-container-title{
    //margin: px2rem(10) px2rem(16) 0 0;
    position: relative;
    top: px2rem(-25);
    //top: 50%;
    //left: 50%;
    //transform: translate(-70%,-50%);
    //width: px2rem(200);
    //display: inline-block;
    h2{
      color: #907660;
      //height: px2rem(140);
      font-size: px2rem(20);
      text-align: center;
      line-height: px2rem(140);
    }
  }
  .column-container-icon{
    position: absolute;
    bottom:0;
    left: 0;
    //width: px2rem(60);
    height: px2rem(60);
  }

  .column-pic{
    vertical-align: middle;
    height: px2rem(54);
  }
  .column-type{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    //margin-top: px2rem(5);
  }
  .space-pic{
    display: inline-block;
    width: px2rem(77);
    height: px2rem(24);
    margin-top: px2rem(5);
  }
  .free-lesson{
    font-weight: bold;
  }
  .bg-not-see{
    width: 100%;
    height: 100%;
  }
}