.body{
	padding: 12px;
	.header{
		.header_title{
			font-size: 25px;
			font-weight: 600;
			color: #484848;
		}
	}
	.input{
		border-bottom: 1px solid #ededf0;
		padding: 20px 0 12px 0;
	}
}

.foot_btn{
	position: fixed;
	bottom: 0;
	width: 100%;
	>button{
		margin: 12px;
		border-radius: 10px;
		font-size: 16px;
	}
	.yes{
		background: #cccccc;
		color: #ffffff;
	}
	.delete{
		background: #ffffff;
		color: #484848;
		border: 1px solid #ededf0;
	}
}

button::after{
	border: none;
}