.header{
	.header_img{
		width: 100%;
		height: 120px;
		>image{
			width: 100%;
			height: 100%;
			border-radius: 12px;
		}
	}
	.header_text{
		position: absolute;
		top: 0;
		width: 100%;
		.header_text_details{
			margin: 12px;
			position: relative;
			.title{
				font-size: 15px;
				color: #484848;
				font-weight: 600;
				padding: 12px;
				padding-bottom: 0px;
			}
			.price{
				padding: 0 12px;
				font-size: 20px;
				font-weight: 600;
				color: #484848;
			}
			.price_info{
				display: flex;
				align-items: center;
				font-size: 13px;
				color: #484848;
				padding: 0 12px;
				.price_info_list{
					margin-right: 20px;
					font-size: 13px;
					color: #484848;
					opacity: .7;
					>text{
						font-weight: 600;
					}
				}
			}
			.withdraw_btn{
				position: absolute;
				top: 12px;
				right: 12px;
				border-radius: 8px;
				background: #ffffff;
				padding: 3px 20px;
			}
		}
	}
	.features{
		padding: 12px;
		.features_list{
			border-bottom: 1px solid #ededf0;
			.features_title{
				font-size: 20px;
				color: #484848;
				font-weight: 600;
			}
			.features_input{
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding: 8px 0;
				.input{
					display: flex;
					align-items: center;
					font-size: 17px;
					color: #737373;
					.input_info{
						margin-left: 5px;
					}
				}
				.input_icon{
					>image{
						width: 18px;
						height: 18px;
					}
				}
			}
		}
	}
}