<!DOCTYPE html>
<html lang="en">
 <head>
 <meta charset="utf-8">
 <title>达人创作平台</title>

 <script type="text/javascript" src="https://cdn2.picooc.com/web/res/system/static/js/jquery-3.0.0.min.js"></script>
 <script type="text/javascript" src="https://cdn2.picooc.com/web/res/system/static/js/public.js?v=3"></script>
 <script type="text/javascript" src="https://cdn2.picooc.com/web/res/system/static/ckeditorOut/ckeditor.js"></script>
<script type="text/javascript" src="https://cdn2.picooc.com/web/res/system/static/js/qrcode.min.js"></script>
 </head>
 <body>
  <div id="outIndex"></div>
 </body>
</html>
