<div class="page" ng-controller="posterController">
    <div ng-include="'./views/poster/header.html'"></div>
    <div class="page__bd">
        <div style=" font-size:13px; color:#f00;padding:15px;">
            <p>1:第一次使用请先关注下面的二维码</p>
            <p>2:点击下面的“获取海报”按钮，将会发图片消息给你，注意查看公众号信息</p>
            <p>3:如果获取后没有收到图片消息，请尝试进入上面关注的公众号，与之交互一次（如：发送一段文字），再尝试获取</p>
        </div>
        <div class="weui-tab" style="z-index:0;">
            <div class="weui-navbar">
                <a class="weui-navbar__item weui-bar__item--on" href="#tab1">
                    初级海报
                </a>
                <a class="weui-navbar__item" href="#tab2">
                    高级海报
                </a>
            </div>
            <div class="weui-tab__bd">
                <div id="tab1" class="weui-tab__bd-item weui-tab__bd-item--active">
                    <div class="weui-flex">
                        <div class="weui-flex__item">
                            <div style="padding:15px;min-height:300px;">
                                <img style="width:100%;" ng-src="{{tmp.primary.currentTmp.src}}" />
                            </div>
                        </div>
                        <div style="padding-right:15px;padding-top:15px; position:relative; width:120px;">
                            <div style="position:absolute; top:15px;left:0;width:100%; text-align:center;">
                                <input type="button" class="weui-btn weui-btn_mini weui-btn_plain-primary" ng-click="createPosterByTpl(1,tmp.primary.currentTmp.id)" value="获取海报" />
                            </div>
                            <div style="position:absolute; bottom:30px;left:0;width:100%; text-align:center;">
                                <input type="button" ng-click="changeTpl(1)" class="weui-btn weui-btn_mini weui-btn_plain-primary" value="模板切换{{tmp.primary.index+1}}/{{tmp.primary.total}}"
                                />
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab2" class="weui-tab__bd-item">
                    <div class="weui-flex">
                        <div class="weui-flex__item">
                            <div style="padding:15px;">
                                <img style="width:100%;" ng-src="{{tmp.advanced.currentTmp.src}}" />
                            </div>
                        </div>
                        <div style="padding-right:15px;padding-top:15px; position:relative; width:120px;">
                            <div style="position:absolute; top:15px;left:0;width:100%; text-align:center;">
                                <input type="button" class="weui-btn weui-btn_mini weui-btn_plain-primary" ng-click="createPosterByTpl(2,tmp.advanced.currentTmp.id)" value="获取海报" />
                            </div>
                            <div style="position:absolute; bottom:30px;left:0;width:100%; text-align:center;">
                                <input type="button" ng-click="changeTpl(2)" class="weui-btn weui-btn_mini weui-btn_plain-primary" value="模板切换{{tmp.advanced.index+1}}/{{tmp.advanced.total}}"
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page__hd" style=" text-align:center;padding:5px 0px 0px 0px">
        <img style="width:100%;" src="./imgs/hf.jpg" />
    </div>
    <div ng-show="showLoadding" style="position:fixed; top:0; left:0; height: 100%; width: 100%;">
        <div style="height: 100%; width: 100%; display: flex;align-items: center">
            <div class="weui-loadmore">
                <i class="weui-loading"></i>
                <span class="weui-loadmore__tips">正在获取中，请稍等</span>
            </div>
        </div>
    </div>
</div>