/*****************
 * zys 2014/12/24 135item
 *****************/
/*
 * basic css
 */
h3{
	font-weight: 400;
}
h3 small{
	font-weight: 300;
}
h4{
	font-size: 26px;
}
h5{
	font-size: 20px;
}
h6{
	font-size: 16px;
}
em{
	font-style: normal;
}
ul{padding-left: 0;}
ul li{
	list-style: none;
}

.fl{float: left;}
.fr{float: right;}

.display-b{display: block;}
.display-i{display: inline-block;}

.p-r{position: relative;}
.p-a{position: absolute;}

.center{
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}

/*宽度*/
.w100{width: 100%;}
.w91{width: 91%;}



/* 距离 */
.m0{margin:0;}
.mt0{margin-top:0;}.mt10{margin-top: 10px;}.mt20{margin-top: 20px;}.mt30{margin-top: 30px;}.mt40{margin-top: 40px;}.mt50{margin-top: 50px;}.mt60{margin-top: 60px;}.mt100{margin-top: 100px;}.mt200{margin-top: 200px;}
.mr0{margin-right: 0px;}.mr10{margin-right: 10px;}.mr20{margin-right: 20px;}.mr30{margin-right: 30px;}.mr40{margin-right: 40px;}.mr50{margin-right: 50px;}
.mb0{margin-bottom: 0;}.mb10{margin-bottom: 10px;}.mb20{margin-bottom: 20px;}.mb30{margin-bottom: 30px;}.mb40{margin-bottom: 40px;}.mb50{margin-bottom: 50px;}
.ml0{margin-left: 0;}.ml10{margin-left: 10px;}.ml20{margin-left: 20px;}.ml30{margin-left: 30px;}.ml40{margin-left: 40px;}.ml50{margin-left: 50px;}

.p0{padding: 0;}
.pt0{padding-top: 0;}.pt10{padding-top: 10px;}.pt20{padding-top: 20px;}.pt30{padding-top: 30px;}.pt40{padding-top: 40px;}.pt50{padding-top: 50px;}
.pr0{padding-right: 0;}.pr10{padding-right: 10px;}.pr20{padding-right: 20px;}.pr30{padding-right: 30px;}.pr40{padding-right: 40px;}.pr50{padding-right: 50px;}
.pb0{padding-bottom: 0;}.pb10{padding-bottom: 10px;}.pb20{padding-bottom: 20px;}.pb30{padding-bottom: 30px;}.pb40{padding-bottom: 40px;}.pb50{padding-bottom: 50px;}
.pl0{padding-left: 0;}.pl10{padding-left: 10px;}.pl20{padding-left: 20px;}.pl30{padding-left: 30px;}.pl40{padding-left: 40px;}.pl50{padding-left: 50px;}

/* 无系列 */
.nobt{border-top: none;}
.nobb{border-bottom: none;}
.nomb{margin-bottom: 0;}

/* 边框 */
.line1{border: 1px solid #4c4342;}
.btline1{border-top: 1px solid #d8d8d8;}.brline1{border-right: 1px solid #d8d8d8;}.bbline1{border-bottom: 1px solid #d8d8d8;}.blline1{border-left: 1px solid #d8d8d8;}

.dot1{border-bottom: 1px dotted #d3d3d3;}

.kuang{width: 100%;height: 100px;border: 1px solid #dbdbdb;border-radius: 6px;padding: 10px;color: #9aa2ae;}

/* 文本 */
.text-l{text-align: left;}
.text-r{text-align: right;}
.text-c{text-align: center;}

.line-height16{line-height: 16px;}
.line-height60{line-height: 60px;}

.f10{font-size: 10px;}
.f12{font-size: 12px;}
.f14{font-size: 14px;}
.f16{font-size: 16px;}
.f18{font-size: 18px;}
.f24{font-size: 24px;}
.f30{font-size: 30px;}
.f40{font-size: 40px;}

.h335{
	height: 335px;
}
.nav .dropdown,.nav .dropdown .dropdown-menu,.dropdown-menu{margin-top:0px;margin-bottom: 0px;}
/* 表格 */
.table1,
.table4{
	width: 92%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}
.table1,
.table2,
.table3{
	width: 100%;
}
.table1 tr{
	height: 47px;
}
.table1 td{
	padding: 15px 0;
}
.table1 .th{
	font-weight: bold;
	width: 18%;
}
.table1 .th1{
	font-weight: bold;
	width: 8%;
}
.table1 tr p{
	line-height: 24px;
}
.table2 tr td{
	height: 24px;
}
.table2 .th{
	width: 15%;
}
.table2 .th2{
	width: 80%;
}
.table2 .th3{
	text-align: right;
}

.table3 td{
	padding: 5px 0;
}

.table4 td{
	padding: 2px 0;
}

/* 颜色 */
.c-green{color: #6bbc6e;}
.c-orange{color: #f5a845;}
.c-blue{color: #2a71b9;}
.c-green{color: #6bbc6e;}
.c-grey{color: #747474;}
.c-fff{color: #fff;}

.c-bg1{background: #f5a845;}/*index panels item1*/
.c-bg2{background: #45a6e4;}/*index panels item2*/
.c-bg3{background: #e96547;}/*index panels item3*/
.c-bg4{background: #a2c056;}/*index panels item4*/
.c-bg5{background: #ffd845;}/*index panels item5*/
.progress-green-bg{background: #6bbc6e;}
.progress-green{background: #cfe8cf;}
.progress-blue-bg{background: #2a71b9;}
.progress-blue{background: #cfe2ee;}


/* 链接 */
.panel-title a:hover{text-decoration: none;}

a.grey1{color: #8e8e8e;text-decoration: underline;}
a.login{color: #747474;}
a.login:hover{color: #009fe3;}



body{background-image:url(http://img.wx135.com/135editor/bg.jpg);color:#323336;font-size:14px;}
header{height:80px;background:#FFF;box-shadow: 0 0 10px 0 #d3d0cb;margin-bottom: 3px;}
#maincontent .container{background:#f8f5ef;position:relative;color:#323336;padding:10px 20px;} /*box-shadow: 0 5px 10px 2px #d3d0cb;*/
#maincontent{background: transparent;padding:0 0;}
.navbar-nav > li > a {line-height:60px;}
footer{text-align:center;}
.footer-top,.footer-bottom{background: transparent;border: 0 none;padding: 0 0;}
.footer-top .container,.footer-bottom .container{background:#f8f5ef;}
.footer-top .container{padding:30px 30px;}
/*
|--------------------------------------------------------------------------
| UItoTop jQuery Plugin 1.2
| http://www.mattvarone.com/web-design/uitotop-jquery-plugin/
|--------------------------------------------------------------------------
*/
#toTop {display:none;text-decoration:none;position:fixed;
	bottom:10px;right:10px;overflow:hidden;
	width:51px;	height:51px;
	border:none;text-indent:100%;
	background:url(../css/ui.totop.png) no-repeat left top;
}
#toTopHover {
	background:url(../css/ui.totop.png) no-repeat left -51px;
	width:51px;	height:51px;
	display:block;overflow:hidden;
	float:left;	opacity: 0;	-moz-opacity: 0;filter:alpha(opacity=0);
}
#toTop:active, #toTop:focus {outline:none;}
/********
* end UItoTop
*/
 /*
 * header *
 */
.head{
	height: 120px;
	background: #2c2c2c;
}
.logo{
	width: 116px;
	left:50%;
	margin-left: -58px;
}
.login ul{
	width: 151px;
}
.login ul li{
	float: left;
	width: 40px;
}
.conBox{
	width: 100%;
}
media="all"
.panels{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	position: absolute;
	background: #888;
	width: auto;
}
.panel01{
	display: block;
	float: left;
    width: 16.66%;
    color: #fff;
    padding: 80px 60px 90px;
}
@media (min-width: 992px) {
  .panel01 {
    width: 20%;
  }
}
@media (max-width: 1140px) {
  .panel01 {
    width: 33.33%;
  }
}
@media (max-width: 760px) {
  .panel01 {
    width: 50%;
  }
}
@media (max-width: 480px) {
  .panel01 {
    width: 100%;
  }
}

/*135编辑器*/
.bg{
	max-width: 100%;
	height: 100%;
	z-index:1;
}
.box{
	width: 1060px;
	margin:0 auto;
}
.logo2{}
.editor-nav > li{
	float: left;
	list-style: none;
	font-size: 14px;
}
.nav > li a{color:#3a3332;}
.nav>li>a{
	display:block;
	
	padding:10px 20px;	
}
.nav>li>a:hover, .nav>li>a:focus{
	background-color: filter:alpha(opacity:30);opacity:0.3;
}
.w0{
	width: 1060px;
}
.w1{
	float: left;
	width: 80px;
}
.w2{
	width: 324px;
}
.w3{
	width: 650px;
}
.h1{
	height: 530px;
}
.n1{
	height: 65px;
	background: #3a3332;
	color:#dad9d8;text-align:center;
	font-size:20px;font-weight:bold;
	line-height:65px;
}

.n2{
	height: 65px;
	background: RGBA(218,98,71,0.95);
	margin:0 2px;
	color:#dad9d8;
	text-align:center;
	font-size:20px;font-weight:bold;
	line-height:65px;
}
.n2 a,.n2 a:hover,.n2 a:focus{color:#dad9d8;}

.n1-1 {height:503px;background: RGBA(0,0,0,0.3);}
.n1-1 li{
	width: 80px;
	height: 50px;
	color: #dad9d8;
	text-align: center;
}
.n1-1 li a{
	display:block;line-height: 50px;color:#dad9d8;text-decoration: none;font-size: 14px;
}
.n1-1 li.active,.n1-1 li a:hover{
	background: #4c4342;text-decoration: none;
}
.item{
	width: 320px;
	height: 503px;
	overflow-y:auto;
    overflow-x:hidden;
    background: RGBA(255,255,255,0.3);/*#FFF*/
	/*box-shadow:0 0 1px 1px rgba(255,255,255,0.45);*/
    margin: 0 2px;
	font-size:14px;
	color:#3a3332;
}
/*
.itembg2{
	background: RGBA(157,135,132,0.9);
}*/
.item img{max-width: 100%;}
.item li{
	padding: 10px 15px;
	cursor:pointer;
}

.item li:hover{
	background: #fefefe;
}

.editor1{
	width: 658px;
	height: 65px;
	background: rgba(245,245,245,0.6);
	/*background: url(http://img.wx135.com/135editor/tpl/n3.png) no-repeat;*/
}
.editor1{
	padding-left: 90px;
	padding-top: 0px;
}
.ecolor li{
	float: left;
	width: 16px;
	height: 16px;
	margin-top: 10px;
	margin-right: 10px;
}
.editor2{
	width: 658px;
	height: 568px;
	/*background: RGBA(255,255,255,0.3);*/
	padding-top: 0px;
	box-sizing: content-box;
}
.editorBox{
	width: 500px;
	background: #fff;
	margin:0 auto;
}
.btnline{
	margin-top:5px;
	margin-left: 120px;
}
.btn1,.btn2{
	display: inline-block;
	width: 80px;
	height: 36px;
	line-height: 36px;
	text-align: center;
}
.btn1{
	width: 80px;
	height: 36px;}
.btn2{
	color:#534740; 
}
.btn2:hover{background:rgba(245,245,245,0.5);border-color:#fff;color:#333;}
.btnbg1{
	background: #534740;
	color: #fff;
}
.editorslide{
	position: absolute;
	bottom:30%;
	right: 44px;
}
.editorslide .btn{
	width: 72px;height: 32px; line-height: 32px;color:#FFF;font-size: 16px;border:0 none;
	box-shadow: 0 0 0px 1px rgba(188,176,167,0.8);margin-top: 2px;
}
.editorslide .btn i{font-size: 20px;}
.editorslide .btn-default{
	background:rgba(58,51,50,0.4);
}
.editorslide .btn-default:hover{background:rgba(58,51,50,0.7);}
.editorslide li{
	width: 32px;
	height: 32px;
	margin-bottom: 3px;
}
.change{
	height: 36px;
	line-height: 36px;
	text-align: right;
	float: right;
}
.change a{
	color: #fff;
	text-decoration: underline;
}
.links a,.ifo,.links{
	color: #fff;
}
.ifo{
	height: 36px;
	line-height: 36px;
}

.ecolorbg1{
	background: #e84e0f;
}
.ecolorbg2{
	background: #1abbc5;
}
.ecolorbg3{
	background: #009fe3;
}     
.ecolorbg4{
	background: #f4215c;
}
.ecolorbg5{
	background: #ffd602;
}
.ecolorbg6{
	background: #f5a100;
}
.ecolorbg7{
	background: #9abc36;
}
.ecolorbg8{
	background: #e84e0f;
}









