<div ng-controller="exerciseReadyController">
    <div class="page"  >
        <div ng-show="loading==true" class="ready" style="height: 100%; display: flex; align-items: center;">
            <div class="weui-loadmore">
                <i class="weui-loading"></i>
                <span class="weui-loadmore__tips">准备开始</span>
            </div>
        </div>
        <div class="page__bd" >
            <div ng-show="loading==false" class="testting" ng-controller="exerciseTestingController">
                <div loading="" ng-model="isLoading"></div>
                <div>
                    <div class="testing-header">
                        <img style="width:100%;" src="./imgs/gardenia/testing_head.png">
                        <div class="testing-header-wrap">
                            <div class="testing-header-wrap__counter">
                                <span style="margin-left: 1rem;margin-bottom:.5rem;">{{questionData.count}}</span>
                            </div>
                            <div class="testing-header-wrap__header">
                                <div class="img">
                                    <img  src="{{userInfo.headImgUrl}}">
                                </div>
                            </div>
                            <div class="testing-header-wrap__score">
                                <div class="score">
                                    <span style="width: 8rem;margin-top:.2rem;">{{score}}</span>
                                </div>
                            </div>
                            <div class="testing-header-wrap__num">
                                <div class="num">
                                    <span style="margin-bottom:0.2rem;font-size:0.8rem;">{{index+'/'+total}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="weui-cells__title ">{{questionData.title}}</div>
                <div class="weui-cells">
                    <div class="weui-cell weui-cell_access question" ng-repeat="m in questionData.question">
                        <div ng-class="{true:'errorAnswer',false:''}[icon.selected && icon.right==false && questionData.rightIndex==$index ]" class="weui-cell__bd" ng-click="answer(m.select,m.index,m.id,m.score)">
                            <span style="vertical-align: middle">{{m.title|limitTo:m.title.length-2}}</span>
                        </div>
                        <div class="weui-cell__ft" style="font-size: 0">
                            <i ng-show="icon.selected && icon.right==true && icon.selectedIndex==$index"  class="weui-icon-success "></i>
                            <i ng-show="icon.selected && icon.right==false && icon.selectedIndex==$index"  class="weui-icon-warn "></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
