<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <title>网站管理系统-计算机视觉与三维检测工作室</title>
    <link rel="stylesheet" type="text/css" href="{$Think.server.script_name}/../admin/css/css.css">
    <link rel="stylesheet" type="text/css" href="{$Think.server.script_name}/../admin/css/mainpage.css">
    <style>
        table td{
            text-align: left;
            padding: 5px;
        }
        table td a{
            margin-left: 20px;
            color: red;
        }
    </style>
</head>
<body>
<div class="head">
    <div class="navigation">
        <img src="{$Think.server.script_name}/../admin/img/logo.png" border="0" class="logo" style="height: 40px;width: 450px;"/>
        <a href="{$Think.server.script_name}/focusAdmin/login/logout" style="color: #fff;font-size: 14px;position: absolute;top:0;right:10px;top:20px;">退出登录</a>
        <div class="clear"></div>
    </div>
</div>
<div class="adminLeft-body adminleft" style="">
    <ul id="treeview" class="ztree" style="-webkit-user-select:none;-moz-user-select:none;-o-user-select:none;user-select:none;">
        <li id="treeview_1" class="level0" tabindex="0" hidefocus="true" treenode="">
            <span id="1" class="openClose button level0 switch roots_open" title="" treenode_switch=""></span>
            <a id="treeview_1_a" class="level0" treenode_a="" onclick="" href="{$Think.server.script_name}/focusAdmin/index/index" style="" >
                <span id="treeview_1_ico" class="button ico_open" title="" treenode_ico="" style=""></span>
                <span id="treeview_1_span">网站基本信息</span>
            </a>
            <ul id="treeview_1_ul" class="level0 line" style="">
                <li id="treeview_10" class="level1" tabindex="0" hidefocus="true" treenode="">
                    <span id="treeview_10_switch" class="button level1 switch center_docu" title="" treenode_switch=""></span>
                    <a id="treeview_10_a" class="level1" treenode_a="" onclick="" href="{$Think.server.script_name}/focusAdmin/index/index"  style="" >
                        <span id="treeview_10_ico" class="button ico_docu" title="" treenode_ico="" style=""></span>
                        <span id="treeview_10_span">管理员列表</span>
                    </a>
                </li>
                <li id="treeview_10" class="level1" tabindex="0" hidefocus="true" treenode="">
                    <span id="treeview_10_switch" class="button level1 switch center_docu" title="" treenode_switch=""></span>
                    <a id="treeview_10_a" class="level1" treenode_a="" onclick="" href="{$Think.server.script_name}/focusAdmin/index/my"  style="" >
                        <span id="treeview_10_ico" class="button ico_docu" title="" treenode_ico="" style=""></span>
                        <span id="treeview_10_span">个人中心</span>
                    </a>
                </li>
                <li id="treeview_10" class="level1" tabindex="0" hidefocus="true" treenode="">
                    <span id="treeview_10_switch" class="button level1 switch center_docu" title="" treenode_switch=""></span>
                    <a id="treeview_10_a" class="level1" treenode_a="" onclick="" href="{$Think.server.script_name}/focusAdmin/index/banner"  style="" >
                        <span id="treeview_10_ico" class="button ico_docu" title="" treenode_ico="" style=""></span>
                        <span id="treeview_10_span">更新banner</span>
                    </a>
                </li>
            </ul>
        </li>
        <li id="treeview_2" class="level0" tabindex="0" hidefocus="true" treenode="">
            <span id="2" class="openClose button level0 switch roots_open" title="" treenode_switch=""></span>
            <a id="treeview_2_a" class="level0" treenode_a="" onclick="" href="{$Think.server.script_name}/focusAdmin/about/index"  style="" title="关于我们">
                <span id="treeview_2_ico" class="button ico_open" title="" treenode_ico="" style=""></span>
                <span id="treeview_2_span">关于我们</span>
            </a>
            <ul id="treeview_2_ul" class="level0 line" style="">
                <li id="treeview_13" class="level1" tabindex="0" hidefocus="true" treenode="">
                    <span id="treeview_13_switch" class="button level1 switch center_docu" title="" treenode_switch=""></span>
                    <a id="treeview_13_a" class="level1" treenode_a="" onclick="" href="{$Think.server.script_name}/focusAdmin/about/index"  style="" >
                        <span id="treeview_13_ico" class="button ico_docu" title="" treenode_ico="" style=""></span>
                        <span id="treeview_13_span">工作室简介</span>
                    </a>
                </li>
                <li id="treeview_14" class="levell" tabindex="0" hidefocus="true" treenode="">
                    <span id="treeview_14_switch" class="button level1 switch center_docu" title="" treenode_switch=""></span>
                    <a id="treeview_14_a" class="level1" treenode_a="" onclick="" href="{$Think.server.script_name}/focusAdmin/about/culture"  style="" >
                        <span id="treeview_14_ico" class="button ico_docu" title="" treenode_ico="" style=""></span>
                        <span id="treeview_14_span">工作室文化</span>
                    </a>
                </li>
                <li id="treeview_15" class="level1" tabindex="0" hidefocus="true" treenode="">
                    <span id="treeview_15_switch" class="button level1 switch center_docu" title="" treenode_switch=""></span>
                    <a id="treeview_15_a" class="level1" treenode_a="" onclick="" href="{$Think.server.script_name}/focusAdmin/about/honor"  style="" >
                        <span id="treeview_15_ico" class="button ico_docu" title="" treenode_ico="" style=""></span>
                        <span id="treeview_15_span">荣誉资质</span>
                    </a>
                </li>
            </ul>
        </li>
        <li id="treeview_8" class="level0" tabindex="0" hidefocus="true" treenode="">
            <span id="8" class="openClose button level0 switch roots_open" title="" treenode_switch=""></span>
            <a id="treeview_8_a" class="level0" treenode_a="" onclick="" href="{$Think.server.script_name}/focusAdmin/news/index"  style="" >
                <span id="treeview_8_ico" class="button ico_open" title="" treenode_ico="" style=""></span>
                <span id="treeview_8_span">新闻资讯</span>
            </a>
            <ul id="treeview_8_ul" class="level0 line" >
                <li id="treeview_47" class="level1" tabindex="0" hidefocus="true" treenode="">
                    <span id="treeview_47_switch" class="button level1 switch center_docu" title="" treenode_switch=""></span>
                    <a id="treeview_47_a" class="level1" treenode_a="" onclick="" href="{$Think.server.script_name}/focusAdmin/news/index"  style="">
                        <span id="treeview_47_ico" class="button ico_docu" title="" treenode_ico="" style=""></span>
                        <span id="treeview_47_span">新闻列表</span>
                    </a>
                </li>
            </ul>
        </li>
        <li id="treeview_3" class="level0" tabindex="0" hidefocus="true" treenode="">
            <span id="3" class="openClose button level0 switch roots_open" title="" treenode_switch=""></span>
            <a id="treeview_3_a" class="level0" treenode_a="" onclick="" href="{$Think.server.script_name}/focusAdmin/teacher/index"  style="" >
                <span id="treeview_3_ico" class="button ico_open" title="" treenode_ico="" style=""></span>
                <span id="treeview_3_span">师资力量</span>
            </a>
            <ul id="treeview_3_ul" class="level0 line" style="">
                <li id="treeview_17" class="level1" tabindex="0" hidefocus="true" treenode="">
                    <span id="treeview_17_switch" class="button level1 switch center_docu" title="" treenode_switch=""></span>
                    <a id="treeview_17_a" class="level1" treenode_a="" onclick="" href="{$Think.server.script_name}/focusAdmin/teacher/index"  style="">
                        <span id="treeview_17_ico" class="button ico_docu" title="" treenode_ico="" style=""></span>
                        <span id="treeview_17_span">老师列表</span>
                    </a>
                </li>
                <li id="treeview_18" class="level1" tabindex="0" hidefocus="true" treenode="">
                    <span id="treeview_18_switch" class="button level1 switch center_docu" title="" treenode_switch=""></span>
                    <a id="treeview_18_a" class="level1" treenode_a="" onclick="" href="{$Think.server.script_name}/focusAdmin/teacher/sort"  style="" >
                        <span id="treeview_18_ico" class="button ico_docu" title="" treenode_ico="" style=""></span>
                        <span id="treeview_18_span">老师分类</span>
                    </a>
                </li>
            </ul>
        </li>
        <li id="treeview_4" class="level0" tabindex="0" hidefocus="true" treenode="">
            <span id="4" class="openClose button level0 switch roots_open" title="" treenode_switch=""></span>
            <a id="treeview_4_a" class="level0" treenode_a="" onclick="" href="{$Think.server.script_name}/focusAdmin/student/index"  style="" >
                <span id="treeview_4_ico" class="button ico_open" title="" treenode_ico="" style=""></span>
                <span id="treeview_4_span">学生团队</span>
            </a>
            <ul id="treeview_4_ul" class="level0 line" style="">
                <li id="treeview_23" class="level1" tabindex="0" hidefocus="true" treenode="">
                    <span id="treeview_23_switch" class="button level1 switch center_docu" title="" treenode_switch=""></span>
                    <a id="treeview_23_a" class="level1" treenode_a="" onclick="" href="{$Think.server.script_name}/focusAdmin/student/index"  style="">
                        <span id="treeview_23_ico" class="button ico_docu" title="" treenode_ico="" style=""></span>
                        <span id="treeview_23_span">学生列表</span>
                    </a>
                </li>
                <li id="treeview_24" class="level1" tabindex="0" hidefocus="true" treenode="">
                    <span id="treeview_24_switch" class="button level1 switch center_docu" title="" treenode_switch=""></span>
                    <a id="treeview_24_a" class="level1" treenode_a="" onclick="" href="{$Think.server.script_name}/focusAdmin/student/sort"  style="" >
                        <span id="treeview_24_ico" class="button ico_docu" title="" treenode_ico="" style=""></span>
                        <span id="treeview_24_span">学生团队</span>
                    </a>
                </li>
            </ul>
        </li>
        <li id="treeview_5" class="level0" tabindex="0" hidefocus="true" treenode="">
            <span id="5" class="openClose button level0 switch roots_open" title="" treenode_switch=""></span>
            <a id="treeview_5_a" class="level0" treenode_a="" onclick="" href="{$Think.server.script_name}/focusAdmin/equipment/index"  style="" >
                <span id="treeview_5_ico" class="button ico_open" title="" treenode_ico="" style=""></span>
                <span id="treeview_5_span">设备展示</span>
            </a>
            <ul id="treeview_5_ul" class="level0 line" style="">
                <li id="treeview_29" class="level1" tabindex="0" hidefocus="true" treenode="">
                    <span id="treeview_29_switch" class="button level1 switch center_docu" title="" treenode_switch=""></span>
                    <a id="treeview_29_a" class="level1" treenode_a="" onclick="" href="{$Think.server.script_name}/focusAdmin/equipment/index"  style="">
                        <span id="treeview_29_ico" class="button ico_docu" title="" treenode_ico="" style=""></span>
                        <span id="treeview_29_span">设备列表</span>
                    </a>
                </li>
                <li id="treeview_30" class="level1" tabindex="0" hidefocus="true" treenode="">
                    <span id="treeview_30_switch" class="button level1 switch center_docu" title="" treenode_switch=""></span>
                    <a id="treeview_30_a" class="level1" treenode_a="" onclick="" href="{$Think.server.script_name}/focusAdmin/equipment/sort"  style="" >
                        <span id="treeview_30_ico" class="button ico_docu" title="" treenode_ico="" style=""></span>
                        <span id="treeview_30_span">设备分类</span>
                    </a>
                </li>
            </ul>
        </li>
        <li id="treeview_6" class="level0" tabindex="0" hidefocus="true" treenode="">
            <span id="6" class="openClose button level0 switch roots_open" title="" treenode_switch=""></span>
            <a id="treeview_6_a" class="level0" treenode_a="" onclick="" href="{$Think.server.script_name}/focusAdmin/cases/index"  style="" >
                <span id="treeview_6_ico" class="button ico_open" title="" treenode_ico="" style=""></span>
                <span id="treeview_6_span">学生作品</span>
            </a>
            <ul id="treeview_6_ul" class="level0 line" style="">
                <li id="treeview_35" class="level1" tabindex="0" hidefocus="true" treenode="">
                    <span id="treeview_35_switch" class="button level1 switch center_docu" title="" treenode_switch=""></span>
                    <a id="treeview_35_a" class="level1" treenode_a="" onclick="" href="{$Think.server.script_name}/focusAdmin/cases/index"  style="">
                        <span id="treeview_35_ico" class="button ico_docu" title="" treenode_ico="" style=""></span>
                        <span id="treeview_35_span">学生作品列表</span>
                    </a>
                </li>
                <li id="treeview_36" class="level1" tabindex="0" hidefocus="true" treenode="">
                    <span id="treeview_36_switch" class="button level1 switch center_docu" title="" treenode_switch=""></span>
                    <a id="treeview_36_a" class="level1" treenode_a="" onclick="" href="{$Think.server.script_name}/focusAdmin/cases/sort"  style="" >
                        <span id="treeview_36_ico" class="button ico_docu" title="" treenode_ico="" style=""></span>
                        <span id="treeview_36_span">学生作品分类</span>
                    </a>
                </li>
            </ul>
        </li>
        <li id="treeview_7" class="level0" tabindex="0" hidefocus="true" treenode="">
            <span id="7" class="openClose button level0 switch roots_open" title="" treenode_switch=""></span>
            <a id="treeview_7_a" class="level0" treenode_a="" onclick="" href="{$Think.server.script_name}/focusAdmin/technology/index"  style="" >
                <span id="treeview_7_ico" class="button ico_open" title="" treenode_ico="" style=""></span>
                <span id="treeview_7_span">教学资源</span>
            </a>
            <ul id="treeview_7_ul" class="level0 line" style="">
                <li id="treeview_41" class="level1" tabindex="0" hidefocus="true" treenode="">
                    <span id="treeview_41_switch" class="button level1 switch center_docu" title="" treenode_switch=""></span>
                    <a id="treeview_41_a" class="level1" treenode_a="" onclick="" href="{$Think.server.script_name}/focusAdmin/technology/index"  style="">
                        <span id="treeview_41_ico" class="button ico_docu" title="" treenode_ico="" style=""></span>
                        <span id="treeview_41_span">教学资源列表</span>
                    </a>
                </li>
                <li id="treeview_42" class="level1" tabindex="0" hidefocus="true" treenode="">
                    <span id="treeview_42_switch" class="button level1 switch center_docu" title="" treenode_switch=""></span>
                    <a id="treeview_42_a" class="level1" treenode_a="" onclick="" href="{$Think.server.script_name}/focusAdmin/technology/sort"  style="" >
                        <span id="treeview_42_ico" class="button ico_docu" title="" treenode_ico="" style=""></span>
                        <span id="treeview_42_span">教学资源分类</span>
                    </a>
                </li>
            </ul>
        </li>
        <li id="treeview_9" class="level0" tabindex="0" hidefocus="true" treenode="">
            <span id="9" class="openClose button level0 switch roots_open" title="" treenode_switch=""></span>
            <a id="treeview_9_a" class="level0" treenode_a="" onclick="" href="{$Think.server.script_name}/focusAdmin/online/index"  style="" >
                <span id="treeview_9_ico" class="button ico_open" title="" treenode_ico="" style=""></span>
                <span id="treeview_9_span">在线留言</span>
            </a>
            <ul id="treeview_9_ul" class="level0 line">
                <li id="treeview_50" class="level1" tabindex="0" hidefocus="true" treenode="">
                    <span id="treeview_50_switch" class="button level1 switch center_docu" title="" treenode_switch=""></span>
                    <a id="treeview_50_a" class="level1" treenode_a="" onclick="" href="{$Think.server.script_name}/focusAdmin/online/index"  style="">
                        <span id="treeview_50_ico" class="button ico_docu" title="" treenode_ico="" style=""></span>
                        <span id="treeview_50_span">在线留言列表</span>
                    </a>
                </li>
            </ul>
        </li>
        <li id="treeview_10" class="level0" tabindex="0" hidefocus="true" treenode="">
            <span id="10" class="openClose button level0 switch roots_open" title="" treenode_switch=""></span>
            <a id="treeview_10_a" class="level0" treenode_a="" onclick="" href="{$Think.server.script_name}/focusAdmin/contact/index"  style="" title="联系我们">
                <span id="treeview_10_ico" class="button ico_open" title="" treenode_ico="" style=""></span>
                <span id="treeview_10_span">联系我们</span>
            </a>
            <ul id="treeview_10_ul" class="level0 line">
                <li id="treeview_51" class="level1" tabindex="0" hidefocus="true" treenode="">
                    <span id="treeview_52_switch" class="button level1 switch center_docu" title="" treenode_switch=""></span>
                    <a id="treeview_52_a" class="level1" treenode_a="" onclick="" href="{$Think.server.script_name}/focusAdmin/contact/index"  style="" title="联系方式">
                        <span id="treeview_52_ico" class="button ico_docu" title="" treenode_ico="" style=""></span>
                        <span id="treeview_52_span">联系方式</span>
                    </a>
                </li>
                <li id="treeview_52" class="level1" tabindex="0" hidefocus="true" treenode="">
                    <span id="treeview_52_switch" class="button level1 switch center_docu" title="" treenode_switch=""></span>
                    <a id="treeview_52_a" class="level1" treenode_a="" onclick="" href="{$Think.server.script_name}/focusAdmin/contact/map"  style="" title="我们位置">
                        <span id="treeview_52_ico" class="button ico_docu" title="" treenode_ico="" style=""></span>
                        <span id="treeview_52_span">修改地图</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>
<div class="adminRight-body" style="text-align: left;">
    <form method="post" action="{$Think.server.script_name}/focusAdmin/news/post_modi">
    <h5>新闻资讯 -- 修改新闻</h5>
        <input type="hidden" name="id" value="{$info.id}">
     <input type="text" value="{$info.title}" name="title" style="padding: 5px;width: 300px;margin-top: 10px;">
        <br/>
    <textarea style="clear:both;margin-top:10px;width: 800px;height: 400px;padding: 5px;" name="content">
        {$info.content}
    </textarea>
    <br/>
    <input type="submit" value="提交" style="clear:both;width: 200px;padding: 5px 0;margin-top: 10px;">
    </form>
</div>
<script src="{$Think.server.script_name}/../pc/js/jquery-3.2.0.min.js"></script>
<script type="text/javascript">
    $(".openClose").click(function(){
        if($(this).hasClass("roots_open")){
            $(this).removeClass("roots_open").addClass("roots_close");
            var a=this.id-1;
            $("ul .line").eq(a).css("display","none");
        }else{
            $(this).removeClass("roots_close").addClass("roots_open");
            var a=this.id-1;
            $("ul .line").eq(a).css("display","block");
        }
    });
</script>
</body>
</html>