<div class="page" ng-controller="storeController">
    <div loading="" ng-model="isLoading"></div>
    <div class="page__hd" style="padding:0;">
        <img ng-click="detail()" src="../items/imgs/book/hot.jpg" style="width:100%;" />
    </div>
    <div class="page__bd" >
        <a href="https://shop13294926.wxrrd.com/feature/10118467" class="weui-cells weui-cell_access" >
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <img style="width:32px;" src="../items/imgs/jjzh.jpg" />
                </div>
                <div class="weui-cell__bd">好书推荐</div>
                <div class="weui-cell__ft">更多</div>
            </div>
        </a>
        <div class="weui-row">
            <div class="weui-col-50" ng-repeat="info in productInfos" style="margin-top:10px; ">
                <div style="background:#fff;">
                    <a href="{{info.linkUrl}}" >
                        <div style="padding:5px">
                            <img style="width:100%;" ng-src="{{info.productImgUrl}}" src="../items/imgs/book/bac.jpg" />
                        </div>
                        <div class="goods-info" style="">
                            <p class="goods-title">{{info.productName}}</p>
                            <p class="goods-price">{{info.price|currency:'￥'}}</p>
                            <p class="goods-sale">销量：1376件 </p>
                            <i class="goods-buy fa fa-shopping-cart"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="page__ft">

    </div>
</div>