.news{
	background-color: #ffa200;
	color: #fff;
	padding: 4px 10px;
}
.news .newIcon{
	width: 22px;
    float: left;
    vertical-align: top;
    margin-top: 2px;
}
.news p{
	font-size: 13px;
}
.banner img{
	width: 100%;
	display: block;
}
.main{
	margin-bottom: 60px;
}
.realtimeInfor{
	background-color: #eff2f7;
}
.realtimeInfor .p1{
	color: #ffa200;    font-weight: bold;
}
.realtimeInfor .p2{
	color: #617084; line-height: 18px;
}
.weui-row {
	margin-top: 4px; line-height: 22px;
}
[class*="weui-col-"] {
	border: none;
	/*height: 50px;
	line-height: 50px;*/
	text-align: center;
	/*display: inline;*/
}
.realtimeInfor .borderLeft{
	border-left: 1px solid #d3dce6;
}
.realtimeInfor .checkSear{
	margin: 10px 12px;
}
.realtimeInfor .checkSear .search{
	border-radius: 4px;
    padding: 4px 8px;
    background-color: #fff;
    width: 76%;
    float: left;
    height: 26px;
    line-height: 26px;
}
.realtimeInfor .checkSear .search img{
	vertical-align: middle;
	width: 8%;
	margin-top: -2px;
}
.realtimeInfor .checkSear .search input{
	border: none;
    line-height: 24px;
    width: 84%;
    padding-left: 4px;
    -webkit-appearance: none; font-size: 14px;
}
.realtimeInfor .checkSear .search input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { 
	color: #fedd8e; 
} 
.realtimeInfor .checkSear .search input:-moz-placeholder, textarea:-moz-placeholder { 
	color: #fedd8e; 
} 
.realtimeInfor .checkSear .search input::-moz-placeholder, textarea::-moz-placeholder { 
	color: #fedd8e; 
} 
.realtimeInfor .checkSear .search input::-ms-input-placeholder, textarea:-ms-input-placeholder { 
	color: #fedd8e; 
}
.realtimeInfor .checkSear .search input[type="search"]::-webkit-search-cancel-button{
    display: none;
}
.realtimeInfor .checkSear .weui-btn{
	width: 15%;
	float: left;
	position: relative;
    display: block;
    padding: 4px 0;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    height: 34px;
    line-height: 26px;
    border-radius: 5px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    overflow: hidden;
}
.realtimeInfor .checkSear .weui-btn_primary{
	margin: 0 0 0 3%;
}
.activity{
	margin: 12px;
    border-radius: 6px;
    background-color: #fecc56;
    height: 76px;
    text-align: center;
    position: relative;
}
.activity .countdown {
	width: 87%;
    height: 68px;
    position: absolute;
    top: 8px;
    left: 10px;
    text-align: center;  
}
.activity .countdown .p1{
	color: #fff;
	position: relative;
	font-size: 18px;
	line-height: 28px;
}
.activity .introduced{
	width: 18px;
    position: absolute;
    color: #fff;
    background-color: #ffa200;
    font-size: 12px;
    padding: 4px;
    border-radius: 4px;
    top: 6px;
    right: 8px;
    line-height: 14px;
}
#timer{
	color: #ff5858;
	font-size: 18px;
	line-height: 28px;
}
#timer .timain{
	color: #fff;
	padding: 0 6px;
}
#timer.lh58{ line-height: 58px;}
.main .weui-btn_primary{
	background-color: #20a0ff;
	margin: 20px 16px;
	/*display: none;*/
}
.main .weui-btn_primary:active{
	background-color: #20a0ff;
	color: #fff;
}
.main .inforTab .weui-navbar{
	border-top: 1px solid #d3dce6;
	border-bottom: 1px solid #d3dce6;
	z-index: 0;
}
.main .inforTab .placeholder{
	margin: 6px 0 10px 5%;
    padding: 0 10px;
    background-color: #f0f0f0;
    text-align: center;
    color: #617084;
    border-radius: 4px;
    width: 36.5%;
    float: left; position: relative;
}
.main .inforTab .placeholder.bgf7ba2a{ background: #f7ba2a; color: #fff;}
.main .inforTab .placeholder .top{ position: absolute; left: 10px;
    top: 10px;
    width: 44px; line-height: 20px; font-size: .85rem;
    height: 26px; color: #fff;}
.main .weui-btn_primary{
	background-color: #20a0ff;
	margin: 0 12px 12px;
}
.main .inforTab .weui-btn_primary{
	background-color: #20a0ff;
	margin: 4% 5%;
}
.main .inforTab .placeholder img{
	display: block;
	width: 100%;
	margin-top: 10px;
	height: 90px;
}
.main .inforTab .placeholder .playIn{
	margin: 6px 0; 
}
.main .inforTab .placeholder .weui-btn_primary{
	line-height: 28px;
}
.main .inforTab .placeholder .vote{
	margin-bottom: 6px;
}
.main .inforTab .noInfor{
	width: 60%;
	margin: 40px auto;
	text-align: center;
	display: none;
}
.main .inforTab .noInfor img{
	width: 100%;
}
.main .inforTab .noInfor p{
	color: #475669;
}
.playerNum,.playerName,.placeholder .vote{ font-size: .9rem;}

@media screen and (min-width: 412px) {
	.realtimeInfor .p2{
		color: #617084; line-height: 30px;
		font-size: .82rem;
	}
	.playerNum,.playerName,.placeholder .vote{ font-size: .82rem;}
	..weui-navbar__item{ font-size: 17px;}
	.news{
		padding: 7px 10px;
	}
	.news p{ font-size: .72rem;}
	.main .inforTab .placeholder .weui-btn_primary{
		line-height: 34px;
	}
}
