@import '../../common/rpx.scss';
@import '../../common/const.scss';
@import '../../common/mixin.scss';
$paddingLeftRight:36;
page,
.search-container{
    height: 100%;
}
.search-scroll{
    height: 100%;
}
.search-wrap{
    height: rpx(66);
    padding: 0 rpx(36);
    display: flex;
    align-items: center;
    .search-inner{
        height: 32px;
        background: #EFF2F5;
        border: 1px solid #D3DBE4;
        border-radius: 100px;
        padding: 0 rpx(30);
        display: flex;
        flex: 1;
        align-items: center; 
        image{
            width: rpx(30);
			height: rpx(30);
            margin-right: rpx(10);
        }
        input{
            flex: 1;
            font-size: rpx(32);
        }
        .search-cancel{
            margin: 0;
        }
    }
    .search-cancel-btn{
        padding-left:rpx(30);
        color: $color-word-important;
        font-size: $size-four;
    }
}
.line{
    position: relative;
    @include borderBottomOnePx;
    margin-top: rpx(36);
}
.search-list-wrap{
    padding: 0 rpx($paddingLeftRight);
}