body {
  background-color: #354C55;
}
.cardShareWrap {
  padding-top: 1.9375rem;
  padding-bottom: 1.875rem;
}
/*shareHeader*/
.cardShareWrap .shareHeader {
  padding: 0 0.9375rem;
  height: 2.5rem;
  font-size: 0.75rem;
  color: #FFFFFF;
  margin-bottom: 1rem;
}
.cardShareWrap .shareHeader .left {
  height: 100%;
  position: relative;
  background: url("https://cdn2.picooc.com/web/res/fatburn/image/cardShare/picoocLogo.png") no-repeat left top;
  background-size: 6.4375rem auto;
}
.cardShareWrap .shareHeader .left .label {
  position: absolute;
  left: 0;
  bottom: 0;
}
.cardShareWrap .shareHeader .right {
  text-align: right;
  height: 100%;
  position: relative;
}
.cardShareWrap .shareHeader .right .name {
  position: absolute;
  right: 3.125rem;
  bottom: 0;
}
.cardShareWrap .shareHeader .right .headImg {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 40rem;
  vertical-align: bottom;
}
/*shareImgs*/
.cardShareWrap .shareImgs img {
  width: 100%;
  padding-bottom: 0.3125rem;
}
.cardShareWrap .shareImgs .noImgs {
  padding: 0 0.9375rem;
}
.cardShareWrap .shareImgs .noImgs .dottedLine {
  border-top: 0.0625rem dotted #ffffff;
}
/*shareDesc*/
.cardShareWrap .shareDesc {
  padding: 0 0.9375rem;
  font-size: 0.875rem;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 1.5625rem;
  text-align: justify;
}
.cardShareWrap .shareDesc .descText {
  margin-top: 0.9375rem;
}
/*shareCoachSay*/
.cardShareWrap .shareCoachSay {
  margin-top: 1.25rem;
  padding: 0 0.9375rem;
}
.cardShareWrap .shareCoachSay .aboutSay {
  margin-top: 1.25rem;
  padding: 0.625rem;
  background-color: #798692;
}
.cardShareWrap .shareCoachSay .aboutSay .comments {
  font-size: 0.875rem;
  color: #FFFFFF;
}
.cardShareWrap .shareCoachSay .aboutSay .key {
  margin-right: 0.375rem;
}
.cardShareWrap .shareCoachSay .aboutSay .star {
  width: 0.9375rem;
  vertical-align: -0.125rem;
  margin-right: 0.25rem;
}
.cardShareWrap .shareCoachSay .aboutSay .number {
  margin-left: 0.5rem;
}
.cardShareWrap .shareCoachSay .aboutSay .desc {
  font-size: 0.75rem;
  color: #FFFFFF;
  text-align: justify;
  margin-top: 0.625rem;
}
/*loadingBox*/
/*loadingBox*/
.loadingBox {
  width: 100%;
  color: #fff;
  font-size: 1rem;
  position: absolute;
  top: 48%;
  left: 38%;
}
