body{
    background-color: #eeeff3;
    /*font-family:'黑体', PingFang, serif;*/
    font-size: 0.875rem;
}
.common{
    background-color: #fff;
    padding: 0 1.1875rem;
    /*border-bottom: 1px solid #e7f1f5;*/
}
.phone{
    border-bottom: 1px solid #e7f1f5;
}
.info .buy{
    height:3.75rem;
    line-height:3.75rem;
}
.info .buy .userName{
    display: inline-block;
}
.right{
    text-align: right;
}
.info{
    /*background:#fff url("../image/confirmOrder/bg.png") no-repeat left bottom;
    background-size: 100%;*/
    border-bottom: 1px solid #e7f1f5;
    /*border: none;*/
}
.info .buy *{
    vertical-align: middle;
}
.info .buy .circle{
    width:1.03125rem;
}
.info .buy .avatar{
    width:1.5625rem;
    height:1.5625rem;
    border-radius: 1.5625rem;
    margin: 0 0.71875rem 0 0.1875rem;
}
.infoInput{
    height:3.125rem;
    line-height:3.125rem;
}
.infoInput *{
    vertical-align: middle;
}
.infoInput .logo{
    width:1.875rem;
}
.infoInput img{
    width:1.125rem;
}
.infoInput .tiaoZheng{
    /*background-color: blue;*/
    /*margin: 0.625rem 0;*/
    /*height:1.875rem;*/
    /*height:3rem;*/
    /*height:3.125rem;
    line-height:3.125rem;*/
    /*height:100%;*/
}
.infoInput .tiaoZheng #phoneNum,.infoInput .tiaoZheng #wechatNum{
    font-size: 0.9375rem;
    border: none;
    outline: none;
    width:100%;
    /*height:100%;*/
    height:1.2625rem;
    line-height:1.2625rem;
    /*padding-bottom: 0.125rem;*/
    /*background-color: plum;*/
    white-space: nowrap;
}
/*.infoInput input[type="checkbox"]{
    -webkit-appearance: checkbox;
}*/
.sameHeight{
    height:3.125rem;
    line-height:3.125rem;
}
.infoInput .check{
    font-size: 0.625rem;
    position: relative;
    left: 1.5625rem;
    display: none;
}
.infoInput .check img{
    width:0.75rem;
}
.aboutInfo{
    /*width:21.0625rem;*/
}
/*good*/
.good{
    /*border-top: 0.0625rem solid #e7f1f5;*/
    padding-top: 0.9375rem;
    padding-bottom: 0.9375rem;
    margin: 0.625rem 0;
}
.good .infoImg{
    /*width: 5.0625rem;*/
    vertical-align: middle;
}
.good .infoImg img{
    width: 4.1875rem;
    height:4.1875rem;
}
.good .infoDesc{
    /*width:16rem;*/
    position: relative;
    height:4.125rem;
}
.good .infoDesc .goodsName{
    font-size: 0.9375rem;
    padding: 0.09375rem 0 0.28125rem 0;
    line-height:1.125rem;
}
.good .infoDesc .open{
    font-size: 0.8125rem;
    position: absolute;
    left:0;
    bottom: 0;
    line-height: normal;
}
.good .infoDesc .price{
    font-size: 0.9375rem;
    color: #35d0c5;
    padding-top:0.3125rem;
    position: absolute;
    right:0;
    bottom: 0;
    line-height: normal;
}

/*youhui*/
.youhui{
    /*border-top: 0.0625rem solid #e7f1f5;*/
}
.youhui *{
    vertical-align: middle;
}
.youhui .status img{
    width:1.5rem;
}
.youhui .status .aboutYouhui{
    padding-bottom: 0.125rem;
}
.money{
    font-size: 0.9375rem;
    color: #35d0c5;
}
.youhui .money img{
    width:0.40625rem;
}

/*jine*/
.jine{
    height:5rem;
    margin-top:0.625rem;
    /*border-top: 0.0625rem solid #e7f1f5;*/
    padding-top:1rem;
    padding-bottom:1rem;
}
.jine .first{
    padding-bottom:0.5625rem;
}

/*pay*/
body{
    position: relative;
    height:100%;
}
.pay{
    font-size: 1.125rem;
    border: none;
    position: absolute;
    left:0;
    /*bottom: -0.0625rem;*/
    bottom:0;
    width:100%;
    background-color: #fff;
}
.pay .realyPay{
    color: #35d0c5;
    height:100%;
    /*height:3.125rem;*/
    font-size: 0.9375rem;
    /*line-height:3.125rem;*/
    padding-left:1.1875rem;
}
.pay .realyPay .money{
    font-size: 1.4375rem;
    vertical-align: -0.125rem;
}
.pay .submit{
    height:100%;
    text-align: right;
    color: #fff;
}
.pay .submit span{
    display: inline-block;
    width:7.1875rem;
    height:100%;
    font-size: 1.125rem;
    background-color: #35d0c5;
    text-align: center;
}

/*弹出框*/
.alerts{
    width: 18.75rem;
    height: 6.25rem;
    position: fixed;
    top: 13.375rem;
    left: 50%;
    margin-left:-9.375rem;
    z-index: 10000;
    background-color: rgba(0,0,0,.6);
    text-align: center;
    border-radius: 0.625rem;
    color: #fff;
    font-size: 1.0625rem;
    padding: 1.875rem 1.625rem;
}

/*payOrNot*/
.payOrNotBox{
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    z-index: 99;
    font-size: 1.0625rem;
    background-color: rgba(0,0,0,.6);
}
.payOrNotBox .payOrNot{
    text-align: justify;
    width: 20.3125rem;
    margin: 0 auto;
    background-color: #fff;
    padding: 1.9375rem 1.5625rem 1.3125rem 1.5625rem;
    margin-top:11.25rem;
    border-bottom: 0.125rem solid #e5e5e5;
    border-radius: 0.25rem 0.25rem 0 0;
}

.payOrNotBox .btns{
    background-color: #fff;
    width: 20.3125rem;
    margin: 0 auto;
    border-radius: 0 0 0.25rem 0.25rem;
    text-align: center;
    height: 2.8125rem;
    line-height: 2.8125rem;
}

.payOrNotBox .btns .left{
    border-right: 0.125rem solid #e5e5e5;
}
.payOrNotBox .btns .right{
    color: #1daffa;
    text-align: center;
}




body{
    background-color: #eeeff3;
    /*font-family:'黑体', PingFang, serif;*/
    font-size: 0.8125rem;
}
/*燃脂营优惠券*/
.coupons{
    margin-bottom: 2rem;
}
/*不使用优惠券*/
.noCoupons{
    height:4.25rem;
    line-height:4.25rem;
    background-color: #fff;
    margin: 1.25rem 1.1875rem;
    border-radius: 0.25rem;
}
.noCoupons .noImg{
    width:1.03125rem;
}
.noCoupons .noUse{
    text-align: center;
    text-indent: -1.03125rem;
    font-size: 1.125rem;
    color: #555;
    height:4.25rem;
    line-height:4.25rem;
}
.noCoupons .circle1{
    /*position: absolute;*/
    /*left:0;*/
}
/*使用优惠券*/
.coupons,.noImg{
    padding: 0 1.1875rem;
}
.circle{
    width:1.03125rem;
}
.avail{
    /*height: 11.125rem;*/
    margin-top: 1.25rem;
    padding: 0.3125rem 1.1875rem 0 1.1875rem;
}
.avail:first-child{
    margin-top: 0;
}
.coupons .avail .msg{
    font-weight: bold;
    height: 3.875rem;
    line-height: 3.875rem;
    border-bottom: 1px dotted #E1E2E3;
}
.coupons .avail .msgActive{
    border-bottom: 1px dotted #35d0c5;
}
.avail .continue{
    font-size: 1.125rem;
}
.avail .continue *{
    vertical-align: middle;
}
.avail .value{
    text-align: right;
}
.avail .value1{
    font-size: 1.3125rem;
}
.avail .value2{
    font-size: 2.625rem;
}
.avail .term{
    font-size: 0.8125rem;
    color: #9a9a9a;
}
.avail .require{
    font-size: 0.75rem;
    padding-top: 0.4375rem;
    color: #555;
    padding-bottom: 1.75rem;
}
.coupons .isAvail{
    background: url("https://cdn2.picooc.com/web/res/fatburn/image/discount/couponBg1.png") no-repeat;
    background-size: 100%;
}
.isAvail .continue{
    color: #555;
}
.notAvail .continue{
    color: #929394;
}
.isAvail .value{
    color: #35d0c5;
}
.notAvail .value{
    color: #c6c7ca;
}
.coupons .notAvail{
    background: url("https://cdn2.picooc.com/web/res/fatburn/image/discount/couponBg2.png") no-repeat;
    background-size: 100%;
}
.notAvail .status{
    width:3.4375rem;
    position: absolute;
    top:3.75rem;
    /*left:15.8125rem;*/
    right:2rem;
}
.noCoupon{
    width: 100%;
    margin-top: 5rem;
    font-size: .9375rem;
    color: #b5b5b5;
    text-align: center;
}