body{
    background-color: #eeeff3;
    text-align: center;
}
.success img{
    width:3.75rem;
    padding-top:5.3125rem;
}
.success .notice{
    color: #35d0c5;
    font-size: 1.125rem;
    padding-top:1.3125rem;
}
.success .desc{
    color: #666;
    font-size: 0.9375rem;
    padding-top:2.0625rem;
}