.container{
    padding: 0;
    min-height: 100vh;
    background-color: #eeeff3;
}
.historyList{
    padding: 1.25rem;
    background-color: #eeeff3;
}
.historyItem{
    display: block;
    padding: 1.5625rem;
    background-color: #fff;
    margin-bottom: .625rem;
    border-radius: .3rem;
    -moz-box-shadow: 0 2px 1px rgba(165, 165, 169, 0.3);
    -o-box-shadow: 0 2px 1px rgba(165, 165, 169, 0.3);
    -webkit-box-shadow: 0 2px 1px rgba(165, 165, 169, 0.3);
    box-shadow: 0 2px 1px rgba(165, 165, 169, 0.3);
}
.title{
    font-size: 1.125rem;
    color:#798692;
}
.theBlod{
    margin:0 .5rem;
    font-weight: 700;
}
.date{
    margin-top:.5rem;
    font-size: .75rem;
    color: rgba(121, 134, 146, 0.6);
}
.historyItem:hover,.historyItem:active,.historyItem:link,.historyItem:visited{

}
