
.partTop {
	width:100%;
	background: url(http://cdn2.picooc.com/web/res/fatburn/image/cardShare/top.png) no-repeat center center;
	background-size: cover;
}

.headimg{
	width: 20%;
	border-radius: 50% 50%;
	margin: 0 auto;
	background-size: 100% 100%;
}
.partTop-content{
	width: 100%;
	text-align: center;
}
.username {
	margin:0.5rem auto;
	color: #fff;
	font-size: 0.875rem;
}
.theme {
	color: #fff;
	font-size: 1.5rem;
}
.date{
	display: inline-block;
	font-size: 0.875rem;
	color: #fff;
	margin-right: 0.5rem;
}
.time{
	display: inline-block;
	font-size: 0.875rem;
	color: #fff;
}
.partBottom {
	position: relative;
	color: #fff;
	width:100%;
	background: url(http://cdn2.picooc.com/web/res/fatburn/image/cardShare/foot2.png) no-repeat center center;
	background-size: cover;
	display:-webkit-box;
	-webkit-box-align:center;
}
.partBottom .fatburnTag {
	position: absolute;
	left: 1.2rem;
	top:1.4rem;
	display: inline-block;
	width:4.8rem;
	height:4.5rem;
	background: url(http://cdn2.picooc.com/web/res/fatburn/image/cardShare/burning.png) no-repeat center center;
	background-size: cover;
}
.partBottom .fatburnArticle{
	position: absolute;
	left: 5.4375rem;
	top:1.5625rem;
	display: inline-block;
	width: 8.4375rem;
	padding-left: 0.9375rem;
	height: auto;
	border-left:1px solid #fff; 
}
.partBottom .two-dimension {
	position: absolute;
	right: 1.4375rem;
	top:0.5625rem;
	display: inline-block;
	height: auto;
	text-align: center;
}
.partBottom .erwei{
	display: inline-block;
	width:4.0625rem;
	height:4.0625rem;
	background: url(http://cdn2.picooc.com/web/res/fatburn/image/cardShare/2wei.png) no-repeat center center;
	background-size: cover;
}
.fatburnArticle1{
	font-size:1.0625rem;color:#fff;
}
.fatburnArticle2{
	font-size:0.8125rem;color:#fff;
}
.tag {
	width: 6.12%;
	position: absolute;
	top: 37.33%;
	left: 7.47%;

}

.line {
	width: 42.43%;
	background: url(http://cdn2.picooc.com/web/res/fatburn/image/cardShare/line.png) no-repeat center center;
	background-size: cover;
	margin:0 auto;
}

.msgType2{
		display: block;
		padding: 0 1.25rem;
}
.msgType2 .list{
    margin-bottom: 0;
}

.msgType2 .part{
	padding:1.5rem 0 1.5rem 3.75rem;
}

.msgType2 .partRight-type2{
	color:#798692;
}