
ol,ul{list-style-type:none;}
ul,li{list-style:none;}
a img{border:none;overflow:hidden;}
a{text-decoration: none;color:#000;-webkit-tap-highlight-color: transparent;-webkit-touch-callout: none;-webkit-user-select: none;display: inline-block;width: 100%;}

body{background:#fff;}
.tidings_list{overflow:hidden;}
.tidings_list ul{overflow:hidden;width:100%;}
.tidings_list ul li{margin-top:10px;padding-top:6px;padding:0 3%;overflow:hidden;}
.li_border{border-bottom:1px #e0e0e0 solid;}
.tidings_list_header{float:left;width: 2.5rem;height: 2.5rem;overflow:hidden;margin-right:10px;margin-top:4px;border-radius:25px;}
.tidings_list_header img{width:100%;height:100%;display:block;overflow:hidden;}
.tidings_list_right{position:relative;float:left;width:81%;padding-bottom:5px;padding-top:2px;}
.tidings_list_one{overflow:hidden;height:20px;line-height: 20px;color:#888;font-size: .9375rem;}
.tidings_list_one .tidings_list_name{float: left;margin-right:0px;font-size: .9375rem;color: #1daffa;
    -webkit-user-select: none;-webkit-tap-highlight-color: rgba(0,0,0,0);}

.tidings_list_con{line-height: 1.6rem;font-size: .9375rem; position: relative;word-wrap: break-word;color: #798692;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;/*margin-top: .4rem;*/}
.tidings_list_time{line-height: 24px;font-size: .75rem;color:rgba(61, 59, 59, 0.5);}
.tidings_list_icon{width:7px;height:12px;position:absolute;background:url(/statics/Portal/images/comment/tidings_list_icon_bg.png) 0 0 no-repeat;background-size:100%;top:35%;right:-7%;}

/* .tidings_list ul li{height:70px;margin:0;padding:0;margin-top:0;position:relative;} */
.tidings_list_prompt{height:70px;margin:0;padding:0;margin-top:0;position:relative;border-bottom:1px #e0e0e0 solid;}
.noMoreData{border-bottom: none;}
.tidings_list_prompt_div{height:70px;text-align:center;line-height:70px;font-size:14px;color:#afafaf;}
.tidings_list_icon2{width:12px;height:6px;position:absolute;background:url(/statics/Portal/images/comment/tidings_list_icon2_bg.png) 0 0 no-repeat;background-size:100%;top:45.5%;left:64%;}

.loading{text-align:center;display:inherit;line-height:30px;color:#afafaf;margin-top: 17rem;}
#readedMessage .li_border .tidings_list_right{/*opacity:0.4;*/}
@media (min-device-width : 414px) and (max-device-width : 736px) and (-webkit-min-device-pixel-ratio : 3){
    .tidings_list_icon{right: -10%;}    
}
@media (device-height:568px) and ( -webkit-min-device-pixel-ratio:2){
.tidings_list_right{width:80%;}
.tidings_list_icon{right: -6%;}
.tidings_list_icon2{left: 66%;}
}