html,body{
    background-color: #EBF1F6;
    height:100%;
    position: relative;
}
.container{
    background-color: #fff;
}

/*myInfoBox*/
.myInfoBox{
    background-color: #EBF1F6;
}
.common{
    background-color: #fff;
    padding: 0 1.375rem;
    height:3.125rem;
    line-height:3.125rem;
    /*border-bottom: 1px solid #e7f1f5;*/
}
.history{
    margin-bottom:1.25rem;
}
.myOrder{
    margin-bottom: 1px;
}
.activation{
    margin-top:1.25rem;
}
.common .left .leftImg{
    width:1.4375rem;
    margin-right: 1.25rem;
    /*vertical-align: -0.42rem;*/
    padding-bottom: 0.1rem;
    position: relative;
    top: -0.05rem;
}
.common .left .leftText{
    font-size: 0.875rem;
    color: #666666;
    letter-spacing: 0;
}
.right{
    text-align: right;
}
.common .right .rightImg{
    width:0.4375rem;
    margin-right:0.125rem;
    vertical-align: -1px;
}
.common .right .rightText{
    font-size: 0.875rem;
    color: #30C1B7;
    letter-spacing: 0;
}

/*轮播图*/

.swiper-container{
    position: relative;
    background-color: #EBF1F6;
}
.swiper-container .swiperLeft{
    position: relative;
    left: -0.575rem;
}
.swiper-container .swiperLeft2{
    position: relative;
    left: 0.575rem;
}

.swiper-container .public{
    border-radius: 0.625rem;
    margin:1.25rem 1.75rem;
    box-shadow: 0 0.1875rem 0.25rem 0 rgba(207,211,222,0.50);

}
/*notBuy*/
.swiper-container .notBuy{
    height: 10.625rem;
    background: #CFD3DE url("https://cdn2.picooc.com/web/res/fatburn/image/myFatBurn/notBuy.png") left top no-repeat;
    background-size: auto 100%;
}
.swiper-container .notBuy .info{
    padding-left:9.5625rem;
    padding-top: 1.875rem;
    padding-right: 1.125rem;
}
.swiper-container .notBuy .info .desc1{
    font-size: 1.125rem;
    color: #323038;
    letter-spacing: 0;
}
.swiper-container .notBuy .info .desc2{
    font-size: 0.75rem;
    color: #323038;
    letter-spacing: 0;
    line-height: 1.25rem;
    padding-top: 0.3125rem;
    padding-bottom: 1rem;
}
.swiper-container .notBuy .info .moreLink{
    display: inline-block;
    border: 1px solid #323038;
    border-radius: 0.3125rem;
    font-size: 0.75rem;
    color: #323038;
    letter-spacing: 0;
    padding:0 0.625rem;
}
/*willCamp isCamping camped*/


/*willCamp*/
.swiper-container .willCamp{
    height: 10.625rem;
    background-color: #fff;
}
.swiper-container .willCamp .campName{
    border: 1px solid #30C1B7;
    border-radius: 0.1875rem;
    font-size: 0.625rem;
    color: #30C1B7;
    letter-spacing: 0;
    padding:1px 0.25rem;
    margin:0.625rem 0 0 0.625rem;
}
.swiper-container .willCamp .campedBox{
    margin-top: 1.5625rem;
    padding-left: 6.8rem;
    background: url("https://cdn2.picooc.com/web/res/fatburn/image/myFatBurn/willCamp.png") 4.1125rem center no-repeat;
    background-size: 2.0625rem auto;
}
.swiper-container .willCamp .campedBox .beginTime{
    font-weight: bold;
    color: #666666;
}
.swiper-container .willCamp .campedBox .beginTime .dateText{
    line-height: 1.1875rem;
    font-size: 1.125rem;
}
.swiper-container .willCamp .campedBox .beginTime .dateText .date{
    color: #30C1B7;
    padding: 0 0.375rem;
}
.swiper-container .willCamp .campedBox .beginTime .lefts{
    font-weight: normal;
    font-size: 0.75rem;
    color: #666666;
}
.swiper-container .willCamp .readySth{
    text-align: right;
    padding-bottom: 0.375rem;
    padding-top: 0.25rem;
    /*border-bottom:1px solid #DAE5EC ;*/
}
@media screen and (max-width: 320px) {
    .swiper-container .willCamp .readySth{
        padding-top: 0.2rem;
    }
}
.swiper-container .willCamp .readySth .readySthImg{
    /*width: 1rem;*/
    height:1.0625rem;
    vertical-align: -0.25rem;
    padding-right:0.125rem;
}
.swiper-container .willCamp .readySth .readyText{
    font-size: 0.75rem;
    color: #30C1B7;
    padding-right: 1rem;
}
.swiper-container .willCamp .topBox{
    /*height: 7.375rem;*/
    height: 7.625rem;
    border-bottom: 1px solid #DAE5EC;
}
.swiper-container .willCamp .question{
    /*padding: 0.9375rem 0;*/
    /*padding-top:0.9375rem;*/
    /*height: 3.375rem;*/
    /*line-height: 3.375rem;*/
    /*height: 3.25rem;*/
    /*line-height:3.25rem;*/
}
/*enterCamp*/
.swiper-container .willCamp .question .enterCamp{
    text-align: center;
    /*height: 1.25rem;*/
    margin: 0.8125rem 0;
    border-right:1px solid #DAE5EC;
}
.swiper-container .willCamp .question .enterCamp .status{
    position: relative;
}
.swiper-container .willCamp .question .enterCamp .status .wenJuan{
    width: 1.375rem;
    vertical-align: -0.375rem;
}
.swiper-container .willCamp .question .enterCamp .status .isOk{
    width: 0.5rem;
    position: absolute;
    right: 0;
    top: 0;
}

.swiper-container .willCamp .question .enterCamp .text{
    margin-left: 0.4375rem;
    margin-right: 1.875rem;
    position: relative;
    font-size: 0.875rem;
    color: #666666;
}
.swiper-container .willCamp .question .enterCamp .text .redPoint{
    border-radius: 0.375rem;
    width: 0.375rem;
    position: absolute;
    right: -0.375rem;
    top: 0;
}

.swiper-container .willCamp .question .enterCamp .more img{
    width: 0.9375rem;
    vertical-align: -0.1875rem;
}
/*sport*/
.swiper-container .willCamp .question .sport{
    text-align: center;
    /*height: 1.25rem;*/
    margin: 0.8125rem 0;
}
.swiper-container .willCamp .question .sport .status{
    position: relative;
}
.swiper-container .willCamp .question .sport .status .wenJuan{
    width: 1.375rem;
    vertical-align: -0.375rem;
}
.swiper-container .willCamp .question .sport .status .isOk{
    width: 0.5rem;
    position: absolute;
    right: 0;
    top: 0;
}

.swiper-container .willCamp .question .sport .text{
    margin-left: 0.4375rem;
    margin-right: 1.875rem;
    position: relative;
    font-size: 0.875rem;
    color: #666666;
}
.swiper-container .willCamp .question .sport .text .redPoint{
    border-radius: 0.375rem;
    width: 0.375rem;
    position: absolute;
    right: -0.375rem;
    top: 0;
}

.swiper-container .willCamp .question .sport .more img{
    width: 0.9375rem;
    vertical-align: -0.1875rem;
}

/*isCamping*/
.swiper-container .isCamping{
    height: 10.625rem;
    background-color: #fff;
}
.swiper-container .isCamping .campName{
    border: 1px solid #30C1B7;
    border-radius: 0.1875rem;
    font-size: 0.625rem;
    color: #30C1B7;
    letter-spacing: 0;
    padding:1px 0.25rem;
    margin:0.625rem 0 0 0.625rem;
}
.swiper-container .isCamping .campedBox{
    padding-top: 2.25rem;
    text-align: center;
}
.swiper-container .isCamping .campedBox .title{
    height: 1.5rem;
}
.swiper-container .isCamping .campedBox .title .titleImg{
    height: 100%;
    vertical-align: -0.3125rem;
}
.swiper-container .isCamping .campedBox .title .titleName{
    font-size: 1.125rem;
    color: #666666;
    font-weight:bold;
    padding-left: 0.625rem;
}
.swiper-container .isCamping .campedBox .title .titleName .day{
    color: #30C1B7 ;
    font-size: 1.5rem;
    padding:0 0.4rem;
}
.swiper-container .isCamping .campedBox .grade{
    font-size: 0.75rem;
    color: #666666;
    padding-top: 0.9375rem;
}

/*camped*/
.swiper-container .camped{
    height: 10.625rem;
    position: relative;
    /*left: -40px;*/
    background-color: #fff;

}
.swiper-container .camped .campName{
    border: 1px solid #30C1B7;
    border-radius: 0.1875rem;
    font-size: 0.625rem;
    color: #30C1B7;
    letter-spacing: 0;
    padding:1px 0.25rem;
    margin:0.625rem 0 0 0.625rem;
}
.swiper-container .camped .campedBox{
    padding-top: 2.125rem;
    text-align: center;
}
.swiper-container .camped .campedBox .title{
    height: 1.5rem;
}
.swiper-container .camped .campedBox .title .titleImg{
    height: 100%;
    vertical-align: -0.3125rem;
}
.swiper-container .camped .campedBox .title .titleName{
    font-size: 1.125rem;
    color: #666666;
    font-weight:bold;
    padding-left: 0.625rem;
}
.swiper-container .camped .campedBox .grade{
    font-size: 0.75rem;
    color: #666666;
    padding-top: 0.75rem;
}
.swiper-container .camped .campedBox .date{
    font-size: 0.75rem;
    color: #666666;
    padding-top: 0.3125rem;
}


/*联系客服*/
.service{
    width: 3.75rem;
    height: 3.125rem;
    background-color: #fff;
    text-align: center;
    border-radius: 0.3125rem 0 0 0.3125rem;
    position: absolute;
    right:0;
    top: 30rem;
    z-index: 1;
    /*bottom:11.875rem;*/
}
.service .serviceImg{
    width: 1.5rem;
    /* height: 1.25rem; */
    margin-top: 0.15rem;
    margin-left: 0.125rem;
}
.service .serviceText{
    font-size: 0.6875rem;
    color: #666666;
    letter-spacing: 0;
}

/*alertBox*/
.alertBox{
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.6);
    /*opacity: 0.6;*/
    z-index: 999;
}
.alertBox .alert{
    background: #FFFFFF;
    border-radius: 0.1875rem;
    opacity: 1;
    width:20.3125rem;
    margin:10rem auto 0 auto;
    padding: 1.5625rem;
    position: relative;
}
.alertBox .alert .closeBtn{
    width: 1.375rem;
    position: absolute;
    right: 1.4375rem;
    top: 1.4375rem;
}
.alertBox .alert .title{
    font-size: 1.0625rem;
    color: #666666;
    letter-spacing: 0;
}
.alertBox .alert .ipt{
    width: 100%;
    outline: none;
    border: 1px solid #9A9A9A;
    font-size: 0.875rem;
    color: #666666;
    letter-spacing: 0;
    /*height: 2.5rem;*/
    /*line-height:2.5rem;*/
    text-indent: 0.625rem;
    margin:2rem 0 1.875rem 0;
    padding: 0.625rem 0;
    white-space: nowrap;
}
.alertBox .alert .btn{
    width: 100%;
    outline: none;
    border: none;
    height: 2.5rem;
    line-height:2.5rem;
    text-align: center;
    background: #999999;
    border-radius: 0.1875rem;
    font-size: 1rem;
    color: #FFFFFF;
    letter-spacing: 0;
    margin-bottom: 0.375rem;
    /*background: #999999;*/
}


/*floatingBox*/
.floatingBox{

}
.floatingBox .floating{
    width: 18.75rem;
    position: fixed;
    top: 13.375rem;
    left: 50%;
    margin-left:-9.375rem;
    z-index: 100;
    background-color: rgba(0,0,0,.6);
    text-align: center;
    border-radius: 0.625rem;
    color: #fff;
    font-size: 1.0625rem;
    padding: 1.875rem 1.625rem;
}


/*bindBox*/
.bindBox{
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.6);
    /*opacity: 0.6;*/
    z-index: 999;
}
.bindBox .bind{
    background: #FFFFFF;
    border-radius: 0.1875rem;
    opacity: 1;
    width:20.3125rem;
    margin:10rem auto 0 auto;
    position: relative;
}
.bindBox .bind .bindQuestion{
    padding: 1.5625rem;
    font-size: 1.0625rem;
    text-align: justify;
    /*margin-bottom: 1.3125rem;*/
    border-bottom: 0.125rem solid #e5e5e5;
}
.bindBox .bind .tab{
    font-size: 1.0625rem;
    background: #FFFFFF;
    text-align: center;
    height: 2.8125rem;
    line-height: 2.8125rem;
}
.bindBox .bind .left{
    border-right: 0.125rem solid #e5e5e5;
}
.bindBox .bind .right{
     color: #1daffa;
}


