body{
    background-color: #EBF1F6;
    /*font-family:'黑体', PingFang, serif;*/
    font-size: 0.8125rem;
}
/*标题*/
.title{
    text-align: center;
    background-color: #dff4fd;
    padding: 0.6rem 0;
    color: rgba(70,76,84,0.6);
    height: 2.5rem;
    line-height: 1.3rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}
.title .leftTitle,.title .rightTitle{
    color: #464c54;
}
.title .leftBox{
    border-right: 1px solid rgba(70,76,84,0.3);
}
/*.leftTitle:after,.rightTitle:after{
    content: '';
    width: 0;
    height: 0;
    border-left: 0.25rem solid #dff4fd;
    border-right: 0.25rem solid #dff4fd;
    border-top: 0.25rem solid #dff4fd;
    border-bottom: 0.25rem solid #fff;
    position: absolute;
    top: 1.5rem;
    left: 5.6875rem;
}*/

/*燃脂营1.6新增*/
/*titleNew*/
.titleNew{
    text-align: center;
    background-color: #fff;
    position: fixed;
    /*top: 1.875rem;*/
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    font-size: 0.875rem;
    color: #666666;
    border-bottom: 1px solid #BCBFC2;
}
.titleNew .tab{
    height: 2.5rem;
    line-height: 2.5rem;
}
.titleNew .activeTab{
    color: #00AFF0;
    border-bottom:0.125rem solid #00AFF0;
}





/*燃脂营优惠券*/
.coupons,.couponCode{
    padding: 2.5rem 1.1875rem 1.25rem;
}
.avail{
    /*height: 11.125rem;*/
    margin-top: 1.25rem;
    padding: 0.3125rem 1.1875rem 1.25rem 1.1875rem;
}
.coupons .avail{
    /*height: 11.125rem;*/
}
.couponCode .avail{
    /*height: 14.0625rem;*/
}
.coupons .avail .msg{
    font-weight: bold;
    height: 3.875rem;
    line-height: 3.875rem;
    border-bottom: 1px dotted #E1E2E3;
}
.coupons .avail .msgActive{
    border-bottom: 1px dotted #35d0c5;
}
.couponCode .avail .msg{
    font-weight: bold;
    height: 5.8125rem;
    line-height: 5.8125rem;
    border-bottom: 1px dotted #E1E2E3;
}
.couponCode .avail .msgActive{
    border-bottom: 1px dotted #35d0c5;
}
.avail .continue{
    font-size: 1.125rem;
}
.avail .value{
    text-align: right;
}
.avail .value1{
    font-size: 1.3125rem;
}
.avail .value2{
    font-size: 2.625rem;
}
.avail .term{
    font-size: 0.8125rem;
}
.avail .require{
    font-size: 0.75rem;
    padding-top: 0.4375rem;
}
.coupons .goToSale{
    font-size: 0.9375rem;
    color: #c6c7ca;
    border: 1px solid #c6c7ca;
    text-align: center;
    border-radius: 0.1875rem;
    padding: 0.3125rem 0;
    margin-top: 0.6875rem;
    /*margin-bottom: 1.875rem;*/
}
.coupons .goToSaleIsAlive{
    color: #35d0c5;
    border: 1px solid #35d0c5;
}
.isAvail .require {
    color: #555555;
}
.notAvail .require {
    color: #555;
}
.coupons .isAvail{
    background: url("https://cdn2.picooc.com/web/res/fatburn/image/discount/couponBg1.png") no-repeat;
    background-size: 100% 100%;
}
.isAvail .term {
    color: #35d0c5;
}
.notAvail .term{
    color: rgba(51,51,51,0.6);
}
.isAvail .continue{
    color: #555;
}
.notAvail .continue{
    color: #929394;
}
.isAvail .value{
    color: #35d0c5;
}
.notAvail .value{
    color: #c6c7ca;
}
.coupons .notAvail{
    background: url("https://cdn2.picooc.com/web/res/fatburn/image/discount/couponBg2.png") no-repeat;
    background-size: 100% 100%;
}
.notAvail .status{
    width:3.5rem;
    position: absolute;
    top:3.7rem;
    left:16rem;
}
.couponCode .notAvail .status{
    top:5.2rem;
}


/*购秤优惠码*/
.couponCode .isAvail{
    background: url("https://cdn2.picooc.com/web/res/fatburn/image/discount/codeBg1.png") no-repeat;
    background-size: 100% 100%;
}
.couponCode .notAvail{
    background: url("https://cdn2.picooc.com/web/res/fatburn/image/discount/codeBg2.png") no-repeat;
    background-size: 100% 100%;
}
.couponCode .continue{
    line-height:normal;
}
.couponCode .continue .zan{
    padding: 1.0625rem 0 0.6875rem 0;
}
.couponCode .continue .zanNum{
    font-size: 1.375rem;
    color: #35d0c5;
    font-weight: normal;
    height: 1.5625rem;
    line-height:1.5625rem;
}
.couponCode .continue .zanNum2{
    color: #c6c7ca;
}
.couponCode .continue .zanNum2 .aboutCouponCode input{
    color: #c6c7ca;
}
.copy3 {

}
.couponCode .continue .copy{
    font-size: 0.6875rem;
    display: inline;
    border: 1px solid #35d0c5;
    border-radius: 0.1875rem;
    vertical-align: top;
    padding: 0.0625rem 0;
}
.couponCode .continue .copy2{
    border: 1px solid #c6c7ca;
}
.couponCode .avail .value{
    line-height:normal;
    padding-top: 1.875rem;
}
.couponCode .avail .term{
    padding-top: 0.5rem;
}
.couponCode .avail .require{
    text-align: justify;
}
.couponCode .avail .goTo{
    font-size: 0.9375rem;
    color: #35d0c5;
    text-align: center;
    border: 1px solid #35d0c5;
    border-radius: 0.1875rem;
    padding: 0.3125rem 0;
    margin-top: 0.6875rem;
}
.couponCode .avail .goTo2{
    color: #c6c7ca;
    border: 1px solid #c6c7ca;
}

.noCoupon{
    width: 100%;
    margin-top: 16rem;
    font-size: .9375rem;
    color: #b5b5b5;
    text-align: center;
}

.fixBg{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 9000;
}
.fixBg-main{
    position: absolute;
    width: 100%;
    top:50%;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    background-color:#000;
    opacity:0.7;
    color:#fff;
    left: 70px;
}
.fixBg-top{
    padding: 30px 25px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.fixBg-t{
    font-size: 1.0625rem;
    font-weight: 700;
    text-align: left;
    margin-bottom: 16px;
}
.fixBg-p{
    text-align: center;
    font-size: 1rem;
}
.fixBg-p2{
    text-align: left;
    font-size: 1rem;
    line-height: 1.5rem;
}
.fixBg-p2 img{
    width: 5px;
    margin-right: 10px;
    vertical-align: top;
}
.fixBg-btn{
    text-align: center;
    color: #1daffa;
    font-size: 1.125rem;
    line-height: 2.8125rem;
}




/*myOrder*/
.myOrders{
    margin-top: 2.5rem;
}
.myOrders .order{
    padding: 0 1.1875rem;
    height: 10.5rem;
    background-color: #fff;
    font-size: 0.8125rem;
    /*border-bottom: 1px solid #d9d9d9;*/
    margin-bottom: 0.65625rem;
}
.myOrders .order .orderDetail{
    border-bottom: 1px solid #e7f1f5;
    height:2.625rem;
    line-height: 2.625rem;
}
.myOrders .order .waitPay{
    text-align: right;
    position: relative;
}
.myOrders .order .waitPay .wait{
    text-align: right;
    padding-right: 0.9375rem;
    color: #35d0c5;
}
.myOrders .order .waitPay .ok{
    text-align: right;
    padding-right: 0.9375rem;
    color: #adadad;
}
.myOrders .order .waitPay img{
    width: 0.40625rem;
    position: absolute;
    right: 0;
    top: 0.9375rem;
}
.myOrders .info{
    padding: 0.5rem 0;
    border-bottom: 1px solid #e7f1f5;
    position: relative;
}
/*.info .infoImg{
    width: 5.625rem;
}*/
.myOrders .info .infoImg img{
    width: 4rem;
    height: 4rem;
    background-color: #e7f1f5;
}
.myOrders .info .infoDesc{
    height: 4rem;
    position: relative;
}
.myOrders .info .infoDesc h3{
    /*font-size: 1.0625rem;*/
    font-size: 0.875rem;
    line-height: 1.2rem;
    /*padding: 0.09375rem 0 0.34375rem 0;*/
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient: vertical;
}
.myOrders .info .infoDesc p{
    position: absolute;
    right: 0;
    bottom: 0;
    color: #666;
}
.myOrders .pay{
    height: 2.75rem;
    line-height: 2.75rem;
}
.myOrders .pay .payNum{
    font-size: 0.9375rem;
}
.myOrders .pay .gotoPay{
    text-align: right;
}
.myOrders .pay .gotoPay span{
    display:inline;
    color: #35d0c5;
    padding: 0.34375rem 0.5rem;
    border: 1px solid #35d0c5;
    border-radius: 0.25rem;
}

.myOrders .noOrder{
    width: 100%;
    margin-top: 16rem;
    font-size: .9375rem;
    color: #b5b5b5;
    text-align: center;
}
.myOrders .col-xs-3,.col-sm-3{
    width: 22% !important;
}
.myOrders .col-xs-9,.col-sm-9{
    width: 78% !important;
}
.myOrders .payprice {
    font-weight: 600;
}


/*noAppTitle*/
.noAppTitle{
    background: #00AFF0;
    height: 1.875rem;
    line-height:1.875rem;
    color: #fff;
    padding:0 1.25rem;
}
.noAppTitle .left{
    height: 100%;
    color: #FFFFFF;
    font-size: 0.875rem;
}
.noAppTitle .middle{
    text-align: center;
    height:100%;
}
.noAppTitle .middle img{
    width: 5.15rem;
    vertical-align: -0.2rem;
}