body{
 background-color: #edf3f7;
}
.container{
    background-color: #edf3f7;
    padding-bottom: 6rem;
    position: relative;
}
.openTopInfo{
    color:#fff;
    background-color:#1db0ed;
    padding-top: 2.8125rem;
    padding-bottom:1.125rem;
    text-align: center;
}
.openTopTitle1{
    font-size: 1.875rem;
}
.openTopTitle2{
    margin-top: .5rem;
    font-size: 1rem;
}
.openTopTitle3{
    margin-top: 2.8125rem;
    font-size: .875rem;
}
.openTopTitle3 img{
    width: .9375rem;
    height: auto;
    margin-top: -3px;
    margin-right: .3rem;
}
.openContent{
    background-color: #edf3f7;
    text-align: center;
    position: relative;
}
.userDatum{
    display: block;
    padding:1.875rem 0;
    background-color: #fff;
}
.userDatum img{
    width: 1.625rem;
}
.datumTitle1{
    margin-top: .75rem;
    font-size: .9375rem;
    color:#1db0ed;
}
.datumTitle2{
    margin-top: .75rem;
    font-size: .8125rem;
    color:#b2b2b2;
}
.userDatum:nth-of-type(2){
    margin-top: .5rem;
}
.userDatum:nth-of-type(2) .datumTitle1{
    color:#00c3b5;
}
.datumBottom{
    display: none;
    position: absolute;
    bottom: 2rem;
    font-size: .8125rem;
    color: rgba(51, 51, 51, 0.7);
    padding: 0 1.5rem;
    text-align: left;
}
.error-main{
    top: 38%;
}
.gotoTips{
    color:#fff;
}
.error-main{
    top: 38%;
}
a:link {
    color: #fff; /*连接默认的颜色变化*/
}
a:visited {
    color: #fff; /*连接访问的颜色变化*/
}
a:hover {
    color: #fff; /*鼠标经过的颜色变化*/
}
a:active { 
    color: #fff; /*鼠标按下的颜色变化*/
}