body{
    background-color: #edf3f7;
    /*font-family:'黑体', PingFang, serif;*/
    font-size: 0.8125rem;
}
.common{
    padding: 0 1.1875rem;
}
.order{
    height: 8.3125rem;
    background-color: #fff;
    /*border-bottom: 1px solid #d9d9d9;*/
    margin-bottom: 0.65625rem;
}
.order .orderDetail{
    height:2.625rem;
    line-height: 2.3rem;
}
.left{
    color: #666;
}

.right{
    text-align: right;
    color: #adadad;
}
.right2{
    color: #35d0c5;
}
.right3 #currentPrice{
    font-weight: bold;
}
.right3 span{
    color: #666;
}
#currentPrice{
    color: #35d0c5;
}
.right .wait{
    text-align: right;
    color: #35d0c5;
}
.right .nowait{
    text-align: right;
    color: #adadad;
}
.info{
    padding: 0.9375rem 0;
    border-top: 1px solid #e7f1f5;
    margin-top: -0.34375rem;
}
/*.info .infoImg{
    width: 7.125rem;
}*/
.info .infoImg img{
    width: 4rem;
    height: 4rem;
    background-color: #e7f1f5;
}
.info .infoDesc{
    position: relative;
    height:4rem;
}
.info .infoDesc h3{
    font-size: 0.875rem;
    line-height: 1.1rem;
/*    padding: 0.09375rem 0 0.34375rem 0;*/
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient: vertical;
}
.info .infoDesc .infoDesc_bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.info .infoDesc .campBegin{
    display: inline-block;
    float: left;
    position: absolute;
    bottom: 0;
}
.info .infoDesc .price{
    font-size: 0.9375rem;
    line-height: 1.3rem;
    color: #35d0c5;
    /*padding-top: 0.5625rem;*/
    /*position: absolute;
    left:0;
    bottom: 0;*/
    display: inline-block;
    float: right;
}
.content{
    height:3.125rem;
    line-height:3.125rem;
    background-color: #fff;
    font-size: 0.9375rem;
}
.content1{
    margin-bottom: 0.65625rem;
    border-top: 1px solid #e7f1f5;
    height: 3.125rem;
    /*border-bottom: 1px solid #d9d9d9;*/
    padding:0;
}
.content1-padding {
    padding: 0 1.1875rem;
}
.content2{
    border-bottom: 1px solid #e7f1f5;
}
.content5{
    /*border-top: 1px solid #e7f1f5;*/
}
.content4{
    margin-bottom: 4rem;
/*    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;*/
}
.content3{
    height: 6.875rem;
    line-height:2.3125rem;
    margin-bottom: 0.65625rem;
    /*border-bottom: 1px solid #d9d9d9;*/
}
.contact{
    text-align: center;
    color: #35d0c5;
    line-height: 2.9rem;
}
.contact *{
    vertical-align: middle;
}
.contact img{
    width:1.125rem;
}
.container{
    position: relative;
}
.status{
    border: none;
    position: fixed;
    width:100%;
    left:0;
    bottom:0;
    line-height: normal;
    padding-top: 0.625rem;
}
.status .time{
    font-size: 0.8125rem;
}
.status .timeNum{
    color: #35d0c5;
    font-size: 0.875rem;
}
.status .right span{
    /*color: #fb8500;*/
    color: #35d0c5;
    padding: 0.34375rem 0.5rem;
    /*border: 0.125rem solid #fb8500;*/
    border: 1px solid #35d0c5;
    border-radius: 0.25rem;
}
.status .right .cancel{
    color: #a3a3a3;
    /*border: 0.125rem solid #a3a3a3;*/
    border: 1px solid #a3a3a3;
}

/*遮罩*/
.zhezhao{
    position: relative;
}
.zhezhao .bg{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    opacity: 0.7;
    background: #000;
}
.zhezhao .youhui{
    width: 5.375rem;
    position: fixed;
    right: 0;
    bottom: 3.125rem;
}
.zhezhao .share{
    height:3.75rem;
    line-height:3.75rem;
    background-color: #fff;
    position: fixed;
    left:0;
    bottom:0;
    z-index: 999;
    width:23.4375rem;
}
.zhezhao .share a{
    width:20%;
    display:inline-block;
    text-align: center;
}
.zhezhao .share img{
    width:2.0625rem;
    border: none;
}
.fixbg-main {
    top: 45%;
}

/*浮层提示*/
.fixBg{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 9000;
}
.fixBg-main{
    background-color:#000;
    opacity:0.7;
    color:#fff;
    left: 70px;
    position: absolute;
    width: 100%;
    top:50%;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}
.fixBg-top{
    padding: 30px 25px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.fixBg-t{
    font-size: 1.0625rem;
    font-weight: 700;
    text-align: left;
    margin-bottom: 16px;
}
.fixBg-p{
    text-align: center;
    font-size: 1rem;
}
.fixBg-p2{
    text-align: left;
    font-size: 1rem;
    line-height: 1.5rem;
}
.fixBg-p2 img{
    width: 5px;
    margin-right: 10px;
    vertical-align: top;
}
.fixBg-btn{
    text-align: center;
    color: #1daffa;
    font-size: 1.125rem;
    line-height: 2.8125rem;
}
.borderTop{
    border-top: 1px solid #e7f1f5;
}
.col-xs-3,.col-sm-3{
    width: 22% !important;
}
.col-xs-9,.col-sm-9{
    width: 78% !important;
}
.fixbg-main-t{
    padding: 30px 20px;
}

/*燃脂营1.6新增*/
.content1 .jiHuo{
    border-bottom: 1px solid #e7f1f5;
}
.content1 .activationCode{
    border: none;
    outline: none;
    width:6.75rem;
    font-size: 0.875rem;
    color: #35D0C5;
    letter-spacing: 0;
    padding-bottom: 0.1875rem;
}
.content1 #copy .copyText{
    display: inline-block;
    font-size: 0.875rem;
    color: #34CBC0;
    letter-spacing: 0;
    background: #FFFFFF;
    border: 0.0625rem solid #35D0C5;
    border-radius: 0.1875rem;
    line-height: normal;
    padding: 0.25rem;
    margin-right: 0.375rem;
}