#orderedBox{
    /*background-color: #666;*/
}
.head{
    margin: 4.375rem 0;
    color:#666;
    font-size: 1.0625rem;
    background-image: url(../image/_pay/success1.png);
    background-size: 3.125rem 3.125rem;
    background-repeat: no-repeat;
    background-position: 5.375rem center;
    height: 3.125rem;
    padding-left: 9.375rem;
    line-height: 3.125rem;
}
.bodytext{
    
    padding: 0 2.5rem;
    
}

.orderedtips{
  
    line-height: 1.5rem;
    font-size: 0.75rem;
    width: 100%;
    color:#999;
    /*padding:1.5rem 0;*/
   
}
.orderedtips:after,.orderedtips:before{
    content:"";
     display: block;
     width: 100%;
     height: 1px;
     background-color:#EDF3F7;
     transform: scaleY(0.5);
     clear: both;
}
.OutTips{
    float: left;
    margin:1.5rem 0;  
    /*padding-left: 1.5rem;*/
}
.picoocIcon{
     margin:1.5rem 0;  
    float: left;
    height: 3.6875rem;
    width: 3.6875rem;
    border-radius: 3px;
    margin-left: 2.5rem;
    background-image: url(../image/_pay/icon.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;

}

.orderedtips em{
    color:#64d1c9
}
.searchBtnCon{
    margin-top: 3.125rem;
}
.searchBtnCon button{
    border:0;
    width: 44%;
    height: 1.875rem;
    background-color: #fff;
    color:#666;
    border:1px solid #666;
    box-sizing: border-box;
    border-radius: 3px;
    font-size:.875rem; 
    text-align: center;
}
.searchBtnCon button:first-child{
     margin-right: 1.0625rem;
}
.searchBtnCon .updateBtn{
    border: 0.5px solid #30C1B7;
    color:#30C1B7;
}
.searchorder{
    text-align: center;
}

/*noAppTitle*/
.noAppTitle{
    background: #00AFF0;
    height: 1.875rem;
    line-height:1.875rem;
    color: #fff;
    padding:0 1.25rem;
}
.noAppTitle .left{
    height: 100%;
    color: #FFFFFF;
    font-size: 0.875rem;
}
.noAppTitle .middle{
    text-align: center;
    height:100%;
}
.noAppTitle .middle img{
    width: 5.15rem;
}