.PaymentCont{
    position: absolute;
    width: 100%;;
    height: 100%;
    overflow: hidden;
    left: 0;
    top: 0;
    background-color: #edf3f7;
}
.timetips{
    width: 100%;
    height: 2.5rem;
    line-height: 2.5rem;
    color: #666;
    font-size:0.875rem; 
     background-image: url(../image/_pay/tips.png);
     background-position:1.1875rem center;
     background-repeat: no-repeat;
     padding-left: 3.1875rem;
     background-size: 1.375rem 1.375rem;

}
.payway{
    height: 3.4375rem;
    background-color: #fff;
    line-height: 3.4375rem;
    color: #666;
    font-size:0.875rem; 
    background-image: url(../image/_pay/wechat1.png);
    background-size: 1.75rem 1.75rem;
    background-position: 1.375rem center;
    padding-left: 3.75rem;
    padding-right: 1.375rem;
    background-repeat: no-repeat
}
.wechatOption{
    background-image: url(../image/_pay/options.png);
    background-size: 1rem 1rem;
    background-position: right center;
    background-repeat: no-repeat;
        float: right;
    height: 3.4375rem;
    width: 1rem;
}
.payfooter{
    position: fixed;
    bottom: 0;
    left: 0;
    height: 3.125rem;
    /*line-height: 3.125rem;*/
    width: 100%;
    font-size: 0.875rem;
    color:#666;
}
.nowPay,.paybtn{
     height: 3.125rem;
    float: left;
}
.nowPay{
    width: 69%;
    background-color: #fff;
    padding-left:1.375rem;
    line-height: 3.125rem;
}
.nowPay span{
    display: inline-block;
    height: 3.125rem;
    vertical-align: bottom;
    line-height: 3.125rem;
}
.nowPay span:first-child{
    color:#666;
    font-size: 0.875rem;
}
.nowPay span:last-child{
    color:#35D0C5;
    font-size: 1.4375rem;
}
.paybtn{
    width: 31%;
    background-color: #35D0C5;
    text-align: center;
    color:#fff;
}
.paybtn p{
     line-height: 1.0625rem;
}
.paybtn p:first-child{
    margin-top:0.4374rem;
}
.fixbg-main{
    top:35%
}
.alerts {
    width: 18.75rem;
    height: 6.25rem;
    position: fixed;
    top: 13.375rem;
    left: 50%;
    margin-left: -9.375rem;
    z-index: 10000;
    background-color: rgba(0,0,0,.6);
    text-align: center;
    border-radius: 0.625rem;
    color: #fff;
    font-size: 1.0625rem;
    padding: 1.875rem 1.625rem;
}


/*noAppTitle*/
.noAppTitle{
    background: #00AFF0;
    height: 1.875rem;
    line-height:1.875rem;
    color: #fff;
    padding:0 1.25rem;
}
.noAppTitle .left{
    height: 100%;
    color: #FFFFFF;
    font-size: 0.875rem;
}
.noAppTitle .middle{
    text-align: center;
    height:100%;
}
.noAppTitle .middle img{
    width: 5.15rem;
}