.container{
	overflow-x: hidden;
}

.top-info{
	background: url("http://cdn2.picooc.com/web/res/fatburn/image/studentInfo/top-bg.jpg") no-repeat;
    background-size: 100% 100%;
	padding-top: 1.5625rem;
    /*padding-bottom: .5rem;*/
    position: relative;
}
.top-img{
	text-align: center;
	position: relative;
}
.top-img img{
	/*width: 15%;*/
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 50%;
}
.top-img .sex{
    position: absolute;
    left: 55%;
    top: 2.2rem;
    width: 5.3%;
    height: auto;
}
.account{
	padding:.8375rem 0;
	text-align: center;
	font-size: .9375rem;
	color: #fff;
}
.info-tag{
	/*margin: 1rem 0;*/
	width: 100%;
    position: relative;
    padding-bottom: .5rem;
}
.navBar{
    width: 1.625rem;
    height: .5rem;
    background-image: url("../image/studentInfo/tagIcon.png");
    background-size: 100% 100%;
    position: absolute;
    left: 46%;
    bottom: 0px;
}
.navBar img{
	width: 1.625rem;
	height: auto;
}
.nav-fixed{
	margin: 0; 
	margin-bottom: 1rem;
	position: fixed;
	top:0;
    background: #fff;
    z-index: 2;
}
.edit-item{
	padding: 1.03125rem 1.5625rem;
    font-size: 0.9375rem;
    color: #afc2d4;
    border-bottom: 1px solid rgba(51, 51, 51, 0.12);
    position: relative;
    line-height: .9375rem;
}
.edit-item span:nth-of-type(2){
	position: absolute;
	left:45%;
	color:#798692;
}
.info-item{
    padding: 1.03125rem 1.5625rem;
    font-size: 0.9375rem;
    color: #afc2d4;
    border-bottom: 1px solid rgba(51, 51, 51, 0.12);
    position: relative;
    line-height: .9375rem;
}
.infoEdit input{
    border: none;
    position: absolute;
    right: 3rem;
    text-align: right;
    color: #798692;
    font-size: .9375rem;
    top: 1.03125rem;
}
.text-item{
    position: absolute;
    right: 3rem;
    text-align: right;
    color: #798692;
    font-size: .9375rem;
    height: 1.125rem;
    line-height: 1.125rem;
   /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 9rem;*/
}
.info-img{
    width: .75rem;
    position: absolute;
    right: 1.5rem;
    top: 1.2rem;
}