body {
  background-color: #EEF4F9;
}
.rankTitle {
  background-color: #00AFF0;
  padding-top: 2.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.rankTitle .part {
  text-align: center;
}
.rankTitle .part .headImgBox {
  display: inline-block;
  position: relative;
}
.rankTitle .part .headImgBox .ranking {
  position: absolute;
  right: -1rem;
  top: -1rem;
  width: 2.0625rem;
}
.rankTitle .part .headImgBox .headImg {
  letter-spacing: 0;
  width: 3.4375rem;
  height: 3.4375rem;
  border: 0.125rem solid #ffffff;
  border-radius: 3.4375rem;
}
.rankTitle .part .headImgBox .number {
  position: absolute;
  right: 0;
  bottom: 0;
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
  line-height: 1rem;
  border-radius: 1.25rem;
  text-align: center;
  font-size: 0.875rem;
  border: 0.125rem solid #ffffff;
  color: #FFFFFF;
  background: #D9D9D6;
}
.rankTitle .part .headImgBox .number2 {
  background: #CEB4A7;
}
.rankTitle .middle {
  text-align: center;
  position: relative;
  top: -0.625rem;
}
.rankTitle .middle .headImgBox {
  display: inline-block;
  position: relative;
}
.rankTitle .middle .headImgBox .ranking {
  position: absolute;
  right: -1.28125rem;
  top: -1.28125rem;
  width: 2.5625rem;
}
.rankTitle .middle .headImgBox .headImg {
  letter-spacing: 0;
  width: 4.0625rem;
  height: 4.0625rem;
  border: 0.125rem solid #ffffff;
  border-radius: 4.0625rem;
}
.rankTitle .middle .headImgBox .number {
  position: absolute;
  right: 0;
  bottom: 0;
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
  line-height: 1rem;
  border-radius: 1.25rem;
  text-align: center;
  font-size: 0.875rem;
  border: 0.125rem solid #ffffff;
  color: #FFFFFF;
  background: #F7B355;
}
.rankTitle .rankName {
  padding-top: 0.875rem;
  font-size: 0.875rem;
  color: #FFFFFF;
}
.rankTitle .updateTime {
  padding-top: 0.5rem;
  padding-bottom: 0.3125rem;
  text-align: center;
  font-size: 0.75rem;
  color: #FFFFFF;
}
/*rankList*/
.rankList {
  background-color: #EEF4F9;
  padding: 1.25rem 0.9375rem;
}
.rankList .rankItem {
  background-color: #fff;
  box-shadow: 0 0.0625rem 0.1875rem 0 #cdd7e0;
  border-radius: 0.25rem;
  margin-bottom: 0.625rem;
  height: 5.625rem;
}
.rankList .rankItemActive {
  background-color: #EFF3F7;
}
.rankList .rankItem:last-child {
  margin-bottom: 0;
}
.rankList .rankItem .left {
  line-height: 5.625rem;
  font-size: 0.875rem;
  color: #666666;
}
.rankList .rankItem .left .headBox {
  display: inline-block;
  position: relative;
}
.rankList .rankItem .left .headBox .orderNum {
  font-size: 0.875rem;
  position: absolute;
  left: 0.5rem;
  top: 0.25rem;
  line-height: normal;
}
.rankList .rankItem .left .headBox .rank {
  position: absolute;
  width: 2.5rem;
  right: -0.625rem;
  top: 0.25rem;
}
.rankList .rankItem .left .headBox .head {
  width: 2.8125rem;
  height: 2.8125rem;
  border-radius: 2.8125rem;
  margin-left: 1.25rem;
  margin-right: 0.625rem;
}
.rankList .rankItem .right {
  padding-top: 1.40625rem;
}
.rankList .rankItem .right .fat {
  text-align: center;
}
.rankList .rankItem .right .fat .fatName {
  font-size: 0.75rem;
  color: #798692;
}
.rankList .rankItem .right .fat .fatSize {
  font-size: 1.125rem;
  color: #798692;
}
.rankList .rankItem .right .fat .fatSize .danWei {
  font-size: 0.75rem;
  color: #003800;
}
.rankList .rankItem .right .weight {
  text-align: center;
}
.rankList .rankItem .right .weight .weightName {
  font-size: 0.75rem;
  color: #798692;
}
.rankList .rankItem .right .weight .weightSize {
  font-size: 1.125rem;
  color: #798692;
}
.rankList .rankItem .right .weight .weightSize .danWei {
  font-size: 0.75rem;
  color: #003800;
}
.rankList .rankItem .right .rate {
  height: 2.8125rem;
  line-height: 2.8125rem;
  text-align: center;
  padding-top: 0.46875rem;
}
.rankList .rankItem .userName {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 4.5rem;
  position: absolute;
}
.rad-prg {
  position: relative;
}
.rad-con {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  text-align: center;
  width: 1.875rem;
  height: 1.875rem;
  line-height: 1.875rem;
  font-size: 0.75rem;
  color: #C1C7D2;
}
.indicatorContainer {
  display: inline-block;
  width: 1.875rem;
  height: 1.875rem;
}
.indicatorContainer canvas {
  width: 1.875rem;
  height: 1.875rem;
}
.indicatorContainer .daKaText {
  position: absolute;
  bottom: 0;
  padding: 0 0.3125rem;
  font-size: 0.5rem;
  width: 1.875rem;
  background-color: #fff;
}
.indicatorContainer .daKaTextActive {
  background-color: #EFF3F7;
}
.indicatorContainer .percentNum {
  padding-left: 0.25rem;
}
.indicatorContainer .percent {
  position: relative;
  left: -0.125rem;
  top: 0.125rem;
  transform: scale(0.5);
  -webkit-transform: scale(0.5);
}
