body{
    /*font-family:'黑体', PingFang, serif;*/
    background: url("../image/_receiveCoupon/bg.jpg") no-repeat center center;
    background-size: 100% 100%;
    /*height: 37.3125rem;*/
}
.receive{
    width: 19.78125rem;
    height: 24.03125rem;
    margin: 0 auto;
    background:rgba(255,255,255,0.2) url("../image/_receiveCoupon/bg.png") no-repeat;
    background-size: 100%;
    margin-top:4.25rem;
    padding: 1.625rem 2.3125rem;
    position: relative;
}
.receive .status{
    text-align: center;
}
.receive .status img{
    width: 3.125rem;
}
.receive .status2{
    text-align: center;
    font-size: 1.125rem;
    color: #fb8500;
    padding: 1.1875rem 0 1.0625rem 0;
}
.receive .statusFalse{
    color: #666c74;
}
.receive .content1{
    font-size: 0.875rem;
    text-align: justify;
}
.receive .content2{
    font-size: 0.875rem;
    text-align: center;
    padding: 0.3125rem 0 1.275rem 0;
}
.receive .xuying{
    width: 15.15625rem;
    height: 5.78125rem;
    background: url("../image/_receiveCoupon/bg2.png") no-repeat;
    background-size: 100%;
    display: table-cell;
    vertical-align: bottom;
    margin: 1.6875rem 0 1rem 0;
    padding: 0 1.125rem;
}
.receive .xuying .continue{
    font-size: 1.125rem;
    font-weight: bold;
    color: #555;
    height:3rem;
    line-height:3rem;
}
.receive .xuying .value{
    font-weight: bold;
    text-align: right;
    color: #fb5900;
    height:3rem;
    line-height:3rem;
}
.receive .xuying .value1{
    text-align: right;
    font-size: 1rem;
}
.receive .xuying .value2{
    font-size: 2rem;
}
.receive .xuying .term{
    font-size: 0.8125rem;
    height:2.5rem;
    line-height:2.5rem;
}
.receive .now{
    font-size: 1.125rem;
    color: #fff;
    background-color: #7fa9ff;
    text-align: center;
    border-radius: 0.1875rem;
    height:2.5rem;
    line-height:2.5rem;
    position: absolute;
    left: 2.3125rem;
    bottom: 1.8125rem;
    width: 15.15625rem;
}
.receive .girl{
    text-align: center;
    padding-bottom: 2.5625rem;
}
.receive .girl img{
    width: 6.375rem;
}