@charset "utf-8";
.report-item{
    padding:1.5rem 1.875rem 1.5rem 2.8125rem;
    position: relative;
    border-bottom: 1px solid #eaeaea;
}
.report-item .item-title{
    padding: .75rem 0;
    font-size: .875rem;
    color:#798692;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 12rem;
}
.report-item .item-content{
    font-size: .875rem;
    color: #798692;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-height: 1.4rem;
    max-height: 4.2rem;
}
.report-item .item-date{
    font-size: .75rem;
    color: rgba(121,134,146,0.6);
    position: absolute;
    top: 2.5rem;
    right: 1.875rem;
}
.report-item .item-icon{
    width: .5rem;
    height: .5rem;
    position: absolute;
    top: 2.55rem;
    left: 1.35rem;
    /*background-color: #1daffa;*/
    /*border-radius: 50%;*/
    border-radius: .25rem;
}
.report-item:nth-child(4n+1) .item-icon{
    background: url("http://cdn2.picooc.com/web/res/fatburn/image/student/report-icon1.png") no-repeat;
    background-size:.5rem .5rem;
}
.report-item:nth-child(4n+2) .item-icon{
    background: url("http://cdn2.picooc.com/web/res/fatburn/image/student/report-icon2.png") no-repeat;
    background-size:.5rem .5rem;
}
.report-item:nth-child(4n+3) .item-icon{
    background: url("http://cdn2.picooc.com/web/res/fatburn/image/student/report-icon3.png") no-repeat;
    background-size:.5rem .5rem;
}
.report-item:nth-child(4n) .item-icon{
    background: url("http://cdn2.picooc.com/web/res/fatburn/image/student/report-icon4.png") no-repeat;
   background-size:.5rem .5rem;
}
/*.report-item:nth-child(4n+1) .item-icon{
    background-color: #1daffa;
}
.report-item:nth-child(4n+2) .item-icon{
    background-color: #fa964d;
}
.report-item:nth-child(4n+3) .item-icon{
    background-color: #ff7fa9;
}
.report-item:nth-child(4n) .item-icon{
    background-color: #a5d660;
}*/
