@charset "utf-8";
.title{
	position: relative;
	margin: 1.25rem 0;
	padding-left: 3.125rem;
}
.title img{
	position: absolute;
	left: 2.125rem;
	top: 0.075rem;
	width: 0.9375rem;
}
.title span{
	color: #bed2e3;
	font-size: 0.9375rem;
	line-height: 1.25rem;
	font-weight: 700;
}
.icon-list{
	position: relative;
    padding: 2px 1.6875rem;
}
.icon{
    float: left;
    width: 21%;
    text-align: center;
    margin-right: 5%;
    margin-bottom: 1rem;
}
.icon:nth-of-type(4){
    margin-right:0;
}
.icon img{
	width: 100%;
}
.msg{
    margin: 1rem 0;
    padding: 0 1.4375rem;
}
#msgInfo{
    font-size: 0.875rem;
    color: #798692;
    text-align: left;
    padding: 0 0.25rem;
    height: 3.8rem;
    border: none;
    /* border: 1px solid #bed2e3; */
    resize: none;
    outline: none;
    line-height: 1.125rem;
}
textarea::-webkit-input-placeholder { 
	color: rgba(121,134,146,0.6); 
} 
textarea:-moz-placeholder { 
	color: rgba(121,134,146,0.6); 
} 
textarea::-moz-placeholder { 
	color: rgba(121,134,146,0.6); 
} 
textarea:-ms-input-placeholder { 
	color: rgba(121,134,146,0.6); 
} 
.getImg{
    margin: 0 1.4375rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #e4e7e9;
}
.getImg-img{
	position: relative;
	padding: 0 0.25rem;
	margin-bottom: 1rem;
}
.getImg-img .getImg-bg{
	width: 100%;
}
.getImg-img .getImg-bg{
	width: 100%;
	background: no-repeat center center;
	background-size:cover;
	/*-moz-box-shadow: 0px 5px 5px rgba(190,210,227,0.3); 
	-webkit-box-shadow: 0px 5px 5px rgba(190,210,227,0.3); 
	-o-box-shadow: 0px 5px 5px rgba(190,210,227,0.3); 
	box-shadow: 0px 5px 5px rgba(190,210,227,0.3); */
}
.getImg-img .getImg-bg1{
	width: 100%;
}
.getImg-img .getImg-bg1{
	width: 100%;
	background: no-repeat center center;
	background-size:cover; 
}
.getImg-add{
	position: relative;
    padding: 0 0.25rem;
	margin-bottom: 1rem;

}
.getImg-add .getImg-bg1{
	width: 100%;
	/*box-shadow: 0px 5px 5px rgba(190,210,227,0.3);*/
}
.getImg-delete{
	position: absolute;
	top: 0.125rem;
	right: 0.625rem;
	width: 1rem;
}
.footbtn{
	position: relative;
	left: 0;
	/*bottom: 2.5rem;*/
	width: 100%;
	padding: 0 2rem;
	margin-bottom: 2.5rem;
}
.footbtn-btn{
	text-align: center;
	color: #fff;
	font-size: 1.125rem;
	height: 2.5rem;
	line-height: 2.5rem;
	background: #bbb;
	-moz-border-radius: 1.25rem;
	-webkit-border-radius: 1.25rem;
	-o-border-radius: 1.25rem;
    border-radius: 3px;
}
.bigImg{
	display: none;
	position: fixed;
	background: rgba(0,0,0,1);
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}
.bigImg-li{
	/*position: absolute;
	left: 0;
	top: 50%;*/
	background: rgba(0,0,0,1) no-repeat center center;
	background-size: contain; 
}
.bigImg-li img{
	width: 100%;
}
.bigImg-delete{
	position: absolute;
	top: 2rem;
	right: 2rem;
	width: 2rem;
	z-index: 999;
}
.swiper-pagination-bullet{
	background: rgba(255,255,255,0.7);
}
.swiper-pagination-bullet-active{
	background: #ffffff;
}
.selectCard{
    padding: 0 1.6875rem;
    color: #798692;
    font-size: .75rem;
    margin-bottom: 1.375rem;
}


















