@charset "utf-8";

/*/*第二页*/
.msgType2 .list{
	/*margin-bottom: 1rem;*/
	/* main绝对定位，进行内部滚动 */
	position: relative;
}
.msgType2 .noRecord{
	width: 100%;
	margin-top: 5rem;
    font-size: .9375rem;
    color: #b5b5b5;
    text-align: center;
}
.msgType2 .part{
	position: relative;
	/*padding: 1rem 0 1rem 3.75rem;*/
    padding: 1rem 1.25rem 1rem 5rem;

}
.msgType2 .line-length{
	background: url(http://cdn2.picooc.com/web/res/fatburn/image/student/student-17.png) repeat-x bottom left;
	background-size: 100% 1px;
}
.msgType2 .line-length:last-of-type {
	background: none;
}
.msgType2 .part:last-child{
	background: none;
}

.msgType2 .partLeft{
	position: absolute;
	/*left: 0;*/
    left: 1.25rem;
	top: 0.75rem;
}
.msgType2 .partLeft3{
	position: absolute;
	/*left: 0;*/
    left: 1.25rem;
	top: 2.8rem;
}
.msgType2 .partLeft5{
	position: absolute;
	/*left: 0;*/
    left: 1.25rem;
	top: 0.8rem;
}
.msgType2 .partLeft img{
	width: 2.5rem;
	height: 2.5rem;
	-moz-border-radius: 1.25rem;
	-webkit-border-radius: 1.25rem;
	-o-border-radius: 1.25rem;
	border-radius: 1.25rem;
}
.msgType2 .partLeft3 img{
	width: 2.5rem;
	height: 2.5rem;
	-moz-border-radius: 1.25rem;
	-webkit-border-radius: 1.25rem;
	-o-border-radius: 1.25rem;
	border-radius: 1.25rem;
}
.msgType2 .partLeft5 img{
	width: 2.5rem;
	height: 2.5rem;
	-moz-border-radius: 1.25rem;
	-webkit-border-radius: 1.25rem;
	-o-border-radius: 1.25rem;
	border-radius: 1.25rem;
}
.msgType2 .partRight-type2{
	position: relative;
}
.msgType2 .partRight-type2 img{
	position: absolute;
	top: 0.75rem;
	right: 0;
	width: 2.3125rem;
}
.msgType2 .partRight-type2 .tag{
	position: absolute;
	top: 0.5625rem;
	right: 0;
	font-size: 0.75rem;
	height: 1.125rem;
	line-height: 1.125rem;
	color: #ffffff;
	padding: 0 0.35rem 0 0.75rem;
	background: url(http://cdn2.picooc.com/web/res/fatburn/image/student/student-20.png) no-repeat;
	background-size: 100% 100%;
}
.msgType2 .partRight-type2-name{
    font-size: .9375rem;
    color: #798692;
    line-height: 1.375rem;
    font-weight: 700;
}
.msgType2 .partRight-type2-date{
    font-size: 0.75rem;
    color: rgba(121, 134, 146, 0.6);
    line-height: 1rem;
}
.msgType2 .partRight-type2-date span{
	font-size: 0.75rem;
	margin-right: 6px;
}
.msgType2 .partRight-p1{
	color: #798692;
	font-size: 0.9375rem;
	line-height: 1.5rem;
	margin: 0.5rem 0 0.625rem;
}
.msgType2 .partRight-img img{
	width: 100%;
}
.msgType2 .partRight-img-li{
	border: 2px solid #fff;
	background: no-repeat center center;
	/*background-size: 96% 96%;*/
	background-size: cover;
	-webkit-user-select:none;
	-moz-user-select:none;
	-o-user-select:none;
	user-select:none;
}
.msgType2 .partRight-img-li2{
	border: none;
	background: no-repeat center center;
	/*background-size: 96% 96%;*/
	background-size: cover; 
}
.msgType2 .partRight-type1{
	position: relative;
	line-height: 2rem;
}
.msgType2 .partRight-type1-date{
	float: left;
	color: #bed2e3;
	font-size: 0.875rem;
	margin-right: 6px;
	line-height: 2rem;
}
.msgType2 .partRight-type1-delete{
	float: left;
	color: #798692;
	font-size: 0.75rem;
	line-height: 2rem;
}
.msgType2 .partRight-type1-zan{
	position: relative;
	display: inline-block;
	float: right;
	margin-right: 1.875rem;
	padding-left: 1.125rem;
}
.msgType2 .partRight-type1-zan span{
	font-size: 0.75rem;
	color: #798692;
	line-height: 2rem;
}
.msgType2 .partRight-type1-zan img{
	position: absolute;
	top: 0.5625rem;
	left: 0;
	width: 0.875rem;
	margin-right: 3px;
}
.msgType2 .partRight-type1-share{
	position: absolute;
	display: inline-block;
	top: 0;
	right: 4rem;
	width: 1.5rem;
	height: 1.5rem;
	padding-top: 0.5rem;
}
.msgType2 .partRight-type1-share img{
	position: absolute;
	top: 0.6625rem;
	left: 0;
	width: 0.875rem;
}
.msgType2 .partRight-type1-msg{
	position: absolute;
	display: inline-block;
	right: 0;
	top: 0;
	width: 2rem;
	padding-left: 1rem;
}
.msgType2 .partRight-type1-msg img{
	width: 1rem;
}
.msgType2 .partRight-msg{
	position: relative;
	margin-top: 0.5rem;
	background: #f2f6f9;
    border-radius: 2px;
}
.msgType2 .partRight-msg .row:last-child{
	background: none;
}
.msgType2 .partRight-msg2{
	background: #ffffff;
}
.msgType2 .partRight-msg-bg{
	position: absolute;
	top: -0.5rem;
	right: 0.625rem;
	width: 3rem;
	height: 0.5rem;
	background: url(http://cdn2.picooc.com/web/res/fatburn/image/student/student-14.png) no-repeat top right;
	background-size: auto 100%;
}
.msgType2 .partRight-msg{
	padding: 0rem 0.75rem;
}
.msgType2 .msgZan{
	position: relative;
	padding-left: 1.8125rem;
	line-height: 1.5rem;
	margin-top: 0.75rem;
	padding-bottom: 0.75rem;
	background: url(http://cdn2.picooc.com/web/res/fatburn/image/student/student-34.png) bottom left repeat-x;
	background-size: 100% 1px;
}
.msgType2 .msgZan img{
	position: absolute;
	left: 0.25rem;
	top: 0.25rem;
	width: 0.875rem;
}
.msgType2 .msgZan span{
	font-size: 0.875rem;
	color: #1daffa;
	line-height: 1.5rem;
}
.msgType2 .msgZanName1{
	display: inline;
	font-size: 0.875rem;
	color: #1daffa;
	line-height: 1.5rem;
	vertical-align: bottom;
	word-break:break-all;
}
.msgType2 .msgZanName2{
	display: inline;
	font-size: 0.875rem;
	color: #ffa200;
	line-height: 1.5rem;
	vertical-align: bottom;
	word-break:break-all;
}
.msgType2 .msgInfo{
	position: relative;
	padding-left: 1.8125rem;
}
.partLeft-headerHref{
	display: block;
}
.msgInfo-headerHref{
	display: block;
}
.msgType2 .msgInfo-header{
	position: absolute;
	left: 0;
	top: 0.6875rem;
	width: 1.375rem;
	height: 1.375rem;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}
.msgType2 .msgInfo-mian{
	color: #798692;
	font-size: 0.875rem;
	letter-spacing: 1px;
	padding: 0.635rem 0;
	line-height: 1.5rem;
	background: url(http://cdn2.picooc.com/web/res/fatburn/image/student/student-34.png) bottom left no-repeat;
	background-size: 100% 1px;
}
.msgType2 .msgInfo-msg{
	/*word-break: break-all;*/
	word-wrap:break-word;
	display: block;
}
.msgType2 .msgInfo-msg2{
	word-break: break-all;
	display: block;
}
.msgType2 .msgInfo-name{
	display: inline;
	color: #1daffa;
	/*font-size: 0.75rem;
	letter-spacing: 1px;*/
}
.msgType2 .msgInfo-msg a:first-child{
	display: inline-block;
	width: auto;
}
.msgType2 .msgInfo-name span{
	color: #798692;
}
.msgType2 .msgInfo-name2{
	display: inline;
	color: #ffa200;
	/*font-size: 0.75rem;
	letter-spacing: 1px;*/
}
.msgType2 .msgInfo-name2 span{
	color: #798692;
}
.msgType2 .msgInfo:last-child .msgInfo-mian{
	background: none;
}
.campstatusContainer{
	display: block;
	position: relative;
	padding-bottom:0.6rem;
	padding-top: 0.6rem;
	height: auto;
	line-height: 2rem;
	margin-bottom: 0.6rem;
	margin-top: 0.6rem;
	background-color: #fff;
}
.campstatusContainer .ttab{
/*	display: box; 
	display: -webkit-box;*/
	position: absolute;
	bottom: 0;
	right: 1.25rem;
	width: 4rem;
	height: 2rem;
	border-radius: 14px; 
	background-color: #e4b99e;
	z-index: 10;
	background:url(../image/studentList/ttab.png) center center no-repeat;
	background-size: 100% 100%;
/*	-webkit-box-pack:center; */
/*	-webkit-box-align:center; */
}
/*.campstatusContainer .tttab{
	width: 0.6875rem;
	height: 0.7257rem;
	background:url(../image/studentList/ttab.png) center center no-repeat; 
	background-size: 100% 100%;
	margin-top: 0.45rem;
}*/
.campstatusContainer .tabtype{
	font-size: 0.75rem;
	color: #fff;
	padding-left: 1.6rem;
	display: inline;
	vertical-align:50%;
}
.campstatus2{
	display: block;
	background-color:rgba(190,210,227,0.25);
	height:0.8125rem;
	line-height: 0.8125rem;
}
.type-container{
	display: none;
	width: 11.8125rem;
	height: 12rem;
	background:url(../image/studentList/bg.png) center center no-repeat; 
	background-size: 100% 100%;
	position: absolute;
	top: 2.5rem;
	right: 0.9rem;
	z-index: 120;
	padding: 1.3rem 1rem;
}
.shaixuan{
	position: relative;
	width: 100%;
	/*z-index: 120;*/
	z-index: 10;
	background-color: #fff;
	display: none;
	/*height: 3.2125rem;*/
}

.icon-list{
	position: relative;
    padding: 2px 1.6875rem;
}
.icon{
    float: left;
    width: 45%;
    text-align: center;
    margin-right: 10%;
    margin-bottom: 0.7rem;
}
.icon:nth-of-type(even){
    margin-right:0;
}
.icon img{
	width: 100%;
}

.typeContainer{
	display: none;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9;
}
