body{
    background-color: #00aef3;
}
.container{
	color: #fff;
}
a{
    color:#000;
}
.text1{
	font-size: 1.4375rem;
}
.text2{
	margin-top: 2rem;
	font-size: 1rem;
	line-height: 1.7;
}
.text3{
	margin-top: 2.5rem;
	font-size: 1.25rem;
}
.text4{
	margin-top: .5rem;
	font-size: 1rem;
	line-height: 1.7;
}
.content{
	padding:2.5rem;
	padding-bottom: 4rem;
	position: relative;
}
.btn{
	padding: .5rem;
	border:1px solid #fff;
	text-align: center;
	border-radius: 3px;
	position: absolute;
    bottom: 1.5rem;
    left: 10%;
    width: 80%;
}