//动画样式

//播放声音
@-webkit-keyframes viocePlay {
  0% {
    width: 3px
  }
  100% {
    width: 16px
  }
}
@keyframes viocePlay {
  0% {
    width: 3px
  }

  100% {
    width: 16px
  }
}

//闪烁
.shine1 {
  display: inline-block!important;
  animation: m1star 2s .5s linear backwards infinite;
  -webkit-animation: m1star 2s .5s linear backwards infinite;
}

.shine2 {
  animation: m2star 2s .5s linear backwards infinite;
}

//icon缩放动画
@keyframes m1star {
  0%,100% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }

  33% {
    transform: scale(.95);
    -webkit-transform: scale(.95);
  }

  66% {
    transform: scale(1.1);
    -webkit-transform: scale(1.1)
  }
}
@-webkit-keyframes m1star {
  0%,100% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }

  33% {
    transform: scale(.95);
    -webkit-transform: scale(.95);
  }

  66% {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
  }
}

@keyframes m2star {
  0%,100% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }

  33% {
    transform: scale(.95);
    -webkit-transform: scale(.95);
  }

  66% {
    transform: scale(1.05);
    -webkit-transform: scale(1.05)
  }
}
@-webkit-keyframes m2star {
  0%,100% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }

  33% {
    transform: scale(.95);
    -webkit-transform: scale(.95);
  }

  66% {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
  }
}

//晃动
.animate-shake {
  animation: shake 1.5s .2s;
  -webkit-animation: shake 1.5s .2s 1;
}
@-webkit-keyframes shake {
  0%,100% {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0)
  }

  10%,30%,50%,70%,90% {
    -webkit-transform: translate3d(-12px,0,0);
    transform: translate3d(-12px,0,0)
  }

  20%,40%,60%,80% {
    -webkit-transform: translate3d(12px,0,0);
    transform: translate3d(12px,0,0)
  }
}
@keyframes shake {
  0%,100% {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0)
  }

  10%,30%,50%,70%,90% {
    -webkit-transform: translate3d(-12px,0,0);
    transform: translate3d(-12px,0,0)
  }

  20%,40%,60%,80% {
    -webkit-transform: translate3d(12px,0,0);
    transform: translate3d(12px,0,0)
  }
}

//排行榜的动画
.animate-zoomOutRight {
  animation: zoomOutRight 1s 0s both 1;
}

/*the animation definition*/
@-webkit-keyframes zoomOutRight {
  100% {
    opacity: .7;
    -webkit-transform: translate3d(0, 34%, 0) scale3d(.01,.01,.01);
    transform: translate3d(0, 34%, 0) scale3d(.01,.01,.01);
  }
}
@keyframes zoomOutRight {
  100% {
    opacity: .7;
    -webkit-transform: translate3d(0, 34%, 0) scale3d(.01,.01,.01);
    transform: translate3d(0, 34%, 0) scale3d(.01,.01,.01);
  }
}


.animate-rotate {
  animation: rotatez .6s 0s backwards ease-out 1;
}

@keyframes rotatez {
    0% {
      transform: rotateZ(0deg);
    }

    100% {
      transform: rotateZ(360deg);
    }
}

@-webkit-keyframes rotatez {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}

