//返回titleBar
.back-title-bar{
  //position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  height: px2rem(80);
  line-height: px2rem(80);

  background-color: #42d692;
  color: #fff;
  font-size: px2rem(30);

  .title-bar-back{
    padding-left: px2rem(30);
  }
  .title-bar-title{
    text-align: center;
    display: inline-block;
    width: 76%;
  }
}

.exchange-record-view{
  background-color: #EEEFF3;
}


.exchange-item{
  padding: px2rem(20);
  margin-top: px2rem(20);
  background-color: #fff;
}

.exchange-item-surface{
  height: px2rem(120);
}

.exchange-item-info{
  display: inline-block;
  padding-left: px2rem(20);
  width: 80%;
  vertical-align: top;
}

.exchange-item-price{
  float: right;
  display: inline-block;
  padding-left: px2rem(20);
}

.exchange-item-time{
  float: right;
  display: inline-block;
  padding-left: px2rem(20);
}

.exchange-item-station{
  padding-top: px2rem(20);
}