.GH-guider {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  font-size: .8rem;
  color: #fff;
  background-color: black !important;
  opacity: 0.8;

  .description {
    text-align: center;
    line-height: 1.4;
    margin-top: px2rem(30);
  }

  img {
    display: block;
    width: 7rem;
    height: 7rem;
    margin: 1rem auto;
  }

  .blank {
    height: 6px;
    background-color: #fff;
  }
}

.modal-mask {
  .show{
    display: block;
    background: transparent;
  }
  
  .description{
    color: #fff;
  }

}