.others {
  margin-bottom: 4rem!important;
  a {
    font-size: .75rem;
    line-height: 2;
    color: #40b0f0;
    text-decoration: underline;
  }
  a:visited {
    color: #40b0f0;
  }
  .title {
    font-size: .85rem;
    font-weight:bold;
    margin-bottom: .3rem;
  }
  .number {
    margin-left: 4px;
    color: #666;
    font-size: .7rem;
  }
  .other-links {
    width:10.5rem;
  }
}