<div class="page" ng-controller="createController">
    <div ng-include="'./views/create/header.html'"></div>
    <div class="page__hd" style=" text-align:center;padding:5px 0px 0px 0px">
        <img style="width:100%;" src="./imgs/hf.jpg" />
    </div>
    <div class="page__bd">
        <div class="weui-cells weui-cells_form" style="margin-top:0;">
          <div class="weui-cell">
              <div class="weui-cell__hd"><label for="" class="weui-label">标题</label></div>
              <div class="weui-cell__bd">
                  <input class="weui-input" id="title" ng-model="title" >
              </div>
          </div>
          <div class="weui-cell">
              <div class="weui-cell__hd"><label for="" class="weui-label">群有效日期</label></div>
              <div class="weui-cell__bd">
                  <input class="weui-input" id="valid_date" ng-model="valid_date" type="date">
              </div>
          </div>
          <div class="weui-cell">
            <div class="weui-cell__bd">
              <div class="weui-uploader">
                <div class="weui-uploader__hd">
                  <p class="weui-uploader__title">图片上传</p>
                  <div class="weui-uploader__info"></div>
                </div>
                <div class="weui-uploader__bd">
                  <ul class="weui-uploader__files" id="uploaderFiles">

                  </ul>
                  <div class="weui-uploader__input-box"  ng-click="chooseImage()">
                    <!--<input id="uploaderInput"  class="weui-uploader__input" type="file" accept="image/*" multiple="">-->
                  </div>
                  <div style=" font-size:13px; color:#f00;">
                      <p>1:上传你的群二维码</p>
                      <p>2:二维码大小不要超过1M</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="weui-loadmore" ng-show="showLoadding">
      <i class="weui-loading"></i>
      <span class="weui-loadmore__tips">正在处理中，请稍等</span>
    </div>
</div>
