.qqPano,.pano{
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
}
p{
    color:#FFFFFF;
    line-height: 1.4;
    text-align:justify;
}
p span{
    color:#FFFFFF !important;

}
p img{
    width: 100% !important;
    height: 100% !important;
}