@import '../style/base/base.scss';

Page{
  background: #F6F5EA;
}

swiper{
  height: 84px;
}

.show_title_text{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  color: #737373;
  background: #ffffff;
  >view{
    margin-left: 3px;
  }
  .title_icon{
    width: 14px;
    height: 20px;
    >image{
      width: 100%;
      height: 100%;
      display: block;
    }
  }
}

.form_journey{
  width: 100%;
  height: 1px;
  background: #FFFFFF;
  border-radius: 15px 15px 0 0;
  position: fixed;
  bottom: 0;
  opacity: 0;
  z-index: 999999;
  border-top: 1px solid #EDEDF0;
  .select_identity{
    font-size: 16px;
    color: #888888;
    display: flex;
    border-bottom: 1px solid #EDEDF0;
    justify-content: space-around;
    >view{
      padding: 7px 0 10px 0;
      border-bottom: 3px solid #ffffff;
    }
    .select_identity_active{
      border-bottom: 3px solid #383838;
      color: #383838;
    }
  }

/*  .select_destination{
    display: flex;
    align-items: center;
    color: #888888;
    font-size: 13px;
    text-align: center;
    padding: 0 20px;
    padding-bottom: 10px;
    >view:nth-of-type(1){
      flex: 4;
    }
    >view:nth-of-type(2){
      flex: 2;
    }
    >view:nth-of-type(3){
      flex: 4;
    }
  }*/
  .select_multiSelect{
    /*display: flex;
    align-items: center;*/
    /*justify-content: space-around;*/
    overflow: hidden;
    .select_tiem{
      /*flex: 1;*/
      width: 49.5%;
      float: left;
      border-right: 1px solid #EDEDED;
      border-bottom: 1px solid #EDEDED;
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 15px 0px;
      .icon{
        margin-right: 10px;
        flex: 4;
        image{
          display: block;
          width: 24px;
          height: 24px;
          float: right;
        }
      }
      .common_select{
        flex: 6;
        font-size: 13px;
        color: #888888;
        .time{
          color: #383838;
          font-weight: 600;
          width: 80px;
          // white-space: nowrap;
          // overflow: hidden;
          // text-overflow: ellipsis;
        }
      }
    }
    .select_tiem_noBorder{
      border-right: none;
    }
  }
  .commit_journey{
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-top: 65px;
    font-size: 16px;
    margin-bottom: 10px;
    .call_off{
      flex: 2;
      border: 1px solid #383838;
      color: #383838;
      border-radius: 15px;
      padding: 10px 15px;
      text-align: center;
      margin: 0 15px;
      margin-right: 0;
    }
    >form{
      flex: 8;
    }
    .affirm{
      background: #383838;
      border-radius: 15px;
      color: #ffffff;
      text-align: center;
      /*padding: 10px 15px;*/
      margin: 0 15px;
    }
  }
}

.code_journey_info{
  width: 100%;
  .code_journey_title{
    padding: 15px;
    font-size: 18px;
    color: #2E2E2E;
    font-weight: 600;
    border-bottom: 1px solid #EDEDED;
    text-align: center;
    >text{
      font-weight: normal;
      color: #888888;
      border: 1px solid #888888;
      padding: 0 20px;
      font-size: 14px;
      border-radius: 8px;
      margin-left: 8px;
      display: inline-block;
    }
  }
  .navigation{
    display: flex;
    align-items: center;
    /*justify-content: space-around;*/
    border-bottom: 1px solid #EDEDED;
    >view{
      flex: 5;
      padding: 10px 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      .nav_img{
        width: 28px;
        height: 28px;
        background: #cccccc;
        margin-right: 10px;
        >image{
          display: block;
          width: 100%;
          height: 100%;
        }
      }
      .nav_info{
        font-size: 16px;
        color: #383838;
        font-weight: 600;
        white-space: nowrap;
        .nav_loaction{
          font-size: 13px;
          color: #888888;
          font-weight: normal;
        }
      }
    }
    .navigation_up{
      border-right: 1px solid #EDEDED;
    }
  }
  .car_master{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:10px 15px;
    .car_master_info{
      flex: 7;
      display: flex;
      align-items: center;
      justify-content: space-around;
      .car_img{
        width: 70px;
        height: 70px;
        margin-right: 10px;
        >image{
          width: 100%;
          height: 100%;
          display: block;
          background: #cccccc;
          border-radius: 50%;
        }
      }
      .car_news{
        flex: 3;
        .car_master_name{
          font-size: 17px;
          color: #383838;
          >text{
            font-size: 10px;
            color: #888888;
            margin-left: 10px;
          }
        }
        .car_master_code{
          font-size: 10px;
          color: #888888;
          margin-top: 8px;
          >text{
            padding: 5px 10px;
            border-radius: 8px;
            background: #F2F2F2;
            color: #383838;
            font-size: 13px;
            margin-right: 8px;
          }
        }
      }
    }
    .car_timeAndPhone{
      color: #383838;
      font-size: 17px;
      >view:first-child{
        text-align: right;
      }
      >view:last-child{
        border: 1px solid #888888;
        padding: 0 15px;
        font-size: 14px;
        color: #888888;
        border-radius: 8px;
      }
    }
  }
  .car_passenger{
    overflow: hidden;
    margin:0 15px;
    .car_passenger_img{
      width: 60px;
      height: 60px;
      margin-right: 15px;
      float: left;
      >image{
        width: 100%;
        height: 100%;
        display: block;
        border-radius: 50%;
      }
    }
    .car_passenger_img:last-child{
      margin-right: 0;
    }
  }
}

.car_foot_btn{
  width: 100%;
  position: absolute;
  bottom: -55px;
  color: #ffffff;
  .baoqilai{
    background: #383838;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: 0 15px;
    border-radius: 15px;
    >view{
      padding: 10px 0;
    }
  }
}

.tab_index{
  width: 100%;
  height: 141px;
  background: #F6F5EA;
  position: fixed;
  bottom: 0;
  overflow: hidden;
/*  // .index_common{
  //     width: 80%;
  //     height: 45px;
  //     margin: 0 auto;
  //     margin-top: 5px;
  //     display: flex;
  //     align-items: center;
  //     justify-content: space-around;
  //     padding: 15px 20px;
  //     background: #ffffff;
  //     border-radius: 10px;
  //     border: 1px solid #EDEDED;
  //     z-index: 999;
  // }
  // .selct_work_home{
  //   font-size: 19px;
  //   font-weight: 600;
  //   color: #2e2e2e;
  //   .select{
  //     display: flex;
  //     align-items: center;
  //     >image{
  //       width: 40px;
  //       height: 40px;
  //       display: block;
  //       margin-right: 10px;
  //     }
  //   }
  // }*/
  .code_info{
    width: 100%;
    height: 100%;
    border-radius: 12px 12px 0 0;
    background: #ffffff;
    .code_info_title{
      border-bottom: 1px solid #ededf0;
      display: flex;
      align-items: center;
      padding: 16px;
      .code_icon{
        width: 18px;
        height: 18px;
        margin-right: 5px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #73C2FF;
        >image{
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background: #ffffff;
          display: block;
        }
      }
      .code_text{
        font-size: 13px;
        color: #484848;
      }
    }
    .code_btn{
      margin: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      .code_btn_home, .code_btn_commpany{
        background: #484848;
        padding: 8px 35px;
        width: 100px;
        height: 40px;
        .code_btn_title{
          color: #ffffff;
          font-size: 15px;
          white-space: nowrap;
        }
        .code_btn_location{
          font-size: 10px;
          white-space: nowrap;
          color: #737373;
        }
      }
      .code_btn_home{
        margin-right: 1px;
        border-radius: 12px 2px 2px 12px;
      }
      .code_btn_commpany{
        margin-left: 1px;
        border-radius: 2px 12px 12px 2px;
      }
      .code_flex_style{
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

button::after{
  border: none;
}
