/*全局背景*/
body{
    background: #E5E5E5;
    font-family: "Microsoft YaHei";
}
/*导航背景、字色*/
.nav-bg{
    background: #72B943;
    color: #ffffff;
}
/*普通状态按钮背景色、字色*/
.btn-bg{
    background: #50AB34;
    color: #ffffff;
}

/*按下状态按钮背景色、字色*/
.active-btn-bg{
    background: #cccccc;
    color: #000000;
}

/*价格字色*/
.price-num-color{
    color: #FF1A1A;
}
/*协议文本字色*/
.text-color{
    color: #7DBE52;
}
/*绿色文本颜色*/
.green-text-color{
    color:#50AB34 ;
}
/*白色文本颜色*/
.white-text-color{
    color:#ffffff;
}

/*导航按钮背景、字色*/
.nav-btn-bg{
    background: #ffffff;
    color: #AEAEAE;
}

/*消息中心有序列符号颜色*/
.tip-icon-color{
    color: #FF5816;
}

/*购物车背景、字色*/
.shopCar-bg{
    background: #40434A;
    color: #ffffff;
}

/*清除组件上的margin*/
.clear-row-margin{
	margin-left: 0;
	margin-right: 0;
}

/*无底边距*/
.tool-container-no-bottom{
	margin-bottom: 0;
}

/*小底边距*/
.tool-container-sm-bottom{
	margin-bottom: 1.5rem;
}

/*大底边距*/
.tool-container-lg-bottom{
	margin-bottom: 6rem;
}
/*无边框*/
.no-border{
    border:0;
}
/*文本溢出省略*/
.text-clip{
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}



