

/*-------------------------------------------王云夫------------------------------------------*/
/*导航栏样式开始*/

.header-box{
    /*background: #72B943;*/
    height:4.5rem;
    line-height:4.5rem;
    font-size: 1.6rem;
}
.header-box>div:nth-child(2){
    text-align: right;
    font-size: 1.4rem;
}

/*导航栏样式结束*/

/*导航栏菜单样式开始*/
.nav-list{
    font-size: 1.2rem;
    line-height: 4.5rem;
    background: #ffffff;
}
.nav-list>div{
    padding:0;
    text-align: center;
    border-right: 1px solid #cccccc;
}
.nav-list>div:last-child{
    border-right:0;
}
.nav-list>div>span:last-child{
    color: #FF0303;
}
.nav-list img{
    width:1.6rem;
    height:1.6rem;
}
/*导航栏菜单样式结束*/


/*消费金额开始*/
.consume-box-sty{
    line-height:4.0rem;
    text-align: right;
    background: #E5E5E5;
}
/*消费金额结束*/

/*待确认订单列表样式*/
.list-box{
    background: #ffffff;
}

.list-box>div{
    padding:1rem .5rem;
    height: 10rem;
    border-bottom: 1px solid #E4E4E4;
}
.list-box>div:first-child{
    border:0;
}
.img-box img{
    max-width:100%;
    height:auto;
}
.dis-tab{
    display: table;
    height:100%;
    width:100%;
}
.dis-tab-cell{
    display: table-cell;
    vertical-align: middle;
}
.msg-box{
    max-width:100%;
    /*overflow: hidden;*/
    /*text-overflow:ellipsis;*/
    /*white-space: nowrap;*/
}
.msg-box>div{
    line-height:2;
}
.operation-box{
    text-align: left;
    padding:0!important;
}
.operation-box .dis-tab-cell>div:last-child{
    position: relative;
}
.operation-box h4{
    display: inline-block;
}
.operation-box button{
    border-radius: 1.5rem;
}
.right-icon{
    position: absolute;
    top:-1.2rem
}
.text-center{
    text-align: center;
}
.text-color2 {
    color: #999999;
    text-align: center;
}
.tamendbj {
    background-color: white;
}
.text-right{
    text-align: right;
}
/*待确认订单列表样式*/


/*-------------------------------------------王云夫结束------------------------------------------*/




/**
 * 第一组组件样式区
 */

.gr_box {
    background-color: #FFFFFF;
    border-bottom: 1px solid darkgray;
}

.gr_box>div:first-child {
    line-height: 4.5rem;
}

.gr_box .icon {
    width: 3rem;
}

.gr_box2 {
    text-align: right;
    padding-right: 1rem;
    line-height: 4.5rem;
}

.header_icon {
    width: 2rem;
}

.img_go {
    width: 1rem;
}

.BottonHeight {
    height: 0.1rem;
}


/*
 * END
 */


/*
 * 第三组组件样式区
 */
/*王云夫 2016.3.30：导航菜单begi*/
.nav-fldh{
    padding:1rem;
    line-height:3rem;
    background-color: white;
}
.nav-fldh>div{
    padding:0;
    text-align: center;
}
.nav-fldh>div:last-child{
    border-right:0;

}
.nav-fldh>div>span:last-child{
    color:#282828;
}
.nav-fldh img{
    width:4rem;
    height:4rem;
}
/*王云夫 2016.3.30：导航菜单begi*/

/*王云夫 2016.3.30：标题“最新订购”*/
.biaoti-box{
    width: 100%;
}
.biaoti-box span{
    width:6rem;
    line-height:4rem;
    background-color: #72B943;
    border-radius: 0 2rem 2rem 0;
    padding:0.8rem;
    color:white;
}
/*王云夫 2016.3.30：标题“最新订购”end*/

/*王云夫 2016.3.30：欢迎光临源生汇*/
.consume-box{
    line-height:4.0rem;
    text-align:left;
    background: #E5E5E5;
}
.consume-box .bhygl{
    color: #ff784f;background-color:white; font-size: 1.2rem;
}
.consume-box.bhygl img{
    width:4px;
}
/*王云夫 2016.3.30：欢迎光临源生汇end*/

/*王云夫 2016.3.30：销量列表*/
.lb-box>div{
    padding:1rem .5rem;
    overflow: hidden;
    background-color: #FFFFFF;
}
.xiaol-box{
    text-align:center;
    background-color: white;
    margin: 0;
}
.xiaol-box>.lib_box:nth-child(2n)>div{
    border: 0;
}
.xiaol-box .lib_box{
    list-style-type:none;
}
.border-right{
    border-right: 1px solid darkgray;
}
/*王云夫 2016.3.30：销量列表end*/

/*王云夫 2016.3.30：底部导航*/

.dbdh-fixed{
    bottom:0;
    left:0;
    z-index:9999;
}

.dbdh_box{
    position: fixed;
    bottom:0;
    left:0;
    height:6rem;
    background-color: white;
    line-height:4.5rem;
    padding: 0;
    margin: 0;
    z-index: 9999;
}
.dbdh_box .dhgn_box{
    width: 18%;
    line-height:2.4rem;
    list-style-type: none;
    float: left;
    margin-left:0.5rem;
    text-align: center;
    padding-top: 1rem;
}
.dbdh_box .dhgn_box img{
    width:2rem;
}
.dbdh_box .dhgn_box span{
    font-size:1.2rem;
}
/*王云夫 2016.3.30：底部导航end*/
/*
 * 王云夫 2016.3.30：第三组组件样式区The end
 */

/**
 * 第四组组件样式区
 */


/*作者：邓  时间：2016-03-29 描述：呼叫小源-row1*/

.hjxy_r1 {
    margin: 0.5rem 1.5rem;
}

.hjxy_r1>div>div:first-child {
    text-align: center;
}

.hjxy_r1>div>div:first-child img {
    width: 8rem;
    height: 8rem;
}

.hjxy_r1>div>div:last-child {
    margin-top: 1.5rem;
}

.hjxy_r1_phone {
    font-size: x-large;
    font-weight: 400;
}


/*作者：邓  时间：2016-03-29 描述：呼叫小源-row1 END*/


/*作者：邓  时间：2016-03-30 描述：呼叫小源-row2*/

.hjxy_r2 {
    margin: 0.5rem 1.5rem;
}

.hjxy_r2>div>div:first-child {
    text-align: center;
}

.hjxy_r2>div>div:first-child img {
    width: 8rem;
    height: 8rem;
}

.hjxy_r2>div>div:last-child {
    margin-top: 1.5rem;
}

.hjxy_r2_QQ {
    font-size: x-large;
    font-weight: 400;
}


/*作者：邓  时间：2016-03-30 描述：呼叫小源-row2 END*/


/*作者：邓  时间：2016-03-30 描述：呼叫小源-row3*/

.hjxy_r3 {
    text-align: center;
}

.hjxy_r3>img {
    width: 13rem;
    height: 13rem;
}


/*作者：邓  时间：2016-03-30 描述：呼叫小源-row3 END*/

/**
 * 消息组件
 */
.msg-notify-content{ padding: .3rem 0;}
.msg-notify-img{margin: 30% 30%; width: 1.5rem;}
.msg-notify-title{font-size: 1.8rem;}
.msg-notify-time{float:right; margin: .2rem 1rem;}
.msg-notify-body{white-space: nowrap;overflow: hidden; text-overflow: ellipsis; margin-right: 1rem; color: #6D6D6D;}
.msg-notify-split{border-bottom: .1rem #ccc solid;margin-bottom: .3rem;}
.msg-notify-bgcolor{background-color: #FFFFFF;}
.msg-notify-noheight{ min-height: 0rem;}

/**
 * 帮助组件
 */
.help-box{margin: 1.2rem .8rem; border-radius: .5rem; border: .1rem #CCCCCC solid;width:90%;margin: auto;}
.help-box-header{text-align: center; padding: .2rem 0; background-color: #EFEFEF; border-radius: .5rem .5rem 0 0 ; border-bottom: .1rem #CCCCCC solid; }
.help-box-header-text{margin: 1rem; background-color:#EFEFEF ; color: #A1A1A1;}
.help-box-body{background-color: #FFFFFF; padding: 1.5rem 1rem; border-radius: 0 0 .5rem .5rem ;}
.help-box-body-item{margin: .2rem;}
.help-box-body-img{width: 2.4rem; height: 2.4rem; margin: -.1rem 1rem 0 0;}
.help-box-body-text-ellisis{white-space: nowrap;overflow: hidden; text-overflow: ellipsis;color: #949494;}

/**
 * 第四组组件样式END
 */


/*
作者：shiyuwei
说明：评价列表
*/
.comment-item .red{color: red}
.comment-item{border-bottom: 1px solid #e5e5e5;padding: 2rem 1rem 1rem 1rem; background: #fff;margin-top: 0;}
.comment-item:last-child{border-bottom: none;}
.comment-item .fr{float: right;color:#8891a2;}
.comment-item .media-heading{color:#8891a2;}
.comment-item .star{padding: 0rem 0 1rem 0;width: 12rem;}
.comment-item .media-body p{color:#000;}


/*作者：邓  时间：2016-04-07 描述：订单详情-ROW1*/

.ddxq_row1 {
    background: #FFFFFF;
}

.ddxq_order_info {
    text-align: left;
    padding: 1.5rem 0;
}

.ddxq_order_info ul {
    overflow: hidden;
    padding: 0 1rem;
    margin: 0;
}

.ddxq_order_info ul li {
    color: #333333;
    line-height: 1.8em;
    list-style-type: none;
}

.ddxq_order_info ul li span {
    color: #999999;
}

.ddxq_order_info ul li span.status1 {
    color: #ff0018;
}



.ddxq_row2 {
    background: #FFFFFF;
    padding: 1rem 0;
    border: 1px solid #E5E5E5;
}

.pro_img {
    height: 80px;
    width: 80px;
}

.pro_price {
    color: red;
}

.p_xiaoji {
    margin-top: 5rem;
}



.ddxq_row3 {
    background: #FFFFFF;
    padding: 1rem 0;
}

.ddxq_shrxx {
    padding: 0 1rem;
    margin: 0;
}

.ddxq_shrxx li {
    list-style-type: none;
    color: #333333;
    line-height: 1.8em;
}

.ddxq_shrxx li span {
    color: #999999;
}



.ddxq_row4 {
    background: #FFFFFF;
    padding: 1rem 0;
}

.ddxq_remark {
    margin-left: 1rem;
}

.ddxq_remark span {
    color: #999999;
}


.ddxq_row5 {
    background: #FFFFFF;
    padding: 1rem 0;
}

.ddxq_zongji {
    font-size: 1.7rem;
    margin-left: 1rem;
    color: #999999;
}

.ddxq_yunfei {
    font-size: 1rem;
    margin-left: 1rem;
    color: #999999;
}

.ddxq_jine {
    color: red;
}

.ddxq_qrsh {
    text-align: right;
    margin-top: 0.5rem;
}

.ddxq_qrsh button {
    font-size: 2.2rem;
    height: 4rem;
}
.ddxq_ts{
    padding-top: 0.5rem;
}
.ddxq_ts p img {
    width: 2rem;
    height: 2rem;
}

.ddxq_ts p span {
    color: #999999;
}

.tool-order-bottom{
    border-bottom: 2px solid #72B943;
}


/*作者：邓  时间：2016-04-07 描述：订单详情-row5 END*/


/*作者：黄伟贤  时间：2016-04-09 描述：添加样式 END*/
.index-header-box {
    height: 4.5rem;
    font-size: 1rem;
}

.index-header-box>div:nth-child(2) {
    text-align: center;
    font-size: 2rem;
    top: 20%;
}

.index-header-box>div:nth-child(3) {
    text-align: right;
}

.reduce-image>img{
    width: 30%;
    height: 30%;
    margin:10px 10px 0 10px;
}

/*作者：黄伟贤  时间：2016-04-09 描述：添加样式 END*/




/*
 * 个人中心组件    朱洪俊
 * 时间：2016-03-30
 */

.zhj_box {
    width: 100%;
    background-color: white;
}

.zhj_box .hu_zx {
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    padding: 1rem;
}

.zhj_box .hu_zx .srx_1 {
    width: 100%;
    line-height: 1.9;
    list-style-type: none;
    display: inline-block;
    color: #333333;
}

.zhj_box .hu_zx .srx_1 .tb_1 {
    width: 60%;
    float: left;
}

.zhj_box .hu_zx .srx_1 .tb_2 {
    float: right;
    width: 40%;
    padding-left: 5px;
    min-width:5rem;
}

.zhj_box .hu_zx .srx_1 .fon {
    font-size: 10px;
    display: inline-block;
    padding: 8px 5px;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.zhj_box .hu_zx .srx_1 .min {
    min-width: 9rem;
}

.zhj_box .hu_zx .srx_1 .tos {
    color: #737373;
    padding-left: 43px;
}
/*
 * END
 */


/**
 * 商品列表页面和购物车
 * 肖中华 2016.4.9
 */
/*左边大类*/
.cart{background: #fff;}
.prod-to-cart.red{color: red}
.nav-slider .tabs ul{display: table;width:100%;padding: 0;list-style: none;}
.nav-slider .tabs ul li{ background: #f7faf3;text-align: center;border-top:1px solid #ebebeb;border-left: 1px solid #ebebeb;border-right: 1px solid #ebebeb;cursor: pointer;padding: 10px 0;list-style: none;}
.nav-slider .tabs ul li:last-child{border-bottom: 1px solid #ebebeb;}
.nav-slider .tabs ul li a{}
.nav-slider .tabs ul li img{width: 2rem}
.nav-slider .tabs ul li.current{background: #fff;}
.nav-slider .tabs ul li p{}

/*右边商品*/
.prod-list-container{padding:0; }
.prod-to-cart:last-child{border-bottom: none;}
.prod-to-cart{border-bottom: 1px solid #ebebeb; background: #fff;padding:1rem 0;margin: 0 1rem; }
.prod-to-cart:last-child .info{border-bottom: none;}
.prod-to-cart .prod_img{text-align: left;line-height: 100%;}
.prod-to-cart .prod_img img{width: 6rem; vertical-align: middle;}
.prod-to-cart .reduce{ border: 1px solid #ddd9d9; text-align: center;width: 2.5rem;height: 2.5rem;border-radius:2.5rem;line-height: 2.2rem; padding: 0;margin: 0 0 0 auto;}
.prod-to-cart .reduce img{width: 1.5rem;}
.prod-to-cart .intpunum{text-align: center;padding: 0;margin: 0;line-height: 3rem;height: 3rem;}
.prod-to-cart .intpunum input{}
.prod-to-cart .plus{border: 1px solid #ddd9d9; text-align: center;width:2.5rem;height:2.5rem;border-radius:2.5rem;line-height: 2.2rem;padding: 0;margin: 0 1rem 0 0 ;}
.prod-to-cart .plus img{width: 1.5rem;}
.prod-to-cart .act{margin: .2rem 0;}
.prod-to-cart .snd{margin: .7rem 0 0 0;}
.prod-to-cart .source_to{width: 2.5rem;height:2.5rem;border-radius: 2.5rem; background: #50ab34;text-align: center;line-height: 2.5rem;color: #fff;font-size: 1.2rem;}
.prod-to-cart .source_to a{;color:#fff;}
.prod-to-cart .reset_reduce{border: none;}
.prod-to-cart div{margin: 0;padding: 0;}
.prod-to-cart .oldPrice{color: #999999;}

/*底部统计*/
.footer{ background: #3f4349;position: fixed;bottom: 0;left:0;right:0;height:60px; z-index: 100;}
.footer_container{position: relative;height: 60px; line-height: 60px;}
.footer .footer-left{margin-left: 3rem;}
.footer .footer-left .nodata img{height: 3rem;}
.footer .footer-left .nodata span{color: #FFFFFF; font-size: 16px; margin-left: 1rem; }
.footer .footer-left .hasdata .summary{margin-left: 3rem;height:60px; color:#FFFFFF; font-size: 1.4rem; vertical-align: middle;}
.footer .footer-right{text-align: center;color: #D0D0D0; padding: 0; line-height: 60px; height: 60px;}
.footer .footer-right .pay-buy{width: 100%;height: 100%; background: #70767e; font-size: 1.8rem; }

.data_exists{ background: #50ab34;height: 5rem;width: 5rem;border-radius: 5rem;position: absolute;left:10px; top:-1rem;z-index: 999;text-align: center;line-height: 2rem;}
.data_exists span{font-size: 1.3rem;color:#fff;background: red;display: block;width: 1.8rem;height: 1.8rem; position: absolute;top:-.5rem;border-radius: 2rem;left:3rem}
.data_exists .exists_data_img{width: 3rem;height: 3rem; ;vertical-align: middle; margin-top:1rem}

/*购物车数据*/
.cart-mask{width: 100%;height: 100%;background: #000;opacity: 0.5;position: absolute;left:0;top:0;right:0;bottom:0;display:none;}
.cart_data_list{position: fixed;bottom:60px;left:0;right:0; background: #fff;text-align: left;overflow:hidden; height: 0;-webkit-transition: height .3s;}
.cart_data_list_height{height:25rem;}
.cart_data_list_head{text-align:  right  ;font-size:16px;color:#a9a9a9;padding: 0 0.2rem 0.05rem 0;height: 3rem;line-height: 3rem;    padding-right: 1rem;}
.cart_data_list_head img{width: 1.5rem;height: 1.5rem;vertical-align: middle;margin-right: .5rem;margin-top: -0.3rem;}
.cart_data_list .items{height: 22rem;overflow-y: scroll;}
.cart_data_list .item{font-size: 1.4rem;border-top: 1px solid #e0e0e0;line-height:5rem;padding:0 0.2rem; height: 5rem;}
.cart_data_list .item .cat_prod_name{margin-bottom: 0;padding: 0 .5rem; white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.cart_data_list .item .act_margin{margin-top: 1.3rem;}
.cart_data_list .cat_prod_info{padding: 0 0.5rem;}
.cart_data_list .item .red{color: #FF0000;}

/*作者：邓  时间：2016-04-09 描述：登录-row1*/

.lg_rowclass {
    background: #FFFFFF;
    border-bottom: 1px solid #EBEBEB;
}


/*.lg_rowclass>div {
	border-bottom: 1px solid #EBEBEB;
}*/

.lg_ph {
    text-align: right;
    margin: 1.5rem 0;
    border-right: 2px solid #72B943;
}

.lg_ph img {
    margin-right: 1rem;
}

.lg_txt {
    margin: 1.7rem 0;
}


/*作者：邓  时间：2016-04-09 描述：登录-row1 END*/




/*作者：邓  时间：2016-04-09 描述：登录-row3*/

.lg_r3_nav {
    padding-bottom: 1.5rem;
}

.lg_r3_zc {
    text-align: right;
    margin: 1rem 0;
}

.lg_r3_zc a {
    color: #83C05E;
}

.lg_r3_dl {
    margin: 1rem 0;
}


/*作者：邓  时间：2016-04-09 描述：登录-row3 END*/


/*作者：邓  时间：2016-04-09 描述：登录-row4*/

.lg_r4_dl {
    text-align: right;
    margin: 1.9rem 0;
    border-right: 2px solid #72B943;
}

.lg_r4_dl img {
    margin-right: 1rem;
}

.lg_r4_dx {
    margin: 1.6rem 0;
}

.lg_r4_yzm {
    margin: 1.6rem 0;
    text-align: center;
}

/*作者：邓  时间：2016-04-09 描述：登录-row4 END*/


/*  时间：2016-04-09 描述：猜你喜欢 END*/
.like-list-box {
    border-bottom: 1px solid darkgray;
}
.like-list-box>div, .evaluate-content-box>div, .upload-box>div {
    padding: 1rem .5rem;
    height: 10rem;
}
.chose-box {
    text-align: right;
    padding: 0;
}
.img-box img {
    width: 100%;
    height: 100%;
}
.dis-tab {
    display: table;
    height: 100%;
    width: 100%;
}
.chose-box {
    text-align: right;
    padding: 0;
}
.dis-tab-cell {
    display: table-cell;
    vertical-align: middle;
}
.cir-msg-box, .cir-num-box {
    height: 4.1rem;
}
.cir-msg-box>span, .cir-num-box>span {
    display: inline-block;
    height: 3.5rem;
    text-align: center;
    width: 3.5rem;
    /* padding-left: .2rem; */
    line-height: 3.5rem;
    border: 1px solid #DEE2E5;
    border-radius: 50%;
}
.cir-msg-box>span {
    background: #50AB34;
    color: #ffffff;
}
.cir-num-box>span:not(:nth-child(2)) {
    color: #FE0023;
}
.cir-num-box>span:last-child {
    background: #ffffff!important;
    z-index: 100;
}
.cir-num-box>span:not(:nth-child(2)) {
    color: #FE0023;
}


/*  时间：2016-04-09 描述：猜你喜欢 END*/



/*作者：邓  时间：2016-04-09 描述：登录-row2*/

.lg_r2_ck {
    padding: 1.5rem 0;
}

.lg_r2_ck img {
    width: 1.5rem;
    height: 1.5rem;
}

.lg_r2_xy a {
    color: #83C05E;
}

.lg_r2_xy {
    padding: 1.7rem 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 0.6rem;
}

.lg_r2_forget {
    text-align: right;
    padding: 1.7rem 0;
    font-size: 0.6rem;
}

.lg_r2_forget a {
    color: #83C05E;
}

/*作者：邓  时间：2016-04-09 描述：登录-row2 END*/



/*作者：朱洪俊  时间：2016-04-11 描述：交易成功页面 begin*/

.success-tip-box{
    background: #FF7E00!important;
}
.evaluate-box{
    line-height:4.5rem;
    border-bottom: 1px solid darkgray;
}
.evaluate-box>div:last-child{
    text-align: right;
}
.evaluate-box button{
    width:100%;
}
.label-box{
    line-height:4rem;
}
.label-box>span{
    font-size: 1.6rem;
    background: #72B943;
    padding:.5rem 1.5rem;
    border-top-right-radius: 3.1rem;
    border-bottom-right-radius: 3.1rem;
}
.chose-box{
    text-align: right;
    padding:0;
}
.cir-msg-box>span{
    background: #50AB34;
    color: #ffffff;
}
.cir-num-box{
    position: relative;
}
.cir-msg-box>span,.cir-num-box>span{
    display: inline-block;
    height:3.5rem;
    text-align: center;
    width:3.5rem;
    /*padding-left: .2rem;*/
    line-height:3.5rem;
    border:1px solid #DEE2E5;
    border-radius: 50%;
}
.cir-msg-box,.cir-num-box{
    height:4.1rem;
}
/*.cir-num-box>span:last-child{*/
    /*background: #ffffff;*/
    /*z-index: 100;*/
/*}*/
.cir-num-box>span:nth-child(2){
    border:0;
    width:auto;
    color: #757575;
    font-size: 1.6rem;
    font-weight: 600;
}
.cir-num-box>span:not(:nth-child(2)){
    color: #FE0023;
    background: #ffffff;
    z-index: 9999;
}
.eva-img-box{
    height:100%;
    background: #69d2e7;
}
.eva-text-box,.eva-text-box>textarea{
    width:100%;
    height:100%;
}
.edit-text-box textarea{
    border:0;
    resize: none;
    outline:none;
    width:100%;
    background:transparent;
    padding:.5rem;
}
.add-img-box{
    height:100%;
    border:2px dashed darkgray;
    text-align: center;
    font-size: 3rem;
    color: #81848B;
    box-sizing: border-box;
}
.border-bottom{
    border-bottom: 1px solid #E8E8E8;
}
.star-box>div{
    padding:1rem .5rem;
}
.full-star-icon{
    display: inline-block;
    height:29px;
    width:29px;
    background: url("../img/icon/full-star.png")no-repeat;
    vertical-align: middle;
}
.empty-star-icon{
    display: inline-block;
    height:29px;
    width:29px;
    background: url("../img/icon/empty-star.png")no-repeat;
    vertical-align: middle;
}
.chose-start{
    height:3rem;
    line-height:3rem;
}
.chose-start>div:last-child{
    text-align: right;
}
.tip-box>div>h5{
    line-height:1.5;
    text-indent: 2em;
}
.edit-text-box-sty{
    background: #FAFAFA;
    /*border-radius: .3rem;*/
}
.complain-upload-box>div{
    height:8rem;
    padding:0;
}
.complain-upload-box{
    margin:0;
    padding-bottom:1.5rem;
}

/*作者：朱洪俊  时间：2016-04-11 描述：交易成功页面 END*/


/*确认订单*/
.row{ background: #fff}
.bank{  border-bottom: 0.5rem solid #e5e5e5;text-align: left;padding: 0 1rem;overflow: hidden;width: auto; background: #fff}
.bank .fl{float:left;}
.bank .fr{float:right;}

.desc{padding:0 0 0.43rem 0;}
.desc h3{color:#666666;text-align: center;font-weight: inherit;}
.desc p{color:#afafaf;}

.select_addr{color:#333;padding: 1rem 0;}
.select_addr img{margin-top: 0rem;height: 1.2rem;float:right;}
.selected_addr img{height: 1.2rem;float:right;}



.selected_addr{padding: 0.36rem 0;overflow: hidden;}
.selected_addr h1{color:#666666;font-weight: inherit;}
.selected_addr p{color:#afafaf;}


.items{}
.items .item{padding: 0.22rem 0;}
.items .item{border-bottom: 1px solid #ebebeb;overflow: hidden;}
.items .item .prod_img{width: 1.24rem;height: 1.24rem;}
.items .item .prod_img img{width: 1.24rem;height: 1.2rem;}
.items .item .prod_info{padding-left: 0.15rem}
.items .item .prod_info h1{font-size:0.3rem;font-weight: lighter;padding-bottom: 0.05rem}
.items .item .prod_info p{color:#656565;font-size:0.28rem;}
.items .item .prod_act{height: 0.6rem;}


.items .asact{overflow: hidden;width:2.2rem;margin-top: 0.16rem;}
.items .asact .reduce{ border: 1px solid #ddd9d9; text-align: center;width: 0.6rem;height: 0.6rem;border-radius: 0.6rem;line-height:0;}
.items .asact .reduce img{width: 0.22rem;margin-bottom: 0.08rem;}
.items .asact .intpunum{height: 0.6rem;line-height: 0.6rem;padding: 0 0.1rem;font-size: 0.24rem;width: 0.6rem;text-align: center;}
.items .asact .intpunum input{}
.items .asact .plus{border: 1px solid #ddd9d9; text-align: center;width: 0.6rem;height: 0.6rem;border-radius: 0.6rem;line-height: 0;}
.items .asact .plus img{width: 0.22rem}

.dis{}
.dis ul{padding: 1rem 0;list-style: none}
.dis ul li{color:#3e3c3d;}
.dis .red{color:red;}

.dis p{}
.dis_ico{ background: #4fac37;padding:0 0.3rem;color:#fff;}

.comment{margin-top: 1rem;margin-bottom: 1rem;}
.comment textarea{border-radius: 2px; background: #fafafa;border: 1px solid #dfdfdf;width: 100%;height: 5rem;padding: 0.5rem;}
textarea:input-placeholder {  vertical-align: middle}

.pay_method{padding: 1rem 0; }
.pay_method ul{list-style: none;padding: 0;margin: 0;}
.pay_method li{line-height: 2rem;}
.pay_method li img{width: 1.5rem;height: 1.5rem;}
.pay_method li input{  display: none;}

.pay_method li label{display: inline;margin: 0}
.pay_method li label img{width: 1.5rem;height: 1.5rem;margin: 0;}

.dis_date{padding: 1rem 0 ;line-height:2rem;}
.dis_date img.fl{height: 2rem; vertical-align: middle}
.dis_date img.fr{height: 2rem; vertical-align: middle}

.submit_order{padding:0rem 1rem;text-align: left;overflow: hidden; background: #fff;}
.submit_order h5{font-weight: lighter}
.submit_order p{}
.submit_order .fl{float:left;}
.submit_order .fr button{width: 7rem;height: 3.5rem;background: #50ab34;color: #fff;border-radius: 0.2rem;border:none;margin-top: 1rem;}
.submit_order .fr {line-height: 1.5rem;float:right}
.submit_order .red{color:red;}

.prod-to-cart-container{border-bottom: 1px solid #ebebeb !important;}
/*.prod-to-cart:last-child{border-bottom: none;  background:  #fff;}*/
.prod-to-cart{ background: #fff;padding:1rem 0;}
.prod-to-cart:last-child .info{border-bottom: none;}
.prod-to-cart .prod_img{text-align: left;line-height: 100%;}
.prod-to-cart .prod_img img{width: 6rem; vertical-align: middle;}
.prod-to-cart .reduce{ border: 1px solid #ddd9d9; text-align: center;width: 2.5rem;height: 2.5rem;border-radius:2.5rem;line-height: 2.2rem; padding: 0;margin: 0 0 0 auto;}
.prod-to-cart .reduce img{width: 1.5rem;}
.prod-to-cart .intpunum{text-align: center;padding: 0;margin: 0;line-height: 3rem;height: 3rem;}
.prod-to-cart .intpunum input{}
.prod-to-cart .plus{border: 1px solid #ddd9d9; text-align: center;width:2.5rem;height:2.5rem;border-radius:2.5rem;line-height: 2.2rem;padding: 0;margin: 0 1rem 0 0 ;}
.prod-to-cart .plus img{width: 1.5rem;}
.prod-to-cart .act{margin: 0.2rem 0;}
.prod-to-cart .source_to{width: 2.5rem;height:2.5rem;border-radius: 2.5rem; background: #50ab34;text-align: center;line-height: 2.5rem;color: #fff;font-size: 1.2rem;}
.prod-to-cart .source_to a{;color:#fff;}
.prod-to-cart .reset_reduce{border: none;}
.prod-to-cart div{margin: 0;padding: 0;}

.payhead{ background: #f7f7f7;border-bottom: 1px solid #dadada;height: 4rem;line-height: 4rem;padding: 0 1rem;}
.payhead .fr{float:right;color:#83c541;font-size: 20px;}
.payhead h5{height: 2rem;line-height: 2rem;}
.paycontent{padding: 0 1.5rem;}
.paycontent .row{margin-top: 1rem;border-bottom: 1px solid #dadada;}
.paycontent .col-xs-12{padding: 0;margin: 0}
.paycontent img{vertical-align: middle;}

/*商品列表*/
.footer_content{color:#fff;margin-left: 6rem;float:left;}
.footer_submit{float:right;color:#d0d0d0; text-align: center;}
.footer .no_data{width:5rem;background: #70767e;}


.mask{width: 100%;height: 100%;background: #000;opacity: 0.5;position: absolute;left:0;top:0;right:0;bottom:0; display: none;}

.cart_data_list{position: fixed;bottom:4rem;left:0;right:0; background: #fff;text-align: left;height: 20rem;overflow:hidden; display: none}
.cart_data_list_head{text-align:  right  ;color:#a9a9a9;padding: 0 2rem 0.5rem 0;height: 3rem;line-height: 3rem;}
.cart_data_list_head img{width: 1.5rem;vertical-align: middle;margin-right: 0.5rem;margin-top: -0.3rem;}

.cart_data_list .items{height: 20rem;width: 100%}
.cart_data_list .item{border-top: 1px solid #e0e0e0;line-height:4rem;padding:0 1rem; height: 4rem;clear: both}
.cart_data_list .item .cat_prod_name{width: 50% }
.cart_data_list .fr{float:right;}
.cart_data_list .fl{float:left;}

.cart_data_list .cat_prod_info{padding: 0 0.1rem;}

.cart_data_list .asact{overflow: hidden;width: 7rem;vertical-align: middle;margin-top: 1rem;}
.cart_data_list .asact .reduce{ border: 1px solid #ddd9d9; text-align: center;width: 2rem;height: 2rem;border-radius: 2rem;line-height: 2rem;margin-bottom: 0.1rem;}
.cart_data_list .asact .reduce img{width: 1.3rem;margin-bottom: 3px}
.cart_data_list .asact .intpunum{height: 2rem;line-height: 2rem;padding: 0 10px;width: 2rem;text-align: center;}
.cart_data_list .asact .intpunum input{}
.cart_data_list .asact .plus{border: 1px solid #ddd9d9; text-align: center;width: 2rem;height: 2rem;border-radius: 2rem;line-height: 2rem;margin-bottom: 0.1rem;}
.cart_data_list .asact .plus img{width: 1.3rem;margin-bottom: 3px}

/*溯源生长期信息*/
#tab_authentication_content{padding-bottom: 1rem;margin:-2px 10px 0 10px;}
#tab_authentication_content div{background: #efefef;border-radius: 2px;padding: 10px;    }

#tab_authentication_nav{padding: 0 0 0 10px;border: none;margin-top: 0.5rem}
#tab_authentication_nav img{width:30px; }
#tab_authentication_nav a{padding:5px 2px; }
#tab_authentication_nav >li.active>a{background:#efefef /*url(img/arrow.png) no-repeat 0.5rem bottom;*/;border: none;}


.f_nav{margin: 0 -15px;border-top: 10px solid #efefef;}
.f_nav img{width:40px; vertical-align: middle;}
.f_nav .row{margin:0;}
.f_nav > div{border: 1px solid #efefef;padding: 0.5rem 0.5rem;margin-top: -1px;margin-left: -1px;}
.f_nav h5{margin: 0;}

.content{padding: 0.5rem; background:#efefef;}
.content .title{}
.content .title span{color:#efa755;}

#home{}
#profile{}
#messages{}
#settings{}


/*快速置顶*/

.back2top{width: 54px;height:54px;position:fixed; right: 20px;bottom: 45px; display: none;}
.back2top a{display: block; height: 54px;width: 54px; background-color: #2d96e9;opacity: 0.7;background-image: url(../img/back2top.png);}
