.back2top{width: 54px;height:54px;position:fixed; right: 20px;bottom: 45px; display: none;}
.back2top a{display: block; height: 54px;width: 54px; background-color: #2d96e9;opacity: 0.7;background-image: url(../img/back2top.png);}
