<div ng-controller="bagsController">
    <div class="container">
        <div class="row">
            <img style="width:100%;" alt="卓越父母上岗训练课程" src="../../../../content/imgs/txkc2.jpg">
        </div>
    </div>
    <div class="weui_cells seline">
        <div class="weui_cell" style="border-bottom:1px solid #eee; background-color: #eee;">
            <div class="weui_cell_hd">
                <span style="border-left:4px solid rgb(26,177,118); padding-left:10px;"></span>
                课程介绍
            </div>
            <div class="weui_cell_bd weui_cell_primary"></div>
            <div class="weui_cell_ft"></div>
        </div>
    </div>
    <div>
        <div class="playlist">
            <ul style="padding-left:10px;">
                <div ng-repeat=" itme in controller.videos">
                    <li style="padding:5px 0; border-left:1px solid #ccc; position: relative;">
                        <span style="position:absolute; left: -5px;bottom: 8px;" class="fa fa-dot-circle-o"></span>
                        <a style="margin-left:15px;" ng-click="controller.setVideo($index)">
                            <span style="font-size:14px;">{{itme.sources[0].name}}</span>
                        </a>
                    </li>
                </div>
            </ul>
        </div>
    </div>
    <div class="weui_cells seline">
        <div class="weui_cell" style="border-bottom:1px solid #eee; background-color: #eee;">
            <div class="weui_cell_hd">
                <span style="border-left:4px solid #006699; padding-left:10px;"></span>
                讲师
            </div>
            <div class="weui_cell_bd weui_cell_primary"></div>
            <div class="weui_cell_ft"></div>
        </div>
    </div>
    <div style="padding:10px;">
        <img style="width:100px;"  ng-src="{{courses.teacher.headImgUrl}}">
        {{courses.lecturer}}

        <div style="padding-top:10px;" ng-bind-html="courses.teacher.detail"></div>
    </div>
    <div class="weui_cells seline">
        <div class="weui_cell" style="border-bottom:1px solid #eee; background-color: #eee;">
            <div class="weui_cell_hd">
                <span style="border-left:4px solid #006699; padding-left:10px;"></span>
                特训项目
            </div>
            <div class="weui_cell_bd weui_cell_primary"></div>
            <div class="weui_cell_ft"></div>
        </div>
    </div>
    <div style="padding:10px;">
        <div ng-repeat="info in courses.detail">
            <a href='#course?courseId={{info.id}}' class='weui_media_box weui_media_appmsg' style="border:5px solid #eee;">
                <div class='weui_media_hd' style='width:80px; height:60px;'>
                    <img style="width:100%;max-width:80px;" ng-src='{{info.imgUrl}}'  />
                </div>
                <div class='weui_media_bd'>
                    <strong class='text-overflow' style='font-size:14px;width:90%;  '>{{info.title}}</strong>

                    <p class='weui_media_desc' style="margin-top: 30px;padding-bottom:15px">{{info.lecturer}}</p>
                </div>
            </a>
        </div>
    </div>



    <div class="container">
        <div class="row">
            <div class="weui_tab">
                <div class="weui_navbar">
                    <div se-navbar="section" class="weui_navbar_item weui_bar_item_on">
                        课程介绍
                    </div>
                    <div se-navbar="detail" class="weui_navbar_item">
                        讲师介绍
                    </div>
                </div>
                <div class="weui_tab_bd" style="min-height: 200px; background: #eee;">
                    <div ng-show="show.section" style="padding:5px 15px;">
                        <div class="panel panel-default" style="margin-bottom:0;">
                            <div class="panel-heading">
                                <strong>课程名称</strong>
                            </div>
                            <div class="panel-body">
                                {{courses.courseName}}
                            </div>
                        </div>
                        <div class="panel panel-default" style="margin-bottom:0;">
                            <div class="panel-heading">
                                <strong>课程介绍</strong>
                            </div>
                            <div class="panel-body">
                                {{courses.intro}}
                            </div>
                        </div>

                    </div>
                    <div ng-show="show.detail" style="padding:5px 15px;" >
                        <div class="panel panel-default" style="margin-bottom:0;">
                            <div class="panel-body">
                                <img style="width:50%;" src="{{courses.expert.imgUrl|resourceUrl}}">
                            </div>
                        </div>
                        <div class="panel panel-default" style="margin-bottom:0;">
                            <div class="panel-heading">
                                <strong>讲师</strong>
                            </div>
                            <div class="panel-body">
                                {{courses.expert.name}}
                            </div>
                        </div>
                        <div class="panel panel-default" style="margin-bottom:0;">
                            <div class="panel-heading">
                                <strong>介绍</strong>
                            </div>
                            <div class="panel-body">
                                {{courses.expert.intro}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="weui_cells_title">特训项目</div>
        <div class="weui_panel_bd" id="body" runat="server" style=" overflow:hidden; ">
            <div ng-repeat="info in courses.detail">
                <a href='#course?courseId={{info.id}}' class='weui_media_box weui_media_appmsg' style="border:5px solid #eee;">
                    <div class='weui_media_hd' style='width:80px; height:60px;'>
                        <img style="width:100%;max-width:80px;" ng-src='{{info.imgUrl}}'  />
                    </div>
                    <div class='weui_media_bd'>
                        <strong class='text-overflow' style='font-size:14px;width:90%;  '>{{info.title}}</strong>

                        <p class='weui_media_desc' style="margin-top: 30px;padding-bottom:15px">{{info.lecturer}}</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>