<div ng-controller="bagsController">
    <div class="container">
        <div loading="" ng-model="isLoading"></div>
        <div class="row">
            <img style="width:100%;" alt="卓越父母上岗训练课程" ng-src="{{courses.bagImgUrl}}">
        </div>
    </div>
    <div class="weui_cells seline">
        <div class="weui_cell" style="border-bottom:1px solid #eee; background-color: #eee;">
            <div class="weui_cell_hd">
                <span style="border-left:4px solid rgb(26,177,118); padding-left:10px;"></span>
                课程介绍
            </div>
            <div class="weui_cell_bd weui_cell_primary"></div>
            <div class="weui_cell_ft"></div>
        </div>
    </div>
    <div style="padding:10px;">
        <div style="padding-top:10px;" ng-bind-html="courses.intro"></div>
    </div>
    <div class="weui_cells seline">
        <div class="weui_cell" style="border-bottom:1px solid #eee; background-color: #eee;">
            <div class="weui_cell_hd">
                <span style="border-left:4px solid #006699; padding-left:10px;"></span>
                讲师
            </div>
            <div class="weui_cell_bd weui_cell_primary"></div>
            <div class="weui_cell_ft"></div>
        </div>
    </div>
    <div style="padding:10px;">
        <img style="width:100px;"  ng-src="{{courses.expert.imgUrl}}">
        {{courses.expert.name}}

        <div style="padding-top:10px;" ng-bind-html="courses.expert.intro"></div>
    </div>
    <div class="weui_cells seline">
        <div class="weui_cell" style="border-bottom:1px solid #eee; background-color: #eee;">
            <div class="weui_cell_hd">
                <span style="border-left:4px solid #006699; padding-left:10px;"></span>
                特训项目
            </div>
            <div class="weui_cell_bd weui_cell_primary"></div>
            <div class="weui_cell_ft"></div>
        </div>
    </div>
    <div style="padding:10px;">
        <div class="container" style="background-color: #eee;">
            <div class="row">
                <div class="col-xs-12" style="margin-bottom:3px; background-color: #fff;" ng-repeat="info in courses.detail">
                    <div class="row" style="padding-bottom:5px;padding-top:5px;">
                        <div class="col-xs-4" >
                            <a ng-if="info.mediaType==1 && info.preferentialPrice==0" ng-href="{{courseHref(info.mediaType,info.id,'true')}}">
                                <img style="width:100%;" ng-src="{{info.miniImgUrl|resourceUrl }}"  /><!--ng-src='{{info.imgUrl}}'-->
                            </a>
                            <a ng-if="info.mediaType==1 && info.preferentialPrice!=0" ng-href="{{courseHref(info.mediaType,info.id)}}">
                                <img style="width:100%;" ng-src="{{info.miniImgUrl|resourceUrl }}"  /><!--ng-src='{{info.imgUrl}}'-->
                            </a>
                            <a ng-if="info.mediaType!=1" ng-href="{{courseHref(info.mediaType,info.id)}}">
                                <img style="width:100%;" ng-src="{{info.miniImgUrl|resourceUrl }}"  /><!--ng-src='{{info.imgUrl}}'-->
                            </a>
                        </div>
                        <div class="col-xs-8" style="padding-left:0;">
                            <div><strong style='font-size:14px;'>{{info.title}}</strong></div>
                            <div class='weui_media_desc text-muted' style="font-size:13px;">{{info.lecturer}}</div>
                            <div class="row" style="font-size:13px;">
                                <div class="col-xs-4 text-muted text-left">
                                    <span class="sesuccess">{{info.section}}</span>课时
                                </div>
                                <div class="col-xs-2 text-muted">
                                    <span ng-class="{true:'glyphicon-facetime-video',false:'glyphicon-headphones'}[info.mediaType==1]" class="glyphicon "></span>
                                </div>
                                <div class="col-xs-6 text-muted">
                                    <div style='float:right;'><span class="sesuccess">{{info.learnNumber}}</span>人在学</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
