
  .carousel-container {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
  }

  .carousel-container .contentBody {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    box-sizing: border-box;
    white-space: nowrap;
  }

  .carousel-container .contentBody .contentPage {
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1s;
  }

  .carousel-container .contentTop {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 10vh;
  }

  .carousel-container .contentBottom {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 10vh;
  }

  .carousel-container .contentLeft {
    position: absolute;
    left: 0;
    top: 10%;
    width: 20vw;
    height: 80vh;
  }

  .carousel-container .contentRight {
    position: absolute;
    right: 0;
    top: 10%;
    width: 20vw;
    height: 80vh;
  }



