.first-share-panel{
  .share-bottom{
    width: 13rem;
    height: 10rem;
    border-radius: 15px;
    background-color: #fffff1;
  }
  .share-title{
    width: 100%;
    height: 2.5rem;
    background-color: #f65748;
    color: white;
    text-align: center;
    line-height: 2.5rem;
    border-radius: 15px 15px 0 0;
    font-size: px2rem(40);
  }
  .share-center{
    width: 100%;
    height: 7.5rem;
    border-radius: 0 0 15px 15px;
    padding: 1rem;
    color: #595959;
    text-align: center;
    font-size: px2rem(38);
  }
  .share-next{
    width: 6rem;
    height: 2.5rem;
    line-height: 2.5rem;
    background-color: #f65748;
    color: white;
    font-size: px2rem(40);
    border-radius: 10px;
    margin:.6rem auto;
  }

}