.inputer-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #eee;
  padding: 5px 0 0 0;
  border-top: 1px #eee solid;
  box-shadow: 0 -3px 3px #ddd;

  .textarea{
    padding-left: .4rem;
    width: 75%;
    height: px2rem(80);
    line-height: px2rem(80);
    font-size: px2rem(36);
    border-radius: px2rem(12);
    margin: 0 px2rem(20) 0 px2rem(20);
    border: 1px #ccc solid;
    overflow: hidden
  }

  .send-button {
    float:right;
    padding: 0 !important;
    font-size: px2rem(28);
    margin-right:px2rem(20);
    width: px2rem(120);
    height:px2rem(80);
    line-height: px2rem(80);
    border-radius: px2rem(10);
    color:#ffffff;
    background-color :#00cd00;
  }

}