.qrcode-pay {
  margin: 0 auto 1rem;
  text-align: center;

  color: #222;
  font-size: .9rem;

  p {
    line-height: 1.8;
  }
}
.qrcode-image {
  position: relative;
  text-align: center;
  color: #565656;
  width: 80%;
  border-radius: 4px;
  background-color: #fff;
  font-size: .8rem;

  padding: 10%;

  .top-text {
    margin-bottom: 0.6rem;
  }

  .bottom-text {
    margin-top: 0.6rem
  }
}