.tabbar {
  position: fixed;
  z-index: 2;
  left: 0;
  right: 0;
  bottom: 0;
  height: px2rem(50);

  background: white;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  text-align: center;
  .tabbar-icon{
    width: 50%;
    .icon {
      width: px2rem(49);
      height: px2rem(49);
    }
  }

}
