.Timeout{
  .container{
    width: 100%;
    color: #414041;
    display: flex;
    flex-flow:row nowrap;
    padding: 0;
    margin: .5rem 0 0 .5rem;

    .show-time{
      font-size: px2rem(19);
    }
    img{
      width: .8rem;
      height: .8rem;
      background-size: 100% 100%;
      margin: .2rem .3rem;
    }
  }
}
