html, body {
    font: 14px/1.5 Tahoma,"Arial","Microsoft Yahei";
    color: #131313;
}
ul, li, dl, dt, dd {
    list-style: outside none none;
}
body, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, p, a, img, input {
    padding: 0px;
    margin: 0px;
}
.topicSend {
    
    overflow: hidden;
    margin: 0px 10px;
}
.spr {
    background: url("../images/sprBg.png") no-repeat scroll 0% 0% transparent;
}
.pn_post {
    width: 80px;
    height: 33px;
    background-position: -88px -84px;
    margin-left: 0px;
}

.fl {
    float: left;
}
.ht {
    text-indent: -9999px;
    overflow: hidden;
}
a {
    outline: medium none;
    text-decoration: none;
    color: #388CBA;
}
.mtm {
    margin-top: 0px !important;
}
.spaceB {
    height: 1px;
    width: 100%;
    background-color: #E9E9E9;
    font-size: 0px;
    line-height: 0;
    margin-top:20px;
}
.fl, .fr {
    display: inline;
}
.editBtn input {
    vertical-align: middle;
}
input, textarea, select, button {
    font-size: 12px;
    font-weight: normal;
    outline: medium none;
}
.editBtn a {
    margin-left: 25px;
}
.delBtn {
    background-position: 0px -34px;
    margin-left: 30px;
}
.photoSelect, .expreSelect, .delBtn, .cleBtn, .edtagBtn, .moveInco {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    display: inline-block;
    vertical-align: middle;
}

a {
    outline: medium none;
    text-decoration: none;
    color: #388CBA;
}
.topicList li {
    padding: 10px 0px 13px;
    border-bottom: 1px solid #E9E9E9;
    overflow: hidden;
}
.topicCon {
    width:90%;
    padding-left: 60px;
    overflow: hidden;
}
.pr {
    position: relative;
}
.personImg {
    width: 40px;
    height: 40px;
    top: 3px;
    left: 0px;
}
.sendBorder, .personImg, .detailBox, .caseLogo img, .weakTips {
    border-radius: 5px;
}
.pa {
    position: absolute;
}
img {
    display: inline-block;
    vertical-align: bottom;
}
fieldset, img, iframe {
    border: 0px none;
}
.letterBtn2 {
    top: 50px;
    left: 0px;
    width: 40px;
    height: 22px;
    border: 1px solid #CCC;
    line-height: 22px;
    text-align: center;
    font-size: 12px;
    color: #1D1D1D;
    border-radius: 2px;
}
.titDate {
    width: 100%;
    color: #A0A0A0;
    overflow: hidden;
}
.htmlEdit {
    margin: 6px 0px;
    max-height: 45px;
    overflow: hidden;
    clear: both;
}
.titDate, .replyComment, .htmlEdit {
    line-height: 21px;
}
.fr {
    float: left;
}
.tip-box {
    border: 1px solid #B3B3B3;
    padding: 10px 20px;
    background: none repeat scroll 0% 0% #FFF;
    width: 480px;
}
.box-shadow {
    box-shadow: 0px 0px 10px #B3B3B3;
}
.tip-hd {
    color: #4D89BF;
    font-size: 21px;
}
.mbm {
    margin-bottom: 10px !important;
}

.tip-inbox {
    background-color: #F5F5F5;
    border: 1px solid #C3C3C3;
    padding: 10px 10px 30px;
    overflow: hidden;
}
.f14 {
    font-size: 14px;
}
.tip-inbox textarea {
    height: 100%;
    width: 100%;
    background: none repeat scroll 0% 0% transparent;
    border: medium none;
    font: 14px/1.5 Tahoma,"Arial","Microsoft Yahei";
    word-wrap: break-word;
    overflow-y: auto;
    overflow-x: hidden;
    resize: none;
}
input, textarea, select, button {
    font-size: 12px;
    font-weight: normal;
    outline: medium none;
}

.txt-right {
    text-align: right;
}

.button {
    color: #FFF;
    border: medium none;
    cursor: pointer;
    font-size: 16px;
    width: 141px;
    height: 43px;
    text-align: center;
    text-decoration: none;
    margin: 0px;
    background: url("../images/btn.png") no-repeat scroll 0px 0px transparent;
    display: inline-block;
    vertical-align: middle;
}
.mrw {
    margin-right: 20px !important;
}
.btn-green {
    background-position: 0px -43px;
}
.btn-default {
    color: #444;
}
.plm {
    padding-left: 10px !important;
}
 .sendBorder { height: 427px; padding: 5px 10px; border: 1px solid #DBDBDB; z-index: 90; border-radius: 5px;}
.sInput { width: 100%; height: 400px; border: medium none; font-family: "Microsoft Yahei"; line-height: 20px; overflow-x: hidden; overflow-y: auto; resize: none;}

.main {
    display:block;
    min-height: 430px;
}
.sendOperate, .crossbox .photoList {
    padding-left: 0px;
    overflow: hidden;
}