@charset "gb2312";
/**
*   Made by cgq
*   版本：1.0.0
*   2011.06.15
**/

html, body, div, p, ul,ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, input, select, button, textarea, iframe, frameset, table, th, tr, td, fieldset { margin: 0; padding: 0; }

/* IE5.xIE6бbug */ 
* html body{overflow: visible;} 
* html iframe, * html frame{overflow: auto;} 
* html frameset{overflow: hidden;} 

/* body */ 
body{color:#000; font:12px/22px "宋体";} 
i, em, cite { font-style: normal; }

/* a */ 
a, a:link { color: #222; text-decoration: none; }
a:visited {  }
a:active, a:hover { text-decoration: none; color:#5f5b5a; }
a:focus { outline: none; }

/* form */ 
textarea,input{ word-wrap:break-word;word-break:break-all;} 
input {vertical-align:middle;font-size:12px}
.button {vertical-align:middle;font-size:12px}
.button { cursor: pointer; }

/* li */ 
ul,li{list-style-type:none;} 

/* img */ 
img{border:0 none; vertical-align:middle;} 

/* h* */ 
h1{ font-size:24px;} 
h2{ font-size:20px;} 
h3{ font-size:18px;} 
h4{ font-size:16px;} 
h5{ font-size:14px;} 
h6{ font-size:12px;} 

/* mouse */ 
.pointer{cursor:pointer;} 

/* text */ 
.t_l{text-align:left;} 
.t_c{text-align:center;} 
.t_r{text-align:right;} 

/* auto */ 
.break{word-break:break-all;word-wrap:break-word;} 
.no_break{word-break:keep-all;word-wrap:normal;} 

/* float */ 
.fl, .fr { display: inline; float: left; }
.fr { float: right; }

/* unline */ 
.text_un{text-decoration:underline;} 
.text_no{text-decoration:none;} 

/* hidden */ 
.o_hidden{overflow:hidden;} 

/* dis_no */ 
.none{display:none;} 
.block {display:block;} 

/* border */ 
.b_no{border:none;}
.b_no_l{border-left:none;}
.b_no_r{border-right:none;}
.b_no_t{border-top:none;}
.b_no_b{border-bottom:none;}

/* margin */ 
.ml10 { margin-left:10px;}
.mb10 { margin-bottom:10px;}
.mr10 { margin-right:10px;}
.mt10 { margin-top:10px;}

/* padding */ 
.p_t10{ padding-top:10px;}
.p_t20{ padding-top:20px;}

/* padding */ 
.height_10{ height:10px; display:block; clear:both; overflow:hidden;}
.height_20{ height:20px; display:block; clear:both; overflow:hidden;}

/*********闭合盒子处理**********/
.clearfix:after {content:"24dq"; display:block; height:0; clear:both; visibility:hidden;}
.clearfix {display:inline-block;}
/* Hides from IE-mac \*/
* html .clearfix {height:1%;}.clearfix {display:block;}
/* End hide from IE-mac */

/*********清除浮动处理**********/
.clearboth { clear:both; display:block; height:0;font-size:0; overflow:hidden;}

/*color*/
.gray_background{ background-color:#F8F8F8;}
.blue_background{ background-color:#ECF1F4;}
.green_color{ color:#67920D;}
.white_color{ color:#fff;}
.black_color{ color:#000;}
