body,.statistics-chart .chart-head{background-color: #52cc8f;}
.m-30{margin: 0.30rem;}
.m-20{margin: 0.20rem;}
.fz-36{font-size: 0.36rem;}
.fz-90{font-size: 0.9rem;}
.fz-24{font-size: 0.24rem;}

.statistics-report{width: 100%;min-height: 3.50rem; text-align: center; color: #fff;}
.swiper-pagination-bullet-active{background-color: #1b9152;}
.statistics-chart{width: 100%;position: absolute;bottom: 0;padding-top:0.3rem;}
.statistics-chart .chart-head{width: 100%;height: 0.83rem;line-height: 0.83rem;text-align: center;position: absolute;z-index: 1;}
.statistics-chart .chart-head span{display: inline-block;height: 100%;width: 32%;border-radius: 0.07rem 0.07rem 0 0;color: #fff;transition: all 0.25s;}
.statistics-chart .chart-head span.on{background-color: #fff;color: #52cc8f;}
.statistics-chart .chart-body{background: #fff url(../images/chart-bg.png) center repeat-y; -webkit-background-size: 100% 100%;background-size: 100% 100%;width: 100%;overflow: hidden;padding-top: 0.3rem;}
.statistics-chart .echarts-box{ display: none;min-height:200px;position: relative;left: 0;top: 0;}
.statistics-chart .echarts-box.on{ display: block;}