.header{
	padding: 15px;
	box-shadow: 0px 3px 3px #cccccc;
	display: flex;
	align-items: center;
	.city{
		flex: 2;
		color: #888888;
		font-size: 17px;
		border-right: 1px solid #cccccc;
	}
	.search{
		flex: 7;
		color: #888888;
		font-size: 17px;
		>input{
			padding-left: 10px;
			margin-bottom: 3px;
		}
	}
	.clear{
		flex: 1;
		text-align: center;
	}
}

.container{
	padding: 15px;
	.data_list{
		border-bottom: 1px solid #e1e1e1;
		padding-bottom: 8px;
		display: flex;
		align-items: center;
		.list_style{
			flex: 1;
			>view{
				width: 10px;
				height: 10px;
				border-radius: 50%;
				background: #cccccc;
			}
		}
		.list_text{
			flex: 9;
			>view:first-child{
				font-size: 17px;
				color: #484848;
			}
			>view:last-child{
				font-size: 13px;
				color: #737373;
			}
		}
	}
}