<div ng-controller="registController">
    <div loading="数据处理中..." ng-model="isLoading" ></div>
    <div class="container">
        <div class="row">
            <div  class="col-xs-12">
                <div class="page-header text-center h3">
                    国学机保障卡登记
                    <p class="text-center"><small>登记后保修时间由原来的1年延长至1年半</small></p>
                </div>
            </div>
            <div class="col-xs-offset-3 col-xs-9" style="padding-bottom:15px;">
                <span class="text-danger text-muted">请认真填写的以下信息,将作为以后保修的凭证</span>
            </div>
            <div class="col-xs-12">
                <form ng-submit="processOrder()" novalidate  name="cardForm" class="form-horizontal">
                    <div class="form-group">
                        <label for="name" class="col-xs-3 control-label">姓名</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control" name="name" id="name" ng-model="card.user_name" required  placeholder="姓名">
                            <div class="form-error"
                                 ng-show="(cardForm.name.$invalid && cardForm.name.$dirty && !cardForm.name.$focused) || (cardForm.name.$invalid && submitted)">
                                <span ng-show="cardForm.name.$error.required">姓名不能为空</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="telephone" class="col-xs-3 control-label">手机</label>
                        <div class="col-xs-9">
                            <input type="tel" class="form-control" name="telephone"
                                   id="telephone" ng-minlength="11" ng-maxlength="11"
                                   pattern="^1[34578]\d{9}$"  ng-model="card.telephone" required placeholder="手机号码">
                            <div class="form-error"
                                 ng-show="(cardForm.telephone.$invalid && cardForm.telephone.$dirty && !cardForm.telephone.$focused) || (cardForm.telephone.$invalid && submitted)">
                                <span ng-show="cardForm.telephone.$error.required">手机号不能为空</span>
                                <span ng-show="cardForm.username.$error.pattern || cardForm.telephone.$error.pattern || cardForm.telephone.$error.minlength">请输入正确的手机号码</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="telephone" class="col-xs-3 control-label">购买日期</label>
                        <div class="col-xs-9">
                            <input type="date" class="form-control" name="order_date"
                                   id="order_date"
                                   ng-model="card.order_date" required placeholder="购买日期">
                            <div class="form-error"
                                 ng-show="(cardForm.order_date.$invalid && cardForm.order_date.$dirty && !cardForm.order_date.$focused) || (cardForm.order_date.$invalid && submitted)">
                                <span ng-show="cardForm.order_date.$error.required">购买日期不能为空</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group ">
                        <label for="address" class="col-xs-3 control-label">地址</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control" name="address" id="address" ng-click="getLocation()" ng-model="card.area" required placeholder="点击自动获取地址" aria-describedby="inputSuccess2Status">
                            <span class="glyphicon glyphicon-map-marker form-control-feedback" aria-hidden="true" style="right:10px; cursor:pointer"></span>
                            <div class="form-error"
                                 ng-show="(cardForm.address.$invalid && cardForm.address.$dirty && !cardForm.address.$focused) || (cardForm.address.$invalid && submitted)">
                                <span ng-show="cardForm.address.$error.required">地址不能为空</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-offset-3 col-xs-9">
                            <button type="submit" class="weui_btn weui-btn_primary">提交</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>