<div class="page" style="padding-bottom:0px;">
    <div class="weui-search-bar" id="searchBar">
        <form class="weui-search-bar__form">
            <div class="weui-search-bar__box">
                <i class="weui-icon-search"></i>
                <input type="search" class="weui-search-bar__input" id="searchInput" placeholder="搜索" required="">
                <a href="javascript:" class="weui-icon-clear" id="searchClear"></a>
            </div>
            <label class="weui-search-bar__label" id="searchText">
                <i class="weui-icon-search"></i>
                <span>搜索</span>
            </label>
        </form>
        <a href="javascript:" class="weui-search-bar__cancel-btn" id="searchCancel">取消</a>
    </div>

    <div class="page__bd">
        <div class="weui-cells__title">查询结果</div>
        <div class="weui-cells">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    推客数量：15人
                </div>
                <div class="weui-cell__ft">
                    <a ng-href="#order" class="weui-btn weui-btn_mini weui-btn_primary">领奖</a>
                </div>
            </div>
        </div>

        <div class="weui-cells__title" style="padding-top:60px;">说明</div>
        <div class="weui-cells">
            <div class="weui-cells__tips">
                <p>1:推客数量是从2017－04－26（包涵）加入后的才有效，以前加放不在本次统计中</p>
                <p>2:本次活动推客人数量要求大于或等于15人</p>
            </div>
        </div>
    </div>
    <div class="page_ft">

    </div>
</div>