.select_line{
	padding: 15px;
	border-radius: 10px 10px 0 0;
	border-top: 1px solid #EDEDED;
	.ul_line{
		display: flex;
		align-items: center;
		justify-content: space-around;
		text-align: center;
		.line_list{
			width: 103px;
			margin: 0 5px;
			.line_tiele{
				background: #B9BDC3;
				padding: 3px 15px 0 15px;
				border-radius: 10px 10px 0 0;
				font-size: 13px;
				color: #ffffff;
			}
			.line_time{
				background: #EDEDF0;
				border: 1px solid #EDEDF0;
				border-radius: 0 0 10px 10px;
				border-top: none;
				.time{
					font-size: 17px;
					color: #383838;
					padding-top: 8px;
				}
				.distance{
					font-size: 15px;
					color: #737373;
				}
			}
		}

		.line_list_active{
			.line_tiele{
				background: #4598F7;
			}
			.line_time{
				background: #ffffff;
				border: 1px solid #4598F7;
				border-top: none;
				.time{
					color: #4598F7;
				}
				.distance{
					color: #4598F7;
				}
			}
		}
	}
}
.submit_btn{
	width: 100%;
	position: absolute;
	bottom: 0;
	>button{
		margin: 15px;
		background: #484848;
		border-radius: 10px;
		color: #ffffff;
		font-size: 16px;
	}
}

button::after{
	border: none;
}