body {
    background: #fff;
    color: #333;
    text-rendering: optimizelegibility;
}

.mod-hd {
    background: pink;
    height: 60px;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, .95);
    z-index: 100;
    border-bottom: 1px solid #eee;
}

.grid {
    background: #fff;
    width: 1190px;
    margin: auto;
}

@media (min-width: 1600px) {
    .grid {
        width: 1490px
    }
}

@media (min-width: 1024px) and (max-width:1279px) {
    .grid {
        width: 990px
    }
}

@media (max-width: 1023px) {
    .grid {
        width: 100%
    }
}

.banner {
    position: relative;
    background-color: #6190e8;
    overflow: hidden;
}

.banner-pic {
    display: flex;
    align-self: center;
    justify-content: center;
    height: 250px;
}

@media (max-width: 1023px) {
    .banner-pic {
        height: 200px;
    }
}

.banner-bg {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('https://aotu.io/img/ball_1408.png') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-position: center 80%;
    opacity: .02;
}


.mod-ft {
    margin-top: 30px;
    background: #f8f8f8;
    padding: 20px 0;
    text-align: center;
    border-top: 1px solid #eee
}

@media (max-width: 1023px) {
    .mod-ft {
        margin-top: 0
    }
}

.mod-main {
    float: left;
    width: 930px;
    margin-right: 20px;
}

@media (min-width: 1600px) {
    .mod-main {
        width: 1230px
    }
}

@media (min-width: 1024px) and (max-width:1279px) {
    .mod-main {
        width: 730px
    }
}

@media (max-width: 1023px) {
    .mod-main {
        float: none;
        margin-right: 0;
        width: 100%
    }
}




.mod-side {
    background: #fff;
    float: left;
    width: 240px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px 0 20px 15px;
}

.mod-ft-links li {
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    display: inline-block;
    background-color: #f1f1f1;
    border-radius: 50%;
    margin: 0 5px
}

.mod-ft-copyright {
    margin: 10px 0;
    font-size: 12px
}

.mod-ft-copyright p {
    margin-bottom: 5px
}





/*.cates {
    overflow: hidden;
    font-size: 16px;
    margin-bottom: 15px;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
    background: #fff
}

.cates::-webkit-scrollbar {
    display: none
}

.cates ul {
    float: left;
    display: block;
    white-space: nowrap;
    height: 100%;
    font-size: 0;
    position: relative;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
    overflow-y: hidden
}

.cates ul::-webkit-scrollbar {
    display: none
}

.cates li {
    display: inline-block;
    padding: 0 10px;
    font-size: 16px;
    margin: 10px 10px 10px 0;
    height: 30px;
    line-height: 30px
}

.cates li.active {
    background: #6190e8;
    font-weight: 400
}

.cates li.active a {
    color: #fff;
    cursor: default
}

.cates li.active a:hover {
    color: #fff
}

@media (max-width: 1023px) {
    .cates {
        padding: 0 10px;
        font-size: 14px;
        -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
        box-shadow: 0 1px 2px rgba(0, 0, 0, .1)
    }

    .cates h3 {
        display: none
    }

    .cates ul {
        float: none
    }

    .cates li {
        margin-right: 15px
    }

    .cates li.active {
        background: 0 0
    }

    .cates li.active a {
        color: #6190e8
    }
}

.posts {
    margin-right: -30px
}

.posts:after {
    content: ' ';
    clear: both;
    display: table
}

@media (max-width: 1023px) {
    .posts {
        margin-right: 0
    }
}

@media (min-width: 1024px) and (max-width:1279px) {
    .posts {
        margin-right: -60px
    }
}

.mod-post {
    overflow: hidden;
    background: #fff;
    margin: 0 30px 30px 0;
    box-sizing: border-box;
    float: left;
    width: 280px;
    height: 204px;
    transition: box-shadow .2s
}

.mod-post:hover {
    box-shadow: 0 0 2px rgba(0, 0, 0, .2)
}

.mod-post:hover .mod-post-desc {
    color: #646464
}

.mod-post>a {
    display: block
}

.mod-post-cover {
    position: relative;
    display: block;
    width: 100%;
    height: 113px;
    overflow: hidden
}

.mod-post-cover img {
    display: block;
    width: 100%
}

.mod-post-info {
    padding: 10px
}

.mod-post-tit {
    height: 24px;
    margin-bottom: 5px;
    overflow: hidden;
    line-height: 24px;
    font-weight: 400;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    transition: color .2s
}

.mod-post-desc {
    height: 40px;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    transition: color .2s
}

@media (max-width: 1023px) {
    .mod-post {
        float: none;
        width: auto;
        height: auto;
        margin: 0 15px 20px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, .1)
    }

    .mod-post-cover {
        height: auto
    }
}

@media (min-width: 1024px) and (max-width:1279px) {
    .mod-post {
        width: 320px;
        height: 220px;
        margin-right: 60px
    }

    .mod-post-cover {
        height: 130px
    }
}

*/