<div class="page" ng-controller="tipController">
    <div class="weui-msg">
        <div class="weui-msg__icon-area"><i ng-class="{true:'weui-icon-success',false:'weui-icon-warn'}[params.msgtype=='success']" class=" weui-icon_msg"></i></div>
        <div class="weui-msg__text-area">
            <h2 class="weui-msg__title">{{params.title}}</h2>
            <p class="weui-msg__desc" ng-bind-html="params.desc"></p>
        </div>
        <div class="weui-msg__opr-area">
            <p class="weui-btn-area">
                <a ng-href="#{{params.hash}}" class="weui-btn weui-btn_primary">确定</a>
            </p>
        </div>
        <div class="weui-msg__extra-area">
            <img style="width: 100%;" ng-src="{{params.img}}">
            <a href=""></a>
        </div>
    </div>
</div>

