<div class="page" ng-controller="memberController">
    <div class="page__hd">
        <h2 style="text-align: center">栀子会会员注册</h2>
    </div>
    <div class="page__bd" style="padding-bottom:30px;">
        <form name="formeidt" ng-submit="regist(formeidt.$invalid)"  novalidate="novalidate">
            <div class="weui-cells__tips"></div>
            <div class="weui-cells weui-cells_form">
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">昵称</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="text" required="" ng-model="data.real_name" name="real_name" placeholder="请输入微信昵称"/>
                    </div>
                </div>
                <div class="weui-cell ">
                    <div class="weui-cell__hd">
                        <label class="weui-label">手机号</label>
                    </div>
                    <div class="weui-cell__bd">
                        <input class="weui-input"
                               type="tel"
                               ng-model="data.telephone"
                               ng-minlength="11"
                               ng-maxlength="11"
                               ng-pattern="/^1[3|4|5|7|8]\d{9}$/"
                               name="telephone"
                               required
                               placeholder="购买枙子会员的手机号"/>
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">年龄</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="number" se-select-age required  ng-model="data.parent_age" name="parent_age" pattern="[0-9]*"  placeholder="请输入年龄"/>
                    </div>
                </div>
                <div class="weui-cell ">
                    <div class="weui-cell__hd"><label class="weui-label">城市</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="text" required  ng-model="data.city"  name="city" placeholder="请输入城市"/>
                    </div>
                </div>
                <div class="weui-cell ">
                    <div class="weui-cell__hd"><label class="weui-label">孩子的性别</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="text" required se-select-sex  ng-model="data.child_sex"  name="child_sex" placeholder="请输入性别"/>
                    </div>
                </div>
                <div class="weui-cell ">
                    <div class="weui-cell__hd"><label class="weui-label">孩子年龄</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="number" se-select-age required  ng-model="data.child_age"  name="child_age" pattern="[0-9]*" placeholder="请输入年龄"/>
                    </div>
                </div>
                <div class="weui-cell ">
                    <div class="weui-cell__hd"><label class="weui-label">孩子的年级</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="text" required se-select-grade  ng-model="data.child_grade"  name="child_grade"  placeholder="请输入年级"/>
                    </div>
                </div>
            </div>
            <div>
                <div ng-show="(formeidt.real_name.$error.required && formeidt.real_name.$touched) || (seInValid==true && formeidt.real_name.$dirty==false)">
                    <div class="error" style="padding-left:10px;">昵称不能为空</div>
                </div>
                <div ng-show="(formeidt.telephone.$error.required && formeidt.telephone.$touched) || (seInValid==true && formeidt.telephone.$dirty==false) ">
                    <div class="error" style="padding-left:10px;">手机号码不能为空</div>
                </div>
                <div ng-show="(formeidt.telephone.$error.minlength || formeidt.telephone.$error.maxlength || formeidt.telephone.$error.pattern) && formeidt.telephone.$touched">
                    <div class="error" style="padding-left:10px;">手机号码有误</div>
                </div>
                <div ng-show="(formeidt.parent_age.$error.required && formeidt.parent_age.$touched) || (seInValid==true && formeidt.parent_age.$dirty==false)">
                    <div class="error" style="padding-left:10px;">年龄不能为空</div>
                </div>
                <div ng-show="(formeidt.city.$error.required && formeidt.city.$touched) || (seInValid==true && formeidt.city.$dirty==false)">
                    <div class="error" style="padding-left:10px;">城市不能为空</div>
                </div>
                <div ng-show="(formeidt.child_sex.$error.required && formeidt.child_sex.$touched) || (seInValid==true && formeidt.child_sex.$dirty==false)">
                    <div class="error" style="padding-left:10px;">孩子的性别不能为空</div>
                </div>
                <div ng-show="(formeidt.child_age.$error.required && formeidt.child_age.$touched) || (seInValid==true && formeidt.child_age.$dirty==false)">
                    <div class="error" style="padding-left:10px;">孩子年龄不能为空</div>
                </div>
                <div ng-show="(formeidt.child_grade.$error.required && formeidt.child_grade.$touched) || (seInValid==true && formeidt.child_grade.$dirty==false)">
                    <div class="error" style="padding-left:10px;">孩子的班级不能为空</div>
                </div>
            </div>
            <div class="weui-btn-area">
                <button type="submit" class="weui-btn weui-btn_primary">确认</button>
            </div>
        </form>
    </div>
    <div class="page__ft">
        <div style="font-size: 12px;color: #f00;text-align: left;padding: 0 15px;">
            <span class="fa fa-exclamation-triangle" style="color:red"></span>
            注册成功，待工作人员审核通过后，将后发放入学通知书，可以在 “我“ 栏目中查看
        </div>
    </div>
</div>