.header{
	font-size: 25px;
	color: #484848;
	padding: 12px;
}

.body{
	padding: 12px;
	padding-top: 0;
	.input{
		border-bottom: 1px solid #EDEDF0;
		padding: 12px 0;
	}
	.ification{
		display: flex;
		align-items: center;
		>view{
			flex: 1;
			border-bottom: 1px solid #ededf0;
			padding: 12px 0;
		}
		>view:first-child{
			margin-right: 12px;
		}
	}

	.document{
		.document_title{
			font-size: 13px;
			color: #484848;
			padding: 12px 0;
			>text{
				font-size: 10px;
				color: #737373;
			}
		}

		.doc_list{
			display: flex;
			align-items: center;
			justify-content: space-around;
			.list_li{
				width: 163px;
				height: 98px;
				line-height: 100px;
				border: 1px solid #EDEDF0;
				border-radius: 10px;
				background: #F7F6F6;
				text-align: center;
				font-size: 13px;
				color: #737373;
				>image{
					width: 100%;
					height: 100%;
					display: block;
				}
			}
			.list_li:first-child{
				margin-right: 12px;
			}
		}
	}
}

.foot_btn{
	position: absolute;
	bottom: 0;
	width: 100%;
	>button{
		margin: 15px;
		background: #484848;
		color: #ffffff;
		font-size: 16px;
		border-radius: 10px;
	}
	>button:active{
		background: #1B1B1B;
	}
}

button::after{
	border: none;
}

.button_show{
	background: #484848;
}
