.header{
	font-size: 25px;
	color: #484848;
	padding: 12px;
}

.body{
	padding: 12px;
	padding-top: 0;
	.input{
		border-bottom: 1px solid #EDEDF0;
		padding: 12px 0;
	}
}

.foot_btn{
	position: absolute;
	bottom: 0;
	width: 100%;
	>button{
		margin: 15px;
		background: #DDDDDD;
		color: #ffffff;
		font-size: 16px;
		border-radius: 10px;
	}
	>button:active{
		background: #1B1B1B;
	}
}

button::after{
	border: none;
}

.button_show{
	background: #484848;
}
