# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db
ehthumbs.db
Desktop.ini

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

# phpstorm project files
.idea
.cache
.htaccess
/.idea

#otherfiles
env.txt
env.js
config.js
project.config.json


