/**
    @file 数字 因为组件不支持font icon，所以临时采用图片方式处理，数字和图片对应关系
    @author hurry
    @date 2018/01/23
*/
module.exports = {
    imgs: {
        '1': 'https://imgs.genshuixue.com/0cms/d/file/content/2018/01/5a66eb469e8f0.png',
        '2': 'https://imgs.genshuixue.com/0cms/d/file/content/2018/01/5a66eb46cd616.png',
        '3': 'https://imgs.genshuixue.com/0cms/d/file/content/2018/01/5a66eb4707961.png',
        '4': 'https://imgs.genshuixue.com/0cms/d/file/content/2018/01/5a66eb47293fe.png',
        '5': 'https://imgs.genshuixue.com/0cms/d/file/content/2018/01/5a66eb47498b6.png',
        '6': 'https://imgs.genshuixue.com/0cms/d/file/content/2018/01/5a66eb476bfc7.png',
        '7': 'https://imgs.genshuixue.com/0cms/d/file/content/2018/01/5a66eb479d36e.png',
        '8': 'https://imgs.genshuixue.com/0cms/d/file/content/2018/01/5a66eb47cc923.png',
        '9': 'https://imgs.genshuixue.com/0cms/d/file/content/2018/01/5a66eb4811b49.png',
        '10': 'https://imgs.genshuixue.com/0cms/d/file/content/2018/01/5a66eb4838e70.png'
    }
};