<div class="weui_tabbar" style="padding:5px 0" >
    <a href="http://qa.jiajiaozhihui.cn/link/qa.html" class="weui_tabbar_item" style="padding-top:0;">
        <div style="padding:5px 0;margin: 0;
            border-right:1px solid #ccc; font-size:16px;"
           class="weui_tabbar_label">专家问答</div>
    </a>
    <a href="http://weixin.jiajiaozhihui.cn/link/gxdr.html" class="weui_tabbar_item" style="padding-top:0;">
        <div style="padding:5px 0;font-size:16px; margin: 0;"
           class="weui_tabbar_label">诗词大荟</div>
    </a>
</div>