<div style="padding-bottom:30px; background-color: #F4EEEE">
    <div class=" container"  ng-controller="defaultController">
        <div loading="" ng-model="isLoading"></div>
        <div class="row ">
            <img class="img-responsive" src="../../../content/imgs/cardlogo.jpg">
        </div>
        <div class="row" style="padding-bottom: 10px; padding-top:10px" ng-controller="learnCardController">
            <div class="col-xs-8">
                <span class="text-success">学习人数:</span>
                <span ng-bind="5000+courses.quantity" class=" text-warning" style=" font-weight: bold"></span>
            </div>
            <div class="col-xs-4 text-center">
                <div style="padding:2px 5px; border-radius: 3px;">
                    <a class="btn btn-xs btn-success" href="javascript:void(0)" ng-click="pay(10,2)">申请加入课程</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="weui_cells weui_cells_access seline" style="background-color:#F4EEEE;margin-top:0">
                <a class="weui_cell bg-success">
                    <div class="weui_cell_bd weui_cell_primary">
                        <div><span class="fa fa-th-list"></span> 习惯教育</div>
                    </div>
                    <div class="weui_cell_ft"></div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12" style="padding-bottom:2px; " ng-repeat="info in courses.xueGuan">
                <div class="row" style="background-color:#fff;padding-top:5px;padding-bottom:5px;">
                    <div class="col-xs-5" >
                        <a href="javascript:void(0)" ng-click="link(courses.isBuyCard,info.id,4,info.mediaType,false)">
                            <img style="width:100%;" data-ui-lazyload="{{info.miniImgUrl}}"  />
                        </a>
                    </div>
                    <div class="col-xs-7" style="padding-left:0; position: relative; height: 95px;">
                        <a  href="javascript:void(0)" ng-click="link(courses.isBuyCard,info.id,4,info.mediaType,false)">
                            <div >
                                <strong style='font-size:14px;color:#111;'>{{info.title}}</strong>
                            </div>
                            <div style="position: absolute; width:100%; bottom: 0; left: 0">
                                <p class="text-muted time"　style="font-size:13px;">
                                    <!--<span>离开课时间还剩</span>-->
                                    <span style="padding:0 5px;" class="sesuccess" data-ctl="online{{info.id}}" nowadays="{{courses.now}}"   startTime="{{info.startDate}}" endTime="{{info.endDate}}"  se-timer="" ></span>
                                </p>
                                <div class="row" style="font-size:13px;">
                                    <div class="col-xs-6 text-muted text-left">
                                        <span ng-class="{true:'glyphicon-facetime-video',false:'glyphicon-headphones'}[info.mediaType==1]" class="glyphicon "></span>
                                        <span class="learn_state">aaaaaaa</span>
                                    </div>
                                    <div class="col-xs-6 text-muted">
                                        <div style='float:right;padding-right:15px;'>人气 <span class="sesuccess">{{info.learnNumber+info.buyNumber}}</span></div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="weui_cells weui_cells_access seline" style="background-color:#F4EEEE;margin-top:0">
                <a class="weui_cell bg-success">
                    <div class="weui_cell_bd weui_cell_primary">
                        <div><span class="fa fa-th-list"></span> 责任教育</div>
                    </div>
                    <div class="weui_cell_ft"></div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12" style="padding-bottom:2px; " ng-repeat="info in courses.zeRen">
                <div class="row" style="background-color:#fff;padding-top:5px;padding-bottom:5px;">
                    <div class="col-xs-5" >
                        <a href="javascript:void(0)" ng-click="link(courses.isBuyCard,info.id,5,info.mediaType,false)">
                            <img style="width:100%;" data-ui-lazyload="{{info.miniImgUrl}}"  />
                        </a>
                    </div>
                    <div class="col-xs-7" style="padding-left:0;">
                        <div style="margin-bottom:25px;">
                            <a  href="javascript:void(0)" ng-click="link(courses.isBuyCard,info.id,5,info.mediaType,false)">
                                <strong style='font-size:14px;color:#111;'>{{info.title}}</strong>
                            </a>
                        </div>
                        <p class="text-muted time"　style="font-size:13px;">
                            <!--<span>离开课时间还剩</span>-->
                            <span style="padding:0 5px;" class="sesuccess" data-ctl="online{{info.id}}" nowadays="{{courses.now}}"   startTime="{{info.startDate}}" endTime="{{info.endDate}}"  se-timer="" ></span>
                        </p>
                        <div class="row" style="font-size:13px;">
                            <div class="col-xs-6 text-muted text-left">
                                <span  ng-class="{true:'glyphicon-facetime-video',false:'glyphicon-headphones'}[info.mediaType==1]" class="glyphicon "></span>
                            </div>
                            <div class="col-xs-6 text-muted">
                                <div style='float:right;'>人气 <span class="sesuccess">{{info.learnNumber}}</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="weui_cells weui_cells_access seline" style="background-color:#F4EEEE;margin-top:0">
                <a class="weui_cell bg-success">
                    <div class="weui_cell_bd weui_cell_primary">
                        <div><span class="fa fa-th-list"></span> 信心教育</div>
                    </div>
                    <div class="weui_cell_ft"></div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12" style="padding-bottom:2px; " ng-repeat="info in courses.xinXun">
                <div class="row" style="background-color:#fff;padding-top:5px;padding-bottom:5px;">
                    <div class="col-xs-5" >
                        <a href="javascript:void(0)" ng-click="link(courses.isBuyCard,info.id,6,info.mediaType,false)">
                            <img style="width:100%;" data-ui-lazyload="{{info.miniImgUrl}}"  />
                        </a>
                    </div>
                    <div class="col-xs-7" style="padding-left:0;">
                        <div style="margin-bottom:25px;">
                            <a  href="javascript:void(0)" ng-click="link(courses.isBuyCard,info.id,6,info.mediaType,false)">
                                <strong style='font-size:14px;color:#111;'>{{info.title}}</strong>
                            </a>
                        </div>
                        <p class="text-muted time"　style="font-size:13px;">
                            <span>离开课时间还剩</span>
                            <span style="padding:0 5px;" class="sesuccess" data-ctl="online{{info.id}}" nowadays="{{courses.now}}"   startTime="{{info.startDate}}" endTime="{{info.endDate}}"  se-timer="" ></span>
                        </p>
                        <div class="row" style="font-size:13px;">
                            <div class="col-xs-6 text-muted text-left">
                                <span  ng-class="{true:'glyphicon-facetime-video',false:'glyphicon-headphones'}[info.mediaType==1]" class="glyphicon "></span>
                            </div>
                            <div class="col-xs-6 text-muted">
                                <div style='float:right;'>人气 <span class="sesuccess">{{info.learnNumber}}</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="weui_cells weui_cells_access seline" style="background-color:#F4EEEE;margin-top:0">
                <a class="weui_cell bg-success">
                    <div class="weui_cell_bd weui_cell_primary">
                        <div><span class="fa fa-th-list"></span> 表达教育</div>
                    </div>
                    <div class="weui_cell_ft"></div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12" style="padding-bottom:2px; " ng-repeat="info in courses.biaoDa">
                <div class="row" style="background-color:#fff;padding-top:5px;padding-bottom:5px;">
                    <div class="col-xs-5" >
                        <a href="javascript:void(0)" ng-click="link(courses.isBuyCard,info.id,7,info.mediaType,false)">
                            <img style="width:100%;" data-ui-lazyload="{{info.miniImgUrl}}"  />
                        </a>
                    </div>
                    <div class="col-xs-7" style="padding-left:0;">
                        <div style="margin-bottom:25px;">
                            <a  href="javascript:void(0)" ng-click="link(courses.isBuyCard,info.id,7,info.mediaType,false)">
                                <strong style='font-size:14px;color:#111;'>{{info.title}}</strong>
                            </a>
                        </div>
                        <p class="text-muted time"　style="font-size:13px;">
                            <span>离开课时间还剩</span>
                            <span style="padding:0 5px;" class="sesuccess" data-ctl="online{{info.id}}" nowadays="{{courses.now}}"   startTime="{{info.startDate}}" endTime="{{info.endDate}}"  se-timer="" ></span>
                        </p>
                        <div class="row" style="font-size:13px;">
                            <div class="col-xs-6 text-muted text-left">
                                <span  ng-class="{true:'glyphicon-facetime-video',false:'glyphicon-headphones'}[info.mediaType==1]" class="glyphicon "></span>
                            </div>
                            <div class="col-xs-6 text-muted">
                                <div style='float:right;'>人气 <span class="sesuccess">{{info.learnNumber}}</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="weui_cells weui_cells_access seline" style="background-color:#F4EEEE;margin-top:0">
                <a class="weui_cell bg-success">
                    <div class="weui_cell_bd weui_cell_primary">
                        <div><span class="fa fa-th-list"></span> 专注力教育</div>
                    </div>
                    <div class="weui_cell_ft"></div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12" style="padding-bottom:2px; " ng-repeat="info in courses.zuanZhuli">
                <div class="row" style="background-color:#fff;padding-top:5px;padding-bottom:5px;">
                    <div class="col-xs-5" >
                        <a href="javascript:void(0)" ng-click="link(courses.isBuyCard,info.id,8,info.mediaType,false)">
                            <img style="width:100%;" data-ui-lazyload="{{info.miniImgUrl}}"  />
                        </a>
                    </div>
                    <div class="col-xs-7" style="padding-left:0;">
                        <div style="margin-bottom:25px;">
                            <a  href="javascript:void(0)" ng-click="link(courses.isBuyCard,info.id,8,info.mediaType,false)">
                                <strong style='font-size:14px;color:#111;'>{{info.title}}</strong>
                            </a>
                        </div>
                        <p class="text-muted time"　style="font-size:13px;">
                            <span>离开课时间还剩</span>
                            <span style="padding:0 5px;" class="sesuccess" data-ctl="online{{info.id}}" nowadays="{{courses.now}}"   startTime="{{info.startDate}}" endTime="{{info.endDate}}"  se-timer="" ></span>
                        </p>
                        <div class="row" style="font-size:13px;">
                            <div class="col-xs-6 text-muted text-left">
                                <span  ng-class="{true:'glyphicon-facetime-video',false:'glyphicon-headphones'}[info.mediaType==1]" class="glyphicon "></span>
                            </div>
                            <div class="col-xs-6 text-muted">
                                <div style='float:right;'>人气 <span class="sesuccess">{{info.learnNumber}}</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="weui_cells weui_cells_access seline" style="background-color:#F4EEEE;margin-top:0">
                <a class="weui_cell bg-success">
                    <div class="weui_cell_bd weui_cell_primary">
                        <div><span class="fa fa-th-list"></span> 价值观教育</div>
                    </div>
                    <div class="weui_cell_ft"></div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12" style="padding-bottom:2px; " ng-repeat="info in courses.jiaZhiGuan">
                <div class="row" style="background-color:#fff;padding-top:5px;padding-bottom:5px;">
                    <div class="col-xs-5" >
                        <a href="javascript:void(0)" ng-click="link(courses.isBuyCard,info.id,9,info.mediaType,false)">
                            <img style="width:100%;" data-ui-lazyload="{{info.miniImgUrl}}"  />
                        </a>
                    </div>
                    <div class="col-xs-7" style="padding-left:0;">
                        <div style="margin-bottom:25px;">
                            <a  href="javascript:void(0)" ng-click="link(courses.isBuyCard,info.id,9,info.mediaType,false)">
                                <strong style='font-size:14px;color:#111;'>{{info.title}}</strong>
                            </a>
                        </div>
                        <p class="text-muted time"　style="font-size:13px;">
                            <span>离开课时间还剩</span>
                            <span style="padding:0 5px;" class="sesuccess" data-ctl="online{{info.id}}" nowadays="{{courses.now}}"   startTime="{{info.startDate}}" endTime="{{info.endDate}}"  se-timer="" ></span>
                        </p>
                        <div class="row" style="font-size:13px;">
                            <div class="col-xs-6 text-muted text-left">
                                <span  ng-class="{true:'glyphicon-facetime-video',false:'glyphicon-headphones'}[info.mediaType==1]" class="glyphicon "></span>
                            </div>
                            <div class="col-xs-6 text-muted">
                                <div style='float:right;'>人气 <span class="sesuccess">{{info.learnNumber}}</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="weui_cells weui_cells_access seline" style="background-color:#F4EEEE;margin-top:0">
                <a class="weui_cell bg-success">
                    <div class="weui_cell_bd weui_cell_primary">
                        <div><span class="fa fa-th-list"></span> 安全教育</div>
                    </div>
                    <div class="weui_cell_ft"></div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12" style="padding-bottom:2px; " ng-repeat="info in courses.anQuan">
                <div class="row" style="background-color:#fff;padding-top:5px;padding-bottom:5px;">
                    <div class="col-xs-5" >
                        <a href="javascript:void(0)" ng-click="link(courses.isBuyCard,info.id,10,info.mediaType,false)">
                            <img style="width:100%;" data-ui-lazyload="{{info.miniImgUrl}}"  />
                        </a>
                    </div>
                    <div class="col-xs-7" style="padding-left:0;">
                        <div style="margin-bottom:25px;">
                            <a  href="javascript:void(0)" ng-click="link(courses.isBuyCard,info.id,10,info.mediaType,false)">
                                <strong style='font-size:14px;color:#111;'>{{info.title}}</strong>
                            </a>
                        </div>
                        <p class="text-muted time"　style="font-size:13px;">
                            <span>离开课时间还剩</span>
                            <span style="padding:0 5px;" class="sesuccess" data-ctl="online{{info.id}}" nowadays="{{courses.now}}"   startTime="{{info.startDate}}" endTime="{{info.endDate}}"  se-timer="" ></span>
                        </p>
                        <div class="row" style="font-size:13px;">
                            <div class="col-xs-6 text-muted text-left">
                                <span  ng-class="{true:'glyphicon-facetime-video',false:'glyphicon-headphones'}[info.mediaType==1]" class="glyphicon "></span>
                            </div>
                            <div class="col-xs-6 text-muted">
                                <div style='float:right;'>人气 <span class="sesuccess">{{info.learnNumber}}</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="weui_cells weui_cells_access seline" style="background-color:#F4EEEE;margin-top:0">
                <a class="weui_cell bg-success">
                    <div class="weui_cell_bd weui_cell_primary">
                        <div><span class="fa fa-th-list"></span> 情商教育</div>
                    </div>
                    <div class="weui_cell_ft"></div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12" style="padding-bottom:2px; " ng-repeat="info in courses.qianShuan">
                <div class="row" style="background-color:#fff;padding-top:5px;padding-bottom:5px;">
                    <div class="col-xs-5" >
                        <a href="javascript:void(0)" ng-click="link(courses.isBuyCard,info.id,11,info.mediaType,false)">
                            <img style="width:100%;" data-ui-lazyload="{{info.miniImgUrl}}"  />
                        </a>
                    </div>
                    <div class="col-xs-7" style="padding-left:0;">
                        <div style="margin-bottom:25px;">
                            <a  href="javascript:void(0)" ng-click="link(courses.isBuyCard,info.id,11,info.mediaType,false)">
                                <strong style='font-size:14px;color:#111;'>{{info.title}}</strong>
                            </a>
                        </div>
                        <p class="text-muted time"　style="font-size:13px;">
                            <span>离开课时间还剩</span>
                            <span style="padding:0 5px;" class="sesuccess" data-ctl="online{{info.id}}" nowadays="{{courses.now}}"   startTime="{{info.startDate}}" endTime="{{info.endDate}}"  se-timer="" ></span>
                        </p>
                        <div class="row" style="font-size:13px;">
                            <div class="col-xs-6 text-muted text-left">
                                <span  ng-class="{true:'glyphicon-facetime-video',false:'glyphicon-headphones'}[info.mediaType==1]" class="glyphicon "></span>
                            </div>
                            <div class="col-xs-6 text-muted">
                                <div style='float:right;'>人气 <span class="sesuccess">{{info.learnNumber}}</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="weui_cells weui_cells_access seline" style="background-color:#F4EEEE;margin-top:0">
                <a class="weui_cell bg-success">
                    <div class="weui_cell_bd weui_cell_primary">
                        <div><span class="fa fa-th-list"></span> 财商教育</div>
                    </div>
                    <div class="weui_cell_ft"></div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12" style="padding-bottom:2px; " ng-repeat="info in courses.caiShuan">
                <div class="row" style="background-color:#fff;padding-top:5px;padding-bottom:5px;">
                    <div class="col-xs-5" >
                        <a href="javascript:void(0)" ng-click="link(courses.isBuyCard,info.id,12,info.mediaType,false)">
                            <img style="width:100%;" data-ui-lazyload="{{info.miniImgUrl}}"  />
                        </a>
                    </div>
                    <div class="col-xs-7" style="padding-left:0;">
                        <div style="margin-bottom:25px;">
                            <a  href="javascript:void(0)" ng-click="link(courses.isBuyCard,info.id,12,info.mediaType,false)">
                                <strong style='font-size:14px;color:#111;'>{{info.title}}</strong>
                            </a>
                        </div>
                        <p class="text-muted time"　style="font-size:13px;">
                            <span>离开课时间还剩</span>
                            <span style="padding:0 5px;" class="sesuccess" data-ctl="online{{info.id}}" nowadays="{{courses.now}}"   startTime="{{info.startDate}}" endTime="{{info.endDate}}"  se-timer="" ></span>
                        </p>
                        <div class="row" style="font-size:13px;">
                            <div class="col-xs-6 text-muted text-left">
                                <span  ng-class="{true:'glyphicon-facetime-video',false:'glyphicon-headphones'}[info.mediaType==1]" class="glyphicon "></span>
                            </div>
                            <div class="col-xs-6 text-muted">
                                <div style='float:right;'>人气 <span class="sesuccess">{{info.learnNumber}}</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="weui_cells weui_cells_access seline" style="background-color:#F4EEEE;margin-top:0">
                <a class="weui_cell bg-success">
                    <div class="weui_cell_bd weui_cell_primary">
                        <div><span class="fa fa-th-list"></span> 品格教育</div>
                    </div>
                    <div class="weui_cell_ft"></div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12" style="padding-bottom:2px; " ng-repeat="info in courses.meiDe">
                <div class="row" style="background-color:#fff;padding-top:5px;padding-bottom:5px;">
                    <div class="col-xs-5" >
                        <a href="javascript:void(0)" ng-click="link(courses.isBuyCard,info.id,13,info.mediaType,false)">
                            <img style="width:100%;" data-ui-lazyload="{{info.miniImgUrl}}"  />
                        </a>
                    </div>
                    <div class="col-xs-7" style="padding-left:0;">
                        <div style="margin-bottom:25px;">
                            <a  href="javascript:void(0)" ng-click="link(courses.isBuyCard,info.id,13,info.mediaType,false)">
                                <strong style='font-size:14px;color:#111;'>{{info.title}}</strong>
                            </a>
                        </div>
                        <p class="text-muted time"　style="font-size:13px;">
                            <span>离开课时间还剩</span>
                            <span style="padding:0 5px;" class="sesuccess" data-ctl="online{{info.id}}" nowadays="{{courses.now}}"   startTime="{{info.startDate}}" endTime="{{info.endDate}}"  se-timer="" ></span>
                        </p>
                        <div class="row" style="font-size:13px;">
                            <div class="col-xs-6 text-muted text-left">
                                <span  ng-class="{true:'glyphicon-facetime-video',false:'glyphicon-headphones'}[info.mediaType==1]" class="glyphicon "></span>
                            </div>
                            <div class="col-xs-6 text-muted">
                                <div style='float:right;'>人气 <span class="sesuccess">{{info.learnNumber+info.buyNumber}}</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
