body {
	 background-position: top; margin: 0px; padding: 0px; color: rgb(0, 0, 0); line-height: 17px; font-family: "Î¢ÈíÑÅºÚ","ËÎÌå"; font-size: 16px;   background-color: white;text-align:center;
}
a:link,a:visited{
 text-decoration:none;   
}
a:hover{
 text-decoration:underline; 
}
.divwcom 
{
   width: 1004px;margin-right: auto; margin-left: auto;font-family:@Î¢ÈíÑÅºÚ;
}
.a2 .spbj {
	background-position: top; height: 520px;  
}
.a3 .spbj2 {
	background-position: top; height: 520px; margin-left: 5px;  
}
.maintop {
	background-position: center; width: 1004px; height: 50px; margin-top: 10px; margin-right: auto; margin-left: auto; background-repeat: no-repeat; background-color: rgb(153, 1, 0);
}
.con4 p {
	text-indent: 2em; padding-right: 20px; padding-left: 20px;
}
.m8a1 .left {
	width: 368px; margin-left: 10px;
}
.mainwenzi {
	color: rgb(255, 255, 0); line-height: normal; font-family: "Î¢ÈíÑÅºÚ","ºÚÌå"; font-size: 36px; font-weight: bold; margin-top: auto; margin-bottom: auto; margin-left: 15px;
}
.daohangtiao {
	width: 1004px; height: 38px; margin-top: 0px;  margin-left: 0px; margin-left: auto;margin-right: auto; 
}
.fangwei
{
    width: 1000px; height: 210px; border: 2px solid #FF0000; margin-top:20px;margin-left: auto;margin-right: auto;
}
.zhengs
{
border-width:1px;border-color:Gray;border-style:solid;
}
.bdgray
{
     height: 382px; border: 3px solid #cdc9c9; margin-top:20px; 
} 
.bdgraym
{
    margin-left:30px;margin-top:19px;font-size:24px;
}
.bdgray20px
{
    margin-left:30px;margin-top:16px;font-size:16px;
}
.shengming
{
    width: 140px; height: 173px; float:left;margin-top:10px;
}
.shengmingft
{
    float:right;width: 850px;  height: 173px; color:#332e2c;font-weight:bold;text-align:left;margin-top:15px;
}
.f20px
{
    font-family: Î¢ÈíÑÅºÚ; font-weight: bold; font-size: 20px;text-align:center;width:1004px;margin-left: auto;margin-right: auto;margin-top:20px;
}
.m2
{
    font-family: Î¢ÈíÑÅºÚ; font-weight: bold;   font-size: 16px;text-align:left;width:1004px;margin-top:10px;margin-left: auto;margin-right: auto;color:#332e2a;
}  
.mspan
{ 
    font-family: Î¢ÈíÑÅºÚ; font-weight: bold;   font-size: 16px; color:#332e2a;
}
.hy
{
    font-family: Î¢ÈíÑÅºÚ;   font-size: 16px;font-weight: bold; text-align:center;width:1004px;margin-left: auto;margin-right: auto; 
}
.szs
{
    margin-top:10px; margin-left: auto;margin-right: auto;line-height:20px;
}
.zshu
{
    display:inline;margin-left:10px;width:135px;font-size:16px; 
}
.fshu
{
    display:inline;margin-left:10px;width:135px;font-size:14px;
}
.t1
{
    background-repeat:no-repeat;width:1004px;height:70px;margin-top:50px;  line-height:70px;text-align:left; font-size: 22px; color: #FFFFFF; 
}  
.t2
{
    background-repeat:no-repeat;width:1004px;height:70px;margin-top:20px; font-size: 22px; color: #FFFFFF;  text-align:left;line-height:70px;
}  
.t3
{
    background-repeat:no-repeat;width:1004px;height:70px;margin-top:20px; font-size: 22px; color: #FFFFFF;  text-align:left;line-height:70px;
} 
.t3l
{
   margin-left:28px;width:454px;background-color:White;height:518px;margin-top:28px;
} 
.t3r
{
     margin-right:28px;width:454px;background-color:White;height:518px;margin-top:28px;
}  
.t4
{
    background-repeat:no-repeat;width:1004px;height:70px;margin-top:40px; font-size: 22px; color: #FFFFFF;  text-align:left;line-height:70px;
}  
.t5
{
    background-repeat:no-repeat;width:1004px;height:70px;margin-top:40px; font-size: 22px; color: #FFFFFF;  text-align:left;line-height:70px;
} 
.t5l
{
    width:471px;background-color:White;height:321px;margin-top:28px;
} 
.t5r
{
     margin-right:24px;width:506px;background-color:White;height:321px;margin-top:28px;font-size:16px;text-align:left;
}  
.t6
{
    background-repeat:no-repeat;width:1004px;height:70px;margin-top:20px; font-size: 22px; color: #FFFFFF;  text-align:left;line-height:70px;
} 
.t6l
{
    width:471px;background-color:White;height:357px;margin-top:28px;
} 
.t6r
{
     margin-right:24px;width:506px;background-color:White;height:357px;margin-top:28px;font-size:16px;text-align:left;
} 
.t7l
{
    width:357px;background-color:White;height:300px;margin-top:28px;margin-left:17px;
} 
.t7r
{
      width:357px;background-color:White;height:300px;margin-top:28px;font-size:16px;text-align:left;margin-right:49px;
} 
.t7cs
{
     width:589px;height:281px;margin-top:40px;margin-left:62px;font-size:18px;line-height:32px;
}
.t7bs
{
     width:303px;height:281px;margin-top:40px;margin-right:17px;
}
.t8wl
{
     width:224px;margin-top:40px;margin-left:32px;
}
.t8wr
{
     width:683px;margin-top:40px;margin-right:32px;line-height:26px;
}
.t8syft
{
    margin-top:40px;color:Red;font-size:28px;
}
.t11fsl
{
    background-color:#dfe2dd;width:201px;height:205px;margin-top:25px;margin-left:18px;
}
.t11fsr
{
     background-color:#dfe2dd;width:269px;height:205px;margin-top:25px;font-size:14px;line-height:20px;color:#525033;
}
.t12tz
{
    font-size:20px; margin-left:33px;margin-top:25px;color:#030000;line-height:30px;
}
.sft
{
    color:#e72919;
}
.ftleft
{
    text-align:left;
}
.t1fjd
{
   width: 545px; height: 250px; padding: 10px;margin-top:15px;margin-right:32px; float:right;
}
.t1ft
{
    height:324px; margin-left: auto;margin-right: auto;background-repeat:no-repeat;background-image: url("../images/bgleader.jpg");width:1004px;line-height:30px;
}
.wrap {
	background-position: top; margin: 0px auto; padding: 0px; width: 1004px; height: auto; background-repeat: no-repeat; background-color: rgb(255, 255, 255);
}
.clear { clear:both;}
.m10 p {
	padding-right: 40px; padding-left: 40px;
}
.left {
	float: left;
}
.rel {
	position: relative;
}
.abs {
	position: absolute;
}
.pp1 p {
	margin-top: 10px; margin-left: 125px;
}
.topvedio {
	left: 5px; bottom: 3px;
}
.m1 {
	width: 100%; height: 480px; margin-right: auto; margin-bottom: 2px; margin-left: auto;
}
.m1 .left div {
	width: 420px; margin-right: auto; margin-left: auto;
}
.m1 .right {
	width: 502px; margin-top: 10px; margin-right: 2px;
}
.m1 .left {
	width: 480px;
}
.a3 .left {
	width: 555px; margin-right: auto; margin-left: auto;
}
.a3 .right {
	border-width: 2px; border-style: dashed; width: 430px; padding-top: 10px; margin-top: 20px; margin-right: 5px; background-color: rgb(255, 255, 204);
}
.right {
	float: right;
}
.top {
	width: auto; 
}
.daohang a img {
	float: left;
}
.daohang {
	height: 38px; overflow: hidden;
}
ul {
	margin: 0px; padding: 0px; list-style-type: none;
}
.STYLE1 {
	color: rgb(255, 255, 0); line-height: 42px; font-family: "Î¢ÈíÑÅºÚ","ºÚÌå"; font-size: 32px; font-weight: bold;
}
.STYLE2 {
	color: rgb(255, 255, 255); font-family: "Î¢ÈíÑÅºÚ","ºÚÌå"; font-size: 21px; font-weight: bold;
}
.STYLE4 {
	color: rgb(255, 0, 0); font-weight: bold;
}
.STYLE6 {
	line-height: 22px; font-size: 15px;
}
.STYLE7 {
	color: rgb(0, 0, 0); line-height: 28px; font-family: "Î¢ÈíÑÅºÚ"; font-size: 16px; font-weight: bold;
}
.STYLE8 {
	color: rgb(255, 0, 0); font-family: "Î¢ÈíÑÅºÚ","ºÚÌå"; font-size: 32px; font-weight: bold;
}
.STYLE9 {
	color: rgb(255, 0, 0); font-weight: bold; background-color: rgb(255, 255, 0);
}
.STYLE10 {
	color: rgb(0, 0, 255); font-weight: bold;
}
.STYLE11 {
	color: rgb(153, 0, 0); font-family: "Î¢ÈíÑÅºÚ","ºÚÌå"; font-size: 21px; font-weight: bold;
}
.STYLE14 {
	color: rgb(204, 204, 204); font-size: 12px;
}
.STYLE15 {
	color: rgb(153, 0, 0); font-size: 27px;
}
.m1 .right .abs {
	left: 10px; width: 351px; height: 112px; bottom: 3px; padding-left: 130px; margin-bottom: 7px;
}
.con1 {
	line-height: 38px;
}
.inp1 {
	border: 1px solid rgb(0, 104, 203); width: 260px; height: 16px; line-height: 20px; margin-top: 6px;
}
.inp2 {
	border: 1px solid rgb(0, 104, 203); width: 260px; height: 16px; line-height: 20px; margin-top: 6px;
}
.inp3 {
	margin: 8px 0px 0px 32px; border: 0px solid rgb(204, 204, 204); width: 155px; height: 29px; font-size: 29px; display: block; cursor: pointer;
}
.m3 {
	width: 100%;
}
.a1 .left {
	width: 420px; margin-top: 10px; margin-left: 5px;
}
.a1 .right {
	width: 550px; margin-top: 10px; margin-right: 5px; margin-left: 10px;
}
.m4 {
	width: 100%; overflow: hidden;
}
.a1 {
	height: 375px; overflow: hidden; border-bottom-color: rgb(0, 0, 0); border-bottom-width: thin; border-bottom-style: dashed;
}
.m3 p {
	margin-top: 10px;
}
.a2 .right {
	width: 420px; margin-right: 2px;
}
.a2 .left {
	width: 560px; padding-top: 5px; margin-left: 5px;
}
.a2 {
	width: 100%; padding-top: 15px; padding-bottom: 15px; margin-right: auto; margin-left: auto;
}
.sum {
	border: dashed rgb(255, 0, 0); margin-top: 10px; margin-right: 10px; margin-left: 10px; background-color: rgb(255, 255, 204);
}
.sum p {
	margin-right: 10px; margin-left: 10px;
}
.m1 table {
	border: 1px solid rgb(255, 204, 0); border-collapse: collapse;
}
.m1 td {
	border: 1px solid rgb(255, 204, 0); border-collapse: collapse;
}
.m4 {
	width: 1004px; overflow: hidden; margin-right: auto; margin-left: auto;
}
.a3 {
	width: 100%; overflow: hidden; margin-right: auto; margin-left: auto;
}
.list1 {
	width: 1054px; overflow: hidden; -ms-zoom: 1;
}
.list1 li {
	padding: 5px 61px 5px 10px; width: 279px; text-align: center; overflow: hidden; font-size: 16px; font-weight: bold; float: left;
}
.pic {
	padding: 10px 0px 0px; height: 520px;
}
.m5 {
	width: 100%;
}
.m5a1 {
	padding-top: 10px; margin-right: auto; margin-left: auto; background-color: rgb(252, 249, 242);
}
.m5a1 .left {
	width: 580px; margin-left: 2px;
}
.con2 p {
	line-height: 30px; text-indent: 2em; font-family: "Î¢ÈíÑÅºÚ"; font-size: 16px; font-weight: normal; margin-top: 30px;
}
.m5a1 .right {
	width: 420px;
}
.m6a1 {
	width: 100%; margin-right: auto; margin-left: auto;
}
.m6a2 {
	width: 100%; height: 1120px; margin-right: auto; margin-left: auto;
}
.m6a2 .left {
	width: 660px; margin-left: 5px;
}
.con3 p {
	
}
.m6a2 .right {
	width: 329px; margin-top: 10px;
}
.m6 {
	width: 100%; margin-right: auto; margin-left: auto;
}
.m6a3 {
	width: 100%; height: 1410px; margin-right: auto; margin-left: auto; border-bottom-color: rgb(255, 0, 0); border-bottom-width: medium; border-bottom-style: dashed;
}
.m6a3 .left {
	width: 660px; margin-left: 5px;
}
.m6a3 .right {
	width: 318px;
}
.m7 {
	width: 100%; margin-right: auto; margin-left: auto;
}
.m8a1 {
	width: 100%; height: 245px; margin-top: 20px; margin-right: auto; margin-left: auto;
}
.m8a1 .right {
	background-position: top; width: 610px; background-image: url("../images/3tai.jpg"); background-repeat: no-repeat;
}
.STYLE12 {
	color: rgb(0, 0, 0); font-family: "Î¢ÈíÑÅºÚ","ºÚÌå"; font-size: 21px; font-weight: bold;
}
.pp3 {
	width: 100%; overflow: hidden; -ms-zoom: 1;
}
.pp3 dt {
	width: 201px; padding-left: 5px; float: left;
}
.pp3 dd {
	width: 780px; padding-right: 5px; padding-left: 10px; float: right;
}
dl {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
dt {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
dd {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
ul {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
li {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
fieldset {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
form {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
label {
	margin: 0px; padding: 0px; border: 0px currentColor;
}
.m9 dl {
	margin-top: 10px;
}
.pp4 {
	background: rgb(255, 255, 255); padding: 5px 0px; height: 200px; border-bottom-color: rgb(253, 1, 0); border-bottom-width: 1px; border-bottom-style: solid;
}
.pp4 dd {
	padding: 0px 20px; width: 730px;
}
.pp4 dt {
	width: 192px; padding-right: 20px; padding-bottom: 0px; padding-left: 20px; margin-top: 8px;
}
.STYLE13 {
	background-color: rgb(255, 255, 0);
}
.m11 p {
	padding-right: 40px; padding-left: 40px;
}
.m12 p {
	padding-right: 40px; padding-left: 40px;
}
.m13 p {
	padding-right: 40px; padding-left: 40px;
}
.md {
	font-size: 12px; font-weight: normal;
}
.feed {
	left: 80px; top: 100px; width: 500px; color: rgb(51, 51, 51); font-size: 14px;
}
.feed span {
	color: rgb(255, 0, 0);
}
.feed dt {
	left: 0px; width: 85px; position: absolute;
}
.feed dd {
	padding: 0px 0px 5px 85px;
}
.inpp4 {
	border: 1px solid rgb(1, 153, 255); width: 180px; height: 18px; margin-top: 5px; margin-right: 5px;
}
.feed textarea {
	border: 1px solid rgb(1, 153, 255); width: 325px; height: 80px; margin-top: 5px;
}
.inp5 {
	background: rgb(153, 0, 0); padding: 5px 20px; border: 0px currentColor; color: rgb(255, 255, 255); font-family: "Î¢ÈíÑÅºÚ"; font-size: 18px; font-weight: bold;
}
.feed p {
	padding: 0px 0px 5px;
}
.feed p input {
	vertical-align: 0px;
}
.qa {
	height: 30px; color: rgb(255, 255, 255); font-family: "Î¢ÈíÑÅºÚ","ºÚÌå"; font-size: 21px; font-weight: bold; margin-top: 10px; margin-left: 30px; background-image: url("qabj.jpg"); background-repeat: no-repeat;
}
.m15 p {
	text-indent: 2em; padding-right: 30px; padding-left: 30px;
}
.m16 p {
	background-position: left; color: rgb(153, 0, 0); line-height: 42px; padding-right: 10px; padding-left: 450px; font-family: "Î¢ÈíÑÅºÚ"; font-size: 36px; font-weight: bolder; background-image: url("../images/jijuexue.jpg"); background-repeat: no-repeat; background-color: rgb(235, 218, 166);
}
.f3 {
	background: rgb(255, 255, 255); width: 100%; overflow: hidden; -ms-zoom: 1;
}
.f4 {
	background: rgb(255, 255, 255); width: 100%; overflow: hidden; -ms-zoom: 1;
}
.f6 {
	background: rgb(255, 255, 255); width: 100%; overflow: hidden; -ms-zoom: 1;
}
.f9 {
	padding: 0px 0px 20px;
}
.list4 {
	padding: 70px 0px 0px; left: 50%; width: 500px; color: rgb(34, 34, 34); font-size: 14px; margin-left: -250px;
}
.list4 li {
	height: 25px; line-height: 25px;
}
.list4 li span {
	padding: 0px 10px;
}
.f10 {
	font-family: ËÎÌå; font-size: 12px; font-weight: normal;
}
.f10 {
	background: rgb(255, 255, 255);
}
.poss1 {
	margin: 0px auto; padding: 20px 0px; width: 950px;
}
.poss2 {
	margin: 0px auto; padding: 20px 0px; width: 900px;
}
.poss1 dd {
	margin: 8px 0px; border: 2px solid rgb(128, 128, 128);
}
.poss1 dd p {
	margin: 0px; line-height: 16px; padding-left: 60px;
}
.poss1 dd p.p1 {
	background: url("../images/pl.jpg") no-repeat 10px rgb(225, 255, 255); color: rgb(0, 0, 0); padding-top: 10px; padding-right: 20px; padding-bottom: 10px; border-bottom-color: rgb(0, 0, 0); border-bottom-width: 1px; border-bottom-style: solid;
}
.poss1 dd p.p2 {
	background: url("../images/hf.jpg") no-repeat 10px rgb(255, 255, 255); color: rgb(0, 0, 255); padding-top: 10px; padding-bottom: 10px;
}
.poss2 {
	padding: 0px 0px 20px;
}
.poss2 dt {
	width: 80px; font-size: 16px; float: left;
}
.poss2 dd {
	width: 500px; float: left;
}
.poss2 dd textarea {
	border: 1px solid rgb(204, 204, 204); width: 500px; height: 100px;
}
.poss2 img {
	padding: 0px 0px 20px;
}
.inp6 {
	background: url("../images/fbtj.jpg") no-repeat; border: 0px currentColor; width: 113px; height: 32px; margin-top: 15px; margin-left: 300px;
}
.yp {
	background-color: rgb(255, 253, 204);
}
.list2 {
	width: 1024px; overflow: hidden; padding-bottom: 30px; padding-left: 30px; border-left-color: rgb(204, 204, 204); border-left-width: 2px; border-left-style: solid;
}
.list2 li {
	width: 502px; float: left;
}
.c {
	height: 0px; line-height: 0; overflow: hidden; clear: both; font-size: 0px; display: block;
}
img {
	vertical-align: bottom;
}


.round7pk1 {
    padding:10px; width:357px; height:300px;
    background:#b5b5b6; 
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius:15px;
    margin-top:30px;
    margin-left:35px;
}
.round7pk2 {
    padding:10px; width:357px; height:300px;
    background:#f19a47; 
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius:15px;
    margin-top:30px;
    margin-right:32px;
}
.round7pk3 {
    padding:10px; width:357px; height:300px;
    background:#b59d4e; 
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius:15px;
    margin-top:30px;
    margin-right:32px;
}
.round7pk4 {
    padding:10px; width:357px; height:432px;
    background:#b5b5b6; 
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius:15px;
    margin-top:30px;
    margin-left:35px;
}
.round7pk5 {
    padding:10px; width:357px; height:432px;
    background:#d6bd50; 
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius:15px;
    margin-top:30px;
    margin-right:32px;
}
.round1 {
    padding:10px; width:454px; height:518px;
    background:#c1c3b5; 
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius:15px;
    margin-top:30px;
}
.round2 {
    padding:10px; width:454px; height:518px;
    background:#ccd28c; 
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius:15px;
    margin-top:30px;
}
.roundtips {
    padding:10px; height:30px;
    background:#ded6d6; 
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius:15px;
    margin-top:10px;
    font-size:24px;color:Red;
}
.roundgray {
    padding:10px; height:30px;
    background:#d1d7d0; 
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius:15px;
    margin-top:35px;
    font-size:24px;color:Red;
}
.roundgray2 {
    padding:10px; height:300px;
    background:#e6dddc; 
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius:15px;
    margin-top:25px;
    font-size:24px;color:Red;
}
.roundgraywd {
    padding:10px; height:422px;width:922px;
    background:#e6dddc; 
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius:15px;
    margin-top:25px;
    font-size:24px;color:Red;
}
.roundgray3 {
    padding:10px; height:218px;width:477px;
    background:#e6dddc; 
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius:15px;
    margin-top:25px;
    font-size:24px;color:Red;
}
.roundyellow {
    padding:10px; height:84px;
    background:#e1eaa0; 
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius:15px;
    margin-top:35px;
    font-size:24px;color:Red;
}
.roundyellow2 {
    height:218px;
    background:#e1eaa0; 
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius:15px;
    margin-top:35px; 
    font-size:24px;color:Red;
}
.roundboder
{border-color:#fcf8d2;border-width:1px;border-style:solid;
}
.roundfcf8d2 {
    height:321px;width:331px;
    background:#fcf8d2; 
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius:15px;
    margin-top:1px; margin-right:1px;    margin-left:1px; margin-bottom:1px;
    font-size:24px;color:Red;
} .roundfcfgray {
    height:323px;width:333px;
    background:gray; 
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius:15px;
    margin-top:10px; margin-right:50px;
    font-size:24px;color:Red;
} 
.bottomd
{
    position: absolute;  
bottom: 0
}
.ogft
{
    color:#e73d1b; font-size:18px;
}
.og14px
{
    font-size:14px;
}
.btp
{
    margin-left:25px;margin-top:10px;width:200px;
}
.btcr
{
    background-color:#5f6254;height:100px;
}
.btrs
{
    margin-left:25px;margin-top:30px;color:White;width:700px;font-size:14px;
}
.gy
{
margin-top:30px;margin-left:40px;margin-right:48px;border-color:Gray;border-style:solid;border-width:1px;height:180px;    
}
.gy_1
{
    width:444px;height:137px;margin-left:10px;margin-top:10px;color:#1c8a3b;line-height:30px;
}
.gy_1_ft
{
    font-weight:bold;font-size:26px;line-height:50px;
}
.gy_1_ft2
{
    font-size:20px;line-height:32px;
}
.qy_ft
{width:884px;margin-left:60px;line-height:31px;
}
.qy_hd_ft
{
    width:894px;height:112px;margin-top:40px;font-weight:bold;
}.qy_dt_ft
{
    margin-top:20px;margin-left:50px;margin-right:53px; height:180px;
}
.wcolor
{
    color:White;
}