.addDishes-title h2{
  line-height:46px;
  color: #333333;
  text-indent:20px;
  font-size:14px;
}
.addDishes-form{
  width:100%;
  overflow: hidden;
}

.addDishes-form-span{
  margin-bottom:14px;
  width:370px;
  .package-name{
    border: 1px solid #e4e7ed;
    border-radius: 4px;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 5px 0;
    height:40px;
    padding-left:12px;
    width:218px;
  }
}

.food-text{
  width: 100%;
  margin:20px 0;
  overflow: hidden;
  span{
    width:88px;
    display:inline-block;
  }
}
.food-composition{
  width: 100%;
  margin:20px 0;
  overflow: hidden;
  span{
    width:88px;
    display:inline-block;
    float: left;
  }
  .food-composition-table{
    width:600px;
    float: left;
  }
  .two-input-btn{
    color: #999999;
    font-size:14px;
    width:140px;
    height:34px;
    margin-top:20px;
    border-radius:4px;
    border:1px solid #e2e3e4;
    line-height:34px;
    cursor: pointer;
  }
  .two-input-btn:hover{
    color: #ff8400;
  }
  .two-input-btn:hover .icon-jia{
    color: #ff8400;
  }
  .icon-jia{
    float: left;
    margin-right: 6px;
    margin-left: 23px;
    cursor: pointer;
  }
}










.addDishes-form-upload{
  width:400px;
  height:112px;
  position: relative;
  span{
    float: left;
    width:80px;
  }
  .avatar-uploader{
    width:110px;
    height:112px;
    float: left;
  }
  .avatar-uploader-icon{
    width:110px;
    height:110px;
  }
  .avatar-uploader-icon{
    line-height:110px;
  }
  .image-text{
    font-size:14px;
    color: #999999;
    text-indent:12px;
    position: absolute;
    bottom:0;
    right:0;
    display:inline-block;
  }
}
.addDishes-btn{
  margin:36px 0;
  padding-left:86px;
   button{
    width:140px;
    height:40px;
    line-height:40px;
    text-align:center;
    border:none;
    color: #fcfcfc;
    font-size:16px;
    border-radius: 4px;
    display:inline-block;
  }
  button:first-child{
    color: #fff;
    background-color: #ff8502;
  }
  button:last-child{
    color: #666666;
    background-color: #ffffff;
    border:1px solid #dedfe0;
    margin-left:20px;
  }
}


.edit-specifications{
   padding:0 24px 0 24px;
   overflow: hidden;
  .edit-specifications-box{
    width: 100%;
    margin:20px 0;
    i{
      // width:88px;
      // height:34px;
      padding: 2px 9px;
      border-radius: 6px;
      border:1px solid #dedfe0;
      text-align:center;
      // line-height:34px;
      font-size:14px;
      display:inline-block;
      cursor: pointer;
      margin-right:14px;
      color: #333333;
    }
    i.selectColor{
      background: #fff9f2;
      color: #ff8502;
      border:1px solid #ff8502;
    }
    i:last-child{
      margin-right:0 !important;
    }
  }
}
.dialog-footer{
  width:100%;
  text-align:center !important;
  overflow: hidden;
}
.iconColor{
  color: #ff8400 !important;
}
.icon-bianji{
  margin-left:36px !important;
}
.icon-delete{
  margin-left:20px !important;
}
.icon-delete,.icon-bianji{
  float: left;
  width:22px;
  margin-top:7px;
  cursor: pointer;
}

.iconfont{
  color: #999999;
}




