/*
** 添加打印机
*/
.addPrinter-title {
  color: #333333;
  font-weight: 600;
  border-bottom: 1px solid #eeefef;
  padding-bottom: 20px;
}

.addPrinter-main {
  padding-top: 24px;
  .printer {
    .printer-span {
      margin-top: 20px;
      display: inline-block;
      width: 100px;
      height: 40px;
      line-height: 40px;
      font-size: 14px;
      color: #333333;
      text-align: right;
    }
    .el-input {
      width: 300px;
    }
    .el-radio__input.is-checked .el-radio__inner{
      border: 2px solid #ff8502;
      background-color: #ffffff;
    }
    .el-radio__input.is-checked+.el-radio__label{
      width: 8px;
      height: 8px;
      color: #ff8502;
    }
    .el-radio__inner::after{
      background-color: #ff8502;
    }
    .el-radio__inner{
      width: 16px;
      height: 16px;
      border: 2px solid #dcdfe6;
    }
    .el-radio__inner:hover{
      border: 2px solid #ff8502;
    }
    .el-radio{
      width: 66px;
    }
  }
  .printer-button{
    padding-left: 104px;
    padding-top: 6px;
    padding-bottom: 390px;
    button{
      width: 140px;
      height: 40px;
      background-color: #ffffff;
      color: #333333;
      border: 1px solid #dedfe0;
    }
    button:hover{
      background-color: #ff8502;
      color: #ffffff;
      border: none;
    }
  }
}
/*类样式调用*/
.error-hint{
  font-size: 14px;
  color: #FF0000;
  letter-spacing: 2px;
}
