html,
body,
#app {
  height: 100%;
  font-family: '微软雅黑';
}

//  覆盖原始导航
.el-menu-vertical-demo.el-menu {
  border-bottom: 1px solid #383838;
  border-right: solid 0px #e6e6e6 !important;
  background-color: #2b2b2b !important;
}

.el-menu-vertical-demo.el-menu>li {
  border-top: 1px solid #383838;
}

.el-menu-item,
.el-submenu__title {
  line-height: 50px;
  height: 50px;
}

.el-submenu__title i {
  color: #fff !important;
  font-size: 13px;
}

.el-submenu.is-opened>.el-submenu__title .el-submenu__icon-arrow {
  transform: rotateZ(0deg);
}

.el-submenu>.el-submenu__title .el-submenu__icon-arrow {
  transform: rotateZ(-90deg);
}

.is-active .el-submenu__title {
  background-color: #3f3f3f !important;
  color: #ffffff !important; // border-left: 5px solid #ff6932;
}

.is-active .el-submenu__title+ul li.is-active {
  // border-left: 2px solid #ff6932 !important;
}

.el-submenu__title {
  padding-left: 20px;
  color: rgb(255, 255, 255);
  background-color: #3f3f3f;
}

.el-menu li ul .el-menu-item {
  background-color: #2b2b2b;
}

.el-menu li ul li {
  background-color: #333333 !important;
}

.el-menu-item {
  background-color: #3f3f3f;
}

.el-menu-item.is-active,
.el-menu li ul .el-menu-item.is-active {
  background-color: #222 !important;
  color: #ffffff !important;
  position: relative;
  &::after {
    content: '';
    border-left: 5px solid #ff6932;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
  }
}

.el-submenu .el-menu-item {
  min-width: 150px;
}

.el-menu {
  transition: all 0.3s !important;
}

.el-menu--collapse .is-active .el-submenu__title {
  background-color: #222 !important;
}

.el-submenu.is-active>div {
  // border-left: 5px solid #ff6932;
}

.el-menu {
  transition: all 0.3s !important;
}

.el-menu--collapse .is-active .el-submenu__title {
  background-color: #222 !important;
}

.el-dialog__header {
  border-bottom: 1px solid #e2e2e2 !important;
}

.iconfont {
  font-size: 20px;
  color: #ffffff;
}

//top
.el-icon-loading {
  // animation:none;
}

.el-card {
  box-shadow: 0 0 0 #fff !important;
}

.bg-purple {
  background: none !important;
}

.el-dialog__body {
  padding: 0 10px 10px 10px !important;
}

.el-checkbox {
  float: left;
  margin-right: 16px;
}

.button-color {
  background-color: #ff8502 !important;
  color: #fff !important;
  border: none;
}

.el-card__header {
  padding: 10px 20px !important;
}

.el-row {
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0;
  }
}

.el-col {
  border-radius: 4px;
}

.bg-purple-dark {
  background: #99a9bf;
}

.bg-purple {
  background: #d3dce6;
}

.bg-purple-light {
  background: #e5e9f2;
}

.grid-content {
  border-radius: 4px;
  min-height: 36px;
}

.row-bg {
  padding: 10px 0;
  background-color: #f9fafc;
}

.bottom {
  clear: both;
  text-align: center;
}

.el-tabs__item {
  width: 150px;
  text-align: center;
}

.el-tabs__item.is-active {
  color: #ff8300 !important;
}

.el-tabs__item {
  border-right: 1px solid #dedfe0;
  height: 50px;
  line-height: 50px;
}

.el-tabs__active-bar {
  left: 48px;
  width: 28px !important;
  background-color: #ff8300 !important;
}

.el-table-filter__checkbox-group {
  overflow: hidden;
}

.el-table-filter__checkbox-group label.el-checkbox {
  width: 100%;
}

.el-tag {
  background: none !important;
  border: none !important;
  color: #666666;
}

.el-table th>.cell.highlight {
  color: #666666;
}

.el-table__column-filter-trigger i {
  font-size: 15px !important;
  font-weight: bold !important;
}

.item {
  margin-top: 10px;
  margin-right: 40px;
}

/* 上传样式   */

.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.avatar-uploader .el-upload:hover {
  border-color: #409EFF;
}

.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  line-height: 178px;
  text-align: center;
}

.avatar {
  width: 178px;
  height: 178px;
  display: block;
}

.button-color {
  border: 1px solid #fff;
}

.happy-scroll-container,
.happy-scroll {
  overflow: visible !important;
}

html,
body,
#app {
  font-family: Verdana, Helvetica, "Microsoft YaHei", Arial !important;
}

