/*
** 打印机
*/
/*打印机管理-卡片*/
.printer-box-card {
  border: none;
  /*打印机管理-表格*/
  .table-1 {
    .el-table__row {
      text-align: center;
    }
    .el-table__row:hover {
      .redact {
        background-color: #f5f7fa;
      }
    }
    .has-gutter th.is-leaf {
      text-align: center;
    }
    .el-button--small:nth-child(1) {
      color: #ff8300;
    }
    .redact {
      border: none;
      color: #ff8300;
    }
    .redact:hover {
      background-color: #f5f7fa;
    }
    .el-button--small:nth-child(2) {
      color: #11ba00;
    }
  }
  /*打印机管理-分页*/
  .printer-el-pagination {
    text-align: right;
  }
  /*打印机管理-添加打印机按钮和删除按钮*/
  .addPrinter-add-delete {
    margin-bottom: 33px;
    .el-button {
      background-color: #ffffff;
      color: #333333;
      border: 1px solid #dedfe0;
    }
    .el-button:hover {
      background-color: #ff8502;
      color: #ffffff;
    }
    .default-printer-font{
      font-size: 14px;
      margin-left: 20px;
    }
  }
}

/*菜型配置*/
.allocation-el-dialog {
  .allocation-box-card {
    border: none;
    .add-balcony {
      margin-top: 30px;
    }
    .allocation-span {
      display: inline-block;
      width: 90px;
      text-align: right;
    }
  }
  .el-dialog__footer {
    text-align: center;
    button {
      background-color: #ffffff;
      color: #333333;
      border: 1px solid #dedfe0;
    }
    button:hover {
      background-color: #ff8502;
      color: #ffffff;
      border: 1px solid #ff8502;
    }
  }
}


