.has-gutter  tr th{
    background-color: #eeeeee !important;

}
.el-table{
    border: 1px solid #f0f0f0;
}
.el-dialog__body{
    padding: 20px 20px;
}

.el-dialog::after{
  content: '';
  width : calc( 100% + 16px);
  height:calc( 100% + 16px );
    border-radius: 8px;
    background-color: rgba(255,255,255,0.1);
    position: absolute;
    left: -8px;
    top: -8px;
    z-index: -1;
}
.el-pagination{
    margin-top: 20px;
}
.btn{
    position: absolute;
    right: 10px;
    bottom: 0px;
}
.edit-type1{
  .el-input__inner {
    background-color: #ffffff!important;
    border: none!important;
    color: #333333!important;
    cursor: default!important;
    width: 810px;
  }
}
.el-table th.is-leaf{
  // text-align: center;
  background-color: #eeeeee;
}
.bottom-box{
  .discount-table{
    .el-table__body-wrapper{
      overflow-x: hidden;
    }
  }
}
.activity-textarea {
  textarea{
    height: 180px;
  }
}
/*代金券设置弹框*/
.voucher-alert-dialog{
  .voucher-alert-box {
    padding-left: 20px;
    margin-top: 28px;
    span{
      font-size: 14px;
      color: #333333;
    }
    .superposition-num{
      position: relative;
      height: 40px;
      margin-top: 20px;
      .num-font{
        letter-spacing: 7px;
      }
      .units{
        position: absolute;
        right: 46px;
        top: 50%;
        margin-top: -12px;
      }
      .num{
        width: 190px;
        input{
          padding-right: 26px;
        }
      }
    }
  }
  .voucher-dialog-footer-box{
    position: relative;
    padding-left: 20px;
    height: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    button{
      position: absolute;
      width: 135px!important;
    }
    button:nth-child(1){
      left: 18px;
    }
    button:nth-child(2){
      right: 22px;
    }
  }
}
.add-food-box{
  .food-specification{
    margin-right: 20px;
    .el-radio-button__inner{
      display: inline-block;
      width: 123px;
      border: 1px solid #dedede;
      border-radius: 0!important;
      text-align: center;
    }
    .el-radio-button__orig-radio:checked+.el-radio-button__inner{
      background-color: #fff9f2!important;
      color: #ff8502!important;
      border-color: #ff8502!important;
    }
  }
  .el-dialog__footer{
    text-align: center!important;
  }
}
.orderDishes_widht {
    .el-dialog{
        min-width: 900px;
        max-width: 1200px;
    }

}
.login_box {

    input:-webkit-autofill,
    textarea:-webkit-autofill,
    select:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 1000px #eceef2 inset;
    }

    input[type=text]:focus,
    input[type=password]:focus,
    textarea:focus {
      -webkit-box-shadow: 0 0 0 1000px #eceef2 inset;
    }


.el-checkbox__label{
    padding-left: 5px;

}


.el-form-item.is-error .el-input__inner,
.el-form-item.is-error .el-input__inner:focus,
.el-form-item.is-error .el-textarea__inner,
.el-form-item.is-error .el-textarea__inner:focus,
.el-message-box__input input.invalid,
.el-message-box__input input.invalid:focus{
    border-color: #dedfe0;

}

.el-form-item__error{
    color: #f56c6c;
    font-size: 14px;
    line-height: 1;
    padding-top: 4px;
    position: absolute;
    top: 105%;
    left: 12px;

}


    .el-form-item.is-success .el-input__inner,
    .el-form-item.is-success .el-input__inner:focus,
    .el-form-item.is-success .el-textarea__inner,
    .el-form-item.is-success .el-textarea__inner:focus{
        border-color: #dedfe0;
    }

    .el-form-item{
        margin-bottom: 30px;
    }
    .el-input {
        position: relative;
    }

    .account .el-input::after {
        position: absolute;
        content: '';
        width: 18px;
        height: 100%;
        left: 15px;
        top: 0;
        z-index: 999999;
        background: url(./../img/login/yh.png) no-repeat center center;
        background-size: 17px 18px;


    }
    .checkPass .el-input::after {
        position: absolute;
        content: '';
        width: 18px;
        height: 100%;
        left: 15px;
        top: 0;
        z-index: 999999;
        background: url(./../img/login/mima.png) no-repeat center center;
        background-size: 15px 18px;


    }



}
.login_box input{
    background-color: #eceef2 !important;
    position: relative;
    height: 100%;
    padding-left: 60px;
}

