.YiconNav{
  transform: translateY(-1px);
  width: 20px;
  height: 20px;
  display: inline-block;
  opacity: 0.75;
  transition: all 0.3s ease;
  &.Yhome {
    background: url(../img/icon/icon1.png) no-repeat center center;
  }
  &.Ystore {
    background: url(../img/icon/icon2.png) no-repeat center center;
  }
  &.Ydining {
    background: url(../img/icon/icon3.png) no-repeat center center;
  }
  &.Yfinancial {
    background: url(../img/icon/icon4.png) no-repeat center center;
  }
  &.Ydata {
    background: url(../img/icon/icon5.png) no-repeat center center;
  }
  &.Ydocking {
    background: url(../img/icon/icon6.png) no-repeat center center;
  }
  &.Ymember {
    background: url(../img/icon/icon7.png) no-repeat center center;
  }
  &.Ymarketing {
    background: url(../img/icon/icon8.png) no-repeat center center;
  }
  &.Ymaterials {
    background: url(../img/icon/icon9.png) no-repeat center center;
  }
}
.is-active .YiconNav{
  opacity: 1;
}

.YiconTop {
  transform: translateY(0px);
  cursor: pointer;
  height: 60px;
  width: 50px;
  display: inline-block;
  transition: all 0.3s ease;
  &.Yunfold {
    background: url(../img/icon/top/icon2.png) no-repeat center center;
  }
  &.Yrefresh {
    background: url(../img/icon/top/icon3.png) no-repeat center center;
  }
  &.Yuser {
    background: url(../img/icon/top/icon1.png) no-repeat center center;
  }


}


// .el-icon-arrow-down:before{
//   content: '';
//   width: 20px;
//   height: 20px;
//   position: absolute;
//   left: 0;
//   top: 0;
//   background: url(../img/icon/icon9.png) no-repeat center center;
// }
