<!DOCTYPE html>
<html>

<head>
    <title>chart</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="description" content="图像，图表可视化">
    <meta name="keyword" content="图像，图表可视化">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <link href="https://cdn.bootcss.com/minireset.css/0.0.2/minireset.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <style type="text/css">
    .filter-container,
    .pagination-container {
        margin: 30px;
    }
    </style>
</head>

<body>
    <div id="app">
        <div class="app-container">
            <div class="filter-container">
                <el-button class="filter-item" style="margin-left: 10px;" @click="handleCreate" type="primary" icon="el-icon-edit">新增</el-button>
                <el-button class="filter-item" style="margin-left: 10px;" @click="handleBatchDelete" type="primary" icon="el-icon-edit">批量删除</el-button>
                <el-select v-model="order" placeholder="排序">
                    <el-option v-for="item in orders" :key="item.value" :label="item.label" :value="item.value">
                    </el-option>
                </el-select>
                <el-input v-model="searchInput" placeholder=" 搜索" style="width: 350px"></el-input>
                <el-button class="filter-item" style="margin-left: 10px;" @click="handleSearch" type="primary" icon="el-icon-edit">搜索</el-button>
            </div>
            <el-table :data="list" border style="width: 100%" ref="multipleTable" tooltip-effect="dark" style="width: 100%" @selection-change="handleSelectionChange">
                <el-table-column type="selection" width="55">
                </el-table-column>
                <el-table-column prop="monitor_time" label="显示时长">
                </el-table-column>
                <el-table-column prop="display" label="是否显示">
                </el-table-column>
                <el-table-column label="排序" prop="sort" width="80" align="center">
                    <template scope="scope">
                        <el-input class="sort-input" v-model="scope.row.sort" @blur="sortFormat(scope.$index,scope.row)" @change="selectRow(scope.$index,scope.row)">
                        </el-input>
                    </template>
                </el-table-column>
                <el-table-column label="操作" width="300">
                    <template scope="scope">
                        <el-button size="small" :plain="true" type="info" @click="handleEdit(scope.row)">编辑</el-button>
                        <el-button size="small" :plain="true" type="danger" @click="handleDelete(scope.row)">删除</el-button>
                    </template>
                </el-table-column>
            </el-table>
            <div class="pagination-container">
                <template>
                    <div class="block">
                        <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="currentPage" :page-sizes="[100, 200, 300, 400]" :page-size="100" layout="total, sizes, prev, pager, next, jumper" :total="400">
                        </el-pagination>
                    </div>
                </template>
            </div>
        </div>
        <el-dialog :title="textMap[dialogStatus]" :visible.sync="dialogFormVisible">
            <el-form :rules="rules" ref="dataForm" :model="temp" label-position="left" label-width="70px" style='width: 400px; margin-left:50px;'>
                <el-form-item label="显示时长" prop="title">
                    <el-input v-model="temp.monitor_time" placeholder="请输入内容"></el-input>
                </el-form-item>
                <el-form-item label="是否显示">
                    <el-switch v-model="temp.display"></el-switch>
                </el-form-item>
                <el-form-item label="排序" prop="title">
                    <el-input v-model="temp.sort" placeholder="请输入内容"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="dialogFormVisible = false">取消</el-button>
                <el-button v-if="dialogStatus=='create'" type="primary" @click="createData">确定</el-button>
                <el-button v-else type="primary" @click="updateData">确定</el-button>
            </div>
        </el-dialog>
    </div>
    <script src="https://cdn.bootcss.com/vue/2.5.13/vue.js"></script>
    <script src="https://cdn.bootcss.com/axios/0.17.1/axios.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script>
    new Vue({
        el: '#app',
        data: function() {
            return {
                textMap: {
                    update: '编辑',
                    create: '新增'
                },
                dialogFormVisible: false,
                dialogStatus: '',
                temp: {
                    id: undefined,
                    monitor_time: '',
                    display: '', //0,1
                    sort: ''
                },
                rules: {
                    monitor_time: [{ required: true, message: 'type is required', trigger: 'change' }],
                    display: [{ required: true, message: 'timestamp is required', trigger: 'change' }],
                    sort: [{ required: true, message: 'title is required', trigger: 'change' }]
                },
                currentPage: 1,
                pageSize: 10,
                total: 30,
                searchInput: '',
                order: '', //order asc   desc                
                orders: [{
                    value: 'asc',
                    label: '升序'
                }, {
                    value: 'desc',
                    label: '降序'
                }],
                list: [{
                        sort: '1', //排序
                        display: '1', //是否显示
                        monitor_time: '2', //显示时长
                    },
                    {
                        sort: '1', //排序
                        display: '1', //是否显示
                        monitor_time: '2', //显示时长
                    },
                ],
            }
        },
        created: function() {
            this.getList();
        },
        methods: {
            getList: function() {
                axios.get('http://192.168.40.119:10000/readImage', {
                    params: {
                        page:this.page,
                        count:this.pageSize
                    }
                }).then(function(res) {
                    if (res.code === '000000') {
                        this.list = res.data.images;
                    }
                }).catch(function(err) {
                    console.log(err);
                });
            },
            handleCreate: function() { //新增
                this.resetTemp();
                this.dialogFormVisible = true;
                this.dialogStatus = 'create';
                this.$nextTick(() => {
                    this.$refs['dataForm'].clearValidate()
                })
            },
            handleEdit: function(row) {
                console.log(row);
                this.temp = row;
                this.dialogFormVisible = true;
                this.dialogStatus = 'update';
                this.$nextTick(() => {
                    this.$refs['dataForm'].clearValidate()
                })
            },
            resetTemp() {
                this.temp = {
                    id: undefined,
                    monitor_time: '',
                    display: '', //0,1
                    sort: ''
                }
            },
            createData: function() { //新增数据

            },
            updateData: function() { //更新数据

            },
            handleCurrentChange: function() {

            },
            handleSizeChange: function() {

            },
            handleSearch: function() {

            },
            handleDelete: function() {

            },
            handleBatchDelete: function() {

            },
            handleSelectionChange: function() {

            }
        }
    })
    </script>
</body>

</html>