<div ng-controller="initReadController">
    <div class=" container" style="padding-top:10px;" ng-controller="personalShareController">
        <div class="row" style="padding-bottom:15px; border-bottom:1px solid #eee; padding-top:10px;">
            <div class="col-xs-3">
                <div class="row">
                    <div class="col-xs-12">
                        <img style="width:50px; height:50px;" ng-src="{{info.wxUserInfo.headImgUrl}}">
                    </div>
                </div>
                <div class="row" style="padding-top:10px;">
                    <div class="col-xs-12 ">
                        <span class="glyphicon glyphicon-map-marker text-primary" style="font-size:12px;"></span>
                        <span style="font-size:12px;">{{info.wxUserInfo.city}}</span>
                    </div>
                </div>
                <div ng-hide="info.player.age==0" class="row" style="padding-top:10px;">
                    <div class="col-xs-12 ">
                        <span style="font-size:12px;">{{'孩子'+info.player.age+'岁'}}</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-9">
                <div class="row">
                    <div class="col-xs-12 text-primary text-left" >{{info.wxUserInfo.nickName}}</div>
                    <div class="col-xs-12 text-left" style="padding-top:5px;">{{info.comment}}</div>
                    <div ng-repeat="media in info.medias">
                        <div ng-show="media.mediaType==1" class="col-xs-12 text-left" style="padding-top:10px;">
                            <img style="width:80%;" ng-src="{{media.mediaUrl|resourceUrl}}"></img>
                        </div>
                        <div ng-show="media.mediaType==2" class="col-xs-12 text-left" style="padding-top:10px;">
                            <div player-link player="player" ng-model="media.mediaUrl">

                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 text-left" style="padding-top:10px;">
                        <span class="glyphicon glyphicon-dashboard" style="font-size:11px;"></span>
                        <span style="font-size:11px;">{{info.releaseTime}}</span>
                    </div>
                    <div class="col-xs-12 text-left" style="padding-top:10px;word-break: break-all; word-wrap:break-word;">
                        <div ng-if="false" style="padding-bottom:5px;">
                            <p style="font-size:11px;" id="{{'likeWrap'+info.fileId}}">
                                <span ng-show="info.likeNumber!=0" class="glyphicon glyphicon-heart" style="font-size:12px; color:#f00;"></span>
                                    <span ng-repeat="like in info.likes">
                                        <span>{{like.nickName}}</span>
                                    </span>
                            </p>
                        </div>
                        <div style="padding-top:5px;border-top:1px solid #eee;" id="{{'commentWrap'+info.fileId}}">
                            <div ng-repeat="comment in info.comments">
                                <p style="font-size:11px;">
                                    <span class="text-primary">{{comment.nickName}}</span>:
                                    {{comment.details}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <audio id="audio"></audio>
</div>
