*{
  margin: 0;
  padding: 0;
}
body {
  font-family: "Microsoft YaHei",sans-serif,"STSong","Helvetica Neue", Helvetica, Arial;
  vertical-align: baseline;
  font-size: 22px;
}
.capacity_word{
  padding-top: 50px;
  text-align: center;
}
.capacity_word p{
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 26px;
}
.capacity_desc{
  padding:0px 29px;
}
.capacity_desc p{
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 26px;
}
.capacity_desc table{
  width: 580px;
  height: 400px;
  text-align: center;
  border-collapse: collapse;
}
.capacity_desc table tr{
  height: 36px;
  line-height: 36px;
  color: #18C374;
  border: 1px solid #F3F3F7;
}
.capacity_desc table td{
  width: 280px;
}
.capacity_desc table .tit_word{
  height: 40px;
  line-height: 40px;
  font-size: 24px;
  color: #7F7C7E;
  background: #FDFDFD;
}
.capacity_desc table .r_border{
  border-right: 1px solid #F3F3F7;
}
