.course-process-bar{
  position: fixed;
  left: px2rem(5);
  top: 120px;
  z-index: 1000;
  font-size: 0;
  width: px2rem(12);
  .process-bar{
    display: inline-block;
    margin-bottom: px2rem(5);
    height: px2rem(40);
  }
  .process-bar-have{
    color: green;
  }
  .process-bar{
    color: yellow;
  }
}