.course-select{
  text-align: center;
  .qq-group{
    width: px2rem(359);
  }
    .margin-fix{
      margin: 0 auto px2rem(18) auto;
      width: px2rem(359);
    }
    .show-group{
      text-align: center;
    }
    .reload-bg{
      height: 0;
      width: 0;
    }
    .graduatedButton{
      margin: 15px 0 -2px 5px;
      height: px2rem(67);
    }

    .fix-treasure{
      position: fixed;
      right: px2rem(2);
      bottom: px2rem(2);
      z-index: 100;
      height: px2rem(72);
    }

    .fix-treasure-shake{
      position: fixed;
      right: px2rem(2);
      bottom: px2rem(2);
      z-index: 100;
      height: px2rem(72);
      animation: shake_1 4s infinite;
      animation-delay:1s;
    }

    @keyframes shake_1
    {
      0% {transform:rotate(0deg);}
      2% {transform:rotate(5deg);}
      4% {transform:rotate(-5deg);}
      8% {transform:rotate(5deg);}
      10% {transform:rotate(-5deg);}
      12% {transform:rotate(0deg);}
      100% {transform:rotate(0deg);}
    }


}