.top-bar{
  padding-top: px2rem(10);
  text-align: center;
  //margin-bottom: px2rem(20);
  font-size: px2rem(14);
  .icon-bar-on{
    border-radius: px2rem(4);
    color: rgb(35,35,35);
    display: inline-block;
    width: px2rem(112);
    height: px2rem(32);
    line-height: px2rem(32);
    //background-color: rgba(255,255,255,0.5);
    background-color: white;
    box-shadow: 0px px2rem(2) px2rem(4) rgba(0, 0, 0, 0.3);
  }
  .icon-img{
    float: left;
    height: px2rem(30);
  }
  .title{
    height: px2rem(30);
  }
  .icon-bar-off{
    color: rgba(255,255,255,0.5);
    display: inline-block;
    width: px2rem(112);
    height: px2rem(32);
    line-height: px2rem(32);
    background-image: url('../image/course/tomorrowSmall.png');
    background-size: cover;
    //border: dashed black px2rem(1);
  }
}
