
<div style="background-color: #eee;padding:15px 0;">
    <div class="media" style="margin-left:15px;margin-right:15px;">
        <div class="media-left">
            <a href="#">
                <img style="width:64px; height: 64px;" class="media-object img-circle" src="http://wx.qlogo.cn/mmopen/dwc9psc7PIbE0tlxxricsUZQeDlJibqUCs6MtOp9dcbqKkFTezCz08jh1wXRVvmCIfrEPdPuIzua90OCzIHJGyRMianUxw2FoDV/0" alt="...">
            </a>
        </div>
        <div class="media-body" style="position: relative">
            <h4 class="media-heading" style="margin-bottom:20px;">Media heading</h4>
            <div style="position: absolute; bottom:5px; left: 0;width:100%;">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-6" style="height: 33px; line-height: 33px;">
                            <span>斧头</span>
                            <span>分数：1000</span>
                        </div>
                        <div class="col-xs-3" style="height: 33px; line-height: 33px;">
                            <span  style="background-color: #fff;color:#000; font-size:27px;" class="badge">10</span>
                        </div>
                        <div class="col-xs-3 text-right" style="height: 33px; line-height: 33px;">
                            <span id="currlabel">1/10</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" >
    <div class="row">
        <div class="col-xs-12" >
            <h4 style="padding:15px 0;" class="col-xs-12 text-muted">标题标题标题标题标题标题标题标题标题标题标题标题标题</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-center">
            <span id="btnA"
                  class="button button-3d button-primary se_answer button-rounded "
                  onclick="answerquestion('a','btnA')">
                Check out the new site!Check out the new site!
            </span>
            <span id="btnB"
                  class="button button-3d button-primary se_answer button-rounded "
                  onclick="answerquestion('a','btnA')">
                Check out the new site!Check out the new site!
            </span>
            <span id="btnC"
                  class="button button-3d button-primary se_answer button-rounded "
                  onclick="answerquestion('a','btnA')">
                Check out the new site!Check out the new site!
            </span>
            <span id="btnD"
                  class="button button-3d button-primary se_answer button-rounded "
                  onclick="answerquestion('a','btnA')">
                Check out the new site!Check out the new site!
            </span>
        </div>
    </div>
</div>