<div ng-controller="gxdrRanking">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <table class="table">
                    <caption>排行榜</caption>
                    <thead>
                        <tr>
                            <th></th>
                            <th>昵称</th>
                            <th>分数</th>
                            <th>时间</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="fa fa-user-o"></td>
                            <td>斧头</td>
                            <td>100</td>
                            <td>10.00</td>
                        </tr>
                        <tr>
                            <td fa fa-user-o></td>
                            <td>斧头</td>
                            <td>100</td>
                            <td>10.00</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>斧头</td>
                            <td>100</td>
                            <td>10.00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>