/*UEditor */
.otf-poptools span {
    margin: 0 5px;
    cursor: pointer;
}

/*
 * wwei editor
 *
*/
#templateTab{
    margin-bottom: 0;
}
.template-list{
	list-style-type: none;
    padding: 0;
    margin: 0;
    
}
.template-content{
    border:1px solid #ddd;
    overflow-y:scroll;
    height: 700px;
    background-color: #fff;
    padding:5px;
    border-top:none;
}
.template-list li{
    padding:10px;
    margin:3px 0;
    cursor: pointer;
}
#temp-tpl .template-list li
{
    float:left;
    border:1px solid #ccc;
    margin:4px;
    padding:5px;
    position: relative;
}
#temp-tpl .template-list li .tit-pin{
    position:absolute;
    left: 0;
    top: 190px;
    padding:0px 10px;
    font-size:12px;
    background: #f30;
    color:#fff;
}


#wxpreview{
    width:290px;
    overflow: hidden;
    margin-bottom: 10px;
    border: 1px solid #e7e7eb;
    background-color: #fff;
    color: #666;
    padding:15px;
    margin-left:20px;
    position: relative;
}
#wxpreview a:hover{
    text-decoration: none;
}
#wxpreview .preicon{
    position: absolute;
    left:0px;
    top:0px;
    background: #f30;
    color:#fff;
    padding:0 10px;
}
#wxpreview h4{
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 28px;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all;
}
#wxpreview em{
    font-weight: 400;
    font-style: normal;
}
#wxpreview .wxstr{
    padding: 5px 0 10px;
    word-wrap: break-word;
    word-break: break-all;
}
#wxpreview .wxad{text-align: center; font-size: 10px; border-top:1px solid #eee;margin-top:5px}
#wxpreview .wxadbg{width:290px;height:10px;background: #ccc;}
#wxcontent em{
    color: #8d8d8d;
    font-style: normal;
    word-wrap: break-word;
}


