*{
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: DINCondBold;
  src: url('../fonts/DINCond-Bold.otf');
}
html,body{
  width: 750px;
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background-color: #263347;
}
body {
  font-family: sans-serif,"Microsoft YaHei","STSong","Helvetica Neue", Helvetica, Arial;
  vertical-align: baseline;
}
*{ -webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
a{
  text-decoration:none;
}
a:link{
  text-decoration:none;
}
a:visited{
  text-decoration:none;
}
a:hover{
  text-decoration:none;
}
a:active{
  text-decoration:none;
}

.hide{
  display: none;
}
p,span{
  max-height: 999999px;
}

//page
.sharerunpage{
  padding-bottom: 80px;
}
.map-con{
  width: 100%;
}

//bodymovin
#bodymovin{
  width: 750px;
  height: 1333px;
  //background: url("https://imageads.codoon.com/backend/cc36f510-1dc4-11e7-9e24-015b4752fa00.jpg") no-repeat;
  //background-repeat: no-repeat;
  //background-size: 10%;
}

//uinfo
.uinfo-con{
  //width: 380px;
  display: flex;
  display: -webkit-flex;
  height: 96px;
  border-radius: 100px;
  padding: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 30px;
  top: 30px;
  padding-right: 20px;
}
.uinfo-con .tximg{
  width: 88px;
  height: 88px;
  border-radius: 88px;
  margin-top: 4px;
  position: relative;
  .nickimg{
    width: 88px;
    height: 88px;
    border-radius: 88px;
  }
  .iconv{
    width: 28px;
    height: 28px;
    position: absolute;
    top:60px;
    left: 62px;
  }
}
.uinfo-con .infoword{
  margin-left: 16px;
  .nick{
    font-size: 24px;
    color: white;
    margin-top: 14px;
  }
  .nickdes{
    margin-top: 6px;
    img{
      width: 22px;
      height: 17px;
      vertical-align: middle;
      margin-right: 6px;
    }
    font-size: 20px;
    color: #eaff51;
  }
}

//run-info
.runinfo-con{
  width: 710px;
  //height: 384px;
  padding-bottom: 20px;
  margin: 0 auto;
  border-radius: 16px;
  background: linear-gradient(to right, #080d19, #101930);
  position: absolute;
  left: 20px;
  top:900px;
}
.runinfo-con .runway-word{
  width: 630px;
  display: inline-block;
  margin-top: 44px;
  margin-left: 40px;
  .run-name{
    font-size: 40px;
    color: white;
    font-weight: 500;
  }
  .run-area{
    margin-top: 20px;
    img{
      width: 30px;
      height: 30px;
      vertical-align: middle;
      margin-right: 8px;
    }
    font-size: 26px;
    color: white;
    opacity: 0.5;
  }
  .run-dot{
    margin-top: 14px;
    img{
      width: 30px;
      height: 30px;
      vertical-align: middle;
      margin-right: 8px;
    }
    font-size: 26px;
    color: white;
    opacity: 0.5;
  }
}
.runinfo-con .line{
  width: 630px;
  height: 2px;
  margin: 0 auto;
  margin-top: 84px;
  opacity: 0.3;
  background: #34ff00;
}
.runinfo-con .sport-people{
  width: 630px;
  height: 40px;
  margin: 0 auto;
  margin-top: 22px;

  display: flex;
  display: -webkit-flex;

  justify-content:space-between;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  .txs-con{
    img{
      width: 40px;
      height: 40px;
      border-radius: 40px;
      margin-right: 5px;
    }
  }
  .txs-word{
    font-size: 28px;
    opacity: 0.3;
    color: white;
    letter-spacing: 0.3px;
  }
}




//rank-con
.rank-con{
  width: 710px;
  margin: 0 auto;
  margin-top: 26px;
  border-radius: 16px;
  background: linear-gradient(to right, #080d19, #101930);
}
.rank-con .tit{
  text-align: center;
  height: 154px;
  span{
    line-height: 154px;
    padding-left: 38px;
    padding-right: 38px;
    font-size: 40px;
    color: white;
    vertical-align: middle;
  }
  img{
    width: 82px;
    height: 2px;
  }
}
.rank-con .line{
  width: 650px;
  height: 2px;
  margin: 0 auto;
  opacity: 0.3;
  background: rgba(255, 255, 255, 0.2);
}
.rank-con .rankli-con{
  .rank-li{
    display: -webkit-flex; /* Safari */
    display: flex;

    height: 150px;
    width: 710px;
    .ranknum{
      width: 100px;
      font-size: 32px;
      color:#696b70;
      text-align: center;
      line-height: 150px;
    }
    .tximg{
      width: 90px;
      padding-top: 30px;
      position: relative;
      .tx{
        width: 90px;
        height: 90px;
        border-radius: 90px;
      }
      .iconv{
        width: 28px;
        height: 28px;
        position: absolute;
        top:92px;
        left: 62px;
      }
    }
    .nick{
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      width: 352px;
      padding-left: 30px;
      line-height: 150px;
      font-size: 32px;
      color: white;
      .nickone{
        font-size: 32px;
        color: white;
        margin-top: 50px;
        width: 320px;
        -webkit-text-overflow: ellipsis;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
      .dabai{
        font-size: 26px;
        color:#696b70;
      }
      p{
        width: 320px;
        -webkit-text-overflow: ellipsis;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }
    .grade{
      width: 168px;
      font-size: 46px;
      color: #35ff00;
      font-family: DINCondBold;
      line-height: 150px;
    }
  }
  .rank-li .topimg{
    width: 76px;
    height: 74px;
    vertical-align: middle;
  }
}
.rank-con .bottombtn{
  .bottomword{
    color: white;
    opacity: 0.5;
    font-size: 26px;
    text-align: center;
    line-height: 100px;
  }
}



img{
  border: 0;
}
img[src=""]{
  opacity: 0;
}






