*{
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: DINCondBold;
  src: url('../fonts/DINCond-Bold.otf');
}
html,body{
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
  background: linear-gradient(to right, #080d19, #101930);
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
body {
  font-family: sans-serif,"Microsoft YaHei","STSong","Helvetica Neue", Helvetica, Arial;
  vertical-align: baseline;
}
*{ -webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
a{
  text-decoration:none;
}
a:link{
  text-decoration:none;
}
a:visited{
  text-decoration:none;
}
a:hover{
  text-decoration:none;
}
a:active{
  text-decoration:none;
}

.hide{
  display: none;
}
p,span{
  max-height: 999999px;
}
//page
.sharepersonpage{
  width: 100%;
}
#shareimg{
  width: 100%;
  position: relative;
}

.codoon{
  position: absolute;
  top:30px;
  left: 30px;
  display: flex;
  background: rgba(0,0,0,0.5);
  border-radius: 100px;
  //width: 360px;
  height: 52px;
  padding-right: 10px;
  .greenlogo{
    width: 86px;
    height: 40px;
    background: #29bc67;
    line-height: 40px;
    text-align: center;
    border-radius: 100px;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.2px;
    color: #ffffff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    margin-top: 6px;
    margin-left: 6px;
    margin-right: 6px;
  }
  .runname{
    font-size: 26px;
    color: white;
    line-height: 52px;
  }
}

img{
  border: 0;
}
img[src=""]{
  opacity: 0;
}