<div class="page"  ng-controller="registController" style="padding-bottom:30px;" >
    <div class="page__hd">
        <div style="text-align: center">
            <img style=" height:150px;" src="./imgs/gxj.jpg">
        </div>
        <h1 class="page__title">神尔国学机保障卡登记</h1>
    </div>
    <div class="page__bd">
        <form ng-submit="processOrder()" novalidate  name="cardForm" >
            <div class="weui-cells__title">请认真填写的以下信息</div>
            <div class="weui-cells__title">
                <div class="form-error"
                     ng-show="(cardForm.name.$invalid && cardForm.name.$dirty && !cardForm.name.$focused) || (cardForm.name.$invalid && submitted)">
                    <span ng-show="cardForm.name.$error.required">姓名不能为空</span>
                </div>
                <div class="form-error"
                     ng-show="(cardForm.telephone.$invalid && cardForm.telephone.$dirty && !cardForm.telephone.$focused) || (cardForm.telephone.$invalid && submitted)">
                    <span ng-show="cardForm.telephone.$error.required">手机号不能为空</span>
                    <span ng-show="cardForm.username.$error.pattern || cardForm.telephone.$error.pattern || cardForm.telephone.$error.minlength">请输入正确的手机号码</span>
                </div>
                <div class="form-error"
                     ng-show="(cardForm.area.$invalid && cardForm.area.$dirty && !cardForm.area.$focused) || (cardForm.area.$invalid && submitted)">
                    <span ng-show="cardForm.area.$error.required">省市区不能为空</span>
                </div>
            </div>
            <div class="weui-cells weui-cells_form">
                <div class="weui-cell">
                    <div class="weui-cell__hd">
                        <label class="weui-label">姓名</label>
                    </div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="text" name="name" id="name" ng-model="card.user_name" required  placeholder="姓名" />

                    </div>
                </div>
                <div class="weui-cell ">
                    <div class="weui-cell__hd">
                        <label class="weui-label" >手机</label>
                    </div>
                    <div class="weui-cell__bd">
                        <input type="tel" class="weui-input" pattern="^1[34578]\d{9}$" name="telephone"
                               id="telephone" ng-minlength="11" ng-maxlength="11"
                               pattern="^1[34578]\d{9}$"  ng-model="card.telephone" required placeholder="手机号码"  />
                    </div>

                </div>

                <div class="weui-cell">
                    <div class="weui-cell__hd">
                        <label class="weui-label" >省市区</label>
                    </div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" name="area" id="area" city-picker="{{card.area}}"   ng-model="card.area" required placeholder="获取地址"   />
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd">
                        <label class="weui-label">详细地址</label>
                    </div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="text" name="address" id="address" ng-model="card.address"  placeholder="详细地址" />
                    </div>
                </div>
            </div>
            <div class="weui-btn-area">
                <button type="submit" class="weui-btn weui-btn_primary">提交</button>
            </div>
        </form>
    </div>
</div>