<div class="page" ng-controller="exerciseRankController">
    <div class="page__bd">
        <div class="weui-cells__title">西游记</div>
        <div class="weui-cells">
            <div class="weui-cell weui-cell_access" se-show-exercise-rank="">
                <div class="weui-cell__bd">排名方式</div>
                <div class="weui-cell__ft">{{rankMethod}}</div>
            </div>
        </div>
        <div class="weui-panel habit-panel">
            <div class="weui-panel__bd">
                <div class="weui-media-box weui-media-box_small-appmsg ">
                    <div class="weui-cells ">
                        <div class="weui-cell " ng-repeat="item in rank.top3" >
                            <div class="weui-cell__hd babit-rank">
                                <div class="babit-rank__sn">{{item.row}}</div>
                                <img style="width:40px;height:40px; border-radius: 20px;" src="{{item.headImgUrl}}" />
                            </div>
                            <div class="weui-cell__bd weui-cell_primary">
                                <div class="habit-rank__nickName">{{item.nickName}}</div>
                                <div class="habit-rank__desc">积分：{{item.score}} 用时 {{item.totalTime}}</div>
                            </div>
                            <div class="weui-cell__ft">
                                <img style="width:40px;height:40px;"  src="./imgs/gardenia/rank{{$index+1}}.png" />
                            </div>
                        </div>
                        <div class="weui-cell " ng-repeat="item in rank.top" >
                            <div class="weui-cell__hd babit-rank">
                                <div class="babit-rank__sn">{{item.row}}</div>
                                <img style="width:40px;height:40px; border-radius: 20px;" src="{{item.headImgUrl}}" />
                            </div>
                            <div class="weui-cell__bd weui-cell_primary">
                                <div class="habit-rank__nickName">{{item.nickName}}</div>
                                <div class="habit-rank__desc">积分：{{item.score}} 用时 {{item.totalTime}}</div>
                            </div>
                            <div class="weui-cell__ft">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="weui-mask" id="iosMask" style="display: none"></div>
        <div class="weui-actionsheet" id="iosActionsheet">
            <div class="weui-actionsheet__title">
                <p class="weui-actionsheet__title-text">选择排行方式</p>
            </div>
            <div class="weui-actionsheet__menu">
                <div id="iosActionsheetAll"  class="weui-actionsheet__cell">全校排名</div>
                <div id="iosActionsheetClass" class="weui-actionsheet__cell">班级排名</div>
            </div>
            <div class="weui-actionsheet__action">
                <div class="weui-actionsheet__cell" id="iosActionsheetCancel">取消</div>
            </div>
        </div>
    </div>
</div>