@charset "utf-8";

/*.comment{
	display: none;
	width: 100%;
	position: absolute;
	left: 0;
	top: -1000px;	
	background: #ffffff;
	border-bottom: 1px solid rgba(0,0,0,0.15);
	border-top: 1px solid rgba(0,0,0,0.15);
	padding: 1.1875rem 5.5rem 1.1875rem 2.875rem;
	z-index: 999;
}
#comment-msg{
	width: 100%;
	border: none;
	outline:none;
	resize:none;
	font-size: 0.875rem;
	line-height: 1.3rem;
	color: #798692;
}
#comment-bg{
	position: absolute;
	left: 1.25rem;
	bottom: 1.6875rem;
	width: 1.1875rem;
}
#comment-btn{
	position: absolute;
	right: 1.25rem;
	bottom: 1.25rem;
	display: inline-block;
	background: #1daffa;
	padding: 0 0.625rem;
	height: 1.625rem;
	color: #fff;
	line-height: 1.625rem;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}*/
/*底部评论框*/
.comment{
	display: none;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: #ffffff;
	z-index: 999;
}
.footer-top{
	padding: 0 0.625rem;
	font-size: 0.9375rem;
    color: #575b61;
	line-height: 2.5rem;
	text-align: center;
}
.footer-top-1{
	display: inline-block;
	width: 5rem;
	text-align: left;
	float: left;
}
.footer-top-2{
	display: inline-block;
	width: 5rem;
	text-align: right;
	float: right;
}
.footer-main{
	padding: 0 0.625rem;
	margin-bottom: 7rem;
}
#comment-msg{
    border: 1px solid #bbbbbb;
	padding: 0.5rem;
	height: 8rem;
	overflow-y: scroll;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 3px;
    resize: none;
}
textarea::-webkit-input-placeholder { 
	color: rgba(102,102,102,0.5); 
} 
textarea:-moz-placeholder { 
	color: rgba(102,102,102,0.5); 
} 
textarea::-moz-placeholder { 
	color: rgba(102,102,102,0.5); 
} 
textarea:-ms-input-placeholder { 
	color: rgba(102,102,102,0.5); 
} 
/*大图预览*/
.bigImg{
	display: none;
	position: fixed;
	background: rgba(0,0,0,1);
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 300;
}
.bigImg-li{
	/*position: absolute;
	left: 0;
	top: 50%;*/
	background: rgba(0,0,0,1) no-repeat center center;
	background-size: contain; 
}
.bigImg-li img{
	width: 100%;
}
.bigImg-delete{
	position: absolute;
	top: 2rem;
	right: 2rem;
	width: 2rem;
	z-index: 999;
}
.swiper-pagination-bullet{
	background: rgba(255,255,255,0.7);
}
.swiper-pagination-bullet-active{
	background: #ffffff;
}
/*删除评论弹框*/
.fixbg{
	display:none;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	bottom: 0;
	text-align: center;
	font-size: 1rem;
	padding: 0 25px;
	background: rgba(0,0,0,0.7);
	z-index: 999;
}
.fixbg-main{
	display:block;
	position: absolute;
	width: 90%;
	left: 5%;
	top:50%;
	color: #6d747e;
	background: #ffffff;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}
.fixbg-main-t{
	padding: 30px 25px;
}
.fixbg-main-t span{
	color:#cf9979; 
}
.fixbg-main-btn{
	line-height: 2.8125rem;
	border-top: 1px solid rgba(0,0,0,0.1);
	text-align: center;
}
.fixbg-main-btn1{
	border-right: 1px solid rgba(0,0,0,0.1);
	color: #666666;
}
.fixbg-main-btn2{
	color: #1daffa;
}
/*.saveImg{
	display: none;
	position: fixed;
	width: 100%;
	z-index: 301;
	bottom:0;
	left: 0;
	color: rgba(36,36,36,1);
}
.saveImg-btn{
	background: #fff;
	text-align: center;
	height: 3rem;
	line-height: 3rem;
}*/