@charset "utf-8";

/*/*第二页*/
.list{
	/*margin-bottom: 1rem;*/
	/* main绝对定位，进行内部滚动 */
	position: relative;
}
.noRecord{
	width: 100%;
	margin-top: 5rem;
    font-size: .9375rem;
    color: #b5b5b5;
    height: 7rem;
    text-align: center;
}
.part{
	position: relative;
	/*padding: 1rem 0 1rem 3.75rem;*/
    /*padding: 1rem 1.25rem 1rem 4.0625rem;*/
    margin: 0 1.25rem;
    margin-bottom: 1.25rem;
    border-bottom: 1px solid #EFF4F8;

}
.line-length{
	/*background: url(http://cdn2.picooc.com/web/res/fatburn/image/student/student-17.png) repeat-x bottom left;*/
	background-size: 100% 1px;
}
.line-length:last-of-type {
	background: none;
}
.part:last-child{
	background: none;
}

.partLeft{
	position: absolute;
	/*left: 0;*/
    left: 0;
	top: 0.125rem;
}
.partLeft3{
	position: absolute;
	/*left: 0;*/
    left: 1.25rem;
	top: 2.8rem;
}
.partLeft5{
	position: absolute;
	/*left: 0;*/
    left: 1.25rem;
	top: 0.8rem;
}
.partLeft img{
	width: 2.1875rem;
	height: 2.1875rem;
	-moz-border-radius: 1.09375rem;
	-webkit-border-radius: 1.09375rem;
	-o-border-radius: 1.09375rem;
	border-radius: 1.09375rem;
}
.partLeft3 img{
	width: 2.5rem;
	height: 2.5rem;
	-moz-border-radius: 1.25rem;
	-webkit-border-radius: 1.25rem;
	-o-border-radius: 1.25rem;
	border-radius: 1.25rem;
}
.partLeft5 img{
	width: 2.5rem;
	height: 2.5rem;
	-moz-border-radius: 1.25rem;
	-webkit-border-radius: 1.25rem;
	-o-border-radius: 1.25rem;
	border-radius: 1.25rem;
}
.partRight{
    padding-left: 2.8125rem;
}
.partRight-type2{
	position: relative;
}
.partRight-type2 img{
	position: absolute;
	top: 0.75rem;
	right: 0;
	width: 2.3125rem;
}
.partRight-type2 .tag{
	position: absolute;
	top: 0.6875rem;
	right: 0;
	font-size: 0.75rem;
    height: 1.1875rem;
    line-height: 1.1875rem;
	color: #ffffff;
	padding: 0 0.35rem 0 0.75rem;
	background: url(http://cdn2.picooc.com/web/res/fatburn/image/student/student-20.png) no-repeat;
	background-size: 100% 100%;
}
.partRight-type2-name{
    font-size: .75rem;
    color: #333;
    line-height: 1.375rem;
    font-weight: 700;
}
.partRight-type2-date{
    font-size: 0.75rem;
    /*color: rgba(121, 134, 146, 0.6);*/
    color: #C1C7D2;
    line-height: 1rem;
    padding-top: 0.125rem;
    padding-bottom: 0.25rem;
}
.partRight-type2-date span{
	font-size: 0.75rem;
	margin-right: 6px;
}
.partRight-p1{
	/*color: #798692;*/
	color: #666;
	font-size: 0.75rem;
	line-height: 1.125rem;
	/*margin: 0.5rem 0 0.625rem;*/
	margin: 0 0 0.625rem;
    text-align: justify;
}
.partRight-img img{
	width: 100%;
}
.partRight-img-li{
	border: 2px solid #fff;
	background: no-repeat center center;
	/*background-size: 96% 96%;*/
	background-size: cover;
	-webkit-user-select:none;
	-moz-user-select:none;
	-o-user-select:none;
	user-select:none;
}
.partRight-img-li2{
	border: none;
	background: no-repeat center center;
	/*background-size: 96% 96%;*/
	background-size: cover; 
}
.partRight-type1{
	position: relative;
	line-height: 2rem;
    padding-bottom: 0.625rem;
}
.partRight-type1-date{
	float: left;
	color: #bed2e3;
	font-size: 0.875rem;
	margin-right: 6px;
	line-height: 2rem;
}
.partRight-type1-delete{
	float: left;
	color: #798692;
	font-size: 0.75rem;
	line-height: 2rem;
    position: relative;
    top: 0.1875rem;
}
.partRight-type1-zan{
	position: relative;
	display: inline-block;
	float: right;
	margin-right: 3.25rem;
	padding-left: 1.125rem;
}
.partRight-type1-zan span{
	font-size: 0.75rem;
	/*color: #798692;*/
    color: #C1C7D2;
	line-height: 2rem;
    position: relative;
    left:0.5rem;
    top: 0.375rem;
}
.partRight-type1-zan img{
	position: absolute;
	top: 0.5625rem;
	left: 0;
    width: 1.375rem;
	margin-right: 3px;
}
.partRight-type1-share{
	position: absolute;
	display: inline-block;
	top: -0.125rem;
	right: 6.5rem;
	width: 1.5rem;
	height: 1.5rem;
	padding-top: 0.5rem;
}
.partRight-type1-share img{
	position: absolute;
	top: 0.6625rem;
	left: 0;
	width: 1.375rem;
}
.partRight-type1-msg{
	position: absolute;
	display: inline-block;
	right: 0;
	top: 0.125rem;
	/*width: 2rem;*/
	padding-left: 1rem;
}
.partRight-type1-msg img{
    width: 1.375rem;
	position: relative;
	top: 0.0625rem;
}
.partRight-msg{
	position: relative;
	/*margin-top: 0.5rem;*/
	/*background: #f2f6f9;*/
    border-radius: 2px;
}
.partRight-msg .row:last-child{
	/*background: none;*/
	/*background: url(http://cdn2.picooc.com/web/res/fatburn/image/student/dottedLine.png) top left repeat-x;*/
	/*background-size: 100% 1px;*/
}
.msgInfo{
	/*background: none;*/
}
.partRight-msg2{
	background: #ffffff;
}
.partRight-msg-bg{
	position: absolute;
	top: -0.5rem;
	right: 0.625rem;
	width: 3rem;
	height: 0.5rem;
	background: url(http://cdn2.picooc.com/web/res/fatburn/image/student/student-14.png) no-repeat top right;
	background-size: auto 100%;
}
.partRight-msg{
	/*padding: 0rem 0.75rem;*/
}
.msgZan{
	position: relative;
	padding-left: 1.8125rem;
	line-height: 1.5rem;
	/*margin-top: 0.75rem;*/
	padding-bottom: 0.625rem;
	/*background: url(http://cdn2.picooc.com/web/res/fatburn/image/student/dottedLine.png) bottom left repeat-x;*/
	/*background-size: 100% 1px;*/
}
.msgZanNone{
	background: none;
}
.msgZan img{
	position: absolute;
	left: 0.25rem;
	top: 0.125rem;
	width: 1.25rem;
}

.msgZanName1{
	display: inline;
	font-size: 0.75rem;
	/*color: #1daffa;*/
	color: #1477AB;
	line-height: 1.5rem;
	height: 1.5rem;
	vertical-align: bottom;
	word-break:break-all;
	margin-right: 0.3125rem;
}
.msgZanName2{
	display: inline;
	font-size: 0.75rem;
	color: #ffa200;
	line-height: 1.5rem;
	vertical-align: bottom;
	word-break:break-all;
}
.msgZanName1 .dot{
	font-size: 0.75rem;
	/*color: #1daffa;*/
	color: #1477AB;
	line-height: 1.5rem;
}
.msgZanName2 .dot{
	font-size: 0.875rem;
	color: #ffa200;
	line-height: 1.5rem;
}
.msgZanName1 span{
	display: inline;
}

.msgZanName2:link{
	color: #ffa200;
}
.msgZanName2:active{
	color: #ffa200;
}
.msgZanName2:hover{
	color: #ffa200;
}
.msgZanName2:active{
	color: #ffa200;
}
.msgInfo{
	position: relative;
	/*padding-left: 1.8125rem;*/
	background: url(http://cdn2.picooc.com/web/res/fatburn/image/student/dottedLine.png) top left repeat-x;
	background-size: 100% 1px;
}
.partLeft-headerHref{
	display: block;
}
.msgInfo-headerHref{
	display: block;
}
.msgInfo-header{
	position: absolute;
	left: 0;
	top: 0.6875rem;
	width: 1.375rem;
	height: 1.375rem;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
    /*1.7不显示头像*/
    display: none;
}
.msgInfo-mian{
	/*color: #798692;*/
	color: #2A2A2A;
	font-size: 0.75rem;
	letter-spacing: 1px;
	padding: 0.625rem 0;
	line-height: 1.125rem;
	/*background: url(http://cdn2.picooc.com/web/res/fatburn/image/student/dottedLine.png) bottom left no-repeat;*/
	/*background-size: 100% 1px;*/
    text-align: justify;
}
.msgInfo-msg{
	/*word-break: break-all;*/
	word-wrap:break-word;
	display: block;
}
.msgInfo-msg2{
	word-break: break-all;
	display: block;
}
.msgInfo-name{
	display: inline;
	/*color: #1daffa;*/
	color: #1477AB;
	/*font-size: 0.75rem;
	letter-spacing: 1px;*/
}
.msgInfo-msg a:first-child{
	display: inline-block;
	width: auto;
}
.msgInfo-name-info{
	color: #2A2A2A;
	padding: 0 0.3125rem;
}
.msgInfo-name-dot{
	color: #798692;
}
.msgInfo-name2{
	display: inline;
	color: #ffa200;
	/*font-size: 0.75rem;
	letter-spacing: 1px;*/
}
.msgInfo:last-child .msgInfo-mian{
	background: none;
}
.campstatusContainer{
	display: block;
	position: relative;
	padding-bottom:0.6rem;
	padding-top: 0.6rem;
	height: auto;
	line-height: 2rem;
	margin-bottom: 0.6rem;
	margin-top: 0.6rem;
	background-color: #fff;
}
.campstatusContainer .ttab{
/*	display: box; 
	display: -webkit-box;*/
	position: absolute;
    bottom: 0.3125rem;
    right: 1px;
    width: 5rem;
    height: 1.5625rem;
    line-height: 1.5rem;
    z-index: 10;
	/*background:url(../image/studentList/ttab.png) center center no-repeat;*/
	background-size: 100% 100%;
    padding-left: 0.625rem;
    background-color: #fff;
/*	-webkit-box-pack:center; */
/*	-webkit-box-align:center; */
}
/*.campstatusContainer .tttab{
	width: 0.6875rem;
	height: 0.7257rem;
	background:url(../image/studentList/ttab.png) center center no-repeat; 
	background-size: 100% 100%;
	margin-top: 0.45rem;
}*/
.campstatusContainer .ttab .ttab1Inner{
    width: 100%;
    height: 100%;
    padding-left: 0.5rem;
    border-radius: 1.5625rem;
    background-color: #e4b99e;
}
.campstatusContainer .ttab .shaiXuanPng{
    width: 1.375rem;
    vertical-align: -0.4375rem;
}
.campstatusContainer .tabtype{
	font-size: 0.75rem;
	color: #fff;
	/*padding-left: 1.6rem;*/
	display: inline;
	/*vertical-align:50%;*/
}
.campstatus2{
	display: block;
	background-color:rgba(190,210,227,0.25);
	height:0.8125rem;
	line-height: 0.8125rem;
}
.type-container{
	display: none;
	width: 11.8125rem;
	height: 12rem;
	background:url(../image/studentList/bg.png) center center no-repeat; 
	background-size: 100% 100%;
	position: absolute;
	top: 2.5rem;
	right: 0.9rem;
	z-index: 120;
	padding: 1.3rem 1rem;
}
.shaixuan{
	position: relative;
    /*margin: 0 1.25rem;*/
	width: 100%;
	/*z-index: 120;*/
	z-index: 10;
	background-color: #fff;
	display: none;
	/*height: 3.2125rem;*/
    /*padding-right: 2.5rem;*/
    padding: 0 1.25rem;
	/*margin-top:0.6rem;*/
}

.icon-list{
	position: relative;
    padding: 2px 1.6875rem;
}
.icon{
    float: left;
    width: 45%;
    text-align: center;
    margin-right: 10%;
    margin-bottom: 0.7rem;
}
.icon:nth-of-type(even){
    margin-right:0;
}
.icon img{
	width: 100%;
}

.typeContainer{
	display: none;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9;
}

/*周表现总结*/

.weekSummaryTitle{
    margin: 0 1.25rem;
    background: url("http://cdn2.picooc.com/web/res/fatburn/image/student/summary.png") no-repeat right center;
    background-size: 2.5rem 1.25rem;
    margin-top: 0.125rem;
}
.weekSummaryTitle .day{
    font-size: 0.75rem;
    color: #798692;
	padding-right: 0.625rem;
}
.weekSummaryTitle .dayText{
    font-size: 1.25rem;
    color: #003800;
}
.weekSummaryTitle .date{
    font-size: 0.75rem;
    color: #C1C7D2;
}


.weekSummary {
    background: rgba(215, 221, 232, 0.09);
    box-shadow: 0 0.0625rem 0.1875rem 0 rgba(0, 133, 255, 0.3);
    border-radius: 0.25rem;
    margin: 1rem 1.125rem;
    padding: 1.375rem 1.25rem 0.75rem 1.25rem;
}
/*dataBox1*/
.weekSummary .dataBox1 {
    /*background-color: pink;*/
    border-bottom: 1px solid #EFF4F8;
}
.weekSummary .dataBox1 .theFirst {
    font-size: 1.0625rem;
    color: #798692;
    letter-spacing: 0;
    height: 1.5rem;
    line-height: 1.5rem;
}
.weekSummary .dataBox1 .theFirst .gang {
    display: inline-block;
    width: 0.1875rem;
    height: 1.0625rem;
    background-color: #00B1FF;
}
.weekSummary .dataBox1 .theFirst .text {
    vertical-align: 0.0625rem;
    padding-left: 0.375rem;
    padding-right: 0.9375rem;
}
.weekSummary .dataBox1 .theFirst .one {
    font-size: 1.5rem;
    color: #00B1FF;
    letter-spacing: 0;
}
.weekSummary .dataBox1 .theFirst .topSummary{
    width: 0.5rem;
    vertical-align: 0.1875rem;
    margin-left: 0.875rem;
    margin-right: 0.3125rem;
}
.weekSummary .dataBox1 .theFirst .two {
    font-size: 0.875rem;
    color: #00B1FF;
    letter-spacing: 0;
    vertical-align: 0.1875rem;
}
.weekSummary .dataBox1 .theFirst .right {
    float: right;
    width: 0.9375rem;
    padding-top: 0.3125rem;
}
.weekSummary .dataBox1 .dataFirst {
    padding: 0.625rem 0;
}
.weekSummary .dataBox1 .dataFirst .name {
    font-size: 0.75rem;
    color: #798692;
    letter-spacing: 0;
    padding-right: 0.625rem;
    vertical-align: 0.125rem;
}
.weekSummary .dataBox1 .dataFirst .cardName {
    padding-left: 0.6875rem;
}
.weekSummary .dataBox1 .dataFirst .averageName {
    padding-left: 2.5rem;
}
.weekSummary .dataBox1 .dataFirst .valueBox {
    font-size: 0.75rem;
    color: #00B1FF;
    letter-spacing: 0;
    line-height: 1.5rem;
}
.weekSummary .dataBox1 .dataFirst .value {
    font-size: 1.25rem;
    padding-right: 0.1875rem;
}
/*dataBox2*/
.weekSummary .dataBox2 {
    /*background-color: pink;*/
    border-bottom: 1px solid #EFF4F8;
}
.weekSummary .dataBox2 .dietPercent {
    font-size: 1.0625rem;
    color: #798692;
    letter-spacing: 0;
    height: 1.5rem;
    line-height: 1.5rem;
    margin-top: 0.75rem;
    margin-bottom: 0.9375rem;
}
.weekSummary .dataBox2 .dietPercent .gang {
    display: inline-block;
    width: 0.1875rem;
    height: 0.75rem;
    background-color: #00B1FF;
}
.weekSummary .dataBox2 .dietPercent .name {
    font-size: 0.75rem;
    color: #798692;
    letter-spacing: 0;
    padding-right: 0.625rem;
    vertical-align: 0.125rem;
}
.weekSummary .dataBox2 .dietPercent .dietName {
    padding-left: 0.4375rem;
}
.weekSummary .dataBox2 .dietPercent .valueBox {
    font-size: 0.75rem;
    color: #00B1FF;
    letter-spacing: 0;
    line-height: 1.5rem;
}
.weekSummary .dataBox2 .dietPercent .value {
    font-size: 1.25rem;
    padding-right: 0.1875rem;
}
.weekSummary .dataBox2 .dietDesc {
    padding-left: 0.5rem;
    /*margin: 0.9375rem 0;*/
    margin-bottom: 0.9375rem;
}
.weekSummary .dataBox2 .dietDesc .desc {
    text-align: center;
    color: #fff;
    width: 4.5rem;
    height: 5.1875rem;
    background: url("https://cdn2.picooc.com/web/res/fatburn/image/weekSummary/cardBg.png") no-repeat center;
    background-size: 100%;
}
.weekSummary .dataBox2 .dietDesc .desc .descName {
    font-size: 0.75rem;
    padding-top: 1rem;
}
.weekSummary .dataBox2 .dietDesc .desc .descState {
    font-size: 0.875rem;
}
.weekSummary .dataBox2 .dietDesc .desc .descNum {
    font-size: 0.875rem;
}
.weekSummary .dataBox2 .dietDesc .middle {
    margin: 0 auto;
}
.weekSummary .dataBox2 .dietDesc .right {
    margin-left: auto;
}
/*dataBox3*/
.weekSummary .dataBox3 {
    /*background-color: pink;*/
}
.weekSummary .dataBox3 .sportPercent {
    font-size: 1.0625rem;
    color: #798692;
    letter-spacing: 0;
    height: 1.5rem;
    line-height: 1.5rem;
    margin: 0.75rem 0;
}
.weekSummary .dataBox3 .sportPercent .gang {
    display: inline-block;
    width: 0.1875rem;
    height: 0.75rem;
    background-color: #00B1FF;
}
.weekSummary .dataBox3 .sportPercent .name {
    font-size: 0.75rem;
    color: #798692;
    letter-spacing: 0;
    padding-right: 0.625rem;
    vertical-align: 0.125rem;
}
.weekSummary .dataBox3 .sportPercent .sportName {
    padding-left: 0.4375rem;
}
.weekSummary .dataBox3 .sportPercent .valueBox {
    font-size: 0.75rem;
    color: #00B1FF;
    letter-spacing: 0;
    line-height: 1.5rem;
}
.weekSummary .dataBox3 .sportPercent .value {
    font-size: 1.25rem;
    padding-right: 0.1875rem;
}
.weekSummary .dataBox3 .calendar {
    padding-left: 0.5rem;
}
.weekSummary .dataBox3 .calendar .dataBox {
    display: inline-block;
}
.weekSummary .dataBox3 .calendar .dataBox .data {
    display: inline-block;
    width: 1.375rem;
    height: 1.375rem;
    line-height: 1.375rem;
    text-align: center;
    font-size: 0.75rem;
    color: #C1C7D2;
    margin-right: 0.9375rem;
}
.weekSummary .dataBox3 .calendar .hr {
    margin-left: 0.25rem;
    width: 14.75rem;
    border-bottom: 1px dashed #c1c7d2;
    margin-top: 0.375rem;
    margin-bottom: 0.375rem;
}
.weekSummary .dataBox3 .calendar .cardStateBox {
    display: inline-block;
}
.weekSummary .dataBox3 .calendar .cardStateBox .cardState {
    display: inline-block;
    width: 1.375rem;
    height: 1.375rem;
    margin-right: 0.9375rem;
    background: url("https://cdn2.picooc.com/web/res/fatburn/image/weekSummary/notCard.png") no-repeat center;
    background-size: 100%;
}
.weekSummary .dataBox3 .calendar .cardStateBox .active {
    background: url("https://cdn2.picooc.com/web/res/fatburn/image/weekSummary/hasCard.png") no-repeat center;
    background-size: 100%;
}


/*coachComment*/
.coachComment {
	/*margin-top: 1.25rem;*/
	/*padding: 0 0.9375rem;*/
	/*padding: 0.625rem 0;*/
    padding: 0.5rem 0;
	background: url(http://cdn2.picooc.com/web/res/fatburn/image/student/dottedLine.png) top left repeat-x;
	background-size: 100% 1px;
}
.coachCommentNone{
	background: none;
}
.coachComment .aboutSay {
	/*margin-top: 1.25rem;*/
	/*padding: 0.625rem;*/
	/*background-color: #798692;*/
}
.coachComment .aboutSay .comments {
	font-size: 0.75rem;
	color: #FFB654;
}
.coachComment .aboutSay .comments .haveStarWrap{
	position: relative;
	bottom: 0.0625rem;
}
.coachComment .aboutSay .key {
	margin-right: 0.375rem;
}
.coachComment .aboutSay .star {
	width: 0.75rem;
	vertical-align: -0.125rem;
	margin-right: 0.25rem;
}
.coachComment .aboutSay .number {
	font-size: 0.875rem;
	margin-left: 0.5rem;
}
.coachComment .aboutSay .desc {
	font-size: 0.75rem;
	color: #FFB654;
	text-align: justify;
	margin-top: 0.375rem;
}

/*moreMsg*/
.moreMsg{
    text-align: right;
    font-size: 0.75rem;
    color: #4FC1FD;
	margin-top: 0.875rem;
}
.moreMsg .messageNumber{
    position: relative;
    /*top: 0.0625rem;*/
    /*right: 0.0625rem;*/
}
.moreMsg .moreMsgImg{
    width: 0.5rem;
    vertical-align: -0.125rem;
    margin-left: 0.1875rem;
}

/*joinDaysBox*/
.joinDaysBox{
    margin: 0 1.25rem;
    font-size: 0.75rem;
    color: #798692;
    margin-bottom: 1.25rem;
    border-bottom: 0.125rem solid #EFF4F8;
}
.joinDaysBox .joinDayText{
    position: relative;
    top: 0.1875rem;
    padding-right: 0.625rem;
    background-color: #fff;
}
.joinDaysBox .joinDays{
    font-size: 1.25rem;
    color: #003800;
    line-height: 1rem;
}



/*1.7新增提示弹框*/
.newAlertBox{
	display:none;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	bottom: 0;
	text-align: center;
	font-size: 1rem;
	padding: 0 25px;
	background: rgba(0,0,0,0.7);
	z-index: 999;
}
.newAlertBox .newAlert{
	display:block;
	position: absolute;
	/*top:50%;*/
	top:calc(50% - 8rem);
	color: #6d747e;
	background: #ffffff;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	width: 84%;
	left: 8%;
}
.newAlertBox .newAlert .content{
	padding: 30px 25px;
}
.newAlertBox .newAlert .content span{
	color:#cf9979;
}
.newAlertBox .newAlert .iKnow{
	line-height: 2.8125rem;
	border-top: 1px solid rgba(0,0,0,0.1);
	text-align: center;
}
.newAlertBox .newAlert .iKnow1{
	color: #1daffa;
}


#tag-content{
	min-height: 15rem;
}