
/*page1*/
.msgType1 .list{
    /*margin-bottom: 3.5rem;*/
    position: relative;
}
.msgType1 .noRecord{
/*	width: 100%;
	margin-top: 3rem;
	font-size: .9375rem;
	color: #b5b5b5;
	text-align: center;*/
	width: 100%;
	margin-top: 1.5rem;
	margin-bottom: 0rem;
    font-size: .9375rem;
    color: #b5b5b5;
    height: 7rem;
    text-align: center;
}
.cardListMessage{
	margin-bottom: 5.5rem;
}
.noRecordBottom{
	width: 100%;
	height: 0.5rem;
	position: relative;
}

.msgType1 .lineLength1{
	/*background: url("http://cdn2.picooc.com/web/res/fatburn/image/student/student-17.png") no-repeat top right;*/
	background-size: 100% 1px;
}
.msgType1 .lineLength3{
	/*background: url("http://cdn2.picooc.com/web/res/fatburn/image/student/student-17.png") no-repeat top right;*/
	background-size: 77% 1px;
}
.msgType1 .lineLength2{

}

.partRight-paddingleft{
	padding-left: 0.5rem;
}
.campstatus {
	display: block;
	margin: 0 1.25rem;
	background-color: rgba(190,210,227,0.25);
	height: 0.8125rem;
	margin-bottom: 1rem;
	line-height: 0.8125rem;
}
.campstatusContent{
	background-color:#fff;
	height:100%;
	font-size:0.8125rem;
	margin-left:0.125rem;
	color:#bed2e3;
	width:3.5rem;
	text-align: center;
}
.campstatusContent2{
	width:4.75rem;
}
.campstatusContainer1{
	display: block;
	position: relative;
	padding-bottom:0.6rem;
	padding-top: 0.6rem;
	height: auto;
	line-height: 2rem;
	margin-bottom: 0.6rem;
	margin-top: 0.6rem;
	background-color: #fff;
}
.campstatusContainer1 .ttab1{
/*	display: box; 
	display: -webkit-box;*/
	position: absolute;
	bottom: 0.3125rem;
	right: 1px;
	width: 5rem;
	height: 1.5625rem;
	line-height: 1.5rem;
	z-index: 10;
	/*background:#fff url(../image/studentList/ttab.png) center center no-repeat;*/
	background-size: 100% 100%;
	padding-left: 0.625rem;
	background-color: #fff;
/*	-webkit-box-pack:center; */
/*	-webkit-box-align:center; */
}
.campstatusContainer1 .ttab1 .ttab1Inner{
	width: 100%;
	height: 100%;
	padding-left: 0.5rem;
	border-radius: 1.5625rem;
	background-color: #e4b99e;
}
.campstatusContainer1 .ttab1 .shaiXuanPng{
	width: 1.375rem;
	vertical-align: -0.4375rem;
}
/*.campstatusContainer .tttab{
	width: 0.6875rem;
	height: 0.7257rem;
	background:url(../image/studentList/ttab.png) center center no-repeat; 
	background-size: 100% 100%;
	margin-top: 0.45rem;
}*/
.campstatusContainer1 .tabtype1{
	font-size: 0.75rem;
	color: #fff;
	/*padding-left: 1.6rem;*/
	display: inline;
}
.campstatus1{
	display: block;
	background-color:rgba(190,210,227,0.25);
	height:0.8125rem;
	line-height: 0.8125rem;
}
.type-container1{
	display: none;
	width: 11.8125rem;
	height: 12rem;
	background:url(../image/studentList/bg.png) center center no-repeat; 
	background-size: 100% 100%;
	position: absolute;
	top: 2.5rem;
	right: 0.9rem;
	z-index: 10;
	padding: 1.3rem 1rem;
}
.shaixuan1{
	position: relative;
	/*margin: 0 1.25rem;*/
	width: 100%;
	z-index: 101;
	background-color: #fff;
	display: none;
	/*padding-right: 2.5rem;*/
	padding: 0 1.25rem;
}

.icon-list{
	position: relative;
    padding: 2px 1.6875rem;
}
.icon1{
    float: left;
    width: 45%;
    text-align: center;
    margin-right: 10%;
    margin-bottom: 0.7rem;
}
.icon1:nth-of-type(even){
    margin-right:0;
}
.icon1 img{
	width: 100%;
}
.typeContainer{
	display: none;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9;
}

