
.fixbg-version{
	display:none;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	bottom: 0;
	text-align: center;
	font-size: 1rem;
	padding: 0 25px;
	background: rgba(0,0,0,0.7);
	z-index: 999;
}
.fixbg-main-version{
	display:block;
	position: absolute;
	width: 90%;
	left: 5%;
	top:50%;
	color: #6d747e;
	background: #ffffff;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}
.fixbg-main-t-version{
	padding: 30px 40px;
	text-align: left;
}

.fixbg-main-t-version span{
	color:#cf9979; 
}
.fixbg-main-btn-version{
	line-height: 2.8125rem;
	border-top: 1px solid rgba(0,0,0,0.1);
	text-align: center;
}
.fixbg-main-btn1-version{
	border-right: 1px solid rgba(0,0,0,0.1);
	color: #666666;
}
.fixbg-main-btn2-version{
	color: #1daffa;
}

.fixbg-version2{
	display:none;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	bottom: 0;
	text-align: center;
	font-size: 1rem;
	padding: 0 25px;
	background: rgba(0,0,0,0.7);
	z-index: 999;
}
.fixbg-main-version2{
	display:block;
	position: absolute;
	width: 90%;
	left: 5%;
	top:50%;
	color: #6d747e;
	background: #ffffff;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}
.fixbg-main-t-version2{
	padding: 30px 40px;
	text-align: left;
}

.fixbg-main-t-version2 span{
	color:#cf9979; 
}
.fixbg-main-btn-version2{
	line-height: 2.8125rem;
	border-top: 1px solid rgba(0,0,0,0.1);
	text-align: center;
}
.fixbg-main-btn1-version2{
	border-right: 1px solid rgba(0,0,0,0.1);
	color: #666666;
}
.fixbg-main-btn2-version2{
	color: #1daffa;

}