Page{
	background: #ededf0;
}
.body{
	.body_header{
		padding: 12px;
		border-bottom: 1px solid #ededf0;
		background: #ffffff;
		.travel_title{
			display: flex;
			align-items: center;
			justify-content: space-between;
			.travel_time{
				font-size: 16px;
				color: #484848;
			}
			.check_then_trip{
				font-size: 13px;
				color: #b9bdc3;
			}
		}
		.travel_address{
			display: flex;
			align-items: center;
			font-size: 13px;
			color: #484848;
			margin-top: 5px;
			.address_icon{
				width: 24px;
				height: 20px;
				>image{
					display: block;
					width: 100%;
					height: 100%;
				}
			}
			>view{
				margin-right: 5px;
			}
		}
	}
	.body_container{
		background: #ffffff;
		border-radius: 0px 0px 12px 12px;
		box-shadow: 0px 2px 3px #888888;
		.content_title{
			display: flex;
			padding: 12px;
			.owner_img{
				width: 60px;
				height: 60px;
				>image{
					width: 100%;
					height: 100%;
					display: block;
					border-radius: 50%;
				}
			}
			.owner_right{
				margin-left: 5px;
				.owner_info{
					display: flex;
					align-items: center;
					.name{
						font-size: 17px;
						color: #484848;
					}
					.sex{
						width: 14px;
						height: 14px;
						>image{
							width: 100%;
							height: 100%;
							display: block;
						}
					}
					.owner_carCode{
						font-size: 10px;
						color: #B9BDC3;
					}
					>view{
						margin-right: 3px;
					}
				}
				.speak_prompt{
					position: relative;
					>image{
						width: 200px;
						height: 40px;
						display: block;
					}
					>view{
						position: absolute;
						font-size: 13px;
						color: #ffffff;
						top: 10px;
						left: 12px;
					}
				}
			}
		}
		.content_head{
			padding: 12px;
			.passersby_like{
				text-align: center;
				>image{
					width: 90px;
					height: 90px;
					display: block;
					margin: 0 auto;
				}
				.ok_like{
					font-size: 13px;
					color: #ff7779;
					padding: 5px 0;
				}
				.like_list_title{
					font-size: 10px;
					color: #383838;
				}
			}
			.like_list{
				padding: 12px;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-flow: row wrap;
				margin: 0 auto;
				width: 80%;
				.like_list_li{
					margin: 5px;
					>image{
						width: 37px;
						height: 37px;
						display: block;
						margin: 0 auto;
						border-radius: 50%;
					}
					.like_price{
						font-size: 10px;
						color: #383838;
						margin-top: 4px;
						text-align: center;
					}
				}
			}
		}
	}
	.body_foot{
		border-radius: 12px;
		margin: 12px 8px;
		box-shadow: 1px 2px 3px #888888;
		background: #ffffff;
		padding: 12px;
		.foot_title{
			text-align: center;
			font-size: 13px;
			color:  #FD990D;
			padding: 5px 0;
		}
		.foot_input{
			display: flex;
			align-items: center;
			margin: 0 8px;
			.input_phone{
				flex: 6;
				border-radius: 12px;
				background: #ededf0;
				padding: 11px;
			}
			.foot_btn{
				display: flex;
				flex: 4;
				align-items: center;
				justify-content: center;
				background: linear-gradient(to right, #FFB400, #FA6E1F);
				margin-left: 6px;
				border-radius: 12px;
				height: 44px;
				>image{
					width: 18px;
					height: 18px;
					display: block;
				}
				>view{
					font-size: 16px;
					color: #ffffff;
					white-space: nowrap;
				}
			}
		}
		.foot_btn_text{
			font-size: 13px;
			color: #B9BDC3;
			text-align: center;
			margin-top: 12px;
		}
	}
	.share_App{
		font-size: 13px;
		color: #737373;
		text-align: center;
		margin-top: 12px;
	}
	.foot_img{
		width: 100%;
		height: 113px;
		margin-top: 24px;
		padding-bottom: 60px;
		>image{
			width: 100%;
			height: 100%;
			display: block;
		}
	}
}

.submit{
	background: #ffffff;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	position: fixed;
	bottom: 0;
	padding: 12px 0;
	box-shadow: 1px 1px 3px #888888;
	.travel_info{
		margin-left: 8px;
		>view{
			float: left;
			font-size: 16px;
			color: #484848;
		}
		>view:last-child{
			margin-left: 12px;
		}
	}
	.submit_btn{
		margin-right: 8px;
		background: linear-gradient(to right, #2EBFFF, #4287FF);
		color: #ffffff;
		font-size: 16px;
		padding: 6px 36px;
		border-radius: 12px;
	}
}

button::after{
	margin: 0;
	padding: 0;
	border-radius: 0px;
	border: none;
}