<div ng-controller="showAllegeController">
    <div class="page-header">
        <h3 class="text-center">学习卡<small>(异常处理)</small></h3>
    </div>
    <div class="panel panel-default" ng-repeat="info in infos">
        <div class="panel-heading">昵称：{{info.openId}}</div>
        <div class="panel-body">
            <div>学习卡号:{{info.cardNo}}</div>
            <div>客户   IP:{{info.ipAddress}}</div>
            <div>申请日期:{{info.registDate|date:'yyyy-MM-dd HH:mm:ss'}}</div>
            <div>处理结果:{{info.isAgree==0?'未处理':'已处理'}}</div>
            <div ng-if="info.isAgree==1">处理日期:{{info.registDate}}</div>
        </div>
        <div class="panel-footer" ng-if="info.isAgree==0">
            <span ng-click="checkAllege(info.id,info.openId)" class="btn btn-success">通过</span>
        </div>
    </div>
</div>