/******************************
 ** 初始化
 ** 兼容到IE7
 ** power by:www.hnjing.com
 ******************************/
* { margin:0; padding:0; }
body,input,button,ul,ol,p,form,textarea,h1,h2,h3,h4,h5,dl,dd,dt,u,b,font{margin:0px;padding:0;}
html { height:100%; }
body  { min-width:1100px; font:14px/1.5 "Microsoft Yahei", Arial; color:#333; background:#fff; }
img { border:0px; }
ul,ol { list-style-type:none; vertical-align:bottom; }
table { border-collapse:collapse; border-spacing:0; }
input,textarea,select { font:14px/1 "Microsoft Yahei", Arial; color:#333; outline:0; }
textarea { resize:none; overflow:auto; }
h1,h2,h3,h4,h5,h6,font { font-size:14px;font-weight: 400; }
a { color:#333; text-decoration:none; cursor:pointer; }
a:hover,a:active { color:#1667cb; text-decoration:none; }
.clear { clear:both; font-size:0px; line-height:0px; height:0px; }
.hidden { display:none; }
.center { text-align:center; }
.arrow { font-family:'Small Fonts'; font-style:normal; }
.autocut { overflow:hidden; text-overflow:ellipsis; white-space:nowrap; word-break:break-all; }
.wrapper, .wrap { width:1100px; margin:0 auto; position:relative; }
.w1100{width:1100px}
.wrapper { padding:0 0 50px; }
.clearfix:after{content:"";display: block; clear: both;font-size:0px; line-height:0px; height:0px; }


/******************************
 ** 首页风格
 ******************************/
/*bin_start*/
/*top*/
.top_box{width:100%;height:100px;}
.top_minbox{width:1100px;height:100px;margin:0 auto;}
.top_left{float:left;margin-top: 18px;}
.top_left .logo{float:left;}
.top_left .top_adBox{float: left;width:290px;height:70px; background:url(../img/top_line.png) no-repeat left center ;margin-left: 20px;padding-left: 20px;margin-top: 10px;}
.top_left .top_adBox h1{font-size:24px;font-weight:800;color:#1667cb;line-height:28px;height: 28px;}
.top_left .top_adBox h2{font-size:18px;font-weight:500;color:#ff6d00;line-height: 28px;height:28px;}
.top_right{float:right;width:300px;}
.top_gongju{float:right;width:217px;height:30px;border-bottom-left-radius:10px;border-bottom-right-radius:10px;background:#1667cb;overflow: hidden;}
.top_gongju a{float: left;height:12px;line-height:12px;padding:0 9px;margin-top:8px;color:#fff;border-left:1px solid #fff; font-size:12px}
.top_gongju a:first-child{float: left;border:0px;padding:0 14px;}

.top_tel{float:right; width:210px; padding-left:60px; height:50px;margin-top:11px;text-align:left;background: url(../img/tel_bg.jpg) no-repeat left center;}
.tel_text{font-size:14px; color:#030303;line-height: 25px;}
.top_tel .tel{font-size:24px;letter-spacing:1px;font-weight:800; color:#ff6d00; line-height:24px;   }
/*nav_start*/
.nav_box{width:100%;height:47px;background:url(../img/nav_bg.jpg) repeat-x;position:relative; z-index:20; }
.nav_minbox{width:1100px;height:47px;margin: 0 auto; text-align: center; }
.nav_minbox li:first-child{background:none;}
.nav_minbox > li,.nav_minbox > li > a{float:left;width:110px;height:47px;line-height:47px;font-size:16px;text-align:center;color:#fff;}
.nav_minbox > li{background:url(../img/nav_listbg.gif) no-repeat left 17px;position: relative; z-index:30;  }
.nav_minbox > li > a{background:url(../img/nav_list.jpg) no-repeat -114px bottom;
		transition:background 0.3s;
	-webkit-transition:background 0.3s;
}
.nav_minbox > li > a.navcur{
    background:url(../img/nav_list.jpg) no-repeat 1px bottom;
}
.nav_minbox > li > a:hover{background:url(../img/nav_list.jpg) no-repeat 1px bottom;}
.hover_nav{background:url(../img/nav_list.jpg) no-repeat 1px bottom;}

.nav2_box{display:none; width:270px;height:38px;font-size:14px;position:absolute;top:47px;z-index: 40; left:0; }
.nav2_box dd{float: left;}
.nav2_box dd a{overflow:hidden;float:left;width:80px;height:38px;line-height:38px;font-size:14px;color:#696a6c;background:url(../img/nav2_bg2.jpg) no-repeat left center;
	padding:0 10px;
}
.nav2_box dd a.bgNone{background: none;}
.nav2_box dd a:hover{background: url(../img/nav2_bg.jpg) no-repeat left center;}
.nav2_bgcolor{display:none;width:100%;height:38px;background:#fbfcfe; position:absolute;top:47px; z-index:3;}


/*关键词搜索*/
.searcher { width:100%; background:#fff; height:41px;  margin:26px auto 0;}
.searcher .wrap{height:41px; }
.searcher .keywords { line-height:39px; color:#666; width:1098px;height:39px; border:1px solid #D3D3D3;
  background:url(../img/keywords.png) no-repeat left; text-indent: 34px;
}
.searcher .keywords font{color:#1667cb}
.keywords_box{float:left;width:600px;height:39px;line-height: 39px;color:#606060;text-indent:36px;}
.searcher .sos { position:absolute; right:0; top:6px; right:25px; border:1px solid #D3D3D3; background:#fff; }
.searcher .sos .txt { width:250px; padding:0 0 0 10px; height:28px; line-height:26px; font-size:12px; border:0;  text-indent: 15px;   color:#999; 
	background:url(../img/sousuoBg.jpg) no-repeat 5px center #fff;
}
.searcher .sos .submit { width:42px; height:28px; +height:28px; *height:28px; background:#424242; border:0; color:#FFF; cursor:pointer; position:absolute; right:0; top:0; }
.searcher .sos .submit:hover { opacity:.9; filter:Alpha(opacity=90); }

/*首页产品*/
.index_probox{width:100%;padding-top:46px;background: url(../img/index_pro_bot.gif) repeat-x left bottom;  padding-bottom: 0;}
.index_prominbox{width:1100px;min-height:764px;margin:0 auto;}
.index_proleft{float:left;width:232px;  border-radius: 6px;
  overflow: hidden;}
.index_prolist_box{width:232px;min-height: 678px;background:#1651cc;position: relative;}
.index_prolist_box2{width:216px; height:516px;  margin:0 auto; background-color: #fff; border-radius:4px; }
.index_prolist_name{width:232px;height:66px;text-align: center;font-size:22px;font-weight:500;color: #fff;line-height:37px;
	background: url(../img/index_probg1.png) no-repeat center top;
}
.index_prolist_name p{font-size:16px;font-weight:normal;line-height:18px;}
.index_prolist_box2 li{width:181px;height:54px;line-height:54px;border-bottom:1px dashed #595959;margin:0 auto;font-size:16px;color:#595959;}
.index_prolist_box2 li a{display:block;width:181px;height:54px;line-height:54px;margin:0 auto;font-size:16px;color:#595959;text-align: center;
  	background: url(../img/pro_list_bg.gif) no-repeat left 20px;
	transition:background 0.3s;
	-webkit-transition:background 0.3s;
}
.index_prolist_box2 li a:hover{display:block;background: url(../img/pro_list_bg.gif) no-repeat left -26px;
	*background: url(../img/pro_list_bg.gif) no-repeat left -27px;   color:#1667cb;
}
.index_proad{width:232px;height:75px;line-height:31px;padding-top:21px;color:#fff;font-size:20px;text-align:center; position:absolute;bottom: 0; left:0; 
	background: url(../img/index_probg2.png) no-repeat center top;
}

.index_proright{float:right;width:868px;}
.index_proright .tik{  background: #1667cb;  height: 49px;  line-height: 49px; border-left:48px solid #fff; }
.index_proright .tik span{width: 130px;  float: left;
  background: url(../img/navhover.jpg) repeat-x bottom left;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}
.index_proright .tik a{ float: right;
	width: 73px;
  height: 26px;
  border: 1px solid #fff;
  margin: 10px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
}
.index_proimg_box{width:849px;float: right;   }
.index_proimg_box li{float:left;width:252px;height:231px;margin-left:30px;background:url(../img/pro_bg.jpg) no-repeat center 191px;}
.index_proimg_box li a{display:block;width:252px;}
.index_proimg_box li a:hover{display:block;width:252px;color:#1667cb}
.index_proimg_box li a img{display:block;width:252px;height: 189px;border:1px solid #ccc;}
.index_proimg_box li a p{width:254px;height:40px;overflow:hidden;line-height:40px; *line-height: 34px; text-align: center;}
.index_proimg_box li a:hover img{border-color:#1667cb;}

/*case*/
.index_case{width: 100%;background:#1667cb;min-height: 474px; }
.in_case_box{width:1100px;margin:0 auto;color:#F8FFFF; padding-top: 10px;}
.in_case_box .in_case_title{width:100%;height:101px;line-height:34px;font-size:30px;text-align:center;background:url(../img/index_ggbg.png) no-repeat center;}
.in_case_box .in_case_title h1{width:100%;height:78px;line-height:106px;font-size:30px;}
.in_case_box .in_case_title h2{width:100%;height:40px;line-height:34px;font-size:26px; vertical-align: middle;  color: #7097d9;}
.in_case_box .in_case_title h2 a{display: inline-block; zoom:1; *display: inline;  width: 60px;   margin-left: 25px; vertical-align: middle;
 	 height: 22px; border: 1px solid #fff;  color: #fff;  font-size: 14px; font-weight: bold; line-height: 22px; text-align: center;  }

.in_case_box .icaseMaxBox{ margin-top:50px; }
.in_case_box .icaseMaxBox .iCaseWrap{width: 1100px; height:260px; overflow: hidden; position: relative; }
.in_case_box .in_case_img{width:100%;  position: absolute; left:0; top:0;  }
.in_case_box .in_case_img>li{width:259px;margin:0 8px 20px; float: left;background: url(../img/index_hezuo.png) no-repeat center 194px}
.in_case_box .in_case_img>li a{display: block;width:100%;}
.in_case_box .in_case_img>li img{display: block; width:100%;height:194px;}
.in_case_box .in_case_img>li p{width:100%;height:50px;line-height: 50px;text-align: center;color:#fff;}
.icase_btbg{width:100%;height:28px;background: url(../img/index_youshi.gif) no-repeat center #fff;}
.in_case_box .in_case_img>li:hover p{color:#ffcc00;}
.icaseMaxBox .spanBox{width: 100%; height: 18px; text-align: center;  }
.icaseMaxBox .spanBox span{display: inline-block; *display: inline; zoom:1; width: 15px; height: 15px; margin:0 5px;  background:url(../img/icaseTopBg.png) left top no-repeat; transition:background .3s;
	cursor: pointer; }
.icaseMaxBox .spanBox span.curr{background:url(../img/icaseTopBg.png) left bottom no-repeat;}
/*iyoushi*/
.iyoushi{width:100%;height:65px; position: relative;}
.iyoushi .youshi1{width:100%;height: 7px; background:#1667cb;position: absolute; top:50%;margin-top:3.5px;}
.iyoushi .youshi2{width:702px;height:65px; background:url(../img/index_youshi2.png) no-repeat center 6px;color:#fff;
	position: absolute;left:50%; top:0;margin-left:-351px;font-size:38px;line-height: 65px;text-align: center;
}
.iyoushi .youshi2 font{font-size:44px;}
.youshi3{width:687px;height:70px;margin:0 auto 20px;text-align: center; background: url(../img/index_youshi3.jpg) no-repeat center;  }
.youshi3>h2{font-size:26px;height:80px;line-height: 80px; color:#1667cb;font-weight: normal ;}
.youshi3>h2 font{color:#ff6d00;   font-size: 26px;}
.youshi3>h3{width:310px;height:45px; line-height: 45px; margin: 0 auto; font-size:16px; color:#000;font-weight: bold;border: 1px dashed #1667cb;}
.youshi3>h3>span{color:#ff6d00;font-weight: bold;font-size:22px}

.iadv { padding:50px 0; background:#FFF; }
.iadv .head { height:62px; line-height:62px; background:url(../img/iadv-head.png) center center no-repeat; margin-bottom:30px; }
.iadv .head h2 { text-align:center; color:#FFF; font-size:26px; text-shadow:1px 0 5px #000; }
.iadv .main { width:1100px; height:564px; background:url(../img/iadv.png) center center no-repeat; position:relative; }
.iadv .title { position:absolute; top:163px; left:290px; width:514px; text-align:center; line-height:1.4; }
.iadv .title h2 { font-size:40px; color:#fa4c0f;  font-weight: bold; }
.iadv .title p { font-size:12px; font-family:Arial; color:#000; text-transform:uppercase; }
.iadv .icon { position:absolute; left: 391px;    top: 240px; }
.iadv .icon img { display:block; width:345px; height:341px; }
.iadv .list {}
.iadv .list dd { position:absolute; }
.iadv .list dd h3 { width:130px; height:68px; line-height:45px; font-weight: bold;  text-align:center; font-size:18px; color:#FFF;   letter-spacing: -1px;}
.iadv .list dd p { line-height:19px; font-weight:bold; color:#1667cb; padding:49px 0 0; font-size: 15px; }
.iadv .list dd.item-1 p ,.iadv .list dd.item-4 p , .iadv .list dd.item-6 p{ padding-top: 39px; }
.iadv .list dd.item-5 p{text-align: left; position: relative; left:10px; padding-top: 55px; }
.iadv .item-1 { width:160px; top:35px; left:6px; }
.iadv .item-1 p,.iadv .item-4 p,.iadv .item-3 p,.iadv .item-6 p{font-size:16px; }
.iadv .item-2 { width:110px; top:203px; left:6px; }
.iadv .item-3 { width:160px; top:377px; left:6px; }
.iadv .item-4 { width:160px; top:35px; right:6px; }
.iadv .item-5 { width:110px; top:189px; right:6px; }
.iadv .item-6 { width:160px; top:377px; right:6px; }
.iadv .item-odd { padding:0 0 0 152px; }
.iadv .item-odd h3 { position:absolute; left:6px; top:57px; }
.iadv .item-5.item-even h3{top:75px; right: 13px; }
.iadv .item-even { padding:0 153px 0 0; }
.iadv .item-even h3 { position:absolute;  right: 1px;  top: 56px; }
.iadv .item-6.item-even h3{right:9px; }
.iadv .item-even p { text-align:right; }
/*imin_banner*/
.imin_banner{width: 100%; height:140px;padding-top:60px; text-align: center;background: url(../img/index_pro_bot.gif) repeat-x left top #1667cb;}
.imin_banner .min_bannerBox{width:680px; height:96px; border:3px solid white;margin:0 auto;color:#fff;position: relative;}
.min_bannerBox>h1{font-size:48px;height:80px;width:550px; line-height: 80px;background-color:#1667cb;
	position: absolute;top:-50px;left:50%;margin-left:-275px; font-weight: bold;	 
}
.min_bannerBox>h1>font{font-size:58px;font-weight: bold;	 }
.min_bannerBox>h2{font-size:28px;height:38px; line-height:38px;position: absolute;  top: 27px;left: 186px;}
.min_bannerBox>a{font-size:20px;display: block;margin:0 auto; width:166px; height:39px; line-height:39px;
	background:url(../img/index_zixun.png) no-repeat center;color:white;position: absolute;  top: 77px;left: 276px;
}
.min_bannerBox>a.i_zixun:hover{border:none; text-decoration: underline; }
/*inews*/
.inews_box{width:100%;height:490px; background:url(../img/inews_bg1.png) repeat;}
.inews_box2{width:1004px; margin: 0 auto;padding:68px 48px 0; background:url(../img/inews_bg2.png) no-repeat center -19px;}
.inews_box .inews_Left{float: left;width:430px;height: 327px;background: url(../img/inews_bg3.png) no-repeat center;margin-top: 27px;}
.inews_box .inews_Left img{display: block;padding:20px 0 0 20px;width:391px;height: 289px; background: url(../img/inews_bg3.png) no-repeat center;}

.inews_box .inews_right{float: right;width:520px;}
.inews_box .inews_right>h1{width:100%; height:49px;border-bottom:1px solid #1667cb;color:#1667cb;}
.inews_box .inews_right>h1>span{float: left;height:49px;line-height: 49px;font-size:34px;}
.inews_box .inews_right>h1>font{float: left;height:49px;line-height: 56px;font-size:20px; padding-left: 5px; background: url(../img/inews_bg_line.png) no-repeat 7px 12px;}
.inews_box .inews_right>h1>a{float: right;width:22px;height:22px;line-height: 18px;font-size:24px;color:#fff;
	background-color: #1667cb;text-align: center;margin-top: 14px;
}

.inews_content{width: 100%;margin-top: 26px; }
.inews_content *{color:#666666;}
.inews_content .inews_fist{height:102px;border-bottom:1px dashed #ccc; }
.inews_content .inews_fist>em{float: left; width:74px; height:80px;font-style: normal;font-size: 14px; background-color:#1667cb;
	color:#fff; text-align: center;line-height: 27px;
}
.inews_fist>em>b{display:block;font-size: 26px; height:54px;line-height: 54px;background-color: #cccccc;color:#666;}
.inews_content .inews_fist div{float: right; width:424px; height:80px; }
.inews_content .inews_fist h1{font-size:18px; font-weight: bold; height: 36px; line-height: 34px;
	background: url(../img/inews_bg5.jpg) no-repeat left 32px;
}
.inews_content .inews_fist h2{font-size:12px; font-weight: normal; line-height: 20px;}
.inews_content .inews_laset{height:46px; line-height: 44px ;border-bottom:1px dashed #ccc;font-size:16px; 
	background: url(../img/inews_bg4.png) no-repeat left center; padding-left: 30px;
}
.inews_content .inews_laset a{ float: left;
}
.inews_content .inews_laset font{height:46px; line-height: 44px ;float: right;}
/*inewsTwo*/
.inewsTwo{margin:0 auto; padding-top:46px; }
.inewsTwo>h1{height: 49px;line-height: 40px; background: url(../img/inewsTwo_bg.png) no-repeat center;font-size:18px;color:#ffffff;  margin-bottom: 40px;
text-align: center; 
}

.icomment { float:left; width:696px; margin:0 0 30px 0;  }
.icomment .head { height:40px; line-height:40px; position:relative; margin-bottom:25px; }
.icomment .head h2 {  font-size: 18px;
  font-weight: bold;
  color: #1667cb; padding:0 0 0 50px; background:url(../img/ico-head.png) left center no-repeat; }
.icomment .head .mo { position:absolute; right:0; top:8px; width:73px; height:26px; line-height:26px; background:#f88a1e; color:#FFF; text-align:center; font-size:12px; }
.icomment .head .mo:hover { background:#f27800; }
.icomment .main { padding:20px 0; background:#f8f8f8; border:1px solid #ececec; }
.icomment .box { width:100%; height:530px; overflow:hidden; position:relative;  overflow: hidden;   }
.icomment .list {width:100%; height:530px; position:relative; }
.icomment .item { position:relative; padding:0 0 0 130px; height:90px; margin-bottom:20px; float: left;  margin-left:20px;  width: 177px;}
.icomment .item .img { position:absolute; left:0; top:0; }
.icomment .item .img img { width:120px; height:90px; display:block; }
.icomment .item h3 { line-height:20px; margin-bottom:6px;  font-weight: bold; color:#000; }
.icomment .item h3 a{color:black; font-size:15px; }
.icomment .item h3 a:hover { text-decoration:underline; }
.icomment .item p { height:64px; line-height:1.5; overflow:hidden; }

.qa { float: right; 
  width: 350px;
}
.qa .tik {
    height: 40px;
  line-height: 40px;
  padding: 0 0 0 50px;
  background: url(../img/ico-head.png) left center no-repeat;
}
.qa .tik span {
  font-size: 18px;
  font-weight: bold;
  color: #1667cb;
  float: left;
}
.qa .tik span b {
  font-size: 14px;
  color: #898989;
  padding-left: 5px;
}
.qa .tik a {
	float: right;
  width: 73px;
  height: 26px;
  line-height: 26px;
  background: #f88a1e;
  color: #FFF;
  text-align: center;
  font-size: 12px;
}
.qa .tik a:hover {
  background:#f27800; 
}
.qa .comt{padding-top: 20px; }
.qa .comt ul li {
  padding: 8px 0px;
  border-top: 1px solid #e7e7e7;
}
.qa .comt ul li:first-child{border-top: none;}
.qa .comt ul li span {
  font-size: 14px;
  float: left;
  color: #fff;
  padding-left: 5px;
  width: 25px;
  height: 25px;
  line-height: 25px;
}
.qa .comt ul li .a1 {
  height: 40px;
}
.qa .comt ul li .a1 span {
  background: url(../img/qe.jpg) no-repeat 0px 3px;
}
.qa .comt ul li .a1 a {
  font-size: 16px;
  float: left;
  width: 230px;
  height: 40px;
  line-height: 40px;
  overflow: hidden;
  font-weight: bold;
}
.qa .comt ul li .a1 a:hover {
  text-decoration: underline;
}
.qa .comt ul li .a2 {
  margin-top: 5px;
  height: 36px;
  line-height: 18px;
}
.qa .comt ul li .a2 span {
  background: url(../img/an.jpg) no-repeat;
}
.qa .comt ul li .a2 p {
  float: left;
  color: #333;
  width: 230px;
  padding-left: 10px;
  line-height: 18px;
  height: 36px;
  overflow: hidden;
}
/*iabout*/
.iabout{margin: 0 auto;*padding-top:30px;}
.iaboutTitle{text-align: center;color:#1a1717; }
.iaboutTitle h1{ font-size:24px; height: 35px;line-height: 35px; }
.iaboutTitle h1 font{ font-size:24px; color:#1667cb;font-weight: bold; }
.iaboutTitle h2{ font-size:14px;  color:#bfbfbf; height: 30px; line-height: 30px;background: url(../img/index_about.jpg) no-repeat center; text-transform: uppercase;}

.iaboutBox{width:1040px;height: 350px; padding:0 30px;background:url(../img/iabout_bg2.png) no-repeat 32px top;   margin-top: 30px;}
.iaboutBox>img{float: left;width:402px; height:298px;border:1px solid #ccc;padding:4px; }
.iaboutContent{float: right;width: 556px; }
.iaboutContent h1{width: 100%;height:56px; line-height: 56px;font-size:20px;color:#1667cb;font-weight: bold; }
.iaboutContent h6{width: 100%;line-height:30px;font-size:14px;color:#575757; }
.iaboutContent>a{float: right;width: 83px;height:25px;line-height: 25px;font-size:16px;color:#575757; text-align: center; color: #fff; font-size:12px;
	background: url(../img/index_more.jpg) no-repeat center;
}
.iaboutContent>a:hover{text-decoration: underline;}
/*iMaxContact*/
.iMaxContact{width:100%; height: 396px ;background-color:#1667cb;}
.icontact{width: 960px;margin:0 auto; padding-top:45px; }
.icontact .icontBox{float: left; width:400px;height:351px; color:#fff; font-size:12px;font-weight: bold;}
.icontBox>h1{font-size:32px; height: 32px; line-height: 32px;background: url(../img/index_contact.jpg) no-repeat 215px 4px;}
.icontBox>h1 font{font-size:18px; padding-left:10px;}
.icontBox>h2{font-size:28px; color:#ff6d00;font-weight: bold;height:44px;line-height: 44px;}
.icontBox>h4{font-size:16px;  line-height: 2;}
/*ilinks*/
.ilinkBox{background:#f2f2f2;}
.ilink{margin:0 auto; padding:14px 0; height:56px;}
.ilink>h1{float: left;width: 92px;border-right:1px solid #ccc; height: 50px;line-height: 32px; font-size:30px; color: #1667cb; text-align: center;}
.ilink>h1 font{display: block; font-size:14px; font-weight: bold; line-height: 16px;}
.ilink .link_r{float: left; padding-left:10px;*padding-left:8px;  height: 50px;}
.ilink .link_r>a{  padding:0 10px;  height: 16px;line-height: 16px; font-size:12px; 
	border-left:1px solid #575757; color:#575757; margin: 6px 0;
}
.ilink .link_r>a:hover{color:#ff6d00}
.ilink .link_r>a:first-child{border-left:0}
/*footer*/
.footer{width:100%;background: #1667cb;color:#fff;}
.footer *{color:#fff;}
.footer .foot_box,.bottom{margin:0 auto;}
.foot_box .bt_nav{width:92%; margin:0 auto; height:46px;line-height: 46px; border-bottom: 1px dashed #7097d9; text-align: center;}
.foot_box .bt_nav a{display: inline-block; height:14px;line-height: 13px; font-size:14px; padding:0 20px; }
.foot_box .bt_nav a:hover{ color: #ff6d00 !important;}
.foot_box .bt_nav a.btNavTitle{border-left:1px solid #fff;}
.bottom{width:1000px; margin:0 auto; position: relative;padding: 20px 0;}
.bottom h4{height: 66px;   line-height: 81px;}
.bottom>p{line-height: 28px;}
.bottom>p a:hover,.bottom>p a:active{color:#ffcc00 !important;}
.bottom img{width: 100px; height: 100px; display: block; margin-bottom: 5px; }
.bottom .erwei{ position: absolute; top:20px; right:0; text-align: center; }
/*xuanfu*/
.xuanfu{width:139px; padding-bottom:74px; position: fixed;right:5px;top:200px;  z-index:25 }
.xuanfu *{color: #fff;text-align: center;}
.xuanfu>h1{width:100%;padding-top:35px;font-size: 12px;height: 49px; background: url(../img/xuanfu_top.png) no-repeat center top;}
.xuanfu>h1 p{padding-top:5px; padding-bottom:5px;  background: url(../img/xuanfu_bg2.png) no-repeat center bottom #1667cb;}
.xuanfu>h1 font{font-size: 14px;font-weight: bold;display: block;}
.xuanfu .xuanfu_qq{background-color: #1667cb;}
.xuanfu .xuanfu_qq a{display: block;padding-left:16px; height:50px;line-height: 50px; background: url(../img/qq_bg.png) no-repeat center top #fff;}
.xuanfu .xuanfu_qq a:hover{color:#ffcc00;}
.xuanfu .xuanfu_qq img{display: block;width:102px;height:102px;margin:0 auto; padding-top:10px; }
.xuanfu .xuanfu_qq p{font-weight: bold;height:24px;line-height: 24px;}
.xuanfu>span{position: absolute; display: block;width:100%;height:60px; bottom:14px;cursor: pointer;  background: url(../img/xuanfu_bt.png) no-repeat center bottom;}
.leftClose{position: absolute; width:18px; height:18px; left:50%; margin-left:-9px; top:-18px; background: url(../img/close.png) no-repeat center top;
	cursor:pointer; 
}
.active{position: absolute; width:31px; height:103px; left:122px;  top:100px; background: url(../img/zaixian.png) no-repeat center top; cursor:pointer; }
/*bin_end*/
.banner { width:100%; min-width:1100px; position:relative; overflow:hidden; z-index:2; }
.banner ul { width:100%; }
.banner li { width:100%; position:absolute; z-index:1; overflow:hidden; background:#fff; display:none; }
.banner li:first-child { display:block; }
.banner img { width:1920px; display:block; position:relative; left:50%; margin-left:-960px; top:0; }
.banner .tip { position:absolute; left:0; right:0; bottom:0; z-index:5; text-align:center; padding-top:12px; 
	height:28px;
}
.banner .tip span { display:inline-block; width:15px; height:15px; line-height:15px; background:url(../img/banner-tip.png) 0 0 no-repeat; margin:0 4px; cursor:pointer;  }
.banner .tip span.cur { background-position:0 -15px; }
.banner, .banner ul,.banner img { height:450px; }
.banner.mini, .banner.mini ul, .banner.mini img { height:300px; }
/*imessage*/
.imessage { float:right; width:546px;   padding:0 0 0 0; }
.imessage .main { width:340px; padding:0 20px 0 60px; height:275px;  }
.imessage .head { background:url(../img/form-tit.png) left center no-repeat; padding:0 0 0 55px; line-height:1.2; margin-bottom:15px;     margin-left: 59px; }
.imessage .head h2 { font-size:20px; color:#fff; font-weight:400; }
.imessage .head p { color:#fff; text-transform:uppercase; }
.imessage .recommend-form { }
.imessage .recommend-form .head .mo { position:absolute; right:10px; top:0; font-size:16px; color:#999; font-size:small; }
.imessage .recommend-form .head .mo:hover { color:#227dca; }
.imessage .recommend-form .main { width:auto; overflow:hidden; }
.imessage .recommend-form .main > * { float:left; width:100%; margin-bottom:15px; position:relative; }
.imessage .recommend-form .row-1 { width:186px; float: left; height:auto; padding:0 0 0 32px; border:1px solid #7C8280; }
.imessage .recommend-form .row-2 { width:464px; height:80px; padding:0 0 0 0; border:1px solid #7C8280; }
.imessage .recommend-form .row-3 { width:100%; height:auto; }
.imessage .recommend-form .ico-name { background:url(../img/message_man.jpg) left center no-repeat; margin-right:25px;}
.imessage .recommend-form .ico-phone { background:url(../img/message_tel.jpg) left center no-repeat; }
.imessage .recommend-form .ico-email { background:url(../img/message_mail.jpg) left center no-repeat; margin-right:25px;}
.imessage .recommend-form .ico-map { background:url(../img/message_map.jpg) left center no-repeat; }
.imessage .recommend-form .required .tip { position:absolute; right:0; top:0; height:31px; line-height:31px; padding:0 10px; font-style:normal; color:#F00; }
.imessage .recommend-form .txt {float: left; text-indent: 5px; width:100%; height:31px; line-height:31px; background:#fff; border:0; color:#999; }
.imessage .recommend-form .text { width:454px; border:0; background:#FFF; padding:5px 5px; line-height:20px; height:70px; color:#999; }
.imessage .recommend-form img.code { float:left; width:110px; height:42px; margin-left:10px; }
.imessage .recommend-form input.code { float:left; width:178px; height:40px; line-height:40px; border:1px solid #ddd; background:#FFF; padding:0 10px; color:#999; }
.imessage .recommend-form .submit{ float:right;  width: 180px; height: 36px; border:0; cursor:pointer; color:#FFF; 
  font-size:16px;  background:#FF6D00; font-weight: bold; font-size:16px; 
}
.imessage .recommend-form .submit:hover { background-color: #F8D511;}
/******************************
 ** 内页架构
 ******************************/
.sidebar { float:left; width:230px;min-height: 600px; overflow:hidden;}

.side-menu { background:#1651cc;margin-bottom:20px;  border-radius: 6px;min-height: 600px;}
.topclass { color:#FFF; line-height:24px; text-align:center; padding:10px 0 0;  background: url(../images/index_probg1.png) no-repeat center top;
	height:56px; 
}
.index_proad_two{width:230px;height:75px;line-height:27px;padding-top:21px;color:#fff;font-size:18px;text-align:center; 
	background: url(../img/index_probg2.png) no-repeat center bottom; background-size:100% 100%;
}
.topclass h2 { font-size:18px; }
.topclass p { font-size:18px; text-transform:uppercase; }
.side-menu .list { margin:0 15px; background:#FFF; border-radius:5px; }
.side-menu .list dd { margin:0 8px; border-top:1px dashed #ddd; }
.side-menu .list dd:first-child { border-top:0; }
.side-menu .list dd > a { display:block; height:40px; line-height:40px; padding:0 5px; font-weight:700; }
.side-menu .list dd a.side-menuselect {
    color: #FF6D00;
}
.side-menu .list dd a:hover { color:#ff6d00; }
.current>a{ color:#ff6d00; }
.side-menu .list .drop { display:none; }
.side-menu .list .drop li { position:relative; top:-6px; }
.side-menu .list .drop a { display:block; padding:0 0 0 15px; height:24px; line-height:24px; }

.side-pro { margin-bottom:20px; background:#FFF; border:4px solid #1667cb; }
.side-pro .head {  }
.side-pro .head h2 { height:50px; line-height:50px; text-align:center; font-size:18px; }
.side-pro .list { margin:0 11px; padding:0 0 20px; }
.side-pro .item { text-align:center; }
.side-pro .item img { display:block; width:199px; height:149px; border:1px solid #ddd; }
.side-pro .item h3 { font-weight:400; height:40px; line-height:40px; }
.side-pro .item:hover img { border-color:#1667cb; }

.side-con { margin-bottom:20px; background:#FFF; border:4px solid #1667cb; padding:0 0 25px; }
.side-con .head {  }
.side-con .head h2 { height:50px; line-height:50px; text-align:center; font-size:18px; }
.side-con .main { margin:0 10px; }
.side-con .tel { padding:0 0 0 40px; background:url(../img/side-tel.png) left center no-repeat; line-height:1.2; margin-bottom:15px; }
.side-con .tel h2 { font-weight:400; }
.side-con .tel p { font-size:20px; color:#1667CB; font-weight:700; }
.side-con .inf { line-height:25px; font-size:13px;}

.location {  }
.location .wrap { height:50px; line-height:50px; border-bottom:1px solid #ddd; position:relative; margin-bottom:30px; }
.location h2 { font-size:16px; }
.location p { position:absolute; right:0; top:0; height:50px; font-weight:400; background:url(../img/location-tp.png) 5px center no-repeat; padding:0 0 0 30px; }
.location p a { margin:0 5px; }
.location p a:hover { font-weight:700; }

.container { float:right; width:844px; }
.content { margin-bottom:20px; }


/******************************
 ** 内页页面通用
 ******************************/
.list-product { width:100%; }
.list-product .list { float:left; width:103%; }
.list-product .item { float:left; width:auto; margin:0 16px 20px 0; text-align:center; }
.list-product .item img { width:268px; height:203px; border:1px solid #ddd; }
.list-product .item h3 { height:30px; line-height:30px; font-weight:400; width: 268px;overflow: hidden;}
.list-product .item:hover img { border-color:#1667cb; }

/* 图文(4:3) */
.list-case { }
.list-case .list { position:relative; top:-20px; }
.list-case .item { padding:20px 0 20px 160px; height:110px; border-bottom:1px dashed #ddd; position:relative; }
.list-case .item .img { position:absolute; left:0; top:20px; background:#f1f1f1; border:1px solid #e3e3e3; }
.list-case .item .img img { display:block; width:144px; height:108px; }
.list-case .item .date { position:absolute; right:0; top:20px; color:#999; line-height:30px; }
.list-case .item h3 { font-size:15px; line-height:24px; margin-bottom:10px; }
.list-case .item h3 a:hover { text-decoration:underline; }
.list-case .item p { height:72px; line-height:24px; color:#666; overflow:hidden; }

/* 图文(3:4) */
.list-case2 { }
.list-case2 .list { position:relative; top:-20px; }
.list-case2 .item { padding:20px 0 20px 160px; height:192px; border-bottom:1px dashed #ddd; position:relative; }
.list-case2 .item .img { position:absolute; left:0; top:20px; background:#f1f1f1; border:1px solid #e3e3e3; }
.list-case2 .item .img img { display:block; width:144px; height:192px; }
.list-case2 .item .date { position:absolute; right:0; top:20px; color:#999; line-height:30px; }
.list-case2 .item h3 { font-size:15px; line-height:24px; margin-bottom:10px; }
.list-case2 .item h3 a:hover { text-decoration:underline; }
.list-case2 .item p { height:72px; line-height:24px; color:#666; overflow:hidden; }

/* 图片相册 */
.list-photo { width:100%; }
.list-photo .list { float:left; width:102%; margin-bottom:10px; }
.list-photo .item { float:left; width:182px; padding:10px 10px 0; border:1px solid #ddd; background:#fff; margin:0 10px 10px 0; cursor:pointer; }
.list-photo .item img { width:100%; height:137px; overflow:hidden; background:#f1f1f1; }
.list-photo .item h3 { height:40px; line-height:40px; text-align:center; font-weight:400; }
.list-photo .item:hover { border-color:#aaa; }

/* 附属简介 */
.list-news { }
.list-news .list { position:relative; top:-20px; }
.list-news .item { padding:20px 0 20px 0px; height:70px; border-bottom:1px dashed #ddd; position:relative; }
.list-news .item .date { position:absolute; right:0; top:20px; color:#999; line-height:20px; }
.list-news .item h3 { font-size:15px; line-height:20px; margin-bottom:8px; }
.list-news .item h3 a { }
.list-news .item h3 a:hover { text-decoration:underline; }
.list-news .item p { height:40px; line-height:20px; color:#666; overflow:hidden; }

/* 新闻详情页 */
.news-content { }
.news-content h1 { padding:0 0 20px; font-size:24px; line-height:1.4; text-align:center; border-bottom:1px dashed #ddd; }
.news-content .rap { height:50px; line-height:50px; margin-bottom:10px; text-align:center; color:#999; }
.news-content .rap > * { margin:0 20px 0 0; display:inline; }
.news-content .rap b { font-weight:400; }

/* 案例详情页 */
.case-content { }
.case-photo { width:100%; text-align:center; }
.case-photo img { max-width:100%; }
.case-content h1 { padding:10px 0 20px; font-size:20px; line-height:1.4; text-align:center; }

/* 产品详情页 */
.index_prolist_box2 li a.proselect {
    display: block;
    background: url(../img/pro_list_bg.gif) no-repeat left -26px;
    *background: url(../img/pro_list_bg.gif) no-repeat left -27px;
    color: #1667cb;
}
.product-content { }
.product-photo { float:left; width:440px; }
.product-photo .original { width:440px; height:330px; overflow:hidden; margin-bottom:10px; }
.product-photo .original img { display:block; width:100%; height:330px; }
.product-photo .prev, .product-photo .next { float:left; width:17px; height:69px; background:url(../img/photo-pn.png) 0 0 no-repeat; cursor:pointer; }
.product-photo .next { float:right; background-position:-19px 0; }
.product-photo .prev:hover { background-position:0 -70px; }
.product-photo .next:hover { background-position:-19px -70px; }
.product-photo .nodrop { cursor:no-drop; }
.product-photo .prev.nodrop:hover { background-position:0 0; }
.product-photo .next.nodrop:hover { background-position:-19px 0; }
.product-photo .thum { float:left; width:395px; height:69px; margin:0 0 0 5px; overflow:hidden; position:relative; }
.product-photo .thum dl { float:left; width:300%; height:69px; position:relative; }
.product-photo .thum dd { float:left; width:87px; height:65px; border:2px solid #fff; margin:0 10px 0 0; cursor:pointer; background:#f1f1f1; }
.product-photo .thum img { width:100%; height:65px; display:block; }
.product-photo .thum dd.current { border-color:#aaa; }
.product-info { margin:0 0 0 460px; position:relative; height:410px; }
.product-info h1 { font-size:20px; line-height:1.2; margin-bottom:20px; }
.product-info .order { float:left; margin:3px 0; }
.product-info .order a { display:block; width:120px; height:30px; line-height:30px; color:#FFF; font-size:14px; background:#1667cb; text-align:center; border-radius:5px; }
.product-info .order a:hover { background:#ff6d00; }
.product-info .bdshare { float:right; +margin-right:10px; }
.product-info .bdshare .head { display:none; }
.product-info .des { float:left; padding:15px 0; width:100%; height:200px; line-height:25px; margin-bottom:40px; overflow:hidden; }
.product-info .tel { width:auto; height:auto; background:url(../img/ico-tel2.png) left top no-repeat; padding:0 0 0 60px; line-height:1.1; position:absolute; left:0; bottom:10px; }
.product-info .tel dt { font-size:16px; font-weight:700; }
.product-info .tel dd { font-size:30px; color:#ff6d00; font-weight:700; }
.article-container { border-top:1px dashed #ddd; margin:20px 0 0; }
.article-container .article { padding-bottom:10px; }
.article-head { height:40px; border-bottom:1px solid #ddd; padding-top:20px; margin-bottom:15px; }
.article-head h2 { line-height:38px; font-size:16px; color:#1667cb; border-bottom:3px solid #1667cb; width:90px; padding:0 0 0 10px;  }

/* 产品详情页 */
.original2 { width:100%; height:auto; overflow:hidden; margin-bottom:10px; }
.original2 img { display:block; max-width:100%; height:auto; margin:0 auto; }
.product-info2 { position:relative; padding:10px 300px 10px 0; min-height:35px; }
.product-info2 h1 { font-size:20px; }
.product-info2 .tel { width:220px; height:; background:url(../img/ico-tel2.png) left top no-repeat; padding:0 0 0 60px; line-height:1.1; position:absolute; right:0; top:10px; }
.product-info2 .tel dt { font-size:16px; font-weight:700; }
.product-info2 .tel dd { font-size:28px; color:#ff6d00; font-weight:700; }
/*地图*/
.maplist{padding-top:10px; overflow:hidden; }
.maplist li{width:100%;  margin-bottom: 10px;}
.maplist li a {background: #eee;  width: 98%;  height: 30px;  line-height: 30px;  display: block; padding-left: 2%;  font-weight: bold; color:#000; }
.maplist li .box {  width: 100%;  height: auto; margin-top:10px; }
.maplist li .box a { height: 26px;  line-height: 26px;  width: 157px; display:inline-block;  text-align: center;  margin:0 4px; padding:0px; border:0px; font-weight: normal;}
.maplist li .box a:hover,.maplist li a:hover{  background: #1667cb; color: #fff;}

/******************************
 ** 组件类
 ******************************/

.pager { width:auto; height:30px; padding:10px 5px 10px 0; border:1px solid #ddd; margin-bottom:20px; text-align:right; position:relative; background:#fff; }
.pager > * { display:inline-block; height:28px; line-height:28px; padding:0 10px; border:1px solid #ddd; background:#FFF; margin:0 4px; }
.pager > *:first-child { position:absolute; left:10px; }
.pager > span { cursor:no-drop; }
.pager > span.cur { cursor:default; background:#1667cb; border-color:#1667cb; color:#fff; font-weight:700; }
.pager > a:hover { background:#f1f1f1; }

.relink { padding:0 20px; height:40px; line-height:40px; border:1px solid #ddd; margin-bottom:20px; background:#fff; }
.relink p { float:right; width:50%; text-align:right; overflow:hidden; height: 30px;}
.relink p:first-child { float:left; text-align:left; }

.recommend-news { border:1px solid #ddd; margin-bottom:20px; background:#FFF; }
.recommend-news .head { height:38px; line-height:38px; position:relative; border-bottom:1px solid #ddd; background:url(../images/rmd-head2.png) left bottom repeat-x; }
.recommend-news .head h2 { font-size:16px; color:#1667cb; padding:0 0 0 20px; 
  background:url(../img/keywords.png) no-repeat left;
}
.recommend-news .head .mo { position:absolute; right:10px; top:0; font-size:16px; color:#999; font-size:small; }
.recommend-news .head .mo:hover { color:#be1020; }
.recommend-news .main { width:autp; overflow:hidden; padding:20px 0; }
.recommend-news .list { float:left; width:100%; }
.recommend-news .item { float:left; width:390px; height:30px; line-height:30px; position:relative; margin:0 10px 0 15px; }
.recommend-news .item a { background:url(../img/rmd-news-tp.png) left center no-repeat; padding:0 0 0 12px; }
.recommend-news .item a:hover { text-decoration:underline; }
.recommend-news .item span { position:absolute; right:0; top:0; color:#999; }

.recommend-pro { border:1px solid #ddd; margin-bottom:20px; background:#FFF; }
.recommend-pro .head { height:38px; line-height:38px; position:relative; border-bottom:1px solid #ddd; background:url(../img/rmd-head2.png) left bottom repeat-x; }
.recommend-pro .head h2 { font-size:16px; color#1667cb;  padding:0 0 0 20px; background:url(../img/keywords.png) left center no-repeat; }
.recommend-pro .head .mo { position:absolute; right:10px; top:0; font-size:16px; color:#999; font-size:small; }
.recommend-pro .head .mo:hover { color:#ff6d00; }
.recommend-pro .main { width:100%; overflow:hidden; padding:20px 0 10px; }
.recommend-pro .list { float:left; width:100%; }
.recommend-pro .item { float:left; width:auto; margin:0 0 0 20px; }
.recommend-pro .item img { display:block; width:183px; height:; border:1px solid #ddd; background:#f1f1f1; }
.recommend-pro .item h3 { line-height:40px; text-align:center; font-weight:400; }
.recommend-pro .item:hover img { border-color:#1667cb; }

.recommend-form2 { border:1px solid #ddd; margin-bottom:20px; background:#FFF; }
.recommend-form2 .head { height:38px; line-height:38px; position:relative; border-bottom:1px solid #ddd; background:url(../img/rmd-head2.png) left bottom repeat-x; }
.recommend-form2 .head h2 { font-size:16px; color:#1667cb; padding:0 0 0 20px; background:url(../img/keywords.png) left center no-repeat; }
.recommend-form2 .head .mo { position:absolute; right:10px; top:0; font-size:16px; color:#999; font-size:small; }
.recommend-form2 .head .mo:hover { color:#227dca; }
.recommend-form2 .main { width:auto; overflow:hidden; padding:40px 20px 20px; }
.recommend-form2 .main > * { float:left; width:100%; clear:both; margin-bottom:15px; position:relative; }
.recommend-form2 .row-1 { width:350px; height:auto; padding:0 0 0 50px; border:1px solid #ddd; }
.recommend-form2 .row-2 { width:690px; height:auto; padding:0 0 0 0; border:1px solid #ddd; }
.recommend-form2 .row-3 { width:100%; height:auto; }
.recommend-form2 .ico-name { background:url(../img/form-name2.png) 15px center no-repeat; }
.recommend-form2 .ico-phone { background:url(../img/form-phone2.png) 15px center no-repeat; }
.recommend-form2 .ico-email { background:url(../img/form-email2.png) 15px center no-repeat; }
.recommend-form2 .required .tip { position:absolute; right:0; top:0; height:40px; line-height:40px; padding:0 10px; font-style:normal; color:#F00; }
.recommend-form2 .txt { width:100%; height:40px; line-height:40px; background:#fff; border:0; color:#999; }
.recommend-form2 .text { width:680px; border:0; background:#FFF; padding:5px 5px; line-height:20px; height:100px; color:#999; }
.recommend-form2 img.code { float:left; width:110px; height:42px; margin-left:10px; }
.recommend-form2 input.code { float:left; width:178px; height:40px; line-height:40px; border:1px solid #ddd; background:#FFF; padding:0 10px; color:#999; }
.recommend-form2 .submit, .recommend-form2 .reset { float:left; width:200px; height:42px; border:0; cursor:pointer; color:#FFF; font-size:16px; }
.recommend-form2 .submit { background:#1667cb; }
.recommend-form2 .reset { background:#999; margin:0 0 0 10px; }
.recommend-form2 .submit:hover { background:#ff6d00; }
.recommend-form2 .reset:hover { background:#777; }
.recommend-form2 .onfocus, .recommend-form2 .onfocus input.code { border-color:#aaa; }

.bdmap { height:400px; }
.BMap_bubble_title a { display:inline-block; padding:4px 10px; background:#666; color:#fff; border-radius:3px; }
.BMap_bubble_title a:hover { background:#ff6600; }
.BMap_bubble_title + .BMap_bubble_content { line-height:18px; padding:9px 0 0; color:#777; }
/*iindex*/
.iMapBox{ height:360px; }

.bdshare { width:auto; height:36px; }
.bdshare > * { float:right; }
.bdshare .head { height:36px; line-height:36px; }

.article { line-height:2; padding-bottom:20px; font-family:"Microsoft YaHei" !important; }
.article img { max-width:100%;width: 100%; }

.article-adv { height:100px; background:#fff; margin-bottom:20px; }
.article-adv .tel { float:left; margin:30px 0 0 0; height:40px; line-height:40px; }
.article-adv .tel dt { float:left; font-size:16px; font-weight:700; }
.article-adv .tel dd { float:left; font-family:Arial; font-size:32px; color:#f88a1e; font-weight:700; }
.article-adv .qiao { float:right; width:140px; height:40px; line-height:40px; margin:30px 0 0 0; text-align:center; font-size:16px; font-weight:700; background:#f9962b; color:#fff; border-radius:5px; }
.article-adv .qiao:hover { background:#f87b00; }

.ajax-pager { text-align:right; padding:10px 0; }
.ajax-pager > * { display:inline-block; height:32px; line-height:32px; padding:0 20px; border:1px solid #ddd; margin-left:-6px; background:#FFF;  }
.ajax-pager span { cursor:no-drop; }
.ajax-pager span.current { cursor:default; }
.ajax-pager a:hover { background:#f1f1f1; }

.ig-form-notice { position:absolute; z-index:101; width:auto; padding:5px 20px; border:1px solid #e0272c; background:#ffe8e9; border-radius:3px; box-shadow:1px 1px 5px rgba(0,0,0,0.2); color:#e0272c; }
.ig-form-notice:before, .ig-form-notice:after { content:''; position:absolute; left:20px; top:-20px; width:0; height:0; border:10px solid transparent; border-bottom-color:#e0272c; }
.ig-form-notice:after { top:-19px; border-bottom-color:#ffe8e9; }

[ig-null] { margin-bottom:0px;  }

.dialog-alert { width:440px; height:auto; position:fixed; left:50%; top:50%; margin:-150px 0 0 -220px; z-index:100; background:#FFF; background:-webkit-linear-gradient(top, #f1f1f1 0%, #FFF 10%, #FFF 100%); display:none; }
.dialog-alert .head { height:40px; line-height:40px; position:relative; margin-bottom:10px; }
.dialog-alert .head h2 { font-size:16px; padding:0 0 0 15px; }
.dialog-alert .head .close { width:40px; height:40px; background:url(../img/ico-close.png) center center no-repeat; position:absolute; right:0; top:0; }
.dialog-alert .head .close:hover { -webkit-transform:rotate(90deg); transform:rotate(90deg); }
.dialog-alert .main { padding:0 20px 20px 20px; font-size:14px; }
.dialog-alert .main .red { color:#F00; }
.dialog-alert .foot { height:34px; text-align:center; border-top:1px solid #fff; padding:10px 0 20px; }
.dialog-alert .foot a { display:inline-block; vertical-align:middle; height:34px; line-height:34px; padding:0 25px; background:#ddd; margin:0 10px; font-size:14px; border-radius:3px;}
.dialog-alert .foot .ok { background:#d93636; color:#fff; }
.dialog-alert .foot .ok:hover { background:#a40606; }
.dialog-alert .foot .cancel { background:#bbb; color:#333; }
.dialog-alert .foot .cancel:hover { background:#999; }

.dialog-confirm { width:440px; height:auto; position:fixed; left:50%; top:50%; margin:-150px 0 0 -220px; z-index:100; background:#FFF; background:-webkit-linear-gradient(top, #f1f1f1 0%, #FFF 10%, #FFF 100%); display:none; }
.dialog-confirm .head { height:40px; line-height:40px; position:relative; margin-bottom:10px; }
.dialog-confirm .head h2 { font-size:16px; padding:0 0 0 15px; }
.dialog-confirm .head .close { width:40px; height:40px; background:url(../img/ico-close.png) center center no-repeat; position:absolute; right:0; top:0; }
.dialog-confirm .head .close:hover { -webkit-transform:rotate(90deg); transform:rotate(90deg); }
.dialog-confirm .main { padding:0 20px 20px 20px; font-size:14px; }
.dialog-confirm .main .red { color:#F00; }
.dialog-confirm .foot { height:34px; text-align:center; border-top:1px solid #fff; padding:10px 0 20px; }
.dialog-confirm .foot a { display:inline-block; vertical-align:middle; height:34px; line-height:34px; padding:0 25px; background:#ddd; margin:0 10px; font-size:14px; border-radius:3px;}
.dialog-confirm .foot .ok { background:#d93636; color:#fff; }
.dialog-confirm .foot .ok:hover { background:#a40606; }
.dialog-confirm .foot .cancel { background:#bbb; color:#333; }
.dialog-confirm .foot .cancel:hover { background:#999; }

.dialog-log { position:absolute; z-index:99; width:auto; padding:10px 20px; border:1px solid #e0272c; background:#ffe8e9; border-radius:3px; box-shadow:1px 1px 5px rgba(0,0,0,0.2); color:#e0272c; }
.dialog-log i { position:absolute; left:15px; top:-7px; width:14px; height:7px; background:url(../img/log-arrow.png) center center no-repeat; }

.dialog-layout { position:fixed; left:0; top:0; width:100%; height:100%; filter:Alpha(opacity=50); background:#000; background:rgba(0,0,0,.5); z-index:99; }

.dialog-album { position:fixed; _position:absolute; width:100%; height:100%; left:0; top:0; z-index:100; display:none; }
.dialog-album .layout { position:absolute; left:0; top:0; width:100%; height:100%; background:rgba(0,0,0,0.9) !important; filter:Alpha(opacity=90); background:#000; z-index:-1; }
.dialog-album .container { position:absolute; left:0; top:0; width:100%; height:100%; z-index:2; overflow:hidden; }
.dialog-album .container ul { float:left; width:1000%; height:100%; position:relative; }
.dialog-album .container li { float:left; width:10%; height:100%; position:relative; }
.dialog-album .container .img { width:100%; height:100%;  }
.dialog-album .container .img img { max-height:100%; max-width:80%; width:800px; height:600px; }
.dialog-album .tool .close { position:absolute; width:65px; height:35px; top:0; right:0; background:url(../img/ico-album.png) 0 -105px no-repeat; z-index:10; overflow:hidden; text-indent:-99em; opacity:0.6 !important; filter:Alpha(opacity=60); }
.dialog-album .tool .close:hover { opacity:0.9 !important; filter:Alpha(opacity=90); }
.dialog-album .tool .right, .dialog-album .tool .left { position:absolute; width:30px; height:30px; top:50%; margin-top:-10px; z-index:10; text-indent:-99em; overflow:hidden; background:url(../images/ico-album.png) -35px 0 no-repeat; }
.dialog-album .tool .right { left:20px; background-position:-35px -35px; }
.dialog-album .tool .left { right:20px; }
.dialog-album .tool .right:hover { background-position:0 -35px; }
.dialog-album .tool .left:hover { background-position:0 0; }
.dialog-album .tool .play, .dialog-album .tool .plus { position:absolute; width:30px; height:30px; right:20px; bottom:20px; background:#CCC; z-index:10; overflow:hidden; background:url(../images/ico-album.png) 0 -70px no-repeat; overflow:hidden; text-indent:-99em; }
.dialog-album .tool .play { background-position:-35px -70px; }
.dialog-album .tip { position:absolute; width:50%; height:15px; left:25%; bottom:20px; z-index:10; text-align:center; }
.dialog-album .tip span { display:inline-block; width:12px; height:12px; border:1px solid #aaa; border-radius:13px; background:#FFF; margin:0 5px; vertical-align:middle; cursor:pointer; }
.dialog-album .tip span.cur { background:#666; }

.lee_tqq { background:url(../img/ico-share-24.png) 0 0 no-repeat !important; }
.lee_qzone { background:url(../img/ico-share-24.png) 0 -30px no-repeat !important; }
.lee_sqq { background:url(../img/ico-share-24.png) 0 -60px no-repeat !important; }
.lee_tsina { background:url(../img/ico-share-24.png) 0 -90px no-repeat !important; }

/*分享按钮*/
.bdshare-slide-style-l5 .bdshare-slide-button{background:url(../img/fenxiang.png) 0 0 no-repeat !important; }
/******************************
 ** 高级动画
 ******************************/


/******************************
 ** 自定义字体
 ******************************/
@font-face{
	font-family: "ssi";
	src: url("../font/ssi.eot");
	src: url("../font/ssi.eot?#iefix") format("eot"),
		 url("../font/ssi.ttf") format("truetype");
}


/******************************
 ** 兼容性
 ******************************/
body { _background:url(../img/ie6.png) center center no-repeat #fff; }
body > * { _display:none; }
.mCSB_scrollTools .mCSB_draggerRail { +height:350px; }
.mCSB_scrollTools .mCSB_dragger { +right:0; }
.mCSB_scrollTools .mCSB_draggerContainer { height:100%; background:url(../img/mcsb-bg.png) center center repeat-y; }

.iproduct{
    padding-top: 20px;
    width:100%;
    height:50%;
    margin: 0 auto;
}
.unit{
    border:1px solid #ddd;
    background:#f8f8f8;
    position:relative;
}
.iproduct .tid,.iproduct .tod{
    width:100%;
}
.unit .tid{
    margin:0 auto 15px;
    height:40px;
    line-height:40px;
    border-bottom:1px solid #ddd;
}
.unit .tod{
    margin:0 auto;
    overflow:hidden;
}
.iproduct ul{
    float:left;
    width:300%;
    height: 180px;
    overflow: hidden;
}
.iproduct li{
    float:left;
    width:148px;
    margin-bottom:15px;
}
.iproduct ul a{
    display:block;
    width:130px;
}
.iproduct ul img{
    display:block;
    width:100%;
    height:150px;
    margin-bottom:5px;
    border:1px solid #ddd;
}
.iproduct ul .t{
    display:block;
    height:20px;
    line-height:20px;
    text-align:center;
}