.form{
	border-bottom: 5px solid #ededf0;
	.form_list{
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 17px;
		color: #737373;
		margin: 12px;
		margin-bottom: 0px;
		padding-bottom: 12px;
		border-bottom: 1px solid #ededf0;
		.list_right{
			display: flex;
			align-items: center;
			justify-content: space-around;
			.list_img{
				width: 60px;
				height: 60px;
				>image{
					border-radius: 12px;
					width: 100%;
					height: 100%;
					display: block;
				}
			}
			.list_car_img{
				width: 40px;
				height: 40px;
			}
			.list_right_title{
				font-size: 17px;
				color: #484848;
			}
			.list_icon{
				width: 18px;
				height: 18px;
				>image{
					width: 100%;
					height: 100%;
					display: block;
				}
			}
		}
	}
	.form_list:last-child{
		border: none;
	}
}

.form_active{
	border: none;
}

.pop_up_layer{
	position: fixed;
	top: 0;
	background: rgba(0, 0, 0, .5);
	display: flex;
	align-items: center;
	justify-content: center;
	.input_box{
		width: 80%;
		height: 300px;
		background: #ffffff;
		border-radius: 12px;
		position: relative;
		border: 1px solid #ededf0;
		.submit_title{
			padding: 12px;
			font-size: 20px;
			font-weight: 600;
			color: #484848;
			text-align: center;
		}
		.select_img{
			.img_text{
				width: 150px;
				height: 150px;
				background: #cccccc;
				font-size: 40px;
				margin: 0 auto;
				border-radius: 12px;
				margin-top: 15px;
				color: #ffffff;
				line-height: 150px;
				text-align: center;
				>image{
					display: block;
					width: 100%;
					height: 100%;
					border-radius: 12px;
				}
			}
		}
		.submit_input{
			padding: 12px;
			>input{
				background: #ededf0;
				height: 40px;
				border-radius: 8px;
				padding-left: 8px;
			}
		}
		.submit_btn{
			display: flex;
			position: absolute;
			bottom: 0;
			width: 100%;
			border-top: 1px solid #ededf0;
			>button{
				flex: 5;
				background: #ffffff;
				border-radius: 0px;
				border: none;
				border-radius: 0px 0px 12px 12px;
				font-size: 16px;
				color: #73C2FF;
			}
			>button:first-child{
				border-right: 1px solid #ededf0;
				color: #838383;
			}
			>button::after{
				border: none;
				border-radius: 0px;
			}
		}
	}
}

.certification_active{
	color: #00C6FF !important;
}

.radio-group{
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 12px;
}