<div class="exercise">
    <div class="weui-flex exercise-header">
        <div class="weui-flex__item" style="height:70px;">
            <div>
                <div class="weui-flex" style="padding-left:5px;">
                    <div class="align-items" style="height:70px; line-height:70px;">
                        <img style="width:40px;height:40px; border-radius: 20px;" src="https://wx.qlogo.cn/mmopen/vi_32/HaCF3ibPDndO9BQbuYiaMZzst6svJ0icDjMoSHUvTia28nvhvmdCney0qGVoUCWcHeViaRBlcoFURC7OeGPsTpiaMu6w/0">
                    </div>
                    <div class="weui-flex__item">
                        <div class="placeholder_no">
                            <div class="weui-flex align-items" style="height:35px;">
                                <div class="weui-flex__item" style="font-size:0.75rem;padding-left:10px; color:#f0ad4e">斧头</div>
                            </div>
                            <div class="weui-flex align-items" style="height:35px;">
                                <div class="weui-flex__item" style="font-size:0.75rem;padding-left:10px;">班长</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="height:70px;">
            <div class="placeholder">
                <img src="./imgs/gardenia/grade.png">
            </div>
        </div>
        <div class="weui-flex__item" style="height:70px;">
            <div>
                <div class="weui-flex align-items" style="height:35px;">
                    <div class="weui-flex__item align-items" style="font-size:0.75rem;color:#f0ad4e; padding-left:5px;">积份：100</div>
                </div>
                <div class="weui-flex" style="height:35px;align-items: center">
                    <div class="weui-flex__item align-items" style="font-size:0.75rem; color:#fff; padding-left:5px;"> 3班</div>
                </div>
            </div>
        </div>
    </div>
</div>