.body{
	padding: 15px;
	.header{
		font-size: 25px;
		font-weight: 600;
		color: #484848;
	}
	.from{
		padding-top: 10px;
		.input{
			padding: 15px 0;
			border-bottom: 1px solid #e1e1e1;
			padding-bottom: 10px;
		}
	}
}

.foot_btn{
	position: absolute;
	bottom: 0;
	width: 100%;
	>button{
		margin: 15px;
		background: #484848;
		color: #ffffff;
		font-size: 16px;
		border-radius: 10px;
	}
	>button:active{
		background: #1B1B1B;
	}
}

button::after{
	border: none;
}

.button_show{
	background: #484848;
}
