.mine_group{
	.mine_title{
		font-size: 25px;
		font-weight: 600;
		color: #484848;
		padding: 15px;
		padding-bottom: 0px;
	}
	.mine_list{
		margin-top: 10px;
		.mine_group_li{
			display: inline-block;
			/*margin-right: 15px;*/
			padding: 15px;
			padding-top: 0px;
			.mine_group_img{
				width: 70px;
				height: 70px;
				background: #DADDE2;
				color: #ffffff;
				text-align: center;
				line-height: 70px;
				font-size: 15px;
				border-radius: 10px;
				margin: 0 auto;
			}
			.mine_group_name{
				text-align: center;
				font-size: 13px;
				color: #484848;
				margin-top: 10px;
			}

			.mine_group_number{
				text-align: center;
				font-size: 10px;
				color: #737373;
			}
		}
		.mine_group_li:last-child{
			margin-right: 0;
		}
	}
}

.nearby_group{
	padding: 15px;
	.nearby_group_title{
		font-size: 20px;
		color: #484848;
		font-weight: 600;
	}
	.loading{
		width: 100%;
		top: calc(50% - 130px);
		.loading_img{
			width: 80%;
			height: 260px;
			margin: 0 auto;
			>image{
				width: 100%;
				height: 100%;
				display: block;
				margin-top: 30px;
			}
		}
	}
	.nearby_group_list{
		padding-top: 10px;
		.nearby_li{
			display: flex;
			align-items: center;
			justify-content: space-between;
			border-bottom: 1px solid #e1e1e1;
			padding: 15px 0;
			.nearby_li_left{
				display: flex;
				align-items: center;
				.nearby_img{
					width: 70px;
					height: 70px;
					border-radius: 10px;
					text-align: center;
					line-height: 70px;
					font-size: 14px;
					color: #ffffff;
					background: #DADDE2;
					margin-right: 5px;
				}
				.nearby_text{
					>view:first-child{
						font-size: 17px;
						color: #484848;
					}
					.nearby_code{
						display: flex;
						align-items: center;
						>view:nth-of-type(1), >view:nth-of-type(2){
							font-size: 10px;
							color: #ffffff;
							border-radius: 15px;
							margin-right: 8px;
							background: #73C2FF;
							padding: 0 8px;
						}
						>view:nth-of-type(3){
							font-size: 10px;
							color: #737373;
						}
					}
				}
			}
			.nearby_li_right{
				border: 1px solid #DADDE2;
				border-radius: 8px;
				width: 70px;
				height: 28px;
				display: flex;
				justify-content: center;
				align-items: center;
				.pass_img{
					width: 14px;
					height: 14px;
					margin-right: 5px;
					>image{
						width: 100%;
						height: 100%;
						display: block;
					}
				}
				.pass_text{
					font-size: 13px;
					color: #484848;
				}
			}
		}
		.nearby_li:first-child{
			padding-top: 0px;
		}
	}
}

.creat_group{
	position: absolute;
	top: 20px;
	right: 15px;
	border-radius: 8px;
	border: 1px solid #e1e1e1;
	width: 70px;
	height: 28px;
	text-align: center;
	line-height: 28px;
	font-size: 13px;
	font-weight: #484848;
}
