.header{
	padding: 15px;
	padding-bottom: 0px;
	font-size: 25px;
	color: #484848;
	font-weight: 600;
}

.input{
	padding: 15px;
	>input{
		padding-bottom: 10px;
		border-bottom: 1px solid #e1e1e1;
	}
}

.foot_btn{
	position: absolute;
	bottom: 0;
	width: 100%;
	>button{
		margin: 15px;
		background: #DDDDDD;
		color: #ffffff;
		font-size: 16px;
		border-radius: 10px;
	}
	>button:active{
		background: #1B1B1B;
	}
}

button::after{
	border: none;
}

.button_show{
	background: #484848;
}
