{
  "presets": [
    ["env", {
      "targets": {
        "browser": ["last 2 versions", "safari >= 7"]
      }
    }]
  ],
  "plugins": [
    ["transform-runtime", {
      "helpers": false,
      "polyfill": false,
      "regenerator": true,
      "moduleName": "babel-runtime"
    }],
    "transform-es2015-modules-commonjs",
    "transform-class-properties",
    "transform-async-to-generator",
    "transform-regenerator",
    "syntax-dynamic-import"
  ],
  "env": {
    "production": {
      "presets": ["minify"],
      "plugins": [
        ["transform-remove-console", {"exclude": ["warn", "error"]}],
        "transform-remove-debugger"
      ]
    }
  }
}
