@import './const.scss';
// ===== button 伪类边框去掉 =====
button[class="icar-clear-after-border"]::after{
    // border: 1px solid rbag(0,0,0,0.2);
    border: 0;
}

// ===== input 公共样式 =====
.icar-placeholder{
    color: $color-input-placeholder;
}
input[class="icar-input"]{
    color: $color-input;
    font-size: 14px;
}