$color-page-background: #FFF; // page背景颜色 背景主颜色
// $color-page-word:#333; // page字体颜色 字体主颜色
$color-word-one:#333; // 字体主体颜色
$color-word-two:#666; // 字体次主体颜色
$color-word-important:#4289FF; // 强调字体颜色 蓝色/  测试背景颜色
$color-word-import-inner: #FFF; // 强调背景颜色 内的字体颜色
$color-input-placeholder:#A5ADB6; // input placeholder 颜色
$color-input:$color-word-one; // input placeholder 颜色
$size-one: 24; // 字体大小
$size-two: 26; // 字体大小
$size-three: 28; // 字体大小
$size-four: 30; // 字体大小