// 1px 边框
@mixin borderBottomOnePx {
    &::after{
        position: absolute;
        left: 0;
        bottom: 0;
        content: '';
        height: 1px;
        width: 100%;
        background: #D4DCE5;
        transform: scaleY(0.5);
    }
}