<div class="container" ng-controller="effectiveController">
    <div class="row">
        <div class="col-xs-12">
            <div class="weui_msg" >
                <div class="weui_icon_area"><i class="weui_icon_info weui_icon_msg "></i></div>
                <div class="weui_text_area">
                    <h2 class="weui_msg_title">是否要激活活动？</h2>
                    <div class="weui_msg_desc">
                        <div class="weui_cells">
                            <div class="weui_cell">
                                <div class="weui_cell_ft">活动开始时间</div>
                                <div class="weui_cell_bd weui_cell_primary">{{effectiveInfo.startDate|date:"yyyy-MM-dd"}}</div>
                            </div>
                            <div class="weui_cell">
                                <div class="weui_cell_ft">活动结束时间</div>
                                <div class="weui_cell_bd weui_cell_primary">{{effectiveInfo.endDate |date:"yyyy-MM-dd"}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="weui_opr_area">
                    <div class="checkbox">
                        <label>
                            <input ng-click="agreen()" ng-checked="isAgreen" type="checkbox">是否同意
                        </label>
                    </div>
                    <p class="weui_btn_area">
                        <input ng-click="ok()"  ng-disabled="!isAgreen" ng-class="{true:'weui_btn weui_btn_primary se_primary',false:'weui_btn weui_btn_disabled weui_btn_primary se_primary'}[isAgreen]"  value="确定" />
                    </p>
                </div>
                <div class="weui_extra_area">
                    <a href=""></a>
                </div>
            </div>
        </div>
    </div>
</div>
