/* color */
.bg-f1f0ec{background-color: #f1f0ec;}
.green{color: #19b200;}
.c-999896{color: #999896;}

/* font */
.fs-24{font-size: 0.24rem;}
.fs-30{font-size: 0.3rem;}
.lh-80{line-height: 0.8rem;}
.lh-50{line-height: 0.5rem;}
.lh-40{line-height: 0.4rem;}

/* margin/padding */
.p-lr30{padding-left: 0.3rem;padding-right: 0.3rem;}
.p-t20{padding-top: 0.2rem;}
.p-b20{padding-bottom: 0.2rem;}
.m-r30{margin-right: 0.3rem;}

/* border */

/*图标*/
.icon,.icon-work,.icon-checked,.record-item:after{background: url(../images/icon.png) 0 100rem no-repeat; background-size: 2rem 5rem;}
.record-icon{width: 0.8rem;height: 0.9rem;}

.icon-ls:after{content: '';background-position-y: 0;}
.icon-online:after{content: '';background-position-y: -0.68rem;}
.icon-read:after{content: '';background-position-y: -1.4rem;}

.icon-work,.icon-checked{background-position-y: -2.3rem;display: inline-block;width: 0.32rem;height: 0.32rem;margin-left: 0.1rem;vertical-align: middle;}
.icon-checked{ background-position-y:-2.85rem;}

.record-item{padding: 0.20rem 0;margin-left: 1.1rem;border-top: 1px solid #e6e4e1;position: relative;}
.m-themonth+.record-item{border-top: 0;}
.record-item:after{content: '';position: absolute;left: -0.8rem;top: 0.34rem;width: 0.54rem;height: 0.54rem;overflow: hidden;}
.work-title{max-width: 4.2rem;display: inline-block;vertical-align: middle;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;}

/*load more*/
.loadMore{line-height: 0.8rem;width: 100%;background-color: #f4f4f4;text-align: center;}
.loadMore .loading-icon{width: 0.4rem; height: 0.4rem; display: inline-block; background: url(../../common/images/loading.gif)  0 0 no-repeat; background-size:100%;vertical-align: middle;}
.loadMore .load-txt{margin-left: 0.1rem;display: inline-block;vertical-align: middle;}
.loadMore.showLoadCon{display: block;}
.loadMore.loaded .loading-icon{display: none;}