.message-board{
  color: #4498C7;
  background-color: white;
  padding-bottom: 30px;
  //border: 1px solid white;
  .list{
    padding: 0 10px 0 10px;
    .user-message{
      padding: 25px 0px 25px 0px;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      border-bottom: 2px solid #4498C7;
      .head-image{
        width: 64px;
        border-radius: 50%;
        margin-right: 12px;
      }
      .user-info{
        text-align: left;
        width: 200px;
        .name{
          font-size: px2rem(18);
          font-weight: bold;
          //margin-bottom: 5px;
        }
        .data{
          font-size: px2rem(12);
          //margin-bottom: 5px;
        }
        .message{
          overflow: hidden;
          font-size: px2rem(16);
          word-wrap:break-word;
        }
      }
      .like{
        height: 20px;
        line-height: 20px;
        flex-wrap: nowrap;
        display: flex;
        align-items: center;
        img{
          width: 25px;
        }
        span{
          font-weight: 600;
          font-size: px2rem(16);
        }
      }
    }
  }

}