.modal-style{
  .level-up-info{

    .head-image{
      margin-top: 85px;
      //margin: 85px 1000px 0 1000px;
      text-align: center;
      position:relative;
      .out-div{
          width: 188px;
          height: 188px;
        .image-font{
          width: 188px;
          top: -40px;
          position: absolute;
        }
        .out-image{
          width: 188px;
          height: 188px;
        }
        .inner-image{
          border-radius: 50%;
          width: 100px;
          height: 100px;
          display: inline-block;
          z-index: 50;
          text-align: center;

          position:absolute;
          left:0; right:0; top:0; bottom:0;
          margin:auto;
          //position:absolute;
          //top: 50%;
          //left: 50%;
          //margin-top: -100px;
          //margin-left: -100px;

        }

      }


    }
    .txt-line{
      //margin: 0 1000px 0 1000px;
      color: white;
      text-align: center;
      width: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      top: -30px;
      .level-icon{
        border: 1px solid white;
        border-radius: 10px;
        display: inline-block;
        height: 20px;
        width: 42px;
        line-height: 20px;
        background-color: #e15353;
        font-size: 10px;
        font-style:italic;
        color: white;
      }
    }
    .sure-button{
      //margin: 13px 1000px 0 1000px;
      width: 80px;
      height: 40px;
      position: relative;
      top: -10px;
    }

  }
}