@import './common/const.scss';
@import '../common/rpx.scss';
@import '../../common/mixin.scss';
$paddingLeftRight:36;
page,
.index-container{
	height: 100%;
}

.index-scroll{
	height: 100%;
}
.show-search{
	padding: 0 rpx($paddingLeftRight);
	height: rpx(66);
	margin-bottom: rpx(34);
	.show-search-text{
		border: rpx(1) solid #D3DBE4;
		background: #EFF2F5;
		border-radius: 100px;
		font-size: rpx(32);
		height: rpx(62);
		color: $color-input-placeholder;
		display: flex;
		align-items: center;
		justify-content: center;
		image{
			height: rpx(30);
			width: rpx(30);
			margin-right: rpx(10);
		}
	}
}

.swiper-wrap swiper {
	height: rpx(440);
}

.swiper-image{
	width: 94%;
	margin-left: 3%;
	height: rpx(330);
	box-shadow: 0 4px 10px 0 rgba(69,69,69,0.2);
	transition: all 0.6s;
	margin-top: rpx(41);
	border-radius: rpx(6);
	&.swiper-image-current{
		border-radius: rpx(10);
		height: rpx(412);
		margin-top: 0;
	}
}
.swiper-wrap .dots{ 
   margin: 0 0 rpx(30) 0;  
   display: flex;  
   justify-content: center;  
 }  
 .swiper-wrap .dots .dot{
   margin: 0 rpx(8);  
   width: rpx(14);  
   height: rpx(14);  
   background: rgba(135, 152, 168, .4);
   border-radius: 100%;  
   transition: all .9s;  
 }  
 .swiper-wrap .dots .dot.active{  
   background: #556C83;
 }

 .btn-wrap{
	 position: relative;
	 height: rpx(100);
	 @include borderBottomOnePx;
	 padding: 0 rpx($paddingLeftRight);
	 margin-top: rpx(40);
	 .btn-btn{
		 display: inline-block;
		 height: rpx(60);
		 line-height: rpx(60);
		 padding: 0 rpx(26);
		 margin-right: rpx(20);
		 border-radius: 100px;
		 background: #EFF2F5;
		 color: #576E85;
		 font-size: rpx($size-three);
		 image{
			 width: rpx(36);
			 height: rpx(36);
			 vertical-align: sub;
			 margin-right: rpx(10)
		 }
		 &.checked-btn-active{
			background-image: linear-gradient(90deg, #15C8F4 0%, #3385EE 100%);
			color: #FFF;
		 }
	 }
 }
 .line{
	height: rpx(16);
	background: #EFF2F5;
}
.list-wrap{
	padding: 0 rpx($paddingLeftRight);
}
.bottom-tip{
	height: rpx(60);
	text-align: center;
	font-size:rpx($size-one);
	color: $color-input-placeholder;
}
// .index-scroll{
// 	 height:calc(100% - 314px);
// 	 padding: 0 rpx($paddingLeftRight);
//  }

 //  background: #666
	// .scroll-item{
	// 	position: relative;
	// 	padding: rpx(30) 0;
	// 	height: rpx(186);
	// 	margin-bottom: rpx(20);
	// 	display: flex;
	// 	@include borderBottomOnePx;
	// 	&:nth-last-child(1):after{
	// 		height: 0;
	// 	}
	//  }
	//  .list-img{
	// 	 width: rpx(188);
	// 	 image{
	// 		 height: 100%;
	// 		 width: 100%;
	// 	 }
	//  }
	//  .list-des{
	// 	 flex: 1;
	// 	 padding: 0 rpx(28);
	// 	 line-height: rpx(160);
	// 	 .des-wrap{
	// 		 display:inline-block;
	// 	 }
	// 	 .des-title{
	// 		line-height: rpx(40);
	// 		font-size: rpx(30);
	// 		color: #333;
	// 	 }
	// 	 .des-num{
	// 		 line-height: rpx(34);
	// 		 font-size: rpx(24);
	// 		 color: #666;
	// 		 text{
	// 			color: #4289FF;
	// 		 }
	// 	 }
	//  }
	//  .list-btn{
	// 	 width: rpx(120);
	// 	 position: relative;
	// 	 .text-btn{
	// 		position: absolute;
	// 		left: 0;
	// 		top: 50%;
	// 		transform: translateY(-50%);
	// 		width: 100%;
	// 		height: rpx(60);
	// 		line-height: rpx(60);
	// 		text-align: center;
	// 		font-size: rpx(26);
	// 		color: #FFF;
	// 		background: #3385EE;
	// 		box-shadow: 0 6px 10px 0 rgba(51,133,238,0.40);
	// 		border-radius: rpx(8);
	// 	 }
	//  }
  