<div style="position:fixed; bottom:0;left:0;width:100%;border-top:1px solid #ccc; background:#fff;">
    <div style="width:100%;">
        <div class="weui-row">
            <div class="weui-col-50"></div>
            <div class="weui-col-50 weui-btn_plain-disabled">
                <span ng-if="productInfo.exists==true && productInfo.info.productId=138" class="weui-btn  weui-btn_warn">你已领取</span>
                <a href="#pay" ng-if="productInfo.exists==false"  class="weui-btn  weui-btn_warn">立即领取</a>
            </div>
        </div>
    </div>
</div>
