<div class="page" ng-controller="myController">
    <div class="page__bd">
        <div style="position: relative;">
            <img style="width:100%;" mode="widthFix" src="imgs/gardenia/mybg.png" />

            <div style="position: absolute;top: 3.5rem;left: 2rem;">
                <img style="width:60px; border-radius: 30px;" src="{{userInfo.headImgUrl}}">
            </div>
            <div style="position: absolute;top: 3.5rem;left: 6rem;">
                <p style="padding:5px 0; ">
                    <span style="color:#666;">昵称：</span><span style="font-weight: bold;">{{userInfo.nickName}}</span>
                </p>
                <p style="padding:5px 0;">
                    <span style="color:#666;">班级：</span><span style="font-weight: bold;">{{memberInfo.className}}</span>
                </p>
            </div>
            <a href="#/memberregist" style="position: absolute; right:15px; bottom: 15px; color:#666;" class="fa fa-cog">设置</a>
        </div>
        <div class="weui-cells__title">历史</div>
        <div class="weui-cells "  >
            <a  href="#/historyeveryday" class="weui-cell weui-cell_access">
                <div class="weui-cell__bd">每日一课</div>
                <div class="weui-cell__ft weui-cell__ft_in-access"></div>
            </a>
            <a href="#/historyeveryweek"  class="weui-cell weui-cell_access">
                <div class="weui-cell__bd">每周一课</div>
                <div class="weui-cell__ft weui-cell__ft_in-access"></div>
            </a>
        </div>
        <div class="weui-cells__title">入学通知书</div>
        <div class="weui-cells "  >
            <a href="#/advice" class="weui-cell weui-cell_access">
                <div class="weui-cell__bd">查看</div>
                <div class="weui-cell__ft weui-cell__ft_in-access"></div>
            </a>
        </div>
    </div>
</div>