.show_title_text{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  color: #737373;
  background: #ffffff;
  >view{
    margin-left: 3px;
  }
  .start_address, .end_address{
    white-space: nowrap;
    width: 70px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .title_icon{
    width: 14px;
    height: 20px;
    >image{
      width: 100%;
      height: 100%;
      display: block;
    }
  }
}
.match{
  width: 100%;
  height: 100%;
  position: relative;
  .match_switch{
    border-bottom: 1px solid #DADDE2;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
    font-size: 13px;
    color: #737373;
    padding-bottom: 0px;
    >view{
      border-bottom: 3px solid #ffffff;
      padding-bottom: 10px;
    }
  }
  .watch_switch_active{
    color: #484848;
    border-bottom: 3px solid #000000 !important;
  }
  .search_match{
    text-align: center;
    .loading_img{
      width: 100%;
      height: 50px;
      padding: 30px 0 20px 0;
      >image{
        width: 50px;
        height: 50px;
        display: blcok;
        margin: 0 auto;
      }
    }
    .loading_text{
      font-size: 17px;
      color: #484848;
      font-weight: 600;
    }
    .watch_time{
      font-size: 13px;
      color: #737373;
      margin-top: 5px;
    }
  }
  .share_It{
    width: 100%;
    position: absolute;
    bottom: 0;
    .share_btn{
      margin: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      color: #484848;
      background: #ffffff;
      border-radius: 10px;
      border: 1px solid #DADDE2;
      >image{
        width: 20px;
        height: 20px;
        display: block;
        margin-right: 8px;
      }
    }
  }
  .car_acroll{
    width: 100%;
    .car_list{
      width: 80px;
      height: 80px;
      margin: 15px;
      display: inline-block;
      opacity: 0.8;
      margin-bottom: 22px;
      >image{
        width: 100%;
        height: 100%;
        display: block;
        border-radius: 15px;
        /*overflow: visible;*/
        box-shadow: 0px 0px 3px #000000;
      }
    }
    .car_list_active{
      width: 100px;
      height: 100px;
      opacity: 1;
      margin-bottom: 15px;
    }
    .car_info{
      padding: 15px;
      padding-top: 0;
      display: flex;
      justify-content: space-between;
      .car_info_left{
        .match_car_name{
          display: flex;
          align-items: center;
          .match_name{
            font-size: 20px;
            color: #484848;
            margin-right: 3px;
            white-space: nowrap;
          }
          .match_old{
            background: #9AD3FF;
            color: #ffffff;
            font-size: 10px;
            padding: 0 10px;
            border-radius: 10px;
            margin-right: 3px;
            white-space: nowrap;
          }
          .match_time{
            font-size: 10px;
            color: #737373;
            white-space: nowrap;
          }
        }
        .match_car_code{
           border-radius: 8px;
           background: linear-gradient(to right, #00C6FF, #4287FF);
           font-size: 13px;
           color: #ffffff;
           width: 150px;
           white-space: nowrap;
           text-align: center;
           >text{
            font-size: 13px;
           }
        }
        .ride_number{
          color: #737373;
          font-size: 10px;
          display: flex;
          align-items: center;
          .setas_people{
            color: #484848;
            font-size: 17px;
            margin-left: 5px;
          }
        }
      }
      .car_info_right{
        .match_time{
          font-size: 17px;
          color: #484848;
          text-align: right;
        }
        .match_seats{
          display: flex;
          align-items: center;
          margin-top: 5px;
          >view{
            font-size: 10px;
            margin-right: 5px;
            white-space: nowrap;
          }
          .match_seats_img{
            width: 20px;
            height: 20px;
            >image{
              width: 100%;
              height: 100%;
              display: block;
              border-radius: 50%;
            }
          }
          >view:last-child{
            margin-right: 0;
          }
        }
      }
    }
  }
  .match_car_btn{
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10px;
    .match_car_share, .match_car_phone{
      width: 50px;
      height: 50px;
      >image{
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 10px;
      }
    }
    .match_car_submit{
      color: #ffffff;
      font-size: 16px;
      text-align: center;
      background: #484848;
      border-radius: 8px;
      height: 50px;
      line-height: 50px;
      padding: 0 50px
    }
  }
}

.foot_btn{
	width: 100%;
	position: absolute;
	bottom: 0;
	.no_match{
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		margin: 15px;
		border-radius: 10px;
		background: #ffffff;
		border: 1px solid #DADDE2;
		.share_no_match{
			width: 20px;
			height: 20px;
			>image{
				width: 100%;
				height: 100%;
				display: block;
			}
		}
		.share_no_match_text{
			font-size: 16px;
			color: #484848;
			margin-left: 5px;
		}
	}

	.match_car{
		display: flex;
		align-items: center;
		text-align: center;
		margin: 15px;
		border-radius: 10px;
		justify-content: space-between;
		.share_and_phone{
			display: flex;
			align-items: center;
			justify-content: space-around;
			.share_match_car, .phone_match_car{
				width: 50px;
				height: 50px;
				border-radius: 10px;
				margin-right: 15px;
				>image{
					width: 100%;
					height: 100%;
					display: block;
				}
			}
		}
		.match_car_text{
			background: #484848;
			color: #ffffff;
			border-radius: 10px;
			padding: 12px 40px;
      white-space: nowrap;
		}
	}
}

button::after{
	border: none;
}

swiper{
  height: 125px;
}

.details{
  border-radius: 10px 10px 0 0;
  position: relative;
  .detail_title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    text-align: center;
    font-size: 17px;
    color: #484848;
    border-bottom: 1px solid #EDEDF0;
    .up_car_type{
      font-size: 13px;
      border: 1px solid #DADDE2;
      border-radius: 8px;
      padding: 0px 18px;
      line-height: 22px;
      margin-left: 5px;
    }
  }
  .nav{
    display: flex;
    align-items: center;
    font-size: 13px;
    color: #484848;
    text-align: center;
    border-bottom: 1px solid #DADDE2;
    .nav_btn{
      flex: 5;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 12px 0;
      .nav_img{
        width: 20px;
        height: 20px;
        margin-right: 5px;
        >image{
          width: 100%;
          height: 100%;
          display: block;
        }
      }
    }
    .nav_btn:last-child{
      border-left: 1px solid #DADDE2;
    }
  }
  .swiper{
    .car_info{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 12px;
      .car_info_left{
        // overflow: hidden;
        display: flex;

        .car_img{
          float: left;
          width: 80px;
          height: 80px;
          margin-right: 5px;
          >image{
            display: block;
            width: 100%;
            height: 100%;
            border-radius: 8px;
          }
        }
        .car_detail{
          float: left;
          .car_name{
            font-size: 20px;
            color: #484848;
          }
          .car_age{
            display: flex;
            align-items: center;
            font-size: 10px;
            >view:first-child{
              color: #ffffff;
              padding: 0 8px;
              background: #9AD3FF;
              border-radius: 15px;
              margin-right: 5px;
            }
            >view:last-child{
              color: #737373;
            }
          }
          .car_code{
            color: #ffffff;
            font-size: 10px;
            background: linear-gradient(to right, #00C6FF , #4287FF);
            padding: 0px 10px;
            border-radius: 15px;
            margin-top: 5px;
            white-space: nowrap;
            >text{
              font-size: 13px;
            }
          }
        }
      }
      .car_info_right{
        text-align: right;
        .car_time{
          color: #484848;
        }
        .car_phone{
          width: 50px;
          height: 50px;
            float: right;
          >image{
            width: 100%;
            height: 100%;
            display: block;
          }
        }
      }
    }
    .passenger{
      padding: 12px;
      .passenger_title{
        font-size: 13px;
        color: #484848;
      }
      .passenger_list{
        overflow: hidden;
        padding-top: 5px;
        >image{
          width: 60px;
          height: 60px;
          border-radius: 10px;
          float: left;
          margin-right: 10px;
          border: 1px solid #ededf0;
        }
      }
    }
    .guide{
      font-size: 10px;
      color: #737373;
      text-align: center;
    }
  }
  .detail_foot_btn{
    position: absolute;
    bottom: 0;
    width: 100%;
    .detail_foot_btn_type{
      background: #484848;
      margin: 12px;
      display: flex;
      justify-content: space-around;
      text-align: center;
      align-items: center;
      font-size: 13px;
      color: #ffffff;
      border-radius: 10px;
      >view{
        padding: 12px 0;
      }
      >button{
        margin: 0;
        padding: 0;
        font-size: 13px;
        background: #484848;
        color: #ffffff;
      }
    }
  }
}

.owner{
  .owner_switch{
    display: flex;
    font-size: 13px;
    color: #737373;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    border-bottom: 1px solid #ededf0;
    >view{
      padding: 12px 0 9px 0;
      border-bottom: 3px solid #ffffff;
    }
    .owner_switch_active{
      color: #484848;
      border-bottom: 3px solid #484848;
    }
  }
  .search_match{
    text-align: center;
    .loading_img{
      width: 100%;
      height: 50px;
      padding: 30px 0 20px 0;
      >image{
        width: 50px;
        height: 50px;
        display: blcok;
        margin: 0 auto;
      }
    }
    .loading_text{
      font-size: 17px;
      color: #484848;
      font-weight: 600;
    }
    .watch_time{
      font-size: 13px;
      color: #737373;
      margin-top: 5px;
    }
  }
  .people_acroll{
    padding: 12px;
    padding-bottom: 0px;
    .people_list{
      display: inline-block;
      width: 80px;
      height: 80px;
      margin: 0 12px;
      >image{
        width: 100%;
        height: 100%;
        display: block;
        border-radius: 12px;
        border: 1px solid #cccccc;
      }
    }
    .people_list_active{
      width: 100px !important;
      height: 100px !important;
    }
    .passenger_info{
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 10px;
      color: #737373;
      .details{
        display: flex;
        align-items: center;
        text-align: center;
        >view{
          margin-right: 5px;
        }
        .name{
          font-size: 20px;
          color: #484848;
          font-weight: 600;
        }
        .age{
          padding: 0 10px;
          background: #73C2FF;
          color: #ffffff;
          border-radius: 10px;
        }
      }
      .go_time{
        font-size: 17px;
        color: #484848;
        font-weight: 600;
      }
    }
    .number_passenger{
      font-size: 10px;
      color: #737373;
      display: flex;
      align-items: center;
      >text{
        display: inline-block;
        font-size: 17px;
        font-weight: 600;
        color: #484848;
        margin-left: 5px;
      }
    }

    .booked{
      .title{
        text-align: center;
        font-size: 17px;
        color: #484848;
        font-weight: 600;
      }
      .booked_scroll{
        padding-top: 12px;
        display: flex;
        align-items: center;
        .booked_list{
          width: 60px;
          height: 60px;
          margin-right: 12px;
          >image{
            width: 100%;
            height: 100%;
            display: block;
            border-radius: 12px;
          }
          .share_remaining{
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            border-radius: 10px;
            >image{
              width: 100%;
              height: 100%;
              display: block;
              border-radius: 12px;
            }
          }
        }
        .booked_list_active{
          width: 70px;
          height: 70px;
        }
      }
      .details{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 10px;
        .people_info{
          font-size: 10px;
          .name{
            font-size: 20px;
            color: #484848;
          }
          .ageOftime{
            display: flex;
            align-items: center;
            >view:first-child{
              color: #ffffff;
              background: #73C2FF;
              border-radius: 10px;
              padding: 0 10px;
            }
            >view:last-child{
              color: #737373;
              margin-right: 5px;
            }
          }
        }
        .btn_type{
          display: flex;
          justify-content: space-around;
          align-items: center;
          >image{
            width: 50px;
            height: 50px;
            border-radius: 12px;
            display: block;
            margin-right: 5px;
          }
          >image:last-child{
            margin-right: 0;
          }
        }
      }
    }
  }
  .passenger_btn{
    position: absolute;
    width: 100%;
    bottom: 0px;
    .passenger{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 12px;
      margin-bottom: 8px;
      .share_pass_img{
        height: 50px;
        flex: 2;
        >image{
          width: 50px;
          height: 100%;
          display: block;
          border-radius: 12px;
        }
      }
      .share_btn{
        background: #484848;
        color: #ffffff;
        height: 50px;
        flex: 8;
        text-align: center;
        line-height: 50px;
        font-size: 16px;
        margin-left: 12px;
        border-radius: 12px;
      }
    }
    .booked_btn{
      margin: 0 12px 8px 12px;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: space-around;
      padding: 12px 0;
      border-radius: 12px;
      background: #484848;
      color: #ffffff;
      font-size: 13px;
      >button{
        margin: 0;
        padding: 0;
        background: #484848;
        color: #ffffff;
        font-size: 13px;
      }
    }
  }
}
