<div class="page" ng-controller="posterController">
    <div ng-include="'./views/poster/header.html'"></div>
    <div class="page__hd" style=" text-align:center;padding:5px 0px 0px 0px">
        <img style="width:100%;" src="./imgs/hf.jpg" />
    </div>
    <div class="page__bd">
        <div style=" font-size:13px; color:#f00;padding:15px;">
            <p>1:请先关注上面的二维码</p>
            <p>2:点击下面的“获取海报”按钮，将会发图片消息给你，注意查看公众号信息</p>
            <p>3:如果获取后没有收到图片消息，请尝试进入上面关注的公众号，与之交互一次（如：发送一段文字），再尝试获取</p>
        </div>
        <div class="weui-btn-area">
            <input type="submit" class="weui-btn weui-btn_primary" ng-click="createPoster()" value="获取海报" />
        </div>
    </div>
    <div class="weui-loadmore" ng-show="showLoadding">
        <i class="weui-loading"></i>
        <span class="weui-loadmore__tips">正在处理中，请稍等</span>
    </div>
</div>
