#agenda{
    color: #757575;
}
#agenda .btn-box{
    position: relative;
    bottom: 0px;
}
textarea{
    resize: none;
}
.tab-pane input{
    display: inline-block;
    width: 74px;
    height: 26px;
}
#agenda .date-time{
    width: 114px;
    margin-left: 10px;
}
.form-label{
    font-size: 16px;
}
.agenda-head{
    text-align: center;
    color: #428bca;
    font-size: 16px;
    font-weight: normal;
    line-height: 30px;
}
.delete-item{
    color: #f00;
    position: absolute;
    display: none;
}
.delete-item:hover{
    color: #f00;
}
.agenda-head:hover .delete-item{
    display: inline-block;
}
.agenda-sets,
.agenda-item{
    margin: 20px 0;
}
.show-date{
    width: 100px;
    display: inline-block;
}
.show-title{
    width: 250px;
    display: inline-block;
}
.edit-item .show-address{
    display: none;
}
.agenda-item .form-control,
.agenda-item .select-address{
    display: none;
}
.edit-item .form-control,
.edit-item .select-address{
    display: inline-block;
}
.edit-item .show-text{
    display: none;
}
.show-start,
.show-end{
    margin: 0 10px;
}
.agenda-item .save{
    display: none;
}
.edit-item .edit{
    display: none;
}
.edit-item .save{
    display: inline-block;
}
.agenda-left{
    float: left;
}
.agenda-right{
    float: right;
    width: 60px;
    color: #757575;
}
.agenda-right > .btn{
    margin: 14px 0;
    color: #757575;
}
.agenda-center{
    margin-left: 100px;
    margin-right: 60px;
    border: 1px dashed #979797;
    padding: 0 10px 0 25px;
    overflow: hidden;
}
.start-time,
.end-time{
    margin: 0 10px;
}
.agenda-row{
    margin: 10px 0;
    overflow: hidden;
}
.agenda-center .edit,
.agenda-center .delete,
.agenda-center .save{
    height: 26px;
    line-height: 12px;
    float: right;
}
.select-address,
.show-address{
    margin-left: 26px;
}
.time-set{
    display: inline-block;
    margin-left: 170px;
}
.agenda-row > .title{
    width: 250px;
}
.agenda-row > .description{
    width: 516px;
}
.add-item{
    margin-left: 87px;
}
.add-date{
    font-size: 16px;
}
.modal-dialog{
    z-index: 1080;
    width: 800px;
    max-width: 900px;
}
.modal-body{
    padding: 50px;
}
#mapShow{
    width: 100%;
    height: 400px;
    margin-top: 17px;
}
.modal-dialog .form-control{
    width: 136px;
    height: 26px;
    display: inline-block;
    margin-right: 20px;
    padding: 0 12px;
}
.modal-header{
    overflow: hidden;
}
#detailAddress{
    width: 458px;
    margin: 20px 0;
}
.glyphicon-trash{
    color: #757575;
    font-size: 18px;
}