.page-wrap{
    position: relative;
    height: 100%;
    font-family: PingFangSC-Regular;
}
.header{
    position: absolute;
    top: 0;
    color: #707070;
    width: 100%;
    height: 60px;
    line-height: 60px;
    padding: 0 25px;
    background: #FBFBFE;
    box-shadow: 0 1px 0 0 #E0E4EC;
    z-index: 999;
}
.header .search-box{
    display: inline-block;
}
.search-box .icon-search{
    position: absolute;
    right: -4px;
    top: 18px;
    line-height: 29px;
    text-align: center;
}
.select-type{
    display: inline-block;
    font-size: 18px;
    color: #2E2E2E;
    line-height: 20px;
    padding: 20px 0;
    padding-bottom: 17px;
    margin: 0 15px;
    border-bottom: 3px solid #FBFBFE;
    cursor: pointer;
}
.select-type:hover{
    color: #0288D1;
    text-decoration: none;
}
.select-type.active{
    color: #0288D1;
    border-bottom-color: #0288D1;
}
.select-btn input{
    opacity: 0;
    position: absolute;
    left: 0;
    width: 108px;
    height: 36px;
}
.daterangepicker.dropdown-menu.ltr.show-calendar * {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.btn-sm {
    height: 30px;
    line-height: 30px;
    width: 70px;
    text-align: center;
    padding: 0;
}
.date-wrap {
    float: right;
    position: relative;
    margin-left: 30px;
}
/*.date-wrap i {
    position: absolute;
    bottom: 10px;
    left: 191px;
    top: auto;
    cursor: pointer;
}*/
input#datetime {
    width: 200px;
    /*opacity: 0;*/
    display: inline-block;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 13px;
    font-family: PingFangSC-Regular;
}
.date-wrap h4 {
    /*position: absolute;*/
    /*left: 20px;*/
    font-size: 14px;
    line-height: 36px;
    display: inline-block;
}
.date-wrap i {
    position: absolute;
    right: 9px;
    top: 24px;
}
/*.date-wrap:hover{
    border-radius: 3px;
    cursor: pointer;
    background-color: #fff;
    -webkit-box-shadow: 0 0 1px 0 rgba(0,0,0,0.12), 0 1px 1px 0 rgba(0,0,0,0.20);
    box-shadow: 0 0 1px 0 rgba(0,0,0,0.12), 0 1px 1px 0 rgba(0,0,0,0.20);
}*/
/*.date-wrap>* {
    float: left;
}*/
.daterangepicker.dropdown-menu.ltr.show-calendar * {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.cancelBtn.btn-default{
    color: #000;
    border: 1px solid #ddd;
}
.noData{
    font-size: 16px;
    margin: 10px 40px;
}

.main-wrap{
    background-color: #F5F6FA;
    position: absolute;
    top: 60px;
    width: 100%;
    overflow: auto;
}
#tableBox{
    margin: 0 30px;
}
#tableBox > div{
    background: #fff;
    height: 48px;
    line-height: 48px;
    font-size: 18px;
    padding-left: 21px;
    margin-top: 20px;
    border-bottom: 1px solid rgba(151, 151, 151, .13);;
}
#tableBox table *{
    border: none;
    padding: 10px 21px;
    font-size: 14px;
    font-weight: 100;
}
#tableBox th{
    font-size: 14px;
    color: #707070;
    background-color: #fff;
}
#tableBox td{
    color: #212121;
    background-color: rgba(0, 0, 0, 0.02);
}
#tableBox .table-striped > tbody > tr:nth-child(even) > td, .table-striped > tbody > tr:nth-child(even) > th{
    background-color: #fff;
}
#tableBox .history-link{
    padding: 0;
    color: #0288D1;
}