/* #formList */
.tip-header{
    line-height: 25px;
    font-size: 18px;
    color: #428bca;
}
.tip-item{
    line-height: 20px;
    font-size: 14px;
    color: #333;
    font-weight: bolder;
}
.signup-list,
.select-list{
    margin: 10px 0px 30px;
}
.signup-item {
    min-width: 132px;
    line-height: 43px;
    height: 43px;
    border: 2px dashed #c7c7c7;
    font-size: 14px;
    text-align: center;
    color: #c7c7c7;
    display: inline-block;
    margin-right: 28px;
    cursor: pointer;
}
.signup-item > a{
    width: 55px;
    height: 28px;
    border-radius: 3px;
    line-height: 28px;
    color: #fff;
    background-color: #c7c7c7;
    float: right;
    margin: 7px;
    margin-left: 0px;
    display: inline-block;
}
.signup-item > a:hover{
    text-decoration: none;
}
.signup-item > a > .glyphicon{
    font-size: 12px;
    border: 1px solid #fff;
    padding: 1px;
}
.signup-list .checked{
    border-color: #75aad9;
    background-color: rgba(73, 143, 225, 0.2);
    color: #428bca;
}
.signup-list .disabled{
    cursor: not-allowed;
}
.signup-list .disabled > a{
    cursor: not-allowed;
}
.signup-list .required{
    background-color: #428bca;
}
.select-type{
    display: inline-block;
    width: 132px;
    margin-right: 28px;
}
.select-item{
    min-width: 132px;
    line-height: 43px;
    height: 43px;
    border: 2px dashed #c7c7c7;
    font-size: 14px;
    text-align: center;
    color: #428bca;
    display: inline-block;
    margin-right: 28px;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
.select-item:hover,
.select-list .selected{
    border-color: #75aad9;
    background-color: rgba(73, 143, 225, 0.2);
}
.not-open{
    cursor: not-allowed;
}
.not-open:hover{
    border-color: #c7c7c7;
    background-color: #fff;
}
/*.custom-form .form-group::before{
    font-family: 'Glyphicons Halflings';
    content: "\e068";
    background-color: #ccc;
    width: 10px;
    height: 10px;
    cursor: move;
}*/
.custom-form label{
    padding: 10px 0px;
    margin-right: 28px;
    margin-left: 55px;
    font-weight: normal;
}
.custom-form label::after{
    font-family: 'Helvetica Neue','宋体';
    content: "|";
    color: #ccc;
    margin-left: 18px;
}
.custom-form input[type='checkbox']{
    outline: none;
    position: relative;
    top: -2px;
    width: 24px;
    height: 24px;
    border: 1px solid #c7c7c7;
    margin-right: 10px;
    cursor: pointer;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}
.custom-form input[type='checkbox']:checked{
    background-color: #428bca;
    border-color: #428bca;
}
.custom-form input[type=checkbox]:checked::before{
    font-family: 'Glyphicons Halflings';
    content: "\e013";
    color: #fff;
    font-size: 12px;
    position: relative;
    top: 2px;
    left: 4px;
}
.custom-form .form-control{
    width: 132px;
    line-height: 43px;
    height: 43px;
    font-size: 14px;
    margin-right: 28px;
}
.custom-form .notice{
    width: 300px;
}
.custom-form .glyphicon-trash{
    font-size: 20px;
    vertical-align: middle;
    cursor: pointer;
}
.custom-form .glyphicon-trash:hover{
    color: #428bca;
}
.value-box{
    display: none;
}
.value-show .value-box{
    display: block;
    margin-left: 166px;
}
.add-value{
    display: inline-block;
    width: 44px;
    height: 44px;
    text-align: center;
    background: #dedede;
    padding: 7px;
    margin: 10px;
    font-size: 20px;
    border: 1px solid #ccc;
    vertical-align: middle;
}
.value-content > div{
    position: relative;
    display: inline-block;
    width: 132px;
    margin: 10px;
    margin-left: 0;
}
.value-content .glyphicon-remove{
    position: absolute;
    top: -8px;
    right: -10px;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    background: #dedede;
    text-align: center;
    padding: 5px 0;
    color: #333;
    cursor: pointer;
}