.grade{
    padding-left: 140px; 
    padding-right: 140px; 
}
#gradeBox{
    color: #acacac;
}
#grade > .form-group{
    margin-right: 60px;
}
#gradeBox .btn-box{
    position: relative;
    bottom: 0px;
}
textarea{
    resize: none;
}
.tab-pane input{
    display: inline-block;
    width: 120px;
    height: 26px;
}
.form-label{
    font-size: 16px;
    font-weight: normal;
    margin-right: 20px;
    color: #acacac;
    margin-bottom: 0px;
    vertical-align: middle;
}
.grade-title{
    color: #757575;
}
.grade-head{
    text-align: center;
    color: #428bca;
    font-size: 16px;
    font-weight: normal;
    line-height: 30px;
    margin-bottom: 20px;
}
.delete-item{
    color: #f00;
    position: absolute;
    display: none;
}
.delete-item:hover{
    color: #f00;
}
.grade-head:hover .delete-item{
    display: inline-block;
}
.grade-list{
    margin-top: 40px;
}
.grade-sets,
.grade-item{
    margin: 20px 0;
}
.show-title{
    width: 250px;
    display: inline-block;
}
.grade-row > .title{
    width: 200px;
}
.grade-content .form-control{
    width: 300px;
    display: none;
}
.grade-content .show-text{
    width: 300px;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    padding-left: 13px;
}
.grade-item .form-control,
.grade-item .select-address,
.save{
    display: none;
}
.edit-item .show-address,
.edit-item .show-text,
.edit-item .edit,
.edit-grade .edit,
.edit-grade .show-text{
    display: none;
}
.edit-item .form-control,
.edit-item .select-address,
.edit-item .save,
.edit-grade .save,
.edit-grade .form-control{
    display: inline-block;
}
.grade-left{
    float: left;
    margin-left: 70px;
    margin-top: 14px;
}
.grade-right{
    float: right;
    width: 60px;
    color: #757575;
}
.grade-right > .btn{
    margin: 14px 0;
    color: #757575;
}
.grade-center{
    margin-right: 60px;
    border: 1px dashed #979797;
    padding: 0 10px 0 25px;
    overflow: hidden;
}
.grade-row{
    margin: 10px 0;
    overflow: hidden;
    height: 30px;
    line-height: 30px;
}
.grade-list .grade-row{
    margin-left: 230px;
}
.grade-center .edit,
.grade-center .delete,
.grade-center .save{
    height: 26px;
    line-height: 12px;
    float: right;
}
.file-upload{
    display: block;
    width: 100px;
    height: 80px;
}
.file-upload > input{
    display: none;
}
.show-name{
    width: 100px;
    text-align: center;
    display: inline-block;
}
.glyphicon-trash{
    color: #757575;
    font-size: 16px;
}
.add-grade-item{
    margin-bottom: 20px;
    display: inline-block;
}
.modal-dialog{
    z-index: 1050;
}
.show-head{
    width: 85px;
    border-radius: 45px;
}
.input-tip{
    margin-left: 10px;
    font-size: 12px;
    color: #acacac;
}