@charset "utf-8";
/**
 * @description: 登陆首页
 * @author: Franco
 * @update:
 */
.page-wrap{
    position: relative;
    height: 100%;
    background-color: #F5F6FA;
    font-family: PingFangSC-Regular;
    min-width: 1050px;
    overflow: hidden;
}
.sidebar{
    position: absolute;
    width: 225px;
    height: 100%;
    background-image: linear-gradient(0deg, #485173 0%, #24283E 100%);
    background: #32374B;
    z-index: 100;
    overflow: auto;
}

.logo-banner{
    margin: 40px;
}
.menu-list li{
    line-height: 38px;
    padding-left: 40px;
    border-left: 3px solid #32374B;
    font-weight: 100;
    cursor: pointer;
}
.menu-list li:hover{
    background: rgba(0, 0, 0, .2);
}
.menu-list a{
    color: #fff;
}
.menu-list a:hover{
    text-decoration: none;
}
.menu-list .active{
    background: rgba(0, 0, 0, .2);
    border-left-color: #0288D1;
}
.menu-list .menu-sort{
    color: #CBEBF7;
    font-size: 12px;
    margin-top: 10px;
    cursor: default;
    pointer-events: none;
}
.nav-bar{
    position: absolute;
    top: 0;
    width: 100%;
    height: 56px;
    padding-left: 225px;
    background: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
}
.iframe-box{
    position: absolute;
    top: 60px;
    bottom: 0;
    padding-left: 225px;
    width: 100%;
    overflow: auto;
}
.iframe-box iframe{
    width: 100%;
    height: 100%;
}