@charset "utf-8";
html, body, .contentWrap {
    margin: 0;
    font-family: "Helvetica Neue",Arial,"STHeiti","Microsoft YaHei","Hiragino Sans GB","\9ED1\4F53",sans-serif;
}
body {
    max-width: none;
    font-weight: 100;
}
.content-wrap{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.logo {
    margin: 16px 50px;
    width: 114px;
}
.footer {
    position: absolute;
    bottom: 20px;
    width: 100%;
    color: rgba(255, 255, 255, .4);
    font-size: 12px;
    padding: 0;
    margin: 0;
}
.footer a{
    color: rgba(255, 255, 255, .4);
}
.login-form {
    width: 704px;
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
    position: relative;
}
.login-form h1{
    font-weight: 100;
    font-size: 48px;
    color: #FFFFFF;
    line-height: 78px;
    margin: 0 auto;
}
.login-form p{
    color: #FFFFFF;
    font-size: 48px;
    margin-bottom: 32px;

}
.login-form .ipt-box{
    display: inline-block;
    width: 280px;
    margin-left: 8px;
}
.ipt-box .ipt{
    line-height: 46px;
    border-radius: 0;
    padding: 0;
    padding-left: 39px;
}
.login-form .btn {
    width: 120px;
    height: 48px;
    line-height: 48px;
    font-size: 18px;
    margin-left: -2px;
    border-radius: 0;
}
.forget-password{
    position: absolute;
    color: #fff;
    font-size: 14px;
    bottom: -20px;
    right: 0;
    color: rgba(255, 255, 255, .6);
}
.forget-password:hover{
    color: rgba(255, 255, 255, .6);
}
.user{
    background-image: url(../i/media/ic_user.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: 6px 10px;
}
.password{
    background-image: url(../i/media/ic_key.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: 6px 10px;
}












