.pageWrap {
    position: relative;
    height: 100%;
    background-color: #F5F6FA;
    font-family: PingFangSC-Regular;
    min-width: 800px;
}
.pageWrap .header {
    position: absolute;
    top:0;
    height: 56px;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.50);
    margin: 0;
    z-index: 99;
    min-width: 800px;
}
.pageWrap .footer {
    position: absolute;
    bottom: 0;
    height: 60px;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.20);
    margin: 0;
    padding: 0;
    min-width: 800px;
}
.content-wrap{
    position: absolute;
    top: 0px;
    bottom: 60px;
    width: 100%;
    min-width: 800px;
    overflow: auto;
}
.content{
    margin-left: 150px;
}
.preview-wrap{
    position: fixed;
    right: 180px;
    bottom: 70px;
    width: 242px;
    height: 507px;
    background: url(../i/media/iphone.png);
}
#panoShow,
#appContainer{
    width: 209px;
    height: 375px;
    /*position: relative;*/
}

@media screen and (max-width: 1190px) {
    .content{
        margin-left: 2%;
    }
    .preview-wrap{
        right: 2%;
    }
}
@media screen and (max-width: 880px) {
    .preview-wrap{
        display: none;
    }
    .form-box{
        margin: 0 auto;
    }
}
.preview-box{
    width: 209px;
    margin: 68px 16px;
    overflow: hidden;
    position: relative;
}
.feature-box{
    position: absolute;
    top: 0;
    width: 209px;
}
.feature-box .feature-icon{
    float: right;
    display: none;
    width: 12px;
    margin-right: 10px;
}
.feature-box .feature-icon img{
    width: 100%;
}
.show-logo{
    margin: 10px;
    max-width: 100px;
}


.form-box{
    width: 600px;
    margin-bottom: 31px;
    background-color: #F5F6FA;
}
.form-section{
    padding: 25px 23px 30px 20px;
    margin-top: 20px;
    background-color: #fff;
}
.form-section h3{
    font-family: PingFangSC-Medium;
    font-size: 20px;
    color: #2E2E2E;
    line-height: 20px;
}
.form-item{
    margin-top: 25px;
}
.form-item .switch{
    float: right;
    margin-top: 16px;
}
.form-item .name{
    font-size: 14px;
    color: #2E2E2E;
    line-height: 20px;
    margin-bottom: 4px;
}
.form-item .desc{
    font-size: 14px;
    color: #707070;
    line-height: 14px;
}
.divide-line{
    width: 500px;
    height: 0;
    border-bottom: 1px solid #d8d8d8;
    margin-top: 20px;
    margin-bottom: -5px;
}

input.upload{
    display: none;
}
.upload-add{
    width: 108px;
}
.form-section .ipt{
    width: 500px;
    font-size: 14px;
}
.audio-player{
    width: 180px;
    height: 90px;
    background-color: #fafafa;
    border: 1px solid #d8d8d8;
    border-radius: 3px;
    text-align: center;
}
.audio-player img{
    width: 25px;
    margin: 20px auto 16px;
    cursor: pointer;
}
.audio-player p{
    border-top: 1px solid #d8d8d8;
    font-size: 12px;
    line-height: 29px;
}
.cover-box{
    position: relative;
    display: inline-block;
    margin-top: 20px;
    background-position: center;
    background-size: cover;
}
.pc{
    width: 373px;
    height: 210px;
    margin-top: 50px;
    background-color: #EDEFF2;
    text-align: center;
}
.pc.edit,
.edit + .pc{
    margin-bottom: 20px;
}
.mobi{
    width: 117px;
    height: 210px;
    margin-left: 8px; 
    margin-right: 56px;
    margin-top: 50px;
    float: right;
    background-color: #EDEFF2;
    text-align: center;
}
.mobi .upload-add{
    width: 80px;
}
.tip{
    position: absolute;
    top: -22px;
    width: 373px;
    text-align: center;
    color: #707070;
}
.mobi .tip{
    left: -1px;
    top: -40px;
    width: 120px;
}
.title{
    font-size: 14px;
    color: #707070;
    margin: 73px auto 36px;
}
.edit-operate{
    position: absolute;
    right: -56px;
    bottom: -2px;
    width: 45px;
}
.pc .edit-operate,
.mobi .edit-operate{
    width: auto;
    right: 0;
    bottom: -30px;
}
.preview-img{
    width: 150px;
    /*height: 150px;*/
}
.pc .preview-img,
.mobi .preview-img{
    width: 100%;
}
.upload-edit,
.delete{
    color: #0288D1;
    font-weight: normal;
    cursor: pointer;
    margin: 0;
}
.upload-edit:hover{
    color: #2a6496;
    text-decoration: underline;
}
.preview-img,
.edit-operate,
.audio-player{
    display: none;
}
.edit .upload-add,
.edit .title{
    display: none;
}
.edit .edit-operate,
.edit .preview-img,
.edit .audio-player{
    display: inline-block;
}

.switch{
    margin: 10px;
    width: 34px;
    height: 14px;
    background-color: rgba(34,31,31,0.26);
    border-radius: 8px;
}
.switch input{
    display: none;
}
.switch::before{
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    margin-top: -3px;
    margin-left: -2px;
    background-color: #F1F1F1;
    box-shadow: 0 0 1px 0 rgba(0,0,0,0.12), 0 1px 1px 0 rgba(0,0,0,0.24);
    -webkit-transition: margin-left ease-in-out .15s,background-color ease-in-out .15s;
    transition: margin-left ease-in-out .15s,background-color ease-in-out .15s;
}
.checked{
    background: rgba(2, 136, 209, .5);
}
.checked::before{
    background-color: #0288D1;
    margin-left: 17px;
}

.btn-right{
    line-height: 60px;
    float: right;
    margin-right: 30px;
}
.btn-right .btn{
    margin-left: 10px;
}
.btn-right .btn-main{
    width: 108px;
}
.btn-right .btn-common{
    width: 80px;
    text-align: center;
    padding: 0;
}