/* #previewAct */
.breadcrumb{
    display: none;
    background-color: #fff;
    padding-left: 0px;
}
.breadcrumb li{
    color: #428bca;
}
.edit-btn{
    font-size: 18px;
    height: 27px;
    line-height: 27px;
    border-radius: 3px;
    font-weight: 100;
    padding: 0 4px;
    margin: 4px;
    color: #428bca;
    border: 1px solid #428bca;
    display: inline-block;
    float: right;
}
.edit-btn:hover{
  text-decoration: none;
  color: #fff;
  background-color: #428bca;
}
.preview-show{
    float: left;
    width: 245px;
    height: 500px;
    margin-right: 40px;
    position: relative;
    background: url('../i/common/iphone6.png') no-repeat;
}
.preview-content{
    position: absolute;
    top: 114px;
    left: 28px;
}
.preview-content2{
    display: none;
}
#changeType{
    display: none;
}
.nav-tabs{
    display: block;
    width: 190px;
    position: absolute;
    top: 75px;
    left: 30px;
}
.nav-tabs>li>a {
    padding: 6px 4px 3px;
    line-height: 20px;
    border: 1px solid transparent;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}
.nav-tabs>li>a:hover{
    text-decoration: none;
}
.preview-qrcode{
    width: 190px;
    height: 190px;
    background: #000;
}
.preview-content > p {
    margin: 10px 6px 0px;
    color: #428bca;
}
.preview-content > a {
    display: block;
    width: 190px;
    word-wrap:break-word;
    margin-left: 6px;
    font-size: 12px;
    color: #428bca;
}
.preview-detail{
    color: #428bca;
    min-height: 500px;
    margin-left: 285px;
}
.preview-detail > p{
    font-size: 16px;
    font-weight: 500;
    height: 50px;
    color: #757575;
}
.preview-detail .act-preview{
    margin-bottom: 15px;
    line-height: 20px;
}
.preview-detail .act-title{
    font-size: 16px;
    font-weight: 500;
    width: 155px;
    color: #757575;
    text-align: right;
    display: inline-block;
    position: absolute;
}
.preview-detail .act-msg{
    display: inline-block;
    margin-left: 160px;
    font-size: 16px;
}
.btn-box{
    margin-top: 130px;
}
.btn-box a{
    display: inline-block;
}
#actDetail{
    display: block;
}
/*#returnIndex,
#stopAct,
#lanchAct,*/
.go-qrcode{
    display: none;
}
#previewAct .non-act{
    display: inline-block;
    background: #ddd;
    border-color: #ddd;
    cursor: not-allowed;
}
#qrCodeImg{
    width: 200px;
}