@charset "utf-8";
/**
 * @description: 发起活动类型
 * @author: Black
 * @update:20160927
 */
 .btn-list{
 	width: 877px;
 	overflow: hidden;
 }

 .btn-actives{
 	display: block;
 	width: 180px;
	height: 100px;
	border-radius: 6px;
	background-color: #75aad9;
	margin-right: 37px;
	margin-bottom: 30px;
	float: left;
	text-decoration: none;
	position: relative;
 }
.btn-actives p{
	margin-top: 30px;
	height: 40px;
	line-height: 40px;
  	font-family: PingFangSC;
  	font-size: 20px;
  	font-weight: 500;
  	text-align: center;
  	color: #ffffff;
 }
 .btn-actives p span{
 	display: block;
 	height: 40px;
	line-height: 40px;
	float: left;
 }
 .btn-actives p span:first-child{
 	margin-left: 30px;
 	margin-top: 3px;
 }
 .btn-actives p span:last-child{
 	margin-left: 10px;
 }
 .icon-actives-click{
 	position: absolute;
 	right: 11px;
 	top: 8px;
 	display: none;
 }
 .chicked{
 	background-color: #428ac9!important;
 }
 .chicked >  .icon-actives-click{
    display: inline-block;
 }
.next{
	margin-top: 200px;
	width: 110px;
  	height: 32px;
  	border-radius: 5px;
 	background-color: #428bca;
  	border: solid 1px #357ebd;
  	margin-left:375px ;
  	color: #ffffff;
  	cursor: pointer;
}
.next p{
	height: 32px;
	line-height: 32px;
	font-family: PingFangSC;
  	font-size: 18px;
  	font-weight: normal;
  	font-style: normal;
  	font-stretch: normal;
  	text-align: center;

}
.btn-iframe{
    margin-bottom: 10px;
    margin-right: 20px;
    margin-top: -35px;
    display: none;
}
