.sign{
    color: #757575;
    padding-left: 125px;
    padding-right: 125px;
    font-size: 16px;
}
.limit-type,
.limit-one{
    text-align: center;
    margin-bottom: 20px;
}
.form-control{
    width: 571px;
    display: inline-block;
}
.form-label{
    color: #757575;
    font-weight: normal;
    width: 110px;
    text-align: right;
}
.limit-type .form-control{
    width: 335px;
}
.limit-type .form-label{
    width: 150px;
}
.tip-msg{
    font-size: 14px;
    color: #acacac;
    margin-bottom: 60px;
}
.form-textarea{
    margin-top: 10px;
    margin-left: 115px;
    resize: none;
}
.banner-img{
    width: 300px;
}
#uploadImg{
    display: none;
}
.resource{
    width: 160px;
}
.limit-two{
    display: none;
}
.show-img{
    display: none;
    margin-left: 116px;
    margin-top: 10px;
}
.show-img > img{
    width: 386px;
}
.alert-warning{
    display: none;
    padding: 5px 15px;
    width: 388px;
    margin-left: 115px;
}