.survey{
    padding-left: 140px; 
    padding-right: 140px; 
}
#surveyBox{
    color: #757575;
}
#survey > .form-group{
    margin-right: 60px;
}
#surveyBox .btn-box{
    position: relative;
    bottom: 0px;
}
textarea{
    resize: none;
}
.survey-list .form-control{
    display: inline-block;
    width: 150px;
    height: 26px;
}
.form-label{
    font-size: 16px;
    font-weight: normal;
    margin-right: 20px;
    color: #acacac;
    margin-bottom: 0px;
    vertical-align: middle;
}
.survey-list label{
    font-weight: normal;
}
.survey-title{
    color: #757575;
}
.survey-head{
    text-align: center;
    color: #428bca;
    font-weight: normal;
    line-height: 30px;
    margin-bottom: 20px;
}
.survey-order{
    float: left;
}

.survey-list{
    margin-top: 40px;
}
.survey-sets,
.survey-item{
    margin: 20px 0;
}

.survey-row > .title,
.survey-row > .remark{
    width: 300px;
}

.survey-item .form-control,
.survey-item .save,
.survey-item .del,
.survey-item .add,
.survey-item .required-label{
    display: none;
}
.edit-item .show-text,
.edit-item .edit,
.edit-item .show-required{
    display: none;
}
.edit-item .form-control,
.edit-item .save,
.edit-item .del,
.edit-item .add,
.edit-item .form-control,
.edit-item .required-label{
    display: inline-block;
}

.survey-center{
    margin-right: 60px;
    border: 1px dashed #979797;
    padding: 0 10px 0 25px;
    overflow: hidden;
}
.survey-row{
    margin: 10px 0;
    overflow: hidden;
    height: 30px;
    line-height: 30px;
}

.survey-center .edit,
.survey-center .delete,
.survey-center .save{
    height: 26px;
    line-height: 12px;
    float: right;
}
.survey-item .option,
.survey-item .operate{
    padding-left: 78px;
    margin-bottom: 0;
}
.operate label{
    margin-left: 10px;
    color: #428bca;
}
.operate label:first-child{
    margin-left: 0;
}
.operate .form-control{
    text-align: right;
    width: 40px;
    margin-left: 4px;
}
/*.survey-item .add{
    padding-left: 84px;
}*/
.survey-item .required-label input{
    margin-top: 0;
    margin-right: 6px;
}
.option .glyphicon{
    padding-right: 10px;
}
.add-option{
    padding-right: 10px;
}
.disabled{
    color: rgba(99, 153, 208, 0.66);
    cursor: not-allowed;
}
.disabled:hover{
    text-decoration: none;
}
.glyphicon-trash{
    color: #757575;
    font-size: 16px;
}
.add-survey-item{
    margin-bottom: 20px;
    display: inline-block;
}
.survey-right{
    float: right;
}
.survey-right .btn{
    display: block;
}
.add-item:hover .select-type{
    display: inline-block;
}
.select-type{
    display: none;
    margin-left: 10px;
}
.input-tip{
    margin-left: 10px;
    font-size: 12px;
    color: #acacac;
}