.userlist .form-inline .form-control{
    width: 160px;
}
.userlist .form-group{
    margin-bottom: 10px;
}
.userlist .table{
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.userlist .cemp-btn{
    line-height: 20px;
    height: 20px;
    margin: 10px 0px;
    font-size: 14px;
    padding: 0px 3px;
}
#searchList,
#clearList{
    margin: 0px 6px;
    display: inline-block;
    vertical-align: middle;
    line-height: 34px;
}
.input-check{
    cursor: pointer;
}
.pagination-container{
    margin-top: 60px;
    text-align: center;
}
.pagination-container .page{
    display: inline-block;
    overflow: hidden;
}
#dataList td img{
    width: 80px;
}
#dataList td{
    max-width: 102px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.act-title{
    margin-top: -20px;
    margin-bottom: 20px;
}