.btn-reverse{
    font-size: 16px;
    height: 25px;
    line-height: 25px;
    border-radius: 3px;
    font-weight: 100;
    padding: 0 8px;
    margin: 4px;
    color: #428bca;
    border: 1px solid #428bca;
    background-color: #fff;
    display: inline-block;
}
.btn-reverse:hover{
    text-decoration: none;
    color: #fff;
    background-color: #428bca;
}

.import-box{
    float: right;
}
.import-box > .btn-reverse{
    font-size: 18px;
    height: 25px;
    line-height: 25px;
}
.option-box{
    margin: 10px 0px;
    clear: both;
}
.option-box > .cemp-btn{
    font-size: 12px;
    padding: 0 4px;
    height: 20px;
    line-height: 20px;
}
#zanList img {
    width: 30px;
}
#zanList .img-link{
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
}
#zanList .description{
    width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#zanList .btn-reverse{
    font-size: 12px;
    padding: 0 4px;
    line-height: 18px;
    height: 18px;
}
.left-panel{
    float: left;
    width: 45%;
}
.right-panel{
    float: right;
    width: 45%;
}
.modal{
    z-index: 999;
}
.modal-dialog{
    margin-top: 90px;
    width: 960px;
    z-index: 1050;
}
.modal .form-horizontal{
    padding: 35px;
    overflow: hidden;
}
.import-step{
    margin: 50px 100px;
    font-size: 16px;
}
.import-step > p{
    line-height: 22px;
    margin-bottom: 26px;
}
.step-1{
    margin-left: 56px;
    margin-bottom: 30px;
}
.step-2{
    margin-left: 48px;
    margin-bottom: 30px;
}
.control-label{
    text-align: right;
}
#discription{
    resize: none;
}
#formList .table{
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
#showImg{
    display: none;
    width: 100%;
    margin: 10px 0;
}
#showHead{
    display: none;
    width: 125px;
    margin: 10px 0;
}
#importManualBox input[type="file"]{
    display: none;
}
#headImgUrl,
#imgurl{
    width: 194px;
    display: inline-block;
}
.down-template{
    display: inline-block;
}
.down-template:hover{
    text-decoration: none;
}
.head-img{
    width: 50px;
}
.upload-img{
    width: 100px;
}
#sourceList .description{
    width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.pagination-container{
    overflow: hidden;
}
.search-form{
    margin-bottom: 20px;
}