.footerNav{
    border-top: 1px solid #e0e0e0;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: #fff;
}
.footerNav .footer{
    margin: 4px 5% 0;
}
.footerNav .footer i{
    display: block;
    width: 26px;
    height: 26px;
    margin: 0 auto; background: url("../../imgs/footer.png");
}
.footerNav .footer i.one{ background-position: 0 0;}
.footerNav .footer i.two{ background-position: 0 -26px;}
.footerNav .footer i.three{ background-position: 0 -52px;}
.footerNav .footer.active i.one{ background-position: -26px 0;}
.footerNav .footer.active i.two{ background-position: -26px -26px;}
.footerNav .footer.active i.three{ background-position: -26px -52px;}

.footerNav .footer a{
    display: block;
}
.footerNav .footer p{
    color: #617084;
    font-size: 14px;
}