@keyframes bird_bg{
    to{fill:#A4C5EA;}
}
/* 定义bird的背景色 */

@keyframes bird1{
    to{d:path('M641.7,165.6L765.7,212.6L711.7,139.6z');fill:#DA5336;}
}
@keyframes bird2{
    to{d:path('M682.2,124L765.9,212.8L785.5,121.5z');fill:#CB4C3A;}
}
@keyframes bird3{
    to{d:path('M785.5,121.5L765.9,212.8L789.5,183.5z');fill:#E5DA8D;}
}
@keyframes bird4{
    to{d:path('M697.8,225.1L765.5,212.5L728,198.1z');fill:#BC4212;}
}
@keyframes bird5{
    to{d:path('M717.5,221.5L764.5,238.5L765.5,212.5z');fill:#CC9062;}
}
@keyframes bird6{
    to{d:path('M821.5,218.5L810.5,234.5L835.5,234.5z');fill:#3A2228;}
}
@keyframes bird7{
    to{d:path('M765.5,212.5L763.5,239.5L831.5,248.5z');fill:#E7BC65;}
}
@keyframes bird8{
    to{d:path('M787.8,183.5L765.9,212.8L846.5,218.5z');fill:#DFCD84;}
}
@keyframes bird9{
    to{d:path('M185.5,576.5L434.5,443.5L382.5,420.5z');fill:#EEE5D9;}
}
@keyframes bird10{
    to{d:path('M274.5,486.5L383.5,422.5L320.5,442.5z');fill:#32281D;}
}
@keyframes bird11{
    to{d:path('M294.5,453.5L543.9,370.2L439,323z');fill:#3C3329;}
}
@keyframes bird12{
    to{d:path('M461.5,544.5L481.5,559.5L639.5,458.5z');fill:#4A3042;}
}
@keyframes bird13{
    to{d:path('M387,424L496.5,478.5L505.5,414.5z');fill:#DDD7C9;}
}
@keyframes bird14{
    to{d:path('M647.5,402.5L620.5,418.5L502,414.5z');fill:#EEE5D9;}
}
@keyframes bird15{
    to{d:path('M620.5,418.5L491.5,491.5L500,414.5z');fill:#F4FBF3;}
}
@keyframes bird16{
    to{d:path('M564.5,555.5L568.4,533.4L554.5,520.5z');fill:#744A0F;}
}
@keyframes bird17{
    to{d:path('M440.5,616.5L481.2,559.3L462.2,544.8z');fill:#3A2228;}
}
@keyframes bird18{
    to{d:path('M505.5,482.5L568.5,533.5L520.5,474.5z');fill:#D65100;}
}
@keyframes bird19{
    to{d:path('M521.5,473.5L588.5,511.5L536.5,465.5z');fill:#AE441C;}
}
@keyframes bird20{
    to{d:path('M501.5,525.5L537.1,508.1L529.2,501.7z');fill:#931F00;}
}
@keyframes bird21{
    to{d:path('M586.2,531.9L588.5,511.5L572.5,502.4z');fill:#931F00;}
}
@keyframes bird22{
    to{d:path('M376.9,426.1L635.5,404.5L543,368z');fill:#302717;}
}
@keyframes bird23{
    to{d:path('M433.1,325.3L595.5,263.5L480.5,272.5z');fill:#564A42;}
}
@keyframes bird24{
    to{d:path('M439,323L544.5,370.5L593.5,263.5z');fill:#4B413B;}
}
@keyframes bird25{
    to{d:path('M593.5,263.5L637.5,279.7L603.5,179.5z');fill:#302717;}
}
@keyframes bird26{
    to{d:path('M637.5,280.5L728,198.1L641.5,165.5z');fill:#C34A2A;}
}
@keyframes bird27{
    to{d:path('M638.5,279.5L718.5,307.5L676.5,244.5z');fill:#D2664A;}
}
@keyframes bird28{
    to{d:path('M676.5,244.5L718.5,307.5L698.5,224.5z');fill:#D07D5D;}
}
@keyframes bird29{
    to{d:path('M616.5,218.5L641.5,165.5L603.2,178.8z');fill:#4B3225;}
}
@keyframes bird30{
    to{d:path('M637.5,280.5L641.5,165.5L616.5,218.5z');fill:#A42613;}
}
@keyframes bird31{
    to{d:path('M593.5,263.5L543.7,370.5L718.5,307.5z');fill:#564A42;}
}
@keyframes bird32{
    to{d:path('M594.5,182.5L701.8,144.7L672.2,106.8z');fill:#452D1F;}
}
@keyframes bird33{
    to{d:path('M718.5,307.5L545,370.1L652.5,411.5z');fill:#4B413B;}
}
/* ******************************************************************************************************** */

@keyframes whale_bg{
    to{fill:#73DBE0;}
}
/* 定义whale的背景色 */

@keyframes whale1{
    to{d:path('M259,143.3L239.5,169L280.7,160.7z');fill:#FFFFFF;}
}
@keyframes whale2{
    to{d:path('M854.2,196.7L828.4,192.9L843.3,211.7z');fill:#FFFFFF;}
}
@keyframes whale3{
    to{d:path('M583.5,119.9L570.5,127.8L604.8,129.2z');fill:#FFFFFF;}
}
@keyframes whale4{
    to{d:path('M306.3,458.6L395.5,506.5L359.5,456.5z');fill:#0D1417;}
}
@keyframes whale5{
    to{d:path('M210.5,362.5L170.5,444.5L239.5,366.5z');fill:#3C4650;}
}
@keyframes whale6{
    to{d:path('M213.5,419.5L239.5,366.5L170.5,444.5z');fill:#0F1622;}
}
@keyframes whale7{
    to{d:path('M201.5,443.5L213.5,419.5L170.5,444.5z');fill:#D9EADF;}
}
@keyframes whale8{
    to{d:path('M169.5,454.5L170.5,444.5L201.5,443.5z');fill:#334543;}
}
@keyframes whale9{
    to{d:path('M188.5,462.5L169.5,454.5L201.5,443.5z');fill:#111619;}
}
@keyframes whale10{
    to{d:path('M359.5,457L201.5,443.5L188.5,462.5z');fill:#D9EBEB;}
}
@keyframes whale11{
    to{d:path('M239.5,424.5L222,445.6L359.5,457z');fill:#BDD0D0;}
}
@keyframes whale12{
    to{d:path('M239.5,424.5L201.5,443.5L213.5,419.5z');fill:#333C40;}
}
@keyframes whale13{
    to{d:path('M201.5,443.5L221.5,445.5L239.5,424.5z');fill:#1C2529;}
}
@keyframes whale14{
    to{d:path('M239.5,365.5L239.5,424.5L213.5,419.5z');fill:#62827F;}
}
@keyframes whale15{
    to{d:path('M395.5,296.5L239.5,366.5L210.5,362.5z');fill:#273537;}
}
@keyframes whale16{
    to{d:path('M397.5,329.5L239.5,424.5L239.5,366.5z');fill:#486461;}
}
@keyframes whale17{
    to{d:path('M570.5,307.5L239.5,366.5L423.5,283.5z');fill:#384E4D;}
}
@keyframes whale18{
    to{d:path('M582.5,397.5L397.5,329.5L369.5,381.5z');fill:#739998;}
}
@keyframes whale19{
    to{d:path('M239.5,424.5L369.5,381.5L397.5,329.5z');fill:#62827F;}
}
@keyframes whale20{
    to{d:path('M359.5,457L369.5,381.5L239.5,424.5z');fill:#AAC7C6;}
}
@keyframes whale21{
    to{d:path('M545.5,459.5L369.5,381.5L359.5,456.5z');fill:#D9EBEB;}
}
@keyframes whale22{
    to{d:path('M545.5,459.5L582.5,397.5L369.5,381.5z');fill:#D8E2DE;}
}
@keyframes whale23{
    to{d:path('M709.5,381.5L582.5,397.5L545.5,459.5z');fill:#C0DBD3;}
}
@keyframes whale24{
    to{d:path('M546.2,336.5L397.4,329.6L582.5,397.5z');fill:#486461;}
}
@keyframes whale25{
    to{d:path('M570.5,307.5L546,337L582.5,397.5z');fill:#384E4D;}
}
@keyframes whale26{
    to{d:path('M546,337L570.5,307.5L397.6,329.5z');fill:#415555;}
}
@keyframes whale27{
    to{d:path('M709.5,380.5L570.5,307.5L582.5,397.5z');fill:#4B6364;}
}
@keyframes whale28{
    to{d:path('M773.5,340.5L709.5,380.5L570.5,307.5z');fill:#2D3B3B;}
}
@keyframes whale29{
    to{d:path('M479.5,303.5L391.9,298.1L482.5,225.5z');fill:#2D3B3B;}
}
@keyframes whale30{
    to{d:path('M885.5,326.5L736.5,345.5L797.5,323.5z');fill:#365255;}
}
@keyframes whale31{
    to{d:path('M820.5,355.5L885.5,326.5L738.8,345.2z');fill:#678781;}
}
@keyframes whale32{
    to{d:path('M415.5,444.5L424.6,487L316.5,426.5z');fill:#334543;}
}
@keyframes whale33{
    to{d:path('M425.5,487.5L316.5,426.5L462.5,529.5z');fill:#21282F;}
}

/* ******************************************************************************************************** */
@keyframes frog_bg{
    to{fill: #ffcffc;}
}
/* 定义frog的背景色 */

@keyframes frog1{
    to{d:path('M506,586.5L783,577.5L261,459.5z');fill:#4E9F73;}
}
@keyframes frog2{
    to{d:path('M783,577.5L261,459.5L575,450.5z');fill:#3B6F4B;}
}
@keyframes frog3{
    to{d:path('M268.5,210L274.5,250L326.4,219.7z');fill:#FEDD48;}
}
@keyframes frog4{
    to{d:path('M362,198.2L371,324.5L274.5,250z');fill:#F1C83A;}
}
@keyframes frog5{
    to{d:path('M439,265.5L371,324.5L362,199.5z');fill:#E7C041;}
}
@keyframes frog6{
    to{d:path('M406,201.5L439,265.5L362,199.5z');fill:#FDD558;}
}
@keyframes frog7{
    to{d:path('M324,242.5L384,259.5L362.8,205.8z');fill:#F5E58E;}
}
@keyframes frog8{
    to{d:path('M368,178.5L305.3,198.4L406,201.5z');fill:#FFF891;}
}
@keyframes frog9{
    to{d:path('M562.5,286.1L439,265.5L406,201.5z');fill:#F1EB7C;}
}
@keyframes frog10{
    to{d:path('M440,347.5L371,324.5L439,265.5z');fill:#FACA34;}
}
@keyframes frog11{
    to{d:path('M526.5,384.1L534,473.5L442,389.4z');fill:#E6BF2B;}
}
@keyframes frog12{
    to{d:path('M666.5,427.1L533.5,474.1L526.5,384.1z');fill:#F3CD37;}
}
@keyframes frog13{
    to{d:path('M526.5,384.1L439,265.5L440,400z');fill:#FED63C;}
}
@keyframes frog14{
    to{d:path('M562.5,286.1L526.5,384.1L439,265.5z');fill:#F9E049;}
}
@keyframes frog15{
    to{d:path('M562.5,286.1L526.5,384.1L666.5,427.1z');fill:#FEEC63;}
}
@keyframes frog16{
    to{d:path('M553,549.5L667,426.5L534,473.5z');fill:#F9DB35;}
}
@keyframes frog17{
    to{d:path('M721,459.5L572.1,528.9L645,450.2z');fill:#986E19;}
}
@keyframes frog18{
    to{d:path('M655,568.5L588,558.5L743,487.5z');fill:#FDDA54;}
}
@keyframes frog19{
    to{d:path('M497,493.5L356,483.5L428.4,504.7z');fill:#2C2924;}
}
@keyframes frog20{
    to{d:path('M287,531.5L307.3,483.5L261,459.5z');fill:#1D3246;}
}
@keyframes frog21{
    to{d:path('M530,563.5L649.4,567.7L588,558.5z');fill:#2C2924;}
}
@keyframes frog22{
    to{d:path('M534,473.5L371,324.5L445,437.5z');fill:#70540E;}
}
@keyframes frog23{
    to{d:path('M497,426.5L440,347.5L394,372.5z');fill:#F0EA75;}
}
@keyframes frog24{
    to{d:path('M394,372.5L371,324.5L440,347.5z');fill:#FBD942;}
}
@keyframes frog25{
    to{d:path('M387.5,492.7L497,426.5L459.7,406.9z');fill:#D8C533;}
}
@keyframes frog26{
    to{d:path('M428.4,504.7L497,426.5L387.5,492.7z');fill:#BDA126;}
}
@keyframes frog27{
    to{d:path('M743,487.5L553,549.5L621.2,475.9z');fill:#FAC62D;}
}
@keyframes frog28{
    to{d:path('M317,194.5L269.6,210.2L326.4,219.7z');fill:#FDD34D;}
}
@keyframes frog29{
    to{d:path('M317.1,194.7L362,200.1L326.4,219.7z');fill:#F3E66B;}
}
@keyframes frog30{
    to{d:path('M290,277L274.5,250L371,324.5z');fill:#CFAD2D;}
}
@keyframes frog31{
    to{d:path('M343,270.5L324,242.5L384,259.5z');fill:#3F3939;}
}
@keyframes frog32{
    to{d:path('M357,230.5L324,242.5L384,259.5z');fill:#4E4D4F;}
}
@keyframes frog33{
    to{d:path('M347,238.5L339,240.5L343,245.5z');fill:#FFFFFF;}
}


/* ******************************************************************************************************** */


@keyframes sheep_bg{
    to{fill: #87ccc4;}
}
/* 定义sheep的背景色 */

@keyframes sheep1{
    to{d:path('M377,293L319.3,344L496.7,308.7z');fill:#F1E0D2;}
}
@keyframes sheep2{
    to{d:path('M524,393.7L496.7,308.7L417.2,407.4z');fill:#E9DCC4;}
}
@keyframes sheep3{
    to{d:path('M456,470L387,432.3L416,405z');fill:#888172;}
}
@keyframes sheep4{
    to{d:path('M414.3,402.3L524,393.7L456,470z');fill:#CFBA91;}
}
@keyframes sheep5{
    to{d:path('M564.3,459.7L456,470L524,393.7z');fill:#BAAE96;}
}
@keyframes sheep6{
    to{d:path('M367,569.7L391,428.6L352.3,461z');fill:#867367;}
}
@keyframes sheep7{
    to{d:path('M327.3,569.7L355.7,458.1L311,494.7z');fill:#F2E1C5;}
}
@keyframes sheep8{
    to{d:path('M320.9,414.9L403.6,419.8L311,494.7z');fill:#DACAAB;}
}
@keyframes sheep9{
    to{d:path('M319.3,344L403.6,419.8L320.9,414.9z');fill:#B6937B;}
}
@keyframes sheep10{
    to{d:path('M603.2,307.7L524,393.7L496.7,308.7z');fill:#EBE1CB;}
}
@keyframes sheep11{
    to{d:path('M551.5,290L496.7,308.7L603.2,307.7z');fill:#F3EADF;}
}
@keyframes sheep12{
    to{d:path('M600.5,413.3L603.2,307.7L524,393.7z');fill:#DDCFB7;}
}
@keyframes sheep13{
    to{d:path('M640.7,435.7L603.2,307.7L599.3,450.1z');fill:#78523B;}
}
@keyframes sheep14{
    to{d:path('M586.7,572L598.8,512.8L580.9,484.4z');fill:#A89F92;}
}
@keyframes sheep15{
    to{d:path('M697,303.5L640.7,435.7L603.2,307.7z');fill:#825D48;}
}
@keyframes sheep16{
    to{d:path('M668,240L697,303.5L603.2,307.7z');fill:#A2785C;}
}
@keyframes sheep17{
    to{d:path('M700,237.3L697,303.5L668,240z');fill:#B98D5D;}
}
@keyframes sheep18{
    to{d:path('M669.3,209.8L674.8,240L693.5,237.8z');fill:#776244;}
}
@keyframes sheep19{
    to{d:path('M717.7,305.3L640.7,435.7L697,303.5z');fill:#634C39;}
}
@keyframes sheep20{
    to{d:path('M775.4,318.3L714.5,287.8L697,303.5z');fill:#AFA491;}
}
@keyframes sheep21{
    to{d:path('M778.2,296.3L714.6,287.8L776.7,319.2z');fill:#B4ABA0;}
}
@keyframes sheep22{
    to{d:path('M741,264.2L714.5,287.8L778.2,296.3z');fill:#D2C9C1;}
}
@keyframes sheep23{
    to{d:path('M700,222.3L741,264.2L697,303.5z');fill:#ECE1D5;}
}
@keyframes sheep24{
    to{d:path('M655.3,158.9L692.6,234.6L705.7,223.5z');fill:#514C49;}
}
@keyframes sheep25{
    to{d:path('M522.8,126L661.7,171.8L655,158.3z');fill:#312F34;}
}
@keyframes sheep26{
    to{d:path('M437.8,155.8L522.8,126L542.3,130.8z');fill:#272220;}
}
@keyframes sheep27{
    to{d:path('M603.2,572L622.4,441.9L588.3,454z');fill:#8A7B63;}
}
@keyframes sheep28{
    to{d:path('M596.9,521.9L600.5,413.3L524,393.7z');fill:#EBE1CB;}
}
@keyframes sheep29{
    to{d:path('M405.7,421.7L319.3,344L496.7,308.7z');fill:#DACEBD;}
}
@keyframes sheep30{
    to{d:path('M729.3,202.8L688.5,238.2L706.7,237.4z');fill:#C8C0B9;}
}
@keyframes sheep31{
    to{d:path('M729.3,501.7L726.3,572L736.2,572z');fill:#9CEFE5;}
}
@keyframes sheep32{
    to{d:path('M732.6,457.8L742.9,468.3L739.3,572z');fill:#A9FFCE;}
}
@keyframes sheep33{
    to{d:path('M744,570L744,511.8L750,572z');fill:#B0FFB2;}
}
/* ******************************************************************************************************** */


#p_bg{
    fill:#4e4d5b;
    animation:bird_bg 2s ease both;}

#p1{
    d:path('M676,284L646,433L656,209z');fill:#FED581;
    animation:bird1 2s ease both;
}

#p2{
    d:path('M656,209L650,348L619,382z');fill:#FCB039;
    animation:bird2 2s ease both;
}

#p3{
    d:path('M701,212L676,284L656,209z');fill:#FDC25C;
    animation:bird3 2s ease both;
}

#p4{
    d:path('M735,382L676,284L713,273z');fill:#FDC562;
    animation:bird4 2s ease both;
}

#p5{
    d:path('M713,273L676,284L701,212z');fill:#FED785;
    animation:bird5 2s ease both;
}

#p6{
    d:path('M541,209L558,300L599,212z');fill:#FFE8A6;
    animation:bird6 2s ease both;
}

#p7{
    d:path('M558,300L581,433L599,212z');fill:#FEE19A;
    animation:bird7 2s ease both;
}

#p8{
    d:path('M599,212L581,433L619,382z');fill:#FED581;
    animation:bird8 2s ease both;
}

#p9{
    d:path('M790,324L812,211L762,209z');fill:#FA9402;
    animation:bird9 2s ease both;
}

#p10{
    d:path('M772,433L790,324L762,209z');fill:#FCBE54;
    animation:bird10 2s ease both;
}

#p11{
    d:path('M706,433L772,433L735,382z');fill:#FBA92C;
    animation:bird11 2s ease both;
}

#p12{
    d:path('M735,382L772,433L762,209z');fill:#FBA523;
    animation:bird12 2s ease both;
}

#p13{
    d:path('M735,382L706,433L676,284z');fill:#FCB542;
    animation:bird13 2s ease both;
}

#p14{
    d:path('M646,433L581,433L619,382z');fill:#FED179;
    animation:bird14 2s ease both;
}

#p15{
    d:path('M439,256L510,382L507,261z');fill:#FA9402;
    animation:bird15 2s ease both;
}

#p16{
    d:path('M457,367L510,382L439,256z');fill:#FED785;
    animation:bird16 2s ease both;
}

#p17{
    d:path('M336,249L318,319L387,211z');fill:#FEDF95;
    animation:bird17 2s ease both;
}

#p18{
    d:path('M455,211L387,211L507,261z');fill:#FCB039;
    animation:bird18 2s ease both;
}

#p19{
    d:path('M507,261L387,211L439,256z');fill:#FCB644;
    animation:bird19 2s ease both;
}

#p20{
    d:path('M384,372L420,438L457,367z');fill:#FCBE54;
    animation:bird20 2s ease both;
}

#p21{
    d:path('M318,319L339,397L384,372z');fill:#FFE8A7;
    animation:bird21 2s ease both;
}

#p22{
    d:path('M339,397L420,438L384,372z');fill:#FED47F;
    animation:bird22 2s ease both;
}

#p23{
    d:path('M420,438L510,382L457,367z');fill:#FCAE35;
    animation:bird23 2s ease both;
}

#p24{
    d:path('M439,256L387,211L382,272z');fill:#FDC765;
    animation:bird24 2s ease both;
}

#p25{
    d:path('M387,211L318,319L382,272z');fill:#FED37E;
    animation:bird25 2s ease both;
}

#p26{
    d:path('M382,272L318,319L384,372z');fill:#FEDF95;
    animation:bird26 2s ease both;
}

#p27{
    d:path('M162,431L303,436L216,388z');fill:#FDC562;
    animation:bird27 2s ease both;
}

#p28{
    d:path('M162,211L163,309L215,211z');fill:#FFE8A6;
    animation:bird28 2s ease both;
}

#p29{
    d:path('M215.4,283.5L163,309L215,211z');fill:#FED37E;
    animation:bird29 2s ease both;
}

#p30{
    d:path('M216,388L163,309L215.4,283.5z');fill:#FFE8A6;
    animation:bird30 2s ease both;
}

#p31{
    d:path('M163,309L162,431L216,388z');fill:#FFE1A6;
    animation:bird31 2s ease both;
}

#p32{
    d:path('M216,388L303,436L301,388z');fill:#FBAC32;
    animation:bird32 2s ease both;
}

#p33{
    d:path('M650,348L646,433L619,382z');fill:#FFE1A6;
    animation:bird33 2s ease both;
}





/* 定义gray按钮样式 */
.gray {
    color: #e9e9e9;
    border: solid 1px #555;
    background: #6e6e6e;
    background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#575757));
    background: -moz-linear-gradient(top,  #888,  #575757);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#575757');
}
.gray:hover {
    background: #616161;
    background: -webkit-gradient(linear, left top, left bottom, from(#757575), to(#4b4b4b));
    background: -moz-linear-gradient(top,  #757575,  #4b4b4b);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#757575', endColorstr='#4b4b4b');
}
.gray:active {
    color: #afafaf;
    background: -webkit-gradient(linear, left top, left bottom, from(#575757), to(#888));
    background: -moz-linear-gradient(top,  #575757,  #888);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#575757', endColorstr='#888888');
}
p{margin-left:200px}
.button {
    display: inline-block;
    zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
    *display: inline;
    vertical-align: baseline;
    margin: 5px 2px;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 14px/100% Arial, Helvetica, sans-serif;
    padding: .5em 2em .55em;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
    text-decoration: none;
}
.button:active {
    position: relative;
    top: 1px;
}
