.body{
  padding: 0 12px;
  .search{
    padding: 8px;
    background: #F2F2F5;
    border-radius: 8px;
    display: flex;
    align-items: center;
    >image{
      width: 20px;
      height: 20px;
      display: block;
    }
    >input{
      margin-left: 5px;
      width: 100%;
    }
  }
  .line{
    padding: 12px 0;
    .line_title{
      font-size: 17px;
      color: #484848;
      font-weight: bold;
    }
    .myLine{
      display: flex;
      align-items: center;
      flex-flow: row wrap;
      justify-content: space-between;
      .myLine_li{
        text-align: center;
        padding: 8px 0;
        image{
          width: 90px;
          height: 90px;
          display: block;
        }
        .line_name{
          margin-top: 8px;
          font-size: 11px;
          color: #484848;
        }
      }
    }
    .hotLine{
      .hotLine_li{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px 0 12px 0;
        border-bottom: 1px solid #ededf1;

        .hotLine_imgTwo{
          width: 30px;
          height: 30px;
          display: block;
        }
        .hotLine_li_left{
          display: flex;
          align-items: center;
          .hotLine_imgOne{
            width: 60px;
            height: 60px;
            display: block;
          }
          .hotLine_detail{
            color: #484848;
            font-size: 13px;
            margin: 0 8px;
            .hot_info_tit{
              font-size: 17px;
              font-weight: bold;
            }
            .hot_info_peopleNum{
              font-size: 11px;
              color: #ffffff;
              padding: 0 5px;
              border-radius: 8px;
              background: #499EFF;
              display: inline-block;
            }
            .hot_ingo_synopsis{
              width: 180px;
              overflow: hidden;
              text-overflow:ellipsis;
              white-space: nowrap;
            }
          }
        }
        .isJoined{
          width: 40px;
          height: 20px;
        }
      }
      .hotLine_li:last-child{
        border-bottom: none;
      }
    }
  }
  .release_btn{
    background: linear-gradient(to right, #00C6FF, #4287FF);
    position: fixed;
    bottom: 20px;
    left: calc(50% - 35px);
    color: #ffffff;
    padding: 8px 25px;
    border-radius: 30px;
  }
}
