body {
    background-image: url("../img/homescreen.jpeg");
    backgroud-size:cover;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

body div{
    width: 100%;
    text-align: right;
}

body a{
    width: 64px;
    height: 26px;
    text-align: center;
    color: white;
    font-size: 18px;
    background:inherit
}