html,body {
	margin: 0;
}
.modal-backdrop{
	display: none !important;
}
body {
	padding: 0 0;
	background-color: #fdfdfd!important;
}
.btn-export {
	position: absolute;
	left: 820px;
	top: 72px;
}
.question {
	position: relative;
	margin-left: 20px;
	width: 14px;
	height: 14px;
	border: 1px solid #d1d1d1;
	border-radius: 12px;
	font-size: 12px;
	cursor: pointer;
	color: #d1d1d1;
}
.step-nav {
	position: relative;
	height: 100px;
	margin: 0 auto;
	width: 1100px;
	margin: auto;
}
.nav-img {
	position: absolute;
	left: 24px;
	top: 20px;
	height: 50px;
}
.nav-img .step-item {
	position: relative;
	float: left;
	height: 50px;	
	width: 50px;
	background-color: #ECF0F6;
	margin-right: 90px;
	line-height: 50px;
	color: #838D9B;
	font-size: 26px;
	font-family: cursive;
	text-align: center;
	border-radius: 25px;
	-webkit-box-shadow:inset 2px 2px 4px #D2D6DB;  
  	-moz-box-shadow:inset 2px 2px 4px #D2D6DB;  
  	box-shadow:inset 2px 2px 4px #D2D6DB;  	
}
.nav-img .step-item:after,.nav-img .step-item:before {
	content: '';
	position: absolute;
	top: 19px;
	width: 60px;
	height: 11px;
	background-color: #ECF0F6;
	-webkit-box-shadow: inset 0px 2px 1px #D2D6DB;
	-moz-box-shadow: inset 0px 2px 1px #D2D6DB;
	box-shadow: inset 0px 2px 1px #D2D6DB;
}
.nav-img .step-item:after{
	left: 49px;
}
.nav-img .step-item:before {
	left: -59px;
}
.nav-img .step-item:last-child {
	margin-right: 0;
}
.nav-img .step-item:first-child:before,.nav-img .step-item:last-child:after {
	display: none;
}
.nav-img .step-item.active {
	background-color: #4DB0E2;
	color: #FFF;
	-webkit-box-shadow:inset 2px 2px 4px #4DB0E2;
  	-moz-box-shadow:inset 2px 2px 4px #4DB0E2;
  	box-shadow:inset 2px 2px 4px #4DB0E2;
  	cursor: pointer; 	
}
.nav-img .step-item.active:after,.nav-img .step-item.active:before {
	background-color: #4DB0E2;
	-webkit-box-shadow: inset 0px 2px 1px #4DB0E2;
	-moz-box-shadow: inset 0px 2px 1px #4DB0E2;
	box-shadow: inset 0px 2px 1px #4DB0E2;
}
.nav-img .step-item .focus-circle {
	position: absolute;
	top: 3px;
	left: 3px;
	width: 38px;
	height: 38px;
	background-color: transparent;
	border: 3px solid #4DB0E2;
	border-radius: 24px;
	box-sizing: content-box;
	display: none;
}
.nav-img .step-item.active .focus-circle {
	border: 3px solid #fff;
}
.nav-img .step-item.focus .focus-circle {
	display: block;
}
.step-nav .txt-item {
	position: absolute;
	top: 80px;
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	color: #838d9b;
	font-family: '微软雅黑';
}
.step-nav .txt-1 {
	left: 16px;
}
.step-nav .txt-2 {
	left: 160px;
}
.step-nav .txt-3 {
	left: 302px;
}
.step-nav .txt-4 {
	left: 443px;
}
.step-nav .txt-5 {
	left: 580px;
}
.step-nav .txt-6 {
	left: 715px;
}
.step-nav .txt-7 {
	left: 861px;
}
.step-nav .txt-8 {
	left: 1000px
}
.header .descrip .language {
	color: #4DB0E2;
}
.search {
	width: 300px;
	margin: 40px auto;
}
.new-album-container {
	width: 870px;
	min-height: 302px;				
	margin: 0 auto;
	background-color: #f8f9fa;
	border: 1px solid #e4e4e4;
	font-size: 16px;
	color: #202734;
}
.new-album-container .name {
	margin: 30px 0 15px 100px;
	width: 750px;
	height: 32px;
}
.new-album-container .desc {
	margin: 15px 0 15px 100px;
	width: 750px;
	height: 70px;
}
.new-album-container .detail {
	margin: 15px 0 20px 100px;
	width: 750px;
	min-height: 70px;
}
.new-album-container .name input {
	width: 600px;
	height: 32px;
	border: 1px solid #e4e4e4;
}
.new-album-container .desc textarea, .new-album-container .detail textarea {
	width: 600px;
	height: 70px;
	border: 1px solid #e4e4e4;
}
.new-album-container .desc span, .new-album-container .detail span {
	vertical-align: top;
}
.new-album-container .album-new-title {
	margin: 10px;
	font-weight: bold;
}
.new-album-container .album-new-type {
	margin: 0 0 0 100px;
}
.new-album-container .album-type-wrap-default {
	margin: 30px 0 75px 79px;
}
.new-album-container .album-type-wrap-default .input {
	font-size: 12px;
	width: 385px;
	height: 32px;
	border: 1px solid #e4e4e4;
}
.red {
	color: red;
}
.btn-long.js-btn-album-new, .btn-long.btn-init-next {
	margin: 20px auto;
	float: none;
}
.album-show .desc span:last-child {
	display: inline-block;
	width: 600px;
}
.js-markers-table {
	font-size: 10px;
	display: none;
}
table {
	border-spacing: 0;
	border-collapse: collapse;
	width: 100%;
}
.table>tbody>tr>td {
	padding: 8px;
	line-height: 1.42857143;
	vertical-align: top;
	border-top: 1px solid #ddd;	
}
.table>tbody>tr:last-child>td {
	border-bottom: 1px solid #ddd;	
}
.table-striped>tbody>tr:nth-of-type(odd) {
	background-color: #f9f9f9;
}
.table>tbody>tr:not(.th):hover{
	background-color: #f0f0f0;
}
.link {
	text-decoration: underline;
	color: #00f;
	cursor: pointer;
}
.table-album {
	table-layout: fixed;	
}
.del-album {
	display: inline-block;
	width: 40px;
	height: 28px;
	/*background-color: #fff;*/
	background-image: url(../images/icon_trash.png);
	background-position: center;
	background-repeat: no-repeat;
	/*border: 1px solid #f00;*/
	border-radius: 2px;
	cursor: pointer;
}
.copy-album {
	display: inline-block;
	width: 40px;
	height: 28px;
	/*background-color: #fff;*/
	background-image: url(../images/icon_copy.png);
	background-position: center;
	background-repeat: no-repeat;
	/*border: 1px solid #f00;*/
	border-radius: 2px;
	cursor: pointer;
}
.version-en {
	vertical-align: middle;
}
.add-lang {
	display: block;
	width: 48px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	color: #6ec3fe;
	background-color: #fff;
	border: 1px solid #6ec3fe;
	margin-right: 15px;
	border-radius: 2px;
	cursor: pointer;
}
.pen {
	float: left;
	display: block;
	width: 10px;
	height: 28px;
	background: url(../images/icon_pen.png) no-repeat center;
	margin-left: 10px;
	cursor: pointer;
}
.del-lang {
	display: inline-block;
	width: 40px;
	height: 28px;
	/*background-color: #fff;*/
	background-image: url(../images/icon_trash.png);
	background-position: center;
	background-repeat: no-repeat;
	/*border: 1px solid #f00;*/
	border-radius: 2px;
	cursor: pointer;
}
.marker-name {
	padding: 5px 0 ;
	text-align: center;
}
.del-marker {
	display: block;
	width: 40px;
	height: 28px;
	/*background-color: #fff;*/
	background-image: url(../images/icon_trash.png);
	background-position: center;
	background-repeat: no-repeat;
	/*border: 1px solid #f00;*/
	border-radius: 2px;
	cursor: pointer;
}
.v-middle {
	vertical-align: middle!important;
}
.pagination {
	display: inline-block;
	padding-left: 0;
	margin: 20px 0;
	border-radius: 4px;
	font-size: 14px;
	font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
}
.pagination>li {
	display: inline;
}
.pagination>li:first-child>a, .pagination>li:first-child>span {
	margin-left: 0;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}
.pagination>li:last-child>a, .pagination>li:last-child>span {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
.pagination>li>a, .pagination>li>span {
	position: relative;
	float: left;
	padding: 6px 12px;
	margin-left: -1px;
	line-height: 1.42857143;
	color: #337ab7;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #ddd;
}
.pagination>.active>a {
	z-index: 2;
	color: #fff;
	cursor: default;
	background-color: #337ab7;
	border-color: #337ab7;
}
.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover  {
	color: #777;
	cursor: not-allowed;
	background-color: #fff;
	border-color: #ddd;
}
.pagination li {
	cursor: pointer;
}
.nav-group {
	text-align: right;
}
/*.nav-group .go,.nav-group .pagination,.nav-group .size {
	float: left;
}*/
.layer {
	background-color: #f8f9fa;
	border: 1px solid #e2e6ec;
	border-radius: 4px;
	font-size: 14px;
	color: #838d9b;
}
.layer-bar {
	padding: 8px;
	overflow: hidden;
}
.layer-bar .name {
	float: left;
	display: block;
	height: 28px;
	line-height: 28px;
}
.layer-bar .pen {
	float: left;
	display: block;
	width: 10px;
	height: 28px;
	background: url(../images/icon_pen.png) no-repeat center;
	margin-left: 10px;
	cursor: pointer;
}
.layer-bar .del-layer {
	float: right;
	display: block;
	width: 40px;
	height: 28px;
	background-color: #fff;
	background-image: url(../images/icon_trash.png);
	background-position: center;
	background-repeat: no-repeat;
	border: 1px solid #f00;
	margin-right: 15px;
	border-radius: 2px;
	cursor: pointer;
}
.layer-bar .add-layer {
	float: right;
	display: block;
	width: 50px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	color: #FEC958;
	background-color: #fff;
	border: 1px solid #FEC958;
	margin-right: 15px;
	border-radius: 2px;
	cursor: pointer;
} 
.layer-bar .add-pic {
	float: right;
	display: block;
	width: 80px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	color: #6ec3fe;
	background-color: #fff;
	border: 1px solid #6ec3fe;
	margin-right: 15px;
	border-radius: 2px;
	cursor: pointer;
}
.layer-bar .add-album {
	float: right;
	display: block;
	width: 80px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	color: #A5DE37;
	background-color: #fff;
	border: 1px solid #A5DE37;
	margin-right: 15px;
	border-radius: 2px;
	cursor: pointer;
}
.layer .img-contain
{
	border-top: 1px solid #e2e6ec;
	padding: 15px 0;
}
.js-search-wrapper .panoQuery {
	width: 395px;
	height: 26px;
}
.js-pano-search {
	height: 26px;
	line-height: 1.1;
	border:none;
}
/*ul {
	-webkit-padding-start: 20px;
}*/
.tree li,.tree ul {
	position: relative;
	list-style: none;
	min-height: 50px;
}
.tree li {
	padding-top: 10px;
}
.tree ul ul:before {
	content: '';
	position: absolute;
	top: 0;
	left: 18px;
	width: 0;
	height: 36px;
	border-left: 3px solid #e2e6ec;
}
.tree ul ul li:before {
	content: '';
	position: absolute;
	top: 36px;
	left: -22px;
	height: 100%;
	width: 20px;
	border-top: 3px solid #e2e6ec;
	border-left: 3px solid #e2e6ec;
}
.tree ul ul li:last-child:before {
	border-left: 0 none;
}
.selector-wrap {
	font-size: 16px;
	line-height: 40px;
}
.selector-wrap select {
	margin-right: 40px;
}
.picture-table .th
{
	background-color: #f8f9fa;
}
.picture-table .td {
	/*float: left;*/
	width: 25%;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
}.picture-table .td >select {
	/*float: left;*/
	display: none;
}
 .picture-table .td >textarea {
	 /*float: left;*/
	 width: 300px;
	 margin-left: 50px;
 }
.picture-table .ul {
	display: inline-block;
	width: 100%;
}
.td input[type="text"] {
	width: 100px;
}
.btn-dialog-editable-true {
	display: none;
}
.htmlmarkerDialog input[type="text"] {
	width: 100%;
}
#summernote {
	border: 1px solid #f2f2f2;
}
#panoViewMarker {
	position: absolute;
	top:-14px;
}
.detail-marker-edit .marker-attr-lists {
	margin-left:610px;
}
.detail-marker-edit .single-attr-wrap {
	height: 29px;
}
/*新增封面样式*/
.file-btn{
	display: none;
	opacity: 0;
}
.show-img{
	margin-left: 107px;
}
.show-cover{
	width: 125px;
}
.show-logo{
	width: 100px;
}
.show-cover-pc{
	width: 200px;
}
.img-contain .image-album{
	border-color: #A5DE37;
}
.album-type{
	width: 16px;
	height: 16px;
	float: right;
	margin-right: 3px;
	background: url(../images/icon-album.png) no-repeat;
	background-size: contain; 
}
.open1{
	margin-left: 200px;
	width: 45px;
	height: 20px;
	top: -30px;
	border-radius: 20px;
	position: relative;
	background: rgba(77, 176, 226,0.8);
}
.open2{
	right: 1px;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	position: absolute;
	background: white;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.4);
}
.close1{
	margin-left: 200px;
	top: -30px;
	background: rgba(255,255,255,0.4);
	border:2px solid rgba(204, 206, 208,0.8);
	width: 45px;
	height: 20px;
	border-radius: 20px;
	position: relative;
	border-left: transparent;
}
.close2{
	left: 1px;
	top: -2px;
	width: 20px;
	background: rgba(204, 206, 208,0.8);
	z-index: 1;
	height: 20px;
	border-radius: 20px;
	position: absolute;
}