.map{
  width: 100%;
  >map{
    width: 100%;
  }
}
.travel_info{
  padding: 12px;
  padding-bottom: 0px;
  .travel_code{
    padding: 12px;
    border-radius: 12px;
    color: #ffffff;
    .travel_address{
      display: flex;
      align-items: center;
      font-size: 13px;
      padding: 8px 0;
      >image{
        margin: 0 6px;
      }
    }
    .travel_priceAndNum{
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 10px;
      .priceAndNum_list{
        overflow: hidden;
        >view{
          float: left;
        }
        >view:last-child{
          font-size: 14px;
          margin-left: 4px;
          line-height: 14px;
        }
      }
    }
  }
  .passenger_bg{
    background: linear-gradient(to right, #EC7474, #F4A556);
  }
  .car_bg{
    background: linear-gradient(to left, #707BF4, #62BFF0);
  }

  .travel_foot{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 18px;
    .travel_foot_list{
      display: flex;
      align-items: center;
      >image{
        width: 24px;
        height: 32px;
      }
      >view{
        font-size: 13px;
        color: #484848;
        margin-left: 5px;
      }
    }
  }
}
