.home-course-list{
  width: px2rem(351);
  padding-top: px2rem(10);
  padding-bottom: px2rem(50);
  margin: 0 auto 0.9rem auto;
  .course-banner{
    width: 100%;
    height: px2rem(224);
    border-radius: 5px;
    margin-bottom: px2rem(40);
    background-color: white;
    img{
      width: 100%;
      height: 100%;
    }
  }
  .course-list{
    .course-content-line{
      margin-bottom: px2rem(10);
      img{
        width: 100%;
        height: px2rem(111);
        border-radius: 10px;
      }
    }
  }
}