.mine-status{
  .user-info{
    display : flex;
    padding: px2rem(30) 0 px2rem(30) px2rem(30);
    //justify-content: center;
    //flex-direction: row;
    .head-info{
      margin-right: px2rem(30);
      img{
        border: 3px solid white;
        border-radius: 50%;
        width: px2rem(90);
        height: px2rem(90);
        display: inline-block;
      }
      .level-line{
        text-align: center;
        .level-icon{
          border: 2px solid white;
          border-radius: 10px;
          position: relative;
          top: -25px;
          display: inline-block;
          height: 20px;
          width: 42px;
          line-height: 20px;
          background-color: rgba(255,162,38,1);
          font-size: 10px;
          font-style:italic;
          color: white;
        }
      }
    }
    .base-info{
      color: #FFFFFF;
      align-items: center;
      p{
        vertical-align: bottom;
        margin-bottom: px2rem(10);
      }
      .name{
        font-size: px2rem(20);
      }
      .sex-icon{
        width: px2rem(24);
        height: px2rem(24);
      }
      .process-bar{
        display: flex;
        align-items: center;
        margin-bottom: px2rem(15);
        .process{
          position: relative;
          text-align: center;
          margin: auto px2rem(21) auto auto;
          .inner-number{
            position: absolute;
            z-index: 10;
            left: 45px;
            font-size: 14px;
            font-style:italic;
            color: white;
            line-height: 14px;
            height: 100%;
          }
        }
      }

    }
    .right-bottom{
      text-align: center;
      display: flex;
      align-items: center;
    }
  }

  .other-info{
    display : flex;
    flex-wrap:  wrap;//换行
    justify-content: center;//水平居中
    align-items: center;//垂直方向
    text-align: center;
    padding-top: 10px;
    padding-bottom: 120px;
    .subs-out{
      margin: 10px;
      width: px2rem(150);
      height: px2rem(150);
      position: relative;
      .sub-out-border{
        border-radius: 10px;
        border: 1px dashed white;
        width: px2rem(150);
        height: px2rem(150);
        position: absolute;
        z-index: 1;
      }
      .sub-title{
        color: #4498c7;
        margin-top: px2rem(120);
        display: inline-block;
        position: relative;
        z-index: 100;
      }
      .sub-inner{
        position: absolute;
        z-index: 1;
        width: px2rem(150);
        height: px2rem(150);
        border-radius: 10px;
        background-color: white;
        //opacity: 0.2;
      }
    }
  }
}