html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, sub, sup, b, i, dl, dt, dd, ol, ul, li, a {
    margin: 0;
    padding: 0;
    outline: 0;
    list-style: none;
    vertical-align: baseline;
    background: transparent;
    font-weight: normal;
    font-style: normal;
    font-weight:100;
    font-size:1rem;
    text-decoration: none;
}
/*浮动清除*/
div:before, div before, div:after, div after, ul:before, ul before, ul:after, ul after, li:after, li after, li:before, li before, h3:before, h3 before, h3:after, h3 after {
    display: table;
    content: " ";
    clear: both;
}

.errorMsg{ padding: 14px; color: #ffa200;}

.inShade{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height:100%;
    z-index: 999;
    background-color: rgba(0,0,0,.8);
    display: none;
}
.inShade img{
    width: 55%;
    position: absolute;
    right: 5%;
    top: 5%;
}

