
.main{
    margin: 20px 16px;

}
.intro{
	margin-top: 10px;
}
.intro h1{
	font-size: 18px;
    font-weight: 600;
    position: relative;
    display: inline-block;
    text-align: center;
    padding: 0 20px;
}
.intro h1 .orbottom{
	background-color: #f7ba2a;
    width: 100%;
    height: 12px;
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -999;
}
.intro p,.intro dl{
	background-color: #f5f7fa;
	text-indent: 2em;
	padding: 25px 16px;
    color: #617084;
    text-align: justify;
}
.intro dl{
    text-indent: 0; padding: 25px 16px 0;
}
.intro dd{
   padding: 0 0 6px;
}
.intro dt{font-weight: bold;
    padding: 0 0 6px;}

