
.banner img{
	width: 100%;
	display: block;
}
.main{
	margin-bottom: 74px;
}
.realtimeInfor{
	background-color: #eff2f7;
}
.realtimeInfor .checkSear{
	margin: 10px 12px;
}
.realtimeInfor .checkSear .search{
	border-radius: 4px;
    padding: 4px 8px;
    background-color: #fff;
    width: 76%;
    float: left;
    height: 26px;
    line-height: 26px;

}
.realtimeInfor .checkSear .search img{
	vertical-align: middle;
	width: 8%;
	margin-top: -2px;
}
.realtimeInfor .checkSear .search input{
	border: none;
    line-height: 24px;
    width: 84%;
    padding-left: 4px;
    -webkit-appearance: none; font-size: 14px;
}
.realtimeInfor .checkSear .search input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { 
	color: #fedd8e; 
} 
.realtimeInfor .checkSear .search input:-moz-placeholder, textarea:-moz-placeholder { 
	color: #fedd8e; 
} 
.realtimeInfor .checkSear .search input::-moz-placeholder, textarea::-moz-placeholder { 
	color: #fedd8e; 
} 
.realtimeInfor .checkSear .search input::-ms-input-placeholder, textarea:-ms-input-placeholder { 
	color: #fedd8e; 
}
.realtimeInfor .checkSear .weui-btn{
	width: 15%;
	float: left;
	position: relative;
    display: block;
    padding: 4px 0;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    height: 34px;
    line-height: 26px;
    border-radius: 5px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    overflow: hidden;
}
.realtimeInfor .checkSear .weui-btn_primary{
	margin: 0 0 0 3%;
}
.main .inforTab{
	margin-bottom: 20px;
}
.main .inforTab .placeholder{
	margin: 16px 0 0 5%;
    padding: 0 3%;
    background-color: #f0f0f0;
    text-align: center;
    color: #617084;
    border-radius: 4px;
    width: 36.5%;
    float: left;
}
.main .weui-btn_primary{
	background-color: #20a0ff;
	margin: 4% 5%;
}
.main .inforTab .placeholder img{
	display: block;
	width: 100%;
	margin-top: 10px;
	height: 90px;
}
.main .inforTab .placeholder .playIn{
	margin: 6px 0; 
}
.main .inforTab .placeholder .weui-btn_primary{
	line-height: 2rem;
	background-color: #20a0ff;
}
.main .inforTab .placeholder .vote{
	margin-bottom: 6px;
}
.main .inforTab .noInfor{
	width: 60%;
	margin: 40px auto;
	text-align: center;
	display: none;
}
.main .inforTab .noInfor img{
	width: 100%;
}
.main .inforTab .noInfor p{
	color: #475669;
}
