
.banner img{
	width: 100%;
	display: block;
}
.main{
	margin-bottom: 74px;
}
.main .bgColor{
	width: 100%;
	height: 20px;
	background-color: #f5f7fa;
}
.main .votitle{
	text-align: center;
}
.main .votitle h1{
	font-size: 1.2rem;
    font-weight: 600;
    position: relative;
    display: inline-block;
    text-align: center;
    padding: 0 20px;
    margin: 10px 0 18px;
}
.main .votitle h1 .orbottom{
	background-color: #f7ba2a;
    width: 100%;
    height: 14px;
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 0px;
    z-index: -999;
}
/*.playvoInfor{
	margin-top: 20px;
	background-color: #fff;
}*/
.main .playvoInfor .weui-cell{
	border-top: 1px solid #d9d9d9;
}
.main .playvoInfor .weui-cells{
	margin-top: 0;
}
.main .playvoInfor input::-webkit-input-placeholder,textarea::-webkit-input-placeholder { 
	color: #a8a7a7; 
	font-family: inherit;
} 
.main .playvoInfor .weui-textarea{
	font-family: inherit;
}
.main .upLoad{
	margin-top: 20px;
	background-color: #f5f7fa;
	padding: 20px 0;
}
.main .upLoad .upInput{
	width: 40%;
	height: 120px;
	margin: 0 auto;
	background: url(../imgs/upLoad.png) no-repeat;
	background-size: 100% 100%;
	position: relative;
}
.main .upLoad p{
	text-align: center;
	width: 75%;
	color: #617084;
	margin: 0 auto;
}
.main .vote{
	background-color: #fff;
	margin: 30px 5%;
}
.main .vote .weui-btn_primary{
	background-color: #20a0ff;
}


