.container{
	position: relative;
}
.main{
	margin: 20px 16px 100px;
	box-shadow: 1px 1px 6px #d7d6d7
}
.main .votitle{
	line-height: 2rem;
	text-align: center;
}
.main .votitle h1{
	font-size: 1.2rem;
    font-weight: 600;
    position: relative;
    display: inline-block;
    text-align: center;
    padding: 0 20px;
    margin-top: 10px;
}
.main .votitle h1 .orbottom{
	background-color: #f7ba2a;
    width: 100%;
    height: 14px;
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -999;
}
.main .suContent{
	margin: 5%;
	padding: 5%;
	background-color: #f5f7fa;
}
.main .suContent img{
	width: 100%;
}
.main .suContent p{
	font-size: 16px;
	font-weight: 600;
}
.main .suContent p.line{
	line-height: 30px;
	padding: 3px 0;
}
.main .suContent p span{
	color: #617084;
}
.main .suContent p span.indent{
	text-indent: 2em;
	display: inline-block;
}
.main .vote{
	margin: 5%;
}
.main .vote .weui-btn_primary{
	background-color: #20a0ff;
}
@media screen and (min-width: 412px) {
	.main .suContent p span,.main .suContent p span.indent{ font-size: .83rem;}
}

