
.banner img{
	width: 100%;
	display: block;
}
.main{
	margin: 20px 16px 100px 16px;
}
.main .playerContent{
	background: #f0f0f0;
	color: #617084;
	text-align: center;
}
.main .playerContent img{
	display: block;
	width: 55%;
    margin: 10px auto 0;
    height: 120px;
}
.main .playerContent .playIn{
	margin-top: 6px;
}
.main .playerContent .playIn .playerName{
	display: inline-block;
	text-indent: 1em;
}
.main .playerContent .declaration{
	width: 90%;
    margin: 14px auto 16px;
    line-height: 20px;
}

.main .ticketCon{
	border: 1px solid #d3dce6;
}
.main .ticketCon .p1{
	color: #ffa200;
}
.main .ticketCon .p2{
	color: #617084;
	font-size: 15px;
}

.weui{
	margin-top: 10px;
	text-align: center;
}
.weui .w28{ width: 27.9%; text-align: center; float: left;}
.weui .w44{ width: 43.5%; text-align: center; float: left;}
.main .ticketCon .borderLeft{
	border-left: 1px solid #d3dce6;
	margin-bottom: 4px;
}
.main .ticketCon .needKnow{
	color: #617084;
	font-size: 16px;
	padding: 14px 10px;
	border-top: 1px solid #d3dce6;
	text-align: justify;
}
.main .vote{
	margin-top: 5%; text-align: center;
}
.main .vote .weui-btn_primary{
	background-color: #20a0ff;
}
.main .vote .share{ color: #20a0ff; text-decoration: underline;}

@media screen and (min-width: 412px) {
	.main .vote .share,.playerNum,.playerName,.placeholder .vote{ font-size: .83rem;}
}
