<div class="weui-tabbar" >
    <a href="#task" class="weui-tabbar__item">
        <span style="display: inline-block;position: relative;">
            <img  src="./imgs/gardenia/tabbar_task.png" alt="" class="weui-tabbar__icon">
        </span>
        <p class="weui-tabbar__label" style="color: #FF9900">任务</p>
    </a>
    <a href="#habitnews" class="weui-tabbar__item">
        <span style="display: inline-block;position: relative;">
            <img src="./imgs/gardenia/tabbar_new1.png" alt="" class="weui-tabbar__icon">
        </span>
        <p class="weui-tabbar__label">动态</p>
    </a>
    <a  href="#my" class="weui-tabbar__item">
        <img src="./imgs/gardenia/tabbar_my1.png" alt="" class="weui-tabbar__icon">
        <p class="weui-tabbar__label">我</p>
    </a>
</div>