.wrap{font-size: 0.36rem;color: #313944;}
.topRank{position: relative;width: 100%;height: 4.7rem;background: #313945 url(../images/rank_background.jpg) center no-repeat; -webkit-background-size: cover;
background-size: cover;}
.t-r-shade{width: 100%;height: 100%;background-color: rgba(49,57,69,0.4);}
.t-r-con{position: absolute;bottom: 0;left: 0;width: 100%;text-align: center;}
.t-r-con .txt{padding: 0.2rem; color: #fff;font-size: 0.36rem;font-weight: 500;text-shadow: #313945 0 0.02rem 0;}
.head-portrait{position: relative;left: 0;top: 0;display: inline-block;width: 1.5rem;height: 1.5rem;}
.head-portrait .img{border-radius: 0.12rem;border: 0.06rem solid #fff;box-sizing:border-box;overflow: hidden;background: rgba(49,57,69,0.4) center no-repeat; -webkit-background-size: cover;background-size: cover;width: 100%;height: 100%;}
.head-portrait span{position: absolute;right: -0.1rem;bottom: -0.1rem;padding: 0.02rem 0.06rem;box-sizing:border-box;background-color: #ff6969;border-radius: 0.03rem;text-align: center;color: #fff;font-size: 0.18rem;}
.head-portrait.top-head span{font-size: 0.24rem;padding: 0.02rem 0.1rem;}

.rankList li{position: relative;padding: 0.65rem 0;margin:0 0.2rem;border-top: 1px solid #ccc;}
.rankList .totalScore{position: absolute;bottom: -0.33rem;left: 50%;margin-left: -1.4rem;width: 2.8rem;height: 0.66rem;line-height: 0.66rem;background-color: #fff;font-weight: 600;text-align: center;z-index: 1;}
.rankList .user-info{margin-left: 0.25rem;font-size: 0.48rem;line-height: 0.75rem;}
.like-box{height: 1.5rem;margin-top: 0.2rem;}
.like-box .like-num{padding: 0 0.2rem;color: #ff6969;height: 1rem;line-height: 1rem;}
.like-box .heart{background: url(../images/web_heart_animation.png);background-position: left;background-repeat: no-repeat;background-size: 2000%;width: 1rem;height: 1rem;}

@-webkit-keyframes heartBlast {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
}

@keyframes heartBlast {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
}

.like-box .heartAnimation {
    display: inline-block;
    -webkit-animation-name: heartBlast;
    animation-name: heartBlast;
    -webkit-animation-duration: .8s;
    animation-duration: .8s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-timing-function: steps(19);
    animation-timing-function: steps(19);
    background-position: right;
}