/*微信绑定用户*/

.bg-white #container.bg-white
{
    background-color: #fff;
}

.wx-top-bg
{
    width: 100%;
    height: 162px;

    background-image: url(../i/wx/bg.png);
    background-size: 100% 162px;
}

.wx-top-bg .login-title
{
    padding-top: 50px;
}

.bind-warp .baseinfo
{
    height: 20px;
    margin: 10px 5%;
    padding-left: 5px;

    text-align: left;
}

.bind-warp .login-row .inp
{
    padding: 5px;

    border: 0;
    border-bottom: 1px solid #ddd;
}

.bind-warp .login-row .inp:hover,
.bind-warp .login-row .inp:focus
{
    border-color: #fff;
    border-bottom: 1px solid #e96a5d;
    box-shadow: none;
}


/*微信用户历史工资记录*/

.bind-warp .salary-list
{
    overflow: hidden;

    height: auto;
    margin: 0 5%;
    padding: 10px 2%;

    border-bottom: 1px solid #ddd;
}

.bind-warp .column-left
{
    float: left;
    width: auto;
    max-width: 60%;
    min-width: 65px;
}

.bind-warp .column-right
{
    float: right;

    width: auto;

    text-align: right;
}

.bind-warp .salary-list .salary-date
{
    font-size: 12px;

    min-width: 65px;
    padding-right: 5%;

    color: #b0b0b0;
}

.bind-warp .salary-list .salary-time
{
    font-size: 12px;

    color: #b0b0b0;
}

.bind-warp .salary-detail .salary-amount
{
    margin: 10px 0;
}


/*微信用户工资详情*/

.bind-warp .salary-detail-container
{
    min-height: 30px;
    margin: 10px 5%;

    border: 1px solid #ddd;
}

.bind-warp .salary-detail-title
{
    font-size: 13px;

    text-align: center;
}

.bind-warp .salary-detail-item
{
    line-height: 25px;

    overflow: hidden;

    height: auto;
    margin: 0 2%;
    padding: 10px 2%;

    border-bottom: 1px solid #ddd;
}


/*有息余额收益*/

.bind-warp .balance-item
{
    line-height: 25px;

    overflow: hidden;

    height: auto;
    margin: 0 2%;
    padding: 10px 2%;

    cursor: pointer;

    border-bottom: 1px solid #ddd;
}

.bind-warp .balance-item .column-left
{
    max-width: 70%;
}

.bind-warp .balance-arrow
{
    line-height: 15px;

    display: inline-block;
    overflow: hidden;

    width: 15px;
    height: auto;
    margin-right: 10px;

    text-align: center;

    border: 1px solid #000;
    border-radius: 7.5px;
}

.bind-warp .balance-detail
{
    font-size: 13px;

    display: none;

    color: #999;
}

.bind-warp .balance-detail-item
{
    line-height: 25px;

    height: 25px;
    margin: 5px 5%;
    padding: 0 3%;

    border-bottom: 1px solid #ddd;
}

.bind-warp .rotate-90
{
    -webkit-transform: rotate(90deg);
    /* Safari 和 Chrome */
       -moz-transform: rotate(90deg);
    /* Firefox */
        -ms-transform: rotate(90deg);
    /* IE 9 */
         -o-transform: rotate(90deg);
    /* Opera */
            transform: rotate(90deg);
}

.bind-warp .last-item
{
    border-bottom: none;
}


/*企业融资*/

.bind-warp .company-item
{
    margin: 2% 2%;
    padding: 10px 2%;

    border: 1px solid #ccc;
}

.bind-warp .company-title-section
{
    line-height: 25px;

    position: relative;

    height: 25px;
}

.bind-warp .company-title
{
    font-size: 16px;

    position: absolute;
    left: 5px;
}

.bind-warp .status
{
    line-height: 25px;

    position: absolute;
    right: 0;

    width: 50px;
    height: 25px;

    text-align: center;

    color: #fff;
}

.bind-warp .pending
{
    background-color: #40b357;
}

.bind-warp .status i
{
    position: absolute;
    left: -24px;

    width: 0;
    height: 0;

    border-width: 12.5px;
    border-style: solid;
    border-color: transparent;
}

.bind-warp .status.pending i
{
    border-right-color: #40b357;
}

.bind-warp .invest-detail
{
    height: auto;
}

.bind-warp .invest-detail .column-left
{
    width: 60%;
}

.bind-warp .invest-detail .column-right
{
    width: 40%;

    text-align: left;
}


/*绑定用户*/

.bind-warp .info-box
{
    font-size: 18px;

    padding-bottom: 20px;

    text-align: center;
}
