<div class="container" ng-controller="uploadImageVoiceController">
    <div loading="数据提交中。。。" ng-model="isLoading"></div>
    <form name="formIndex" ng-submit="upload(formIndex.$invalid)" novalidate="novalidate">
        <div class="row">
            <div class="col-xs-12 text-center" style="padding-top:15px;">
                <img style="width:50%;" show-image data-url="{{info.image.loadingImage()}}"  >
            </div>
            <div id="btnStartRecordVoice" class="col-xs-12 text-center" style="padding-top:10px;">
                <span show-voice-record="new" class="btn btn-xs btn-danger glyphicon glyphicon-plus-sign">&nbsp;配音(20-60秒)</span>
            </div>
            <div id="btnTestPlayVoice" class="col-xs-12" style="display: none;">
                <div class="row">
                    <div class="col-xs-6 text-center">
                        <span name="myvoice" ng-click="info.voice.testPlayVoice()" class="btn btn-xs btn-danger glyphicon glyphicon-headphones">&nbsp;试听</span>
                    </div>
                    <div class="col-xs-6 text-center">
                        <span show-voice-record="edit" class="btn btn-xs btn-warning glyphicon glyphicon-remove-circle">&nbsp;重配音</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="weui_cells weui_cells_form">
                    <div class="weui_cell">
                        <div class="weui_cell_bd weui_cell_primary">
                            <textarea name="comment" ng-model="info.text.inputtest.content"  ng-change="info.text.checkText()" class="weui_textarea" placeholder="请输入评论"  rows="2" required ng-minlength="5" ng-maxlength="100"   ></textarea>
                            <div class="weui_textarea_counter"><span >{{info.text.inputtest.currNumber}}</span>/<span>100</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12" style="padding-top:15px">
                <div ng-show="formIndex.comment.$error.required &&formIndex.comment.$dirty ">
                    <div class="alert alert-danger">请输入评论</div>
                </div>
                <div ng-show="formIndex.comment.$error.maxlength">
                    <div class="alert alert-danger">最大字符数100</div>
                </div>
                <div ng-show="formIndex.comment.$error.minlength">
                    <div class="alert alert-danger">最小字符数5</div>
                </div>
                <div ng-show="formIndex.comment.$pristine && formIndex.comment.$error.required && seInValid==true">
                    <div class="alert alert-danger">请输入评论</div>
                </div>
                <div id="msgVoiceEmpty"  ng-show="sePristine==true && info.voice.seVoiceEmpty==true">
                    <div class="alert alert-danger">你还没有录音</div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:30px;">
            <div class="col-xs-6 text-center">
                <span ng-click="cancel()" class="btn btn-lg btn-warning" style="width:100%;">取消上传</span>
            </div>
            <div class="col-xs-6 text-center">
                <input type="submit" class="btn btn-lg btn-danger" style="width:100%;" value="上传" >
            </div>
        </div>
    </form>
    <div id="actionSheet_wrap">
        <div class="weui_mask_transition" id="mask"></div>
        <div class="weui_actionsheet" id="weui_actionsheet">
            <div id="actionsheet_record"  class="text-center" style="padding: 15px 5px; display: none ">
                <img style="width:50%;" src="./imgs/read/0112205543a25f0000019ae98571ec.jpg">
            </div>
            <div class="weui_actionsheet_menu">
                <div id="actionsheet_voice" class="weui_actionsheet_cell">开始录音</div>
            </div>
            <div class="weui_actionsheet_action">
                <div class="weui_actionsheet_cell" id="actionsheet_cancel">取消</div>
            </div>
        </div>
    </div>
</div>