<!doctype html>
<html>
	<head>
	<title>公告详情</title>
	<meta charset='utf-8' />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
	<meta http-equiv="x-dns-prefetch-control" content="on" />
	<meta name="format-detection"content="telephone=no"/>
	<meta name="format-detection" content="email=no"/>
	<link rel="stylesheet" type="text/css" href="css/bootstraptc.min.css">
	<link rel="stylesheet" type="text/css" href="css/ppublic.css">
	<link rel="stylesheet" type="text/css" href="css/publishReport.css?v=2017102001">

	</head>
	<body>
		<div class="container">
			<div class="row report-top">
				<div class="row publishTitle">
					<!-- <input id="titleInput"/> -->
					<textarea id="titleInput" class="titleInput" placeholder="标题"></textarea>
					<div id="titleInput2" placeholder="标题" ></div>
					<span class="titleCount">0/20</span>
				</div>
				<div class="reportContent">
					<textarea class="class-content" id="contentInput"></textarea>
					<div class="contentCount">0/500</div>
				</div>
			</div>
			<div class="row report-bottom">
				<div>
					<span class="select-title1">选择可见班级<span class="select-title2"></span></span>
				</div>
				<div class="row allClass">
					<!-- <div class="class-item active" id="1">一年一班</div>
					<div class="class-item" id="2">一年一班</div>
					<div class="class-item" id="3">一年一班</div>
					<div class="class-item" id="4">一年一班</div>
					<div class="class-item" id="5">一年一班</div>
					<div class="class-item" id="6">一年一班</div> -->
				</div>
				<div class="publishBtn">确定</div>
			</div>
		</div>

		<div class="row errorAlert">
			<div class="col-xs-12 col-sm-12 error-main">
				<div class="row">
					<div class="col-xs-12 col-sm-12 error-main-t"></div>
					<div class="col-xs-12 col-sm-12 error-main-btn">
						<div class="row">
							<div class="col-xs-12 col-sm-12 error-main-btn1">我知道了</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="https://cdn2.picooc.com/web/res/fatburn/jsv2/jquery-3.0.0.min.js"></script>
	<script type="text/javascript" src="https://cdn2.picooc.com/web/res/fatburn/jsv2/public.js"></script>
	<script type="text/javascript" id="script1"></script>
	<script>
		if(getParamByUrl("webver")>2){
			if(getParamByUrl("os")=="android"){
				$("#script1").attr("src","jsv1/editReport.js");
			}
			else{
				var mobileApp=window.webkit.messageHandlers;
				$("#script1").attr("src","jsv1/editReport.js");
			}
		}
		else{
			$("#script1").attr("src","js/editReport.js");
		}
	</script>
	<!--<script type="text/javascript" src="js/editReport.js"></script>-->
<script>

//百度统计上传代码
	/*var _hmt = _hmt || [];
	_hmt.push(['_setAutoPageview', false]);
	_hmt.push(['_trackPageview', location.pathname]);
	(function() {
	  var hm = document.createElement("script");
	  hm.src = "//hm.baidu.com/hm.js?c508b5cd6342d9b51a4a2230e1cd7988";
	  var s = document.getElementsByTagName("script")[0];
	  s.parentNode.insertBefore(hm, s);
	})();*/
</script>
</html>