<!doctype html>
<html>
	<head>
	<title>修改个人资料</title>
	<meta charset='utf-8' />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
	<meta http-equiv="x-dns-prefetch-control" content="on" />
	<meta name="format-detection"content="telephone=no"/>
	<meta name="format-detection" content="email=no"/>
	<link rel="stylesheet" type="text/css" href="css/bootstraptc.min.css">
	<link rel="stylesheet" type="text/css" href="css/ppublic.css">
	<link rel="stylesheet" type="text/css" href="css/editInfo.css?v=2017102001">
	<style type="text/css">
	
	
	</style>
	</head>
	<body>
		<div class="container">
			<div class="row content">
				<div class="col-xs-11 col-sm-11">
					<input type="text" class="editValue"/>
					<input type="text" class="beforeValue" style="display:none;"/>
				</div>
				<div class="col-xs-1 col-sm-1 deleteText">
					<img src="image/studentInfo/delete.png" />
				</div>
			</div>
			<div class="editBtn">
				保存
			</div>
		</div>
		<aside class="row fixbg">
			<div class="col-xs-12 col-sm-12 fixbg-main">
				<div class="row">
					<div class="col-xs-12 col-sm-12 fixbg-main-t">您输入的信息还没有保存，现在要保存吗？</div>
					<div class="col-xs-12 col-sm-12 fixbg-main-btn">
						<div class="row">
							<div class="col-xs-6 col-sm-6 fixbg-main-btn1">放弃</div>
							<div class="col-xs-6 col-sm-6 fixbg-main-btn2">保存</div>
						</div>
					</div>
				</div>
			</div>
		</aside>
		<aside class="fixbg1" id="msg1">昵称不能为空哦~</aside>
		<aside class="fixbg1" id="msg2">不能超过16个字符哦~</aside>
		<aside class="fixbg1" id="msg3">昵称不能有逗号哦～</aside>

		<div class="row errorAlert">
			<div class="col-xs-12 col-sm-12 error-main">
				<div class="row">
					<div class="col-xs-12 col-sm-12 error-main-t"></div>
					<div class="col-xs-12 col-sm-12 error-main-btn">
						<div class="row">
							<div class="col-xs-12 col-sm-12 error-main-btn1">我知道了</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="https://cdn2.picooc.com/web/res/fatburn/jsv2/jquery-3.0.0.min.js"></script>
		<script type="text/javascript" src="js/fastclick.js"></script>
	<script type="text/javascript" src="https://cdn2.picooc.com/web/res/fatburn/jsv2/public.js"></script>
	</body>


<script>

//百度统计上传代码
	var _hmt = _hmt || [];
	_hmt.push(['_setAutoPageview', false]);
	_hmt.push(['_trackPageview', location.pathname]);
	(function() {
	  var hm = document.createElement("script");
	  hm.src = "//hm.baidu.com/hm.js?c508b5cd6342d9b51a4a2230e1cd7988";
	  var s = document.getElementsByTagName("script")[0];
	  s.parentNode.insertBefore(hm, s);
	})();
</script>
</html>