<!doctype html>
<html>
<head>
    <title>开营前调查问卷</title>
    <meta charset='utf-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta http-equiv="x-dns-prefetch-control" content="on" />
    <meta name="format-detection"content="telephone=no"/>
    <meta name="format-detection" content="email=no"/>
    <link rel="stylesheet" type="text/css" href="css/bootstraptc.min.css">
    <link rel="stylesheet" type="text/css" href="css/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="css/ppublic.css">
    <script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&amp;ak=ycTgY5YTSnk5PsqumqZboxtXaKU6Io6K"></script>
    <script type="text/javascript" src="https://api.map.baidu.com/getscript?v=2.0&amp;ak=ycTgY5YTSnk5PsqumqZboxtXaKU6Io6K&amp;services=&amp;t=20170220193356"></script>
   
    <script type="text/javascript" src="js/city.js"></script>
    <link href="css/mobiscroll.custom-3.0.0-beta4.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="css/questionnaire2.css?v=2">
</head>
<body>
<section class="container">
     <aside class="title">
        <p>恭喜您成功报名有品燃脂营，为了针对性了解参营者的真实情况，以提供更好的服务，请如实回答以下问题，如有疑问可在提交表单后添加售后客服咨询(*^__^*) </p>
     </aside>
     <aside class="content">
        <div class="row content-one">
            <div class="question">
                <span class="content-question">1.您的微信昵称<span class="red">*</span></span>
            </div>
            <div class="col-xs-12 col-sm-12">
                <input id="wechatName" type="text" maxlength="25">
            </div>
        </div>
        <div class="row content-one">
            <div class="question">
                <span class="content-question">2.您的职业<span class="red">*</span></span>
            </div>
            <div class="col-xs-12 col-sm-12">
                <input id="occupation" type="text" maxlength="25">
            </div>
        </div>
        <div class="row content-one">
            <div class="question">
                <span class="content-question">3.所在地<span class="red">*</span></span>
                <span class="addstr">选择参营时所在的省市</span>
            </div>
            <div class="col-xs-12 col-sm-12">
                <span id="question-map1" style="display:none;"></span>
                <!-- <input type="text"> -->
                <span id="question-map2"></span>
            </div>
        </div>

        <div class="row content-one" id="goal">
            <div class="question"><span class="content-question">4.参加燃脂营【最】直观目标是？<span class="red">*</span></span>
            </div>
            <div class="col-xs-12 col-sm-12">
                <div class="radio" value="【 减脂 】让自己从胖变瘦">
                    <img class="nocheck" src="image/withoutCamp/nocheck.png">
                    <span>【 减脂 】让自己从胖变瘦</span>
                </div>
                <div class="radio">
                    <img class="nocheck" src="image/withoutCamp/nocheck.png">
                    <span>【 塑形 】想突破，让身材更加完美</span>
                </div>
                <div class="radio">
                    <img class="nocheck" src="image/withoutCamp/nocheck.png">
                    <span>【 健康 】如改善脂肪肝高血压等</span>
                </div>
                <div class="radio2">
                    <div class="radio3">
                        <img class="nocheck" src="image/withoutCamp/nocheck.png">
                        <span>【 其他 】</span>
                    </div>
                    <textarea></textarea>
                </div>
            </div>
        </div>

        <div class="row content-one" id="concern">
            <div class="question"><span class="content-question">5.参加燃脂营期间希望更关注的是？<span class="red">*</span></span>
            </div>
            <div class="col-xs-12 col-sm-12">
                <div class="radio">
                    <img class="nocheck" src="image/withoutCamp/nocheck.png">
                    <span>饮食计划</span>
                </div>
                <div class="radio">
                    <img class="nocheck" src="image/withoutCamp/nocheck.png">
                    <span>运动指导</span>
                </div>
                <div class="radio">
                    <img class="nocheck" src="image/withoutCamp/nocheck.png">
                    <span>气氛激励</span>
                </div>
                <div class="radio2">
                    <div class="radio3">
                    <img class="nocheck" src="image/withoutCamp/nocheck.png">
                    <span>【 其他 】</span>
                    </div>
                    <textarea></textarea>
                </div>
            </div>
        </div>

        <div class="row content-one" id="position">
            <div class="question"><span class="content-question">6.【最】关注身体哪些部位？<span class="red">*</span></span>
            <p class="title3">[请最多选择2项]</p>
            </div>
            <div class="col-xs-12 col-sm-12">
                <div class="radio">
                    <img class="nocheck2" src="image/withoutCamp/checkboxNo.png">
                    <span>肩臂</span>
                </div>
                <div class="radio">
                    <img class="nocheck2" src="image/withoutCamp/checkboxNo.png">
                    <span>胸背</span>
                </div>
                <div class="radio">
                    <img class="nocheck2" src="image/withoutCamp/checkboxNo.png">
                    <span>腰腹</span>
                </div>
                <div class="radio">
                    <img class="nocheck2" src="image/withoutCamp/checkboxNo.png">
                    <span>臀腿</span>
                </div>
                <div class="radio2">
                    <div class="radio3">
                    <img class="nocheck2" src="image/withoutCamp/checkboxNo.png">
                    <span>【 其他 】</span>
                    </div>
                    <textarea></textarea>
                </div>
            </div>
        </div> 

        <div class="row content-one" id="habit">
            <div class="question"><span class="content-question">7.日常饮食有以下不良习惯吗？<span class="red">*</span></span>
            <p class="title3">[请至少选择1项]</p>
            </div>
            <div class="col-xs-12 col-sm-12">
                <div class="radio">
                    <img class="nocheck2" src="image/withoutCamp/checkboxNo.png">
                    <span>偏爱零食、饮料和甜品等</span>
                </div>
                <div class="radio">
                    <img class="nocheck2" src="image/withoutCamp/checkboxNo.png">
                    <span>偏爱油腻油炸食品和肉肉等</span>
                </div>
                <div class="radio">
                    <img class="nocheck2" src="image/withoutCamp/checkboxNo.png">
                    <span>饮食不规律</span>
                </div>
                <div class="radio">
                    <img class="nocheck2" src="image/withoutCamp/checkboxNo.png">
                    <span>食量比较大</span>
                </div>
                <div class="radio">
                    <img class="nocheck2" src="image/withoutCamp/checkboxNo.png">
                    <span>没有任何不良习惯</span>
                </div>
                <div class="radio2">
                    <div class="radio3">
                    <img class="nocheck2" src="image/withoutCamp/checkboxNo.png">
                    <span>【 其他 】</span>
                    </div>
                    <textarea></textarea>
                </div>
            </div>
        </div>
        <div class="row content-one" id="diet">
            <div class="question"><span class="content-question">8.日常饮食方式是？<span class="red">*</span></span>
            </div>
            <div class="col-xs-12 col-sm-12">
                <div class="radio">
                    <img class="nocheck" src="image/withoutCamp/checkboxNo.png">
                    <span>外卖</span>
                </div>
                <div class="radio">
                    <img class="nocheck" src="image/withoutCamp/checkboxNo.png">
                    <span>食堂</span>
                </div>
                <div class="radio">
                    <img class="nocheck" src="image/withoutCamp/checkboxNo.png">
                    <span>自己做</span>
                </div>
                <div class="radio">
                    <img class="nocheck" src="image/withoutCamp/checkboxNo.png">
                    <span>家人做</span>
                </div>
            </div>
        </div>
       
       <div class="row content-one" id="gaugeTime">
            <div class="question"><span class="content-question">9.习惯上秤测量时段<span class="red">*</span></span>
                <p class="title2">日常习惯上秤时间段，入营后每天同一时间段测量</p>
            </div>
            <div class="col-xs-12 col-sm-12">
                <div class="radio">
                    <img class="nocheck" src="image/withoutCamp/nocheck.png">
                    <span>04-12时 上午</span>
                </div>
                <div class="radio">
                    <img class="nocheck" src="image/withoutCamp/nocheck.png">
                    <span>12-16时 下午</span>
                </div>
                <div class="radio">
                    <img class="nocheck" src="image/withoutCamp/nocheck.png">
                    <span>16-20时 傍晚</span>
                </div>
                <div class="radio">
                    <img class="nocheck" src="image/withoutCamp/nocheck.png">
                    <span>20-24时 夜晚</span>
                </div>
            </div>
        </div>


    </aside>
    <aside class="row tip">
        温馨提示：请在入营前，每天在习惯测量时间段内上秤测量，我们会结合身体数据为您分配运动计划
    </aside>
    <aside class="row">
        <a class="submit" id="submitBtn">提交</a>
    </aside>

    <aside class="row errorAlert">
        <div class="col-xs-12 col-sm-12 error-main">
            <div class="row">
                <div class="col-xs-12 col-sm-12 error-main-t"></div>
                <div class="col-xs-12 col-sm-12 error-main-btn">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 error-main-btn1">我知道了</div>
                    </div>
                </div>
            </div>
        </div>
    </aside>
    <div class="pointAlert"></div>
    <div class="row returnAlert">
        <div class="col-xs-12 col-sm-12 return-main">
            <div class="row">
                <div class="col-xs-12 col-sm-12 return-main-t">
                    请认真核实内容，提交后不可重新填写哦~
                </div>
                <div class="col-xs-12 col-sm-12 return-main-btn">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 return-main-btn0">取消</div>
                        <div class="col-xs-6 col-sm-6 return-main-btn1">确认</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
<script type="text/javascript" src="js/jquery-3.0.0.min.js"></script>
<script type="text/javascript" src="jsv1/fastclick.js"></script>
<script type="text/javascript" src="jsv2/public.js"></script>
<script type="text/javascript" src="js/mobiscroll.custom-3.0.0-beta4.js"></script>
<script type="text/javascript" src="jsv1/questionnaire2.js?v=32"></script>
<script>
    //百度统计上传代码
    var _hmt = _hmt || [];
    _hmt.push(['_setAutoPageview', false]);
    _hmt.push(['_trackPageview', location.pathname]);
    (function() {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?c508b5cd6342d9b51a4a2230e1cd7988";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();

    var map = new BMap.Map("question-map1");
    map.centerAndZoom(new BMap.Point(121.478125,31.229649), 12);
    map.enableScrollWheelZoom(true);
    var cityList = new BMapLib.CityList({
        container: 'question-map2'
    });
</script>
</html>