<!doctype html>
<html>
	<head>
	<title>公告详情</title>
	<meta charset='utf-8' />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
	<meta http-equiv="x-dns-prefetch-control" content="on" />
	<meta name="format-detection"content="telephone=no"/>
	<meta name="format-detection" content="email=no"/>
	<link rel="stylesheet" type="text/css" href="css/bootstraptc.min.css">
	<link rel="stylesheet" type="text/css" href="css/ppublic.css">
	<link rel="stylesheet" type="text/css" href="css/reportDetial.css?v=20171020">

	</head>
	<body>
		<div class="container">
			<div class="row reportDetial">
				<div class="title"></div>
				<div class="date"></div>
            	<div class="content">
            	</div>
            	<div class="reportHandel">
            		<img id="deleteReport" src="http://cdn2.picooc.com/web/res/fatburn/image/studentList/deleteReport.png">
            		<img id="editReport" src="http://cdn2.picooc.com/web/res/fatburn/image/studentList/editReport.png">
            	</div>
			</div>
			<aside class="row fixbg">
				<div class="col-xs-12 col-sm-12 fixbg-main">
					<div class="row">
						<div class="col-xs-12 col-sm-12 fixbg-main-t">要删除此条公告？</div>
						<div class="col-xs-12 col-sm-12 fixbg-main-btn">
							<div class="row">
								<div class="col-xs-6 col-sm-6 fixbg-main-btn1">删除</div>
								<div class="col-xs-6 col-sm-6 fixbg-main-btn2">取消</div>
							</div>
						</div>
					</div>
				</div>
			</aside>
		</div>

		<div class="row errorAlert">
			<div class="col-xs-12 col-sm-12 error-main">
				<div class="row">
					<div class="col-xs-12 col-sm-12 error-main-t"></div>
					<div class="col-xs-12 col-sm-12 error-main-btn">
						<div class="row">
							<div class="col-xs-12 col-sm-12 error-main-btn1">我知道了</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="https://cdn2.picooc.com/web/res/fatburn/jsv2/jquery-3.0.0.min.js"></script>
	<script type="text/javascript" src="https://cdn2.picooc.com/web/res/fatburn/jsv2/public.js"></script>
	<script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
	<script type='text/javascript' src='js/wxshare.js'></script>
	<script type="text/javascript" id="script1"></script>
	<script>
		if(getParamByUrl("webver")>2){
			if(getParamByUrl("os")=="android"){
				$("#script1").attr("src","jsv1/reportDetialTrainer.js?v=1");
			}
			else{
				var mobileApp=window.webkit.messageHandlers;
				$("#script1").attr("src","jsv1/reportDetialTrainer.js?v=1");
			}
		}
		else{
			$("#script1").attr("src","js/reportDetialTrainer.js?v=1");
		}
	</script>
	<!--<script type="text/javascript" src="js/reportDetialTrainer.js"></script>-->
<script>

//百度统计上传代码
	var _hmt = _hmt || [];
	_hmt.push(['_setAutoPageview', false]);
	_hmt.push(['_trackPageview', location.pathname]);
	(function() {
	  var hm = document.createElement("script");
	  hm.src = "//hm.baidu.com/hm.js?c508b5cd6342d9b51a4a2230e1cd7988";
	  var s = document.getElementsByTagName("script")[0];
	  s.parentNode.insertBefore(hm, s);
	})();
</script>
</html>