<!doctype html>
<html>
	<head>
	<title>个人主页</title>
	<meta charset='utf-8' />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
	<meta http-equiv="x-dns-prefetch-control" content="on" />
	<meta name="format-detection"content="telephone=no"/>
	<meta name="format-detection" content="email=no"/>
	<link rel="stylesheet" type="text/css" href="css/bootstraptc.min.css">
	<link rel="stylesheet" type="text/css" href="css/swiper.min.css">
	<link rel="stylesheet" type="text/css" href="css/ppublic.css">
	<link rel="stylesheet" type="text/css" href="css/comment.css?v=20171020">
	<link rel="stylesheet" type="text/css" href="css/studentInfo.css?v=20171020">
	<link rel="stylesheet" type="text/css" href="css/studentType1.css?v=20171020">
	</head>
	<body>
	<div class="container">
		<div class="top-info">
			<div class="row top-img">
				<img  class="head" src="" />
				<img class="sex" src="" />
			</div>
			<div class="row account">
				<span></span>
			</div>
			<div class="row status">
				<div class="col-xs-4 col-sm-4 status-item">
					<div>初始体重</div>
					<div id="first-weight"></div>
				</div>
				<div class="col-xs-4 col-sm-4 status-item">
					<div>初始体脂</div>
					<div id="first-fat"></div>
				</div>
				<div class="col-xs-4 col-sm-4 status-item">
					<div>初始内脂</div>
					<div id="first-in-fat"></div>
				</div>
			</div>
		</div>
		<div class="row info-tag">
			<div class="row">
				<div class="col-xs-4 col-sm-4 info-tag-item">
					<img src="http://cdn2.picooc.com/web/res/fatburn/image/studentInfo/bodyChange.png" />
					<span>身体变化</span>
				</div>
				<div class="col-xs-4 col-sm-4 info-tag-item">
					<img src="http://cdn2.picooc.com/web/res/fatburn/image/studentInfo/cardInfo.png" />
					<span>打卡记录</span>
				</div>
				<div class="col-xs-4 col-sm-4 info-tag-item">
					<img src="http://cdn2.picooc.com/web/res/fatburn/image/studentInfo/baseInfo.png" />
					<span>基本信息</span>
				</div>
			</div>
			<div class="row navBar"></div>
		</div>
		<div class="row">
			<div class="page1">
				<div class="chart">
					<div class="row chartTop">
						<div class="chartTag">
							<span class="tag-weight active">体重</span>
							<span class="tag-fat">脂肪</span>
						</div>
						<div class="chartTag-item">
							<div>体重</div>
							<div>
								<img class="wFlag" src="" />
								<span class="wChange"></span>
							</div>
						</div>
						<div class="chartTag-item">
							<div>脂肪</div>
							<div>
								<img class="fFlag" src="" />
								<span class="fChange"></span>
							</div>
						</div>
					</div>
					<div class="row chartBottom weightContent">
							<canvas class="line" id="weight" width="100px" height="100px"></canvas>
							<div id="weightNum" class="lineNum"></div>
					</div>
					<div class="row chartBottom fatContent">
							<canvas class="line" id="fat" width="100px" height="100px"></canvas>
							<div id="fatNum" class="lineNum"></div>
					</div>
				</div>
				<div class="bodyChange">
					<div class="row">
						<div class="bodyChange-title">
							<img class="title-icon" src="http://cdn2.picooc.com/web/res/fatburn/image/studentInfo/changeImg.png"/>
							<span class="title-tagName">指标变化</span>
							<span class="start-time">12月02日</span>
							<span class="end-time">12月31日</span>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-12 bodyChange-content">
							<div class="bodyChange-container">
								<img class="bodyChange-icon" src="http://cdn2.picooc.com/web/res/fatburn/image/bodyChange/4-2.png"/>
								<span class="bodyChange-tagName">体重</span>
								<span class="bodyChange-lowNum">56.2KG</span>
								<span class="bodyChange-highNum">58.1KG</span>
								<img class="bodyChange-lastImg" src="http://cdn2.picooc.com/web/res/fatburn/image/4-12.png"/>
							</div>
							<div class="bodyChange-container">
								<img class="bodyChange-icon" src="http://cdn2.picooc.com/web/res/fatburn/image/bodyChange/4-3.png"/>
								<span class="bodyChange-tagName">脂肪</span>
								<span class="bodyChange-lowNum">56.2KG</span>
								<span class="bodyChange-highNum">58.1KG</span>
								<img class="bodyChange-lastImg" src="http://cdn2.picooc.com/web/res/fatburn/image/bodyChange/4-12.png"/>
							</div>
							<div class="bodyChange-container">
								<img class="bodyChange-icon" src="http://cdn2.picooc.com/web/res/fatburn/image/bodyChange/4-4.png"/>
								<span class="bodyChange-tagName">肌肉</span>
								<span class="bodyChange-lowNum">56.2KG</span>
								<span class="bodyChange-highNum">58.1KG</span>
								<img class="bodyChange-lastImg" src="http://cdn2.picooc.com/web/res/fatburn/image/bodyChange/4-12.png"/>
							</div>
							<div class="bodyChange-container">
								<img class="bodyChange-icon" src="http://cdn2.picooc.com/web/res/fatburn/image/bodyChange/4-5.png"/>
								<span class="bodyChange-tagName">内脏脂肪</span>
								<span class="bodyChange-lowNum">56.2KG</span>
								<span class="bodyChange-highNum">58.1KG</span>
								<img class="bodyChange-lastImg" src="http://cdn2.picooc.com/web/res/fatburn/image/bodyChange/4-12.png"/>
							</div>
							<div class="bodyChange-container">
								<img class="bodyChange-icon" src="http://cdn2.picooc.com/web/res/fatburn/image/bodyChange/4-6.png"/>
								<span class="bodyChange-tagName">基础代谢</span>
								<span class="bodyChange-lowNum">56.2KG</span>
								<span class="bodyChange-highNum">58.1KG</span>
								<img class="bodyChange-lastImg" src="http://cdn2.picooc.com/web/res/fatburn/image/bodyChange/4-12.png"/>
							</div>
							<div class="bodyChange-container">
								<img class="bodyChange-icon" src="http://cdn2.picooc.com/web/res/fatburn/image/bodyChange/4-7.png"/>
								<span class="bodyChange-tagName">蛋白质</span>
								<span class="bodyChange-lowNum">56.2KG</span>
								<span class="bodyChange-highNum">58.1KG</span>
								<img class="bodyChange-lastImg" src="http://cdn2.picooc.com/web/res/fatburn/image/bodyChange/4-12.png"/>
							</div>
							<div class="bodyChange-container">
								<img class="bodyChange-icon" src="http://cdn2.picooc.com/web/res/fatburn/image/bodyChange/4-8.png"/>
								<span class="bodyChange-tagName">骨量</span>
								<span class="bodyChange-lowNum">56.2KG</span>
								<span class="bodyChange-highNum">58.1KG</span>
								<img class="bodyChange-lastImg" src="http://cdn2.picooc.com/web/res/fatburn/image/bodyChange/4-12.png"/>
							</div>
							<div class="bodyChange-container">
								<img class="bodyChange-icon" src="http://cdn2.picooc.com/web/res/fatburn/image/bodyChange/4-9.png"/>
								<span class="bodyChange-tagName">水分</span>
								<span class="bodyChange-lowNum">56.2KG</span>
								<span class="bodyChange-highNum">58.1KG</span>
								<img class="bodyChange-lastImg" src="http://cdn2.picooc.com/web/res/fatburn/image/bodyChange/4-14.png"/>
							</div>
							<div class="bodyChange-container">
								<img class="bodyChange-icon" src="http://cdn2.picooc.com/web/res/fatburn/image/studentInfo/bmi.png"/>
								<span class="bodyChange-tagName">BMI</span>
								<span class="bodyChange-lowNum">20.2</span>
								<span class="bodyChange-highNum">20.1</span>
								<img class="bodyChange-lastImg" src="http://cdn2.picooc.com/web/res/fatburn/image/bodyChange/4-14.png"/>
							</div>
							<div class="bodyChange-container">
								<img class="bodyChange-icon" src="http://cdn2.picooc.com/web/res/fatburn/image/studentInfo/bodyAge.png"/>
								<span class="bodyChange-tagName">身体年龄</span>
								<span class="bodyChange-lowNum">29</span>
								<span class="bodyChange-highNum">29</span>
								<img class="bodyChange-lastImg" src="http://cdn2.picooc.com/web/res/fatburn/image/bodyChange/4-14.png"/>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="bodyChange-bottom">
							<div class="measure-time">
								<img src="http://cdn2.picooc.com/web/res/fatburn/image/studentInfo/cloudy.png" />
								<span>夜晚测量时段</span>
							</div>
						</div>
					</div>
				</div>
				<!-- <div class="message">
					暂无可对比的数据哦，赶紧上秤测量吧~
				</div> -->
			</div>
			<aside class="row page2 msgType1">
				<article class="row list">
					<aside class="row part">
						<div class="col-xs-2 col-sm-2 ">
							<div class="row partLeft">
								<div class="col-xs-12 col-sm-12 partLeft-p1"><span>DAY</span></div>
								<div class="col-xs-12 col-sm-12 partLeft-p2"><span>8</span></div>
								<div class="col-xs-12 col-sm-12 partLeft-p3"><span>07月22日</span></div>
							</div>
						</div>
						<div class="col-xs-10 col-sm-10 ">
							<div class="row partRight">
								<div class="col-xs-12 col-sm-12 partRight-icon"><img src="http://cdn2.picooc.com/web/res/fatburn/image/student/student-5.png" /></div>
								<div class="col-xs-12 col-sm-12 partRight-p1">不是在去健身房的路上就是在从健身房回家的路上明天去北京，谁在？</div>
								<div class="col-xs-12 col-sm-12 partRight-img"><img src="http://cdn2.picooc.com/web/res/fatburn/image/student/student-13.png" /></div>
								<div class="col-xs-12 col-sm-12 partRight-type1">
									<span class="partRight-type1-date">07:20</span>
									<span class="partRight-type1-zan"><img src="http://cdn2.picooc.com/web/res/fatburn/image/student/student-6.png" /><span>336</span></span>
									<span class="partRight-type1-msg"><img src="http://cdn2.picooc.com/web/res/fatburn/image/student/student-7.png" /></span>
								</div>
								<div class="col-xs-12 col-sm-12 partRight-msg">
									<!-- <div class="partRight-msg-bg"></div> -->
									<div class="row msgZan"><img src="http://cdn2.picooc.com/web/res/fatburn/image/student/student-6.png" /><span>灰太狼，小灰灰</span></div>
									<div class="row msgInfo">
										<img class="msgInfo-header" src="http://cdn2.picooc.com/web/res/fatburn/image/student/student-15.png" />
										<div class="col-xs-12 col-sm-12 msgInfo-mian">
											<span class="msgInfo-name">狼来了：</span><span class="msgInfo-msg">我来啦啦啦啦啦啦啦啦啦</span>
										</div>
									</div>
									<div class="row msgInfo msgInfo-last">
										<img class="msgInfo-header" src="http://cdn2.picooc.com/web/res/fatburn/image/student/student-15.png" />
										<div class="col-xs-12 col-sm-12 msgInfo-mian">
											<span class="msgInfo-name">狼来了<span>回复</span>大灰狼：</span>我来啦啦啦啦啦啦啦啦啦我来啦啦啦啦啦啦啦啦啦我来啦啦
										</div>
									</div>
								</div>
							</div>
						</div>
					</aside>
					<aside class="row part">
						<div class="col-xs-2 col-sm-2 ">
							<div class="row partLeft">
								<div class="col-xs-12 col-sm-12 partLeft-p1"><span>DAY</span></div>
								<div class="col-xs-12 col-sm-12 partLeft-p2"><span>8</span></div>
								<div class="col-xs-12 col-sm-12 partLeft-p3"><span>07月22日</span></div>
							</div>
						</div>
						<div class="col-xs-10 col-sm-10 ">
							<div class="row partRight">
								<div class="col-xs-12 col-sm-12 partRight-icon"><img src="http://cdn2.picooc.com/web/res/fatburn/image/student/student-5.png" /></div>
								<div class="col-xs-12 col-sm-12 partRight-p1">不是在去健身房的路上就是在从健身房回家的路上明天去北京，谁在？</div>
								<div class="col-xs-12 col-sm-12 partRight-img"><img src="http://cdn2.picooc.com/web/res/fatburn/image/student/student-13.png" /></div>
								<div class="col-xs-12 col-sm-12 partRight-type1">
									<span class="partRight-type1-date">07:20</span>
									<span class="partRight-type1-zan"><img src="http://cdn2.picooc.com/web/res/fatburn/image/student/student-6.png" /><span>336</span></span>
									<span class="partRight-type1-msg"><img src="http://cdn2.picooc.com/web/res/fatburn/image/student/student-7.png" /></span>
								</div>
								<div class="col-xs-12 col-sm-12 partRight-msg">
									<!-- <div class="partRight-msg-bg"></div> -->
									<div class="row msgZan"><img src="http://cdn2.picooc.com/web/res/fatburn/image/student/student-6.png" /><span>灰太狼，小灰灰</span></div>
									<div class="row msgInfo">
										<img class="msgInfo-header" src="http://cdn2.picooc.com/web/res/fatburn/image/student/student-15.png" />
										<div class="col-xs-12 col-sm-12 msgInfo-mian">
											<span class="msgInfo-name2">教练狼来了：</span><span class="msgInfo-msg">我来啦啦啦啦啦啦啦啦啦</span>
										</div>
									</div>
									<div class="row msgInfo">
										<img class="msgInfo-header" src="http://cdn2.picooc.com/web/res/fatburn/image/student/student-15.png" />
										<div class="col-xs-12 col-sm-12 msgInfo-mian">
											<span class="msgInfo-name">狼来了：</span><span class="msgInfo-msg">我来啦啦啦啦啦啦啦啦啦</span>
										</div>
									</div>
									<div class="row msgInfo msgInfo-last">
										<img class="msgInfo-header" src="http://cdn2.picooc.com/web/res/fatburn/image/student/student-15.png" />
										<div class="col-xs-12 col-sm-12 msgInfo-mian">
											<span class="msgInfo-name">狼来了<span>回复</span>大灰狼：</span>我来啦啦啦啦啦啦啦啦啦我来啦啦啦啦啦啦啦啦啦我来啦啦
										</div>
									</div>
								</div>
							</div>
						</div>
					</aside>
				</article>
			</aside>
			<div class="row page3">
				<div class="col-xs-12 col-sm-12 info-item height">
					<span>身高</span>
					<span ></span>
				</div>
				<div class="col-xs-12 col-sm-12 info-item age">
					<span>年龄</span>
					<span></span>
				</div>
				<div class="col-xs-12 col-sm-12 info-item goalFat">
					<span>目标脂肪</span>
					<span></span>
				</div>
				<div class="col-xs-12 col-sm-12 info-item goalWeight">
					<span>目标体重</span>
					<span></span>
				</div>
				<div class="col-xs-12 col-sm-12 info-item career">
					<span>职业</span>
					<span></span>
				</div>
				<div class="col-xs-12 col-sm-12 info-item area">
					<span>所在地</span>
					<span></span>
				</div>
				<div class="col-xs-12 col-sm-12 info-item physicalPeriod">
					<span>上次生理期</span>
					<span></span>
				</div>
				<div class="col-xs-12 col-sm-12 info-item periodDesc">
					<span>习惯测量时段</span>
					<span></span>
				</div>
				<div class="col-xs-12 col-sm-12 info-item wechat">
					<span>微信账号</span>
					<span></span>
				</div>
				<div class="col-xs-12 col-sm-12 info-item phoneNo">
					<span>手机号码</span>
					<span></span>
				</div>
		</div>
		<div class="row footer comment">
			<div class="col-xs-12 col-sm-12 footer-top"><span class="footer-top-1" id="comment-back">取消</span><span class="footer-top-3"></span><span class="footer-top-2" id="comment-btn">发送</span></div>
			<div class="col-xs-12 col-sm-12 footer-main">
				<textarea id="comment-msg" class="col-xs-12 col-sm-12 " placeholder="回复："></textarea>
			</div>
		</div>
		<aside class="row swiper-container bigImg">
			<div class="row swiper-wrapper bigImg-main">
			</div>
			<div class="swiper-pagination"></div>
		</aside>
	</div>

		<div class="row errorAlert">
			<div class="col-xs-12 col-sm-12 error-main">
				<div class="row">
					<div class="col-xs-12 col-sm-12 error-main-t"></div>
					<div class="col-xs-12 col-sm-12 error-main-btn">
						<div class="row">
							<div class="col-xs-12 col-sm-12 error-main-btn1">我知道了</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>

	<script type="text/javascript" src="js/jquery-3.0.0.min.js"></script>
	<script type="text/javascript" src="js/jquery.animate-colors-min.js"></script>
	<script type="text/javascript" src="js/swiper.min.js"></script>
	<script type="text/javascript" src="js/public.js"></script>
	<script type="text/javascript" id="script2"></script>
	<script>
		if(getParamByUrl("webver")>2){
			if(getParamByUrl("os")=="android"){
				$("#script2").attr("src","jsv1/studentStudentCard.js?v=8");
			}
			else{
				var mobileApp=window.webkit.messageHandlers;
				$("#script2").attr("src","jsv1/studentStudentCard.js?v=8");
			}
		}
		else{
			$("#script2").attr("src","js/studentStudentCard.js?v=8");
		}
	</script>
	<script type="text/javascript" id="script1"></script>
	<script>
		$(function(){
			if(getParamByUrl("webver")>2){
				if(getParamByUrl("os")=="android"){
					$("#script1").attr("src","jsv1/studentStudentInfo.js?v=1");
				}
				else{
					var mobileApp=window.webkit.messageHandlers;
					$("#script1").attr("src","jsv1/studentStudentInfo.js?v=1");
				}
			}
			else{
				$("#script1").attr("src","js/studentStudentInfo.js?v=1");
			}
		});
	</script>
	<!--<script type="text/javascript" src="js/studentStudentInfo.js"></script>-->
	<!--<script type="text/javascript" src="js/studentStudentCard.js?v=7"></script>-->
<script>

//百度统计上传代码
	var _hmt = _hmt || [];
	_hmt.push(['_setAutoPageview', false]);
	_hmt.push(['_trackPageview', location.pathname]);
	(function() {
	  var hm = document.createElement("script");
	  hm.src = "//hm.baidu.com/hm.js?c508b5cd6342d9b51a4a2230e1cd7988";
	  var s = document.getElementsByTagName("script")[0];
	  s.parentNode.insertBefore(hm, s);
	})();
</script>
</html>