<div ng-controller="VideoController">
    <section ng-show="courseType!=0" style="max-height: 200px;">
        <videogular vg-theme="config.theme">
            <vg-media vg-src="config.sources"
                      vg-tracks="config.tracks">
            </vg-media>
            <vg-controls>
                <vg-play-pause-button></vg-play-pause-button>
                <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
                <vg-scrub-bar>
                    <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                </vg-scrub-bar>
                <vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
                <vg-volume>
                    <vg-mute-button></vg-mute-button>
                    <vg-volume-bar></vg-volume-bar>
                </vg-volume>
                <vg-fullscreen-button></vg-fullscreen-button>
            </vg-controls>
            <vg-overlay-play></vg-overlay-play>
            <vg-poster ng-show="courseType==2" vg-url='config.plugins.poster'></vg-poster>
        </videogular>
    </section>
    <section ng-show="courseType==3">
        <img style="width:100%;" src="../../../../content/imgs/poster.png">
    </section>
    <div class="container">
        <div class="row">
            <div class="weui_tab">
                <div class="weui_navbar">
                    <div se-navbar="section" class="weui_navbar_item weui_bar_item_on">
                        章节
                    </div>
                    <div se-navbar="detail" class="weui_navbar_item">
                        课程详情
                    </div>
                    <div se-navbar="exercise" class="weui_navbar_item">
                        练习
                    </div>
                    <div se-navbar="internship" class="weui_navbar_item">
                        践行
                    </div>
                </div>
                <div class="weui_tab_bd">
                    <div ng-show="show.detail" >
                        <div class="panel panel-default" style="margin-bottom:0;">
                            <div class="panel-heading">
                                <strong>课程名称</strong>
                            </div>
                            <div class="panel-body">
                                {{courses.title}}
                            </div>
                        </div>
                        <div class="panel panel-default" style="margin-bottom:0;">
                            <div class="panel-heading">
                                <strong>讲师</strong>
                            </div>
                            <div class="panel-body">
                                {{courses.lecturer}}
                            </div>
                        </div>
                        <div class="panel panel-default" style="margin-bottom:0;">
                            <div class="panel-heading">
                                <strong>课程介绍</strong>
                            </div>
                            <div class="panel-body">
                                <div ng-bind-html=courses.intro|trustAsHtml></div>
                            </div>
                        </div>
                    </div>
                    <div ng-show="show.section">
                        <div ng-repeat="info in courses.section">
                            <div>
                                <a href="javascript:void(0)" se-mp3="info.contents[0].type"
                                   style="display: inline-block; padding:5px 0 5px 5px; color:#666"
                                   ng-click="selectCourse(info)"    >
                                    <span class="glyphicon glyphicon-play"></span>
                                    {{info.sectionSn+' '+info.sectionName}}
                                </a>
                            </div>
                        </div>
                    </div>
                    <div ng-show="show.exercise" class="col-xs-12" >exercise</div>
                    <div ng-show="show.internship" class="col-xs-12" >internship</div>
                </div>
            </div>
        </div>
    </div>
</div>
