<div ng-controller="activeCardController">
    <div class="container" style="padding-top:5px;">
        <div class="row" style="margin-bottom: 10px;">
            <div class="col-xs-12" style="position:relative">
                <img style="width: 100%" ng-src="{{info.imgUrl}}" >
                <span class="text-muted" style="position: absolute;left: 40px; bottom: 5%;">No. JJZH{{info.cardNo}}</span>
            </div>
        </div>
        <div ng-if="info.isAct==false" class="row">
            <div class="col-xs-12 text-center">
                <span style="width:50%" class=" alert alert-danger">当前卡已失效</span>
            </div>
        </div>
        <div ng-if="info.isAct==true" class="row">
            <div ng-if="info.isActive==true" class="col-xs-12">
                <p ng-if="isMyCard==true" class=" alert alert-danger">
                    当前卡你已激活
                    <a style="padding-left:15px;" href='http://weixin.jiajiaozhihui.cn/app/appstart/course/baseinfo.ashx?redirect_url=http://courses.jiajiaozhihui.cn/app/default.html&state={"appid":"app001","hash":"card"}'>立即进入</a>
                </p>
                <div ng-if="isMyCard==false" >
                    <div ng-if="checkState.hasOpenId==true">
                        <div class="text-center" ng-show="checkState.checking==true">
                            <span class="alert alert-danger">正在验证中，请您稍后</span>
                        </div>
                        <div class="text-center" ng-show="checkState.checking==false">
                            当前卡已激活<a class="btn btn-xs btn-success" style="padding-left:5px;" href='http://weixin.jiajiaozhihui.cn/app/appstart/course/baseinfo.ashx?redirect_url=http://courses.jiajiaozhihui.cn/app/default.html&state={"appid":"app001","hash":"card"}'>立即进入</a>
                        </div>
                    </div>
                    <div ng-if="info.isPast==false">
                        <div ng-if="checkState.hasOpenId==false">
                            <div>您的二维码扫描识别出错，请点击下方“提交”按钮，后台将有专人为您审核，审核通过后你将享有此卡的使用权！</div>
                            <p class="text-center"><span class="btn btn-warning" ng-click="allege()">提交</span></p>
                        </div>
                    </div>
                    <div ng-if="info.isPast==true">
                        <span class="alert alert-danger">此卡距第一次激活已超过15天，不能再次激活</span>
                    </div>
                </div>
            </div>
            <div ng-if="info.isActive==false" class="col-xs-12 text-center">
                <div style="border:1px solid #ccc; padding:10px; margin-bottom:15px;">
                    <h4 class="page-header" style="border-bottom: 2px solid #f0ad4e; margin-top:5px;">系统提示</h4>
                    <p class="text-left text-muted">1: 一张卡只能被一个微信号激活</p>
                    <p class="text-left text-muted text-danger">2：请妥善保存好此卡，如果泄漏被他人激活，当前持卡人将失效</p>
                    <p class="text-left text-muted">3：当此卡激活后，15天后会自动失效,不能再次激活，但激活此卡的人可以继续学习此卡里的所有内容</p>
                    <hr>
                    <p><input   ng-model="isAgree" ng-click="agree()"  type="checkbox">同意以上条款</p>
                </div>
                <span id="btnActive" class="btn btn-lg  btn-warning " ng-class="{true:'',false:'disabled'}[isAgree]" style="width:100%" ng-click="active()">立即激活</span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12" style="padding-top:30px;">
                <div class="text-danger" style="padding-bottom:15px;padding-left:15px;">关于学习卡的温馨提示：</div>
                <div class="small">
                    <p style="padding-left:15px;padding-right:15px;">2017-4-7起微信号绑定学习卡升级，如遇到问题请咨询小慧老师</p>
                    <p style="padding-left:15px;padding-right:15px;">如果您在学习卡激活过程中遇到问题需要咨询,或者长按进入下面的小慧老师微信号进行咨询。</p>
                </div>
            </div>
            <div class="col-xs-12">
                <img class="img-thumbnail" style="width: 100%;" src="../../../content/imgs/hf.jpg">
            </div>
        </div>
    </div>
</div>

