html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
li{list-style:none;}
textarea{overflow:auto;resize:none;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:normal;}
del,ins,s,a,a:hover{text-decoration:none;}
body,textarea,input,button,select,keygen,legend{
    font-size: 100%; 
    font-family:Helvetica,STHeiti,Droid Sans Fallback;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    outline:none;
}
html{
    background-color:#fff;
}
body , a{
    color: #41403e;
}
input[type="button"], input[type="submit"], input[type="reset"], input[type="text"] ,textarea {
    -webkit-appearance: none;
}
a{text-decoration:none;}
.fl{float: left;}
.fr{float: right;}
.clearfix:after,
.fl:after ,
.fr:after {
    clear:both;
    content:'\0020';
    display:block;
    height:0;    
}
.m20{margin:0.2rem;}
.mt5{margin-top:0.05rem;}
.mt10{margin-top:0.1rem;}
.mt15{margin-top:0.15rem;}
.mt20{margin-top:0.2rem;}
.mt30{margin-top:0.3rem;}
.mt40{margin-top:0.4rem;}
.mb5{margin-bottom:0.05rem;}
.mb10{margin-bottom:0.1rem;}
.mb15{margin-bottom:0.15rem;}
.mb20{margin-bottom:0.2rem;}
.mb30{margin-bottom:0.3rem;}
.mb50{margin-bottom:0.5rem;}
.ml20{margin-left:0.2rem;}
.ml80{margin-left: 0.80rem;}
.mlr20{margin-left:0.2rem;margin-right: 0.2rem;}

.pt30{padding-top: 0.3rem;}

.pr{position: relative;}
.pa{position:absolute;}

/* 0.5 细线 */
.bd_t,
.bd_l,
.bd_b,
.bd_r,
.bd_tlbr{
    position: relative;
}

.bd_t:before,
.bd_l:before,
.bd_b:before,
.bd_r:before,
.bd_tlbr:before{
    content: '';
    position: absolute;
    width: 200%;
    height: 200%;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    left:0;
    top:0;
}

.bd_t:before{
    border-top: 1px solid #f2f2f2;
}
.bd_l:before{
    border-left: 1px solid #f2f2f2;
}
.bd_b:before{
    border-bottom: 1px solid #f2f2f2;
}
.bd_r:before{
    border-right: 1px solid #f2f2f2;
}
.bd_tlbr:before{
    border: 1px solid #f2f2f2;
}
/* 0.5 细线 end */

/* color */
.bg-ffffff{background-color:#ffffff;}
.bg-f1f0ec{
    background-color:#f1f0ec;
}
.col-808080{color:#808080;}
.col-red{color:#ff0000;}
/* color end */

/* font-size */
@font-face {
    /* font-properties */
    font-family: helvetica;
    src:url('font/helvetica-light.otf');
}
.fs-30{font-size:0.3rem;}
.fs-24{font-size:0.24rem;}
/* font-size end*/

/*line-height*/
.lh53{line-height: 0.53rem;}
/*line-height end*/

/*display*/
.display-ib{display: inline-block;}

/*border*/
.bdt4-f1f0ec{border-top: 0.04rem solid #f1f0ec;}
.bdt1-f1f0ec{border-top: 0.01rem solid #f1f0ec;}

/* 主内容开始 */
.col-41403e{
    color:#41403e;
}
.col-999896{
    color:#999896;
}
.green{color: #19b200;}

html ,
body {
    height:100%;
}
html{font-size: 50px;}
body{
    font-size:0.36rem;
    color: #41403e;
    font-family: 'helvetica';
}

/* loading */
.loading{width:100%; height:100%; position: fixed; z-index:9998;left:0;top:0;display:none;}
.load-inner{ width:2rem; height:2.2rem; background:rgba(0,0,0,.7) url(../images/loading.gif)  center 20px no-repeat; background-size:40%; position: fixed; left:50%; top:50%; z-index:9999; border-radius:5px; -webkit-transform:translate(-50%,-50%); transform:translate(-50%,-50%);}
.load-inner span{ color:#fff; font-size:0.3rem; position: absolute; bottom:0.2rem; width:100%; text-align:center; left:0;}
/* dialog */
.dialog{width:100%; height:100%; position: fixed; z-index:9998;left:0;top:0;display:none;}
.dialog-inner{ background:rgba(0,0,0,.7);max-width: 70%;padding: 0.3rem 0.4rem;text-align: center; color:#fff; font-size:0.3rem; position: fixed; left:50%; top:50%; z-index:9999; border-radius:5px; -webkit-transform:translate(-50%,-50%); transform:translate(-50%,-50%);}


/*图标*/
.icon,.video .video-icon:after{background: url(../images/icon.png) 0 100rem no-repeat; background-size: 10rem 10rem;}
.correct{background-position-y:0; width: 0.54rem;height:0.39rem;display: inline-block;vertical-align: middle;}
.error{background-position-y:-0.68rem; width: 0.54rem;height:0.39rem;display: inline-block;vertical-align: middle;}
.partly-correct{background-position-y:-1.38rem; width: 0.54rem;height:0.39rem;display: inline-block;vertical-align: middle;}

/*图片*/
.img-box{overflow: hidden;max-width: 80%;}
.img-box img{min-width:100%; max-height: 4rem; max-width:110%;width: auto;height: auto;display: block;}
.img1{width: 4.95rem;height: 2.76rem;}
.img2{width: 2.35rem;height: 1.3rem;vertical-align: top;}

/*option*/
.option{width: 0.56rem; height: 0.56rem;font-size: 0.24rem;padding-top: 0.02rem; border-radius: 100%; text-align: center;vertical-align: middle;background-color: #f1f0ec;color: #41403e;display: inline-block;line-height: 0.56rem; box-sizing: border-box;}
.op-white{background-color: #fff;color: #999896;font-size: 0.3rem;border: 1px solid #999896;}
.op-red{background-color: #f00;color: #fff;font-size: 0.3rem;}
.op-green{background-color: #19b200;color: #fff;font-size: 0.3rem;}

/*ListenSpeek main*/
.wrap{width: 7.5rem;margin: 0 auto;}
.word-break{word-break: break-all; overflow: hidden;}
.tit1{padding: 0.3rem 0.2rem;}
.tit2{line-height: 0.5rem;}
.audio audio{width: 5.2rem;height: 0.6rem;display: block;}
.video{width: 6.7rem;height: 3.77rem;overflow: hidden; position: relative;z-index: 0;}
.video video{width: 100%;height: 100%;display: block;background-color: #989898;}
.video .video-icon{background-color: rgba(0,0,0,0.4);width: 100%;height: 100%;z-index: 2;}
.video .video-icon:after{content:'';position: absolute;background-position-y:-3.37rem; width: 0.8rem;height:0.8rem;left: 50%;top: 50%;margin: -0.4rem 0 0 -0.4rem;z-index: 3;}

.filling-txt{display: inline-block;padding: 0.01rem 0.3rem; border-bottom: 1px solid #000;}

/* 图片放大效果 */
.animate {-webkit-transition: all .3s;-moz-transition: all .3s;transition: all .3s; }
.imgDialog{position: absolute;left: 0;top: 0;width: 100%;height: 100%;display: none;z-index: 9999;}
.imgDialog>div{position: absolute;left: 0;top: 0;width: 100%;height: 100%;}
.imgDialogBg{position: fixed;left: 0;top: 0;width: 100%;height: 100%;background: rgba(65,64,62,1);z-index: 9999;}
.imgDialogImgelement{position: absolute;left: 0;top: 0;width: 100%;height: 100%;overflow: hidden;z-index: 9999;}
.imgDialogImgelement img{display: block; max-width: 100%;max-height: 100%;}
.dialogOverflow{overflow: hidden;}
