<div class="page" ng-controller="habitsNewsController">
    <div class="page__bd" >
        <div class="weui-tab">
            <div class="weui-navbar">
                <div ng-repeat="item in data.tabs.names" se-new-select-navbar="{{$index}}"
                     ng-class="{true:'se-weui-bar__item',false:''}[$index==0]"
                     class="weui-navbar__item " style="background-color: #fff; position:static ">
                    <span class="se-weui-bar__item_on"> {{item}} </span>
                </div>
            </div>
            <div class="weui-tab__panel" style="padding-top:10px; height:900px; overflow:auto" when-scrolled="loadMore()">
                <div  ng-hide="data.tabs.tabActiveIndex != 0"  >
                    <div se-habit-swiper="" class="swiper-container" style="margin-top:20px;">
                        <div class="swiper-wrapper" style="height:200px;">
                            <!--
                            <a href="{{item.link}}" class="swiper-slide" ng-repeat="item in data.swiper">
                                <img style="width:100%" src="{{item.imgUrl}}">
                            </a>
                            -->
                            <div class="swiper-slide"><img style="width:100%;" src="//gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i1/TB1n3rZHFXXXXX9XFXXXXXXXXXX_!!0-item_pic.jpg_320x320q60.jpg" alt=""></div>
                            <div class="swiper-slide"><img style="width:100%;" src="//gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i4/TB10rkPGVXXXXXGapXXXXXXXXXX_!!0-item_pic.jpg_320x320q60.jpg" alt=""></div>
                            <div class="swiper-slide"><img style="width:100%;" src="//gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i1/TB1kQI3HpXXXXbSXFXXXXXXXXXX_!!0-item_pic.jpg_320x320q60.jpg" alt=""></div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                    <div ng-include="'./views/gardenia/habits/template/habitdetail.html'"></div>
                </div>
                <div  ng-hide="data.tabs.tabActiveIndex != 1"  style="padding-bottom:50px;">
                    <div ng-include="'./views/gardenia/habits/template/rank.html'" ></div>
                </div>
            </div>
        </div>
    </div>
</div>
