.audio-player-on{
  margin: 0 auto 0 auto;
  //color: #ffffff;
  width: px2rem(359);
  //padding-top: px2rem(18);
  margin-bottom: px2rem(18);
}

.audio-player-off{
  margin: 0 auto 0 auto;
  //color: #ffffff;
  width: px2rem(359);
  //padding-top: px2rem(18);
  margin-bottom: px2rem(18);
  box-shadow: 0px px2rem(2) px2rem(4) rgba(0, 0, 0, 0.3);
}

.audio-title{
  border-radius: px2rem(4) px2rem(4) 0 0 ;
  position: relative;
  background-color: #ffffff;
  height: 8rem;
  opacity: 0.9;
  .click-button{
    width: px2rem(86);
    height: px2rem(86);
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
  }
  .title-top{
    font-size: px2rem(20);
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 999;
    //color: #ffffff;
    width: 200px;
    height: 80px;
    line-height: 80px;
    text-align: center;

  }
  .title-bottom{
    font-size: px2rem(20);
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    color: #979797;

    width: 200px;
    height: 80px;
    line-height: 80px;
    text-align: center;
  }
}