.get-reward{
  font-size: 0px;
  background-size: cover;
  position: relative;
  padding-top: px2rem(5);
  .get-graduated{
    position: absolute;
    top: px2rem(10);
    left: 50%;
    transform: translate(-50%,0);
    margin: 0;
    text-align: center;
    width: px2rem(268);
    height: px2rem(430);
    background-size: 100% 100%;
    font-size: 0;
    z-index: 100;
    .head{
      margin: px2rem(108) auto px2rem(5) auto;
      border-radius: px2rem(70);
      border:2px solid #1CA6DF;
      width: px2rem(70);
      height: px2rem(70);
    }
    .title{
      line-height: px2rem(25);
      color: #1CA6DF;
      .name{
        height: px2rem(25);
        font-size: px2rem(18);
      }
      .rank{
        height: px2rem(27);
        font-size: px2rem(22);
        font-weight: bold;
      }
      p{
        height: px2rem(20);
        font-size: px2rem(14);
      }
    }
  }
  .text-stroke{
    position: relative;
    text-align: center;
    height: px2rem(36);
    line-height: px2rem(36);
    .text-stroke-inner
    {
      //margin: 10px auto 0 auto;
      position: absolute;
      font-size: px2rem(22);
      font-family: '幼圆';
      font-weight: 900;
      color: #1CA6DF;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      z-index: 70;
      width: 100%;
    }
    .text-stroke-out
    {
      position: absolute;
      //margin: 10px auto 0 auto;
      font-size: px2rem(22);
      font-family: '幼圆';
      font-weight: 900;
      color: white;
      -webkit-text-stroke: 4px white;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      z-index: 60;
      width: 100%;
    }
  }

  .card-title{
    top: 10px;
    left:50%;
    transform: translate(-50%,0);
    width: 100%;
    position: absolute;
    z-index: 51;
  }

  .reward-pic{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    z-index: 150;
    margin-top: 10px;
    width: px2rem(218);
    height: px2rem(364);
  }
  .reward-button{
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%,0);
    z-index: 100;
    text-align: center;
    width: 100%;
  }
  .button-img{
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .button-p{
    color: white;
    font-size: 22px;
    position: absolute;
    z-index: 101;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%
  }
  .reward-button-graduated{
    position: absolute;
    bottom: 30px;
    //left: px2rem(290);
    left: 50%;
    transform: translate(-50%,0);
    z-index: 100;
    text-align: center;
    width: 100%;
  }
  .graduated-tip{
    font-size: 16px;
    position: absolute;
    bottom: 55px;
    //left: px2rem(290);
    left: 50%;
    transform: translate(-50%,0);
    z-index: 100;
    text-align: center;
    width: 100%;
    span{
      font-size: 18px;
      font-weight: bold;
    }
  }
  .reward-recommand{
    position:fixed;
    top:50%;
    left:50%;
    margin-top: px2rem(156);
    margin-left: px2rem(-54);
    width: 29%;
    z-index: 100;
    animation: shake_1 4s infinite;
    animation-delay:1s;

    @keyframes shake_1
    {
      0% {transform:rotate(0deg);}
      2% {transform:rotate(5deg);}
      4% {transform:rotate(-5deg);}
      8% {transform:rotate(5deg);}
      10% {transform:rotate(-5deg);}
      12% {transform:rotate(0deg);}
      100% {transform:rotate(0deg);}
    }
  }
  .reward-light{
    position:fixed;
    top: 50%;
    left: 50%;
    margin-top: px2rem(-560);
    margin-left: px2rem(-500);
    height: px2rem(1000);
    z-index: 50;
    animation: rotate 20s infinite;
    animation-timing-function: linear;
  }

  @keyframes rotate
  {
    0% {transform:rotate(0deg);}
    100% {transform:rotate(360deg);}
  }

}
