
html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #222;
  background: #fafafa
}

.wrap {
  margin: 150px auto;
  max-width: 600px
}

h1 {
  font-weight: 400;
  font-size: 35px;
  text-align: center
}

label {
  display: block;
  font-weight: 300;
  font-size: 30px;
  text-align: center
}
