@charset "utf-8";
/*==============================
CopyRight 视一广告 VisionFirst
Tel:021-6053 8895
Email:jerry@v1ad.cn
Website:www.vfad.cn
================================*/


@font-face {
    font-family: 'unidreamledregular';
    src: url('../fonts/unidreamled-webfont.eot');
    src: url('../fonts/unidreamled-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/unidreamled-webfont.woff2') format('woff2'),
         url('../fonts/unidreamled-webfont.woff') format('woff'),
         url('../fonts/unidreamled-webfont.ttf') format('truetype'),
         url('../fonts/unidreamled-webfont.svg#unidreamledregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


*{ margin:0px; padding:0px;}

html,body{
	margin:0px 0 0;	
	color:#404040;
	min-width:320px;
	font-family: SimHei, Arial, Helvetica, sans-serif;
	background-color: #000;
	width:100%;
	height:100%;
	overflow:hidden;
	
	-moz-user-select:none; /*火狐*/ 
     -webkit-user-select:none; /*webkit浏览器*/
     -ms-user-select:none; /*IE10*/
     -khtml-user-select:none; /*早期浏览器*/
     user-select:none;
	
}



ul, li{list-style-type:none;}
a{color:#404040;text-decoration:none;}
a:hover{color:#404040;text-decoration:none;}
img{border:0; }

.page{position:relative; overflow:hidden; background-color:#000;}



	
#loading {
	width: 100%;
	height:100%;
	color: #fff;
	text-align: center;
	background-color: #000;
	position:absolute;
	top:0px;
	left:0px;
	z-index:10001;
	left: 0px;
}

#loading img { 
	position: absolute;
	 left: 50%; 
	 top: 50%; 
	 margin-left: -12px;
	 margin-top: -12px; 
	 width: 24px; 
	 height: 24px;
 }
	



.main{
	position:relative;
	/*overflow:hidden;*/
	width: 100%;
	height: 100%;
	}

/*========================================*/

.userFormPage{
	position: absolute;
	z-index:10000;
	left: 0%;
	top: 0%;
	width:100%;
	height:100%;
	
	}
	
.main .userFormPage .userForm {
	position: absolute;
	left: 0px;
	top: 5%;
	/*background-image: url(../images/blackMaskBg.png);
	background-repeat: repeat;*/
	/*opacity: 0.9;*/
	text-align: center;
	}

.formBox {
	position: relative;
	width: 90%;
	margin: auto;

}

.bg-ws{
	width: 90%;
    height: 100%;
    margin: auto;
    background: rgba(125,200,230,0.3);
    border-radius: 10px;
    /*box-shadow: 0px 1px 2px 4px lightgray;*/
   /*background: lightgr;*/
}


.jxsTel{
	display: block;
	width: 100%;
	background:#E7E7E7;
	/*border: 1px solid #444444;*/
	border: none;
	color:#A9A9A9;
	font-family: "微软雅黑", "宋体", sans-serif;
	margin: auto;
	margin-top: 4%;
	line-height: 200%;
	border-radius: 5px;
	margin-bottom: 3%;	

}

#userName{
	margin-top: 12px;
}

.formBox input,.formBox select {
	
	font-size: 16px;
	/*height: 20%;*/
	width: 99%;
	line-height: 200%;
	/*color: #898686;*/
	color: black;
	border-radius: 5px;
	/*border: 1px solid #444444;*/
	border: none;
	font-family: "微软雅黑", "宋体", sans-serif;
	margin-top: 4%;
}

.formBox input{
	background:#E7E7E7;
}

#btn-check{
	border-radius:5px;
	/*background-color: rgba(108,163,217,0.7);*/
	background-color: lightgray;
	line-height: 200%;
	color: white;
	display: inline-block;
	width: 48.5%;
}

.formBox select{
	background-color: #E7E7E7;
	/*appearance: none;*/
	height: 30px;
	color: #A9A9A9;
}

	
#submitBtn{
	display: block;
	cursor: pointer;
    width: 40%;
    height: 40px;
    line-height: 42px;
    font-size: 20px;
    border-radius: 10px;
    color: white;
    margin: auto;
    background-color: lightgray;
    /*background-color:rgba(108,163,217,0.7);*/
   
    margin-top: 5%;
    margin-bottom: 5%;
}

/*zw--修改*/

.header-img{
	width: 100%;
	height: 100%;
	display: none;
}

.header-img img{
	width: 100%;
}

.page03Bg{
	width: 100%;
	height: 100%;
}

#userName,#sex,#province,#city,#carType,#jingxiaoshang,.btn-check{
	display: inline-block;
	width: 48.5%;
}
#checkNumber{
	display: inline-block;
	width: 48.5%;
}

#checkColor{
	display: none;
	color: red;
	visibility: visible;
	position: absolute;
	top: 20%;
	right: 10%;
}

.car-tips{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	display: table;
	/*text-align: center;*/
	border-radius: 5px;
	display: none;
	background: rgba(0,0,0,0.5);
	z-index: 10000;
	}
		
.car-tips div{
	margin: auto;
    width: 60%;
    margin-top: 25%;
    background: white;
    text-align: center;
   	padding-top: 35px;
	padding-bottom: 35px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
}
		
.car-tips p{
	display: inline-block;
	margin: auto;
	/*margin-top: 30%;*/
	/*width: 100%;*/

	letter-spacing: 3px;
	/*text-indent: 1em;*/
	/*background: white;*/
	text-align: left;
	color: #03A9F4;
	}