@import "../base";
@import "../../font/iconfont.css";
body,html{
  width: 100%;
  height: 100%;
}
.wsb_box{
  width: 100%;
  height: 100%;
  display: flex;
}
.wsb_left{
  width: 230px;
  min-width: 230px;
  background-color: #20222a;
  height: 100%;
  color: #fff;
  .wsb_left_content{
      .wsb_oul{
        font-size: 14px;
        color: #c2c2c2;
        .wsb_first{
          padding-left: 50px;
          height: 50px;
          align-items: center;
          display: flex;
        }
        &>li{
          position: relative;
          &.active{
            background-color: #4e5465;
            &::before{
              content: '';
              width: 3px;
              height: 50px;
              display: block;
              background-color: #5fb878;
              position: absolute;
              left: 0;
              top: 0;
            }
          }
          &.wsb_li{
            &>span{
              padding-left: 50px;
              height: 50px;
              display: flex;
              align-items: center;
              font-size: 14px;
              position: relative;
              &::after{
                position: absolute;
                right: 20px;
                top:38%;
              }
            }
            &>.wsb_two{
              background-color: #20222a;
              display: none;
              &>li{
                padding-left: 80px;
                height: 35px;
                display: flex;
                align-items: center;
                position: relative;
                &.active{
                  background-color: #4e5465;
                  &::before{
                    content: '';
                    width: 3px;
                    height: 35px;
                    display: block;
                    background-color: #5fb878;
                    position: absolute;
                    left: 0;
                    top: 0;
                  }
                }
                &.wsb_two_li{
                  a{
                    color: #c2c2c2;;
                  }
                }
              }
              &.show{
                display: block;
              }
            }
            &>a{
              color: #c2c2c2;
            }
          }
        }
      }
  }
}
.wsb_left>h4{
  color: #c2c2c2;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wsb_right{
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #f2f2f2;
  .wsb_right_top{
      height: 50px;
      background-color: #fff;
      margin-bottom: 2px;
      width: 100%;
      display: flex;
      justify-content: flex-end;
    .wsb_name{
      width: 150px;
      display: flex;;
      align-items: center;
      margin-right: 15px;
      &>span{
        flex: 1;
        display: flex;
        justify-content: center;
        position: relative;
        font-size: 14px;
        &:nth-of-type(2)::before{
          content: '';
          display: inline-block;
          width: 1px;
          background-color: #020202;
          position: absolute;
          height: 80%;
          left: 0;
          top: 20%;
        }
      }
    }
  }
  .wsb_right_title{
    height: 35px;
    background-color: #fff;
    margin-bottom: 1px;
    width: 100%;
    display: flex;
    &>span{
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: center;
    }
  }


}
.wsb_right_content{
  display: flex;
  flex: 1;
  &>section{
    width: 100%;
  }
  &>section .home_box{
    background-color: #fff;
    margin: 20px 70px 0 70px;
    border: 1px solid #797979;
    display: flex;
    & .home_oul{
      flex: 1;
      min-width: 100px;
      border-right: 1px solid #797979;
      li{
        height: 35px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #797979;
        justify-content: center;
        &:last-child{
          border-bottom: none;
        }
      }
    }
  }
}
.wsb_right_content > section .home_box>ul:nth-last-child(1){
  border-right: none;
}

.wsb_right_content{
    .project{
      width: 100%;
      height: 100%;
      background-color: #f0f0f0;
      .project_top{
        margin:20px 0 0 70px;
        width: 400px;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &>input{
          height: 40px;
          width: 350px;
          display: flex;
          justify-content: center;
          align-items: center;
          padding-left: 10px;
          border: 1px solid #c2c2c2;
        }
        &>label{
          width: 50px;
          height: 50px;
          display: flex;
          justify-content:center;
          align-items: center;
          font-size: 25px;
        }
      }
      .project_content{
        background-color: #fff;
        margin: 20px 70px 0 70px;
        border: 1px solid #797979;
        display: flex;
        flex-wrap: wrap;
        & .project_oul{
          display: flex;
          width: 100%;
          border-bottom: 1px solid #797979;
          &>li {
            display: flex;
            flex: 2;
            min-width: 50px;
            justify-content: center;
            align-items: center;
            border-right: 1px solid #797979;
            min-height: 50px;
            &:nth-of-type(2) {
              flex: 3;
            }
            &:nth-of-type(3) {
              flex: 9;
            }
            &:nth-of-type(4), &:nth-of-type(5), &:nth-of-type(6) {
              flex: 4;
            }
            &:nth-of-type(7), &:nth-of-type(8) {
              flex: 5;
            }
            &:nth-last-of-type(1){
              border-right: none;
              cursor: pointer;
            }
          }
          &:nth-of-type(1){
            height: 35px;
            &>li:nth-last-of-type(1){
              cursor: inherit;
            }
            &>li{
              min-height: 35px;
            }
          }
          &:nth-last-of-type(1){
            border-bottom: none;
          }
        }
      }
    }
}

@media screen and (max-width: 1000px) {
  .wsb_right_content .project .project_content{
    min-width: 630px;
  }
}





