<div  ng-controller="initReadController">
    <div ng-controller="homeController">
        <div loading="" ng-model="isLoading"></div>
        <div ng-include="'./views/header.html'"></div>
        <div class=" container" style="padding-top:10px;" >
            <div ng-repeat="info in infos">
                <!--广告-->
        <div ng-if="info.type=='adv'" class="row" style="padding-bottom:15px; border-bottom:1px solid #eee; padding-top:10px;">
            <div class="col-xs-3">
                <div class="row">
                    <div class="col-xs-12">
                        <img style="width:50px; height:50px;" src="../../../content/imgs/teacher.jpg">
                    </div>
                </div>
                <div class="row" style="padding-top:10px;">
                    <div class="col-xs-12 ">
                        <span class="glyphicon glyphicon-map-marker text-primary" style="font-size:12px;"></span>
                        <span style="font-size:12px;">深圳市</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-9">
                <div class="row">
                    <div class="col-xs-10 text-primary text-left" >
                        国学知行社
                    </div>
                    <div class="col-xs-12 text-left" style="padding-top:5px;" ng-controller="sendAdvController">
                        {{info.data.resume}}
                        <a href="" ng-click="showAdv(info.data.iD)"><span>详情>>></span></a>
                    </div>
                    <div class="col-xs-12 text-center" style="padding-top:10px;">
                        <img ng-hide="info.data.imgUrl==''"  style="width:80%;" ng-src="{{'http://192.168.105.246:8080'+info.data.imgUrl|resourceUrl}}" />
                    </div>
                    <div class="col-xs-12 text-left" style="padding-top:10px;">
                        <span class="glyphicon glyphicon-dashboard" style="font-size:11px;"></span>
                        <span style="font-size:11px;">{{info.data.createDate|date:'yyyy-MM-dd'}}</span>
                    </div>
                </div>
            </div>
        </div>
        <!--作品-->
        <div ng-if="info.type==undefined" id="{{'row'+info.playerTaskId}}" class="row" style="padding-bottom:15px; border-bottom:1px solid #eee; padding-top:5px;">
            <div class="col-xs-3">
                <div class="row">
                    <div class="col-xs-12">
                        <img style="width:50px; height:50px;" ng-src="{{info.userInfo.headImgUrl}}">
                    </div>
                </div>
                <div class="row" style="padding-top:5px;">
                    <div class="col-xs-12 ">
                        <span class="glyphicon glyphicon-map-marker text-primary" style="font-size:12px;"></span>
                        <span style="font-size:12px;">{{info.userInfo.city}}</span>
                    </div>
                </div>
                <div class="row" style="padding-top:5px;">
                    <div class="col-xs-12 ">
                        <span class="glyphicon glyphicon-user text-primary" style="font-size:12px;"></span>
                        <span style="font-size:12px;">{{info.player.playerType}}</span>
                    </div>
                </div>
                <div class="row" style="padding-top:5px;">
                    <div class="col-xs-12 ">
                        <span class=" text-info" style="font-size:12px;">{{'第'+info.taskSn+'关'}}</span>
                    </div>
                </div>
                <div class="row" style="padding-top:5px;">
                    <div class="col-xs-12 ">
                        <span class=" text-success" style="font-size:12px;">{{'第'+info.week+'周'}}</span>
                    </div>
                </div>
                <div class="row" style="padding-top:5px;">
                    <div class="col-xs-12 ">
                        <span class=" text-primary" style="font-size:12px;">{{'第'+info.intervalDay+'天'}}</span>
                    </div>
                </div>

                <div class="row" style="padding-top:5px;">
                    <div class="col-xs-12 ">
                        <span style="font-size:12px;">{{'孩子'+info.player.age+'岁'}}</span>
                    </div>
                </div>

                <div ng-if="info.isRight==1" class="row" style="padding-top:5px;">
                    <div class="col-xs-12 ">
                            <span se-top
                                  class="btn btn-xs btn-primary glyphicon glyphicon-fire"
                                  style="padding:0 6px; font-size:11px;"
                                  data-showTop="{{'top'+info.playerTaskId}}"
                                  data-fileId="{{info.playerTaskId}}">
                                精华</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-9">
                <div class="row">
                    <div class="col-xs-9 text-primary text-left" >
                        {{info.userInfo.nickName}}
                    </div>
                    <div id="{{'top'+info.playerTaskId}}" class="col-xs-3 text-primary text-right" ng-show="info.isTop==1" >
                        <span class="glyphicon glyphicon-fire" style="color:#f00;" ></span>
                    </div>
                    <div  media-delete data-index="{{info.playerTaskId}}" class="col-xs-3 text-danger text-right" ng-show="info.isDelete" >
                        <span class="glyphicon glyphicon-remove" style="color:#f00;" ></span>
                    </div>
                    <div class="col-xs-12 text-left" style="padding-top:5px;">{{info.comment}}</div>
                    <div ng-repeat="media in info.medias">
                        <div ng-show="media.mediaType==1" class="col-xs-12 text-left" style="padding-top:10px;">
                            <img ng-click="showImg(media.mediaUrl)" style="width:80%;" ng-src="{{media.mediaUrl|resourceUrl}}"></img>
                        </div>
                        <div ng-show="media.mediaType==2" class="col-xs-12 text-left" style="padding-top:10px;">
                            <div player-link player="player" ng-model="media.mediaUrl">

                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 text-left" style="padding-top:10px;">
                        <span class="glyphicon glyphicon-dashboard" style="font-size:11px;"></span>
                        <span style="font-size:11px;">{{info.releaseTime}}</span>
                            <span se-like
                                  ng-class="{true:'btn btn-xs btn-success glyphicon glyphicon-heart',false:'btn btn-xs btn-default glyphicon glyphicon-heart'}[info.isLike]"
                                  style="padding:0 6px; font-size:11px;"
                                  data-showLike="{{'likeWrap'+info.playerTaskId}}"
                                  data-fileId="{{info.playerTaskId}}"
                                    >
                                {{info.likeNumber}}
                            </span>
                            <span se-comment
                                  class="btn btn-xs btn-primary glyphicon glyphicon-comment"
                                  style="padding:0 6px; font-size:11px;"
                                  data-showComment="{{'commentWrap'+info.playerTaskId}}"
                                  data-fileId="{{info.playerTaskId}}"
                                    >
                                {{info.commentNumber}}
                            </span>
                            <span class="btn btn-xs btn-info glyphicon glyphicon-share"
                                  style="padding:0 6px; font-size:11px;"
                                  ng-click="share(info.playerTaskId)"
                                    >
                                分享
                            </span>
                    </div>
                    <div class="col-xs-12 text-left" style="padding-top:10px;word-break: break-all; word-wrap:break-word;">
                        <div style="padding-bottom:5px;" ng-if="false">
                            <p style="font-size:11px;" id="{{'likeWrap'+info.playerTaskId}}">
                                <span ng-show="info.likeNumber!=0" class="glyphicon glyphicon-heart" style="font-size:12px; color:#f00;"></span>
                                    <span ng-repeat="like in info.likes">
                                        <span>{{like.nickName}}</span>
                                    </span>
                            </p>
                        </div>
                        <div style="padding-top:5px;border-top:1px solid #eee;" id="{{'commentWrap'+info.playerTaskId}}">
                            <div ng-repeat="comment in info.comments">
                                <p style="font-size:11px;">
                                    <span class="text-primary">{{comment.nickName}}</span>:
                                    {{comment.details}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-center" style="padding:10px 0;" ng-show="currLink.top==false">
            <input ng-show="moreThen>9"  style="width:90%;" ng-click="more()" type="button" class="btn btn-default" value="加载更多">
            <p class="text-center" style="color: #888; font-size:12px;" ng-show="moreThen==0">
                暂时还没有数据
            </p>
        </div>
        <div class="col-xs-12 text-center" style="padding:10px 0;" ng-show="currLink.top==true">
            <input ng-show="moreThen>9"  style="width:90%;" ng-click="moreTop()" type="button" class="btn btn-default" value="加载更多hh">
            <p class="text-center" style="color: #888; font-size:12px;" ng-show="moreThen==0">
                暂时还没有数据
            </p>
        </div>
    </div>
    <div id="actionSheet_wrap" >
        <div class="weui_mask_transition" id="mask"></div>
        <div class="weui_actionsheet" id="weui_actionsheet" style="z-index: 999999">
            <div class="weui_actionsheet_menu" >
                <div class="text-right" style="padding-right:5px;"><span id="btnClose" class="glyphicon glyphicon-remove"></span></div>
                <div class="weui_actionsheet_cell">
                    <textarea id="commentContext" class="weui_textarea" placeholder="请输入评论" style="padding:0 10px;" rows="3"></textarea>
                </div>
            </div>
            <div class="weui_actionsheet_action" style="z-index: 999999">
                <input type="button" class="btn btn-lg btn-default disabled" style="width:100%;" id="actionsheet_submit" value="提交" />
            </div>
        </div>
    </div>
</div>
</div>
    <audio id="audio"></audio>
</div>
