.header{
	padding: 15px;
	padding-bottom: 30px;
	font-size: 28px;
	/*font-weight: 600;*/
	color: #404040;
}


.form_login{
	padding: 0 15px;
	.section{
		border-bottom: 1px solid #EDEDF0;
		padding: 15px 0;
		>button{
			margin: 0;
			padding: 0;
			font-size: 14px;
			background: #ffffff;
			color: #B9BDC3;
		}
		>button::after{
			border: none;
		}
	}
	.verification_code{
		display: flex;
		align-items: center;
		justify-content: space-between;
		>input{
			flex: 6;
		}
		>view{
			flex: 4;
			text-align: right;
			color: #B9BDC3;
		}
	}
}

.submit{
	margin-top: 70px;
	>button{
		margin: 0 15px;
		color: #ffffff;
		border-radius: 10px;

	}

	>button:active{
		background: #1B1B1B;
	}
	.button_active_none{
		background: #888888;
	}

	.button_active_over{
		background: #383838;
	}
}

.border_No{
	border-bottom: 1px solid #E64340 !important;
}
