*{
  margin: 0;
  padding: 0;
}
a{
  text-decoration:none;
}
a:link{
  text-decoration:none;
}
a:visited{
  text-decoration:none;
}
a:hover{
  text-decoration:none;
}
a:active{
  text-decoration:none;
}
ul{
  list-style: none;
}
body {
  font-family: sans-serif,"Microsoft YaHei","STSong","Helvetica Neue", Helvetica, Arial;
  vertical-align: baseline;
  font-size: 14px;
}
.hide{
  opacity: 0;
}
*{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html,body { width:100%; height:100%;}
.swiper-container {
  width: 100%;
  height: 100%;
  opacity: 0;
}
.swiper-slide{
  //overflow: hidden;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.wt_wen{
  padding:15px 17px;
  font-size: 18px;
  color: #292936;
  text-align: justify;
}
.wenti_answer{
  border-top: 0.5px solid #e2e2e4;
  margin:0px 17px;
  padding-top: 15px;
  color: #7c7c83;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1px;
  text-align: justify;
}
.contact-kf-btn{
  width: 100%;
  border-top: 1px solid #e2e2e4;
  position: absolute;
  bottom: 0px;
  text-align: center;
  a{
    font-size: 16px;
    line-height: 60px;
    color: #2aba66;
  }
}

.help_page{
  background: #f6f8f7;
  .hot_problem{
    color:#7c7c83;
    padding:12px;
    font-size: 14px;
  }
  .hot_ul{
    font-size: 13px;
    li{
      box-sizing: border-box;
      width: 100%;
      height: 50px;
      line-height: 50px;
      padding-left: 12px;
      border-top: 1px solid #fcfcfc;
      border-bottom: 1px solid #fcfcfc;
      background: #ffffff;
      color: #292936;
      span{
        position: absolute;
        right: 12px;
        color: #CCCCCC;
        font-size: 16px;
        img{
          width: 7px;
          height: 12px;
        }
      }
    }
  }
  .leibie_ul{
    margin-bottom: 80px;
    li{
      box-sizing: border-box;
      width: 100%;
      height: 60px;
      line-height: 60px;
      padding-left: 12px;
      border-top: 1px solid #fcfcfc;
      border-bottom: 1px solid #fcfcfc;
      background: #ffffff;
      color: #292936;
      img{
        width: 30px;
        height: 30px;
        vertical-align: middle;
        margin-right: 10px;
      }
      span:last-child{
        position: absolute;
        right: 2px;
        color: #CCCCCC;
        img{
          width: 7px;
          height: 12px;
        }
      }
    }
  }
}
.contact-kf-btn-index{
  background: white;
  width: 100%;
  border-top: 1px solid #e2e2e4;
  position: absolute;
  z-index: 999;
  bottom: 0px;
  left: 0;
  text-align: center;
  a{
    color: #2aba66;
    font-size: 16px;
    line-height: 60px;
    width: 100%;
    display: block;
  }
}
.class_page{
  background: #f6f8f7;
  .class_ul{
    font-size: 13px;
    li{
      width: 100%;
      line-height: 50px;
      padding-left: 12px;
      border-top: 1px solid #fcfcfc;
      border-bottom: 1px solid #fcfcfc;
      background: #ffffff;
      color: #292936;
      span{
        position: absolute;
        right: 12px;
        color: #CCCCCC;
        font-size: 16px;
        img{
          width: 7px;
          height: 12px;
        }
      }
    }
  }
}
.detail_page{
  background: #ffffff;
}