html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
li{list-style:none;}
textarea{overflow:auto;resize:none;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:normal;}
del,ins,s,a,a:hover{text-decoration:none;}
body,textarea,input,button,select,keygen,legend{
    font-size: 100%;
    font-family:Helvetica,STHeiti,Droid Sans Fallback;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    outline:none;
}
html{
    background-color:#fff;
}
body , a{
    color: #41403e;
}
input[type="button"], input[type="submit"], input[type="reset"], input[type="text"] ,textarea {
    -webkit-appearance: none;
}
a{text-decoration:none;}
.fl{float: left;}
.fr{float: right;}
.clearfix:after,
.fl:after ,
.fr:after {
    clear:both;
    content:'\0020';
    display:block;
    height:0;
}
.hide{display: none!important;}

.m20{margin:0.2rem;}
.m30{margin:0.3rem;}
.mt5{margin-top:0.05rem;}
.mt10{margin-top:0.1rem;}
.mt15{margin-top:0.15rem;}
.mt20{margin-top:0.2rem;}
.mt30{margin-top:0.3rem;}
.mt40{margin-top:0.4rem;}
.mt50{margin-top:0.5rem;}
.mt130{margin-top:1.3rem;}
.mt150{margin-top:1.5rem;}
.mb5{margin-bottom:0.05rem;}
.mb10{margin-bottom:0.1rem;}
.mb15{margin-bottom:0.15rem;}
.mb20{margin-bottom:0.2rem;}
.mb30{margin-bottom:0.3rem;}
.mb50{margin-bottom:0.5rem;}
.ml20{margin-left:0.2rem;}
.ml30{margin-left:0.3rem;}
.ml10{margin-left:0.1rem;}
.ml80{margin-left: 0.80rem;}
.mr20{margin-right:0.2rem;}
.mlr10{margin-left:0.1rem;margin-right: 0.1rem;}
.mlr20{margin-left:0.2rem;margin-right: 0.2rem;}
.mlr30{margin-left:0.3rem;margin-right: 0.3rem;}

.pt10{padding-top: 0.1rem;}
.pt30{padding-top: 0.3rem;}
.pb30{padding-bottom: 0.3rem;}
.pl20{padding-left: 0.2rem;}
.pl30{padding-left: 0.3rem;}
.prh30{padding-right: 0.3rem;}

.pr{position: relative;}
.pa{position:absolute;}

/* 0.5 细线 */
.bd_t,
.bd_l,
.bd_b,
.bd_r,
.bd_tlbr{
    position: relative;
}

.bd_t:before,
.bd_l:before,
.bd_b:before,
.bd_r:before,
.bd_tlbr:before{
    content: '';
    position: absolute;
    width: 200%;
    height: 200%;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    left:0;
    top:0;
}

.bd_t:before{
    border-top: 1px solid #f2f2f2;
}
.bd_l:before{
    border-left: 1px solid #f2f2f2;
}
.bd_b:before{
    border-bottom: 1px solid #f2f2f2;
}
.bd_r:before{
    border-right: 1px solid #f2f2f2;
}
.bd_tlbr:before{
    border: 1px solid #f2f2f2;
}
/* 0.5 细线 end */

/* color */
.bg-ffffff{background-color:#ffffff;}
.bg-f1f0ec{
    background-color:#f1f0ec;
}
.col-808080{color:#808080;}
.col-red{color:#ff0000;}
.col-green{color:#19b200;}
.col-orange{color:#FEAB56;}
/* color end */

/* font-size */
@font-face {
    /* font-properties */
    font-family: helvetica;
    src:url('font/helvetica-light.otf');
}

.fs-100{font-size:1.00rem;}
.fs-100{font-size:0.80rem;}
.fs-30{font-size:0.30rem;}
.fs-24{font-size:0.24rem;}
/* font-size end*/

/*line-height*/
.lh53{line-height: 0.53rem;}
/*line-height end*/

/*display*/
.display-ib{display: inline-block;}

/*border*/
.bdt4-f1f0ec{border-top: 0.04rem solid #f1f0ec;}
.bdt1-f1f0ec{border-top: 0.01rem solid #f1f0ec;}
.bdb4-f1f0ec{border-bottom: 0.04rem solid #f1f0ec;}
.bdb20-f1f0ec{border-bottom: 0.2rem solid #f1f0ec;}
/* 主内容开始 */
.col-41403e{
    color:#41403e;
}
.col-999896{
    color:#999896;
}
.col-FB3838{
    color: #FB3838;
}
.green{
    font-size: 0.30rem;
    color: #19b200;
}
/* 题目右边实线 */
.col-E6E4E1{
    color: #E6E4E1;
}

html ,
body {
    height:100%;
}
html{font-size: 50px;}
body{
    font-size:0.36rem;
    color: #41403e;
    font-family: 'helvetica';
}

/*图标*/
.icon,.video .video-icon:after{background: url(../images/icon.png) 0 100rem no-repeat; background-size: 10rem 10rem;}
.correct{background-position-y:0; width: 0.54rem;height:0.39rem;display: inline-block;vertical-align: middle;}
.error{background-position-y:-0.68rem; width: 0.54rem;height:0.39rem;display: inline-block;vertical-align: middle;}
.partly-correct{background-position-y:-1.38rem; width: 0.54rem;height:0.39rem;display: inline-block;vertical-align: middle;}

/*图片*/
.img-box{overflow: hidden;max-width: 6.7rem;}
.img-box img{ max-width: 100%;width: auto;height: auto;display: block;}
.img1{width: 4.95rem;height: 2.76rem;}
.img2{width: 2.35rem;height: 1.3rem;vertical-align: top;}

/*option*/
.option{
    width: 0.56rem;
    height: 0.56rem;
    font-size: 0.24rem;
    border-radius: 100%;
    text-align: center;
    vertical-align: middle;
    background-color: #f1f0ec;
    color: #41403e;
    display: inline-block;
    line-height: 0.48rem;
    box-sizing: border-box;
    margin-right: 0.25rem;
}
.option-txt{max-width: 6rem; vertical-align: top; line-height: 0.5rem;}
.op-white{background-color: #fff;color: #999896;font-size: 0.3rem;border: 1px solid #999896;}
.op-red{background-color: #f00;color: #fff;font-size: 0.3rem;}
.op-green{background-color: #19b200;color: #fff;font-size: 0.3rem;}

/*ListenSpeek main*/
.wrap{margin: 0 auto;}
.word-wrap{word-wrap: break-word;word-break: normal;}
.word-break{word-break: break-all; overflow: hidden;}
.tit1{padding: 0.3rem 0.2rem;}
.tit2{line-height: 0.5rem;}
.audio audio{width: 5.2rem;/*height: 0.6rem;*/display: block;}
.video{width: 6.7rem; position: relative;z-index: 0;}
.video video{width: 100%;height: 100%;display: block;background-color: #000;}
.video .video-icon{background-color: #d2d2d2;width: 100%;height: 100%;z-index: 2; position: absolute; left: 0; top: 0;}
.video .video-icon:after{content:'';position: absolute;background-position-y:-5rem;background-position-x:0.1rem; background-size: 15rem 15rem; width: 1.3rem;height:1.3rem;left: 50%;top: 50%;margin: -0.65rem 0 0 -0.65rem;z-index: 3;}

.f-video_over{width: 100%; height: 100%; position: absolute; left: 0; top: 0; z-index: 9999; opacity: 0;}

.filling-txt{display: inline-block;padding: 0.01rem 0.3rem; border-bottom: 1px solid #000;}

/* 图片放大效果 */
.animate {-webkit-transition: all .3s;-moz-transition: all .3s;transition: all .3s; }
.imgDialog{position: absolute;left: 0;top: 0;width: 100%;height: 100%;display: none;z-index: 9999;}
.imgDialog>div{position: absolute;left: 0;top: 0;width: 100%;height: 100%;}
.imgDialogBg{position: fixed;left: 0;top: 0;width: 100%;height: 100%;background: rgba(65,64,62,1);z-index: 9999;}
.imgDialogImgelement{position: absolute;left: 0;top: 0;width: 100%;height: 100%;overflow: hidden;z-index: 9999;}
.imgDialogImgelement img{display: block; max-width: 100%;max-height: 100%;}
.dialogOverflow{overflow: hidden;}

/*音频组件*/
.audioBox{font-size: 0.24rem;line-height: 0.4rem;}
/*.audioBox audio{display: none;}*/
.audioBox .audioBtn{
    float: left;
    width: 0.4rem;
    height: 0.4rem;
    background: url(../js/audiojs/audio.png) -0.02rem 0.03rem no-repeat;
    background-size: 1rem 2rem;
}
.audioBox .playing{
    background: url(../js/audiojs/audio.png) 0 -0.60rem no-repeat;
    background-size: 1rem 2rem;
}
.audioBox .audio-loading{
    background: url(../images/loading.gif) 0 0.05rem no-repeat;
    background-size: 0.3rem 0.3rem;
}
.audioBox .taskBoxLinks {
    position: relative;
    float: left;
    width: 2.6rem;
    height: 0.14rem;
    margin: 0.13rem 0.2rem;
    background: #f1f0ec;
    border-radius: 0.07rem;
}
.audioBox .taskBoxLinks h3{
    border-radius: 0.07rem;
    position: absolute;
    top: 0;
    left: 0;
    height: 0.14rem;
    width: 0;
    background: #d9f6d4;
    z-index: 1;
}
.audioBox .taskBoxLinks i{
    background: url(../js/audiojs/audio.png) 0 -1.17rem no-repeat;
    background-size: 1rem 2rem;
    position: absolute;
    width: 0.36rem;
    height: 0.36rem;
    right: -0.19rem;
    top: -0.12rem;
}
.audioBox .timeBox {float: left;}
.audioBox .currentTime {
    color: #41403e;
    font-style: normal;
}
.audioBox .f-error_icon {
    display: inline-block;
    color: #ffffff;
    font-weight: bold;
    width: 0.36rem;
    height: 0.36rem;
    border-radius: 50%;
    background-color: #ff2a2a;
    text-align: center;
    font-family: Arial;
}
.audioBox .duration {
    font-weight: normal;
    color: #999896;
}


/*排行榜*/
.backgroundImg{
	position: relative;
	width: 100%;
	height: 4.36rem;
	background-image: url(../images/rank_background.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.firstRankImg{
	position: absolute;
	width: 1.2rem;
	height: 1.2rem;
	border-radius: 50%;
	top: 30%;
	left: calc( 50% - 0.6rem );
}
/*第一名*/
.firstStudent{
	width: 100%;
	height: 1.36rem;
	position: relative;
	margin-top: 0.3rem;
}
/*头像*/
.headImg{
	width: 0.9rem;
	height: 0.9rem;
	border-radius: 50%;
	vertical-align: middle;
}
.firstDetail{
	position: absolute;
    top: 0.2rem;
    left: 2.1rem;
}
.firstGrade{
	display: inline-block;
	position: absolute;
	right: 0.4rem;
	top: 0.2rem;
	font-size: 0.36rem;
}
.no_correct{
    border-bottom: 1px solid #f3245f;
}
.rankList li{
	width: 100%;
    margin-bottom: 0.3rem;
    position: relative;
    border-bottom: 1px solid #f1f0ec;
    padding-bottom: 0.3rem;
    margin: 0 0.3rem;
    margin-bottom: 0.3rem; 
}
.gradeR{
	position: absolute;
	right: 0.6rem;
	top: 0.2rem;
}
.user_name{
	position: absolute;
	top: 0.2rem;
	left: 1.8rem;
}
.no_rank{
    position: fixed;
    top: 40%;
    display: none;
    display: block;
    width: 100%;
    text-align: center;
}
.no_rank img{
    width: 2.88rem;
    height: 2.58rem;
}
.clear:after{
      content: ".";
      height: 0;
      visibility: hidden;
      display: block;
      clear: both;
}