/* 公共样式 */
/*字体超出隐藏*/
.fontHidden{
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
}
/* 完形填空 */
.grade_font{
	color: #8F8F8E;
	font-size: 0.3rem;
}
.down_line{
	display: inline-block;
	width: 1.2rem;
	height: 0.5rem;
	background-color: #E6E4E1;
	text-align: center;
	font-size: 0.25rem;
	border-bottom: 0.01rem solid #484745;
}
/*上下题目按钮*/
.btn{
    background-color: #E6E4E1;
    height: 1.2rem;
    border: 1px solid #E6E4E1;
    text-align: center;
}
.green_btn{
		width: 1.70rem;
		height: 0.60rem;
		background-color: #D1E7C9;
		border: 1px solid #78C969;
		color: #78C969;
		border-radius: 3rem;
		font-size: 0.24rem;
}
.flBtn{
	float: left;
	margin-top: 0.3rem;
	margin-left: 0.3rem;
}
.frBtn{
	float: right;
	margin-top: 0.3rem;
	margin-right: 0.3rem;
}
/*图片最大尺寸*/
.imgW{
		max-width: 100%;
}


/*查看详情*/
.tr_fill{
		display: inline-block;
    width: 1.6rem;
    height: 0.5rem;
    text-align: center;
    border: 1px solid #92DA89;
    color: #29B720;
		border-radius: 10%;
}
.fal_fill{
		display: inline-block;
		width: 1.6rem;
		height: 0.5rem;
		text-align: center;
		border: 1px solid #FFC0C0;
		color: #FF0E0D;
		border-radius: 10%;
}
/*下划线*/
.brbot{
	border-bottom: 0.04rem solid #EAE8E8;
}
/*导航栏*/
.banner{
	padding: 0.2rem 0.3rem;
	border-bottom: 1px solid #EAE8E8;
}
.banner .unitTitle{
		display: inline-block;
    text-align: center;
    width: 80%;
		overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 0.36rem;
}

/*模块名字*/
.moduleName .hand{
		width: 1.62rem;
		height: 2.31rem;
		margin-top: 90%;
		margin-left: 60%;
}
/*大题序号*/
.sortContent{
		position: relative;
    padding-bottom: .2rem;
}
.sortContent .serial_num{
		width: 15%;
    position: absolute;
    top: -0.15rem;
    padding-left: 0.2rem;
}
.sortContent .part_line{
		position: absolute;
    border-top: 0.04rem solid #EAE8E8;
    top: 0.1rem;
    right: 0.2rem;
    width: 80%;
}
/* 小题样式 */
.p_num{
		width: 96%;
    height: 1rem;
    border: 1px solid #E6E4E1;
}
/* 清除浮动 */
.clear:after{
    content: ".";
    visibility: hidden;
    height: 0;
    display: block;
    clear: both;
}
/* 交作业按钮 */
.sub_btn{
		width: 3rem;
		height: 0.7rem;
		background-color: #19B200;
		color: #fff;
		border-radius: 0.1rem;
		border: 1px solid #19B200;
}

/* 单选 */
.singleChoice{
		margin: 0 0.5rem;
}
.choAnw p{
		margin-bottom: 0.7rem;
	  font-size: 0.30rem;
}
.choAnw p span{
		vertical-align: middle;
}
.choAnw .choTit{
		display: inline-block;
    width: 80%;
    vertical-align: text-top;
}
/* 多选 */
.multipleChoice{
		margin: 0 0.5rem;
}
.choAnw p{
		margin-bottom: 0.7rem;
}
.multipleChoice .option{
		border-radius: 25%;
}


/* 判断 */
.judge{
		margin: 0 0.5rem;
}

.true_curr{
		background-image: url(../images/i_true_curr.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 0.56rem;
    height: 0.56rem;
    border-radius: 50%;
    display: inline-block;
    background-color: #19b200;
    margin-right: 0.3rem;
}
.true{
		background-image: url(../images/true.png);
		background-repeat: no-repeat;
		background-size: 100% 100%;
		width: 0.56rem;
		height: 0.56rem;
		border-radius: 50%;
		display: inline-block;
		background-color: #fff;
		margin-right: 0.3rem;
		border: 1px solid #A3A2A1;
}
.false_curr{
		background-image: url(../images/i_false_curr.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 0.56rem;
    height: 0.56rem;
    border-radius: 50%;
    display: inline-block;
    background-color: #12B111;
    margin-right: 0.3rem;
}
.false{
		background-image: url(../images/false.png);
		background-repeat: no-repeat;
		background-size: 100% 100%;
		width: 0.56rem;
		height: 0.56rem;
		border-radius: 50%;
		display: inline-block;
		border: 1px solid #A3A2A1;
		margin-right: 0.3rem;
}
/* 填空 */
.fill{
	margin: 0 0.5rem;
}
.lh53 .ques{
		width: 1.62rem;
    height: 0.52rem;
		font-size: 0.36rem
    line-height: 0.6rem;
    border: 1px solid #E0E0DE;
    display: inline-block;
    vertical-align: middle;
    border-radius: 10%;
    margin: 0 0.18rem;
		font-family: "ProximaNova";
}

/* 简答 */
.anw{
		width: 90%;
    border: 1px solid #E0E0DE;
		font-family: "ProximaNova";
    padding: 0.2rem;
    margin-top: 0.5rem;
    margin: 0 auto;
    margin-top: 0.5rem;
}
/*复合题*/
.problems{
	max-height: 6rem;
	overflow-y: scroll;
}
.brtb{
	border-top: 1px solid #EAE8E8;
	border-bottom: 1px solid #EAE8E8;
	padding: 0.3rem;
}
.brt{
	border-top: 1px solid #EAE8E8;
	padding: 0.3rem;
}
/* 完形填空 */
.fill_single{
	margin: 0 0.7rem;
	position: relative;
}

/* 复合多选 */
.fill_multiple{
	margin: 0 0.5rem;
}
.fill_multiple .option{
	border-radius: 25%;
}


/* 复合判断 */
.complex_judge{

}


/* 复合简答 */
.complex_composition .comAns{
	border: 1px solid #E6E4E1;
}


/* 答题卡 */

.card_ans .list{
		margin-top: 0.5rem;
}
.card_ans .list li{
	margin-bottom: 0.5rem;
}

.ans_noCheck{
		background-color: #fff;
		color: #8F8F8E;
		float: left;
		width: 1rem;
		height: 1rem;
		line-height: 1rem;
		border-radius: 50%;
		text-align: center;
		margin-right: 0.30rem;
		border: 1px solid #E8E7E6;
}
.ans_check{
		color: #3DBD29;
		border: 1px solid #8AD87E;
}
.submitBox{
		text-align: center;
		width: 100%;
		height: 2rem;
		line-height: 2rem;
		background-color: #F1F0EC;
		position: fixed;
		bottom: 0rem;
}


/* 老师点评 */
.anwContent .estimate{
	width: 96%;
	height: 1rem;
	background-color: #F1F0EC;
	padding-left: 0.3rem;
	padding-top: 0.2rem;
	margin-bottom: 0.6rem;
}

/*排行榜*/
.backgroundImg{
		position: relative;
		width: 100%;
		height: 4.36rem;
		background-image: url(../images/rank_background.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.firstRankImg{
	position: absolute;
	width: 1.2rem;
	height: 1.2rem;
	border-radius: 50%;
	vertical-align: middle;
	top: 30%;
	left: 42%;
}
/*第一名*/
.firstStudent{
		width: 100%;
		height: 1.36rem;
		position: relative;
		margin-top: 0.3rem;
}
/*头像*/
.headImg{
		width: 0.9rem;
		height: 0.9rem;
		border-radius: 50%;
		vertical-align: middle;
}
.firstDetail{
		position: absolute;
    top: 0.2rem;
    left: 2.1rem;
}
.firstGrade{
		display: inline-block;
		position: absolute;
		right: 0.4rem;
		top: 0.2rem;
		font-size: 0.36rem;
}
.no_correct{
		text-decoration: underline;
		text-decoration-color: #f3245f;
}

.rankList li{
		margin-bottom: 0.6rem;
		position: relative;
}
.gradeR{
		position: absolute;
		right: 0rem;
		top: 0.2rem;
}
.user_name{
		position: absolute;
		top: 0.2rem;
		left: 1.8rem;
}

/*点评*/
.detail{
		width: 100%;
		height: 1.82rem;
		background-color: #f1f0ec;
}
.markImg{
		width: 1.2rem;
		height: 1.2rem;
		line-height: 1.2rem;
		border-radius: 50%;
		padding-left: 0.3rem;
		padding-top: 0.3rem
}
.detail .firstGrade{
		right: 0.3rem;
		top: 0.60rem;
}
