.header_tip{
  font-size: 13px;
  color: #ABB1BA;
  padding: 12px;
  padding-bottom: 0;
}

.group_list{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 12px;
  padding: 12px 0;
  border-bottom: 1px solid #ededf1;
  .group_list_left{
    display: flex;
    align-items: center;
    position: relative;
    >image{
      position: absolute;
      top: 10px;
      left: -5px;
    }
    .group_peo_info{
      display: flex;
      align-items: center;
      margin-left: 20px;
      >image{
        width: 44px;
        height: 44px;
      }
      .people_message{
        margin-left: 6px;
        .name_sex{
          display: flex;
          align-items: center;
          font-size: 17px;
          color: #484848;
          >image{
            width: 14px;
            height: 14px;
          }
        }
        .car_code{
          font-size: 11px;
          color: #ABB1BA;
        }
      }
    }
  }
  .is_attention{
    >view{
      padding: 3px 8px;
      border-radius: 12px;
      font-size: 12px;
      text-align: center;
    }
    .no_attention{
      background: linear-gradient(to right, #FF4EA1, #FF7E61);
      color: #ffffff;
    }
    .attention{
      background: #F2F2F5;
      color: #ABB1BA;
    }
  }
}

.group_list:last-child{
  border: none;
}
