<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <remove name="LocalSqlServer" />
    <add name="LocalSqlServer" connectionString="server=.;database=weixindb;uid=sa;pwd=123" providerName="System.Data.SqlClient" />
    <add name="weixindbConnectionString" connectionString="Data Source=.;Initial Catalog=weixindb;User ID=sa;Password=123" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ConStringEncrypt" value="false" />
    <add key="ConnectionString" value="server=.;database=weixindb;uid=sa;pwd=123" />
    <add key="BgDbConnectionString" value="server=.;database=weixinbgdb;uid=sa;pwd=123" />
    <add key="DefaultEmail" value="2548003318@qq.com" />
    <add key="DAL" value="SfSoft.SQLServerDAL" />
    <add key="VirtualPath" value="" />
    <add key="WebURL" value="" />
    <add key="MenuExpanded" value="false" />
    <add key="LogInFile" value="false" />
    <add key="LogInDB" value="true" />
    <add key="LogLastDays" value="1" />
    <add key="UpNewsImageFolder" value="ImgNewsup" />
    <add key="ProductImageFolder" value="ProductImages" />
    <add key="AdManager" value="管理部" />
    <add key="ModelCache" value="30" />
    <add key="StartTimerMsn" value="1" />
    <add key="timerMsn" value="6000" />
    <add key="StartTimerSms" value="1" />
    <add key="timerSms" value="223000" />
    <add key="StartTimerBo" value="1" />
    <add key="MaxMsgNum" value="5" />
    <add key="timerBo" value="225000" />
    <add key="StartError" value="0" />
    <add key="StartComputerCheck" value="0" />
    <add key="NavMenu" value="tree" />
    <add key="CrystalImageCleaner-AutoStart" value="true" />
    <add key="CrystalImageCleaner-Sleep" value="60000" />
    <add key="CrystalImageCleaner-Age" value="120000" />
    <add key="FCKeditor:BasePath" value="~/fckeditor/" />
    <add key="FCKeditor:UserFilesPath" value="/Files/" />
    <add key="License:FilesPath" value="/Configuration/" />
    <add key="License:ExtName" value="slf" />
    <add key="IsAnonymity" value="N" />
    <add key="IsKf" value="0" />
    <add key="GD_UNITS" value="4;40;" />
    <add key="SQLInject" value="or |and |exec |insert |select |delete |update |count | chr |mid |master |truncate |char |declare |cmd " />
    <add key="SQLInjectErrPage" value="/emc/error.aspx" />
    <add key="AppID" value="wx7c4f6fbaeb32bbea" />
    <add key="AppSecret" value="19e9a3a801bb4ad8eedfa942e9a02007" />
    <add key="AgentAppID" value="wx7c4f6fbaeb32bbea" />
    <add key="AgentAppSecret" value="19e9a3a801bb4ad8eedfa942e9a02007" />
    <add key="GxAppID" value="wx7c4f6fbaeb32bbea" />
    <add key="GxAppSecret" value="19e9a3a801bb4ad8eedfa942e9a02007" />
    <add key="EncrtptKey" value="shenerxm" />
    <add key="debug" value="true"></add>
    <add key="WeiXinID" value="gh_e43b71a4827b" />
    <!--默认的微信ID-->
    <add key="AccessTokenServer" value="http://192.168.105.216:8085/api/" />
    <add key="AuthURL" value="http://161s5g6007.51mypc.cn/" />
    <add key="ServerIp" value="123.207.235.221"></add>
    <add key="Token" value="weixin" />
    <add key="TenPayV3_MchId" value="1229673702"></add>
    <add key="TenPayV3Password" value="ygelwgjty32whpbtwfykwcqytflwgjty"></add>
    <add key="UploadFilesPath" value="/Files/" />
    <add key="ZXSRedirectBaseInfoUrl" value="http://161s5g6007.51mypc.cn/app/appstart/zxs/baseinfo.ashx" />
    <add key="ZXSRedirectUserInfoUrl" value="http://161s5g6007.51mypc.cn/app/appstart/zxs/userinfo.ashx" />
    <add key="ImageDomainName" value="http://192.168.105.216:2020/zxs/images/" />
    <add key="VoiceDomainName" value="http://192.168.105.216:2020/zxs/voices/" />
    <add key="VoiceDomainNameMp3" value="http://192.168.105.216:2020/zxs/voices/mp3/" />
    <add key="ReadRedirectBaseInfoUrl" value="http://161s5g6007.51mypc.cn/app/appstart/read/baseinfo.ashx" />
    <add key="ReadRedirectUserInfoUrl" value="http://161s5g6007.51mypc.cn/app/appstart/read/userinfo.ashx" />
    <add key="ReadImageDomainName" value="http://192.168.105.216:2020/read/images/" />
    <add key="ReadVoiceDomainName" value="http://192.168.105.216:2020/read/voices/" />
    <add key="ReadVoiceDomainNameMp3" value="http://192.168.105.216:2020/read/voices/mp3/" />
    <add key="YueduRedirectBaseInfoUrl" value="http://161s5g6007.51mypc.cn/app/appstart/yuedu/baseinfo.ashx" />
    <add key="YueduRedirectUserInfoUrl" value="http://161s5g6007.51mypc.cn/app/appstart/yuedu/userinfo.ashx" />
    <add key="YueduImageDomainName" value="http://192.168.105.216:2020/yuedu/images/" />
    <add key="YueduVoiceDomainName" value="http://192.168.105.216:2020/yuedu/voices/" />
    <add key="YueduVoiceDomainNameMp3" value="http://192.168.105.216:2020/yuedu/voices/mp3/" />
    <add key="QuestionAnsweringRedirectBaseInfoUrl" value="http://161s5g6007.51mypc.cn/app/appstart/qa/baseinfo.ashx" />
    <add key="QuestionAnsweringRedirectUserInfoUrl" value="http://161s5g6007.51mypc.cn/app/appstart/qa/userinfo.ashx" />
    <add key="QuestionAnsweringImageDomainName" value="http://192.168.105.216:2020/qa/images/" />
    <add key="QuestionAnsweringVoiceDomainName" value="http://192.168.105.216:2020/qa/voices/" />
    <add key="QuestionAnsweringVoiceDomainNameMp3" value="http://192.168.105.216:2020/qa/voices/mp3/" />
    <add key="ParentsRedirectBaseInfoUrl" value="http://161s5g6007.51mypc.cn/app/appstart/parents/baseinfo.ashx" />
    <add key="ParentsRedirectUserInfoUrl" value="http://161s5g6007.51mypc.cn/app/appstart/parents/userinfo.ashx" />
    <add key="CourseRedirectBaseInfoUrl" value="http://161s5g6007.51mypc.cn/app/appstart/coursev2/baseinfo.ashx" />
    <add key="CourseRedirectUserInfoUrl" value="http://161s5g6007.51mypc.cn/app/appstart/coursev2/userinfo.ashx" />
    <add key="GCourseRedirectBaseInfoUrl" value="http://161s5g6007.51mypc.cn/app/appstart/gcourse/baseinfo.ashx" />
    <add key="GCourseRedirectUserInfoUrl" value="http://161s5g6007.51mypc.cn/app/appstart/gcourse/userinfo.ashx" />
    <add key="AudioRedirectBaseInfoUrl" value="http://161s5g6007.51mypc.cn/app/appstart/audio/baseinfo.ashx" />
    <add key="AudioRedirectUserInfoUrl" value="http://161s5g6007.51mypc.cn/app/appstart/audio/userinfo.ashx" />
    <add key="ServerUrl" value="http://161s5g6007.51mypc.cn/"></add>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="GxlmAppId" value="wx7c4f6fbaeb32bbea" />
    <add key="GxlmAppSecret" value="19e9a3a801bb4ad8eedfa942e9a02007" />
    <add key="GxlmRedirectUrl" value="http://161s5g6007.51mypc.cn" />
    
  </appSettings>
  <system.web>
    <httpHandlers>
      <add verb="*" path="ajaxpro/*.ashx" type="AjaxPro.AjaxHandlerFactory,AjaxPro" />
    </httpHandlers>
    <pages theme="default" controlRenderingCompatibilityVersion="4.5" clientIDMode="AutoID">
      <!--自定义控件 Start-->
      <controls>
        <add namespace="FrameWork.WebControls" assembly="FrameWork" tagPrefix="cc1" />
        <add namespace="YYControls" assembly="YYControls" tagPrefix="asp" />
        <add namespace="Telerik.WebControls" assembly="RadComboBox.Net2" tagPrefix="asp" />
        <add namespace="GotAspx.WebControls.Calendar" assembly="GotAspxCalendar" tagPrefix="asp" />
        <add namespace="FredCK.FCKeditorV2" assembly="FredCK.FCKeditorV2" tagPrefix="FCKeditorV2" />
        <add tagPrefix="ajaxToolkit" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" />
        <add namespace="Wuqi.Webdiyer" assembly="AspNetPager" tagPrefix="asp" />
      </controls>
      <!--自定义控件 End10.5.3700.0,-->
    </pages>
    <httpModules>
      <add name="SqlHttpModule" type="SfSoft.Common.SqlHttpModule,SfSoft.Common" />
    </httpModules>
    <authentication mode="Forms">
      <forms loginUrl="login.aspx" name="emcCookie" protection="All" timeout="30" slidingExpiration="true" requireSSL="false" cookieless="UseCookies" enableCrossAppRedirects="false" defaultUrl="emc/default.aspx" />
    </authentication>
    <membership defaultProvider="SqlProvider" userIsOnlineTimeWindow="20">
      <providers>
        <add name="SqlProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="LocalSqlServer" requiresQuestionAndAnswer="false" minRequiredNonalphanumericCharacters="0" minRequiredPasswordLength="6" />
      </providers>
    </membership>
    <roleManager enabled="true" cacheRolesInCookie="true">
      <providers>
        <remove name="AspNetSqlRoleProvider" />
        <add name="AspNetSqlRoleProvider" connectionStringName="LocalSqlServer" applicationName="/" type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" description="存储Role数据" />
      </providers>
    </roleManager>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="zh-CN" uiCulture="zh-CN" />
    <compilation debug="true" targetFramework="4.5.2"></compilation>
    <!--
      <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
       
      <customErrors mode="On" defaultRedirect="/emc/error.aspx">
        <error statusCode="403" redirect="/emc/error.aspx"/>
        <error statusCode="404" redirect="/emc/error.aspx"/>
      </customErrors>
    -->
    <customErrors mode="Off" defaultRedirect="/emc/error.aspx" />
    <sessionState mode="InProc" cookieless="false" timeout="20" />
    <httpRuntime targetFramework="4.5.2" executionTimeout="90" maxRequestLength="40960" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100" />
  </system.web>
  <system.net>
    <mailSettings>
      <smtp from="popo">
        <network host="" password="111111" userName="" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <defaultDocument>
      <files>
        <clear />
        <add value="login.aspx" />
        <add value="default.aspx" />
        <add value="Default.htm" />
        <add value="Default.asp" />
        <add value="index.htm" />
        <add value="index.html" />
        <add value="iisstart.htm" />
      </files>
    </defaultDocument>
    
    <httpProtocol>
      <customHeaders>
        
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type, Content-Length, Authorization, Accept, X-Requested-With , yourHeaderFeild" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
        
      </customHeaders>
    </httpProtocol>
    
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="json" path="*.json" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\System32\inetsrv\asp.dll" resourceType="Unspecified" preCondition="bitness64" />
    </handlers>
    <staticContent>
      <!--<mimeMap fileExtension=".json" mimeType="text/json" />-->
    </staticContent>
    
    <!--
    <rewrite>
      <rules>
        <rule name="AngularJSs" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="./" />
        </rule>
      </rules>
    </rewrite>
    -->
  
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>