<div class="weui-tabbar" ng-controller="tabbarController">
    <a se-tabbar-active href="#task" class="weui-tabbar__item weui-bar__item_on">
        <span style="display: inline-block;position: relative;">
            <img  src="./imgs/qa/task.png" alt="" class="weui-tabbar__icon">
        </span>
        <p class="weui-tabbar__label">任务</p>
    </a>
    <a se-tabbar-active href="#habitnews" class="weui-tabbar__item">
        <span style="display: inline-block;position: relative;">
            <img src="./imgs/read/home2.png" alt="" class="weui-tabbar__icon">
        </span>
        <p class="weui-tabbar__label">动态</p>
    </a>
    <a se-tabbar-active href="#my" class="weui-tabbar__item">
        <img src="./imgs/qa/user2.png" alt="" class="weui-tabbar__icon">
        <p class="weui-tabbar__label">我</p>
    </a>
</div>