<div  ng-controller="articleReleaseController">
    <div class="weui_cells weui_cells_access weui_cells_noborder seheader">
        <div class="weui_cell" >
            <a class="weui_cell_rt" href="#home">返回</a>
            <div class="weui_cell_bd weui_cell_primary">
                <p style="text-align: center">{{articleInfo.caption}}</small></p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <article ng-bind-html="articleInfo.detail|trustAsHtml"></article>
            </div>
        </div>
    </div>
</div>