<div class="page" ng-controller="payController">
    <div class="page__bd">
        <div class="weui-cells" ng-click="openAddress()">
            <div class="weui-cell weui-cell_access" id="address-area">
                <div class="weui-cell__hd"><span class="fa fa-map-marker "></span></div>
                <div class="weui-cell__bd">
                    <h4 style="padding-left:15px;" >收货人：<span id="wxconsignee">{{address.userName+'  '+address.telNumber}}</span> </h4>
                    <p class="weui-cells__title" >收货地址：<span id="wxaddress">{{address.provinceName+address.cityName+address.detailInfo}}</span></p>
                </div>
                <div class="weui-cell__ft"></div>
            </div>
        </div>
        <div class="weui-form-preview">
            <div class="weui-form-preview__hd">
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">付款金额</label>
                    <em class="weui-form-preview__value">{{productInfo.info.price|currency:'￥'}}</em>
                </div>
            </div>
            <div class="weui-form-preview__bd">
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">商品</label>
                    <span class="weui-form-preview__value">{{productInfo.info.productName}}</span>
                </div>
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">数量</label>
                    <span class="weui-form-preview__value">1</span>
                </div>
            </div>
            <div class="weui-form-preview__ft">
                <a ng-click="pay()" ng-class="{true:"weui-btn_disabled weui-btn_loading",false:""}[paing]" class="weui-form-preview__btn weui-form-preview__btn_primary" href="javascript:">支付</a>
                {{paing}}
            </div>
        </div>
    </div>
</div>

