@import 'style/weui';

page {
    background-color: #FFFFFF;
    font-size: 16px;
    color: #333;
    font-family: -apple-system-font,Helvetica Neue,Helvetica,sans-serif;
}

image{
  width: 20px;
  height: 20px;
  display: block;
}

.show{
    display: block;
}

.hidden{
    display: none;
}
