body{
    font: 12px/1.5 'Helvetica Neue', 'Helvetica', 'Arial', '\5FAE\8F6F\96C5\9ED1', 'Microsoft YaHei', 'Tahoma', 'Hiragino sans gb', 'SimSun', 'Sans-serif';
}
.weui_cells_access .weui_cell_rt::before {
    content: " ";
    display: inline-block;
    transform: rotate(225deg);
    height: 12px;
    width: 12px;
    border-width: 2px 2px 0px 0px;
    border-color: #C8C8CD;
    border-style: solid;
    position: relative;
    top: -1px;
    margin-left: 0.3em;
}
.weui_cells_access .weui_cell_ft_no::after {
    display: inline-block;
    transform: rotate(225deg);
    height: 12px;
    width: 12px;
    border-width: 2px 2px 0px 0px;
    border-color: #C8C8CD;
    border-style: solid;
    position: relative;
    top: -1px;
    margin-left: 0.3em;
}
.weui_cells_access .weui_cell_ft::after {

    height: 12px;
    width: 12px;
}
.weui_cells_noborder::before {
    top: 0px;
    border-top: 0px solid #D9D9D9;
    transform-origin: 0px 0px 0px;
    transform: scaleY(0.5);
}
.sebtn-success[disabled]{
    background-color: #04BE02;border-color: #04BE02
}
.selink-active{
    border-bottom:1px solid #10AEFF;
    color:#ff3600;
}
.selink{
    border-bottom: none;
}
.seheader{
    /*background: url(../imgs/headerbg.png) repeat-x;*/
    margin-top: 0;
    color: #000;
    height: 50px;
    line-height: 50px;
    background-size: contain;
}
.seheader a{
    color:#000;
}
.sefooter{
    /*background: url(../imgs/headerbg.png) repeat-x;*/
    margin-top: 0;
    color: #000;
    height: 50px;
    line-height: 50px;
    background-size: contain;
}.sebtn{
     background: url(../imgs/buttonbg.png) repeat-x;
     color: #fff;
     background-size: contain;
 }


 .se_success{

 }
 .se_success::before{
     color: #f00;
 }

.se_primary{
    background-color: #f00;
}
.se_primary:before{
    color: #f00;
}
.se_required{
    color:#f00;
    font-size:11px;
}
.se_slecting{
    color:#aaa;
    font-size:11px;
}
.se_panel_hd{}
.se_panel_hd::after{
    border-bottom:none;
}
.vertical-horizontal-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.vertical-center{
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}
a{
    text-decoration:none;
}
a:hover{text-decoration: none;}

.se_padding0_margin0{
    padding: 0;
    margin: 0;
}

section.ng-video-container {
    width: 550px;
    height: 310px;
    margin: 40px auto auto auto;
}

section.video {
    text-align: left;
    padding: 5px;
    position: relative;
    background-color: white;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, .25);
    border: 1px solid lightgray;
}

section.video section.loading {
    position: absolute;
    top: 39px;
    left: 5px;
    width: 538px;
    height: 260px;
    color: white;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .25);
    font-size: 12px;
    pointer-events: all;
    z-index: 201;
    padding: 13px 0 0 40px;
    background-color: rgba(0, 0, 0, .25);
}

section.video video {
    background-color: rgba(0, 0, 0, .25);
    width: 100%;
    height: 100%;
    object-fit: fill;
}

section.video section.controls {
    position: absolute;
    top: 15px;
    right: 25px;
    width: 48px;
    z-index: 5;
    text-align: center;
    color: white;
}

section.video section.controls span {
    margin: 0;
    padding: 0;
    cursor: pointer;
    line-height: 48px;
    padding-left: 2px;
    width: 48px;
    height: 48px;
    font-size: 20px;
    transition: background-color .35s;
    border-radius: 3px;
    margin-bottom: 10px;
}

section.video section.controls span:hover {
    background-color: rgba(255, 255, 255, .25);
}

section.video section.volume {
    position: absolute;
    top: 145px;
    right: 25px;
    width: 48px;
}

section.video section.volume div.scale {
    background-color: rgba(0, 0, 0, .15);
    width: 48px;
    height: 5px;
    position: relative;
}

section.video section.volume div.scale div.bar {
    background-color: rgba(255, 255, 255, .75);
    position: absolute;
    top: 0;
    left: 0;
    height: 5px;
    width: 50%;
    transition: width .25s;
}

section.video section.volume span {
    color: rgba(0, 0, 0, .25);
    font-size: 15px;
    pointer-events: all;
    cursor: pointer;
    margin-top: 10px;
}

section.video section.volume span.increase {
    float: right;
}

section.video section.feedback {
    top: 0;
    left: 0;
    position: absolute;
    pointer-events: none;
    z-index: 4;
    width: 100%;
    height: 100%;
}

section.video section.feedback span.buffering {
    color: white;
    font-size: 12px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 18px 0 0 45px;
}

section.video section.generic {
    position: absolute;
    bottom: 11px;
    right: 10px;
    z-index: 90;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 10px;
    color: rgba(255, 255, 255, .5);
}

section.video section.generic a {
    text-transform: none;
    color: rgba(255, 255, 255, .75);
    pointer-events: all;
}

section.video section.generic a:hover {
    text-decoration: none;
}

section.video section.timeline {
    position: absolute;
    width: 485px;
    width: calc(100% - 60px);
    left: 30px;
    bottom: 32px;
}

section.video section.timeline input {
    width: 100%;
    pointer-events: all;
    appearance: none;
    -o-appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: transparent;
    outline: none;
    height: 12px;
    border-bottom: 3px solid rgba(0, 0, 0, .25);
}

section.video section.timeline input::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: white;
    margin-bottom: 20px;
    border-radius: 2px;
    outline: none;
    height: 15px;
    width: 45px;
}

section.video section.timeline input::-moz-range-thumb {
    -webkit-appearance: none;
    background-color: white;
    margin-bottom: 20px;
    border-radius: 2px;
    outline: none;
    height: 15px;
    width: 45px;
}

section.video section.duration {
    background-color: rgba(0, 0, 0, .15);
    color: rgba(255, 255, 255, .5);
    padding: 2px 5px;
    border-radius: 3px 0 0 3px;
    position: absolute;
    font-size: 11px;
    bottom: 62px;
    right: 83px;
}

section.video section.title {
    background-color: #dd4b39;
    font-size: 11px;
    position: absolute;
    color: white;
    opacity: .8;
    padding: 2px 5px;
    border-radius: 0 3px 3px 0;
    bottom: 62px;
    right: 33px;
}

section.video section.playlist {
    height: 297px;
    position: absolute;
    width: 200px;
    top: 5px;
    left: 5px;
    background-color: rgba(0, 0, 0, .35);
}

section.video section.playlist ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

section.video section.playlist ul li {
    height: 32px;
    line-height: 32px;
    cursor: pointer;
    position: relative;
    padding: 0 12px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .25);
    color: white;
    font-size: 12px;
}

section.video section.playlist ul li span.meta {
    margin-right: 8px;
    padding: 1px 5px;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, .25);
}

section.video section.playlist ul li.title {
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, .25);
}

section.video section.playlist ul li:not(.title):hover {
    background: rgba(0, 0, 0, .25);
}

section.video section.playlist ul li.title div.close-playlist {
    position: absolute;
    top: -1px;
    font-size: 20px;
    right: 0;
    cursor: pointer;
    width: 35px;
    text-align: center;
    color: white;
}

section.video span.open-playlist {
    color: white;
    position: absolute;
    cursor: pointer;
    top: 5px;
    left: 5px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
}

section.video section.buffer {
    position: absolute;
    width: 485px;
    width: calc(100% - 60px);
    left: 30px;
    bottom: 30px;
    background-color: rgba(255, 255, 255, .5);
    height: 1px;
}

section.video section.buffer canvas {
    margin: 0;
    position: absolute;
    width: 100%;
    top: 0;
}

section.video section.full-screen {
    position: absolute;
    top: 40px;
    left: 6px;
    cursor: pointer;
    padding: 10px;
    color: white;
}
section.ng-video-container {
    width: 100%;
    height: 310px;
    margin: 40px auto auto auto;
}


.seline{}
.seline::before{
    border:none;
}
.seline::after{
    border:none;
}
.sedanger{
    color:#d9534f;
}
.sesuccess{
    color:#80C6B4;
}
.setitle{
    padding-right:5px;
}
.se_answer{
    margin-bottom:20px!important;
    background:#fff;
    padding-left:8px!important;
    padding-right:8px!important;
    overflow:hidden;
}
.se_circle{

}
.se_circle::before{
    width:60px!important;
    height: 60px!important;
}
.se_play{
    width:60px;
    height: 60px;
    display:block;
    background: url(../imgs/se_play.png);
    background-size: contain;
}
.se_pause{
    width:60px;
    height: 60px;
    display:block;
    background: url(../imgs/se_pause.png);
    background-size: contain;
}
.form-error{
    color:red;
}

