.wrap{
    margin:20px;
}
.emailBox{

    max-width: 750px;
    margin: 0 auto;
    padding: 0 20px;
    background-color: #F0F5FA;
    font-family: SFUIText-Regular;
}
.emailBox .logo {
    width: 105px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.emailBox .welcome {
    padding-bottom: 10px;
    font-size: 28px;
    color: #474747;
}
.emailBox .goTo {
    padding-bottom: 30px;
    font-size: 14px;
    color: #474747;
    letter-spacing: 0;
    line-height: 20px;
}

.emailBox .imgs{
    text-align: center;
}
.emailBox .imgs img{
    width:30px;
}
.emailBox .imgs .aboutImg{
    margin-right: 40px;
}
.emailBox .aboutFrom {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 11px;
    color: #A3A3A3;
    letter-spacing: 0;
}
.emailBox .introduce {
    border-top: 1px solid #D1D1D1;
    padding-top: 10px;
    padding-bottom: 30px;
    font-size: 11px;
    color: #A3A3A3;
    letter-spacing: 0;
}

.passwordBox .thank{
    font-size: 11px;
    color: #A3A3A3;
    letter-spacing: 0;
    padding-bottom:60px;
    padding-top:20px;
}
.contentBox{
    background: #E1EBF5;
    padding:30px 20px;
}
.contentBox .content{
    font-size: 14px;
    color: #474747;
    letter-spacing: 0;
    padding-bottom:20px;
}
.contentBox .contentImg img{
    margin-right:10px;
    height:70px;
}
